[2017-07-31 07:27] govint commented on #1649
@ashahi1, thanks for the repro, this workflow is simply not handled in the plugin. When the revert is done, the VM goes back to a state in time (guess the snap isn't including memory either) for on-disk data. So, the VM will resume from the snapshot and docker won't even find any meta-data for the container - not even the even image if docker pulled the image after SS_2 was made.

Couple of ways t

[2017-07-31 11:01] govint commented on #1649
@ashahi1 I tried the below tests,

Test1 - Run the container after taking the snaps

1. Make two snaps of a VM
vim-cmd vmsvc/snapshot.get 1
Get Snapshot:
|-ROOT
--Snapshot Name        : master-1
--Snapshot Id        : 13
--Snapshot Desciption  :
--Snapshot Created On  : 7/31/2017 10:23:29
--Snapshot State       : powered off
--|-CHILD
----Snapshot Name        : master-2
----Snapshot Id        : 14

[2017-07-31 11:33] govint commented on #1649
From the above update there are two issues:

1. Issue 1 - When a snapshot revert operation removes a VDVS volume from the VM config, the VMDK KV file has the still marked as attached. This is _not an issue_, as the next attach will anyway _override_ the state in the KV and will allow the volume to be attached to the next requestor.

2. Issue 2 - When a container is running and a snap is taken and

[2017-07-31 13:54] ashahi1 commented on #1651
@lipingxue I tried from VC but I am not able to create VM on a datastore which is in maintenance mode. Datastore maintenance mode is a VC feature.
Also, there is no event generated in hostd logs when datastore is put in maintenance mode. So it looks like ESX side is unaware of datastore maintenance mode.

Dockvols folder on datatore which is in maintenance mode, does show created vmdk.

[2017-07-31 14:02] ashahi1 commented on #270
Bugs Filed:
#1651
#1618
#1638
#1649

[2017-07-31 14:37] ashahi1 commented on #636
Steps performed:
1. Create a volume named - Volume11
[code]
2. Docker volume ls and docker volume inspect
[code]
3. Ran a container with volume mounted and wrote data to it.
[code]
4. While container is running, took snapshot of the vm.
5. After snapshot finished successfully, to see if the volume is part of the snapshot, checked the dockvols folder where the volume is located and see if there is

[2017-07-31 16:13] venilnoronha opened #1664 "Document Windows plugin"
- [x] Installation:
A Windows plugin installation script has been added via PRs #1642, #1650 and #1654. We should also elaborate plugin installation instructions in the `README.md`, along with a few examples.
- [x] Known differences with vDVS on Linux:
a. Names
- [x] FAQs

/cc @shaominchen

[2017-07-31 16:15] msterin commented on #636
@ashahi1 - So what's the conclusion ?

[2017-07-31 18:54] lipingxue commented on #1651
@ashahi1 Since esx is not aware of datastore in maintenance mode, and still can create vmdk on the datastore, no fix can be done. We should document it as known issue.

[2017-07-31 22:50] lipingxue commented on #1315
This has been fixed through docker/cli#306, and will be available on docker 17.08.0.

[2017-07-31 22:55] pdhamdhere commented on #1315
@lipingxue We need to add test when Docker 17.08.0 is available. Do you want to file a new issue or reopen this for tracking purpose?

[2017-07-31 23:09] lipingxue opened #1666 "Add test to verify docker compose file can specify volume with format "vol@datastore"."
This has bee fixed through docker/cli#306, and will be available on docker 17.08.0.
Need to add test to verify this after docker 17.08.0 is available.

[2017-07-31 23:10] lipingxue commented on #1315
#1666 is filed to track add test for this.

[2017-08-01 00:17] ashahi1 commented on #636
@msterin Idea was to verify if persistent volume is part of the snaphot of the vm. After snapshot finished successfully, we have a delta disk for the volume in the dockvols folder, so we can conclude that volume is part of the vm snapshot.

[2017-08-01 00:18] ashahi1 commented on #636
Closing this issue.

[2017-08-01 00:18] #636 closed

[2017-08-01 15:24] tusharnt commented on #1593
No customer impact so I am pushing this past VMworld milestone.

[2017-08-01 16:15] venilnoronha opened #1671 "Enhance Windows plugin installation script"
The following enhancements are proposed for the Windows plugin installation script.

1. Keep consistent naming (vSphere Docker Volume Service / vdvs).
2. Keep stdout messages lean (E.g. Don't echo `Get-Service` output).
3. If the Docker service isn't installed / started, then prompt the user with an action. Additionally, we can add `docker` as a dependency to our Windows service. See [this](https:

[2017-08-01 16:44] #1618 closed

[2017-08-01 17:14] shaominchen commented on #1083
It's hard to give an estimation for this task without figuring out the root causes of all major performance bottlenecks. I guess we will probably spend at least 2 weeks on this performance improvement.

[2017-08-01 18:49] shivanshu21 opened #1673 "Spelling mistake in error message in vsphere plugin"
Please put space between "an" and "integer".

root@ubuntu16B ~: docker volume create --driver vsphere vol88 -o size=10l
Error response from daemon: create vol88: VolumeDriver.Create: Invalid format for size.
Valid sizes must be of form X[mMgGtT]b where X is aninteger. Default = 100mb

[2017-08-01 18:49] ashahi1 opened #1674 "There are no instructions as to how to run upgrade tests"
Instructions should be added to contributing.md for running upgrade tests as there are no instructions as to how to run upgrade tests.

Following PR was merged for running upgrade tests
[code]

[2017-08-01 20:17] ashahi1 opened #1675 "Volume stays attached if the ESX of the vm goes down and vsphere HA moves vm to different ESX"
Test Steps:
[code]

Logs have been attached at the end.

-------------------------------------------

Steps and their output are as follows:

1. Created a volume.
[code]
2. Turned on vSphere HA.

3. Ran the container with volume mounted and then wrote the data to it.
[code]
4. Admin cli volume ls also shows volume as attached.
[code]
5. Now while the container is running, shut-down the esx.

6. vS

[2017-08-01 20:20] ashahi1 commented on #1675
Assigning to Govindan as fix for this issue could be similar to https://github.com/vmware/docker-volume-vsphere/issues/1649#issuecomment-319042296

@govint Please un-assign if you think otherwise.

[2017-08-01 21:01] #1441 closed

[2017-08-02 03:49] shuklanirdesh82 opened #1676 "golint error for one of the method in etcdops.go"
#1661 introduces following, `make build` is also complaining about the same.

[code]

/CC @tusharnt

[2017-08-02 04:06] luomiao commented on #1676
oops. thanks for catching this.
It's strange that I didn't see this error in either local or CI testing...
Is it a warning or error?

[2017-08-02 04:15] luomiao commented on #1676
I found the CI testing of this PR:
https://ci.vmware.run/vmware/docker-volume-vsphere/1384

CI returns success while in the beginning it gave this warning:
[code]

Is it possible to fail CI if there is a warning?

And regarding to this warning, it will be gone when we finish the refactoring of the shared plugin.

[2017-08-02 04:34] govint commented on #1043
These are nice to have but I'm not sure we want to get this in the next sprint. At best, these aren't bugs and I'd suggest fixing if user complains.

For ls output, the user has the option of limiting the columns which they can script or use at the command line anytime.

[2017-08-02 05:51] govint commented on #1675
For issues #1638, #1649, and #1675 (this one) we could do the below and hence be able to resolve all scenarios where the VM comes back up  and has volumes attached.

Approach is: Make disk removal more robust on plugin startup:

1. Request the ESX service to return all those volumes that are attached to the VM. (modify the Listt() call for this via additional options).
1. The plugin on start up ma

[2017-08-02 10:14] govint commented on #1675
Effort - 3 days (code and test)

[2017-08-02 10:16] govint commented on #1649
Effort - 0.5 (if only documentation) else as noted in #1675

[2017-08-02 10:16] govint commented on #1638
Effort - as noted in #1675

[2017-08-02 10:17] govint commented on #1043
Suggest moving this to Future.

[2017-08-02 10:17] govint commented on #1089
Effort - 0.5

[2017-08-02 10:18] govint commented on #1635
Effort - 0.5

[2017-08-02 17:37] pdhamdhere commented on #1599
This is being resolved over email.

[2017-08-02 17:37] #1599 closed

[2017-08-02 19:51] pshahzeb commented on #1638
https://github.com/vmware/docker-volume-vsphere/issues/1638#issuecomment-318781952

I don't see the poweroff event received by VMlistener due to VM reset. Confirmed with vmdk_ops logs

[2017-08-02 21:29] shuklanirdesh82 commented on #1676
Hey @luomiao, our build script is not strict for golint or pylint warnings/errors due to time constraints and we have an issue open to make python code to compliant with pylint warning. Post vmworld it is possible to restrict the build incase of such warning till then we have to look manually while proposing the new code change.

It will be great if you can supply a quick fix or include any of you

[2017-08-02 21:37] pshahzeb commented on #1675
When the plugin is coming up, the disk is attached but there isn't an entry in /proc/mounts.

But there is entry in /mnt/vmdk, can we use it?

Did this quick steps.

1.
[code]

2. Shutdown the ESX

3. After VM is restarted on another host
[code]

4. No entry in /proc/mounts but one under /mnt/vmdk
[code]

To add to this,
We do a GetVolume during refcount init to get volume meta for volumes that ar

[2017-08-02 21:39] shivanshu21 opened #1678 "Document that storage on local driver is not supported in kahuna"
The vanilla docker volumes are not supported as kahuna backends

[2017-08-02 21:42] shivanshu21 opened #1679 "Highlight dependency on vDVS plugin while kahuna install"
Highlight the dependency preferably during install
Also put this in documentation

[2017-08-02 21:45] shivanshu21 opened #1680 "Document Kahuna's interoperability with multi tenancy"

[2017-08-02 22:12] shuklanirdesh82 commented on #1651
@ashahi1 as discussed offline please include this into the same PR where you are adding information for inter-op features.

[2017-08-02 22:31] shivanshu21 opened #1681 "FAQs : Document why multi writer mode does not solve shared volume use case for all applications."
This should be clearly documented in FAQ section for vFile - https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/vfile-plugin.md

[2017-08-02 22:33] shuklanirdesh82 opened #1682 "Configure CI testbed setup with multi manager swarm cluster setup for failover testing"
Multi manager swarm cluster setup (existing CI is having 1 swarm cluster [1Manager + 2Workers]

For the shared-volume driver, there is a need of multi-manager swarm testbed setup to test fail over scenario.

/CC @luomiao @shivanshu21

[2017-08-02 22:34] shivanshu21 opened #1683 "Investigate it is possible to provide param to set client timeout"
File server client timeout should be a param in kahuna

[2017-08-02 22:34] shuklanirdesh82 commented on #1682
@ashahi1

Currently CI is having 1 swarm cluster [1Manager + 2Workers] ... we need to configure multi manager swarm cluster by making 2 workers as manager node.

[2017-08-02 22:39] shuklanirdesh82 opened #1684 "Add target to install shared plugin to docker hosts"
There is a target to build "shared" plugin and push to docker hub. We need to add a target or enhance existing deploy-plugin/deploy-vm target to install shared plugin to docker hosts.

/CC @luomiao @shivanshu21 @tusharnt

[2017-08-02 22:50] shuklanirdesh82 opened #1685 "Test should accept "Driver type" as an input to reuse existing E2E automated tests"
existing test target should be enhanced to accept "driver type" as an user input.

The benefit of doing this to leverage existing test to extend test coverage for "shared" plugin.

e.g. `docker volume create -d <driver_name> -name=abc`

Currently driver name is controlled through test constants, it should be configurable through command line.

current code: https://github.com/vmware/docker-volume-

[2017-08-03 01:45] govint commented on #1675
I'd suggest getting the list of attached volumes as that's the direct way of knowing what volumes are attached. The dirs under/mnt/vmdk may not have been created if the volume was attached and the VM went down after that.

[2017-08-03 03:47] govint commented on #1638
Yes, as noted in 1649 VMListener needs to be enhanced for more events (if thats the case) or the simpler way is to deal with this in the plugin as that allows handling all scenarios with one fix.

[2017-08-03 04:12] #1644 closed

[2017-08-03 06:01] govint commented on #1638
Fix for #1675 will address this and doesn't need additional effort.

[2017-08-03 08:25] govint commented on #1675
Plus, when making a filesystem the volume is attached but not mounted.

I'll make a fix as proposed earlier and post for review.

[2017-08-03 12:59] tusharnt commented on #1083
Let's split investigation from implementation(fixes for performance bottleneck).  Let's just identify the root cause for this slowness as part of this issue. Let's file separate issues for each fix that's needed.
I've updated the estimate accordingly.

[2017-08-03 16:01] shuklanirdesh82 commented on #1103
See #318 and #1046

@lipingxue IIRC there is no absolute way of recommending a build to upgrade to. Can you please shed more light on this issue about what exactly needs to be done?

/CC @msterin

[2017-08-03 16:39] lipingxue commented on #1103
@shuklanirdesh82 I think we just need to change the error message to tell user "client version and server version are mismatched,  please make sure the client and server are the same version".

[2017-08-03 16:45] #1635 closed

[2017-08-03 19:41] ashahi1 opened #1688 "[CI] Swarm fail-over test failed as vm could not be powered-off using govc"
Swarm test failed on CI as vm could not be powered-off. This is an intermittent issue.
https://ci.vmware.run/vmware/docker-volume-vsphere/1404

Test name: SwarmTestSuite.TestFailoverAcrossSwarmNodes
ESX: 192.168.31.19 (6.0)
VM: Ubuntu.1404.vsan

Snippet from test logs:
[code]

[2017-08-03 19:42] ashahi1 commented on #1688
/CC @shuklanirdesh82

[2017-08-03 20:53] #1595 closed

[2017-08-03 23:40] shaominchen opened #1691 "Fail the request if volume name contains illegal characters"
We need to check if the given volume name contains illegal characters.

[2017-08-04 16:39] #1691 closed

[2017-08-04 19:54] shuklanirdesh82 opened #1694 "Improve vDVS document home page"
We can improve our doc home page as shown below.

![2017-08-04 12 52 57](https://user-images.githubusercontent.com/22988730/28984643-df7329e0-7913-11e7-95fe-8a9de9fa2107.jpg)

/CC @tusharnt

[2017-08-04 20:06] shuklanirdesh82 opened #1695 "Contact Us page is pointing to old slack channel"
README.md and http://vmware.github.io/docker-volume-vsphere/documentation/contactus.html are pointing to old slack channel which is old (https://vmwarecode.slack.com/archives/docker-volume-vsphere)

We have moved to #docker slack channel, `README.md` & `Contact Us` page needs to be updated.

- [ ] http://vmware.github.io/docker-volume-vsphere/documentation/contactus.html
- [ ] https://github.com/v

[2017-08-04 21:54] #1103 closed

[2017-08-04 21:59] shuklanirdesh82 opened #1696 "Avoid using hardcoded value from test case while referring VSAN datastore"
Test should fetch the datastore name dynamically and avoid using hard coded value. Currently CI datastore name was renamed from `vsanDatastore` => `vsandatastore` to accommodate windows VM (docker host) and vsan_info_test.py started failing.

https://github.com/vmware/docker-volume-vsphere/blob/master/esx_service/utils/vsan_info_test.py#L35

[code]

[2017-08-04 22:41] shuklanirdesh82 opened #1697 "Upgrade automation test step fixes"
Reference for steps: https://github.com/vmware/docker-volume-vsphere/issues/1380#issuecomment-312350229

Pre-upgrade test: https://github.com/vmware/docker-volume-vsphere/blob/master/tests/e2e/pre_upgrade_test.go

Pre-upgrade test is not fully automated as planned and following steps were missed during automation task (during initial checkin)

[code]

while talking with @pdhamdhere about one of th

[2017-08-04 23:11] shaominchen commented on #1073
As per offline discussion with @msterin, we think it makes more sense to print the message for "stop" itself instead of doing that for "status".

[2017-08-05 01:45] shuklanirdesh82 opened #1699 "Automate managed plugin push while tagging the release"
Please refer https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md#publish-vdvs-managed-plugin-to-docker-store

[code]

Above steps should be automated while tagging the release.

/CC @ashahi1

[2017-08-05 02:02] shuklanirdesh82 opened #1700 "Document update for vDVS upgrade instruction and expected behavior"
One of our customer reached out through gitter channel, it seems our document should provide better detail about expected behavior of upgrade workflow with recommended steps.

for your reference some of the questions to address in our document:

[code]

For more information, please refer https://gitter.im/vmware/docker-volume-vsphere.

/CC @msterin @pdhamdhere

[2017-08-05 03:48] #1597 closed

[2017-08-06 00:39] pshahzeb opened #1702 "[Debuggability] Show VM name in error message and logs"
Currently VM uuid is shown in case of errors.
For example: error during volume attach is as follows:
[code]

Since these errors are also logged (if not we need to do them), the name can be used in logs as well.

[2017-08-06 00:41] pshahzeb opened #1703 "Make mounts read logs statements on plugin logs Debug instead of Info"
Below logs create a lot of noise in logs and make debugging tough. These need to debug instead of info
[code]

[2017-08-06 00:47] pshahzeb opened #1704 "Find VM by uuid should be fixed when trying to find VM by vc uuid"
findVmByUuid does si.content.searchIndex.FindByUuid and always passes 4th arg as False.
This should be true when vc uuid is used (by the caller of this function) and false when bios uuid is used.

See usage of FindByUuid on this page -  https://www.vmware.com/support/developer/vc-sdk/visdk41pubs/ApiReference/vim.SearchIndex.html

Two parts to fix this:
1. when this util is invoked as part of attac

[2017-08-06 00:53] pshahzeb opened #1705 "Don't create dockvols directory on datastores we don't need to create"
We don't need to create to create dockvols directory on every datastore accesible to ESX host when we receive a request (eg: volume create request). This was seen in ESX logs during webex session of a customer issue. Unfortunately no logs at the moment but this should be fairly easy to reproduce.

[2017-08-06 00:58] pshahzeb opened #1706 "Fix the two volume get requests while attaching a volume to a container"
We get two volume get requests on esx service while attaching a volume.

See below log against a command : docker run -it -v test1@sharedVmfs-0:/vol1 busybox

[code]

This should be just one. If not, update the issue with the reason for redundant gets.

[2017-08-06 01:04] pshahzeb opened #1707 "Tool to collect logs from ESX host, Docker host"
When we run into a customer issue, it becomes tough to collect logs from three different places.

1. vmdk_ops service logs from ESX host
2. vDVS plugin logs from docker host
3. docker logs from docker host.

[2017-08-06 01:09] pshahzeb opened #1708 "Print vDVS version in plugin and esx logs"
We need to log the vDVS version on esx log. We have it (shown during vmdkops_admin status command). Let's also log it.

On the plugin side, we need to log the managed plugin version. Also we need to log the version of VIB installed on ESX host on which the VM resides (where plugin is installed). Probably this can be exchanged during first handshake between plugin and esx service.

[2017-08-06 02:10] govint commented on #1708
Similar to #1662

[2017-08-06 03:00] pshahzeb commented on #1662
Tracking logging of version for both ESX service and plugin through #1708

[2017-08-06 03:00] #1662 closed

[2017-08-06 18:21] pdhamdhere opened #1709 "[Debuggability/Serviceability] Add logging for important workflows"
We do not log error in Plugin for "Get" request;

[code]

[code]

[code]

[2017-08-07 16:58] venilnoronha opened #1712 "Support case-insensitive match for datastore names"
Docker, by default, turns volume names to lower-case before providing it to the vDVS plugin on Windows. For example, the volume name in `docker volume create --driver=vsphere vol@vsanDatastore` is transformed to `vol@vsandatastore` in Docker API requests, causing a failure. Therefore, we should employ a first-match (or any other) mechanism on the VMDKOps Service and still enable volume creation on

[2017-08-07 16:59] venilnoronha commented on #1606
Duplicate of #1712, therefore closing.

[2017-08-07 16:59] #1606 closed

[2017-08-07 18:39] tusharnt commented on #634
Now that managed plugin is supported customers can easily automate vDVS installation in their Photon OS based deployment. So there is no reason to fix this issue.

[2017-08-07 18:39] #634 closed

[2017-08-07 21:56] venilnoronha opened #1714 "Get rid of Windows vmci_client build warnings"
The Windows `cl` compiler leaves the following log while building the `vmci_client` DLL using the common Linux/Windows `C` code. It'd be good to get rid of the same.

[code]

/cc @pshahzeb

[2017-08-07 22:08] lipingxue opened #1715 "shared plugin: cannot remove volume from worker node"
I am able to create volume from worker node, but when I try to remove the volume from worker node, I get the following error:

[code]

[2017-08-07 23:03] shivanshu21 commented on #1715
CompareAndPutOrFetch() did not create an etcd client properly, hence this was not working on worker nodes. Will fix in the next PR for mount().

[2017-08-07 23:09] luomiao commented on #1715
@shivanshu21
CompareAndPut doesn't create an ETCD client neither.
It's ok for now since CompareAndPut is only called by event handler (only on master)
But considering the timeout problem, can you add the client create in CompareAndPut too?

[2017-08-07 23:54] shivanshu21 commented on #1715
I have added it everywhere. ReadMetaData() was creating client but not checking if returned client is nil.

[2017-08-08 03:55] govint commented on #1043
Moving to Rafiki per eartlier updates, this isn't a bug and existing admin CLI _ls_ command allows user to specify a limited set of columns for print. Choosing a default is really an enhancement that a user can already script with the options available.

[2017-08-08 04:39] #1703 closed

[2017-08-08 05:56] govint commented on #1649
This issue is being fixed via PRs #1689 and #1710.

[2017-08-08 19:31] venilnoronha opened #1719 "Windows tests fails on CI"
As part for PR #1701, the `test-e2e-runonce-windows` target was enabled on CI. This target passes locally; however, it fails on CI. Primarily, we suspect that the SSH communication between the host running the test and the Windows VM is causing the failure.

The following SSH logs are observed on the [CI job](https://ci.vmware.run/vmware/docker-volume-vsphere/1427).
[code]

It's also observed that

[2017-08-08 19:42] venilnoronha opened #1720 "VMDKOps Service communication failure on Windows VM"
It's observed that all operations via vDVS on Windows fail to communicate with the VMDKOps Service intermittently, and we observe the following error message in the logs.

[code]

It's also observed that redeploying the VM sometimes solves the issue.

/cc @pshahzeb @ashahi1

[2017-08-08 21:43] ashahi1 opened #1721 "gh-pages (document release branch) should be automatically populated"
Currently, any changes to [vmware]/docs has to be manually copied to gh-pages. The process should be automated - any changes to [vmware]/docs should be promoted to gh-pages automatically

https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md#documentation-pr

[2017-08-08 21:55] shivanshu21 opened #1722 "Allow deletion of volumes stuck in deleting state"
Volumes that experience failure in deletion (eg. If the internal volume deletion failed) are stuck in Deleting state.

The next time, the plugin doesn't allow them to proceed to deletion as it is expecting the state "Ready". If the state is already deleting, the deletion should just proceed.

root@ubuntu16B ~: docker volume rm vol1
Error response from daemon: unable to remove volume: remove vol1:

[2017-08-08 23:52] ashahi1 opened #1724 "Volume unmount failed after docker restart"
Setup: Datastore name had spaces e.g. DS name: 'shared   Vmfs   - (10)'

Test steps:
[code]
Logs have been attached at the end.

--------------------

Test steps and their output are as follows:

1. Created a volume on a datastore "shared   Vmfs   - (10)"
[code]
2. Ran a container with volume mounted
[code]
3. While container is running, killed the docker (It restarts automatically)
[code]
4. Unmo

[2017-08-09 00:37] luomiao commented on #1722
When the deleting of internal volume is failed, Remove() should set the state of volume back from Deleting to Ready before return error.

[2017-08-09 02:35] luomiao opened #1726 "Cannot mount new volume after another volume plugin is deleted"
How to reproduce:

1. Install vsphere volume plugin:
`docker plugin install --grant-all-permissions --alias vsphere vmware/docker-volume-vsphere:latest`

2. Install another volume plugin:
`docker plugin install --grant-all-permissions --alias netapp netapp/ndvp-plugin:17.07`

3. Disable and rm the second volume plugin:
[code]

4. Create and use a volume:
[code]

will give error:
[code]

Error is g

[2017-08-09 03:44] govint commented on #1726
@luomiao can you also upload plugin logs. The error, seems to say that the source volume location doesn't exist. Plugin should have mounted on that path.

Docker issue 33378 may be related - plugin looses propagated mount and hence docker can't see the plugin mounted volume.

[2017-08-09 03:52] govint commented on #1726
Related issue is fixed in docker in 17.06.0 RC2 tracker #2.

[2017-08-09 04:17] luomiao commented on #1726
@govint
Thank you for the information!
Updated to 17.06.0-ce and problem seems resolved.

[2017-08-09 04:17] #1726 closed

[2017-08-09 05:07] #1704 closed

[2017-08-09 05:25] pshahzeb commented on #1724
This is essentially due to the logic of reading volume name from /proc/mounts after restart.
The datastore name with spaces would be something like TestXXXX@shared\040\040\040Vmfs\040\040\040-\040(10) in the entry in /proc/mounts.
Can happen with volume name as well. We have volume name with spaces tests and restart tests, but not one that does both.

[2017-08-09 14:25] #1675 closed

[2017-08-09 14:27] govint commented on #1638
Fixed via #1710

[2017-08-09 14:27] #1638 closed

[2017-08-09 17:31] #1185 closed

[2017-08-09 17:35] luomiao commented on #1676
Resolved in https://github.com/vmware/docker-volume-vsphere/pull/1687

[2017-08-09 17:35] #1676 closed

[2017-08-09 17:42] tusharnt opened #1728 "Multiple "Get" requests empty volume name after Docker restart"
Multiple "Get" requests empty volume name after Docker restart

[2017-08-09 19:06] shivanshu21 opened #1729 "Replace Samba server used in vFile"
Containerize our own samba server
Use Alpine instead of debian to reduce the size of the container
Push to google cloud

[2017-08-09 19:19] pdhamdhere commented on #1721
Changes should be promoted from master to gh-pages every time we cut release. And this is P0 and must be fixed before next release.

[2017-08-09 22:46] pshahzeb opened #1731 "Support for Resilient File System (ReFS) type for Windows Plugin"
Currently, plugin for windows support volume create with filesystem NTFS.
Need a support to provide ReFS file system type during volume creation.

[2017-08-09 22:57] tusharnt commented on #1658
@ashahi1 Can you please take care of the sole P0 test that is remaining?

[2017-08-10 00:26] luomiao opened #1732 "Handle swarm node role change in vFile plugin"
Currently the vFile plugin proceeds with the role of the node when the plugin is installed.

However the role of a node can change.
A helper thread is needed in each plugin to handle the change of the role.
For example, when a node is promoted from worker to manager, it should join the etcd cluster and start watcher. On the other hand, when a node is demoted to worker, it should leave the etcd clu

[2017-08-10 01:41] ashahi1 commented on #1442
This issue has already been fixed by Govindan as part of PR #1670

Closing this issue after verifying that original issue is no longer seen.

-------------------------
[code]

[2017-08-10 01:41] #1442 closed

[2017-08-10 06:26] govint commented on #1724
@ashahi1 @venilnoronha @pshahzeb - does this need to get verified with the Windows plugin also? Are we running the e2e tests with Windows plugin? Some of the fixes tend to be in common code and we need to ensure nothing gets broken on the Windows side

[2017-08-10 07:04] govint commented on #1724
Reading /proc/mounts with names with spaces is mighty confusing for the plugin, here the pl;ugin (when it alone is restarted) believes there are two volumes while they are actually one.

2017-08-10 07:01:25.077849205 +0000 UTC [INFO] Found 1 running or paused containers
2017-08-10 07:01:25.549428647 +0000 UTC [INFO] Successfully retrieved mountsmap=map[snapvol\0404@sharedVmfs-0:/dev/disk/by-path/p

[2017-08-10 08:51] pshahzeb commented on #1724
2017-08-10 07:01:36.835298656 +0000 UTC [INFO] Volume name=snapvol\0404@sharedVmfs-0 count=0 mounted=true device='/dev/disk/by-path/pci-0000:03:00.0-scsi-0:0:0:0'

snapvol 4@sharedVmfs-0 was reported to us by docker, snapvol\0404@sharedVmfs-0  is the one we read from /proc/mounts.
Due to string comparison mismatch while populating refMap, we see 2 volumes.

As of today, windows plugin is planned a

[2017-08-10 16:57] venilnoronha commented on #1724
This seems to be a problem on the Windows plugin too. Creation / mounting of a volume with spaces in the name works perfectly fine; however, the `PowerShell` [implementation](https://github.com/vmware/docker-volume-vsphere/blob/5a7d3a6f3106801f4c953a87e0efefbf88399d66/client_plugin/utils/fs/fs_windows.go#L83-L84) for retrieving mount information is incapable of handling spaces in the name. Output

[2017-08-10 18:32] ashahi1 commented on #1651
Fixed as part of PR #1689

[2017-08-10 18:32] #1651 closed

[2017-08-10 18:33] ashahi1 commented on #1649
Fixed as part of PR #1689

[2017-08-10 18:33] #1649 closed

[2017-08-10 18:33] ashahi1 commented on #1617
Fixed as part of PR #1689

[2017-08-10 18:33] #1617 closed

[2017-08-10 19:22] venilnoronha opened #1738 "Windows plugin should use UniqueId in place of DiskNumber"
The current `fs` module [implementation](https://github.com/vmware/docker-volume-vsphere/blob/5a7d3a6f3106801f4c953a87e0efefbf88399d66/client_plugin/utils/fs/fs_windows.go#L60) for Windows relies entirely on `DiskNumber` (aka `Index`, `Number`). The implementation should instead use `UniqueId`s to avoid collisions.

See below for examples on how to obtain a disk's `UniqueId`.

<img src="https://us

[2017-08-10 21:10] luomiao opened #1740 "vFile : Handle volumes with spaces in the name"
Currently when the volume name contains space, shared plugin will have problem to process it.
Need corresponding handle for volume name with spaces.

[2017-08-10 21:21] #1715 closed

[2017-08-11 04:31] govint commented on #1724
Yes, the escape sequence is replaced with a ' ' in the PR #1736.  Looks like for Windows the PowerShell script would need tweaking. @venilnoronha will you be able to handle the scripting I'm not familiar with the Windows equivalent of mounted FS and how thats retrieved.

[2017-08-11 06:58] #1724 closed

[2017-08-11 06:58] #1709 closed

[2017-08-11 09:34] blop opened #1744 "boot2docker support"
Hello,

Has anyone tried using this plugin on boot2docker ?
http://boot2docker.io/

I have the plugin installed and running, but I can't create any volume :
root@docker-1:~# docker volume create --driver=vsphere --name=test -o size=1024gb
Error response from daemon: create test: VolumeDriver.Create: Run 'create' failed: no such file or directory (errno=2) -

Any idea?

[2017-08-11 11:51] blop commented on #1744
[code]

[code]

[code]

[code]

[code]

[code]

Can't get it working through docker-machine with boot2docker.
Oh, and can't use Photon OS because it has an outdated Docker version (I need 17.06).

:'(

[2017-08-11 11:59] govint commented on #1744
Hi @blop, thanks for contacting regarding this issue, can you please also share the plugin logs from /var/log/docker-volume-vsphere.log.

[2017-08-11 12:24] blop commented on #1744
Here it is :

[code]

Thank you!

[2017-08-11 12:39] blop commented on #1744
Is it normal I have version 0.5 ?

`2017-08-11 11:38:21.542901693 +0000 UTC [INFO] Docker VMDK plugin started mock_esx=false version="vSphere Volume Driver v0.5" port=1019
`

I just installed it using :
`docker plugin install --grant-all-permissions --alias vsphere vmware/docker-volume-vsphere:latest
`

Why does it say 0.5 instead of 0.16 ?

[2017-08-11 12:45] govint commented on #1744
Yes, its the current version though it says 0.5.

[2017-08-11 12:50] govint commented on #1744
@blop do you have the ESX host thats running the ESX service and handling the volume requests? Could you post the logs from the ESX service as well from /var/log/vmware/vmdk_ops.log.

[2017-08-11 12:59] blop commented on #1744
Nothing in the VMware host log usefull, I only have this for today :
[code]

[2017-08-11 13:03] blop commented on #1744
FYI - The plugin is working correctly from another VM (ubuntu) on the same host.

[2017-08-11 13:56] govint commented on #1744
From the ESX and plugin logs looks like the plugin from boot2docker VM isn't able to reach the ESX service and hence posting the "no such file or directory" error. Let me check this more on a local set up and get back to you.

[2017-08-11 21:55] shivanshu21 opened #1746 "Remove file server image on plugin uninstall"
We brought the file server image to the user's machine during install. Lets remove it when the plugin is being uninstalled.

[2017-08-12 05:35] shivanshu21 opened #1748 "Shared plugin occasionally failing to mount already mounted volumes"
**Mount fails with the following message**

[code]

**Docker version:**
root@ubuntu16C ~: docker --version
Docker version 17.06.0-ce, build 02c1d87

**Logs show that Mount() was not called. Command stuck after Get() returned.**
[code]

In a SUCCESS CASE, here is how Mount() proceeds
[code]

Plugin directory does not show any vshared/vol433 directory
[code]

[2017-08-12 17:29] pdhamdhere commented on #1744
@blop Plugin communicates with ESX over VIrtual Machine Communication Interface (VMCI) using VSOCK library. These modules are bundled with [VMware Tools](https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=340). Boot2Docker image doesnt include all kernel dependencies for VMware Tools and thus the error.

Thanks for confirming that Plugin worked correctly

[2017-08-13 04:56] msterin commented on #1746
how would you know the customer does not use the same image out of shared-volume context ?

[2017-08-13 05:03] govint commented on #1744
@blop, to add, boot2docker distributes the open-vm-tools (open source version of VMware Tools) and doesn't include the drivers needed to communicate with ESX. As such boot2docker can't be used with the plugin presently, at least not until open-vm-tools includes the necessary drivers.

[2017-08-13 10:38] blop commented on #1744
I understand those tools are supported by VMware itself :
https://github.com/vmware/open-vm-tools

Also, it seems your plugin is running fine with open-vm-tools on ubuntu.

[code]

[code]

Could you improve your README with detailed requirements to run docker-volume-vsphere ?
What version of VMware tools should be used ?
Which kernel modules are needed ?

I guess `vmw_vsock_vmci_transport` is need

[2017-08-13 12:06] blop commented on #1744
Got it working : https://github.com/boot2docker/boot2docker/issues/1270#issuecomment-322038137

[2017-08-13 13:06] govint commented on #1744
@blop, glad to know you were able to get this resolved with boot2docker. We'll update the plugin documentation to reflect these dependencies, as suggested.  Please let us know of if you do face any issues with the plugin in creating and using volumes.

[2017-08-14 04:07] govint opened #1749 "Document the dependency on vm-tools and open-vm-tools for installation of VSOCK and VMCI drivers"
The plugin depends on the VMCI and VSOCK drivers being available, in order to interact with the ESX service. vm tools for some Linux distros (boot2docker for example) don't seem to install the vsock driver and hence plugin is unusable. This dependency must be documented.

Since its installed as a managed plugin its won't be possible to check for a third party dependency to fail the install. Hence

[2017-08-14 17:17] msterin commented on #1712
To clarify - this issue is to support datastore names like vsanDatastore. if Docker passes us a volume name all lowcase  e.g. `myvolume@vsandatastore` our ESX-side code needs to:

* [ ] (low priority) know that this request is coming from Windows VM (we need to add something in the protocol). Generally, we can do the item below for all platforms since 2 datastores different only in letter case wou

[2017-08-14 18:02] tusharnt commented on #623
@pshahzeb  Please update the estimate to reflect the work remaining to be done for Mufasa sprint.

[2017-08-14 18:24] tusharnt commented on #270
The only thing remaining here is to document that SRM support is currently broken. @ashahi1  to file an issue. Team is actively looking into the failure.

[2017-08-14 19:54] shivanshu21 commented on #1748
Still hitting the issue. Only hitting while mounting a volume already mounted before.

[code]

[2017-08-14 23:57] pshahzeb opened #1751 "Test automation for ESXCLI integration"
All existing tests should use esxcli instead of vmdkops_admin.py.
Verify that no test breaks since the user experience is same for esxcli as compared to vmdkops_admin.py

Since esxcli doesn't support toggling columns for an output, -c flag for volume ls isn't support.
Instead a new command volume ls-short should be supported to display fewer important columns.

[2017-08-14 23:57] pshahzeb opened #1752 "Support ESXCLI for vSphere Docker Volume Service"
This task has multiple parts.
- [ ] **Design** - Deep dive into the ESXCLI and vDVS integration
- [x] **Implementation** - Implement changes required in existing commands and exposing the new namespace through xml based extension discovered by hostd.
- [x] **Testing** - Modify existing tests to use esxcli instead of vmdkops_admin.py.
- [x] **Documentation** - Document the usage of esxcli
- [ ] **E

[2017-08-15 00:44] ashahi1 opened #1753 "After plugin upgrade, docker has to be restarted to see all the volumes"
Error: If plugin is upgraded with container running, docker volume ls does not show all volumes. Docker has to be restarted to see all volumes.

Test Steps:
[code]

Is this behavior expected? Should user be stopping a container to do plugin upgrade?

Logs have been attached at the end

---------------------------------------

Steps and their output are as follows:

1. Installed 0.15 plugin
[code]

[2017-08-15 04:29] govint commented on #1753
@ashahi1 what version of Docker is this? Because docker doesn't even allow disabling a plugin (busy error is reported) if volumes are available (in use or not) that are associated with that plugin. Doubt even rm is feasible when a volume managed by the plugin is in use. Flip side is even if all volumes are removed DOcker will still disallow disabling a plugin and needs to be restarted. Its a bug o

[2017-08-15 18:08] pshahzeb commented on #1720
Tried to reproduce it.

I am consistently seeing the test pass and not seeing the error above. I tried it 4 times.
I have an ESX in nimbus tested bed with windows VM created from OVA indicated in the Win Dev Setup.

However, I am consistently seeing this failure given that ESX service is not installed or it is down.
When we saw this error, was it confirmed that ESX side vmdkops service is up and r

[2017-08-15 18:08] #1720 closed

[2017-08-15 18:11] ashahi1 commented on #1625
Fixed as part of PR #1717

[2017-08-15 18:11] #1625 closed

[2017-08-15 18:25] venilnoronha commented on #1720
@pshahzeb the status of VMDKOps Service wasn't confirmed. I'll post the logs if I see it occur again.

[2017-08-15 19:17] #1719 closed

[2017-08-15 20:18] ashahi1 opened #1756 "[SRM] Disaster recovery fails if volume is attached to a vm. Error: "Failed to create snapshots of replica devices""
Error: Failed to create snapshots of replica devices - SRA command 'testFailoverStart' failed.

I had SRM configured in the setup with docker host part of the protection group
Test Steps:
[code]
----------------------------------------

Detailed steps are as follows:

1. Created a volume
[code]
2. Docker volume inspect and Admin cli volume ls
[code]
3. Ran a container with volume mounted
[code]
4.

[2017-08-15 21:43] pshahzeb opened #1757 "Documentation update for admin-cli.md to reflect usage of esxcli based commands."
User facing (admin-cli.md) documentation should reflect usage of esxcli rather than vmdkops_admin.py.
This is to be done for all commands.

[2017-08-15 21:46] ashahi1 commented on #1753
Usage of --force flag allows us to remove the plugin.

[2017-08-15 21:48] pshahzeb commented on #623
Closed through #1735

[2017-08-15 21:48] #623 closed

[2017-08-15 23:22] ashahi1 commented on #1756
This looks to be some issue with SRM setup. Closing it for now.

[2017-08-15 23:22] #1756 closed

[2017-08-15 23:48] shaominchen commented on #1671
@venilnoronha Can you please clarify a bit about the last 2 items?

Is this a document issue?

Is this an internal build script issue?

[2017-08-16 00:14] shuklanirdesh82 commented on #1756
@ashahi1 Adding `invalid` keyword as of now, please make sure to remove while reopening.

[2017-08-16 00:20] shuklanirdesh82 commented on #1545
Following action item will be taken care as part of separate task.

- [ ] Following paragraph is misleading. (http://vmware.github.io/docker-volume-vsphere/documentation/index.html#documentation-version) .. document is pointing to the latest version and no way to navigate per older release...Allowing user to navigate through older release notes

[code]

In short, document release process is broken

[2017-08-16 00:20] #1545 closed

[2017-08-16 00:28] shuklanirdesh82 opened #1759 "[Doc] Allow user to navigate through older release notes"
Right now user has to click on the release tag and browse the docs folder to navigate older release docs as mentioned below.

Link: http://vmware.github.io/docker-volume-vsphere/documentation/

[code]

**Action item**: would be better to have drop-down selection box which refers older releases e.g. https://docs.docker.com/engine/userguide/

![screen shot 2017-08-15 at 5 28 08 pm](https://user-imag

[2017-08-16 00:43] shuklanirdesh82 commented on #1759
Keeping `P1`, base document version should be `1.0 (GA)` and drop-down should show two items `vDVS 1.0` & `vDVS latest`

[2017-08-16 02:51] venilnoronha commented on #1671
@shaominchen

I think it'd be good to add it to the documentation as well as highlight it during installation.

It's an issue with the `deploy-tools.sh` script, specifically with [`buildwindowsplugin`](https://github.com/vmware/docker-volume-vsphere/blob/ec3bf5fac41696ad31939ee9cd671835e14a717b/misc/scripts/deploy-tools.sh#L109) and [`deploywindowsplugin`](https://github.com/vmware/docker-volume-v

[2017-08-16 05:10] tusharnt commented on #1688
@ashahi1 every issue filed for the current sprint needs to have a owner.

[2017-08-16 05:30] #1749 closed

[2017-08-16 06:28] #1722 closed

[2017-08-16 08:31] govint commented on #1753
As long as the plugin alias (in docker plugin install) is the same there is no issue - plugin driver upgrade scenario. Issue happens only if the alias changes - another plugin driver is registered with a different alias and tries to use the same socket. Checking how this is handled on the docker/moby side. Will update on that shortly.

[2017-08-16 15:58] ashahi1 opened #1760 "[SRM] Disaster recovery fails if volume is attached to a vm"
Steps:
[code]
Disaster recovery fails at Step-3 with error - "Failed to unmount the datastore".

SRM setup had some issues so could not collect logs. Setup was fixed by Bangalore folks last night  so will re-run the test today and add more details and logs.

[2017-08-16 17:41] shivanshu21 opened #1761 "Populate client list on mount and depopulate on unmount"
A shared volume could be running anywhere on the swarm cluster. If a user tries to delete this volume and repeatedly gets the message "The volume is in use", it will be frustrating to keep looking for containers on every host.

Volume metadata already has a place to store the name of host VMs where the volume is mounted. This list should be populated during mount and unpopulated during unmount.

[2017-08-16 17:43] shivanshu21 commented on #1746
We can't. I guess we can let the image be there and the user can remove it if no longer needed. Closing the issue.

[2017-08-16 17:44] shivanshu21 commented on #1660
@lipingxue The PR for tests got merged. Should we keep this open?

[2017-08-16 18:56] govint commented on #1753
Tested with 17.07 and don't see any problem. Created a volume with one version of the driver and with a certain alias. Then ran a container with the volume. Then removed the plugin and installed a newer version with a different alias. Then stopped the container (started earlier) and created and new volume and docker is able to show both volumes.

Will verify with 17.03 again.

[2017-08-16 21:23] shaominchen opened #1763 "Document the issue #1073"
Issue #1073 is a corner case and it needs some time to fully test the error scenarios. So we decide not to include this fix in GA, and will document this as a known issue. @tusharnt @msterin

[2017-08-16 21:27] ashahi1 commented on #1688
Another instance on CI: https://ci.vmware.run/vmware/docker-volume-vsphere/1509

[2017-08-16 21:36] ashahi1 opened #1765 "[CI] Volume creation failed"
CI run failed as test could not create a volume.
**Error:** ```Error response from daemon: create VmGroupTest.TestVmGroupVolumeClone_volume_525171: Post http://%!F(MISSING)run%!F(MISSING)docker%!F(MISSING)plugins%!F(MISSING)458f3e98b5bda0e5210f6b999d183fd301623d7967adefa85e775d40718b7fb0%!F(MISSING)vsphere.sock/VolumeDriver.Create: http: ContentLength=70 with Body length 0```

Test: VmGroupTest.Te

[2017-08-16 22:48] lipingxue opened #1766 "vShared plugin: volume mount failed due to cannot start service before timeout"
Steps:
1. create a volume with vShared plugin
[code]
2. run a container to attach this volume
[code]

This is the vsphere_shared.log:
[code]

docker service takes longer time than expected to start.
[code]

[2017-08-17 05:10] govint commented on #1753
@ashahi1 am not able to repro this issue at all, this is what I did:

docker plugin install --grant-all-permissions --alias vsphere15 vmware/docker-volume-vsphere:0.15
0.15: Pulling from vmware/docker-volume-vsphere
967f49dfadaf: Download complete
Digest: sha256:64a50830c2fa9befbede6efca3f28d2e2d8b4e595703f1b5984470579656e935
Status: Downloaded newer image for vmware/docker-volume-vsphere:0.15
Ins

[2017-08-17 09:15] ashahi1 opened #1769 "Unable to install vDVS managed plugin"
Unable to install vDVS managed plugin due to following error:
```Error response from daemon: dial unix /run/docker/plugins/1813c6b3d8e589b6d379ffc62665a1645a98e6a68cb4805ee2f082a1df5f4619/vsphere.sock: connect: no such file or directory```

Steps:
[code]

---------------------

Detailed steps and their output are as follows:

1.
[code]
2. Created a volume
[code]
3. Ran the container and mounted th

[2017-08-17 09:17] govint commented on #1769
Issue is very similar to this one on moby - https://github.com/moby/moby/issues/31723. Should open an issue on moby and reference this one.

[2017-08-17 09:19] govint commented on #1769
The issue doesn't happen every time that the plugin is installed, but repros when the plugin is installed and there are volumes in use and those need to be mounted as part of start up recovery.

[2017-08-17 16:22] tusharnt opened #1770 "Prepare videos to demonstrate vDVS features that can be uploaded on VMware youtube channel"
Prepare videos to demonstrate vDVS features that can be uploaded on VMware youtube channel

cc @pdhamdhere

[2017-08-17 17:22] venilnoronha opened #1772 "Rename docker-volume-vsphere/vdvs in Windows installer/documentation"
The Windows installation/documentation calls the plugin as `docker-volume-vsphere` / `vdvs` at some places and we should rename that to `vSphere Storage for Docker`.

[2017-08-17 19:06] ashahi1 commented on #1753
@govint This issue is reproducible. I deployed a fresh setup and I cans till see this issue. I can also share the setup details with you if that helps to debug the issue.

[2017-08-17 19:24] ashahi1 commented on #1753
@govint I deployed a new setup and not able to see this issue hence closing it.

[2017-08-17 19:24] #1753 closed

[2017-08-17 20:29] #1763 closed

[2017-08-18 00:29] tusharnt commented on #1765
@shaominchen please move it to sprints post Mufusa if this is not critical.

[2017-08-18 00:44] luomiao opened #1776 "vFile plugin: automatically upload plugin to cnastorage docker hub in CI"
Plugin needs to be uploaded to cnastorage docker hub so user can install it through:
docker plugin install --grant-all-permissions --alias vshared cnastorage/vfile:latest-dev

[2017-08-18 00:47] luomiao opened #1777 "vShared plugin: get plugin certification from docker store"
Get vShared plugin certificated from docker store.
This should be done after documentation is added.

[2017-08-18 00:52] shaominchen commented on #1765
We don't see this issue in the latest CI runs. If this happens again, we will disable this test and figure out the cause.

[2017-08-18 06:28] govint commented on #1769
Propose to always initiate a deferred refcount recovery just so this doesn't delay plugin init.

[2017-08-18 08:26] govint commented on #1769
Given how install upgrade works for docker this issue used a set of steps thats known to not work. The correct approach is to only use docker plugin upgrade, which requires the plugin to be disabled and then upgraded.

I'm closing this issue as it need not be fixed unless issue repros otherwise.

[2017-08-18 08:26] #1769 closed

[2017-08-18 09:19] ashahi1 opened #1779 "Fix the plugin upgrade flow when disable -f is used (live upgrade)."
Container looses access to the data after plugin upgrade.

Steps:
[code]
Container was always running during the upgrade process. I had never stopped the container.

Logs have been attached at the end.

---------------------------------

Detailed steps and their output are as follows:

1. Installed the plugin:
[code]
2. Ran the container with volume mounted and wrote some data to the volume
[code]

[2017-08-18 09:53] govint commented on #1779
Debugged this and it looks like the moment disable happens the bind mount of the volume is removed.  Looks like disable -f option just must not be used.

Even  upgrade is not needed. The bind mount is removed once the earlier version if the plugin is disabled.

The volume is left attached to the VM. Which is correct because the volume can be used if the plugin is re-enabled.
Once the plugin is upg

[2017-08-18 16:28] venilnoronha opened #1780 "Skylight performance improvement - Investigate to reduce disk-attach wait time in the Windows plugin"
The `fs.maxDiskAttachWaitSec` is set to 60 seconds to prevent failures during parallel volume requests, as access to the `powershell` utility is synchronized. This should be reduced once parallel disk identification is implemented. Currently, `fs.getDiskNum(..)` blocks during parallel execution due to synchronized access to `ps.Exec(..)`. Therefore, parallel volume creation in `e2e` tests block in

[2017-08-20 22:08] shuklanirdesh82 commented on #1772
We have reverted the rename change and back to `docker-volume-vsphere` so closing this as invalid.

Windows doc/code will be taken care in a shot while doing renaming to `vsphere-storage-for-docker` again.

[2017-08-20 22:08] #1772 closed

[2017-08-21 02:59] pdhamdhere commented on #1760
@ashahi1 Any update on this issue?

[2017-08-21 06:36] govint commented on #1744
Plugin readme has been updated to reflect the dependency of the plugin on vmtools. Closing.

[2017-08-21 06:36] #1744 closed

[2017-08-21 17:24] divyenpatel opened #1785 "Documentation cleanup for http://vmware.github.io/docker-volume-vsphere/documentation"
Observed this during Kubernetes documentation Cleanup.

Need to remove following unwanted links

http://vmware.github.io/docker-volume-vsphere/documentation/sitemap.xml
http://vmware.github.io/docker-volume-vsphere/documentation/tooltips.html
http://vmware.github.io/docker-volume-vsphere/documentation/test-post-from-last-year.html
http://vmware.github.io/docker-volume-vsphere/documentation/tooltip

[2017-08-21 17:53] ashahi1 opened #1786 "[SRM] After disaster recovery, vmgroup for volumes of user vmgroup are listed as N/A at secondary site"
Steps:
1. Initialized the config and created a vmgroup and added a vm
2. After VM was added to vmgroup, created new volumes
3. Ran Disaster Recovery from VC
4. After DR finished successfuly, admin cli lists volumes of user vmgroup as N/A.
     And VM no longer belonged to user vmgoup - it became part of default vmgroup and could see volumes of default vmgroup
-----------------------------------

D

[2017-08-21 18:35] pshahzeb opened #1787 "Testing with docker 17.06"
A quick run against docker 17.06 have some of the e2e tests failing.
See error below
[code]

[Archive.zip](https://github.com/vmware/docker-volume-vsphere/files/1239814/Archive.zip)

Attaching logs as well.

[2017-08-21 18:45] govint commented on #1787
This could be that the plugin is not yet ready (must be in a refcount recovery)) and hasn't as yet created the socket file. This error was observed in a different scenario on installation of the plugin ( #1769).

[2017-08-21 19:10] pshahzeb commented on #1787
I see. I am able to reproduce this consistently. Just ran the RestartTest
The plugin kill leaves the plugin disabled.
I logged in into the VM to verify this. Could be a test issue about how we are restarting the plugin.

[2017-08-21 19:13] shivanshu21 opened #1789 "Write volume sharing tests for Kahuna"
Check refcounts on volume creation/deletion/mount/unmount
Share data

[2017-08-21 19:17] #1660 closed

[2017-08-21 19:17] #1789 closed

[2017-08-21 19:57] shuklanirdesh82 commented on #1695
We have to make correction at both places using `https://vmwarecode.slack.com/messages/docker/`

[2017-08-21 20:35] pshahzeb commented on #1779
Fixed in Docker 17.06

[2017-08-21 20:38] ashahi1 commented on #1695
Fixed as part of PR #1790 and verified. Closing it.

[2017-08-21 20:38] #1695 closed

[2017-08-21 20:55] ashahi1 commented on #1760
@pdhamdhere I tested after the setup was fixed and I tried the test steps couple of times and was not able to repro the original issue.

Steps performed:
[code]

-----------------------

Steps and their output are as follows:

1. Created a volume
[code]

2. Ran the container with volume mounted
[code]

3. Admin cli volume ls
[code]
4. Run Recovery Plan
5. After recovery plan successfully finished,

[2017-08-21 21:08] shuklanirdesh82 commented on #1702
While talking with @pshahzeb figured out that we need to improve error message for attach/delete volume workflow (as of now - will be updated missing workflow). We need a common util which converts to vmName from vmUUID.

Refreshing the estimate.

[2017-08-21 21:38] shuklanirdesh82 commented on #1760
based on https://github.com/vmware/docker-volume-vsphere/issues/1760#issuecomment-323850616 closing this as `invalid`

[2017-08-21 21:38] #1760 closed

[2017-08-21 21:55] pshahzeb commented on #1712
If we plan to go with top priority fix, i.e. match vsandatastore with vsanDatastore:

The fix would be to do a case insensitive match on ESX-side code.

The obvious follow-up question is how do we handle two datastores with same name but different cases mounted on ESX:
eg: vsandatastore and vsanDatastore are two different datastores mounted. This is allowed by vcenter.

In such a case should we re

[2017-08-21 22:24] shaominchen commented on #1712
Here's my suggestion:
1. For GA release, we need a minimal fix that at lease makes sure the default "vsanDatastore" works for Windows. Instead of changing existing case-sensitive logic on ESX side, I'd suggest just do a hard-coded mapping from "vsandatastore" to "vsanDatastore". This quick fix (workaround actually) will be straightforward and most importantly, it's absolutely safe - it won't cause

[2017-08-21 22:28] shuklanirdesh82 commented on #1688
It is a govc error with reference `2017/08/03 16:29:02 Failed to invoke command [govc vm.power -s=true Ubuntu.1404.vsan]: exit status 1`.

I'm moving to post vmworld sprint. If we don't have repro in future it is safer to close as `could-not-reproduce`.

[2017-08-21 22:33] shuklanirdesh82 commented on #1712
It is more harmful than going with no fix + document known issue. how can we just assume it is `vsanDatastore` ?

[2017-08-21 22:37] shuklanirdesh82 opened #1791 "Cleanup README.md and fix broken links (if there are any)"
We have pretty document and it is the time to cleanup/improve README.md by having a section with proper redirection.

/CC @pdhamdhere @tusharnt

[2017-08-21 22:40] msterin commented on #1712
Unfortunately is won't help for names like Datastore1 or MyDS so the bug will stay.

Makes sense. Something like this. right:

[code]

[2017-08-21 22:50] shaominchen commented on #1712
@shuklanirdesh82 we want to make sure at least the *default* configuration will work.

@msterin Yes, you are right. It won't help for names like Datastore1 or MyDS. Shahzeb and I had some discussion offline. We will sync up with you.

[2017-08-21 23:47] pshahzeb commented on #1751
Closed through #1783

[2017-08-21 23:47] #1751 closed

[2017-08-22 00:25] #1757 closed

[2017-08-22 01:05] pshahzeb commented on #1779
@govint @shuklanirdesh82
I did following following quick test to upgrade with a container running alongside. Docker removes plugin id dir which contains vsphere.sock.
This is irrespective of usage of -f flag. Either way it removes the dir. I double confirmed this.
The error to reenable to plugin doesn't occur if the container isn't running.

Looks like in case if a container is running and had our

[2017-08-22 05:32] luomiao opened #1792 "vShared plugin: ETCD error when some of the managers don't have plugin installed"
When an ETCD operation is needed, the plugin will go over the list of managers and try to create an ETCD client.
Currently even for the addresses of managers who even don't have the plugin installed (not part of the ETCD cluster) can also return an ETCD client without an error.
This will result in the failures for the following ETCD operations:
[code]

[2017-08-22 05:49] pshahzeb commented on #1779
Looks like with docker 17.06, docker plugin disable removes /proc/mounts entries of mounted volumes.
So while enabling, it results in mount recovery on our plugin side. But since the volume is already attached, there isn't any complete event and we exceed timeout of 10s.
During this 10s, if a container is running, docker tries to talk to our socket and since we start listening on the socket after

[2017-08-22 06:39] ashahi1 commented on #270
All the listed Interop VC features have been tested with vDVS and issues discovered during testing have been updated to interop.md file. Closing this PR as information has also been copied over to gh-pages branch as well.

[2017-08-22 06:39] #270 closed

[2017-08-22 08:21] ashahi1 commented on #1787
This issue looks to be similar to Issue #1779
@pshahzeb Can you please confirm?

Steps:
[code]

Plugin logs:
[code]

-------------------

Detailed steps and their output are as follows:

1. Ran a container with ```--restart=always``` option.
[code]
2. Killed the vDVS plugin
[code]
3. Docker plugin ls shows plugin as disabled
[code]
4. Tried to manually enable the plugin but failed.
[code]

[2017-08-22 09:54] govint commented on #1779
Or, always spin the refcount logic as a deferred activity vs. attempting to do recovery and then creating the vsphere socket.

[2017-08-22 10:56] govint commented on #1779
Does this work? On Docker 17.07.

docker version
Client:
 Version:      17.07.0-ce-rc2
 API version:  1.31
 Go version:   go1.8.3
 Git commit:   36ce605
 Built:        Mon Aug  7 23:51:13 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.07.0-ce-rc2
 API version:  1.31 (minimum version 1.12)
 Go version:   go1.8.3
 Git commit:   36ce605
 Built:        Mon Aug  7 23:46:39 2017
 OS/Arch:

[2017-08-22 12:37] frjaraur opened #1794 "Offline install"
Is there anyway of having an offline install of this docker plugin?. Not everyone can execute
docker plugin install --grant-all-permissions --alias vsphere vmware/docker-volume-vsphere:latest on their docker nodes.

I tried to pull vmware/docker-volume-vsphere:latest from docker hub/store with no luck.

Can someone guide me to do install this plugin offline?.

Many Thanks in Advance,
Javier R.

[2017-08-22 13:03] govint commented on #1794
@frjaraur, thanks for contacting on this issue, the plugin is to be used as a managed volume plugin for docker and as such needs to be installed via _docker plugin install_. Did you plan to run the plugin not as a managed plugin?

[2017-08-22 13:54] #1752 closed

[2017-08-22 16:46] pshahzeb commented on #1779
We should test this with plugin disable-> enable instead of plugin kill.

[2017-08-22 16:50] pshahzeb commented on #1787
Yes it is the same issue.
[code]
Precisely the time window where docker hits us on the socket and we haven't started listening on the socket yet.

[2017-08-22 17:02] pshahzeb commented on #1779
This won't be entirely correct. It will still trigger the recovery, use /proc/mounts and try to mount the volumes again which are already attached.

[2017-08-22 17:07] tusharnt opened #1796 "Add documentation(user guide) for shared volume support."

[2017-08-22 17:08] tusharnt commented on #1796
@luomiao please reference this issue in your documentation change that is already for review.

[2017-08-22 17:15] tusharnt opened #1797 "Finalize the nomenclature for stable and edge releases"
Finalize and document the nomenclature for stable and edge releases

[2017-08-23 01:17] shaominchen commented on #1712
Per offline discussion with @pshahzeb and @msterin, we decided to go with this approach:
1. Do a case insensitive match on ESX side, i.e. match vsandatastore with vsanDatastore
2. Report error if two datastores with same name but different cases are found

[2017-08-23 01:54] luomiao commented on #1796
Added userguide to master branch.
Need to sync up with gh-pages.

[2017-08-23 02:34] shuklanirdesh82 commented on #1787
closing this as per https://github.com/vmware/docker-volume-vsphere/issues/1787#issuecomment-324086405

[2017-08-23 02:34] #1787 closed

[2017-08-23 04:50] govint commented on #1499
Closing this as presently Docker doesn't allow a plugin to uniquely identify a volume as belonging to it. Using the driver name to identify a volume is going to pick the alias used to install the plugin which can be anything that the user set. And surely not uniquely identifying the volume as a vsphere managed volume.

[2017-08-23 04:50] #1499 closed

[2017-08-23 05:54] govint commented on #1659
This is what I'm seeing,

1. No config on ESX
2. Create multiple volumes
3. Create a config
4. _DEFAULT symlink is not created
5. this is the dockvols dir
[root@sc-rdops-vm16-dhcp-232-194:/vmfs/volumes/59474fd1-55672410-d21e-02001e5a2f6d/dockvols] ls
11111111-1111-1111-1111-111111111111
6. Rename the datastore to sharedVmfs-02
[root@sc-rdops-vm16-dhcp-232-194:/vmfs/volumes/59474fd1-55672410-d21e-0

[2017-08-23 05:54] #1659 closed

[2017-08-23 10:54] govint opened #1804 "Admin CLI errors out without args."
The recent change to the admin CLI seemed to have cause the script to fail with an error vs. posting the usage when run without args:

/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py
Traceback (most recent call last):
  File "/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py", line 1477, in <module>
    main()
  File "/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py", line 72, in main
    if args.func(args) !

[2017-08-23 11:29] govint commented on #1786
@ashahi1 could you also post _config status_ from both source and destination hosts?  And list the vmgroups on both hosts. If config DB isn't copied over then it can't be helped. Needs to be documented that multi-tenancy isn't supported with SRM for now?

[2017-08-23 20:17] luomiao opened #1806 "vFile: tests to verify performance, functionality and robustness"
This ticket is used to track tests for verifying behavior and robustness of vFile volume plugin, before auto-testing is fully accomplished.

- [ ] **Test 1 (TBD post VMworld)
Purpose: achieve basic performance number of vFile plugin**
Setup: 3 nodes, 1 manager, 2 workers
Steps:
IOPS: latency/bandwidth for a single container read/write performance
IOPS: latency/bandwidth for two containers on the s

[2017-08-23 21:33] tusharnt commented on #1780
@shaominchen , @pshahzeb Can you please add the perf numbers after @venilnoronha's change went in.

[2017-08-23 21:39] luomiao opened #1807 "vFile: plugin is not enabled after node is reboot"
After a node is reboot:
[code]

Log:
[code]

vFile can be enabled again:
[code]

Log:
[code]

The reason might be due to the base plugin is not up yet. However the retry didn't continue even there are still attempts left. Need to explore the reason.

[2017-08-23 22:04] tusharnt commented on #1796
Closing this since the the remaining work of syncing up master and gh-pages branches is tracked by #1721

[2017-08-23 22:04] #1796 closed

[2017-08-23 22:25] divyenpatel commented on #1785
Closing this Issue
html pages will be updated during release.

[2017-08-23 22:25] #1785 closed

[2017-08-23 22:55] luomiao commented on #1776
Manually uploaded to cnastorage/vfile:latest-dev.
CI change TBD.

[2017-08-23 22:58] luomiao commented on #1748
@shivanshu21 cannot reproduce with latest master branch.

[2017-08-23 22:58] #1748 closed

[2017-08-23 23:02] luomiao commented on #1685
Need to explore if this is needed.

[2017-08-23 23:05] luomiao commented on #1683
SMB client could timeout if cannot find the remote server.
Need to explore if there is a parameter to control the timeout.
Or else, need to handle.

[2017-08-23 23:09] #1679 closed

[2017-08-23 23:09] luomiao commented on #1679
Included in userguide already.

[2017-08-24 00:02] luomiao commented on #1806
Test 4:
Purpose: Verify the behavior during single file transfer when file sharing server failover

Test command: `cp`
Test file: ubuntu16-docker17-06.ova
size: 2.02GB
Action: power off the node where file sharing server is running during cp operation in progress

The behavior is different according to the container's base image.

- Base image - centos:

`cp: failed to close '/dst/ubuntu16-docker1

[2017-08-24 00:03] shaominchen opened #1810 "Fix swarm certificate expiry issue in CI"
We recently ran into this failure in CI:

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
FAIL: swarm_test.go:46: SwarmTestSuite.SetUpSuite

swarm_test.go:58:
c.Assert(err, IsNil, Commentf(out))
... value *exec.ExitError = &exec.ExitError{ProcessState:(*os.ProcessState)(0xc42042fa60), Stderr:[]uint8(nil)} ("exit status 1")
... Error response from daemon: Swarm certi

[2017-08-24 16:02] lipingxue commented on #1797
**Type of Release:**
We plan to have two type of releases: edge release and stable release.

- edge release: will be released every month for users who want a drop of latest
- stable release:  will be release every 3 month for users who want to a stable version

**Nomenclature for release:**

 The Nomenclature for release will follow the format  ```major-version. minor-version.build-version.releas

[2017-08-24 17:29] tusharnt commented on #1664
This needs to be pulled back into master.

[2017-08-24 20:18] ashahi1 commented on #1786
@govint Yes, it's has been documented to Interop.md

[2017-08-24 21:24] ashahi1 opened #1812 "Automate document release steps"
Pushing the changes from gh-pages to vmware.github.io should be automated.
Steps are:
https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md#documentation

[2017-08-24 21:50] lipingxue commented on #1740
I am able to create a volume with space.

[code]

Then when try to mount the volume, I hit the following error:
[code]

The root cause is docker swarm does not allow to create a service with space included in the name.
[code]

[2017-08-25 02:24] shuklanirdesh82 commented on #1721
PR #1798 is bringing doc changes from vmware:master to vmware:gh-pages automatically.

Next step:

- [ ] 1. configure a vm to invoke cron job to run this script daily.

[2017-08-25 05:03] #1664 closed

[2017-08-25 12:59] #1804 closed

[2017-08-25 12:59] #1705 closed

[2017-08-25 14:49] #1712 closed

[2017-08-25 18:09] pshahzeb opened #1814 "Upgrading docker version in CI testbeds"
Currently we have two setups with 17.04 and 17.03 docker

17.04 should be upgraded to 17.06

17.03 should be upgraded to 17.03.02

With fix from #1811, all tests pass with docker 17.06. I verified on local testbed.

CC @tusharnt @shuklanirdesh82

[2017-08-25 18:43] #1779 closed

[2017-08-25 20:51] pdhamdhere opened #1815 "Unable to mount first shared volume"
Errors mounting very first volume and now log spews bunch of error though volume is deleted.

[code]
From vFile.log
[code]
I noticed smb container was running on different node after above errors.

Deleting volume using `docker volume rm` failed with "volume in use" error.

Removed smb container and then successfully remvoed volume.

However, log continues to spew errors;\
[code]

Restarted docker

[2017-08-25 20:53] lipingxue commented on #1740
The name of swarm service cannot include space, the valid swarm name must match this regex ```[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]```. For detail, check https://github.com/moby/moby/issues/31772

I will add this as a known issue in the user guide.

[2017-08-25 21:08] lipingxue commented on #1806
**Test3:**
Actually, I tested with smaller configuration with 6 VMs.
Configuration:
6 VMs in one swarm cluster, 3 VMs are assigned as manager and 3VMs are assigned as worker

**Steps:**
1. create 6 volumes using vFile driver, named testvol0... testvol5.
2. split 6 VMs into three groups, and each group includes 2 VMs, one VM will be served as a writer and the other will be served as a reader
3. For

[2017-08-25 21:20] pdhamdhere opened #1816 "Failed to mount vFile volume. Error: exit status 255 on Swarm master"
Setup: 3 node swarm cluster
Steps:
1. Try to start container using shared volume on *master*
2. Mount fails with `Failed to mount vFile volume. Error: exit status 255`

[code]

From vfile.log
[code]

CC / @luomiao @shivanshu21

[2017-08-25 21:25] pdhamdhere commented on #1816
FWIW, subsequent attempts succeeded.

[2017-08-25 21:39] lipingxue commented on #1816
In your case, the samba server is started successfully, but during the cifs mount, it returns error
[code]
We have never seen this error before.

[2017-08-25 23:31] luomiao commented on #1815
We have a garbage collector to kill and remove left-over services.
Even you see the volume still in use error, it's from the base plugin,
we will still continue delete the vFile volume.
And the garbage collector will eventually delete the service along with the internal volume.

Do you mean the errors will continue and won't stop?

[2017-08-25 23:33] luomiao commented on #1815
[code]
Even the volumes is not mounted due to timeout, the status should not be error.
I will look into this one.

[2017-08-25 23:56] shuklanirdesh82 commented on #1797
Some action items:

- [ ] CONTRIBUTING.md needs to be updated (https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md#cutting-a-new-release-guidelines)

- [ ] our customer facing document home page (http://vmware.github.io/docker-volume-vsphere/documentation/index.html) or FAQ page (http://vmware.github.io/docker-volume-vsphere/documentation/faq.html) about release should be u

[2017-08-26 00:08] luomiao commented on #1816
This looks like the node is not accessible when the mounting happens.
I'd say it might be a temporary issue with the node results in this error.
Did you see this error multiple times or just once?

[2017-08-26 00:10] #1740 closed

[2017-08-26 00:19] luomiao commented on #1815
The upcoming PRs https://github.com/vmware/docker-volume-vsphere/pull/1819 and https://github.com/vmware/docker-volume-vsphere/pull/1799 should be able to alleviate the symptom here.

[2017-08-26 03:02] #1791 closed

[2017-08-26 03:28] shuklanirdesh82 opened #1820 "Document windows plugin release process"
release steps for windows plugin are not documented at https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md#cutting-a-new-release-guidelines

we needs steps regarding build and upload windows plugin (required files) on to bintray.

/CC @shaominchen @tusharnt

[2017-08-26 03:29] shuklanirdesh82 opened #1821 "Document vFile plugin release process"
release steps for vFil plugin are not documented at https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md#cutting-a-new-release-guidelines

we needs steps regarding build and upload vFile plugin (required files) on to bintray or docker store.

/CC @tusharnt

[2017-08-26 05:42] #1766 closed

[2017-08-26 17:42] #1821 closed

[2017-08-26 19:02] #1807 closed

[2017-08-26 19:02] #1815 closed

[2017-08-26 19:11] pshahzeb opened #1825 "Document the setup required for contributing to windows plugin"
Document steps required to setup environment to contribute to the windows plugin
Explicit steps to download and install specific versions of

1. Windows VM
2. Docker
3. Go
4. MSVC 2015 Build Tools
5. MinGW-W64

Any additional steps required as appropriate.

[2017-08-26 19:22] #1700 closed

[2017-08-27 18:00] tusharnt opened #1829 "vFile : plugin installation intermittently fails"
On a setup on which vsphere plugin succeeds, vFile plugin install fails.

$ docker plugin install store/vmware/docker-volume-vsphere:latest —alias vsphere
Plugin "store/vmware/docker-volume-vsphere:latest" is requesting the following privileges:
 - network: [none]
 - mount: [/dev]
 - mount: [/var/run]
 - mount: [/etc]
 - mount: [/var/log]
 - allow-all-devices: [true]
 - capabilities: [CAP_SYS_ADMI

[2017-08-27 18:18] tusharnt opened #1830 "vFile : Replace references to cnastorage docker hub with vmware"
vFile plugin is now available on https://hub.docker.com/r/vmware/vfile/
All installation instructions need to be updated to point to vmware instead of cnastorage.

[2017-08-27 18:57] luomiao commented on #1829
This should already be addressed by:
https://github.com/vmware/docker-volume-vsphere/pull/1823

Please use latest vfile plugin at: vmware/vfile:latest.

[2017-08-27 18:57] #1829 closed

[2017-08-27 19:02] pshahzeb opened #1833 "Volume Get request issued by docker with empty volume name during docker restart"
Docker issues get requests with an empty volume name upon docker restart
See this log
[code]

PR #1828 did a temporary fix to return get volume right away in case of empty volume name. This needs further investigation to root cause and handle in a better way if required.

[2017-08-27 19:18] luomiao commented on #1830
Fixed by https://github.com/vmware/docker-volume-vsphere/pull/1831

[2017-08-27 19:18] #1830 closed

[2017-08-27 20:57] shuklanirdesh82 opened #1834 "Improve error message when config db is not initialized"
An error message should be improved when config db is not initialized, it is still suggesting to use `vmdkops_admin.py` even though we have esxcli integration now.

After esxcli integration with our vDVS driver(admin CLI) following message is not appropriate.

[code]

user will be confused easily by `Please init configuration with 'vmdkops_admin.py config init` even though it is possible to initia

[2017-08-27 21:36] shuklanirdesh82 opened #1835 "Admin CLI document needs some cosmetic changes."
Document link: https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/admin-cli.md

- [ ] `"--volume-totalsize" can also be set to the value other than unlimit when add privilege for special value "_VM_DS" and "_ALL_DS".`

what is "unlimit" word referring to? is it `Unset` or "unlimited"?

- [ ] Some part of the document is referring to "datastore1" which is not matching with

[2017-08-28 02:13] #1835 closed

[2017-08-28 17:54] pshahzeb commented on #1820
Closed through #1824

[2017-08-28 17:54] #1820 closed

[2017-08-28 17:55] pshahzeb commented on #1834
Closed through #1836

[2017-08-28 17:55] #1834 closed

[2017-08-28 18:35] luomiao opened #1839 "vFile plugin: base volume is getting deleted when ETCD is not functioning correctly"
When the ETCD is not accessible due to reasons like manager status change, garbage collector will not be able to get a list of volumes from kvstore.
In this case, garbage collector should stop instead of continuing to delete the base volumes.

[2017-08-28 23:35] luomiao opened #1844 "vFile plugin: volume create/rm stuck forever when ETCD is broken"
**What happened:**
When the ETCD cluster went to unhealthy mode due to reasons like quorum loss, `docker volume create` and `docker volume rm` with vFile driver will stuck forever.

**What you expected to happen:**
vFile plugin should return error with proper message indicating the status of ETCD or swarm cluster is unhealthy.

[2017-08-29 01:06] shuklanirdesh82 commented on #1647
As discussed offline following files and their references should be removed.

- [ ] https://github.com/vmware/docker-volume-vsphere/blob/gh-pages/jekyll-docs/photon.md
- [ ] https://github.com/vmware/docker-volume-vsphere/blob/gh-pages/jekyll-docs/photon-overview.md
- [ ] http://vmware.github.io/docker-volume-vsphere/documentation/photon.html

Reference:
![photon_ref](https://user-images.githubuse

[2017-08-29 01:08] shuklanirdesh82 commented on #1688
Haven't seen such issue in last one week. Please reopen if the issue will be reproduced.

[2017-08-29 01:08] #1688 closed

[2017-08-29 01:30] shuklanirdesh82 commented on #1765
Let's reopen if the issue will be reproduced.

[2017-08-29 01:30] #1765 closed

[2017-08-29 20:18] #1839 closed

[2017-08-29 21:22] shuklanirdesh82 opened #1847 ""Edit Me" link should point to vmware:master markdown files"
Currently "Edit me" links are pointing to gh-pages branch. We need to point this link to master document so that PR is generated against vmware:master and our automated script takes care such update automatically while generating github.io pages.

- [ ] make sure Edit me points to vmware:master/docs folder.

[2017-08-29 21:34] shuklanirdesh82 opened #1848 "gh-pages branch cleanup"
Let's remove unwanted files from gh-pages.

- [x] invalid MD files should be removed from jeckyll-docs and keep those files insync with vmware:master

- [x] remove unwanted images

- [x] remove unwanted yaml files from jeckyll-docs/_data

in short, go through jeckyll-docs and remove unnecessary stuff.

[2017-08-29 22:02] shuklanirdesh82 commented on #1759
we can do something following mentioned at #1370
"add `http://vmware.github.io/docker-volume-vsphere/documentation`/**latest** web site which updates nightly from master. Keep `http://vmware.github.io/docker-volume-vsphere/documentation` or `http://vmware.github.io/docker-volume-vsphere/documentation`/**stable** web site as the one which updates on release, from the tagged source.  "  --- Mark (Th

[2017-08-29 23:06] shaominchen commented on #1647
Issue fixed with 2 PRs:
1. https://github.com/vmware/docker-volume-vsphere/pull/1840
2. https://github.com/vmware/docker-volume-vsphere/pull/1846

[2017-08-29 23:07] #1647 closed

[2017-08-30 00:48] ashahi1 opened #1854 "Configure a vm to invoke cron job for script - update_GHpages.sh"
The idea is that the script to copy changes from vmware:master to gh-pages should be run daily.

[2017-08-30 00:49] ashahi1 commented on #1721
Filed a separate issue for creating a cron job - #1854

[2017-08-30 00:50] #1721 closed

[2017-08-30 03:30] #1797 closed

[2017-08-30 12:10] govint opened #1855 "Support user defined cloning of volume data from existing disks."
vDVS supports cloning a volume from an existing source volume.  This presently creates a complete copy of the source volume. To allow end users (dev typically) to clone just the data they need it should be possible to support a clone option that devs can use to provide a script of their own to clone specific data to a new target disk. The script would need to be able to take the source and destina

[2017-08-30 16:46] pshahzeb commented on #1855
Nice.
One customer had such a use case and resorted to [docker cp](https://docs.docker.com/engine/reference/commandline/cp/) command.
Would be good to see how multi-step process using docker cp is cut down if we introduce this feature.

[2017-08-30 17:43] ashahi1 opened #1856 "Fix documentation for cutting release on contributing.md"
@lipingxue it seems you have to resolve merge correctly.

[code]

[2017-08-30 21:31] #1792 closed

[2017-08-30 22:05] pshahzeb commented on #1833
Did a small hack to log error when volume name when empty in driver Get endpoint
[code]
This ensures that that we indeed get a Get request from docker and not that we issue a get as part of our workflow (with empty volume name).

Every time docker is restarted I can see one request with for empty volume name after we start listening to on vsphere.sock
[code]

If docker has volumes attached and the

[2017-08-30 22:06] pshahzeb commented on #1728
Duplicate of #1833

[2017-08-30 22:06] #1728 closed

[2017-08-31 06:48] govint commented on #1855
Docker cp helps copy data in or out of a container plus it won;t allow the devs to be able to make any modifications to the data the way they want to. There is a lot of leverage the dev can do with this proposed feature and it helps integrate storage ops (like creating a volume) into their data handling actions. Like, dev's app has collected data and they want to get a snap of that data into a new

[2017-08-31 18:37] #1856 closed

[2017-08-31 18:42] shaominchen commented on #1083
I've pretty much done the profiling of the admincli ls command. The main logic in this command is a function call named "generate_ls_rows", which contains a for loop to handle each volume one by one. So it is not surprised that the performance of this command will go up linearly - see the profiling data below:

`
100 volumes:
1532125 function calls (1527713 primitive calls) in 9.854 seconds
153212

[2017-08-31 20:39] shaominchen commented on #1083
Now let's dig into one specific profiling data, which is based on an execution against 500 volumes:

[code]

From above profiling data, we can see there are 2 major bottlenecks:

1. The code vmdkops_admin.py:725(get_policy) was executed 500 times and cost 20.400 seconds in total.
2. The code vmdkops_admin.py:751(get_metadata) was executed 500 times and cost 4.765  (or 6.173, including the diskLibL

[2017-08-31 20:48] shaominchen opened #1858 "Optimize vmdkops_admin.get_policy() function"
The command "vmdkops_admin volume ls" took around 28 seconds against a 500 volume setup. One of the major bottlenecks is the function vmdkops_admin.get_policy(), which took about 20 seconds to complete. We need to optimize this function to get rid of the biggest bottleneck.

Please refer to https://github.com/vmware/docker-volume-vsphere/issues/1083 for detailed performance analysis.

[2017-08-31 20:51] shaominchen opened #1859 "Optimize vmdkops_admin.get_metadata() function"
The command "vmdkops_admin volume ls" took around 28 seconds against a 500 volume setup. One of the major bottlenecks is the function vmdkops_admin.get_metadata(), which took about 6 seconds to complete. We need to optimize this function to get rid of the bottleneck.

Please refer to #1083 for detailed performance analysis.

[2017-09-01 07:45] govint commented on #1786
Checked SRM and the provisions existing today don't allow replicating specific files in an ESX host to a backup host. The config DB isn't replicated and in a DR scenario won't be available. The observed behavior is inevitable.

If backup and DR is a priority for the plugin then could consider options like a) create a feature that runs as a docker service  to pull local tenancy configuration and _p

[2017-09-01 22:22] ashahi1 commented on #1848
Addressed as part of issue #1861 and #1862

[2017-09-01 22:22] #1848 closed

[2017-09-05 20:00] ashahi1 opened #1864 "[CI] Failover test for swarm failed as vDVS was not running on the worker node after vm power-on"
CI: https://ci.vmware.run/vmware/docker-volume-vsphere/1569

Plugin and driver logs have been attached at the end.

Test log:
[code]

Logs:
[docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/1278717/docker-volume-vsphere.txt)
[vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/1278718/vmdk_ops.txt)

[2017-09-05 20:14] luomiao commented on #1844
Fixed by https://github.com/vmware/docker-volume-vsphere/pull/1850

[2017-09-05 20:15] #1844 closed

[2017-09-05 21:13] ashahi1 commented on #1864
@shaominchen Can you please take a look?

[2017-09-05 22:02] shuklanirdesh82 opened #1865 "Rearrange markdown files"
Reference: https://github.com/vmware/docker-volume-vsphere/issues/1370#issue-234384162

one action item is left to streamline our documentation effort.

Our existing markdown files should be organized into `docs/external` & `docs/internal` folder.

- [x] 1.  `docs/external`: docs/external/_all_stuff_we_need_for_doc_site_including_actual_content.
- [x] 2. `docs/internal`: We can keep docs/internal

[2017-09-05 22:19] shaominchen commented on #1864
Anup and I debugged this issue. After VM was powered off and then powered on, it took about 2.5 minutes for the vDVS plugin to get up and running. Here are the plugin logs:

[code]

From above logs, we can see that the plugin was terminated at 21:50:16, and then was fully back and running at 21:52:54. From e2e test logs, we can see that we stopped polling at 21:52:25 before the plugin is back runn

[2017-09-05 22:24] shaominchen commented on #1864
My suggestions:
1. Bump up the timeout of IsVDVSRunning from 90 seconds to 180 seconds
2. Bump up the e2e timeout threshold value from 50m to 60m

Since now e2e will take ~60m to complete, we may want to move some long running test cases out of the precheckin group.

[2017-09-05 22:25] shaominchen commented on #1864
@ashahi1 will generate a PR for this issue.

[2017-09-06 04:13] shuklanirdesh82 commented on #1814
CI testbed VMs are upgraded with the required docker version.

[2017-09-06 04:13] #1814 closed

[2017-09-06 06:03] govint commented on #1794
@frjaraur I'm closing this issue unless there is a problem with installing the plugin via _docker plugin install_. Please let us know if plugin install works fine with that.

[2017-09-06 06:03] #1794 closed

[2017-09-06 06:25] govint commented on #1786
@ashahi1 @tusharnt, I'm repro'ing the options below, we can review and agree on an approach.

1. Upgrade the ESX service to be configured with a backup (ESX host) to which it replicates config data. the ESX service on a host replicates its config DB to the backup host. Since SRM today doesn't handle something like this. Nor is it possible to include specific services to be mirrored between nodes.

[2017-09-07 02:53] shuklanirdesh82 opened #1869 "ImportError: No module named esxcli.Session"
CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1579
[code]

/CC @ashahi1

[2017-09-07 02:55] shuklanirdesh82 commented on #1869
The failure is observed on our master so keeping P0 to triage, if necessary please adjust the priority after triaging .

[2017-09-07 10:16] govint opened #1870 "Volume date incorrect for a vfile volume"
Created a volume via the vfile driver and it created the volume, inspect shows in correct date though.

docker plugin ls
ID                  NAME                DESCRIPTION                           ENABLED
49d7cc1ded23        vsphere:latest      VMWare vSphere Docker Volume plugin   true
84b927e50e98        pivot:latest        VMWare vFile Docker Volume plugin     true

docker volume create -d pi

[2017-09-07 16:57] #1858 closed

[2017-09-07 17:11] pshahzeb commented on #1869
This is a failure while executing esxcli binary itself; which is a python script. Occurred on esx box with ESX 6.0. Trying to reproduce.

[2017-09-07 17:47] ashahi1 commented on #1864
Fixed as part of PR #1866

[2017-09-07 17:47] #1864 closed

[2017-09-07 18:15] shuklanirdesh82 commented on #1869
[code]

As discussed offline, we should introduce some wait time between vib installation and hostd restart to register esxcli namespace (`guestvol`).

[2017-09-07 18:20] pshahzeb opened #1872 "Investigate/Optimize overhead of using admin commands through esxcli"
Usage of admin commands through esxcli seems to have increased the command latency a bit. This builds up and is evident through e2e tests which fire multiple admin commands over ssh.

This needs investigation and if possible optimize the latency of commands.

[2017-09-07 20:25] luomiao opened #1873 "Investigate possibility to use systemd to manage ETCD services"
Currently vFile plugin manage ETCD services by os/exec and Process.Kill():
[code]
[code]
This requires the plugin to handle the ETCD data directory clean up and so on.
Using systemd to manage ETCD services should be able to achieve better resource allocation automatically.

[2017-09-07 20:26] lipingxue commented on #1870
Hi Govindan,
  Have you seen this with the top of the tree? I cannot reproduce it with the top of the tree.
1.  create a volume using vfile plugin
[code]
2. inspect the volume, no field ""CreatedAt" is displayed
[code]

3. inspect the internal volume
[code]
Please let me know if you still can reproduce it with top of the tree.

[2017-09-07 20:26] lipingxue commented on #1870
@govint

[2017-09-07 23:07] luomiao opened #1874 "Add warning during installation when users are using a wrong docker version"
vFile plugin requires docker version higher or equal to 17.06.
With docker 17.03, removing vFile plugin (or other plugins) will result failure with the rest of the plugins.
Since we won't be able to do anything when the plugin is deleted, at least we should print out some warning message during the installation, if the docker version does not meet the requirement.

[2017-09-08 06:02] pshahzeb commented on #1872
Following result shows accumulation of overhead when I ran one admin command i.e. vmgroup ls in a loop 50 times.

[code]

[code]

Then running esxcli based admin command
[code]
[code]

Profiling info of a single command for ```esxcli storage guestvol vmgroup ls```

[code]

There isn't an obvious bottleneck here. The actual command (vmdkops_admin.py vmgroup ls) gets executed through ```_Execute```

[2017-09-08 12:07] govint commented on #1870
I installed the vFile:latest via docker plugin install, not the ToT.  If its solved in the current code then this should be closed.

[2017-09-08 12:07] #1870 closed

[2017-09-08 18:31] shaominchen commented on #1872
Great analysis! So it confirms that esxcli does increase the command latency quite a lot. One single esxcli call takes about 0.736 second (including profiling overhead), which seems quite slow.

Based on above profiling logs, I don't think we can do much on our side. One thing we can do is to send a query to esxcli team to confirm if this latency is expected or not. As a wrapper for underlying cmd

[2017-09-08 19:05] govint commented on #1872
is the latency owing to having a script based plugin for admin CLI via esxcli vs. builtin? That may explain the timing?

[2017-09-11 10:20] urkl opened #1876 "Resize volume"
Hi.

Is there any procedure about resizing vsphere volume mounted to container?

[2017-09-11 10:55] govint commented on #1876
@urkl, no there is no way resize a volume mounted to a container. Nor is it feasible, presently, to resize a volume as Docker volume plugin API doesn't allow modifying properties for an existing volume.  Can you elaborate the use case you have in mind for this ask.

[2017-09-11 11:03] urkl commented on #1876
@govint, thanks for replay. We have containerized process for storing some small images to persistent volume. And of course, we run out of space.

[2017-09-11 18:58] pshahzeb commented on #1731
[code]

From https://support.microsoft.com/en-us/help/4034825/features-that-are-removed-or-deprecated-in-windows-10-fall-creators-up

[2017-09-11 19:03] shuklanirdesh82 commented on #1731
@pshahzeb Shouldn't we close this issue and mark is as `wontfix`? As per (https://support.microsoft.com/en-us/help/4034825/features-that-are-removed-or-deprecated-in-windows-10-fall-creators-up) I guess the support is removed for ReFS.

[2017-09-11 19:03] pshahzeb commented on #1731
Yes. We can.

[2017-09-11 19:03] #1731 closed

[2017-09-11 19:11] pshahzeb commented on #1872
May be we can achieve a bit better number through builtin but not much.
See below profiling of esxcli system time get which is served through native code

[code]
The actual execution in _Execute takes less time. There is still overhead.

The script based plugin is read when hostd comes up and namespace is made available. So I think at the end of the day, while executing a command, the builtin and

[2017-09-11 20:45] luomiao opened #1877 "Placeholder for code changes to handle plugin upgrade for vFile"
Currently users need to stop the plugin on every node in a right order (worker -> manager -> leader) before re-install the plugins.
Need handle code for a hot upgrade.

[2017-09-11 21:04] shaominchen commented on #1780
We are putting 2 days for investigation of this issue. Will file separate issues if parallel execution can be achieved.

[2017-09-11 21:07] pshahzeb commented on #1714
This is neither correctness, nor customer facing.

[2017-09-11 21:21] pshahzeb commented on #1553
Let's investigate the final action items for this performance enhancement and file separate issue if need be.

[2017-09-11 21:25] shaominchen commented on #1038
This is not one of the main themes for the next few sprints. Moving to future for now.

[2017-09-11 21:25] pshahzeb commented on #1833
@govint
Should we file issue with docker to confirm this behavior?

[2017-09-11 21:26] shaominchen commented on #1083
The biggest bottleneck has already been addressed (#1858). The other one (#1859) is low priority for now. So moving to future.

[2017-09-11 21:44] lipingxue opened #1878 "vFile beta task list"
Testing (Perf/scale/feature stress)

  - [x] Modify deploy script to deploy vFile plugin on docker host: #1684
  - [ ] Have CI testbed for vFile, and enable existing e2e test for vFile  to run in CI (Need Anup or Nirdesh to bring up the testbed in CI) #1776
  - [x] Review current tests we have for vFile, and figure out new tests that need to be added:  #1806
  - [ ] Configure CI testbed setup with

[2017-09-12 00:07] pshahzeb commented on #1869
At times saw this warning after hostd restart.
[code]

I think the reason is hostd isn't complete stable and we do
```localcli --plugin-dir=/usr/lib/vmware/esxcli/int sched group list```
to check if vmdkops service is properly configured.

The warning
[code]
is always visible when you restart hostd on ESX 6.0

Are these warnings safe to ignore?

[2017-09-12 11:49] govint commented on #1872
[esxcli-time.txt](https://github.com/vmware/docker-volume-vsphere/files/1295801/esxcli-time.txt)
[admincli-time.txt](https://github.com/vmware/docker-volume-vsphere/files/1295800/admincli-time.txt)

Ran the script on a setup with just the default vmgroup and no config,

 /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py config status
DB_Mode: NotConfigured (no local DB, no symlink to shared DB)
DB_Shar

[2017-09-12 12:15] govint commented on #1872
Created five more vmgroups (no VMs in them) and tried the same test, again no real difference between admin CLI and esxcli
[esxcli-withDB-5vgs.txt](https://github.com/vmware/docker-volume-vsphere/files/1295875/esxcli-withDB-5vgs.txt)
[admincli-withDB-5vgs.txt](https://github.com/vmware/docker-volume-vsphere/files/1295876/admincli-withDB-5vgs.txt)

[2017-09-12 12:27] govint commented on #1786
Closing this issue as SRM doesn't support arbitrary services on ESX (only VMs) and thats not going to change at all for vSphere. Earlier update suggesting a different approach to vmgroup based tenancy can be a separate issue.

[2017-09-12 12:27] #1786 closed

[2017-09-12 13:57] govint commented on #1833
@pshahzeb, agree, i was able to repro this behavior with  17.07.0-ce. The daemon is getting the volumes and drivers from its DB and attempting a Get() on the driver and in this case with a null volume name.

INFO[0001] time="2017-09-12T06:51:54-07:00" level=warning msg="Failed to load config file /etc/docker-volume-vsphere.conf: open /etc/docker-volume-vsphere.conf: no such file or directory"   pl

[2017-09-12 14:00] govint opened #1879 "Investigate enabling vFile plugin for docker EE"
Docker EE doesn't use swarm to manage the node cluster that runs the containers. Since vFile presently supports swarm based clusters, this issue is to address enabling vFile for clusters managed via docker EE.

[2017-09-13 04:12] govint commented on #1876
Closing this issue as there is no way presently to support volume resize. Will open a separate issue to investigate options to resize a volume via the admin-cli.

[2017-09-13 04:12] #1876 closed

[2017-09-13 04:19] govint commented on #1612
#1515 to create a test bed for a developer doesn't seem like its a much needed capability and users should be able to set up their workspaces of VMs by themselves. Moreover, developers (outside of the core dev. team) who want to run e2e tests (do they) would typically use a set up for a longer time vs. creating and discarding those setups often. I'm pushing this out to a future release unless this

[2017-09-13 04:32] shuklanirdesh82 commented on #1141
let's stick with simpler approach that means "Adding `[SKIP CI]` or `[CI SKIP]` at PR title i.e. first commit message while generating PR (##1213)"

required work is done, closing this issue as `wontfix`; please feel free to reopen with some details about the reason for not using simpler approach.

[2017-09-13 04:32] #1141 closed

[2017-09-13 04:35] govint commented on #1515
Moving this to future, deploying a couple of VMs and an esx and setting up swarm is easily doable and there are multiple tools that already allow a user to do that. I've got an implementation that uses govc to talk to the ESX host to create a setup, but its more involved than using VC directly or the vsphere client for that matter to deploy OVAs to an ESX host. I'm not seeing much benefit adding c

[2017-09-13 04:38] govint commented on #1043
Closing this issue, the user has the ability to use a smaller set of columns with the admin CLI command and whether its scripted or run manually its hardly an issue to specify the columns needed - which is why that option is there.

[2017-09-13 04:38] #1043 closed

[2017-09-13 04:40] govint commented on #1566
Closing, this is only for e2e test code thats not failing presently and the datastore configurations we use for the test doesn't require fixing this in anyway.

[2017-09-13 04:40] #1566 closed

[2017-09-13 04:43] govint commented on #1371
Closing this issue, the approach was to change the way admin CLI shares the ESX service code, but I don't see that changing any more and definitely not for addressing the scenario here.

[2017-09-13 04:43] #1371 closed

[2017-09-13 04:51] govint commented on #1149
This isn't for performance improvement, its only to avoid misleading the user on what datastores they have access to.  On error _all_ datastores are listed like the user has access to those. But in reality they don't have access to anything outside of the vmgroup. But its not a critical bug to go fix. Closing.

[2017-09-13 04:51] #1149 closed

[2017-09-13 04:54] govint commented on #1502
Closing as this is more good coding style to avoid cluttering the code, but its already cluttered a bit in most places where command strings are formed. Not critical to change this in the test code. But a guideline when developing or updating test code.

[2017-09-13 04:54] #1502 closed

[2017-09-13 05:07] govint commented on #1493
Setting to _spiderman_. A typical developer use case would be for a developer to run a container to checkout code, do a sandbox build and publish binaries. The developer creates a non persistent disk of required size and runs the container with that. On container exit the disk is no longer needed and is released. Docker also has the option to create disks when a container is run, but user has no o

[2017-09-13 05:11] govint commented on #1469
@ashahi1, can you check the updates on the this issue and decide if this is something that can be documented vs. needing a code change to prevent vmgroup deletion.

[2017-09-13 06:29] govint commented on #1340
Moving to spiderman as this test involves a lot of scenarios for the default tenant and may not make it for raiki.

[2017-09-13 06:32] govint commented on #1335
@shaominchen, setting this issue to rafiki to start with, can you update if this will make it or re-assign to spiderman.

[2017-09-13 06:41] govint commented on #1329
Setting this to rafiki, needs a config with two ESX hosts with a single vSan DS and we can test the migration with govc.

[2017-09-13 06:42] govint commented on #1333
@shaominchen, setting release to rafiki, please evaluate if this can be done for spiderman.

[2017-09-13 06:43] govint commented on #1326
Setting to spiderman, may not be a critical test case to verify hence to spiderman.

[2017-09-13 06:47] govint commented on #1304
Setting to spiderman, the code isn't broken but needs to be enhanced when DS name isn't specified.

[2017-09-13 07:00] govint commented on #1230
@pshahzeb can you quickly confirm that this issue needs fixing, given the current code and the recent changes in the refcnt and mount logic. Setting to rafiki as it should be either fixed or dropped.

[2017-09-13 07:01] govint commented on #1197
Setting to rafiki, code isn't broken at this point and hence decide to fix or drop.

[2017-09-13 07:27] govint commented on #1166
Setting to rafiki to either close or resolve. Only the managed plugin is supported anymore for docker.

[2017-09-13 08:03] govint commented on #1011
@shuklanirdesh82 can you evaluate this issue and close or specify what more changes needs to be done.

[2017-09-13 08:06] govint commented on #967
@shuklanirdesh82 is this still an enhancement we want? Suggest drop unless its a must have.

[2017-09-13 08:07] govint commented on #921
This is what we have today and this issue seems to be fixed.

/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py
usage: vmdkops_admin.py [-h] [--output-format OUTPUT_FORMAT]
                        {config,policy,volume,status,vmgroup} ...

vSphere Docker Volume Service admin CLI

optional arguments:
  -h, --help            show this help message and exit
  --output-format OUTPUT_FORMAT

[2017-09-13 08:07] #921 closed

[2017-09-13 08:09] govint commented on #813
Pulling in this one to figure if there is an issue to address or not.

[2017-09-13 08:11] govint commented on #815
Pulling to spiderman, at the least this should be resolved/dropped by spiderman.

[2017-09-13 08:12] govint commented on #806
Closing this as newer e2e tests and issues are in use and efforts on to check how those can be optimized.

[2017-09-13 08:12] #806 closed

[2017-09-13 08:13] govint commented on #740
Closing and please check the e2e vmgroup tests and figure if any thing is missing there.

[2017-09-13 08:13] #740 closed

[2017-09-13 08:15] govint commented on #651
Closing and instead review vmgroup set of admin cli commands and raise a new issue if something is needed there similar to this.  Admin cli vmgroup set allows these:

/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup -h
usage: vmdkops_admin.py vmgroup [-h] {vm,create,update,ls,access,rm} ...

optional arguments:
  -h, --help            show this help message and exit

Administer and monitor vol

[2017-09-13 08:15] #651 closed

[2017-09-13 08:16] govint commented on #625
Good to have but not a feature that we absolutely need.

[2017-09-13 08:16] #625 closed

[2017-09-13 08:17] govint commented on #473
Closing as no takers till date.

[2017-09-13 08:17] #473 closed

[2017-09-13 08:18] govint commented on #442
Closing, adding a datastore to a vmgroup allows the feature that this issue was originally asking for.

[2017-09-13 08:18] #442 closed

[2017-09-13 08:19] govint commented on #441
No takers and not a critical feature to support.

[2017-09-13 08:19] #441 closed

[2017-09-13 08:21] govint commented on #202
This is closed via #1596

[2017-09-13 08:21] #202 closed

[2017-09-13 08:23] govint commented on #59
Closing this, CSI may address this ask, docker closed the issue raised on it to support volume updates in favor of CSI.

[2017-09-13 08:23] #59 closed

[2017-09-13 08:27] govint commented on #271
This isn't an ask for the plugin, supporting it needs work on the ESX side. Closed?

[2017-09-13 08:27] #271 closed

[2017-09-13 08:28] govint commented on #494
Closing as this message isn't observed now.

[2017-09-13 08:28] #494 closed

[2017-09-13 08:29] govint commented on #214
Setting future, v1.next can be deprecated.

[2017-09-13 08:30] govint commented on #64
Setting future milestone.

[2017-09-13 08:30] govint commented on #1153
Setting future milestone.

[2017-09-13 08:33] govint commented on #864
Closing, docker managed plugin allows a user to report the plugin version via docker plugin ls.

[2017-09-13 08:33] #864 closed

[2017-09-13 08:35] govint commented on #857
CI/CD logs are being collected as of #1085

[2017-09-13 08:35] #857 closed

[2017-09-13 08:35] govint commented on #821
Closing, not a requirement anymore.

[2017-09-13 08:35] #821 closed

[2017-09-13 08:41] govint commented on #439
Closing. Plugin works fine with current vmci integration

[2017-09-13 08:41] #439 closed

[2017-09-13 08:44] govint commented on #51
Docker volume info. is available via admin CLI and docker CLI. Backup config isn't supported for vDVS volumes. Stats is via docker stats. History data per volume doesn't have a use case.

[2017-09-13 08:44] #51 closed

[2017-09-13 09:28] govint commented on #1484
As a fix I'm proposing that if a VM can't be found locally then the VM will still be removed from the vmgroup. If the vm was deleted then this is the way to handle it. If the VM was moved then as far as a local config is concerned its still the way to handle the scenario. Cross ESX config isn't supported today and hence won't be considered.

[2017-09-13 13:20] govint opened #1882 "Investigate running the plugin and ESX service on VMC version of ESX"
This issue is to verify that the hatchway plugin is able to function on the VMC version of ESX. Specifically, the below items should be verified.

1. VMCI - does VMC support VMCI, since the ESX isn't supposed to be accessible as such, is this support present? If not then consider enabling alternate access to the ESX service (would something like #1079 help?).
1. Given users don't get to access the

[2017-09-13 17:08] #1812 closed

[2017-09-13 17:26] lipingxue opened #1883 "vFile: enable mount/unmount in e2e testing for vFile"

[2017-09-13 17:32] #1865 closed

[2017-09-13 17:36] govint commented on #1572
Moving to spiderman as this is not a bug and not breaking anything for the e2e tests.

[2017-09-13 17:37] tusharnt opened #1884 "Add Table of Contents for Contributing.md"
It's getting too big.

[2017-09-14 00:45] #1684 closed

[2017-09-14 21:13] shuklanirdesh82 commented on #1212
based on https://github.com/vmware/docker-volume-vsphere/issues/1212#issuecomment-300236648 ... adding `invalid` keyword

[2017-09-15 12:47] govint commented on #1484
Fixing via #1887

[2017-09-15 18:58] pshahzeb commented on #1738
The id (device signature) captured (as shown in description) cannot be

[code]

[code]

This is the id that needs to be further used with Set-Disk, Initialize-Disk command with flag -UniqueId.
ex:
[code]

Using device signature won't find the device (disk)
[code]

But the first question is can disk Index cause collision?
Disk number is the default and easy way to identify disks
Windows numbers the

[2017-09-15 19:09] shaominchen commented on #1738
I agree. Using UniqueId looks not straightforward. We can stick with DiskNumber for now unless there's a right reason to change.

[2017-09-15 20:30] #1738 closed

[2017-09-15 22:18] ashahi1 commented on #1329
All the migration related tests have already been performed and also updated under Interop.md
https://github.com/vmware/docker-volume-vsphere/blob/master/docs/external/Interop.md

[2017-09-15 22:19] ashahi1 commented on #1329
Closing this PR

[2017-09-15 22:19] #1329 closed

[2017-09-18 21:53] ashahi1 commented on #1847
Fixed as part of PR #1885

[2017-09-18 21:53] #1847 closed

[2017-09-19 08:16] #1484 closed

[2017-09-19 20:45] shuklanirdesh82 commented on #1329
Adding `invalid` keyword. This issue was meant for test automation, as per https://github.com/vmware/docker-volume-vsphere/issues/1329#issuecomment-329917139 vDVS is not supporting such workflow. We shall create a new issue when vDVS start supporting vm migration workflow.

/CC @ashahi1

[2017-09-20 17:53] tusharnt commented on #1658
This needs to be an epic.

[2017-09-20 18:58] lipingxue commented on #1883
Fixed by https://github.com/vmware/docker-volume-vsphere/pull/1880

[2017-09-20 18:58] #1883 closed

[2017-09-20 19:15] govint opened #1891 "Support resizing a vDVS volume"
We have had the request from users to be able to resize a vDVS volume, the most recent of which indicated a use case where vDVS volume was itself used to store images. This and more use cases seem to make it useful to support the option to resize via the admin CLI (for now) till docker/CSI enables this feature (if they do). The resize itself is done with vmkfstools -X.

Setting as a P2 for now, ca

[2017-09-20 19:24] govint commented on #1876
@urkl, just curious, does it help to create a thin volume of a _large_ capacity (say a 1TB volume) and use that for your usecase? The storage is anyway allocated as needed and  most likely the volume won't need to be resized over time. Resizing a volume entails extending the partition or creating a new partition and formatting it, which can be avoided with a large thin disk.

[2017-09-21 18:07] lipingxue commented on #1806
Test1 Result:
I use "fio" to test it, please see the following result.

- A single container

|Access Pattern | IOPS |Bandwidth|
| ------------- | ------------- |------------- |
| RandWrite4K| 370|1482.2KB/s  |
| RandWrite8K | 358| 2865.8KB/s |
| RandWrite16K | 304 | 4867.2KB/s |
| RandWrite32K | 292  | 9359.5KB/s |
| RandRead4K| 1003  |4014.5KB/s  |
| RandRead8K | 898  | 7190.1KB/s |
| RandRead16

[2017-09-21 20:59] luomiao opened #1892 "Document requirement of opening ETCD ports"
Although ETCD ports are automatically opened on Ubuntu nodes, they are by default rejected on photon OS.
Need to document the requirement to use iptables to open ETCD ports if users faced cannot create etcd client error.

[2017-09-21 21:59] lipingxue commented on #1806
I tested vFile volume create/inspect/mount/remove, the following is the result.
Test Configuration: 3VM, each VM has 1GB memory and 16GB disk, 3VM are in a swarm cluster, 1 VM is the master and the other two are workers.

I tested with 60 volumes with 100MB size

|Operation| Avg |Min|Max|
| ------------- | ------------- |------------- |------------- |
| Create| 3.87s|3.40s  | 4.58s|
| Inspect | 0.

[2017-09-22 04:46] shaominchen commented on #1656
This issue cannot be reproduced:
[code]
This issue must have already been fixed in previous changes.

[2017-09-22 04:46] #1656 closed

[2017-09-22 06:32] shuklanirdesh82 commented on #1462
not observed such issue, please reopen if you come across again with more details.

[2017-09-22 06:32] #1462 closed

[2017-09-22 06:54] shuklanirdesh82 commented on #553
As we have `update_gh_pages.sh`script in place, it should be added to tagging target to accomplish the task.

@ashahi1 I am parking with you let me know if you have any concern. (estimating 1.5 day please adjust as per need)

[2017-09-22 16:50] shaominchen opened #1894 "Avoid static sleeping in e2e test"
There are quite a few static sleeping (5-15 seconds) in vmlistener_test, which will potentially increase the total running time of e2e test and lead to instability to some extent.

[2017-09-22 17:30] shuklanirdesh82 opened #1895 "vDVS driver coverage data is missing"
CI link: https://ci.vmware.run/vmware/docker-volume-vsphere/1593

[code]

[2017-09-22 17:58] pshahzeb opened #1896 "Clean logging during Service Instance creation failure"
When si creation is failed (hostd is down). The log dump is a mess.
This is valid case and we retry to create si (connect to hostd). However, the log during failure needs to be systematically dumped.

Right now its something like
[code]

[2017-09-22 19:31] #1702 closed

[2017-09-22 21:29] lipingxue opened #1897 "vFile: GC should not remove orphan internal volume"
Currently, GC removed orphan service and orphan internal volume. It will cause some issue.
For example:  two ESX shared 1 datastore, one each ESX, we have a swarm cluster running.  When the first swarm cluster create a volume "aaa", an internal volume "_vf_aaa" will be created on the shared datastore. Then for the second swarm cluster, only internal volume "_vf_aaa" is visible, and it think "_vf_a

[2017-09-22 21:33] lipingxue opened #1898 "vFile: Add a known issue about how to clean up the volume after failed mounting"
After volume mount failed, the "Volume Status" will in "Error" status.  User cannot recover from this state, and need to remove this volume completely. We need to document this as a known issue.

[2017-09-22 22:04] shuklanirdesh82 commented on #967
closing this issue as we have a way to capture `tenant (vmgroup)<->list[VMs]` association

[2017-09-22 22:04] #967 closed

[2017-09-22 22:16] shuklanirdesh82 commented on #1011
This issue was meant for enhancing the existing test to use ssh way of making call (to keep in sync with other tests) instead of TCP connection for communicating to docker daemon.

More over, person has to configure test VM to open port `2357` to let vms talk among over tcp.

I think we may close this issue having it said we have test bed deployment automation script and no more issue while using

[2017-09-22 22:16] #1011 closed

[2017-09-22 22:23] shuklanirdesh82 opened #1899 "Need more testbed setups on CI ESX machine"
Currently we have only one testbed setup with the following configuration.

Testbed configuration:
**2 ESX VMs**: 6.5 & 6.0 U2 ESX
**Datastore**:
1. VSAN & VMFS for ESX 6.5
2. VSAN & VMFS for ESX 6.0 U2

** Test VMs **
1. 4 VMS on ESX 6.5 (2 VMs on VMFS and 2 on VSAN datastore where 1 photon and 1 ubuntu each)
2. 4 VMS on ESX 6.0 (2 VMs on VMFS and 2 on VSAN datastore where 1 photon and 1 ubuntu e

[2017-09-24 15:56] CollinChaffin commented on #1315
I am confused as to why this issue would be closed.  I had to literally search all the CLOSED issues to find this reference to this issue and it is absolutely a bug!  When compose supports but then vomits and cannot simply parse the fully supported default naming format that the fully supported vsphere volume driver uses, and that docker itself uses and itself displays when issuing a "docker volum

[2017-09-24 16:50] CollinChaffin commented on #1315
I wanted to post my current (I have tested several) compose files that seems to match the posted "workaround" from above.  I just want ANY way right now to create a VMDK-backed vSphere volume for persistence (which works today), and then actually USE it in Docker.

[code]

The above posted config actually gives me this error:
[code]

If I change it to this (the official docs show "true" as a requi

[2017-09-24 19:27] msterin commented on #1315
Please do not close issue before the fix is verified (unless you close as _won't fix_ or _not an issue_) .
https://github.com/docker/cli/pull/306 is indeed claims that `vol@daatastore` now works fine.
//CC @lipingxue @tusharnt

[2017-09-24 21:09] CollinChaffin commented on #1315
Thanks so much @msterin!  I swear I have tried every combination now (including the OP's original approach of using standard syntax with full volume name including the "@") before and after the upgrade to 17.09rc3 but just to be safe and re-config it for you, I wanted to carefully run through once each step and provide all the output in case it is somehow anything on my end (and if not - help you

[2017-09-25 02:10] CollinChaffin commented on #1315
Unbelievable.  So I am on about hour number twelve of trial and error and I can definitively say that I have found a workaround and some definitive answers.  Hopefully you Docker guys can still detail if/when this is/was fixed and does/will not require this workaround but hopefully this testing I have done will further assist you in pinpointing the root cause of this issue #1315.

In my test case,

[2017-09-25 17:57] lipingxue commented on #1315
@CollinChaffin Thanks for your feedback and detailed test. According to this release notes, the fix docker/cli#306 has been included in build 17.09.0-ce. I will try to verify with this new ce build.
Another issue I noticed in your example is the "version" in compose file is "2", could you try "3.4"  which the fix is supposed to work in this compose version.

[2017-09-25 19:29] shuklanirdesh82 opened #1902 "Allow more than one CI builds to run"
Right now [validate-and-serialize.sh](https://github.com/vmware/docker-volume-vsphere/blob/master/misc/drone-scripts/validate-and-serialize.sh) is restricting to have only one run get going as we have only 1 testbed to run against.

We need some changes to the above script to make PR wait time can be reduced.

Script should be configurable as per number of testbeds in place.

[2017-09-25 20:52] luomiao commented on #1806
Stress test: repeat creating and mounting vFile volumes.

**1 node situation (1 manager)**:
Creating of vFile volumes failed at around **40** volumes with error:
`VolumeDriver.Create: Failed to place new disk - The maximum number of supported volumes has been reached.`

**3 node situation (1 manager, 2 workers)**:
The vFile file server services are placed on the three nodes in a round robin way.
C

[2017-09-25 20:56] luomiao opened #1903 "vFile: when failed to create the internal vDVS volume, should not create a local volume instead"
In current version of vFile plugin, when there is an error creating the internal vDVS volume, such as, the maximum supported number of vDVS volumes is reached, vFile plugin will go ahead create a local volume instead.
This is not an expected action since users are expecting the volumes from required internal plugin only. A local volume instead of vDVS volume can result in unexpected errors or resu

[2017-09-25 20:57] #1806 closed

[2017-09-25 21:19] ashahi1 commented on #1895
Fixed this issue. We now see the driver coverage. It's 69%
[code]

[2017-09-25 21:19] #1895 closed

[2017-09-25 21:43] lipingxue commented on #1315
I have verified the with docker 17.09.0-ce-rc3, the fix to docker/cli#306 has been included in this build and it works as expected.
Please see the following example:
[code]
Deploy a stack using the above yaml file:
[code]

After stack deploy, volume "postgres_vol@sharedVmfs-1" has been created by vSphere driver as expected.
[code]
Wait for a while, check the service
[code]

[2017-09-25 21:45] lipingxue commented on #1315
@CollinChaffin, we don't need the workaround now as I have verified the fix above. Could you try it at your side and let me know if you have any question? Thanks!

[2017-09-25 21:48] msterin commented on #1315
@lipingxue  - thanks for validating. It looks like the main damage was from closing the issue too early and referring the wrong version (above: `This has been fixed through docker/cli#306, and will be available on docker 17.08.0.`).  As I mentioned, going forward let's close issues only after validating with the proper version.

@CollinChaffin - sorry about the headache, please let us know if 17.0

[2017-09-26 08:38] urkl commented on #1876
@govint  yes we were considering this option, but what when storage gets over 1T...
Our solution is creating storage pool in our service.

[2017-09-26 16:29] pshahzeb commented on #1708
Debugging the CI failure for PR #1893

[2017-09-26 18:00] lipingxue opened #1905 "Add documentation about full volume name "vol@datastore" can be used in compose file"

[2017-09-26 22:09] #1905 closed

[2017-09-27 22:01] lipingxue commented on #1879
@govint Could you elaborate the value/reason why vFile plugin should support docker EE as well?

[2017-09-27 23:53] ashahi1 opened #1909 "[Windows VM] Writing data to the volume using docker run command fails"
I am using windows vm for executing the test

Steps:
1. Created a volume from windows docker vm
2. Tried to attach the volume to the container and write data to the volume using docker run command - Failed with error:  The system cannot find the path specified.

Logs have been attached at the end

------------------------------------------------

Detailed steps and their output are as follows:

1.

[2017-09-27 23:55] ashahi1 commented on #1909
@pshahzeb or @shaominchen Can someone please take a look at this issue?

[2017-09-28 05:26] govint commented on #50
Moving all v1.next to Future as done for remaining issues.

[2017-09-28 06:07] govint commented on #62
This is a must have and must be slotted in post kubecon sprint.

[2017-09-28 06:18] govint commented on #214
As discussed, this feature is tentatively targeted for Kubecon.

Todo - identify exactly how SDRS applies to container volumes and develop how its leveraged/managed(??) from the container orch. layer.

[2017-09-28 06:31] govint commented on #275
This may not be doable to include a constraint on every VM, but frankly mgmt. workflows that integrate containers into vSphere don't exist today. The ESX service VIB should really become part of the vSphere platform as a way to expose a storage provisioning interface for vSphere storage to use or its deprecated in favor of a VC based way of doing this. Precluding any compat checks. The VC way is p

[2017-09-28 06:33] govint commented on #291
@lipingxue, can you review the current way in which the VMCI libs are used (based on changes for skylight) and close/retain this issue.

[2017-09-28 06:41] govint commented on #307
There is a way to specify which columns to be printed in the _volume ls_ command, suggest reviewing that with this ask and close appropriately.

[2017-09-28 11:03] govint commented on #1879
This was discussed earlier as something to investigate to figure out supporting the vFile plugin on platforms that don't necessarily use swarm as the cluster manager. Users on Docker EE would surely use stateful containers and with vSphere hosts they would need to be supported. Especially those that need shared volume support for containers.

[2017-09-28 17:22] shaominchen commented on #1255
Both blocking issues were closed, so we should be able to work on this issue.

This is useful for improving developer's productivity, but not a mustfix for Kubecon release.

[2017-09-28 18:43] shaominchen commented on #1258
Correctness issue - must fix for Kubecon release.

[2017-09-28 18:49] shaominchen commented on #1268
CI improvement - must fix for Kubecon release.

[2017-09-28 19:32] govint commented on #1038
@tusharnt @shuklanirdesh82 @shaominchen - this looks like a must fix for kubecon sprint, as more and more users adopt the vDVS plugin its best we at least have some telemetry support added to start with.

[2017-09-28 19:36] govint commented on #1122
Not a common scenario to have users creating a lot of volumes in parallel - 10 threads each creating 75 volumes isn't common at all.

[2017-09-28 19:38] govint commented on #1166
We have had at least one customer who wanted an RPM for the plugin. Lets fix this as its already documented that the managed plugin is the only format supported.

[2017-09-28 19:45] govint commented on #1408
Unsetis just a default, once that is changed, then user can set what they believe is a max size for a volume they want- max thats supported is 64TB anyway, so there is nothing like _unlimited_ size.

[2017-09-28 19:45] #1408 closed

[2017-09-28 19:47] govint commented on #1409
Setting mustfix because this is causing a code exception for user input which has to be fixed.

[2017-09-28 19:47] govint commented on #1437
Closing this as not reproduced.

[2017-09-28 19:47] #1437 closed

[2017-09-28 19:50] govint commented on #1469
Setting mustfix as the issue is resulting in an inconsistency where volumes can't be deleted by the user (leaks storage) because of wrong user actions in being able to delete the vmgroup without removing the volumes.  Document or code, lets resolve this.

[2017-09-28 20:15] #1073 closed

[2017-09-28 20:24] luomiao opened #1910 "vfile: update documentation with supported limits (derived from performance and stress testing)"
We have done several performance and stress tests for vFile plugin at: https://github.com/vmware/docker-volume-vsphere/issues/1806

We need to update those results in userguide accordingly.

[2017-09-28 20:32] luomiao opened #1911 "Enable CI Test for vFile plugin: resolving current bugs"
https://ci.vmware.run/vmware/docker-volume-vsphere/1625

Basic tests for vFile CI testing failed with error:
FAIL: basic_vfile_test.go:80: BasicVFileTestSuite.TestVolumeLifecycle

basic_vfile_test.go:91:
    c.Assert(err, IsNil, Commentf(out))
... value *exec.ExitError = &exec.ExitError{ProcessState:(*os.ProcessState)(0xc42013afa0), Stderr:[]uint8(nil)} ("exit status 125")
... e09e2b3c49ece11dbd55

[2017-09-28 20:41] luomiao opened #1912 "vFile: use systemd to manage ETCD services"
According to the investigation result of: https://github.com/vmware/docker-volume-vsphere/issues/1873

Implement systemd of ETCD services for vFile plugin runc container.

[2017-09-28 20:58] shaominchen commented on #1269
CI improvement - mark as mustfix.

[2017-09-28 21:02] shaominchen commented on #1274
We need to first figure out how many test scenarios are being blocked by this. If there are a lot, we should mark this as mustfix, as it impacts code coverage.

[2017-09-28 21:03] shaominchen commented on #1279
@shuklanirdesh82 Can you please clarify how many P0 tests are being blocked by this? If there are a lot, we need to mark this as mustfix as it impacts code coverage.

[2017-09-28 21:05] shaominchen commented on #1170
Document should be finalized regarding CI testbed configuration.

[2017-09-28 21:06] shaominchen commented on #1280
This is useful, but doesn't seem to be mustfix for Kubecon release.

[2017-09-28 21:11] shaominchen commented on #1301
This will improve the total running time of e2e test, but not a must fix for Kubecon.

[2017-09-28 21:19] shaominchen commented on #1304
Seems a non-critical correctness issue - mark as mustfix for Kubecon.

[2017-09-28 21:19] shaominchen commented on #1314
Code improvement - not a mustfix for Kubecon.

[2017-09-28 21:22] shaominchen commented on #1323
This CI improvement can potentially improve developer productivity significantly. Marking as mustfix for Kubecon.

[2017-09-28 21:24] shaominchen commented on #1319
Code coverage related - mustfix for Kubecon.

[2017-09-28 21:33] shaominchen commented on #1317
Improving code coverage - marking as mustfix for Kubecon.

[2017-09-28 21:34] shaominchen commented on #1316
Improving code coverage - marking as mustfix for Kubecon.

[2017-09-28 21:40] shaominchen commented on #1333
The test scenario is not finalized yet and needs further discussion. Not a mustfix for now.

[2017-09-28 21:40] shaominchen commented on #1334
The test scenario is not finalized yet and needs further discussion to clarify. Not a mustfix for now.

[2017-09-28 21:40] shaominchen commented on #1335
The test scenario is not finalized yet and needs further discussion to clarify. Not a mustfix for now.

[2017-09-28 21:44] shaominchen commented on #1337
Seems like basic test scenario that can improve code coverage - marking as mustfix for Kubecon.

[2017-09-28 21:44] shaominchen commented on #1338
Seems like basic test scenario that can improve code coverage - marking as mustfix for Kubecon.

[2017-09-28 21:45] shaominchen commented on #1339
Seems like basic test scenario that can improve code coverage - marking as mustfix for Kubecon.

[2017-09-28 22:18] shaominchen commented on #1340
Seems like basic test scenario that can improve code coverage - marking as mustfix for Kubecon.

[2017-09-28 22:24] shaominchen commented on #1357
Correctness issue - marking as mustfix for Kubecon release.

[2017-09-28 22:25] shaominchen commented on #1358
This is nice to have.

[2017-09-28 22:31] shaominchen commented on #1363
VC event integration - marking as mustfix for Kubecon.

[2017-09-28 22:33] shaominchen commented on #1362
Seems a serious issue that we need to figure out.

[2017-09-28 22:34] shaominchen commented on #1365
Test code improvement - not a mustfix for Kubecon.

[2017-09-28 22:37] shaominchen commented on #1456
Improving code coverage.

[2017-09-28 22:56] shaominchen commented on #1479
@ashahi1 Does this issue still exist?

[2017-09-28 22:58] shaominchen commented on #1485
Correctness issue, since we allow user to delete default vmgroup.

[2017-09-28 23:32] shaominchen commented on #1491
Seems basic testing scenario that should be added to improve code coverage.

[2017-09-29 17:29] shuklanirdesh82 commented on #307
As we have esxcli integration and it supports various formats, I am closing this one.

Esxcli help
[code]

**Default** output
[code]

**CSV**

[code]

**keyvalue** format
[code]

**XML** format
[code]

[2017-09-29 17:29] #307 closed

[2017-09-29 17:38] shuklanirdesh82 commented on #1268
The idea behind this issue was to make parallel run using drone matrix. Drone 0.4 does support matrix to invoke test but it is not applicable to our strategy. We are using snapshot functionality to reset testbed.

There is already an improvement issue https://github.com/vmware/docker-volume-vsphere/issues/1323 so closing this as invalid.

[2017-09-29 17:38] #1268 closed

[2017-09-29 17:45] shuklanirdesh82 commented on #1479
test cleanup issue adding `mustfix` (helps avoiding side effect for other testcase)

[2017-09-29 17:46] shuklanirdesh82 commented on #1456
@shaominchen this is related with CEMT? do we still want to have `mustfix` kw?

/CC @tusharnt

[2017-09-29 18:10] shuklanirdesh82 commented on #1911
Adding `mustfix` kw: must need for kubecon release

[2017-09-29 18:12] shuklanirdesh82 commented on #1910
Adding `mustfix` kw: we are planning vFile beta and this is nice to have document requirement.

[2017-09-29 18:13] ashahi1 commented on #1479
@shaominchen Yes, I still see this issue.
I ran test-esx target against master and still there is left-over volume from one of the tests.

[code]

[2017-09-29 18:14] shuklanirdesh82 commented on #1903
correctness issue so adding `mustfix` kw.

[2017-09-29 18:19] shuklanirdesh82 commented on #1902
CI improvement: adding mustfix to improve dev productivity

[2017-09-29 18:19] shuklanirdesh82 commented on #1899
CI improvement issue: adding mustfix kw for kubecon release

[2017-09-29 18:20] shuklanirdesh82 commented on #1898
mustfix for vFile beta release

[2017-09-29 18:20] shuklanirdesh82 commented on #1897
mustfix for vFile beta release

[2017-09-29 18:21] shaominchen commented on #1456
Yes, as we agreed, removing mustfix for CEMT related issues.

[2017-09-29 18:27] shuklanirdesh82 commented on #1909
#1658 is blocked due to this (confirmed with @ashahi1, Thanks Anup!)

/CC @ashahi1

[2017-09-29 18:30] shaominchen commented on #1493
@govint This use case makes sense to me. Is there any customer asking for this feature so far? If yes, we should mark it as mustfix.

[2017-09-29 18:31] shuklanirdesh82 commented on #1896
I guess this is expected behavior.

@pshahzeb can you add some more detail about "systematically dumped."?

[2017-09-29 18:44] shaominchen commented on #1338
As discussed offline - we agree that P2 tests should not be mustfix.

[2017-09-29 18:45] shaominchen commented on #1339
As discussed offline - we agree that P2 tests should not be mustfix

[2017-09-29 18:47] shuklanirdesh82 commented on #1894
test execution improvement so adding `mustfix`

[2017-09-29 18:48] ashahi1 opened #1913 "vsan_info_test.py test under test-esx target fails"
Steps:
1. Ran ```make test-esx``` target

vsan_info_test.py failed - Error: "Failed to create volume: Invalid datastore format 'vsandatastore'."

Testbed had a vsan datastore named: vsanDatastore

[code]

[2017-09-29 18:48] shuklanirdesh82 commented on #1892
mustfix for vFile beta release

[2017-09-29 18:49] shuklanirdesh82 commented on #1891
Adding mustfix keyword to discuss further with @shaominchen @tusharnt @govint

[2017-09-29 18:51] shuklanirdesh82 commented on #1913
Adding mustfix to fix/improve unit test

[2017-09-29 18:52] shuklanirdesh82 commented on #1884
It is nice to have; adding mustfix (can be adjusted further .. it is trivial task though)

[2017-09-29 18:53] shuklanirdesh82 commented on #1882
Investigation should be `mustfix`

/CC @tusharnt

[2017-09-29 18:54] shaominchen commented on #1520
At least we should have consistent behavior for showing vmgroup and access rights. Marking as mustfix.

[2017-09-29 18:54] shuklanirdesh82 commented on #1879
investigation should be a `mustfix` for vFile beta release

[2017-09-29 18:55] shuklanirdesh82 commented on #1878
This is Epic so adding `mustfix`

[2017-09-29 18:57] shuklanirdesh82 commented on #1877
`mustfix` for vFile beta release

[2017-09-29 18:59] shuklanirdesh82 commented on #1874
nice to have for vFile beta release (improves usability)

[2017-09-29 19:00] shuklanirdesh82 commented on #1873
mustfix for atleast investigation task

[2017-09-29 19:00] shuklanirdesh82 commented on #1872
mustfix for atleast investigation task

[2017-09-29 19:01] shuklanirdesh82 commented on #1869
mustfix for atleast investigation task

[2017-09-29 19:03] shuklanirdesh82 commented on #1859
Performance enhancement should be a `mustfix`

[2017-09-29 19:04] shuklanirdesh82 commented on #1855
mustfix for atleast investigation task

[2017-09-29 19:05] shuklanirdesh82 commented on #1854
this is really required to avoid manual approach.

[2017-09-29 19:06] shuklanirdesh82 commented on #1833
mustfix for atleast investigation task

[2017-09-29 19:07] shuklanirdesh82 commented on #1825
contributing.md should be having such useful information.

[2017-09-29 19:09] shuklanirdesh82 commented on #1816
mustfix for vFile beta release planning.

[2017-09-29 19:09] shuklanirdesh82 commented on #1810
ci improvement issue adding mustfix

[2017-09-29 19:10] shuklanirdesh82 commented on #1780
mustfix for atleast investigation task (adding mustfix and investigate keywords)

[2017-09-29 19:10] shuklanirdesh82 commented on #1777
mustfix for vFile beta release

[2017-09-29 19:11] shuklanirdesh82 commented on #1776
vFile CI integration so mustfix

[2017-09-29 19:16] shuklanirdesh82 commented on #1770
This is nice to have but not mustfix for kubecon release

[2017-09-29 19:17] shuklanirdesh82 commented on #1761
correctness issue for vFile

[2017-09-29 19:17] shuklanirdesh82 commented on #1759
this is good to have but not mustfix for kubecon release

[2017-09-29 19:18] shuklanirdesh82 commented on #1732
good to have for vFile beta release

[2017-09-29 19:20] shuklanirdesh82 commented on #1729
adding mustfix keyword

[2017-09-29 19:22] ashahi1 opened #1914 "Volume gets created on incorrect vsan datastore."
Testbed had a vsan datastore named - vsanDatastore

1. Created a volume using long volume name - testX1@vsanDatastore
2. Verified from docker cli and esxcli that volume was successfully created
3. Tried creating another volume using incorrect datastore name - testX2@vsandatastore
Remember that we do not have volume named ```vsandatastore```. Even though we do not have any volume named ```vsandatas

[2017-09-29 19:24] shuklanirdesh82 commented on #1714
Agree!

[2017-09-29 20:45] shuklanirdesh82 commented on #1914
@ashahi1 I guess you have tried on vDVS 0.16 version .. can you please add those detail for the reference?

Thanks!

[2017-09-29 20:48] ashahi1 commented on #1914
I tried the same steps mentioned in original description with vDVS 0.16 version and I was not able to create volume if I pass datastore name as vsandatastore rather than vsanDatastore.

[2017-09-29 20:55] shuklanirdesh82 commented on #1708
helps while triaging issues from customer side.

[2017-09-29 20:56] shaominchen commented on #1553
This performance optimization (if possible) will improve user experience significantly. Marking as mustfix for Kubecon release.

[2017-09-29 20:59] shuklanirdesh82 commented on #1707
this is nice to have .. not a mustfix for kubecon release

[2017-09-29 21:01] shaominchen commented on #1577
We have increased the timeout limit to 50/60 mins for e2e test. It's been running for a while and it doesn't seem to be too bad. It's probably unpractical to achieve 30 mins goal. We should definitely fix this if the timeout exceeds 60 mins.

[2017-09-29 21:02] shaominchen commented on #1583
We have decided not to fix issue #634.

[2017-09-29 21:02] #1583 closed

[2017-09-29 21:04] shuklanirdesh82 commented on #1706
correctness issue marking `mustfix`

[2017-09-29 21:05] shuklanirdesh82 commented on #1699
release process automation mustfix.

[2017-09-29 21:05] shuklanirdesh82 commented on #1697
correctness issue is the mustfix

[2017-09-29 21:06] shuklanirdesh82 commented on #1696
unit test correctness issue; adding mustfix.

[2017-09-29 21:06] shuklanirdesh82 commented on #1694
document UI refresh issue (can be taken care in future)

[2017-09-29 21:09] shuklanirdesh82 commented on #1577
closing this for now .. we shall reopen with more detail.

[2017-09-29 21:09] #1577 closed

[2017-09-29 21:09] shuklanirdesh82 commented on #1683
adding mustfix kw to finish investigation.

[2017-09-29 21:09] shuklanirdesh82 commented on #1685
adding mustfix kw to finish investigation.

[2017-09-29 21:10] shuklanirdesh82 commented on #1682
CI improvement to extend vFile testing coverage.

[2017-09-29 21:10] shuklanirdesh82 commented on #1681
mustfix for vFile beta release

[2017-09-29 21:11] shuklanirdesh82 commented on #1680
mustfix for vFile beta release

P.S. - not much information in the description going by issue title

[2017-09-29 21:14] shuklanirdesh82 commented on #1593
making code compliant with golang standard so adding `mustfix` (can be discussed further while planning out kubecon release)

[2017-09-29 21:14] shaominchen commented on #1592
We already have the blog (draft version): https://confluence.eng.vmware.com/display/CNAS/Multi-tenancy+Feature+in+vSphere+Docker+Volume+Service

Since CEMT is an experimental feature and still subject to change, this should not be a must fix for Kubecon release.

[2017-09-29 21:16] shaominchen commented on #1632
This is the official way to publish the plugin - mustfix for Kubercon release.

[2017-09-29 21:16] shuklanirdesh82 commented on #1608
We should revisit the description before calling vFile beta.

[2017-09-29 21:17] shuklanirdesh82 commented on #1612
we can revisit after kubecon release not mustfix

[2017-09-29 21:22] shaominchen commented on #1590
This is required for reporting plugin code coverage.

[2017-09-29 21:23] shuklanirdesh82 commented on #1637
falls into improving dev productivity category.

[2017-09-29 21:25] shuklanirdesh82 commented on #1655
this is must need for windows plugin GA.

[2017-09-29 21:26] shuklanirdesh82 commented on #1658
Ci integration: this is must need for windows plugin GA.

[2017-09-29 21:28] shuklanirdesh82 commented on #1666
this is mustfix to improve test coverage.

[2017-09-29 21:28] shuklanirdesh82 commented on #1671
this is must need for windows plugin GA.

[2017-09-29 21:29] shuklanirdesh82 commented on #1673
trivial and improve error message - adding mustfix

[2017-09-29 21:40] luomiao commented on #1877
Need tests.
Create Epic for this issue.

[2017-10-02 17:25] tusharnt commented on #214
Estimate will be decided after initial investigation is completed.

[2017-10-02 17:28] tusharnt commented on #1166
@ashahi1 to add a test for validating RPM/DEB based install.

[2017-10-02 17:30] ashahi1 opened #1915 "Issue to add a test for validating RPM/DEB based install"
https://github.com/vmware/docker-volume-vsphere/issues/1166#issuecomment-333604678

[2017-10-02 17:31] tusharnt commented on #1279
All P0 tests are supported on CI.

[2017-10-02 17:31] #1279 closed

[2017-10-02 17:47] tusharnt commented on #1590
@shuklanirdesh82  to add details of the investigation so far.

[2017-10-02 17:50] tusharnt commented on #1708
Fixed. @pshahzeb  to add PR info.

[2017-10-02 17:50] #1708 closed

[2017-10-02 17:56] lipingxue commented on #1315
@nbaillie @CollinChaffin  Could you verify that this has issue has been fixed at your side with docker 17.09 and yaml 3.4? Thanks!

[2017-10-02 17:59] shaominchen commented on #1869
Closing this as we don't see this issue anymore.

[2017-10-02 18:06] shaominchen commented on #1914
Regression issue.

[2017-10-02 19:08] ashahi1 commented on #1469
@govint I had a discussion with Sam and we felt that user should not be allowed to delete the vmgroup if their are volumes in it. So it looks like we may have to make some code changes.

//cc @shaominchen

[2017-10-02 20:35] luomiao opened #1916 "Testing/document plugin re-installation process of vFile"
Note down the process of upgrading vFile plugin.
Update userguide accordingly.
If code changes are required, file separate issues.

[2017-10-02 20:40] luomiao opened #1917 "CI/CD tests for vFile plugin upgrade"

[2017-10-02 20:40] luomiao opened #1918 "vFile plugin upgrade epic"
- [ ] Evaluate current upgrade steps

- [ ] Update userguide documentation with manual upgrade steps

- [ ] Code changes for hot upgrade

- [ ] CI/CD tests for upgrade

[2017-10-02 20:44] luomiao opened #1919 "Evaluate possibility to reduce size of vFile SMB server image"
The current SMB file server image increases vFile plugin size to more than 100MB.
Need to evaluate if it's possible to replace the base image from debian to a smaller one.

[2017-10-02 21:31] lipingxue opened #1920 "Migrate vFile CI/CD to OneCloud"
Currently, the testbed used in CI is too slow, which cause vFile CI test fail.
We are able to run the vFile CI test using Nimbus testbed. The following are the detail for the Nimbus testbed.

ESX:
CPU Capacity: 4.8GHz
Memory Capacity: 16GB
Disk Capacity: 712GB

There are three VMs created on ESX,  for each VM:
CPU: 1vCPUs
Memory: 1GB
Disk Capacity: 16GB

[2017-10-02 21:37] shuklanirdesh82 commented on #1590
Reference https://github.com/vmware/docker-volume-vsphere/pull/1633#issue-245526969 for more information.

Following steps were performed to test out generated binary
[code]

[2017-10-02 21:43] shuklanirdesh82 commented on #1317
discussed with @shaominchen and decided that it is not a mustfix and we will revisit in the future.

[2017-10-02 21:44] shuklanirdesh82 commented on #1316
discussed with @shaominchen and decided that it is not a mustfix and we will revisit in the future.

[2017-10-02 21:50] shuklanirdesh82 commented on #1334
as per offline discussion this is not valid scenario marking this `invalid` and closing now.

[2017-10-02 21:50] #1334 closed

[2017-10-02 21:58] lipingxue commented on #1666
For detailed test step, please refer to #1315 .

[2017-10-02 22:58] shuklanirdesh82 commented on #1913
duplicate to #1696

[2017-10-02 22:58] #1913 closed

[2017-10-03 06:53] govint commented on #1485
The symlink isn't needed and nor does the user see the symlink at all, in the code, the tenant name is obtained or deciphered as the default and then the ID is got from the DB and that ID is whats used to get the path to the disks. I've seen this earlier and the code is safe in that volumes can be created and both new and old volumes can be accessed.

I'd suggest close as won't fix, its not a must

[2017-10-03 06:56] govint commented on #1855
Estimate is only to investigate the usecases and verify how well or not users can leverage this capability.

[2017-10-03 06:59] govint commented on #1909
I've not run docker with windows plugin yet, setting estimate to 5 to understand this a bit and check whats failing.

[2017-10-03 07:00] govint commented on #214
Estimate 3 for investigation of how SDRS can apply to containers workloads and how well it can integrate with the workflows we have with container volumes.

[2017-10-03 14:25] tusharnt opened #1921 "Test interop of vDVS with vCD"
Verify whether vDVS works out of the box with vCD.
Container Host OS - Photon

[2017-10-03 18:15] lipingxue commented on #1683
I did some research and there is no param for timeout can be set for cifs mount.

[2017-10-04 05:23] govint opened #1923 "Allow importing a disk to be managed by the ESX service."
With legacy applications moving to being deployed in containers, these path taken is typically to initially move as is into a container and later (if ever) re-architected into a cloud native or container-ish form. The initial move requires that any existing persistent data is allowed to be managed by docker as a container volume via storage plugins.

This issue is to allow a user to _create_ a con

[2017-10-05 08:51] govint commented on #1485
P1 as no functionality is broken.

[2017-10-05 14:03] mlabouardy opened #1924 "CoreOS - vsphere.socket not found"
I cannot install vsphere plugin on CoreOS machine with docker 17.06

[code]

Docker version:

![image](https://user-images.githubusercontent.com/10320205/31231315-ce3cc7b8-a9e6-11e7-918c-fd80cec2b0b4.png)

CoreOS version:

![image](https://user-images.githubusercontent.com/10320205/31231378-fe6c2762-a9e6-11e7-820c-5e294908e643.png)

[2017-10-05 15:11] shuklanirdesh82 commented on #1924
@mlabouardy can you please share docker service logs?

[2017-10-05 16:18] govint commented on #1924
@mlabouardy, also can you check and upload /var/log/docker-volume-vsphere.log if one is present in the coreOS host.

[2017-10-05 17:33] mlabouardy commented on #1924
@govint
/var/log/docker-volume-vsphere.log:

2017-10-04 08:57:03.500499511 +0000 UTC [INFO] Starting plugin log_level=info config="/etc/docker-volume-vsphere.conf" driver=vsphere
2017-10-04 08:57:03.500523731 +0000 UTC [INFO] Getting volume data from unix:///var/run/docker.sock
2017-10-04 08:57:03.512919506 +0000 UTC [INFO] Found 0 running or paused containers
2017-10-04 08:57:03.5131943 +0000 UTC

[2017-10-05 17:34] mlabouardy commented on #1924
@shuklanirdesh82
![image](https://user-images.githubusercontent.com/10320205/31241487-42223e66-aa04-11e7-90ed-2d4ffec6e462.png)

[2017-10-05 21:32] luomiao commented on #1683
Since it's not possible to use parameters to control the timeout, we will just close this issue.
And we have added retry for failed SMB client in order to reduce the possible error from slow server:
https://github.com/vmware/docker-volume-vsphere/pull/1886

[2017-10-05 21:32] #1683 closed

[2017-10-05 21:55] shuklanirdesh82 commented on #1683
Adding `wontfix` kw.

[2017-10-06 05:24] govint commented on #1921
Should be able to decide also if its preferred to have a backend for the vDVS client plugin to interface with VCD directly vs. with a per host-based service on each node.

[2017-10-06 05:52] govint commented on #1924
Seems to  be related to a coreOS specific issue - https://github.com/docker/go-plugins-helpers/issues/38, the socket file _vsphere.sock_ possibly needs to be created with group as _docker_ vs. root.  The plugin is creating the socket with group as root and that seems to be causing the issue here.

Lets check that setting the group as _docker_ works fine with any host.

[2017-10-06 10:34] govint commented on #1914
Actually, the code is designed to match the datastore name as a case insensitive string and working as observed. Closing as won't-fix.

[2017-10-06 10:34] #1914 closed

[2017-10-06 10:35] govint commented on #1924
I'm planning on adding a config option to specify the GID of the socket file with the default as root. The GID of _docker_ is what docker uses and _should_ work ok (will check on coreOS).

[2017-10-08 04:54] govint commented on #1924
Fixes are in place and will complete the testing and get this out for a review.

[2017-10-09 04:46] govint commented on #1485
Turning off mustfix as no functionality is broken and while its a correctness issue, its also a question why the symlinks are needed at all. Admin access to the tenant dirs. on a datastore does happen all the time and admin can get the ID (folder name) of the tenant via admin CLI and use that.

[2017-10-09 10:53] govint commented on #1409
This issue was fixed via https://github.com/vmware/docker-volume-vsphere/pull/1383 a day after this issue was filed :-). Closing

[2017-10-09 10:53] #1409 closed

[2017-10-09 11:22] govint commented on #1909
Starting this activity from 10/10

[2017-10-09 15:49] #1825 closed

[2017-10-09 17:15] shuklanirdesh82 commented on #1280
with the closure of #1279 this issue is no longer valid. closing as `invalid`.

[2017-10-09 17:15] #1280 closed

[2017-10-09 18:48] shuklanirdesh82 commented on #1357
@vxav can you please try with the latest (0.17 release VIB)?

I have tried on my end and couldn't reproduce the reported issue, sharing the steps with you that I have performed.

Using latest VIB: `0.17.c2aef31`
[code]

Steps performed
1. check out vmgroup listing
[code]

2. create vmgroup `T11`
[code]

3. rename vm `photon2` => `photon3`
4. invoke ```vmgroup ls``` again
[code]
5. remove vm from v

[2017-10-09 20:55] #1897 closed

[2017-10-09 21:42] shuklanirdesh82 commented on #1357
@vxav I am closing this issue please reopen with steps if you are still running into the issue.

[2017-10-09 21:42] #1357 closed

[2017-10-09 21:55] ashahi1 commented on #1869
Saw this issue again on CI: https://ci.vmware.run/vmware/docker-volume-vsphere/1647

[code]

[2017-10-09 21:58] shuklanirdesh82 opened #1930 "Not able to initialize MultiNode config DB when dockvols directory is not present"
Not able to initialize MultiNode config DB when dockvols directory is not present

vDVS driver version
[code]
steps to reproduce:
1. Make sure you have clean environment (fresh setup is recommended OR remove dockvol/authdb etc)
2. install vDVS driver (VIB)
3. invoke `esxcli storage guestvol status` to make sure vmdkops service is running fine
4. invoke `esxcli storage guestvol config init --datast

[2017-10-09 21:58] ashahi1 commented on #1869
@govint do you think you can take a look at this issue?

[2017-10-09 22:01] shuklanirdesh82 commented on #1930
This is related with Cross ESX multi tenancy so not adding `mustfix` keyword.

Workaround is to create `dockvols` directory at `/vmfs/volumes/<sharedDS_Name>/` helps to avoid reported issue.

@tusharnt @govint : what do you think? If you think we should address by kubecon release then `mustfix` kw should be added.

[2017-10-10 04:40] luizhpriotto opened #1931 "Data does not appear after mount volume by container."
Hello, i need a help, please.

I use Photon 1.0 Build 62c543d

After create volume with:
#docker volume create --name=bafofa --driver=vsphere -o size=2gb

and create container:
#docker run -ti -v bafofa:/mnt/bafofa busybox

I can access the data with:
#mount /tmp/bafofa /dev/sdb
(/dev/disk/by-path/pci-0000:0b:00.0-scsi-0:0:0:0 -> ../../sdb)

But when i access with the container in "/mnt/bafofa/",

[2017-10-10 05:07] govint commented on #1931
@luizhpriotto can you attach /var/log/docker-volume-vsphere.log from the host that you are running these commands on. Also, can you post the result of "docker volume inspect bafofa"

[2017-10-10 05:23] luizhpriotto commented on #1931
Thanks for helping me @govint! Follow the attachment and the "inspect".
{
        "Driver": "vsphere:latest",
        "Labels": {},
        "Mountpoint": "/mnt/vmdk/bafofa",
        "Name": "bafofa",
        "Options": {
            "size": "2gb"
        },
        "Scope": "global",
        "Status": {
            "access": "read-write",
            "attach-as": "independent_persistent",

[2017-10-10 08:29] govint commented on #1931
@luizhpriotto thanks for providing these logs, the volume plugin is able to mount the volume with no errors,
2017-10-10 04:45:34.100682773 +0000 UTC [INFO] Attaching volume and creating filesystem fstype=ext4 name=bafofa
2017-10-10 04:45:34.950217394 +0000 UTC [INFO] Scan complete device="/dev/disk/by-path/pci-0000:0b:00.0-scsi-0:0:0:0" event="/dev/disk/by-path/pci-0000:0b:00.0-scsi-0:0:0:0": 0x10

[2017-10-10 08:52] govint commented on #1931
@luizhpriotto , can you verify that any mounts of the same volume are all unmounted before the test is performed.

[2017-10-10 08:54] ashahi1 commented on #1479
Fixed as part of PR #1929

[2017-10-10 08:54] #1479 closed

[2017-10-10 12:07] luizhpriotto commented on #1931
@govint i get more information:

"HostConfig": {
            "Binds": [
                "bafofa:/mnt/bafofa"
            ],
            "ContainerIDFile": "",
            "LogConfig": {
                "Type": "json-file",
                "Config": {}
            },
            "NetworkMode": "default",
            "PortBindings": {},
            "RestartPolicy": {
                "Name": "no",

[2017-10-10 13:25] govint commented on #1930
No, this needs to be addressed post the upcoming release and possibly rethink the use of a DB itself.

[2017-10-10 13:29] govint commented on #1931
@luizhpriotto thanks for posting these data, can you also say what guest OS and version you are running.

[2017-10-10 14:51] luizhpriotto commented on #1931
@govint
Follow:
Linux photon02 4.4.88-1.ph1-esx #1-photon SMP Mon Oct 2 19:27:23 UTC 2017 x86_64 GNU/Linux
VMware Photon Linux 1.0
PHOTON_BUILD_NUMBER=62c543d

thx

[2017-10-10 20:57] luomiao opened #1932 "docker swarm routing mesh fails when swarm nodes running on different ESX"
We observed that vFile plugin doesn't work as expected when the nodes are spread on different ESXs.
The reason is because swarm routing mesh is not working when the swarm nodes are running on different ESXs.
For example, if starting a service
[code]

`curl http://127.0.0.1:8080` only works on the node where the nginx replica container is running.

This is not a fault in vFile plugin but this issue

[2017-10-10 20:57] ashahi1 commented on #1869
Another failure on CI: https://ci.vmware.run/vmware/docker-volume-vsphere/1652
[code]

[2017-10-10 23:09] #1678 closed

[2017-10-10 23:09] #1680 closed

[2017-10-10 23:09] #1898 closed

[2017-10-11 03:22] luizhpriotto commented on #1931
Hello @govint , I did a test in Oracle Linux 7, and the result was different:

The mount in the container busybox was:
/dev/disk/by-path/pci-0000:0b:00.0-scsi-0:0:0:0 on /mnt/bafofa

And in host was:
/dev/sdb on /var/lib/docker/plugins/a7e24d9096d01d01001850b9905b140f5ec8fbb6d8c90cb7803ad15ada8d4b2f/rootfs/mnt/vmdk/bafofa@LUN_FCR5_001 type ext4 (rw,relatime,data=ordered)

In Oracle Linux 7 the VMW

[2017-10-11 07:17] hustlahusky opened #1933 "Cannot create xfs volume"
Hello. I have a problem with creating volume with option `fstype=xfs`. I'd tried to run this command:

[code]

And I'm getting error:

[code]

Also I'd tried different datastores, but unsuccessfull.

[2017-10-11 08:23] govint commented on #1933
@hustlahusky thanks for trying the plugin. The issue seems to be with the volume name provided, the plugin uses the volume name as the label of the volume and XFS doesn't allow a label more than 12 chars long. "539-1-539_mongo_data" is 21 chars long and hence FS creation is failing.

Please try with a smaller volume name and it should work.

The plugin doesn't allow mentioning an FS label when cre

[2017-10-11 08:32] hustlahusky commented on #1933
@govint thank you. I'd tried smaller name and it's works! :)

[2017-10-11 08:32] #1933 closed

[2017-10-11 13:13] govint commented on #1931
@luizhpriotto, thanks for confirming the plugin works as expected on Oracle Linux, Photon Linux photon-machine 4.4.41-1.ph1-esx #1-photon SMP Tue Jan 10 23:46:44 UTC 2017 x86_64 GNU/Linux
also works fine. I'm getting Photon 2.0 and checking the behavior there. Let me check and get back to you.

Regarding the mounts inside the container and outside (in the Linux OS), the mount in the Linux OS is li

[2017-10-12 08:15] #1469 closed

[2017-10-12 12:16] #1924 closed

[2017-10-12 23:08] #1696 closed

[2017-10-13 00:28] shuklanirdesh82 commented on #773
closing this as `wontfix` for an external testbed deployment on the other end we do have separate issue taking care for such work.

The required work for an internal testbed deployment is done.

[2017-10-13 00:28] #773 closed

[2017-10-13 01:11] tusharnt opened #1935 "Identify and fix formatting & correctness issues with vDVS content on StorageHub"
https://storagehub.vmware.com/#!/vsphere-storage/vsphere-docker-volume-service
If there are none then we can close this issue.

[2017-10-13 03:56] ashahi1 opened #1936 "Failed to initialize SingleNode Config DB on esx"
CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1666

[code]

[2017-10-13 20:11] SandeepPissay opened #1937 "Investigate possible etcd persistence issues"
During design discussions with @luomiao, we discussed that etcd will lose all its data if all the manager nodes are offline for some time. This means that all the vFile related data we store in it are gone even after the etcd cluster is reestablished. We want to validate that since this is important from vFile design perspective. So filing this issue.

Possible persistence issue with etcd:
(scenar

[2017-10-13 20:20] SandeepPissay commented on #1937
By quickly glancing through the etcd documentation, the above issues should not exist. @luomiao can you take this as you had some doubts?

[2017-10-13 23:56] shuklanirdesh82 commented on #1304
First of all this is *not* a bug, it is by design to pass full volume name (dropping the `king/bug` kw). See below for the reference, it is failing as per the expectation; we can improve the error message if the current implementation fails to do so.

[code]

Now let's consider a case for improving this further as per above suggestion. IMO it will become complex unnecessary and it will not work *a

[2017-10-15 04:07] govint commented on #1304
Frankly, user having to specify datastore is something that we shouldn't carry forward for vDVS. Users can't be expected to know what datastores exist on a host and then on each host either. If user can provide either format (short and long names) in other ESXCLI commands then it needs to be supported here also.

But its not a must-fix now and can be deferred till we decide what format volume name

[2017-10-15 04:23] govint opened #1938 "Support VC/VCD as a backend to create and manage volume lifecycle"
With the ESX service vDVS supports only the local ESX host to create and manage volumes. Which by-passes all other mechanisms supported in ESX for volume creation/placement on datastores. Being able to integrate with VC/VCD ensures vSphere docker volumes are covered by the same storage policies users are already familiar with and by the same mechanisms thru which storage capacities are managed. Al

[2017-10-15 05:36] shuklanirdesh82 commented on #1304
Sure, removing `mustfix` kw.

In this scenario (`admin_cli volume set`) user is an Admin which is OK to know of datastore I guess.

[2017-10-16 10:10] govint commented on #1931
Tried out on PhotonOS 2.0 (with hw version 13) and am not able to reproduce the issue:

1.
[root@a6d5ac82ff77 mnt]# uname -a
Linux a6d5ac82ff77 4.9.47-2.ph2-esx #1-photon SMP Thu Sep 28 23:33:40 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

2. Created a volume _tesstvol_ and then ran a container with that mounted.

3. The volume is mounted as shown.
/dev/sdb on /var/lib/docker/plugins/0aa861101e478a699

[2017-10-16 19:33] luizhpriotto commented on #1931
Thanks @govint
I'll try Photon 2.0 when the stable version is released.
thanks very much!

att

[2017-10-16 21:23] shuklanirdesh82 commented on #360
This is already addressed (all VIB related make targets are part of `esx_service/Makefile`; closing this now.

[2017-10-16 21:23] #360 closed

[2017-10-16 21:25] shuklanirdesh82 commented on #470
Error reporting has been improved and relying on the return code from python daemon, closing this as `invalid`.

[2017-10-16 21:25] #470 closed

[2017-10-16 23:43] shuklanirdesh82 commented on #1936
@govint Please adjust the Estimate after your investigation.

[2017-10-17 00:02] shuklanirdesh82 commented on #1315
@nbaillie @CollinChaffin Please reopen if you are still facing any issue.

[2017-10-17 00:02] #1315 closed

[2017-10-17 00:02] ashahi1 opened #1940 "[vFile] Increase the logs in vFile plugin"
Filing this issue as it was observed that we do not have enough logs to debug vFile plugin quickly.

@luomiao Assigning it to you for the time being.

[2017-10-17 00:08] ashahi1 opened #1941 "[vFile] vFile operation fails with Error: exit status 255 if swarm nodes are slow"
We hit the error ```Error: exit status 255``` if the swarm nodes are slow
https://github.com/vmware/docker-volume-vsphere/issues/1816#issuecomment-327648537

@luomiao Assigning it to you for the time-being.

[2017-10-17 01:59] #1673 closed

[2017-10-17 10:53] govint commented on #1909
Docker volume is attached as expected,
root@WIN-QBI6V8BMPGM C:\Users\root>docker volume inspect testvol
[
    {
        "Driver": "vsphere",
        "Labels": {},
        "Mountpoint": "C:\\Windows\\system32\\config\\systemprofile\\AppData\\Local\\docker-volume-vsphere\\mounts\\testvol\\",
        "Name": "testvol",
        "Options": {},
        "Scope": "global",
        "Status": {

[2017-10-17 10:59] govint commented on #1909
@ashahi1, the vmdk-ops log posted earlier doesn't have the logs to attach the volume. I'm not sure if that was an error. But I'm not reproducing the issue. If the issue repros then can we check the state of the volume that its attached and verify in the logs that the volume did attach successfully.

I'd suggest closing the issue and reopen (or new issue) if it reproduces.

[2017-10-17 11:10] govint commented on #214
Studied SDRS and the actions that it performs and also had a discussion with the SDRS dev. For now at least its not feasible to look at supporting SDRS with docker volumes. Plainly because SDRS works off VMDKs that are associated with VMs and not independent disks that docker volumes are.  Both initial placement and subsequent load balancing based on IO load and capacity usage are all based on mon

[2017-10-17 11:10] #214 closed

[2017-10-17 11:11] govint commented on #1909
Closing per above updates. Lets reopen or make a new issue if the behavior repros.

[2017-10-17 11:11] #1909 closed

[2017-10-17 17:11] #1761 closed

[2017-10-17 23:27] luomiao commented on #1903
This is not valid. The local volumes are created when "docker run" with an non-existing volume. This is an expected action.

[2017-10-17 23:27] #1903 closed

[2017-10-17 23:31] ashahi1 opened #1942 "[vFile] Failed to start nginx service on port 8080: Connection refused"
CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1680

[code]

[2017-10-18 00:07] luomiao commented on #1873
docker plugins are using alpine as the base image. Alpine uses openRC to start init services. OpenRC uses shell scripts to start ETCD. In this case, there is no difference to start ETCD as a process. Furthermore we will have the ETCD data-dir be persistent after node is rebooted. Thus there is no need to start ETCD as an init service.

[2017-10-18 00:07] #1873 closed

[2017-10-18 00:18] luomiao opened #1943 "Revisit the error handling for vFile design"
Current design has a flaw when handling multiple errors in ETCD updating at the same time.
Consider the following scenario:

1. Worker creates a new volume and start to use it, internally global refcount is atomic increased by one.
2. All the managers are triggered to try to update the state from "Ready" to "Mounting". Assume ETCD cluster is not accessible suddenly, and thus the update of the stat

[2017-10-18 07:16] govint opened #1944 "Enable admin CLI to support moving volumes between datastores to allow datastore maintenance"
When a user needs to deprecate a DS or needs to do maintenance on the DS they need to be able to make the volumes available via another DS during that time - either permanently or as a temporary measure. In either case presently there is no way to move docker volumes between datastores.

This issue is to enhance the admin CLI to allow the user to move volumes to a target datastore after all volume

[2017-10-18 22:45] lipingxue commented on #1932
I did some test, and found that swarm mesh network seems does not work is VMs in a swarm cluster are in different subnet, and I have filed an issue in moby. https://github.com/moby/moby/issues/35249

I searched existing moby issue, and another person also has the same finding.  https://github.com/moby/moby/issues/31785

[2017-10-19 00:56] luomiao commented on #1911
Multiple issues resulted in the error.

1. Testbed is comparably slow. As a result, the tasks started by a file server service may be failed due to slow node.
2. For some unknown reason, tasks also can be rejected by one of the ubuntu node.
3. When some of the tasks are rejected/failed, the current function to check if file server is already running has a problem. It will return false as long as o

[2017-10-20 01:04] luomiao commented on #1912
see reason at: #1873

[2017-10-20 01:04] #1912 closed

[2017-10-23 22:10] ashahi1 commented on #1935
Formatting on this page needs to be modified - admin cli command output needs to be rearranged
https://storagehub.vmware.com/#!/vsphere-storage/vsphere-docker-volume-service/admin-cli-reference

[2017-10-23 22:38] ashahi1 commented on #1935
Following things needs to fixed on the page: https://storagehub.vmware.com/#!/vsphere-storage/vsphere-docker-volume-service/ha-database-with-docker-in-swarm-mode

- Spelling on running is not correct: ```We can get details of all services runnig in the stack```
- Spelling of demonstrate is incorrect: ```Swarm cluster and will demonsrtate high availability```
- Spelling of plugin is incorrect:```vD

[2017-10-24 02:05] luomiao opened #1946 "Swarm test fail intermittently against ESX 6.0 setup"
During the CI, there is a race condition which results in the failure of swarm test:
[code]

This error happens even before the failover tests are started.
Need to root the reason and found a solution.

A sample log:
https://ci.vmware.run/vmware/docker-volume-vsphere/1679

[2017-10-24 06:37] govint commented on #1936
The build seems to have succeeded (was it restarted?) in any case its not shown up since the time this issue was reported. Lets see if it gets a repro and debug that via a new issue. Am closing this one as _not reproduced_.

[2017-10-24 06:37] #1936 closed

[2017-10-24 07:02] govint commented on #1869
https://ci.vmware.run/vmware/docker-volume-vsphere/1652 seems to have failed for a different reason, admin CLI didn't return the name of the VM thats attaching the independent disk. That happened because the tests are using the _shortls_ option thats available only via esxcli and not the admin CLI. Will open a separate issue to fix that.

[2017-10-24 18:01] ashahi1 commented on #1935
Not sure if this link pointing to the Admin CLI on the following page is correct: https://storagehub.vmware.com/#!/vsphere-storage/vsphere-docker-volume-service/multi-tenancy-support
[code]

[2017-10-24 18:15] ashahi1 commented on #1935
**Minor:**

For almost all the pages, there is a lot of empty spaces between the description of the command and the sample command output.
e.g.
[code]
We can use the following page as reference and if possible, should reduce the spacing between command description and their output.
https://storagehub.vmware.com/#!/vsphere-storage/vsphere-docker-volume-service/wordpress-application-with-mariadb

[2017-10-24 18:28] ashahi1 commented on #1946
We are seeing this intermittent failure on CI when the swarm master is not able to communicate to the worker nodes.  Worker nodes are listed as "down" and hence, swarm master is not able to execute services on that particular node and as a result test fails.
VMs are up and running but for some reason, those nodes are listed as down for swarm cluster.

After one of the failed runs, following is the

[2017-10-24 20:42] luomiao commented on #1942
This is not valid anymore. The error is from code for debugging purpose and it turns out the error is not related to the real error.

[2017-10-24 20:42] #1942 closed

[2017-10-24 21:20] tusharnt opened #1947 "vFile CI/CD tests need to be executed against ESX 6.0"
Currently they are run only against ESX 6.5

[2017-10-24 21:27] tusharnt commented on #1946
@ashahi1 to trigger multiple iterations of vDVD swarm tests to get a repro so that @govint can triage it further.

[2017-10-24 21:33] tusharnt commented on #1932
@lipingxue to try against 17.10 release which contains some fixes in moby.

[2017-10-24 21:34] tusharnt commented on #1916
This will be targeted for Oct release for vFile (tentatively planned on 11/1)

[2017-10-24 21:36] tusharnt commented on #1941
Tracked as part of #1816

[2017-10-24 21:36] #1941 closed

[2017-10-24 22:00] tusharnt commented on #670
@ashahi1 What's the update on this?

[2017-10-24 22:17] seanhig opened #1948 "vFile and CIFS permissions"
I tried to use vFile plugin to create a files share for multiple Drupal front ends.  The CIFS share is mounted using the "root" user, but Drupal is expecting the share to be owned by "www-data".

There doesn't appear to be anyway to change the CIFS permissions, or file mode, or the SambaUsername used to mount the share. Would it be possible to have more flexibility in the CIFS mounting options?

M

[2017-10-25 00:34] ashahi1 commented on #1946
@govint Can you please take a look at this issue. I have uploaded all the logs.

Failed CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1679

Swarm on 6.0 ESX has one master node and two worker nodes.
All the nodes with swarm were up before the e2e tests started on 6.0 ESX.

But sometime during execution of e2e-tests, both the worker nodes went down - Nodes are still up and running but

[2017-10-25 09:13] #1911 closed

[2017-10-25 12:00] govint commented on #1869
Pls. ignore last statement in my earlier update, on any ESX host the esxcli python packages are located at /lib64/python3.5/site-packages/vmware/esxcli. The session package is located here. Unless the ESX install is broken this error "No module named esxcli.Session" shouldn't arise.

@shuklanirdesh82, @ashahi1 if this issue recurs then can you'll check the CI host if the above folder is present an

[2017-10-26 04:45] govint commented on #1869
Missed to mention, this issue needs live debugging of the ESX host used for CI if the issue repros. Let me know host access details if the issue happens.

[2017-10-26 04:49] govint commented on #1891
One more option is to do a _docker volume create -d vsphere <volname> -o size=<new size>, recreate=true_. Here, the plugin will expect the volume to exist, per the flag _recreate=true_ and will extend the existing disk and update the filesystem on it as well to account for the new volume size.

Only volume extend will be supported, volume size reduction will not be allowed.

Let me post a PR with

[2017-10-26 08:46] govint commented on #1944
Starting on this one, will post a PR in the coming week. Milestone needs to be updated.

[2017-10-26 12:53] chris7444 opened #1950 "cannot create/delete volumes when using the cli Docker EE with UCP"
I am trying to create/delete a vsphere docker volume using the docker command as documented here
https://docs.docker.com/datacenter/ucp/2.2/guides/user/access-ucp/cli-based-access/

from my linux workstation (after sourcing the env.sh script downloaded as explained in the doc above)

[root@clh-ansible ~]# docker --version
Docker version 17.06.1-ee-2, build 8e43158

# validate connection with UCP c

[2017-10-26 15:16] govint commented on #1950
@chris7444 sorry, can you say what is WS? The docker volume driver for Linux will work fine on Linux guest VMs running on an ESX host (as you are able to observe).

[2017-10-26 15:19] govint commented on #1950
@chris7444, could you also post the /var/log/docker-volume-vsphere.log file from the ws node.

[2017-10-26 17:30] shuklanirdesh82 commented on #1946
We need some more information:
- test suite and test name (failed scenario information)
- how frequently this is occurring? (fail times/ #of attempts)
- what is the reason behind worker going down? (known docker issue ??, docker version adds any mix?? etc.)
- need to identify where is this interop causing issue.

/CC @tusharnt @ashahi1

[2017-10-26 17:32] shuklanirdesh82 commented on #1946
@govint  Please adjust the label after your analysis, currently it has `test` and `test-infrastructure` ( kind of confusing)

[2017-10-26 18:15] shuklanirdesh82 opened #1951 "Upgrading docker version in CI testbeds"
Currently we have two setups with 17.06 and 17.03.02 docker.

Docker stable release 17.09.0-ce (2017-09-26) is out and 17.03.02 should be upgraded to 17.09 (TOT - https://docs.docker.com/release-notes/docker-ce/)

/CC @tusharnt

[2017-10-26 19:32] govint commented on #1869
Running a config init and config remove in a loop from the guest to the ESX to run the esxcli command, don;t see the issue reported here. Restarted hostd during the loop, no repro still.

[2017-10-26 20:12] chris7444 commented on #1950
@govint WS is a linux WorkStation from which you use the docler cli command as explained in the docker documentation (see above, 2nd line of the issue description) This is not one of the docker node.

[2017-10-26 21:04] pshahzeb opened #1952 "Moving all e2e tests to vsphere folder in tests/e2e/storage"
As per request from k8s community, all tests related to vsphere cloud provider should be moved to a separate folder under tests/e2e/storage.

https://github.com/kubernetes/kubernetes/pull/54018#issuecomment-337751691

[2017-10-26 21:38] luomiao opened #1954 "[vFile] file server service spends one minute to start"
After file server service is created, the time for the service state from Starting to Running is approximate 1 minute.
This was not the case in previous testing.
Some new changes (might be on the file server side) has introduced this long startup time.
Need to root the cause and find a solution if it's possible.

[2017-10-26 21:52] ashahi1 commented on #1946
@govint

In reply to this comment: https://github.com/vmware/docker-volume-vsphere/issues/1946#issuecomment-339740226

**Note:** When the tests started on 6.0, all the docker nodes were showing as - ```Ready and Active```
1. Test suite
    SwarmTestSuite
2. Test name
    TestFailoverAcrossSwarmNodes

**Note:** Swarm worker nodes were showing as - ```Down and Active``` even before swarm test had st

[2017-10-26 23:34] tusharnt commented on #1269
This will be addressed once we move to OneCloud based setup.

[2017-10-27 02:53] luomiao commented on #1948
Hi @seanhig
Yes this is a very reasonable requirement and we will add this support to allow users setup their options asap. We will update you in this issue when the feature is in.

However regarding to NFS server, it's not yet possible to be used for vFile currently due to swarm privilege limitation.

[2017-10-27 02:55] luomiao commented on #1776
Closed by https://github.com/vmware/docker-volume-vsphere/pull/1886

[2017-10-27 02:55] #1776 closed

[2017-10-27 02:55] luomiao commented on #1685
Closed by https://github.com/vmware/docker-volume-vsphere/pull/1886

[2017-10-27 02:55] #1685 closed

[2017-10-27 02:56] luomiao commented on #1816
Closed by https://github.com/vmware/docker-volume-vsphere/pull/1886

[2017-10-27 02:56] #1816 closed

[2017-10-27 02:57] govint commented on #1950
@chris7444, thanks for clarifying, let me check this myself and get back to you.

[2017-10-27 03:00] luomiao commented on #1608
@Nagoo
The vFile plugin which supports the multiple VMs to access the same VMDK volume simultaneously is there as an experimental feature:
http://vmware.github.io/docker-volume-vsphere/documentation/vfile-plugin.html
You are welcome to give it a try.

We are planning to release the beta version in December. Stay tuned :)

[2017-10-27 12:43] govint commented on #1950
Set up UCP with a docker swarm (3 nodes installed with Ubuntu) installed with 17.07.0-ce (using the CE vs. EE version but am able to repro the issue).

The behavior is the same whether using the docker CLI or the UCP UI to create the volume.

Using docker CLI from a photon OS VM using the certificates bundle downloaded from UCP.

1. Create a docker volume and it reports the volume as created
root@

[2017-10-27 12:46] govint commented on #1869
This is confirmed to be an external error and will be resolved later. For now lets revert back to using the vmdkops_admin CLI for the E2E tests.

I'll post a PR to fix this.

Users can still use esxcli on the ESX host to run _guestvol_ commands.

[2017-10-27 13:27] govint commented on #1946
Looking at the logs, question also is whether before the swarm test were there any tests that restart docker, which may cause the master to mark those as down. Let me check.

[2017-10-27 20:31] #1952 closed

[2017-10-27 20:36] divyenpatel opened #1955 "Delete Kubernetes Documentation from this Repository"
Delete
- https://github.com/vmware/docker-volume-vsphere/tree/gh-pages/kubernetes-docs
- https://github.com/vmware/docker-volume-vsphere/tree/gh-pages/kubernetes

[2017-10-27 20:52] #1955 closed

[2017-10-27 23:02] #1940 closed

[2017-10-28 18:42] shuklanirdesh82 commented on #1946
it turned out CI testbed issue .. @ashahi1 has fixed the testbed and reran the failure builds.

re-ran of https://ci.vmware.run/vmware/docker-volume-vsphere/1694 passed so closing this now.

[2017-10-28 18:42] #1946 closed

[2017-10-30 11:25] govint opened #1959 "VFile: Reduce vfile log file size and/or reduce number of log files"
the vFile logs can grow quiet large and can fill the root partition on a Linux desktop if let unchecked, as below
-rw-r--r-- 1 root      root 100M Sep 12 06:29 vfile-2017-09-12T13-29-48.158.log
-rw-r--r-- 1 root      root 100M Sep 12 06:32 vfile-2017-09-12T13-32-46.970.log
-rw-r--r-- 1 root      root 100M Sep 12 06:34 vfile-2017-09-12T13-34-26.209.log
-rw-r--r-- 1 root      root 100M Sep 12 06:35

[2017-10-30 13:00] govint commented on #1950
Raised issue on docker UCP #35334  (https://github.com/moby/moby/issues/35334)

[2017-10-30 13:14] govint commented on #1869
This is an external issue, but I'm going to hold off reverting to using the admin CLI unless the issue becomes a frequent observation in CI. Right now it happens one off.

[2017-10-30 14:18] bartlenaerts opened #1960 "vFile volume driver is not fully initialized yet."
Hi,

I've installed vDVS as described in the documentation. This is working correctly.
[code]
[code]

When I try to create a volume with vFile instead of vSphere I get an error:

[code]

Both plugins are installed and enabled:

[code]

Looks like I forgot to initialize the vFile driver. I've searched the documentation but I don't find anything about this error or how to correctly configure the plu

[2017-10-30 16:56] govint commented on #1950
Also related to issue https://github.com/moby/moby/issues/34664. Fix in UCP will be in by 2.2.4 or 3.0.0.

I'd prefer not to update the changes I have into the code till we have the fix in UCP. The changes are showing an issue only for UCP at this point and hence no point submitting the changes rightaway.

[2017-10-30 17:03] govint commented on #1869
@ashahi1, @shuklanirdesh82 pls. let me know if @pshahzeb earlier change needs to be reverted. The current code is the way forward and reverting and re-adding the changes later looks unnecessary If the internal issue doesn't have any fix in the near term then I'll revert some of the changes and leave it that way for the e2e tests. How frequent is this issue observed.

[2017-10-30 19:01] ashahi1 opened #1961 "Command to tag the vDVS release is broken"
Following command to tag the release is broken.
[code]

https://github.com/vmware/docker-volume-vsphere/blob/06b10a7d73bafb7eb3ff885780fe0e48af9ceaea/CONTRIBUTING.md#tag-a-release

/CC @tusharnt

[2017-10-30 21:20] #1961 closed

[2017-10-30 22:07] thiagolealassis commented on #1960
Are your docker in swarm mode ? this is an issue to me, how can i use it without swarm ?

[2017-10-30 22:19] thiagolealassis commented on #1879
+1, this will be great !

[2017-10-30 22:22] thiagolealassis commented on #1879
this is an mustfix ? or will be implemented in a future ?

[2017-10-30 22:35] shuklanirdesh82 commented on #1869
@govint The reported issue was observed 1 failed occurrence out of 10 runs. As you mentioned at https://github.com/vmware/docker-volume-vsphere/issues/1869#issuecomment-340439803 being an external issue, we will bring it back if occurs more frequest to revert **Test** changes to use *ADMIN_CLI* instead of *esxcli*. I am dropping from *Ironman* sprint by marking *P1*

[2017-10-30 23:28] luomiao commented on #1960
@thiagolealassis
Hi and yes swarm is a necessary requirement for vFile plugin.
Is your environment restricted to a particular container orchestrator?

[2017-10-30 23:29] luomiao commented on #1960
@bartlenaerts
Hi Bart,
Thanks for reporting this issue.
As suggested by @thiagolealassis , could you please verify if your docker is in swarm mode?
If yes, can you paste the log at `/var/log/vfile.log`?

[2017-10-31 00:12] andrewsav-datacom commented on #1315
I'm certainly still facing the issue. I have:

[code]

and:

[code]
And I'm getting:

[code]

[2017-10-31 07:20] #1732 closed

[2017-10-31 09:14] bartlenaerts commented on #1960
@luomiao
Hi,

thanks for looking in to this.

I'm running in swarm mode. We have a setup of 3 managers and 6 workers. All hosts have the vSphere and vFile plugins installed.

**manager1**
[code]

**manager2**
[code]

**manager3**
[code]

At the moment, **manager3** is the Leader of the swarm.

Regards,
Bart

[2017-10-31 09:35] luomiao commented on #1960
Hi @bartlenaerts
Thanks for posting the logs.

Can you post a little bit more for the beginning part of the log on manager3? I'd like to check when the ETCD is going wrong.

Also, from the log of manager1, it seems docker service just got restarted. Has the node been restarted after the plugin installed?

We are currently working on the beta release of vFile which will have more flexibility about

[2017-10-31 10:31] bartlenaerts commented on #1960
Hi @luomiao,

I followed your steps and now it works! So the steps I did were:

1. Checked Docker version: 17.09
2. Opened ETCD ports on all 3 managers.
3. Removed the vSphere and vFile plugins on all nodes.
4. Restarted Docker on all nodes (just to be sure).
5. Installed vSphere on all nodes first.
6. Installed vFile on leader manager only.
7. Checked the log (see below).
8. Installed vFile on al

[2017-10-31 11:43] govint commented on #1915
The docs were updated earlier that package based installs are not supported any more and neither does docker support running plugins installed as packages as they need to be managed plugins. Do we still need to test that package installs work?

[2017-10-31 11:47] govint commented on #1658
@shuklanirdesh82 @ashahi1 do we plan to have a CI with Windows VM,

The script part of the E2E tests need to be able to invoke commands on the ESX host which is what needs to be done (hopefully the e2e tests are uniformly written so changes can be localized). Besides that the rest of the code in Go should just work.

[2017-10-31 17:19] tusharnt opened #1963 "Automate the process to cut the release"
- [ ] Use Releases API to automate some of the steps that are done manually while [cutting the release](https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md) -
 https://developer.github.com/v3/repos/releases/
-[ ] Uploading releases to bintray - https://bintray.com/docs/api/
-[ ] Uploading to docker store - https://docs.docker.com/docker-store/

[2017-10-31 17:35] lipingxue commented on #1315
Hi Andrew,
I cannot see your update in that issue since that issue has been closed.
Could you reopen that issue and put your update here? I will take a look.

Regards,
Liping

On Mon, Oct 30, 2017 at 5:12 PM, Andrew Savinykh <notifications@github.com>
wrote:

[2017-10-31 17:48] lipingxue commented on #1959
@govint If you still have the log, could you attached the log in this issue? I want to see why the log is flooded.

[2017-10-31 18:02] luomiao commented on #1960
@bartlenaerts
Great to know it works!
The first one might be the reason. We will update the user guide to highlight this requirement.
The second one should not be a problem though. And from the log on leader, it seems the leader might not be able to talk to itself's ETCD port? It may be able to talk to other managers though.

[2017-10-31 18:30] lipingxue commented on #1954
Check the commit history here https://github.com/dperson/samba/commits/master
On Oct.21,  some change is made to use Alpine as the base image (before that change, the base image is based on debian).  I also did some test and verified that this change causes the samba server take longer time (1 minutes) to start.

I manually started a samba service with image based on alpline and debian.

image bas

[2017-10-31 18:42] lipingxue commented on #1954
Filed an issue https://github.com/dperson/samba/issues/86 in dperson/samba to track this.

[2017-10-31 19:20] AndrewSav commented on #1315
@lipingxue, thank you for your response. You cannot see my update not because the issue is closed but because I deleted it. I deleted it because I realized that I was doing something silly.

[2017-10-31 20:17] lipingxue commented on #1315
Hi Andrew,
   OK. Glad to hear your issue is resolved.

On Tue, Oct 31, 2017 at 12:20 PM, Andrew Savinykh <notifications@github.com>
wrote:

[2017-10-31 20:28] thiagolealassis commented on #1960
@luomiao swarm is an restriction for my company, are you planning to delivery an orchestration technology independent version ?

[2017-10-31 20:33] luomiao commented on #1960
@thiagolealassis
We don't have an orchestrator independent plan but we are planning a vFile plugin/provider for Kubernetes in Q1 2018.

[2017-10-31 21:48] tusharnt opened #1964 "Limit the number of log files generated by vDVS/vFile"
Limit the number of log files generated by vDVS/vFile

[2017-10-31 21:48] SandeepPissay commented on #1964
Useful link - https://godoc.org/github.com/chasex/glog. Read support for log rotate.

[2017-10-31 23:00] tusharnt opened #1965 "Automate the process of updating the content on StorageHub"
The content on storagehub needs to be updated for each release -
 https://storagehub.vmware.com/#!/vsphere-storage/project-hatchway

[2017-10-31 23:05] tusharnt opened #1966 "Automate the process to cut the release"
- [ ] Use Releases API to automate some of the steps that are done manually while [cutting the release](https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md) -
 https://developer.github.com/v3/repos/releases/
- [ ]  Automate upload of release binaries to bintray - https://bintray.com/docs/api/
- [ ]  Automate upload of the managed plugin to docker store - https://docs.docker

[2017-10-31 23:06] tusharnt commented on #1963
Tracked as an epic in #1965

[2017-10-31 23:06] #1963 closed

[2017-10-31 23:38] luomiao opened #1967 "Investigate swarm-independent vFile plugin requirement"
@thiagolealassis raised the following questions in Issue #1960.
Since it's not directly related to the original issue, so let's continue this discussion here.

[2017-11-01 01:39] shuklanirdesh82 commented on #1658
@govint we are already having windows VM into our CI. It seems the work was on hold due to #1909 (closed now); this should be unblocked now to finish the required work.

[2017-11-01 13:49] bartlenaerts commented on #1960
Hi @luomiao,

not still there yet. Sorry...
I can create a vFile volume but I still have problems mounting it to a Docker container:

[code]

Any ideas?

Regards,
Bart

[2017-11-01 17:49] tusharnt commented on #1950
@govint to follow up with Docker folks about the timeline of the availability of fixes for moby/moby#34664 and moby/moby#35334

[2017-11-01 17:55] tusharnt commented on #1891
@govint to find out whether there is an existing feature request against docker.

[2017-11-01 18:45] luomiao commented on #1960
@bartlenaerts
There is a recently change in the SMB server which is utilized by vFile, which increased the starting time of a vFile volume to around 1 minute. This could result in the timeout error you saw...
Would you please try to increase the VFILE_TIMEOUT_IN_SECOND when you install the plugin:
`docker plugin install --grant-all-permissions --alias vfile vmware/vfile:latest VFILE_TIMEOUT_IN_SEC

[2017-11-01 19:38] thiagolealassis commented on #1967
@luomiao Thanks !

[2017-11-01 19:43] AndrewSav opened #1969 "Error creating volumes"
Ocasionally a VM would get screwed up. All other VMs are working fine and you can create a volume from, them but from this specific VM you no longer can:

I ran `docker volume create --driver=vsphere --name=myvolume -o size=10gb`

I'm getting:

[code]

Reboot does not help. Removing and re-installing the plugin does not help. I have to re-provision VM to get it working again.

Can some one help tr

[2017-11-01 20:10] AndrewSav commented on #1969
Also depite that I put `"LogLevel": "debug",` into `/etc/docker-volume-vsphere.conf` the pugin starts with loglevel of info:

[code]

[2017-11-01 22:53] andrewsav-datacom commented on #1969
Here is corresponding (well not really corresponding, but I trust they are the same except for date) part from server logs:

[code]

[2017-11-01 23:43] andrewsav-datacom commented on #1969
Vmx file of the machine affected:

[code]

[2017-11-01 23:44] andrewsav-datacom commented on #1969
Not sure if this is relevant: https://kb.vmware.com/s/article/2047927?language=en_US

[2017-11-01 23:50] andrewsav-datacom commented on #1969
Okay, forget about me saying that it happened intermittently. I just re-build a VM from scratch and it's happening on the same VM. My suspicion that this is due to the fact that the machine has 5 network adapters, and thus the scsi slot get pushed to the secondary bus. The plugin then does not seem to be able to cope.

[2017-11-01 23:51] ashahi1 commented on #1951
Upgraded docker version on Photon VMs to  17.09.0-ce. Closing this issue.

[2017-11-01 23:51] #1951 closed

[2017-11-02 06:37] govint commented on #1969
@AndrewSav can you say what OS and version of OS you're using in the VM. Let me try a local repro and get back to you.

[2017-11-02 07:33] AndrewSav commented on #1969
@govint, thank you for this, the OS is Rancher OS 1.1.0.

[2017-11-02 11:18] govint commented on #1969
Ok, the ESX host service thats attaching the volumes does return the PCI slot number as is and the guest uses that to figure the device to mount. In this case the device is on a secondary PCI bus and this needs to be fixed in the ESX service as only it can figure which bridge the device is attached on and return the slot number w.r.t that. I'll post a fix by tomorrow.

[2017-11-02 13:54] bartlenaerts commented on #1960
Hi @luomiao
sorry to keep bothering you, but I've got some new error now...
I created the vFile volume and mounted it to my container. I see a vFileServerassets container running. But it comes and goes and changes continuously from ContainerID. Therefore the referencing container can't start and gives these errors:

[code]
[code]

The first error probably because the vFileServer changed it's conta

[2017-11-02 17:42] lipingxue commented on #1959
Record the offline discussion with Govindan.

For this issue I'm not sure if a repro is needed. IN my case the vfile plugin was experiencing a continuous failure (most likely because I was installing and removing the vdvs plugin, stopping and starting nodes) and was generating a lot of logs. I had to remove the files as the VM hung up. For this issue we could just limit the size of each file and t

[2017-11-02 17:43] lipingxue commented on #1959
Fix of issue #1964 will solve this problem.

[2017-11-02 20:54] luomiao commented on #1960
@bartlenaerts
vFile is still an experimental feature and we are working to make it stable, so you're very welcome to submit those problems you have met during the deployment! So we can solve them for the beta release :)

Regarding to this error, I think the order might be different from what you thought about.
From the log, it looks like the reason why vFile server keeps changing its container ID,

[2017-11-02 20:54] shuklanirdesh82 commented on #1964
we are using `logrus` for plugin side logging (https://github.com/sirupsen/logrus)

[2017-11-02 21:07] luomiao opened #1970 "[vFile] allow user to choose ETCD ports for vFile usage"
In order to avoid conflicting with other ETCD usage by the user.

[2017-11-02 22:46] luomiao opened #1972 "Volumes cannot be mounted after vDVS/vFile plugin is re-installed"
Steps to reproduce:
1. Create a volume with vDVS plugin:
[code]
2. Remove the vDVS plugin:
[code]
3. Install the plugin back:
[code]
4. Try to use the volume that I created before deleting the plugin:
[code]

This will fail with error:
[code]

Before and after the plugin re-installation, the ID of vsphere has changed:
Before:
[code]
After:
[code]
Apparently, the mount point returned by the plugin

[2017-11-03 00:21] luomiao commented on #1937
Closed by #1945

[2017-11-03 00:21] #1937 closed

[2017-11-03 00:23] luomiao commented on #1681
Closed by #1971

[2017-11-03 00:23] #1681 closed

[2017-11-03 00:23] luomiao commented on #1892
Closed by #1971

[2017-11-03 00:23] #1892 closed

[2017-11-03 01:04] luomiao commented on #1960
I did some tests with other docker plugins, and found out this is an issue not only for us, but for all the plugins if they are installed by "docker plugin install" way.
That is, if the plugin is re-installed after a volume is created with this plugin, this volume won't be able to function correctly. This volume is bound to the specific plugin that was removed.
@bartlenaerts would you please check

[2017-11-03 01:43] shuklanirdesh82 commented on #1658
@ashahi1 as discussed offline, can you please rerun all required test locally as #1909 closed now?

Please share your analysis/observation for the next step. If required tests pass then unblock tests against windows vm.

[2017-11-03 11:24] chris7444 commented on #1950
Please take note that I don;t have the issue with the vieux/sshfs docker volume plugin (see below) nor with the HPE 3PAR docker volume plugin (not shown here)

I consider this problem critical,  the only way to create vsphere docker volumes is to have the end user connect to  a worker node on which there is no role based access control

Regards
Chris

[root@clh-ansible certs.clh]# . env.sh
[root@c

[2017-11-03 14:20] kochavara commented on #1950
I have reproduced the issue from the Docker EE user interface as well. Basically, you cannot create a volume using the vSphere driver at all - which makes the plug-in completely unusable.

[2017-11-03 15:00] govint commented on #1950
@chris744, @kochavara, the fix for the plugin is ready but it can't be verified or merged till below UCP issue is resolved. The below issue was identified when testing the fix with UCP.

https://github.com/moby/moby/issues/35334

[2017-11-03 15:03] govint commented on #1950
And this issue https://github.com/moby/moby/issues/35334, the UCP issue will be fixed by 2.2.4/3.0.0 timeframe.

[2017-11-03 18:12] kochavara commented on #1950
@govint Based on feedback from Docker management, 2.2.4 GA'd yesterday.

Was the fix merged into this version?

[2017-11-03 18:52] lipingxue opened #1974 "build failed with error"
In top of the tree, "make build" failed with the following error
[code]

[2017-11-04 06:29] chris7444 commented on #1950
@govint ,  I just tested the whole thing with UCP 2.2.4.  Issue is still there. FYI I am using version 0.13 of the plugin (the version from the Docker Store)

[2017-11-04 17:48] govint commented on #1950
Verified the fix in the ESX side service and plugin, as mentioned, the
create step is fixed (works with UCP 2.2.3 also). But doing a _docker
volume inspect_ or _docker volume rm_ is still broken with the UCP.

I can still merge the changes I have that fixes the create path via UCP.
But inspecting and removing the volume will need to be done on the swarm
nodes themselves.

On Sat, Nov 4, 2017 at 11

[2017-11-05 17:49] madjam002 opened #1977 "Support Storage vMotion while vDVS volumes are attached"
I'm aware that currently Storage vMotion isn't supported by this plugin and results in strange behaviour, but it would be nice if this could be supported somehow?

I'm not sure how it would work with volumes created on specific datastores (e.g `MyVolume@datastore1` - `datastore1` would be available on one host but not another) but for those with no datastore constraint (e.g just `MyVolume`) this c

[2017-11-05 19:46] govint commented on #1977
@madjam002, thanks for letting us know of your requirement, I'm curious why the VDVS volumes would need to be migrated. Storage vmotion applies to VMs where the VM's VMDKs (dependent disks) are migrated to a target datastore. The VDVS volumes are completely separate from VM disks and are managed wholly by the plugin and via the admin CLI on the ESX host. The datastores where the VDVS volumes get p

[2017-11-05 20:14] madjam002 commented on #1977
@govint When I attempted a Storage vMotion earlier I noticed that the vDVS VMDKs were migrated but to the VM folder on the target datastore, not the `dockvols` directory.

My use case is being able to vMotion VMs off a host when it needs to be taken down for maintenance and currently it doesn't seem to be possible to migrate VMs with running Docker Containers with 100% uptime to another host.

May

[2017-11-06 02:41] victormakmo commented on #1960
@luomiao
i followed your suggest added timeout to 90s. still got same error:
Failed to blocking wait for Mounted state. Error: Timeout reached; BlockingWait is not complete.

below is my test lab environment:
ESXi 6.0.0 build 2494585
Docker 17.06-CE

2017-11-06 09:41:27.569263652 +0000 UTC [INFO] Mounting volume name=SharedVol
2017-11-06 09:41:27.570079456 +0000 UTC [INFO] Before AtomicIncr
2017-1

[2017-11-06 10:48] chris7444 commented on #1950
@govint

I have UCP 2.2.4, vib v0.18, plugin v0.18, docker and still the same issue. At some time I have successfully created ONE volume but this was the only successful attempt

Where can I find the bits which are supposed to work ? I am downloading the bits from the repos  documented here:
http://vmware.github.io/docker-volume-vsphere/documentation/install.html

--------------
note: clh06novoa i