[2017-11-06 12:07] govint commented on #1950
@chris7444, the changes aren't merged yet. I'll get those in this week once its reviewed. Can you also confirm that with the HPE 3PAR and vieux/sshfs plugins you are able to create/inspect and delete the volumes via UCP?

[2017-11-06 12:58] govint commented on #1969
@AndrewSav, On the VM thats showing the issue can you please run _ls /sys/bus/pci/slots_ and _ls /sys/bus/pci/devices/0000:00:16.1_ and post the results here.

FWIW, the files under /sys/bus/pci/slots already handle devices on the secondary PCI bus, but looks like the encoding done by vSphere isn't understood when a device is located under a non zero function of the PCI bridge. In Ubuntu and Photo

[2017-11-06 13:00] govint commented on #1969
I've made the fix in the ESX service to handle PVSCSI controller on the secondary PCI buses but that also needs a change how the client plugin determines the device under the appropriate PCI device (bridge in this case). Will post a PR once the changes are complete.

[2017-11-06 13:34] govint commented on #1977
@madjam002, at this point in time VM migration scenarios aren't supported with VDVS disks attached. One option is to stop the workload and then migrate the VM. Assuming a docker swarm, another option is to drain services (containers) deployed to the VM first (via _docker node_ command) and then migrate the VM. Post migrate, the VM would be made active to redeploy services.

[2017-11-06 13:48] chris7444 commented on #1950
I don't have an access to a 3PAR anymore.

vieux/sshfs plugin seems to work, both for create, inspect and delete
  UCP2.4.0,
  Docker version 17.06.2-ee-5, build 508bb92

[root@clh-ansible certs.clh]# export | grep DOCKER
declare -x DOCKER_CERT_PATH="/root/certs.clh"
declare -x DOCKER_HOST="tcp://clh-ucp.am2.cloudra.local:443"
declare -x DOCKER_TLS_VERIFY="1"

root@clh-ansible certs.clh]# docker v

[2017-11-06 14:01] govint commented on #1950
@chris7444, thanks for confirming, I'm following up with the docker community on the fixes in UCP for the reported issue and will keep this thread updated.

[2017-11-06 14:19] kochavara commented on #1950
Thanks!

[2017-11-06 16:05] bartlenaerts commented on #1960
Hi @luomiao,

because of the weekend, I left it running/trying for the last 4 days, and now it is up and running by itself. Quite strange, I don't know why. Patient is really a virtue.

But to answer your questions:

1. I installed the service with `docker service`.
2. The output of `docker plugin ls` and the `/run/docker/plugins` folder is:
[code]
Looks like both ID's matches. I've checked all 9

[2017-11-06 18:21] AndrewSav commented on #1969
[code]

[2017-11-06 22:40] luomiao commented on #1960
@victormakmo
would you please check if ETCD ports (2379, 2380) are opened on your manager VMs?
Also may I ask if you have your VMs residing on the same ESX or there are multiple ESXs involved?
The third thing you may want to try is to increase the timeout value to 3 minutes and try...
I know this is a too large timeout, but due to the known slow-starting issue of the SMB server, we need this large

[2017-11-06 22:49] luomiao commented on #1960
@bartlenaerts

Thank you for the log!
In fact the output of the path under /var/run/docker/plugins will always match with your **current** output of docker plugin ls.
However, the error you saw previously has a different ID with it:
`"Post http://%2Frun%2Fdocker%2Fplugins%2F24ff4b45da04d67a56fd3c3e09ec19cae8657692b37675c129f398e2fe1ea7b8%2Fvfile.sock/VolumeDriver.Mount: dial unix /run/docker/plugi

[2017-11-06 23:13] #1916 closed

[2017-11-07 08:31] govint commented on #1972
Not sure this is a bug, because this is how docker maps volumes to a plugin. Rather than delete and re-install a plugin, it can be upgraded via _docker plugin upgrade_ instead. Its surely not a VDVS plugin. Could check with the Moby project and open an issue there.

[2017-11-07 08:31] #1972 closed

[2017-11-07 08:33] govint commented on #1969
@AndrewSav, thanks for posting the data requested, I've made a PR of the fixes to allow figuring out the position of the device on the client. It should get reviewed and merged soon.

[2017-11-07 09:28] govint commented on #1612
This is not a must fix and the original reason was to be able to create a test set up via a make target. Which, IMO, is not needed at all. Given users already have the means to set up a cluster of hosts the plugin doesn't need to provide any such capability. Closing this.

[2017-11-07 09:28] #1612 closed

[2017-11-07 13:13] bartlenaerts commented on #1960
Hi @luomiao,

This it the output for `docker plugin ls` from **manager3**:
[code]
and the list in `/run/docker/plugins`
[code]

Something probably went bad because of all the testing I did. Removing plugins, re-installing them...

I'll try again and let you know how it went!

Regards,
Bart

[2017-11-07 16:42] tusharnt opened #1979 "Test compatibility with Photon OS 2.0"
Based on the results of the investigation, we need to update our customer facing documentation.

Useful links -
- https://blogs.vmware.com/cloudnative/2017/11/01/version-2-0-project-photon-os/
- https://www.virtuallyghetto.com/2017/11/workarounds-for-deploying-photonos-2-0-on-vsphere-fusion-workstation.html

[2017-11-08 04:29] govint opened #1980 "WIndows E2E tests throws exception stack in CI"
The below issue is seen in CI run https://ci.vmware.run/vmware/docker-volume-vsphere/1717.

@ashahi1 can you confirm that the windows e2e tests were verified to run ok prior to enabling on master (it may have been but the below issue is there). Also, can you say what version of Go is on the Windows VM where the tests are running.

Preferrably, the Windows e2e tests should have been verified prior

[2017-11-08 09:00] luomiao commented on #1960
@victormakmo
From the log, it seems the servers are up correctly.
But somehow the node where the container is running now cannot detect the server is up.
This usually can be caused by two reasons:
1. ETCD port is not open. Even firewall is disabled, sometimes it doesn't mean the ports are all open, especially if the VM is a photon os...
2. Swarm routing mesh is not working: to verify this, do a si

[2017-11-08 09:03] ashahi1 commented on #1980
@govint We haven't seen any issues with Windows plugin tests on CI. Most recent run on CI against master has all tests passed including windows tests:

https://ci.vmware.run/vmware/docker-volume-vsphere/1710

[2017-11-08 09:13] bartlenaerts commented on #1960
Hi @luomiao,

I cleaned up everything yesterday, so removed all services, all volumes, all images and containers... Today I reinstalled my first service again, and it worked like a charm right out of the box!

Conclusion to me is, make sure the ETCD ports are open, and that you install the vFile driver with the option VFILE_TIMEOUT_IN_SECOND=90. And of course have a clean Docker swarm with no dang

[2017-11-08 14:56] seanhig opened #1981 "Docker Plugin Install failing"
This started happening just this morning in my test cluster build...

fatal: [swarm-w5]: FAILED! => {"changed": true, "cmd": "docker plugin install --grant-all-permissions --alias vsphere store/vmware/docker-volume-vsphere:latest", "delta": "0:00:00.996201", "end": "2017-11-08 07:42:01.479639", "failed": true, "rc": 1, "start": "2017-11-08 07:42:00.483438", "stderr": "**Error response from daemon:

[2017-11-08 19:24] #1974 closed

[2017-11-08 20:08] shuklanirdesh82 commented on #1980
https://ci.vmware.run/vmware/docker-volume-vsphere/1722 and https://ci.vmware.run/vmware/docker-volume-vsphere/1723 are not showing any issue so closing this issue now.

[2017-11-08 20:08] #1980 closed

[2017-11-08 22:39] shuklanirdesh82 commented on #1981
@seanhig Sorry to hear that you are facing an issue while installing vDVS plugin. I have tried on my end and I am able to install without any problem (pasting below for your reference)

[code]

It would be great if you can provide some more logs to help you further.

1. can you please share docker logs?
2. you may want to check `/var/logs` for the `docker-volume-vsphere.log` and attach with the is

[2017-11-08 23:02] seanhig commented on #1981
Thank you, I found the issue… earlier versions had a different path (as shown in the snippet)

However, it is now:

No more “store/".  I noticed the docs have also been updated.

Must have changed recently, I run those scripts near daily.  Once I made the change it started working again.

Thanks again.

[2017-11-08 23:09] shuklanirdesh82 commented on #1981
Thanks @seanhig for confirming quickly!

Please share your feedback at hatchway@vmware.com and feel free to drop a note for any feature request.

/CC @tusharnt

[2017-11-08 23:09] #1981 closed

[2017-11-09 00:24] lipingxue commented on #1932
I tried with docker 17.10 release and still can reproduce this issue.

[2017-11-09 02:14] victormakmo commented on #1960
hi @luomiao,

1. For ETCD connection, i have checked on all managers use netstat, all the managers have established connection with port 2379, 2380. i assume the ETCD is up and running

2. Swarm routing also no problem. all managers can get response on curl.

If you have time, we may set up a conference call. :-)

[2017-11-09 11:38] govint commented on #1969
Closed via #1978

[2017-11-09 11:38] #1969 closed

[2017-11-09 18:16] #1964 closed

[2017-11-09 18:57] AndrewSav commented on #1969
@govint when is it available via docker hub?

[2017-11-09 20:01] luomiao commented on #1960
Hi @victormakmo
sorry I didn't find your email address from github. Would you please send an email to me at: miaol@vmware.com so we can set up the conference call?

@bartlenaerts Glad to know things are working! You are welcome to try out the Beta release which will be available at the beginning of December. If everything is good for now, would you please close this issue? We will open another one

[2017-11-09 23:31] luomiao commented on #1959
Closed by #1973

[2017-11-09 23:31] #1959 closed

[2017-11-09 23:37] #1878 closed

[2017-11-09 23:50] shuklanirdesh82 commented on #1915
closing as per previous comment.

[2017-11-09 23:50] #1915 closed

[2017-11-09 23:55] luomiao commented on #1910
Close since not necessary. Will refer #1806 for previous testing result.

[2017-11-09 23:55] #1910 closed

[2017-11-09 23:55] tusharnt commented on #1608
@Nagoo Please let us know if you have feedback about vFile at hatchway@vmware.com

[2017-11-09 23:55] #1608 closed

[2017-11-10 05:21] shuklanirdesh82 commented on #1969
@AndrewSav It will be part of November month release .. we are shooting a release date (11/30) for vDVS 0.19.

I shall update this issue when vDVS 0.19 release available for your to try out.

[2017-11-10 05:26] shuklanirdesh82 commented on #1869
this was not reproduced so closing this now .. we shall reopen when it occurs again.

[2017-11-10 05:26] #1869 closed

[2017-11-10 05:38] #730 closed

[2017-11-10 05:39] shuklanirdesh82 commented on #730
closing as per https://github.com/vmware/docker-volume-vsphere/issues/730#issuecomment-284587136

[2017-11-10 05:41] #759 closed

[2017-11-10 05:44] shuklanirdesh82 commented on #813
duplicate to #1057

[2017-11-10 05:44] #813 closed

[2017-11-10 05:52] shuklanirdesh82 commented on #1931
@luizhpriotto photon 2.0 is out and available at https://github.com/vmware/photon/wiki/Downloading-Photon-OS#downloading-photon-os-20-ga

Can you please try out and update the issue?

[2017-11-10 05:55] shuklanirdesh82 commented on #1471
closing as invalid.

[2017-11-10 05:55] #1471 closed

[2017-11-13 00:05] ashahi1 opened #1983 "[vFile] Volume creation failed with vFile plugin"
Volume creation failed while testing vFile plugin with VMs on 6.0 ESX. I saw this failure on CI.

I verified that docker swarm is working correctly using instructions mentioned here - http://vmware.github.io/docker-volume-vsphere/documentation/vfile-plugin.html#i-got-operation-now-in-progress-error-when-mounting-a-vfile-volume-to-a-container

----------------------------------------------

Test na

[2017-11-13 13:46] #1960 closed

[2017-11-13 15:53] chris7444 commented on #1950
@govint  Any news here ? I am not sure why UCP needs a fix when the sshfs volume plugin works with UCP

[2017-11-13 19:48] govint commented on #1950
@chris7444, please see updates here at https://github.com/moby/moby/issues/35334#issuecomment-344000683, seems like UCP 2.2.4 does have an issue with Get() and Remove() for non-local volumes. I don't have a date yet when UCP 2.2.4+ will be available though.

[2017-11-13 20:06] shuklanirdesh82 opened #1984 "Getting vsphere plugin error "plugin not found""
On 11/10/17, 10:45 AM, "Brian Teichner" <Brian.Teichner@onassignment.com> wrote:

    We are currently using the vSphere Docker Volume Service, and are seeing the following errors in the Docker daemon logs:

    level=error msg="plugin not found"

    level=info msg="time=\"2017-10-30T18:09:00Z\" level=warning msg=\"Failed to load config file /etc/docker-volume-vsphere.conf: open /etc/docker-volum

[2017-11-13 21:33] bteichner commented on #1984
[code]

[2017-11-13 21:34] bteichner commented on #1984
[code]

[2017-11-14 09:58] chris7444 commented on #1950
@govint. My understanding is that in [moby 35334](https://github.com/moby/moby/issues/35334#issuecomment-344000683) you are reporting a problem with delete or inspect but it seems you can create volumes. At this point in time If people use vDVS 0.18 (or  0.17)  they cannot create volumes when sourcing the client  bundle. If we could have the changes you did to be able to create volumes this would

[2017-11-14 10:15] govint commented on #1950
@chris7444, I have PR https://github.com/vmware/docker-volume-vsphere/pull/1985 out for a review that will fix the plugin to ensure no issues in creating volumes. This change should be in the next release of the plugin. Besides that inspect isn't supported via UCP and remove needs the labels on all nodes in the swarm cluster to be exactly the same in order for it to work.

[2017-11-14 17:20] kochavara commented on #1950
Thanks @govint
Do we have an ETA on when the next version of the plugin will be released?

[2017-11-14 18:54] tusharnt commented on #1950
@kochavara the next release is (tentatively) planned in the first week of December.

[2017-11-14 22:28] chris7444 commented on #1950
@govint Thank you!

[2017-11-15 00:59] tusharnt commented on #1920
We'll be migrating to OneCloud.

[2017-11-15 01:01] tusharnt commented on #1777
https://blog.docker.com/2017/03/announcing-docker-certified/

[2017-11-15 01:06] tusharnt opened #1989 "vFile : Automate docker swarm cluster setup"
This will make it easy for customers to set it up vFile without being a swarm expert.

@lipingxue Please reassign if not appropriate.

[2017-11-15 01:17] tusharnt opened #1990 "vFile : add instructions on how to troubleshoot vFile issues"
Troubleshooting section should include the following info and more! -
- Which logs are needed for debugging customer issues?
- Where are these logs located?
- How to change the default log level? What are the various log levels supported?

Ideally, similar to [vm-support](https://kb.vmware.com/s/article/1010705) mechanism that VMware uses, we should provide an automated script that collects all re

[2017-11-15 17:12] ashahi1 commented on #1947
vFile test are now enabled on 6.0 ESX. Changes were checked in two PRs - #1987 and #1949

Closing this issue now.

[2017-11-15 17:12] #1947 closed

[2017-11-16 10:39] govint commented on #1950
Verified the fixes with a five node swarm cluster with UCP:

1.
 docker volume rm photonvol-7
photonvol-7
root@(none):/vol/photon-ee# docker version
Client:
 Version:      17.07.0-ce
 API version:  1.30 (downgraded from 1.31)
 Go version:   go1.8.3
 Git commit:   8784753
 Built:        Tue Aug 29 17:43:06 2017
 OS/Arch:      linux/amd64

Server:
 Version:      ucp/2.2.4
 API version:  1.30 (minimu

[2017-11-16 10:39] govint commented on #1950
Changes are merged and closing.

[2017-11-16 10:39] #1950 closed

[2017-11-16 15:20] tusharnt commented on #1921
Results of this exercise need to be formally included in vDVS documentation.

[2017-11-16 17:56] lipingxue commented on #1954
Filed an issue to request a build based on debian image. https://github.com/dperson/samba/issues/89

[2017-11-17 17:24] shuklanirdesh82 opened #1992 "CI is not collecting coverage data for vDVS driver"
CI is not showing coverage data for vDVS driver.

CI link: https://ci.vmware.run/vmware/docker-volume-vsphere/1781
[code]

[2017-11-17 17:27] shuklanirdesh82 opened #1993 "[vFile test] Need to use poller instead of static wait time of 80 seconds"
CI link: https://ci.vmware.run/vmware/docker-volume-vsphere/1781

I am seeing 10 occurrences of `80 seconds` of wait time, could save some time through intelligent polling.
[code]

@lipingxue I am parking with you, please reassign appropriately.

[2017-11-17 20:17] shuklanirdesh82 commented on #1984
This is the limitation from docker, adding an entry to FAQ section through #1994.

[2017-11-18 00:12] shuklanirdesh82 commented on #1931
closing this as per https://github.com/vmware/docker-volume-vsphere/issues/1931#issuecomment-336842253; please reopen if the issue is still reproducible.

[2017-11-18 00:12] #1931 closed

[2017-11-18 00:13] shuklanirdesh82 commented on #1314
closing this as wontfix .. this is just an improvement. Please reopen if there is a strong need for doing this.

[2017-11-18 00:13] #1314 closed

[2017-11-18 00:27] shuklanirdesh82 commented on #1365
closing this as wontfix; we may use different approach while improving test.

[2017-11-18 00:27] #1365 closed

[2017-11-18 15:58] tusharnt opened #1995 "Validate that vDVS works against VVol datastores"
As per @cormachogan, this is an important use case.
@ashahi1,
We need to document the outcome of our investigation.

[2017-11-20 00:23] Routhinator opened #1996 "IndexError('tuple index out of range',) when trying to create any volume with v0.18"
From the Docker CLI:

[code]

From the ESXI logs:

[code]

Cannot figure out what is going wrong. I've followed all the setup I can find for this.

I see someone else hit this but closed their issue https://github.com/vmware/docker-volume-vsphere/issues/876 - In that issue @lipingxue was talking about some sort of "tenant" setup that is not documented? Is that relevant any longer?

[2017-11-20 00:51] Routhinator commented on #1996
Still have the same issue, but I did determine that my authdb hadn't been initialized. There is no mention of this being needed in the installation instructions:
[code]

[2017-11-20 01:18] Routhinator commented on #1996
Looking at the source code.. it looks like this plugin requires VCenter as the `vc_uuid = UUID_FORMAT.format(*vc_uuid.replace("-",  " ").split())` line is trying to work with what appears to be a VCenter UUID. This is a standalone ESXi server used for testing. Is there no support for standalone ESXi?

[2017-11-20 07:52] govint commented on #1996
@Routhinator, thanks for trying the volume plugin on ESX, for this issue standalone ESX should be usable, although this part of the code is perhaps assuming the VC UUID always exists. This should get fixed up and verified with single ESX hosts without VC.

Can you describe your usecase to use a a single host(yes?) and local storage(yes?). How do you provision the VMs to the hosts without a VCenter

[2017-11-20 22:08] tusharnt commented on #1658
Plan this week - Manually execute all tests (P0 & P1) and see if that uncovers any issues with Skylight. Once this is done then continue with automation.

[2017-11-20 22:16] tusharnt commented on #1666
@ashahi1 will manually execute this test scenario for KubeCon release.

[2017-11-20 22:21] tusharnt commented on #1995
@ashahi1 can you please elaborate which basic scenarios you will validate against VVol datastores?

[2017-11-20 22:35] ashahi1 commented on #1995
@tusharnt I plan to execute all end-2-end tests using VVOL datastores.

[2017-11-21 03:54] Routhinator commented on #1996
@govint

Single Host with SSD Local storage for game servers. VMs are built with Packer (since there's no ESXi way to use Terraform. Final tweaks are made with the ESXi Web Interface, which is identical to the VCenter 5.5>6.5 Interface but for one host. (No cloning either so Packer is a very helpful utility there.) This is for a home dev/gaming environment and lab sort of use case.

Docker swarm i

[2017-11-21 22:45] tusharnt commented on #1983
@ashahi1 has already fixed the test to increase the timeout.

#1990 aims to document how the customer can troubleshoot issues with swarm cluster.

[2017-11-21 22:45] #1983 closed

[2017-11-21 22:48] ashahi1 commented on #1983
Test was fixed in pull request #1949

[2017-11-22 01:10] ashahi1 opened #1998 "[VVOL] Clone of a volume from existing volume fails for vvol datastore"
Steps:
1. Create a volume on vvol datastore.
2. Clone the volume - error: ``` VolumeDriver.Create: Server returned an error: (vmodl.fault.InvalidArgument)```

Logs have been attached at the end.

---------------------------------------------

Detailed steps are as follows:

1. Created a volume on a vvol datastore - MyVolume
[code]
2. Tried to clone a existing volume but operation failed
[code]

Lo

[2017-11-22 13:24] #1780 closed

[2017-11-22 15:13] #1984 closed

[2017-11-23 06:37] govint commented on #1996
@Routhinator, thanks for the description of your use case. The fix is out for a review and should be merged soon.
Does your use case also need shared storage between containers running in different containers. The vDVS plugin is good for shared storage between hosts allowing volumes to be accessible across ESX hosts. But a volume can't be accessed by more than one VM at a time. In case your contai

[2017-11-26 20:52] #1970 closed

[2017-11-27 01:01] shuklanirdesh82 commented on #1995
documentation PR is merged and one issue (https://github.com/vmware/docker-volume-vsphere/issues/1998) is raised so closing this one now as the testing task is done.

[2017-11-27 01:01] #1995 closed

[2017-11-27 07:01] akutz opened #2000 "Sirupsen/logrus needs to be renamed to sirupsen/logrus"
All instances of Sirupsen/logrus in Go code need to be renamed to sirupsen/logrus. Please see [this comment](https://github.com/sirupsen/logrus/issues/570#issuecomment-313933276) for more information about this issue.

[2017-11-27 11:21] govint commented on #1996
Fixed via #1997

[2017-11-27 11:21] #1996 closed

[2017-11-27 11:34] govint commented on #1977
Closing this as presently we don't support  migration scenarios for container volumes, plus, should also rethink if migration really makes sense with container workloads. The VM is very much part of the infrastructure and the workload (container) migrates across VMs. Balancing of volumes across (not supported yet) is something that can be addressed as also being able to migrate container volumes o

[2017-11-27 11:34] #1977 closed

[2017-11-27 11:35] govint commented on #1938
This should become the defacto plugin backend with the CSI plugin version of vDVS. Closing this issue and will be handled as part of CSI plugin development.

[2017-11-27 11:35] #1938 closed

[2017-11-27 11:38] govint commented on #1258
Closing, cross-ESX multi-tenancy isn't supported and with Kubernetes + CSI + VC backed volume plugin multi-tenancy is as definable via the container orchestrator. Multi-tenancy inside the platform and not at the container orchestrator level is not worth pursuing any more.

[2017-11-27 11:38] #1258 closed

[2017-11-27 11:42] govint commented on #1872
Closing, please open if there is a need even to check these timings. Going forwards, host level container related operations is highly unlikely and at best avoided. Split interfaces between guest and host are not going to be useful at all - user wants a single interface vs. many. Plus the one aspect of datastore level multi-tenancy is not clear why users would ever want that - given kunernetes + s

[2017-11-27 11:42] #1872 closed

[2017-11-27 11:44] govint commented on #1833
Not causing any bug in the plugin, closing. Pls. open a new issue if we see a problem.

[2017-11-27 11:44] #1833 closed

[2017-11-27 11:45] govint commented on #1367
Closing, host side admin CLI logs aren't very critical going forwards.

[2017-11-27 11:45] #1367 closed

[2017-11-27 11:45] govint commented on #1572
Test issue and not a bug. Closing.

[2017-11-27 11:45] #1572 closed

[2017-11-27 11:50] govint commented on #1515
Testbed set up is best done as per tools that the developer has and is familiar with. Creating a test setup seems unnecessary in the vDVS code. Its a good idea but its already addressed by the many tools already available to deploy and config a set up on vSphere.

[2017-11-27 11:50] #1515 closed

[2017-11-27 11:51] govint commented on #1485
Closing per earlier comment.

[2017-11-27 11:51] #1485 closed

[2017-11-27 11:51] govint commented on #1161
Code issue and nothing's broken really.

[2017-11-27 11:51] #1161 closed

[2017-11-27 11:52] govint commented on #1891
When docker supports it or really when CSI includes it.

[2017-11-27 11:52] #1891 closed

[2017-11-27 11:53] govint commented on #1944
Delayed on this with other work. Will review and post a change.

[2017-11-28 19:24] akutz commented on #2000
Hi @msterin,

I'm not sure if you're still on this project, but I thought I'd reach out. I'm working on porting this driver to [CSI](https://github.com/container-storage-interface/spec/blob/master/spec.md), and this issue is a large one.

To make matters worse, I tried creating a PR to handle this issue, but y'all rely on such old versions of many of Docker's packages that several of those no long

[2017-11-28 20:00] msterin commented on #2000
@akutz - I am not longer on the project.  Regardless - yes, gvt and all dependency mgmt is ancient (> 1 yr I guess) and are due for a face lift. Still, am not sure I get the issue. Actually, I am sure I do not get it.
You are porting to CSI - why does it require logrus package version update ?  And if it does not need update , why does it require rename ? And it it does require rename, what is the

[2017-11-28 20:12] tusharnt commented on #1919
Tracked as part of #1729

[2017-11-28 20:12] #1919 closed

[2017-11-28 20:13] tusharnt commented on #1954
@lipingxue looks like dperson/samba#89 is closed. What are the next steps for us?

[2017-11-28 20:22] akutz commented on #2000
Hi @msterin,

Because you don't control what dependencies use, and sometimes you need to update a dependency. If they've made the switch, you're hosed.

[2017-11-28 20:28] msterin commented on #2000
Ah, got it, thanks @akutz .  Yeah, this sucks. I wish golang simply added version to `import` statement :-( . I never understood why they did not.

At any rate -  I agree it's a must to fix ASAP as it  blocks bringing in any fresh dependencies and doing any meaningful work (e.g. port to CSI :-). Let's see what the current team says.
//CC @tusharnt

[2017-11-28 20:37] akutz commented on #2000
Hi @msterin,

I recommend moving to [golang/dep](https://github.com/golang/dep) myself.  Also, FWIW, I **did** spend time trying to fix all this via a PR. Here's where I landed:

* Updated all `docker/docker` references to `moby/moby`
* Updated all `moby/moby` packages to a single, unified revision (as the other way is madness since you cannot know that a repo at different revisions is even compat

[2017-11-28 20:49] akutz commented on #2000
FWIW, I just ran `dep init` to convert the existing manifest to use `golang/dep`, and [it worked](https://gist.github.com/akutz/8bd1faaea2056dc99ef94e2fad3bd436).

Looks like nothing in your project actually still uses those three deprecated projects, but since `gvt` does not know how to reconcile that (`dep` does), `gvt restore` fails:

[code]

[2017-11-28 20:59] shuklanirdesh82 commented on #2000
Sure, Thanks @msterin !

[2017-11-28 21:08] akutz commented on #2000
No problem. Happy to help :)

[2017-11-28 22:43] tusharnt commented on #1998
@govint can you please update the issue with your analysis of the root cause?

[2017-11-28 22:46] tusharnt commented on #1810
Tracked as part of #1269

[2017-11-28 22:46] #1810 closed

[2017-11-28 23:47] divyenpatel opened #2003 "Documentation Issues"
- [x] Commands are not properly formatted on this page - http://vmware.github.io/docker-volume-vsphere/documentation/admin-cli.html#create
- [x] ~The VDVS documentation doesn't say explicitly that it cannot manage heterogeneous docker hosts. For example, I might have windows docker hosts and Linux docker hosts managed by a single ESX host. so any volumes created on windows host will fail to mount

[2017-11-29 00:15] shaominchen opened #2004 "The backend volume should not be visible to end users"
When we create a volume with vFile plugin, 2 volumes are shown by running "docker volume ls":

[code]

The backend volume should not be visible to end users if we don't expect user to operate on this volume. Right now we can remove the backend volume successfully, and then the shared volume will not work anymore.

[2017-11-29 00:22] pshahzeb opened #2005 "Volume status not updated after vfile plugin disable"
Volume status isn't updated as per its usage when a plugin is disabled and then enabled.

Steps to reproduce:
1.  Create a volume and attach it
[code]

2. Check the status. Disable vFile plugin
[code]
3. Exit from the container and check status of volume
[code]

4. Enable the vfile plugin
[code]

5. Status of the volume is still mounted
[code]

[2017-11-29 05:30] govint commented on #2000
@akutz (tangential maybe) Docker doesn't have any support for the CSI at present are you then creating some sort of a bridge to have a CSI plugin? I've been checking if the go-plugin-helpers can be updates to act as a bridge between docker and a CSI enabled plugin but am not sure how much it helps if Docker itself can't take advantage of the CSI interfaces themselves.

[2017-11-29 05:32] akutz commented on #2000
Hi @govint,

We've already created a bridge to CSI for existing Docker Volume plug-ins. It's built into REX-Ray. I'm talking about creating a native CSI storage plug-in (SP) for vSphere. Specifically it's based on your Docker Volume VMDK driver.

This isn't for Docker, it's for all COs that will soon support CSI, such as K8s, Mesos, and yes, Docker too.

[2017-11-29 09:15] govint commented on #1998
The clone op is presently unsupported for vvol based container volumes and will be fixed soon.

[2017-11-29 12:22] diegolima commented on #1954
Hello!

I've been performing tests with the vfile plugin and found out that the Alpine-based dperson/samba image suffers a severe performance hit when running as a service with public ports forwarded to it. I'll detail my test scenario and results below, but as a quick TLDR, using an older dperson/samba image, based on debian, gets us rid of all issues. In my case I built an image from commit http

[2017-11-29 19:51] shuklanirdesh82 commented on #2000
upcoming release is already planned out for this Friday, this task will be taken care by upcoming release with highest priority.

Thanks @akutz once again!

[2017-11-29 22:24] luomiao commented on #1954
@diegolima
Thank you for your detailed evaluation!
Yes we also observed that the health check in some case just cannot pass and will make the SMB server never up running.
Thank you for locating the reason!
We are currently looking for solutions such as replace with other SMB server image or forking a separate image as you suggested. will have an update soon!

[2017-11-29 22:43] ashahi1 opened #2006 "[Windows Plugin] Failed to mount volume with short name when it is already mounted with long name previously"
Failed to mount volume with short name when it is already mounted with long name previously and vice versa.

Test Name: TestLongVolumeName
https://github.com/vmware/docker-volume-vsphere/blob/ee3ef339cb0703492e6d02f96fb4cb8a242065a1/tests/e2e/restart_test.go

Steps:
1. Create a volume.
2. Run a container using short volume name - successful.
3. Tried to start another container using long volume na

[2017-11-29 23:56] divyenpatel commented on #2003
- [ ] apply formatting for commands at the end of the page - http://vmware.github.io/docker-volume-vsphere/documentation/docker-stacks.html

[2017-11-30 00:15] prashima commented on #2003
**Correctness**

- [ ] http://vmware.github.io/docker-volume-vsphere/documentation/docker-volume-cli.html mentions ’The docker volume commands are completely supported by vDVS plugin.’ and in the same page it is mentioned that prune volume command is not supported.

- [ ] http://vmware.github.io/docker-volume-vsphere/documentation/docker-volume-cli.html has link Storage policy based management tha

[2017-11-30 00:15] ashahi1 commented on #2006
@govint Can you please take a look at this issue?

[2017-11-30 00:51] lipingxue commented on #1948
@seanhig What is exactly your use case?  What do you mean you expect the share to be owned by "www-data"? Do you expect "www-data" have both read/write access to the share or read only access? Could you explain your case in detail? If possible, we can have a call to better understand your use case.

[2017-11-30 00:55] tusharnt commented on #1682
We concluded that these tests will be run manually for now.
Once vDVS CI is moved to OneCloud, we will revisit this issue.

[2017-11-30 01:02] seanhig commented on #1948
Sure we can have a call if you like, feel free to reach out via my email directly.

My current use case is simple: Drupal7 will not work with your vFile implementation.  If you take the stock drupal:7 docker image and attempt to use it with vFile (mapping the /var/www/html/sites/default/files to the vFile share), it will fail to write to the share, regardless of the fact that the permissions are w

[2017-11-30 04:36] shuklanirdesh82 commented on #1553
Profiling has been done again through [`go tool pprof`](https://golang.org/pkg/net/http/pprof/) against the master's code i.e. with  https://github.com/vmware/docker-volume-vsphere/commit/f53b61eda85334d7d83c4e0e374739713e23946c see https://github.com/vmware/docker-volume-vsphere/pull/1991 for more details.

Here are the results obtained from a profiling of the volume creation workflow.

**Docker

[2017-11-30 04:39] govint commented on #1553
Great improvement. Well done @shuklanirdesh82 !!

[2017-11-30 04:44] #1553 closed

[2017-11-30 05:01] govint commented on #1948
@seanhig do you expect to be able to provide a user account name/ID or group account name/ID that can be used to control access to the volume? Possibly allow all users in a group to be able to share the same volume? Or exclusive that only a specific user/group can access the volume.

For the username and password, it should be possible to use secrets (IIRC, docker does implement these storage plug

[2017-11-30 05:17] lipingxue commented on #1948
@seanhig What is your email? From what you described, it seems that the share is mount successfully but unable to write. Or the cifs mount fail? Let us have a phone call tomorrow.

[2017-11-30 05:21] lipingxue commented on #1948
Hi Sean,
   Hope this email reach you. I am available after 11:00AM tomorrow and my
email address is lipingxue@gmail.com. Please let me know when is a good
time and the number to reach you. Thanks!

Regards,
Liping

On Wed, Nov 29, 2017 at 5:02 PM, Sean Hignett <notifications@github.com>
wrote:

[2017-11-30 07:23] ashahi1 commented on #1979
Ran all the end-to-end for vDVS against Photon 2.0 and all tests finished successfully. No issues were found while running theses tests with Photon 2.0.

Got the Photon 2.0 from the link - https://github.com/vmware/photon/wiki/Downloading-Photon-OS

[2017-11-30 07:23] #1979 closed

[2017-11-30 12:46] govint commented on #1998
The root cause seems to be with how the server on the EX host updates the volume KV. With vvols the KV sidecar is itself a vvol and the sidecar file is essentially a descriptor and that data gets overwritten when the KV is updated. While it works fine to open and read/write the sidecar on vmfs and vsan, this doesn't work on vvols. Will post a PR with a backend friendly IO interface than what's use

[2017-11-30 19:37] ashahi1 commented on #2006
Hit the same issue when I write a message from host1 to a file on the volume and try to read the content from host2 from same file on the volume.

[code]

[2017-11-30 22:58] ashahi1 commented on #1658
Manually performed all the tests. Hit one issue #2006

[2017-12-01 01:18] tusharnt opened #2008 "Validate vDVS against latest stable Docker release - 17.9"
We need update the documentation after we successfully validate this.

[2017-12-01 01:38] luomiao commented on #1943
Closed by #2001

[2017-12-01 01:38] #1943 closed

[2017-12-01 01:41] #1990 closed

[2017-12-01 02:43] shuklanirdesh82 commented on #1520
as discussed during the meeting, the workflow would be verified manually and during `flash` sprint automation will be added.

@ashahi1 Let's verify manually and add automation test during `Flash` sprint

[2017-12-01 02:44] ashahi1 commented on #2008
CI VMs have already been upgraded to docker 17.09. Docker version was upgraded as part of PR #1951
Closing this issue.

[2017-12-01 02:44] #2008 closed

[2017-12-01 02:45] shuklanirdesh82 commented on #1491
this is related with cross-esx multi-tenancy (`moving vm across tenants`) --> it shouldn't be mustfix.

[2017-12-01 02:59] shuklanirdesh82 commented on #2006
It is not reproducible and not an issue. I have executed following steps and am confirming that the scenario is working as expected (let's ignore the comment https://github.com/vmware/docker-volume-vsphere/issues/2006#issuecomment-348297170)

testbed setup: 2 windows VM registered to one ESX

steps
[code]

[2017-12-01 03:46] shuklanirdesh82 commented on #2006
if the volume is mounted with short name subsequent mount request with short volume is not having issue and vice versa for the long volume name.

The reported issue is observed when the volume is mounted with short name and the next mout request comes with long volume name.

@govint  can you please help for the workflow mentioned at https://github.com/vmware/docker-volume-vsphere/issues/2006#issue

[2017-12-01 05:10] shuklanirdesh82 commented on #2006
[code]

Discussed with @govint offline and updating the thread here.

**Answer**: If there are volumes with the same name on different DS then the long name has to be given, it is a known issue and we need to document this one. (Thanks @govint for the explanation)

@ashahi1 we need to document this one, can you please add this information to your ongoing PR.

[2017-12-01 19:47] seanhig commented on #1948
Hi Liping,

It did, thank you so much… things have been crazy the past few days here… I will attempt to connect with you early next week.

Your assessment thus far in the thread is on the right track.  Much appreciated for your attention to this matter.

Best,
Sean Hignett

PS.
I am the CaaS architect for the University of Calgary working on a large scale deployment of Docker EE on our vSphere env

[2017-12-01 19:51] shuklanirdesh82 opened #2010 "Performance improvement - volume creation is taking more time from Windows VM"
Please refer https://github.com/vmware/docker-volume-vsphere/issues/1553#issuecomment-348080318 for some analysis and more information.

Volume creation request from Windows VM is taking ~11 seconds, raising this improvement bug to analyze further; we may close this issue if turns out to be a testbed (slow VM) issue.

As discussed in #1553, volume creation time was improved from ~60 seconds (https

[2017-12-01 20:30] ashahi1 commented on #2003
PR is merged. vDVS documentation is updated. Thanks Prashima and Divyen.

[2017-12-01 20:30] #2003 closed

[2017-12-01 21:46] lipingxue commented on #1948
Hi Sean,
     Sure. let us discuss next week.

Regards,
Liping

On Fri, Dec 1, 2017 at 11:47 AM, Sean Hignett <notifications@github.com>
wrote:

[2017-12-01 22:55] tusharnt commented on #1884
Can we please take care of this?

[2017-12-01 22:57] tusharnt commented on #1855
@govint please update the results of your investigation.

[2017-12-01 23:30] shuklanirdesh82 commented on #1884
Sure, @ashahi1 Please send out the PR.

[2017-12-02 00:07] ashahi1 commented on #1884
Review is out #2015

[2017-12-02 06:25] shuklanirdesh82 commented on #1770
Project Hatchway introductory video is out ---> https://www.youtube.com/watch?v=mZxQyHwAefY&t

[2017-12-02 12:31] madjam002 commented on #1977
@govint Can this not stay open? One of the benefits of vMotion is that you can reschedule a VM without downtime, and currently there isn't a way to migrate a VM with associated containers without downtime? The solution you proposed involves stopping the container on the VM.

[2017-12-03 18:45] ashahi1 commented on #1884
Fixed as part of #2015

[2017-12-03 18:45] #1884 closed

[2017-12-03 19:05] govint commented on #1977
@madjam002, this is an enhancement to how migration of VMs handle virtual disks and I already had an internal issue to address that on the ESX platform. But that will be addressed in subsequent releases of the ESX software. This issue need not be kept open as such. That said, draining containers off a VM only implies that those will now be scheduled on other VMs on the ESX hosts.or the same ESX ho

[2017-12-03 19:30] madjam002 commented on #1977
@govint Ah that's great so a future version of ESX will migrate attached virtual disks to the right location when doing vMotion?

And by draining containers off a VM still means that the container will be stopped and started on a different VM. With some container workloads which require persistent storage will result in downtime when doing this.

[2017-12-04 00:42] luomiao commented on #1874
Closed by #2014

[2017-12-04 00:42] #1874 closed

[2017-12-04 14:11] govint commented on #2006
Root cause is fs_windows.go:GetMountInfo() is parsing the result of "Get-Partition" (powershell) and parses the result and seems to end up stripping all of the returned mounted partitions. When the next mount request of the same volume comes, the code misses the fact that the volume is already mounted and tries to mount again (always uses the <vol-name>@<datastorename> format to mount) and gets a

[2017-12-04 19:35] govint commented on #2006
Another issue is how windows passes the volume name to docker and hence the plugin. The datastore name gets converted to lower case and so the plugin doesn't realize the volume is already mounted and tries mounting again.

For example,

First we mount a volume "mvol2" and then try to mount it again,
2017-12-04 13:05:48.9853312 +0000 GMT [INFO] Mounting volume name=mvol2
2017-12-04 13:05:49.1412432

[2017-12-04 21:52] Manouchehri opened #2020 "Docker-in-VIC (DinV) support"
While obviously vDVS won't work on VIC (no plugin support), it'd be nice if there was support for Docker Container Host (DCH) deployments (DinV).

Steps to reproduce:

[code]

`10.0.10.2` is the DCH.
[code]

Related to #56.

[2017-12-05 06:48] govint commented on #2006
Looks like the approach used in #1712 wasn't quiet right, case insensitive checks in the ESX service is one thing, but when the plugin is going to fail within itself even before reaching the ESX service it doesn't serve any purpose having the case insensitive checks as made in #1712. This issue is one example. The refcnt module is unable to recognize the volume name with lowercase datastore name a

[2017-12-05 07:01] govint commented on #2020
@Manouchehri is the /dev dir in the VIC bound to the photon container, that would be needed if the photon-DCH can see the /dev/disk.... files to be able to mount the attached volume inside the container. The vDVS plugin does have /dev bound to it but in this case thats just the /dev inside the photon-DCH which can't see the devices attached to the VIC-container.

You would need to run the photon-D

[2017-12-05 18:33] shuklanirdesh82 commented on #1969
@AndrewSav vDVS 0.19 release is out please try out deliverable from https://github.com/vmware/docker-volume-vsphere/releases/tag/0.19

[2017-12-05 18:33] govint commented on #1977
@madjam002, yes, thats the current idea to be able to address the needs of container workloads during migration.

[2017-12-05 18:34] shuklanirdesh82 commented on #1950
vDVS 0.19 release is out please try out deliverables from https://github.com/vmware/docker-volume-vsphere/releases/tag/0.19

[2017-12-05 18:38] smithd13 opened #2023 "Boot2docker issues"
Hi

Similar but different to issue #1744 - we deployed vmware docker volume driver to our vSphere Cluster today and can't get it to work with boot2docker (or rancherOS).

Upon provisioning a new host VM and installing the plugin, if we create a new volume it fails with the following error:

docker@gm-l-doc-05:~$ docker volume create --driver=vsphere --name=test
Error response from daemon: create t

[2017-12-05 18:41] shuklanirdesh82 commented on #2023
@smithd13 can you please share the output of following command?

[code]

[2017-12-05 20:40] smithd13 commented on #2023
Hi

[root@gm-l-thw-esx-02:/var/log/vmware] esxcli storage guestvol status
=== Service:
Version: 0.18.087b0d7-0.0.1
Status: Running
Pid: 68765
Port: 1019
LogConfigFile: /etc/vmware/vmdkops/log_config.json
LogFile: /var/log/vmware/vmdk_ops.log
LogLevel: INFO
=== Authorization Config DB:
DB_LocalPath: N/A
DB_Mode: NotConfigured (no local DB, no symlink to shared DB)
DB_SharedLocation: N/A

Thanks

Da

[2017-12-05 20:44] shuklanirdesh82 commented on #2023
Thanks Darren! This issue was fixed through #1978. Please try vDVS 0.19 release and confirm from your side.

The reported issue is similar to #1969.

[2017-12-05 22:17] smithd13 commented on #2023
haha, it was released the day after my colleague fetched the VIB to deploy today :-)

I'll get it deployed tomorrow and will let you know.  Thanks

[2017-12-05 22:32] shuklanirdesh82 commented on #2006
CC'ing Shaomin here.

/CC @shaominchen

[2017-12-06 01:27] abrarshivani opened #2024 "vFile: Initialization failed for docker version 17.06.0-ce"
It is mentioned in the documentation here http://vmware.github.io/docker-volume-vsphere/documentation/vfile-plugin.html that docker version 17.06.0 or newer is supported by vFile.
Yet, the initialization failed for docker version ```17.06.0-ce```.

Logs:
[code]

[2017-12-06 04:59] govint opened #2025 "Document plugin and ESX service version compat"
From 0.19, the plugin has to have a ESX service thats at least 0.19 or later. This needs to be documented to avoid new volume creation errors or errors in attaching existing volumes. This applies for plugins on Linux platform.

[2017-12-06 05:56] govint commented on #1950
Please note, docker volume inspect isn't supported with Docker EE, but actually works with Docker CE - inconsistent behavior (although Docker CE  _isn't_ supposed to be used with UCP). Plus, after creating docker volumes with UCP (UI or CLI) log into the ESX hosts and do  _docker volume inspect_ over there and ensure that all hosts show the same set of labels and the same values for those. This is

[2017-12-06 06:04] govint commented on #2023
#2025 to document the compat req. between the plugin and the ESX host service from vDVS 0.19 onwards.

[2017-12-06 08:22] govint commented on #1977
FWIW, opened https://github.com/moby/moby/issues/35715 to allow an app to shutdown gracefully on container stop/pause so the app gets a chance to bring its data to a sane state before exiting or pausing. Can even allow the app to implement a hand-off to another instance if needed. Helps when instances are drained off a docker host for example.

[2017-12-07 08:49] smithd13 commented on #2023
Works fine now! Thanks for your help.

[2017-12-07 08:49] #2023 closed

[2017-12-07 17:45] #2024 closed

[2017-12-08 07:40] #2025 closed

[2017-12-08 16:39] velislav opened #2029 "Unable to create vsphere volume in swarm"
I am unable to create volume in swarm
[code]
Plugins installed on all servers:
[code]
### With --driver=vfile
[code]
Logs from /var/log/vfile.log
[code]
Logs from /var/log/docker-volume-vsphere.log
[code]
### With --driver=vsphere
[code]
Logs from /var/log/docker-volume-vsphere.log
[code]
devices
[code]

[2017-12-08 16:44] govint commented on #2029
@velislav, the 0.19 release of the plugin uses an enhanced approach to detect container volumes in the Linux host. Please install the 0.19 version VIB on the ESX host let us know if that works fine.

Unless otherwise noted in the release notes, its preferred to update both the plugin and the VIB to matching versions.

[2017-12-08 17:53] shuklanirdesh82 commented on #2029
duplicate to https://github.com/vmware/docker-volume-vsphere/issues/1969 .. @velislav As @govint  mentioned please update your VIB to 0.19 release and your problem should be resolved

[2017-12-10 08:07] ashahi1 commented on #1992
Fixed as part of #2031

[2017-12-10 08:07] #1992 closed

[2017-12-10 13:39] govint opened #2032 "Build with a fresh Windows VM throws error messages"
Make issue, below messages get displayed when building a windows plugin with a freshly installed windows VM. Make scripts need to check the existence of older source and then proceed to remove.

Remove-Item : Cannot find path 'C:\Users\root\go\src\github.com\vmware\docker-volume-vsphere'
because it does not exist.
At line:1 char:1
+ Remove-Item -Recurse -Force C:\Users\root\go\src\github.com\vmwar

[2017-12-11 04:17] govint opened #2033 "Document the upper to lower case conversion of volume names in Windows"
Windows converts all names to lower case when using docker commands and this can create the types of issues as in #2006. While #2006 is fixed for the datastore name getting converted to lower case, the plugin has no way of figuring out the real volume name if the container volume name has a mix of upper and lower case letters.

For example, creating two volumes like _Bvol_ and _bVol_ ends up creat

[2017-12-11 04:27] #2006 closed

[2017-12-11 05:32] shuklanirdesh82 commented on #2033
Yeah it is already documented for the windows plugin (FAQ page and known difference between linux plugin vs windows plugin)

[2017-12-11 05:32] #2033 closed

[2017-12-11 10:01] velislav commented on #2029
Thanks, 0.19 version VIB on the ESX host fixed the problem.

[2017-12-11 10:01] #2029 closed

[2017-12-11 12:32] govint commented on #1998
Tried out doing native APIs to read/write the KV files, this doesn't seem to work via the python interface to the platform DLLs. Have switched to using regular files for vvol based volumes. Modified to create and remove flat KV files. The flip side is now that the clone and remove code paths need special casing to handle vvol volumes.  Will post the updated PR for review tomorrow. This is not very

[2017-12-11 19:03] ashahi1 opened #2035 "docker daemon failed to start after installing vDVS plugin"
This issue was reported on the slack channel for docker-volume-vsphere. Posting the details from the information posted by the customer on the slack channel.

Issue as reported by customer:

"Just tried hatchway for the first time.  After running the following command the docker daemon bombed out and will no longer restart even after rebooting the vm:"
[code]

Journalctl logs:
[code]

[2017-12-11 19:03] ashahi1 commented on #2035
@shuklanirdesh82 can you please take a look?

[2017-12-11 23:15] james65535 commented on #2035
Feel free to reach out to me if any further info is required, I will keep the affected docker host around in case the issue is not easily replicated.

[2017-12-12 04:11] govint commented on #2035
@james65535 can you upload the plugin logs if any (/var/log/docker-volume-vsphere.log). SHouldn't this issue be raised on Moby, if the docker daemon is down.

# docker plugin install --grant-all-permissions --alias vsphere vmware/docker-volume-vsphere:0.19
0.19: Pulling from vmware/docker-volume-vsphere
9bb07d39b032: Download complete
Digest: sha256:278cf4ffc37d5dacddab470d1fe4a55a3d93c3368b8f2ff8

[2017-12-12 04:54] james65535 commented on #2035
Thanks for the follow up, `/var/log/docker-volume-vsphere.log` doesn't exist. Also, I cannot do a `docker version` as the server is offline.  I note your comment about Moby, I'm fine with closing this issue if its not helpful for the project; my initial intent was to just discuss it in slack.

[2017-12-12 05:33] shuklanirdesh82 commented on #2035
@james65535 It seems docker is not configured properly. Can you configure and give a shot again?

Closing this issue, let's reopen if the issue persists even after configure docker correctly.

[2017-12-12 05:54] shuklanirdesh82 commented on #2035
@ashahi1 can you please perform plugin installation on the photon 1.0 VM with docker 1.13.1?

Here is the detail that I know of:

docker: 1.13.1
OS: Photon 1.0 (4.4.62-1.ph1-esx)
[code]

[2017-12-15 06:50] #1998 closed

[2017-12-15 06:51] govint commented on #2020
Closing as we don't have a use case that needs this support.

[2017-12-15 06:51] #2020 closed

[2017-12-15 11:24] galindro opened #2042 "Can't use docker-volume-vsphere plugin with Alpine Linux"
# Environment Details

## VM
[code]

## ESX
[code]

## Datastore
[code]

# Steps to Reproduce

1. Install Alpine Linux 3.6.2

2. Edit `/etc/apk/repositories` and uncomment the following line:

[code]

3. Install these packages:

[code]

4. Configure these packages to start on boot:

[code]

4. Reboot the VM

5. Check if `/dev/disk/` exists:

[code]

6. Install docker vsphere plugin:

[code]

7. Cr

[2017-12-15 15:10] govint commented on #2042
@galindro, please update the VIB on ESX to 0.19 , send to be an older version. Version 0.19 is enhanced to handle device identification in a more robust way and needs the most current VIB

[2017-12-15 16:56] shuklanirdesh82 commented on #2042
duplicate to #1969 .. @galindro As @govint mentioned please update your VIB to 0.19 release and your problem should be resolved.

I'm closing this issue, please reach us out if you are having any problem after upgrading to 0.19 VIB (VDVS driver).

[2017-12-15 16:56] #2042 closed

[2017-12-15 17:03] shuklanirdesh82 opened #2043 "Rename repo to "vSphere Storage for Docker""
Raising this tracker issue for the future reference, all the PRs referenced are linked here.

- [x] 1. use "VDVS" (change from `vDVS` => `VDVS`
- [x] 2. `vSphere Docker Volume Service` => `vSphere Storage for Docker`
- [x] 3. Change CI repo from `docker-volume-vsphere` => `vsphere-storage-for-docker`
- [x] 4. Update github repo to use `vsphere-storage-for-docker`
- [x] 5. Update build scripts and

[2017-12-16 02:53] #2043 closed

[2017-12-18 02:17] andrewsav-datacom commented on #1969
@shuklanirdesh82 @govint Guys, I just tested this on the VM it used to have problems with and now it's working fine. Thank you for fixing this!

[2017-12-18 04:35] govint commented on #1969
@AndrewSav Thanks for confirming the fix, this was indeed something that absolutely needed to be addressed, in the way we detect the device on the docker host.

[2017-12-19 19:21] govint opened #2044 "Enabling volume recovery for in use volumes."
Once the plugin has attached a volume (on request by Docker/K8s) the plugin doesn't play a role any longer till that volume is unmounted (on request by Docker/K8s). In the meantime, its entirely possible that when the container (read _user app_) is using the volume, the volume becomes unavailable for any specific reason (file server disconnects/exits - for example).

There is no definition or appr

[2017-12-19 22:12] tusharnt commented on #1993
Not high priority.

[2017-12-19 22:12] #1993 closed

[2017-12-19 22:18] luomiao commented on #1954
Has been resolved with https://github.com/vmware/vsphere-storage-for-docker/pull/2001

[2017-12-19 22:18] #1954 closed

[2017-12-19 22:22] tusharnt commented on #1917
We will revisit this once vFile is listed on Docker Store.

[2017-12-19 22:22] #1917 closed

[2017-12-19 22:22] #1877 closed

[2017-12-19 22:52] tusharnt commented on #1966
Not a high priority at the moment.

[2017-12-19 22:55] tusharnt commented on #1902
This will get addressed after moving 0.5 release of drone.

[2017-12-19 22:56] tusharnt commented on #1899
Dup of #1269

[2017-12-19 22:56] #1899 closed

[2017-12-19 22:58] tusharnt commented on #1699
This is contingent upon moving to 0.5 release for drone.

[2017-12-19 23:00] tusharnt commented on #1637
Not a high priority ask.

[2017-12-19 23:00] #1637 closed

[2017-12-19 23:02] tusharnt commented on #1340
Not a high priority.

[2017-12-19 23:02] #1340 closed

[2017-12-19 23:41] #3 closed

[2017-12-19 23:42] shuklanirdesh82 commented on #1059
not a high priority.

[2017-12-19 23:42] #1059 closed

[2017-12-19 23:44] shuklanirdesh82 commented on #1470
not a high priority

[2017-12-19 23:44] #1470 closed

[2017-12-19 23:44] shuklanirdesh82 commented on #1894
not a high priority

[2017-12-19 23:44] #1894 closed

[2017-12-21 02:06] #2035 closed

[2018-01-02 16:06] rsjorslev opened #2048 "New install unable to create and mount volumes"
**ESXi:**
VMware ESXi, 6.5.0, 5969303 (SuperMicro Xeon-D system)
**Datastore**:
VMFS6, local SSD datastore (single host attached)
**VM**:
Ubuntu 16.04.03 (HW version 13 - also tried version 9 - same results) 2GB ram, 30GB VMDK for OS (LSI controller)
**Docker version**:
Server:
 Engine:
  Version:	17.12.0-ce
  API version:	1.35 (minimum version 1.12)
  Go version:	go1.9.2
  Git commit:	c97c6d6
  B

[2018-01-02 17:54] rsjorslev commented on #2048
Hi @govint, here is the full vmx from that VM:

[code]

[2018-01-02 17:55] rsjorslev commented on #2048
scsi0 is the lsi controller added to the VM when it was created and scsi1 is the controller added by the driver.

[2018-01-02 18:41] govint commented on #2048
@rsjorslev, thanks for posting the VMX config, the logs don;t show a PVSCSI controller being added. Most likely the VIB was used earlier and volumes were created and used? The code seems to be unable to find the PVSCSI controller in the VMX extra-config (in the code) and hence None being used later. Suggest removing the disk and the PVSCSI controller manually from the VMX config and they retry the

[2018-01-02 19:10] rsjorslev commented on #2048
Just tried deleting the disk and pvscsi controller from the VM/VMX and then tried to create a new volume but got this:

[code]

it still seems to not find the controller - at least it looks like its always when it picks the first item in the array no matter the type of operation.

[2018-01-02 23:56] #64 closed

[2018-01-02 23:57] shuklanirdesh82 commented on #275
based on https://github.com/vmware/vsphere-storage-for-docker/issues/275#issuecomment-332740897 closing this as wontfix.

[2018-01-02 23:57] #275 closed

[2018-01-03 00:01] shuklanirdesh82 commented on #1042
this is for usability/debuggability closing this as `wontfix`

[2018-01-03 00:01] #1042 closed

[2018-01-03 00:02] #1027 closed

[2018-01-03 00:03] #943 closed

[2018-01-03 00:04] #890 closed

[2018-01-03 00:06] shuklanirdesh82 commented on #1770
based on https://github.com/vmware/vsphere-storage-for-docker/issues/1770#issuecomment-348672187 closing this one.

[2018-01-03 00:06] #1770 closed

[2018-01-03 00:08] shuklanirdesh82 commented on #815
will be taken care as part of #2000

[2018-01-03 00:08] #815 closed

[2018-01-03 00:09] #757 closed

[2018-01-03 00:10] #749 closed

[2018-01-03 00:10] #681 closed

[2018-01-03 00:11] #582 closed

[2018-01-03 00:11] #577 closed

[2018-01-03 00:17] #1759 closed

[2018-01-03 00:20] #1854 closed

[2018-01-03 00:21] #1707 closed

[2018-01-03 00:21] #1697 closed

[2018-01-03 00:22] #1694 closed

[2018-01-03 00:23] #1674 closed

[2018-01-03 00:24] #1666 closed

[2018-01-03 00:25] #1571 closed

[2018-01-03 00:25] #1527 closed

[2018-01-03 00:25] #1524 closed

[2018-01-03 00:25] #1520 closed

[2018-01-03 00:26] #1497 closed

[2018-01-03 00:26] #1496 closed

[2018-01-03 00:27] #1491 closed

[2018-01-03 00:27] #1456 closed

[2018-01-03 00:27] #1453 closed

[2018-01-03 00:29] #1363 closed

[2018-01-03 00:30] #1358 closed

[2018-01-03 00:30] #1339 closed

[2018-01-03 00:31] #1319 closed

[2018-01-03 00:31] #1326 closed

[2018-01-03 00:31] #1333 closed

[2018-01-03 00:31] #1335 closed

[2018-01-03 00:31] #1337 closed

[2018-01-03 00:31] #1338 closed

[2018-01-03 00:33] #1158 closed

[2018-01-03 00:33] #1170 closed

[2018-01-03 00:34] #1301 closed

[2018-01-03 00:34] #1316 closed

[2018-01-03 00:34] #1317 closed

[2018-01-03 04:03] #803 closed

[2018-01-03 04:07] shuklanirdesh82 commented on #1070
refactoring task; adding `wontfix`

[2018-01-03 04:07] #1070 closed

[2018-01-03 04:08] shuklanirdesh82 commented on #1075
refactoring task; adding `wontfix`

[2018-01-03 04:08] #1075 closed

[2018-01-03 04:08] #1079 closed

[2018-01-03 04:09] shuklanirdesh82 commented on #1086
based on https://github.com/vmware/vsphere-storage-for-docker/issues/1086#issuecomment-317892309 .. adding `wontfix` kw.

[2018-01-03 04:09] #1086 closed

[2018-01-03 04:13] shuklanirdesh82 commented on #1110
refactoring task; adding `wontfix`

[2018-01-03 04:13] #1110 closed

[2018-01-03 04:13] shuklanirdesh82 commented on #1113
will be taken care by #2000

[2018-01-03 04:13] #1113 closed

[2018-01-03 04:14] shuklanirdesh82 commented on #1121
refactoring task; adding `wontfix`

[2018-01-03 04:14] #1121 closed

[2018-01-03 04:17] shuklanirdesh82 commented on #1153
refactoring task; adding `wontfix`

/CC @tusharnt

[2018-01-03 04:17] #1153 closed

[2018-01-03 04:20] shuklanirdesh82 commented on #1236
refactoring task; adding `wontfix`

[2018-01-03 04:20] #1236 closed

[2018-01-03 04:22] #1896 closed

[2018-01-03 04:33] #1274 closed

[2018-01-03 04:34] #1304 closed

[2018-01-03 04:35] shuklanirdesh82 commented on #1538
refactoring task; adding `wontfix`

[2018-01-03 04:35] #1538 closed

[2018-01-03 04:36] shuklanirdesh82 commented on #1551
addressed through #1555

[2018-01-03 04:36] #1551 closed

[2018-01-03 04:37] #1592 closed

[2018-01-03 04:42] shuklanirdesh82 commented on #1714
Adding `wontfix` kw.

[2018-01-03 04:42] #1714 closed

[2018-01-03 04:45] shuklanirdesh82 commented on #1166
As discussed offline with @tusharnt, we have decided to stop publishing DEB/RPM and leave the code as it is. If there is a need, one can build on their own.

[2018-01-03 04:45] #1166 closed

[2018-01-03 04:46] shuklanirdesh82 commented on #1187
code refactoring, adding `wontfix`

[2018-01-03 04:46] #1187 closed

[2018-01-03 04:46] #1219 closed

[2018-01-03 04:55] shuklanirdesh82 commented on #1593
code refactoring so adding `wontfix`

[2018-01-03 04:55] #1593 closed

[2018-01-03 05:01] shuklanirdesh82 commented on #1966
we shall reopen if needed in future.

[2018-01-03 05:01] #1966 closed

[2018-01-03 09:00] rsjorslev commented on #2048
@govint i Can provide remote access to the setup if required over zoom - just let me know.

[2018-01-03 19:00] shuklanirdesh82 commented on #1323
individual task has been created closing this epic issue.

[2018-01-03 19:00] #1323 closed

[2018-01-05 04:09] shuklanirdesh82 commented on #1882
discussed with @tusharnt and closing this as `wontfix`.

[2018-01-05 04:09] #1882 closed

[2018-01-06 08:38] govint commented on #2048
Debugged this yesterday and the root cause seems a bit strange where, the fields of the VM configuration - key names - are in lower case on the ESX 6.5 U1 host. Since the code is explicitly searching for a specific string. the search fails and a None value is returned for the scsi controller's slot and bus number fields.

Will post the change for review today,

[2018-01-07 11:19] rsjorslev commented on #2048
I can confirm that the fix from @govint works as expected, i can now create, delete and mount volumes on 6.5 U1 environment.

[2018-01-09 05:28] shuklanirdesh82 commented on #2048
fixed through #2051

[2018-01-09 05:28] #2048 closed

[2018-01-10 15:33] jraboeuf opened #2052 "Backup et restore persistent volume"
Hello,

I begin with vDVS and I would like to know how to backup and restore properly a persistent docker volume.
I already tried snapshot or Veeam Backup but a restore doesn't work
Have you a good methode ?

Thx in advance

Jeremie

[2018-01-11 03:53] govint commented on #2052
@jraboeuf, thanks for trying out the the vDVS plugin could you describe the use case you are attempting with the Veeam backup. Can you also say how you configured Veeam to take a snapshot. Is it for a specific VMDK or set of VMDKs for the containers on a docker host. vDVS volumes are independent volumes and hence not sure that Veeam will snapshot and backup those.

[2018-01-11 09:14] jraboeuf commented on #2052
My example :
1 postgresql container on Docker swarm cluster (on VM)
1 Docker Volume "persistent"  on specific datastore

When the container run, it's running on 1 of host on the swarm cluster, this host have the Docker volume mapped and I can backup it with Veeam but if I need to restore it, I can't do it.

I already tried this restore methodes :
- Restore virtual disk but docker host is stopped d

[2018-01-12 22:31] luomiao opened #2054 "[vfile] need pre-check script to help users detect prerequisites"
Currently we have a bunch of requirements before users can start to install/use vFile plugin, such as docker version, swarm ports, ...
We should provide some script to help users to identify those unsatisfied requirements and return corresponding suggestions.

[2018-01-16 04:59] govint commented on #2044
Will post the change to provide volume status in the Get() response. Its impossible for the plugin to trigger migrating a container off a host if the volume isn't accessible. Neither does CSI support it (could do post 1.0). The container orchestrator Docker should include volume online/offline status in the default volume Get() response and be able to handle access issues with the volume.

[2018-01-16 05:00] govint commented on #2000
Will start this week on this one,
1. First identify whats not used and remove those from the repo.
2. Migrate to the new packages.

[2018-01-17 18:58] #1989 closed

[2018-01-17 21:10] luomiao commented on #1729
Replaced by https://github.com/luomiao/vfilesmb

[2018-01-17 21:10] #1729 closed

[2018-01-17 22:24] luomiao commented on #2005
The reason for this behavior is because there is only one master node in this setup and when the plugin on this single master node is broken (disabled), no ETCD server is running. There is no way to keep an update-to-date status for the vfile volumes, when there is no functioning master node.

However, the status of the volume is just as a reference for users, it won't stop the users to mount it a

[2018-01-18 06:47] pshahzeb commented on #2005
Thank you @luomiao for taking a look.
Given that this is a corner case negative scenario, documenting it should suffice.

[2018-01-24 19:22] shuklanirdesh82 commented on #1965
As per offline discussion with @tusharnt closing this automation task.

[2018-01-24 19:22] #1965 closed

[2018-01-26 19:04] lipingxue opened #2055 "rename "vFile" to "vSphere Shared Storage for Docker" in document"

[2018-01-29 23:07] shuklanirdesh82 commented on #1699
This is no longer valid as decided to move onto Jankins CI.

[2018-01-29 23:07] #1699 closed

[2018-01-29 23:48] shuklanirdesh82 commented on #1902
closing this as wontfix as we are moving to Jenkins CI and this codeflow will be changed

[2018-01-29 23:48] #1902 closed

[2018-01-29 23:54] shuklanirdesh82 commented on #1509
will be addressed as part of Jenkins CI task. closing this as wontfix.

[2018-01-29 23:54] #1509 closed

[2018-01-30 23:51] shuklanirdesh82 commented on #1445
The reported issue is not reproducible any more. The workflow has changed and there is no way to delete vmgroup when there is a vm residing into it.

[code]

After removing the vm from the vmgroup; able to remove vmgroup successfully.

[code]

[2018-01-30 23:51] #1445 closed

[2018-01-31 22:19] tusharnt opened #2058 "Use photon OS as the base image for samba server"

[2018-01-31 23:34] #2005 closed

[2018-01-31 23:36] luomiao commented on #2058
PR: https://github.com/vmware/vsphere-storage-for-docker/pull/2059 out for review and testing.

[2018-02-01 01:00] shuklanirdesh82 commented on #670
we're moving to difference CI model and will be taken care as part of the activity.

[2018-02-01 01:00] #670 closed

[2018-02-01 23:04] bteichner opened #2061 "unable to start containers with existing vsphere volumes after upgrading"
After upgrading from version 0.17 of the plugin to version 0.20, we are unable to start services that had existing vsphere Docker volumes.

The following error is displayed when running `docker service ps service-name --no-trunc`
**VolumeDriver.Mount: EOF**

I'm also seeing this warning in the Docker daemon logs:
[code]

**Docker version:** 17.06.2-ee-6

**Upgrade Steps**
_Upgrade plugin on esxi h

[2018-02-02 03:52] govint commented on #2061
@bteichner could you also attach the logs from the ESX host (/var/log/vmware/vmdk_ops.log) and from the docker host (/var/log/docker-volume-vsphere.log)

[2018-02-05 06:06] govint commented on #2061
@bteichner - could you respond with the logs. Thanks.

[2018-02-05 18:57] bteichner commented on #2061
@govint Can I email you the logs, rather than posting them here?

[2018-02-06 18:53] govint commented on #2061
@bteichner Thanks for mailing the logs. Looks like the KV file for a container volume is missing. Let me check why this would have happened. But if you have the ESX side logs in its entirety that would help understand why/how the KV file was missing. Can you compress the ESX logs and mail them.

[2018-02-06 20:02] ashahi1 opened #2065 "Clone of existing volume fails"
Clone of an existing volume fails with error - ```Error response from daemon: create CloneVolume: VolumeDriver.Create: Server returned an error: TypeError("'NoneType' object does not support item assignment",)```

Steps:
1. Create a volume
[code]
2. Clone a volume to create a new volume
[code]

vmdk_ops.log

[code]

vmdk_ops.log:
[vmdk_ops.txt](https://github.com/vmware/vsphere-storage-for-docker/

[2018-02-07 12:27] govint commented on #2065
The earliest logs in vmdk_ops starts at 02/05/18 20:56:37 and doesn't have the exception in it. If its repro'able can we get a new repro and get those logs?

KV seems to have error'ed getting the volume KV data and hence the none-type error.

[2018-02-07 21:20] chris7444 commented on #2052
May I add my two cents to the question. There is a need for backing up persistent volumes as there is a need to backup any type of data. The data may have been deleted by accident or the user may want to restore the data as it was at a specific date. How do we do that ?
Any recommended approach ?

[2018-02-08 04:05] ashahi1 commented on #2065
@govint I have updated the new logs. Can you please take a look at it again?

Volume name: testvolume@Datastore1
Cloned volume: TestCloneVolume

Docker cli:
[code]

Admin cli:
[code]

Logs:
[vmdk_ops.log](https://github.com/vmware/vsphere-storage-for-docker/files/1705680/vmdk_ops.log)
[vsphere-storage-for-docker.log](https://github.com/vmware/vsphere-storage-for-docker/files/1705681/vsphere-storag

[2018-02-08 12:44] govint commented on #2065
@ashahi1, sorry the vmdk_ops.log is now really outdated, the last log is from 11/29/17 22:05:47. Can you upload the one that has the errors in it.

So the volume is getting created ok but the KV file is somehow not accessible.

[2018-02-08 12:57] govint commented on #2061
From the logs received, one KV file is reported as not present,
IOError: [Errno 2] No such file or directory: '/vmfs/volumes/NTNX-NFS-DOCKER-PRD/dockvols/UCPEU_PRD/compasseu-solr-prd-73f3739dc6d0707a.vmfd'
02/05/18 21:01:05 16097762 [PRD-DVT-APP-031-NTNX-NFS-DOCKER-PRD.UCPEU_PRD.compasseu-solr-prd] [ERROR  ] Failed to access /vmfs/volumes/NTNX-NFS-DOCKER-PRD/dockvols/UCPEU_PRD/compasseu-solr-prd-7

[2018-02-09 04:00] AndrewSav commented on #2052
@govint it is not clear what's vSphere support for backup of independent disks. So far I could find none. Veem does not support it. I cannot really use vsphere-storage-for-docker if I cannot do regular backups of it. How are we supposed to backup these? What's the proposed "official" solution?

One want to use vsphere-storage-for-docker in a docker cluster, so that it's available regardless what n

[2018-02-09 19:35] carcampbell commented on #2052
echoing the statements above.  We want to build an enterprise solution and need backup for the persistent volumes.   The point of having persistent data is so it's always there and useable but if not backed up (with of course ability to restore!) consistently there is great potential for loss of data and outages/customer dissatisfaction.  does VMware have a solution or recommendation?

[2018-02-11 16:03] sege commented on #2052
I'm with the above. I'm really eager to try this out for real but without backup and restore I have a hard time using this for real.

Any ideas? From VMware? From the community?

[2018-02-12 08:10] jraboeuf commented on #2052
My only way to Backup/Restore files in persistent volume with vDVS is give a constraints to containers on 1 host and only possible to restore simple files not DB :(

[2018-02-13 17:46] patrikwm commented on #2052
This is just what I have been thinking about last couple of days. Would be great to have some backup strategy.

[2018-02-13 18:27] govint commented on #2061
Change out for review #2067

[2018-02-13 20:21] shuklanirdesh82 commented on #2061
Please try out the new VIB as mentioned at https://github.com/vmware/vsphere-storage-for-docker/releases/tag/0.21.1

[2018-02-13 20:21] #2061 closed

[2018-02-20 05:08] govint commented on #2052
Presently, the plugin only implements the docker plugin interface and can create and attach these volumes only to containers. The vSphere features for backup, supported for VMDKs, may not apply for these volumes (at least not wholly). There is no way presently, to make snaps of individual container volumes (snapshotting the whole VM seems just wrong if multiple volumes are in use and don't need to

[2018-02-20 18:41] AndrewSav commented on #2052
@govint One can back up a VM without downtime. Stopping the app sounds severe. If I do daily backups the app will have to be down for a few minutes a day, which is especially problematic with databases. I understand that there is not better solution right now and I thank you for your thoughts.

[2018-02-22 17:41] mkboudreau opened #2073 "File descriptors increasing - requires docker daemon restart and sometimes a node restart"
**Environment Details:**

Docker UCP with vSphere Storage for Docker volume driver.

- We are updated to 0.21.1 on the volume driver and UCP 2.2.5

**Steps to Reproduce:**
Intermittent... Still don't know how to reproduce it. :(

**Expected Result:**

Services to relocate from node to node as designed without bringing down the node

**Actual Result:**

Every 2-10 days, when one of our containers i

[2018-02-22 18:52] govint commented on #2073
The file descriptors being owned by the Docker daemon would make this a Docker side issue. If the vSphere volume driver is a separate process all together and if its opening files (AFAIK, the plugin only opens the VMCI socket to make calls into ESX and that path has been in use all along).

Can we try an _lsof -p <docker daemon PID>_ or _ls -l /proc/<docker daemon PID>/fd.

For logs, pls. set "deb

[2018-02-22 18:57] shuklanirdesh82 commented on #2073
Is there any regression? plugin restart is not able to parse the plugin config file.

[2018-02-22 19:04] mkboudreau commented on #2073
Regarding logs... we've been struggling to get it working from the config file, even though support has been telling us to do it that way. The config.json-template file seems to set the `VDVS_LOG_LEVEL` env var and it appears that if that var is set, then the log level from the config file would never be considered (see config.go). Am I understanding this correctly?

config.go:
https://github.com/

[2018-03-08 10:29] govint commented on #2073
@mkboudreau, @bteichner, can you'll confirm what the issue is with the docker daemon, given the observed behavior. Do you'll wish to keep this issue open here as we presently don't see any bug in the volume plugin to fix.

[2018-03-08 10:38] govint commented on #2065
@carcampbell, please open a separate issue and post the ESX host side logs (/var/log/vmware/vmdk_ops.log) and the Linux side logs for the volume plugin.  The issue posted earlier by @ashahi1  is related to a regression that has since been fixed (see , https://github.com/vmware/vsphere-storage-for-docker/releases/tag/0.21.1).

I'll be closing this issue and you can make a new one that we can debug.

[2018-03-08 13:10] govint commented on #2052
Thinking this thru a bit more, possible approaches could be as below.

Backup volume data on unmount:
1. When a container stops running, the volume is unmounted, the plugin watches for the last unmount (in the case that the volume is used by multiple containers on the host) and proceeds to create a backup of the volume. The exact implementation of the _backup_ could be a clone of the volume or a c

[2018-03-08 14:45] mkboudreau commented on #2073
Since we turned debug logging on, we have not encountered the issue. It has always taken between 2 and 15 days between incidents. Please keep the issue open a little longer. I would really like to see this happen while we have debug logging turned on.

[2018-03-08 15:49] govint commented on #2073
@mkboudreau, sure no problem.

[2018-03-09 11:01] chris7444 commented on #2052
So the apps would need to unmount a volume to trigger a backup ?

Mmm not sure it helps. Can we expect the following to be fixed ? It would also help I believe
[](https://github.com/vmware/vsphere-storage-for-docker/issues/2065)

[2018-03-09 18:52] AndrewSav commented on #2052
@chris7444 can you fix the link please?

[2018-03-10 08:50] govint commented on #2065
Closing per earlier comment. Please open a new issue and provide the logs in that and the details listed in my earlier comment.

[2018-03-10 08:50] #2065 closed

[2018-03-10 17:05] chris7444 commented on #2052
[https://github.com/vmware/vsphere-storage-for-docker/issues/2065](url)

[2018-03-11 19:02] govint commented on #2052
@chris7444, I don't believe we can take a clone of a volume when its still in use. Then again, how is app data consistency handled if volume data is copied over arbitrarily.

[2018-03-12 06:55] chris7444 commented on #2052
@govint It is up to the application to decide this. Many applications have what it takes to recover data from "crash consistent" backups. Who is stopping a DB today or unmounting the FS that contains the data to take a backup or snapshot ?

[2018-03-12 08:18] jraboeuf commented on #2052
Yes it is axectly my use case, how to backup DB with no stop container who attach volumes ?

[2018-03-12 22:13] carcampbell opened #2074 "clone volume fails VolumeDriver.Create: Server returned an error: TypeError("'NoneType' object does not support item assignment",)"
Trying to clone a volume and it fails.
Already have the latest version of docker plugin:
 docker plugin install --grant-all-permissions --alias vsph                          ere vmware/vsphere-storage-for-docker:latest
Error response from daemon: plugin "vsphere:latest" already exists

Just installed latest VIB Bundle:
[root@esxi-cc1:~] esxcli storage guestvol status
=== Service:
Version: 0.21.c42

[2018-03-12 22:27] carcampbell commented on #2074
I can see the volumes have been created but the CloneNewVolume can't be mounted as it gets VolumeDriver.Mount: EOF error:
[root@cc-worker02 ~]# docker volume ls
DRIVER              VOLUME NAME
vsphere:latest      CloneNewVolume@CC-Large-Datastore
vsphere:latest      MyNewVolume@CC-Large-Datastore

 docker run -it --rm -v CloneNewVolume:/tmp alpine sh -c "echo testingClone12345 > /tmp/mytest.out"
d

[2018-03-12 22:51] carcampbell commented on #2074
[vmdk_ops.log](https://github.com/vmware/vsphere-storage-for-docker/files/1804814/vmdk_ops.log)
[vsphere-storage-for-docker.log](https://github.com/vmware/vsphere-storage-for-docker/files/1804815/vsphere-storage-for-docker.log)

[2018-03-13 12:55] govint commented on #2052
OK, verified that the clone of a volume won't happen unless the source volume is not in use. We can do the clone of a container volume provided all containers that are presently using the volume are paused, the volume is cloned and then containers are resumed. Which should allow a PIT copy of the container volume to be created. Which could actually be scripted vs. needing any code to handle this i

[2018-03-13 17:41] chris7444 commented on #2052
@govint Let me make sure I understand

user wants to clone volume X

1) user pauses all containers accessing volume X
`docker pause...`

2) user clones the volume
`docker volume create --driver=vsphere --name=CloneVolumeX -o clone-from=VolumeX -o access=read-only`

3) user resumes the containers
`# docker unpause...`

is that it ?

[2018-03-13 19:30] govint commented on #2052
My bad, I should have verified the flow first. This will need some changes on the ESX host side to handle the clone. Let me make those changes, try it out first.

[2018-03-13 21:06] kmott opened #2075 "VM hard-locks after adding vSphere Docker Volume, sometimes lists un-wanted docker volumes."
**Description:**

I am trying a test run of the vDVS plugins, and am running into a few problems.  The main issue I am having is that our cluster VM's that are running the Docker daemon seem to hard-lock after a little while.  When I reboot them and re-add the Docker vSphere volumes, it actually shows up with a bunch more other volumes in 'docker volume ls' output (note that the only 4 I added via

[2018-03-13 21:07] kmott commented on #2075
Here's the logs from one of the VMs that eventually hard locked:

[vsphere-storage-for-docker.log.gz](https://github.com/vmware/vsphere-storage-for-docker/files/1808669/vsphere-storage-for-docker.log.gz)

[2018-03-14 09:39] spawnia commented on #1924
I did stumble upon the same error today, which led me to this issue. Then, i had to look around your docs quite a bit to find the config option you mentioned. The command which worked for me on CoreOS was:

[code]

Maybe you can put some information on this into the documentation, in the part where the installation is described.

[2018-03-14 17:42] kmott commented on #2075
I have the VIB log files as well from each of our ESXi hosts, but there's a lot of other info in them unrelated to the problem at hand, so I'd prefer a direct message to send the log files to, rather than posting here.  Is that possible?

[2018-03-15 11:03] govint commented on #2074
This problem is exactly what was solved in the patch release made in 21.*0.0.1. The patch was made to handle a regression in vib version 21.  Unfortunately if any volumes were created with the VIB version 21 then with the patch those won't be accessible.

@carcampbell can you confirm you're able to access volumes created before v21 was deployed *if you did deploy that version).

Suggest deleteing

[2018-03-15 18:21] govint commented on #2075
@kmott, are EQL1-DevOpsVol-01 and CMP1-WorkstationVol-01 datastores in the ESX host (ls /vmfs/volumes)? These extra volumes seem to be what docker seems to be creating on its own. Could check if Minio creates these volumes via Docker.

Can you also post "cat /proc/mounts", if these volumes are all mounted and hence in use, that may indicate why the VM goes slow over time (assuming that these many

[2018-03-15 22:22] carcampbell commented on #2074
I already did that- I am running VDVS_Driver-0.21.1 on all my ESXi hosts.
[root@esxi-cc1:~] esxcli storage guestvol status
=== Service:
Version: 0.21.c420818-0.0.1
Status: Running
Pid: 1852563
Port: 1019
LogConfigFile: /etc/vmware/vmdkops/log_config.json
LogFile: /var/log/vmware/vmdk_ops.log

What I'm not clear about is if there is another docker plugin file.  If I try to install version 0.21.1 it

[2018-03-15 22:45] kmott commented on #2075
@govint, the datastores are legit on each of our 4 ESXi hosts, but the large-hash prefix that Docker is creating is not.

Minio doesn't create the volumes (as far as I know), it just uses whatever path(s) you specify when starting the container (and if the path(s) you specify point to docker volumes that are not initialized, minio will initialize them for you).

Here's the `cat /proc/mounts` outpu

[2018-03-16 04:17] govint commented on #2074
@carcampbell, ok what version did you have before this. Because vib version 0.21.1 fixed a regression in v0.21. Any volumes created with the v0.21 will show this problem. Do any new volumes show this issue?, likely not.

[2018-03-16 16:03] carcampbell commented on #2074
I have deleted all the volumes and recreated new ones multiple times since I upgraded to 0.21.1

[2018-03-16 16:37] carcampbell commented on #2074
I tried it again this morning- a co-worker had said it failed for him but worked second try and I had the same experience.  First request to clone fails, second request succeeds.

[root@cc-worker01 ~]# docker volume ls
DRIVER              VOLUME NAME
vsphere:latest      prom_cc-db-data@CC-Large-Datastore
local               ucp-auth-api-certs
local               ucp-auth-store-certs
local

[2018-03-16 18:59] govint commented on #2074
@carcampbell, ok let me check this out. Because I'm able to clone no problem with the same version.

[2018-03-16 20:04] govint commented on #2074
docker volume create -d vsphere test1@sharedVmfs-0 -o size=512Mb
test1@sharedVmfs-0

docker volume inspect test1
[
    {
        "Driver": "vsphere:latest",
        "Labels": null,
        "Mountpoint": "/mnt/vmdk/test1/",
        "Name": "test1",
        "Options": {},
        "Scope": "global",
        "Status": {
            "access": "read-write",
            "attach-as": "independent_persiste

[2018-03-16 20:14] carcampbell commented on #2074
# VSphere lib to access ESX proprietary APIs.
DISK_LIB64 = "/lib64/libvmsnapshot.so"
DISK_LIB = "/lib/libvmsnapshot.so"
lib = None
use_sidecar_create = False
DVOL_KEY = "docker-volume-vsphere"

[2018-03-16 20:17] carcampbell commented on #2074
[root@cc-worker01 ~]# docker volume create -d vsphere newtest@CC-Large-Datastore -o size=512Mb
newtest@CC-Large-Datastore
[root@cc-worker01 ~]# docker volume inspect newtest
[
    {
        "Driver": "vsphere:latest",
        "Labels": null,
        "Mountpoint": "/mnt/vmdk/newtest/",
        "Name": "newtest",
        "Options": {},
        "Scope": "global",
        "Status": {
            "acce

[2018-03-16 20:18] carcampbell commented on #2074
and if I run the command again, it doesn't give me an error but it doesn't have the same output yours has:
[root@cc-worker01 ~]# docker volume create -d vsphere clone1@CC-Large-Datastore -o clone-from=newtest@CC-Large-Datastore -o access=read-only
clone1@CC-Large-Datastore
[root@cc-worker01 ~]# docker volume inspect clone1
[
    {
        "Driver": "vsphere:latest",
        "Labels": null,

[2018-03-16 20:24] carcampbell commented on #2074
[vmdk_ops.log](https://github.com/vmware/vsphere-storage-for-docker/files/1820704/vmdk_ops.log)

[2018-03-16 20:39] carcampbell commented on #2074
It looks like the clone actually doesn't work- even though it doesn't give an error if you run it a second time, if you try and mount the cloned volume you get an Error response from daemon: VolumeDriver.Mount:EOF.
So, the clone is still not working for me.

[2018-03-17 09:16] govint commented on #2074
The one difference is I'm on 6.0 U2 ESX which seems to be cloning the sidecar (used as the KV for a volume) corectly. Likely 6.5 seems to have an issue with the key used to clone the sidecar. Once I confirm that I'll change the code to create a fresh sidecar when cloning a volume.

[2018-03-18 06:26] govint commented on #2074
Seems like since ESX 6.5 there is an issue with how the disk clone is handled and consequently the sidecar file is being cloned with a key different from what the user specified. This is a platform issue and little that the volume driver can do anything about. As seen below, the clone has a sidecar but the name is different from what the volume driver expects,

FileNotFoundError: [Errno 2] No such

[2018-03-26 17:17] carcampbell commented on #2074
Is there an estimate on when a fix will be available for this?

[2018-03-27 02:26] govint commented on #2074
Fixed via #2077

[2018-03-27 02:27] govint commented on #2074
@carcampbell please pull the current code and build the VIB and deploy that to your ESX hosts. Please let us know if you do see any issues with this fix.

[2018-03-27 08:01] raptaml opened #2078 "TTY allocation on node breaks if vsphere storage plugin is installed"
If I install the latest version of vsphere-storage-for-docker via managed plugin, from that moment on TTY allocation breaks an makes remote shell access impossible.
I am using:

Ubuntu 16.04 LTS:
 (4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux)

Docker:
Server:
 Engine:
  Version:      18.03.0-ce
  API version:  1.37 (minimum version 1.12)
  Go versi

[2018-03-27 12:09] govint commented on #2073
@mkboudreau can you'll update on this issue, can we close if there aren't any more updates.

[2018-03-27 12:33] govint commented on #2078
@raptaml thanks for letting us know of this issue but can you say how you are establishing the remote shell with the VM running the plugin. The plugin is but a process on the host and its not using TTYs either, only a socket to the ESX (vSockets). Does a reboot after installing the plugin help? This may have more to do with Docker perhaps than with the plugin.

[2018-03-27 13:03] raptaml commented on #2078
@govint any remote shell will produce the error. I am trying to ssh into the VM from Linux but also Putty from Windows does not work. A reboot does not fix the problem. But uninstalling the plugin and then rebooting does.
Even immediatly after installing the plugin, a sudo command in the same remote shell gives me:
"no tty present and no askpass program specified"
I have to uninstall the plugin vi

[2018-03-27 13:58] mkboudreau commented on #2073
Thank you for following up. Go ahead and close and I can always reopen it if needed.

[2018-03-27 16:02] govint commented on #2073
Closing.

[2018-03-27 16:02] #2073 closed

[2018-03-27 16:15] carcampbell commented on #2074
Is there a vib to pull down already built?  I'm not familiar enough with git and building code to build my own vib.  I assume you tested it?  I'm expecting a new vib posted here for all to use after you have completed testing.  https://github.com/vmware/vsphere-storage-for-docker/releases
Then I expect to be able to put that into vSphere update manager and apply the patch across my cluster.

[2018-03-27 18:38] carcampbell commented on #2074
@govint  please provide the vib and I will test with it.  I tried building it but I don't have the proper environment to do so.

[2018-03-27 18:53] govint commented on #2074
@ashahi1 @shuklanirdesh82 can we build the VIB and upload to the site?

[2018-03-29 04:59] govint commented on #2078
Ok, but this is exactly how we use the plugin and don't see any issue. This is what I have on Ubuntu 14.04,

$ sudo docker plugin ls
[sudo] password for guest:
ID                  NAME                DESCRIPTION                           ENABLED
56866816829b        vsphere:latest      VMWare vSphere Docker Volume plugin   true
$ sudo docker version
Client:
 Version:       18.03.0-ce
 API version:

[2018-03-30 01:31] carcampbell commented on #2074
@govint  I was able to build it and test it and it does work.  When do you expect this build to be publicly available?  This fix is required for a solution we are building for customers and we don't want to ship a version we created especially since this is also 0.21.1 (same as currently published release).

[2018-03-30 22:29] shuklanirdesh82 commented on #2074
@ashahi1 Please take care of this and mark this VIB as 0.21.2 and create an entry at https://github.com/vmware/vsphere-storage-for-docker/releases

Thanks!

[2018-04-02 05:11] govint commented on #2075
From the vsphere plugini logs, these volumes with _long_ names are actually anonymous volumes that docker creates when its asked to create a volume on the fly. One example is below, will need to check with docker logs why its causing these volumes to be created.

2018-03-09 15:36:08.835927686 -0800 PST [ERROR] Failed to get volume meta-data error="Volume 634bc83d5c9346d11d58b9d9c493a5402f1b18d7b1f

[2018-04-04 11:39] aleskinen opened #2079 "Docker volume reverted to very old version after reboot"
I am running 3 photon 2 cluster and using vsphere docker volumes. It seems, that docker volume used by our mariadb data volume has reverted to several months old version. I tried to copy 2 days old vmdk file from backupd from equallogic and still seems to contain old files. How is this possible?

Is there any tool to show files in vsphere docker volume vmdk?

[2018-04-05 07:43] govint commented on #2079
@aleskinen could you share the /var/log/docker-volume-vsphere.log or the /var/log/vsphere-storage-for-docker.log. Please also upload the /var/log/vmware/vmdk_ops.log from the ESX host.

Can you confirm if the  logs would cover the time when the most current data was available to the present where it looks like the data has reverted.

Please also indicate what versions of docker and the plugin and

[2018-04-05 09:48] aleskinen commented on #2079
Attached logs. I made test:
Created new volume Util with same properties. ssh to vmware host and changed name of mariadb-fata-flat.vmdk to Util-flat.vmdk while container using Util was not running. Restarted container. File list on volume did not changed. How does sycronization between progated-
[docker-volume-vsphere.log](https://github.com/vmware/vsphere-storage-for-docker/files/1879441/docker-v

[2018-04-05 09:53] aleskinen commented on #2079
I have copies of vmdk files before accident. It would be really nice to be able to check what was the situation. Is there any easy way for to do that?

[2018-04-05 11:04] govint commented on #2079
@aleskinen any reason why the flat vmdk names are being changed. User isn't expected to do this. Is it done to use the maria-db data via a different vmdk (Util.vmdk).

VMDK content is the same as whats available via the propagated mount.

The logs are the only way to figure which disk was in use earlier and what happened recently.

Are you saying the problem happened after the update of the plugin

[2018-04-05 11:26] aleskinen commented on #2079
No the problem occurred before update and I updated only to see if it would help something. And copying vmdk-files top of files same or similar in vmware host is only way I know to mount content so that I can manage files inside. I hve once managed to save one backup like that. We have snapshotting enabled in our iscsi disk server so it is possibe to find old vmdk files. But I do not know any way

[2018-04-05 11:38] aleskinen commented on #2079
docker info
Containers: 8
 Running: 8
 Paused: 0
 Stopped: 0
Images: 238
Server Version: 17.06.0-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host ipvlan macvlan null overlay
 Log: awslogs fluentd gcplogs gelf journald json-file logentries splunk sy

[2018-04-05 11:39] aleskinen commented on #2079
DRIVER              VOLUME NAME
local               5292c0afe62a9663dd29d66313b9d252a4c08d4f36b32e5e70c5ea564b6e2111
local               customtheme
vsphere:latest      mariadb-data@d1
vsphere:latest      odoo-db@d1
vsphere:latest      odoo-lib@d1
local               registry
vsphere:latest      tek-webroot@d1
vsphere:latest      ttkirja-webroot@d1
vsphere:latest      tukoke-webroot@d1
vsphere:lat

[2018-04-05 11:41] aleskinen commented on #2079
[root@vhost1r630:/vmfs/volumes/58da1e8b-9ac19bfb-5c9c-f04da23e46d4/dockvols/11111111-1111-1111-1111-111111111111] ls -l
total 109743176
-rw-------    1 root     root          4096 Apr  5 07:51 mariadb-data-3797b56d3a7e9693.vmfd
-rw-------    1 root     root          4096 Apr  4 09:37 mariadb-data-3797b56d3a7e9693.vmfd04-02
-rw-------    1 root     root     42949672960 Apr  5 07:51 mariadb-data-fla

[2018-04-05 12:45] aleskinen commented on #2079
Based on host backups it seems that content of propagated mount has not been same that was in running container. I have use independent-persistent volumes so they are not in host backup.

Compose file for mariadb was:
version: '3.3'

services:
  mariadb:
    image: mariadb:10.3
    volumes:
      - mariadb-data:/var/lib/mysql
      - /srv/docker/mariadb-backups:/backups/mysql
    environment:

[2018-04-08 21:47] johnbaker commented on #2078
I have the same behavior on a fully updated Ubuntu server 16.04 install.   As soon as I install the vsphere storage plugin, I experience the same behavior.  After trying a few other plugins, I have found this isn't the only plugin that causes the behavior.  For example, the Pure storage plugin (store/purestorage) also fails.

Not all storage plugins cause the issue, for instance, I can use the SSH

[2018-04-09 05:06] carcampbell commented on #2074
@govint @shuklanirdesh82   @ashahi1  I don't see any update to the VIB which fixes this problem yet.  Any idea when it will post here?  https://github.com/vmware/vsphere-storage-for-docker/releases

[2018-04-09 12:14] HanzzM opened #2080 "VMWare vFile Docker Volume plugin is disabled"
After a reboot from the Docker Daemon, the VMWare vFile Docker Volume plugin returns in the state enable=false.

[2018-04-09 12:36] HanzzM opened #2081 "Can not remove a vfile volume"
I can not remove a volume created with the vfile driver.

[2018-04-09 15:13] bartlenaerts commented on #2078
I have the same problem on a freshly installed Centos7 server. I installed the latest version of docker (18.03.0-ce, build 0520e24), created a swarm with different nodes. No problems so far, I can still connect with SSH to the server. As soon as the vSphere plugin is installed, a connection to the server isn't possible anymore with SSH. Rebooting doesn't help. Only deinstalling of the plugin and t

[2018-04-09 15:53] kmott commented on #2075
@govint, the VMs have 32GB RAM each.  I will get the dmesg and docker output from the lock-up, I just re-started all of the services this morning, should be able to post something tomorrow.

[2018-04-10 13:53] kmott commented on #2075
Note that I am not able to get the dmesg output--the system is hard-locked, and nothing is dumped to kern.log.  Console is also unresponsive during this time, I have to hard-reset it to get anything back.

Attached some docker logs during the time of the lock-up (system locked up just after Apr 9 @ 20:42:19 PST, local time on the box).

[dockerd.log.gz](https://github.com/vmware/vsphere-storage-fo

[2018-04-10 18:06] govint commented on #2075
@kmott thanks I'll check these and get back.

[2018-04-10 18:07] govint commented on #2079
@aleskinen thanks for the logs and the details I'll review and update.

[2018-04-10 18:08] govint commented on #2078
Let me try the same config. With Ubuntu we have no issues with using the plugin. I haven't seen this with Alpine or even Centos with earlier docker versions either. Let me recheck and post.

[2018-04-12 15:42] grekier commented on #2078
Same problem here on Ubuntu 16.04.4 LTS with kernel 4.4.0-119
I also noticed in the plugin log that there is a recurrent error: Failed to get volume meta-data name=XXX error="Volume XXX not found (file: /vmfs/volumes/MAIN-RAID5/dockvols/_DEFAULT/XXX.vmdk)"
Don't know if it helps but thought I would add the info.
Same version of docker and plugin as above

[2018-04-16 23:40] mkboudreau commented on #2073
Hi @govint

Today we started having some issues where all our vsphere volume driver starting timing out on every `docker volume` operation. We did *not* get a file descriptor issue in our docker daemon like we had in the past, only timeouts. I'm guessing that this might be something that was recently fixed in docker EE as mentioned in the latest release notes.

We took a look at the file descripto

[2018-04-17 13:12] Eireocean commented on #2078
Good Day,

I have the same issue and it has to do with devpts. When installing plugins a second devpts is mounted. The below is the varying options of the mounts :

_rw,relatime,mode=600,ptxmode=000
rw,nosuid,noexec,relatime,gid=5,mode=620,ptmxmode=666_

The first works no issues, with the plugins the second option comes into play and that is when logins do not work unless using the console.

From

[2018-04-18 08:01] Eireocean opened #2082 "vFile Plugin Cannot Be Enabled"
Good Day,

We are running the latest Docker CE on RHEL 7.4 and trying to install vFile Plugin and get the below :

[code]
I have uninstalled and reinstalled but no success. We have 5 hosts in a swarm with 3 manager nodes. Even have ports 1024-65535 tcp/udp open with selinux disabled.

Just a note ... there is no /var/log/vfile. Any help ?

Regards

[2018-04-18 09:05] danielbjornadal opened #2083 "Container stuck in starting after mounting vsphere volume the second time"
## Intro
After creating a vsphere volume, and mounting it to a container for the second time, the container is stuck in starting state.

## Versions
`ESXi VIB Driver: 0.21.2`
[code]
[code]
[code]
## Container stuck in starting state
`# docker run -d -t --name voltest --volume-driver vsphere -v MyVolume2@t-ESXi.Data01:/mnt busybox`
[code]
[code]
[code]
[code]
## Container stopped
[code]
[code]
[cod

[2018-04-18 12:35] govint commented on #2083
@danielbjornadal. was able to run this test with docker CE 18.03.0 and unable to repro the issue. But from your logs looks like the plugin is able to report the status of the volume accurately (attached/detached). Suggest opening an issue on Docker as this doesn't seem to be a plugin issue.

[2018-04-18 19:26] grekier commented on #2078
I see almost the same as @Eireocean
devpts on /dev/pts type devpts (rw,nosuid,noexec,relatime,gid=5,mode=620,ptmxmode=000)
devpts on /dev/pts type devpts (rw,nosuid,noexec,relatime,gid=5,mode=620,ptmxmode=666)
second line inserted after plugin install.
Side note is that actually removing the last one fix the issue for me.

Not sure if it helps but it seems that something similar happened earlier i

[2018-04-19 06:33] danielbjornadal commented on #2083
@govint. We upgraded to 18.03.0-ce, and the issue still persist.
We have tried on both debian and ubuntu-xenial.

[code]

[code]

Is there any debugging we could try on the ESXi host?

[2018-04-19 06:40] govint commented on #2083
@danielbjornadal, is this the problem,

root@sc-rdops-vm02-dhcp-52-237:~# docker ps -a
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES
b8c51d612bd7        busybox             "sh"                5 seconds ago       Up 4 seconds                            voltest1
4f55637b76c2        busybox             "sh"

[2018-04-19 15:52] govint commented on #2083
@danielbjornadal ok, without Rancher this problem doesn;t seem to be an issue. Could you check with Rancher on this issue first. If on Rancher the plugin shows the proper status attached/detached at least we know the plugin is mounting/unmounting the volume whenever it's requested to do so. I don't believe this is a plugin issue.

[2018-04-19 16:54] easyhash commented on #2083
Rancher issue: https://github.com/rancher/rancher/issues/12863
Plugin attach and detach the volume as it should.

[2018-04-19 16:57] danielbjornadal commented on #2083
Rancher issue: https://github.com/rancher/rancher/issues/12863
Plugin attach and detach the volume as it should.

[2018-04-20 17:27] liqdfire commented on #2078
I have the same issue with docker 18.03

I removed it, and re-installed 17.12.1-ce and had no issue re-installing the volume plugin.

[2018-04-20 21:59] tusharnt commented on #2074
https://github.com/vmware/vsphere-storage-for-docker/releases/tag/0.21.2 contains the fix.

[2018-04-28 00:47] SaintMartin commented on #2078
I also ran into the same problem. I was running a 6-node swarm (3 managers) on:
Docker Version: 18.03.0-ce

Kernel Version: 3.10.0-693.21.1.el7.x86_64
Operating System: CentOS Linux 7 (Core)
On ESXi 6.0  (VM version 11)

ESXi VIB:
VMWare_bootbank_esx-vmdkops-service_0.21.c420818-0.0.1.vib
Docker plugin:
vsphere-storage-for-docker:latest

On day, when I attempted to ssh into any of the nodes I got:

[2018-05-04 21:43] kmott commented on #2075
@govint Did you have a chance to check things out?

[2018-05-11 07:11] grekier commented on #2078
Seems like upgrade to docker 18.03.1-ce is fixing this issue. At least I can SSH to my docker servers now with kernel 4.4.0-124

[2018-05-17 10:46] Foxi352 opened #2084 "Volume creation: Cannot specify Datastore name when using xfs"
Specifying the target datastore by using the @ in the volume name does not work when using the xfs fstype.

Example using ext4:
[code]
Everything is fine. But when using the xfs type:
[code]

[2018-05-18 11:30] Foxi352 opened #2085 "Files existing inside mount point not cloned to newly created named volume"
Not sure if this is a VDVS or Docker issue (or by design).
When mounting a new Docker named volume to be created, and when the mount point inside the target container already contains files, these files are cloned to the newly created volume on first container start.

This seems not to be the case using VDVS driver. The .vmdk files are created on first container run, but the volume remain empty an

[2018-05-18 12:25] nop00 opened #2086 "Cannot mount a vfile volume created specifying the datastore"
Environment:
ESX 6.0U3
Docker 17.09.1-ce
Host OS: RancherOS 1.3.0

Steps to reproduce:
1./ Create the volume `docker volume create --driver=vfile --name=test@datastore2 -o size=1gb`
2./ Start a container, mounting the volume `docker run --rm -it -v test@datastore2:/mnt/myvol --name busybox-on-node1 busybox`

Expected result:
Container starts with volume mounted.

Actual result:
Get error `docker:

[2018-05-18 15:06] Foxi352 commented on #2085
To add to my previous comment:
A lot of containers do try to heal themselves. If the mounted volume is empty they copy default config files into is. I used `jordan/icinga2` as an example to do my testing.

Now the problem is VDVS volumes are **NOT** empty, but they contain a `lost+found`. I know where this is coming from, but can this be prevented ? I think this would solve a lot of problems.

[2018-05-25 07:33] Murf opened #2087 "Error looking up volume plugin vfile: plugin "vfile" not found"
After I restart docker the plugin is no longer found.
'docker plugin ls' shows the plugin as installed though.

[2018-05-29 12:47] shauntkiredjian commented on #2080
Hello... is there any update on this issue?

[2018-05-29 12:48] shauntkiredjian commented on #2081
Hello... is there any update on this issue?

[2018-06-01 06:37] Murf commented on #2087
I have no idea how to do that sorry
OS is Proton 2

[2018-06-01 07:16] Murf commented on #2087
Hi, I found it in /var/log./vfile.log and it appears I may have a firewall issue, I will take a look

2018-06-01 07:14:30.632235402 +0000 UTC [ERROR] Failed to join ETCD ClusternodeID=na2f9s97qzdzhd0i0h38z2x2s error="grpc: timed out when dialing"
2018-06-01 07:14:30.632257233 +0000 UTC [WARNING] Failed to create new KV store. Retry
2018-06-01 07:14:30.656586179 +0000 UTC [INFO] getEtcdPorts: clien

[2018-06-01 07:34] Murf commented on #2087
No luck, I added tcp/4001 and tcp/4002 to iptables INPUT chain and still get above error in vfile.log

[2018-06-01 07:55] Murf commented on #2087
I realised what I did wrong, I used the wrong installation line from the reradme, I now have the right one for correct etcd ports but still no luck, it is as if my docker swarm does not have etcd

2018-06-01 07:53:44.976072805 +0000 UTC [ERROR] Failed to join ETCD cluster on manager leaderAddr="192.168.50.32:2377" nodeID=na2f9s97qzdzhd0i0h38z2x2s nodeAddr=192.168.50.20
2018-06-01 07:53:44.97616257

[2018-06-02 05:59] Murf commented on #2087
OK more to this, the vfile plugin ONLY works on the leader node of the swarm, it expects to find etcd service there (which it does) so how do I install the plugin on other master and worker nodes?

[2018-06-03 00:45] Murf commented on #1807
Why was this closed? the problem still exists

[2018-06-05 09:16] Murf commented on #2087
vfile=unstable/not usable.

[2018-06-29 09:21] KLychagin commented on #1932
Maybe the reason is that  VSphere NSX blocks port 4789. [libnetwork/1431](https://github.com/docker/libnetwork/pull/1431)

[2018-07-09 20:50] shauntkiredjian commented on #2081
@HanzzM @tusharnt @shaominchen
Hello, is there any update on this?

[2018-07-09 20:51] shauntkiredjian commented on #2080
@HanzzM @tusharnt @shaominchen
Hello, is there any update on this?

[2018-07-24 15:16] casz opened #2089 "Volume permission required to be set seperately from docker-compose file"
Initial volume does not give proper permission when used from docker-compose.

I have to manually create the volume and run `chown` on it.

[code]

Docker-compose file
[code]

Dockerfile
[code]

[2018-07-27 08:23] freddyli commented on #2085
We are dealing with the same kind of problems too. Please see also the issue:

https://github.com/vmware/vic/issues/5777

from the *vSphere Integrated Containers Engine* project. They solved it by using a **subfolder on the filesystem** instead of the root of the filesystem as the volume.

Can you think of providing the same functionality here?

Alternatively maybe delete the `lost+found` director

[2018-07-27 08:29] freddyli commented on #2089
We have a similar problem, also wtih the jenkins image. One solution would be to provide docker with an **empty** volume. Currently when a VMDK is created and formatted, there is the `lost+found` directory inside. Therefore docker does not copy the directory from the image to the volume.

Now, if the volume was empty, and `/var/jenkins_home` inside the image has the correct owner (1000:1000), this

[2018-08-08 14:09] plcouture commented on #1948
Hi

I'm also unable to modify permissions and ownership.

I have VMs on Oracle Linux 7 UEK R4, ESX 6.5.

[code]

After mounting a vFile volume, chmod and chown have no effect.
It is problematic in the case where I use elastic search.

For example, the file node.lock cannot be written by the elastic search process which runs under the user id '1000'.
[code]

Thank you for your help
Pierre-Luc

[2018-08-28 06:05] rexhsu0624 commented on #2081
Me too, after remove the stack, that vfile volume still list there. The dockvols/1111...111/ directory without that vmdk files.

[2018-09-14 08:17] rosebude opened #2090 "Error response from daemon: dial unix /run/docker/plugins/***vsphere.sock: connect: no such file or directory"
Hello,
I can't  enable the plugin vsphere. I've always this errror.... Any ideas ?

Assume vmtools upadate and running.
rm -rf /var/lib/docker/* and resinstall docker-ce and reboot.

Log from  /var/log/ vsphere-storage.log is emty...

journalctl -u docker | grep plugin
[code]
thanks for suggestion....

Docker Info
[code]

cat /etc/debian_version
9.5

[2018-09-18 12:46] raptaml opened #2091 "Project discontinued?"
Hello,
I have seen no progress on this for several month, is it discontinued? We planned to use this in production, are there any alternatives or will it get picked up again?

Thanks

[2018-09-19 07:04] rosebude commented on #2090
solved !
syntax error in /etc/vsphere-storage-for-docker.conf  at the level "GroupID".

[2018-09-19 07:04] #2090 closed

[2018-10-08 09:11] Jacq commented on #2081
Same here, I had to restart also swarm managers, and I need to remove the vfile volume in the first place because other nodes could not use it, seems like a bug.
By the way, after restarting the vfile plugin status changed to disabled.

[2018-10-24 05:08] antoineoostrum opened #2092 "Error response from daemon: pull access denied for vmware/vsphere-storage-for-docker, repository does not exist or may require 'docker login'"
Is it possible that the image vsphere-storage-for-docker isn't available any longer?

[2018-11-01 19:55] bkcsfi opened #2093 "cannot install VDVS_driver-0.21.2-offline_bundle-8282494.zip using VUM on 6.7 - "Not Compliant""
I uploaded this host extension to vsphere/vum, added it to a baseline and am now trying to apply it to a 6.7.0 build 10302608 host.

vum says it cannot be installed, "not compliant".  Any suggestions? (cluster check failed because it wants drs turned on but we are not licensed for drs)

![image](https://user-images.githubusercontent.com/6412502/47876016-7cc46200-ddee-11e8-91ed-ca732cfd0037.png)

[2018-12-06 14:54] anthonyloukinas commented on #1599
Not to poke the bear and re-open this issue, but I'm also experiencing the same issue on the Free version of ESXi. I followed @pdhamdhere link to obtain an evaluation key, but instead it forces me to download an entirely new ISO (bundled with key I imagine). Is there any easy way to get a key vs. an ISO? I'd like to test this Docker Volume Plugin before I start working in Production.

[2018-12-10 19:15] angryviking commented on #1948
I am having the same issue as @plcouture.
ElasticSearch wants the storage volume to be writable by the elasticsearch user and/or group (1000:1000).
After creating and mounting the vFile share, I am unable to change the permissions with chown/chmod.

[2018-12-12 21:40] anthonyloukinas commented on #2091
Would also like to know the status of this project. Most of the issues still open have been open for months with no end in sight.

A specific issue we are facing is the expansion of volumes after they've been provisioned. StorageOS and other volume drivers are handling this fine, but the VMWare Storage For Docker team has closed out all of the old issues relating to this.
https://github.com/vmware

[2018-12-12 21:43] anthonyloukinas commented on #2092
Can you please provide the output of the following command?

[code]

[2018-12-13 08:38] antoineoostrum commented on #2092
Hello Anthony,

Thanks this is working for us now

adminn@ubu:~$ docker plugin install --grant-all-permissions --alias vsphere vmware/vsphere-storage-for-docker:latest
latest: Pulling from vmware/vsphere-storage-for-docker
05da47b7b6ce: Download complete
Digest: sha256:a20bcdfef99ebf017bf3cabd815f256430bf56d8cb7881048150e7c918e0c4c6
Status: Downloaded newer image for vmware/vsphere-storage-for-doc

[2018-12-13 13:52] anthonyloukinas commented on #2092
Great! I don't believe this project's maintainers are maintaining the issue statuses anymore.. If you could close this issue assuming all issues are resolved would be great!

Happy Dockering.

[2018-12-15 20:12] nartamonov commented on #2091
+1 what's the status of this project?

[2018-12-17 15:36] #2092 closed

[2019-02-12 13:10] lowshoe opened #2094 "permission issues with vfile shared volume when selinux is enabled"
trying to access a vfile shared volume with selinux enabled on the host gives a "permission denied" error:

# Host Details
## OS
[code]
## SELinux
[code]
## Docker
[code]

# Steps to repoduce
1.  [install the vfile plugin](http://vmware.github.io/vsphere-storage-for-docker/documentation/vfile-plugin.html) and create a shared volume with the vfile plugin:
`docker volume create --driver=vfile --name

[2019-03-07 06:36] vkolli01 commented on #2091
There is no active development happening for this driver, nor is planned in the near future.  We have shifted our efforts to Kubernetes solutions.
Volume expansion support is being planned for kubernetes driver.

[2019-03-12 00:54] kymbob commented on #1599
"resolved over email" is an interesting resolution. I have the same issue on my lab, is there a way around this?

[2019-03-12 19:36] JoeriVeder commented on #1599
This was never resolved over e-mail.. not resolved at all.

[2019-03-25 11:49] ShaharukShaikh opened #2095 "vSAN Volume creation time out : "VolumeDriver.Create: context deadline exceeded""
root@ubuntu1604:~/repo/DCEServices# cat /tmp/k
[
    {
        "Config": {
            "Args": {
                "Description": "",
                "Name": "",
                "Settable": null,
                "Value": null
            },
            "Description": "VMWare vSphere Docker Volume plugin",
            "DockerVersion": "17.12.0-ce",
            "Documentation": "http://vmware.github.i

[2019-05-13 09:44] aleskinen commented on #2091
Should this be compatible vith vmware 6.7?
We recently updated to 6.7 now I get errors like
May 13 09:28:45 dca.tek.fi dockerd[336]: time="2019-05-13T09:28:45.361945009Z" level=error msg="fatal task error" error="VolumeDriver.Mount: Device not found" module="node/agent/taskmanager" node.id=pd9mvqohram9ewygqyyjiui27 service.id=7t1obs5rmin23hpvcgdb0nyq3 task.id=m7qsr5x0z05viyqqnu3nnig7q
Still docker

[2019-06-05 04:54] darkl0rd opened #2096 "Migrating Docker vm to another ESX host results in volumes which cannot be mounted."
Setup: VSphere cluster, consisting of 4 ESX hosts. Several Docker Hosts running on one of the ESX hosts, many of it's containers are using persistent volumes.

When the Docker VM is migrated to another ESX host, some, but not all of the volumes no longer correctly attach. After restarting the Docker Engine (sometimes several times), the volumes can be attached correctly. Strangely enough, in some

[2019-07-23 05:49] wwwlookformetop commented on #1599
I  use the  vSphere API to backup  virtual disks,but it throws a exception  like :  current license or esxi version prohibits execution of the requested operation

[2019-10-11 01:31] dhapheto commented on #1948
Hi Pierre-Luc,

Whether this problem has been resolved ? I am having the same issue.

Thanks in advance

[2019-10-15 00:34] plcouture commented on #1948
Hi

The problem has not been resolved as far as I know.
You should take a look a this comment regarding the status of the project : https://github.com/vmware/vsphere-storage-for-docker/issues/2091#issuecomment-470404601

[2019-10-24 23:34] seanhig commented on #1948
pretty sure this project is completely deprecated.

On Mon, Oct 14, 2019 at 6:34 PM plcouture <notifications@github.com> wrote:

--
Cheers,
Sean Hignett,
Intelligent Design Studios <http://www.intelligent-design.ca>
403.650.7981

[2019-10-28 14:30] mitziwebb commented on #2096
We have also seen this issue.

[2019-10-28 14:32] mitziwebb opened #2098 "After Upgrading to Docker 18.09, vsphere plugin is inconsistent"
After upgrading from Docker 18.03 ee to 18.09 ee, the vsphere plugin is very inconsistent on listing volumes.  Sometimes the volumes show, and sometimes they don't.

[2020-03-04 21:43] liqdfire commented on #2096
It happens because the docker plugin has a bug in the reference counter feature, so that when a container is stopped it thinks there are still containers referencing the volume and does not detach it from the vm host.

[2020-07-02 16:29] DeDuplicate commented on #2098
also the containers disconnects from the volume and afterwards they crashes

[2020-09-28 01:19] brianredbeard opened #2100 "Archive the repository"
Given that 96d2ce72457047af4ef05cb0a8794cf623803865 was committed 9+ months ago and in #2091 it's mentioned that development will no longer continue.  This repository should be set to "archive" so as to manage expectations for incoming users, especially inbound users from the [Docker documentation](https://docs.docker.com/engine/extend/legacy_plugins/#/volume-plugins).

[2020-10-12 18:31] jostmart commented on #2091
So there is actually no good solution for Docker Swarm users if this project is scrapped.