[2017-03-02 01:23] #972 closed

[2017-03-02 01:41] pshahzeb commented on #954
Reproduced a similar issue, to delete a volume.

[code]

The inspect command shows the volume is still attached.
[code]
This was encountered when the volume above was the first volume I tried to create, and it failed.
The error was same as the one pointed out by @shuklanirdesh82  earlier; which is
[code]
It is tough to reproduce this and my assumption is that the above error was due to socket erro

[2017-03-02 01:42] ashahi1 commented on #984
@pdhamdhere Yes, I see the same behavior Ubuntu 14.04.4 LTS.
[code]

[2017-03-02 02:03] pdhamdhere commented on #984
Docker looking for VMDK socket is expected. On Photon upgrade didn't start service. Did it start on Ubuntu? After restarting docker, does 'Docker volume ls' list volumes?

[2017-03-02 03:13] shuklanirdesh82 commented on #982
from https://github.com/vmware/docker-volume-vsphere/blob/master/docs/features/tenancy.md
"vSphere Administrator can define group of one or more Docker Host (VM) as Tenant"

e.g.
[code]

How about having it as ```vm-group```? simply it is a logical unit of dockerHosts to have privileges for datastore.

my two-cents

[2017-03-02 03:36] govint commented on #982
"vm-group" opens up the implementation bellow the docker host, "project"
will match well with the photon platform (they have tenants and projects).
HOw about "host-group"

On Thu, Mar 2, 2017 at 8:43 AM, Nirdesh Shukla <notifications@github.com>
wrote:

[2017-03-02 03:38] govint commented on #954
The remove error happens because of the way the create failed

On Thu, Mar 2, 2017 at 7:11 AM, Shahzeb Patel <notifications@github.com>
wrote:

[2017-03-02 03:40] govint commented on #981
Whenever the plugin pkg is installed docker is restarted as well. Looks like upgrade doesn't restart docker?

[2017-03-02 03:41] govint commented on #981
We need to quickly move to the "managed plugin" format of Docker 1.13. Can't restart docker just because of a plugin install or upgrade - #886 may need to come in sooner.

[2017-03-02 04:19] govint commented on #881
Able to consistently repro #954 with the concurrent test with two clients. Will be  debugging that exclusively.

[2017-03-02 05:15] govint commented on #976
Rather than give up after a few retries the esx service could finish the retries and then continue. Getting the service interface is done on each call now so thats not an issue.

[2017-03-02 05:19] govint commented on #949
@brockz is there an update on this issue, if you have any logs from a repro please upload those to this issue.

[2017-03-02 05:21] pdhamdhere commented on #976
@govint main->connectLocalSi() exits if connection can not be established during startup. Are you also suggesting to remove connectLocalSi() from main?

[2017-03-02 05:24] govint commented on #976
No, try to connect but don't exit because connection wasn't established with the hostd.

[2017-03-02 05:36] shuklanirdesh82 commented on #933
closing this for now as CNR (could not repro)

[2017-03-02 05:36] #933 closed

[2017-03-02 05:59] shuklanirdesh82 commented on #815
Two tests need to be enhanced

1. https://github.com/vmware/docker-volume-vsphere/blob/c95d9a3775b4ba804f63de8c8140722df23e2030/vmdk_plugin/sanity_test.go#L28
2. https://github.com/vmware/docker-volume-vsphere/blob/0241cae8b7c091a9510754bc5d544530c74cdfeb/vmdk_plugin/utils/refcount/refcnt.go#L82

[2017-03-02 13:47] govint commented on #976
Tried out a change to not exit the service on start up and instead try to connect to hostd on the next command. WHats happening is the pyVim pkg is remembering some status and even if hostd is started keeps thowing host connect fault over and over. Unless the service is restarted this continues for ever.

[2017-03-02 17:38] tusharnt commented on #907
@govint can you please confirm whether this is a purely a performance issue?  Can you please post some analysis of how much performance improvement we will get if we do this fix?

[2017-03-02 17:51] govint commented on #881
Ok, I was able to test this on a pair of Ubuntu VMs (14.04) and the test runs perfectly well. Modified the test to do just the parallel volume create and remove between two VMs for a total of fifty volumes just to see if that many reproduces the problem. I'm unable to repro the issue at all. But in CI its consistently reproducible and the issue is exactly whats reported in #954 (which seems a dupl

[2017-03-02 17:55] govint commented on #907
@tusharnt this is not a performance issue as much as its a user experience issue. I don't believe Photon deployments will be loaded with tenants and projects that fetching the tenant and project list per tenant will be hugely impactful. Plus Photon Controller is planning on exposing a meta-data service that will remove the need for the VM to identify itself in this way in the future. This change s

[2017-03-02 18:10] tusharnt commented on #966
Won't fix.

[2017-03-02 18:10] #966 closed

[2017-03-02 18:12] lipingxue opened #986 "[Tenant] need make sure _DEFAULT tenant create with constant UUID after delete and recreate"

[2017-03-02 18:29] tusharnt commented on #852
@ashahi1 to verify whether this is already fixed.

[2017-03-02 18:31] #203 closed

[2017-03-02 18:31] tusharnt commented on #203
We are already investing how to release binaries via Bintray.

[2017-03-02 19:04] ashahi1 opened #987 "Do not see all the volumes listed after restarting a host which has a docker vm - container was running with volumes mounted when esx was rebooted"
VM had multiple volumes and when container was running on that vm, I restarted the esx.
After the esx came back up, powered-on the vm.
After vm came back, 'docker volume ls' does not lists all the volumes that were there prior to esx reboot.

I am not sure if this issue is same as as the one reported in #976 because even if I start vmdk-opsd, do not see all the volumes that were already there when

[2017-03-02 19:08] govint commented on #987
Post reboot list isn't picking anything from vsanDatastore.  What about after reboot admin CLI ls, is it also showing the same volumes or all of those from before the reboot.

[2017-03-02 19:10] ashahi1 commented on #987
@govint  After post reboot, it is also not showing the volumes that were there prior to reboot.

Please see the output below
[code]

[2017-03-02 19:43] shaominchen commented on #943
Hi @msterin Why did we close this issue? The PR #975 just turned off VMODL install, but we still need to introduce a kill switch so that we can toggle on/off the VMODL support. Correct?

[2017-03-02 19:47] msterin commented on #943
github auto closed this when #975 merged. Yes, we need the kill switch post-GA. Reopening

[2017-03-02 20:11] lipingxue commented on #927
The following are two action items identified after trying out Docker Swarm Mode with vSphere docker volume service.

- [ ] Add Swarm related test in CI/CD test
       In CI/CD test, we can add the test for stateful service fail-over in Swarm mode. This is the test we need:
      1. Create a Swarm cluster, with three VMs (one master, two workers)
      2. Deploy a stateful service (redis for examp

[2017-03-02 21:01] msterin commented on #318
@lipingxue  - lets talk offline and see if it fits in your queue

[2017-03-02 21:20] shaominchen commented on #270
Per offline discussion, we will look at this post GA.

[2017-03-02 21:22] shaominchen commented on #886
Per offline discussion, Mark will take care of this.

[2017-03-02 21:42] ashahi1 commented on #852
1. Created a volume
2. Mounted the volume to a container.
3. Tried removing the volume but operation is expected to fail as volume is already attached to vm.
And then I do see the following error message:
[code]

[2017-03-02 22:12] msterin commented on #852
Looks good to me - the original issue is fixed.

[2017-03-02 22:12] #852 closed

[2017-03-02 22:34] tusharnt commented on #935
As per @lipingxue, this should already be addressed.

[2017-03-02 22:37] tusharnt commented on #922
Even tests need to be fixed.

[2017-03-02 22:47] tusharnt commented on #734
@ashahi1 can you please check whether we have any gaps in this area? Please add details about the tests you're running and their outcome.

[2017-03-02 22:51] ashahi1 commented on #161
We support ubuntu with docker-0.11, 0.12 and 0.13 and Photon with docker-0.11 and 0.12

[2017-03-02 22:55] tusharnt commented on #380
This is already being tracked as part of #957 - see scenario#6

[2017-03-02 23:01] tusharnt commented on #162
@msterin What needs to be done here?

[2017-03-02 23:11] tusharnt commented on #202
@kerneltime can you please elaborate what you meant here? Is this issue still relevant?

[2017-03-02 23:22] #558 closed

[2017-03-02 23:23] msterin commented on #162
nothing. We rely on docker keeping reasonable (current and one prior) API compatibility

[2017-03-02 23:23] #162 closed

[2017-03-03 00:06] lipingxue commented on #986
Ran the following test manually.
step 1: In AdminCLI, run "tenant ls" to list the tenant
[code]

step2: In AdminCLI, run "tenant rm" to remove _DEFAULT tenant
[code]

step3: In AdminCLI, run "tenant create" to re-create _DEFAULT tenant, check to make sure _DEFAULT is created with constant UUID
[code]

[2017-03-03 00:11] lipingxue commented on #916
Run the following test manually

Configuration:
two datastores "datastore1" and "datastore2" are accessible by VM "photon6"
VM "photon6" belongs to _DEFAULT tenant, and is created on "datastore1"

Step1: run "docker volume ls" to list current volume
[code]

Step2: rename "datastore2" to "datastore   2",  then create a volume with vol_name@datastore\ \ \ 2 (spaces are included in datastore name), v

[2017-03-03 00:26] lipingxue commented on #982
@govint what does "projects" and "tenants" mean in photon platform? I think "host-group" sounds a good name. Any comments @pdhamdhere @msterin

[2017-03-03 00:35] msterin commented on #982
I agree with @govint here. `vm-group` is the best IMO. `host` ia easy to mistake for ESX host.

[2017-03-03 04:52] pdhamdhere commented on #987
As Govindan mentioned, volumes created in vsanDatastore are missing. Did you check `ls -l /vmfs/volumes/vsanDatastore/dockvols/_DEFAULT/`

[2017-03-03 06:53] shuklanirdesh82 commented on #579
As per the ask, PVSCSI controller is removed from all the vms exist in the current CI system.

ESX 6.5 having 4 vms
[code]

ESX 6.0 having 4 vms
[code]

After removing controller from above vms and #989 exposes the volume creation failure for the test ```TestVolumeCreationFirstTime```; which was added as part of #794 (to cover #656 failure case)

https://ci.vmware.run/vmware/docker-volume-vsphere/

[2017-03-03 07:00] shuklanirdesh82 commented on #579
Expected work is done and supplied a change to reorder test sequence as part of this activity.

currently CI is failing as expected and @govint is looking at similar failure cause.

[2017-03-03 07:00] #579 closed

[2017-03-03 12:19] govint commented on #881
Being fixed in PR #941

[2017-03-03 18:06] ashahi1 commented on #987
@pdhamdhere
ls -l output is below. All these volumes were created post-reboot. I do not see the volumes that were created prior to esx-reboot.
[code]

[2017-03-03 18:29] govint commented on #987
Is it a property of the vsan datastore? May be its cleaning up on startup.

[2017-03-03 19:03] pdhamdhere commented on #987
[code]

Before Reboot;
dockvols => 7684b758-a677-c0b9-8220-0200351cdccb

All old volumes are present in 7684b758-a677-c0b9-8220-0200351cdccb/_DEFAULT

After Reboot;
dockvols => 7a91b758-02d3-ee96-2642-0200351cdccb

CC / @msterin

[2017-03-03 22:39] ashahi1 opened #990 "[Tenant] Inconsistent docker volume ls output in case of orphaned VMs"
Do not see consistent output for 'docker volume ls' command across vms after _DEFAULT tenant is deleted.

Setup:
One ESX,
Two VMs (TestVM1-125 and TestVM2-125)
VSAN datastore.
Both VMs belong to same vsan datastore and same esx.

Steps:
1. Created a docker volume named testVolVsan from vm2  (TestVM2-125).
[code]
Docker volume ls command from VM1
[code]

2. Admin cli command output listing volumes

[2017-03-03 22:39] ashahi1 commented on #990
CC / @pshahzeb

[2017-03-03 23:19] ashahi1 commented on #990
Also, after deleting the tenant, we see two volumes being listed on the vm if we do 'docker volume ls' - one short name and another long name.

'docker volume ls' command from VM2
[code]

[2017-03-03 23:32] pdhamdhere commented on #987
[code]

Directory lookup for "dockvols" failed after reboot so we issued mkdir dockvols which succeeded.

Another VM Directory also got affected on same setup. This seems unrelated to our code. Will open a case with vSAN.

[2017-03-03 23:36] pdhamdhere commented on #987
On a side note, it seems `osfs-mkdir -n /vmfs/volumes/vsanDatastore/dockvols` has different default policy settings than vSAN Datastore default. For e.g. VM name has following policy setting;

[code]

[2017-03-04 00:19] shuklanirdesh82 opened #991 "volume metadata got reset - while trying to mount same volume from another docker host (was attached to volume earlier from docker host1)"
~~container got detached~~  volume metadata got reset (was attached to volume earlier from docker host1) while trying to mount same volume from another docker host.

~~We are not able to attach the container to the same volume again.~~ After restarting the docker service this problem is no longer reproducible.

Testcase steps:

[code]

Test is failing at step 7 and following are the observations

[2017-03-04 00:21] shuklanirdesh82 commented on #991
Test is failing at step 7 and following are the observations

Observations:

1. attached container got detached when trying to attach from another docker host
2. Admin CLI fails to say whether volume is attached or not
3. docker volume inspect doesn't show following "status" information

[code]

[2017-03-04 00:22] msterin commented on #987
The VM was probably created from VC and picked up whatever (default storage) policy was there - see spbm entries.
dockvols was created from ESX and pciked up whatever default storage policy was in VSAN

[2017-03-04 00:23] msterin commented on #987
Also @pdhamdhere - I wonder if could  be that our service was started too early (before osfs recovered the symlink) ?

[2017-03-04 01:45] shuklanirdesh82 commented on #957
Reopening to keep adding newly identified scenarios

[2017-03-04 01:54] shuklanirdesh82 commented on #681
admin_cli tenant is defaulted to ```-h``` as of 0.12 release

[code]

[2017-03-04 02:28] pshahzeb commented on #961
This happens only with zeroedthick and eagerzeroedthick disk format

[code]

[2017-03-04 02:28] ashahi1 opened #994 "[Tenant]Error message is not clear while trying to add two vms with same names to a tenant."
Error message reported when user tries to add two VMs with same names to a tenant with single command - Internal Error(UNIQUE constraint failed: vms.vm_id)

Proper error message be thrown so that it's easier for user to understand.

[code]

[2017-03-04 03:24] shuklanirdesh82 commented on #961
@ashahi1 I believe we do have a test in CI which does create "volume of diskformat type - zeroedthick on vsan datastore" .. where is the gap for not reporting this issue through automated test?

[2017-03-04 03:49] shuklanirdesh82 commented on #747
Following scenarios had been exercised for the VMs created in nested folder/resource pools.

Testbed setup:
- 2 ESX (E1/E2) having shared-vmfs datastore (SD1)
- 2 VMs let's say VM1 (on E1) & VM2 (on E2)
- Nested vm folder has been created and placed (created) VM1
- Resource pool has been created and VM2 placed (created) into it

Test scenarios

- [ ] docker CLI workflow
[code]

- [ ] Admin CLI wor

[2017-03-04 04:09] govint commented on #987
Should the ESX service install itself with a jumpstart plugin so it starts
in sequence in the proper order after system (ESX) services come up first.

On Sat, Mar 4, 2017 at 5:54 AM, Mark Sterin <notifications@github.com>
wrote:

[2017-03-04 04:13] shuklanirdesh82 commented on #747
@ashahi1 : I'm assigning to you for performing following tests

- [ ] fail over scenario (mentioned at #957)
- [ ] "User created Tenants & User defined access rules" execute 1/2 scenarios

- [ ] Need to check whether we can extend testbed deployment script which creates atleast one vm into nested vm folder and at-least one vm into resource pool

//CC @tusharnt

[2017-03-04 04:29] pdhamdhere commented on #987
Yes, should we be explicitly specifying policy "hostFailuresToTolerate" in particular.

Good thinking! We are almost at the end among 150+ services started on this host. vSAN services are early in startup. Also note that
a. We do not touch/create dockvols until request comes from VM so there is considerable delay
b. it's not only dockvols but another VM Folder is affected too.
c. mkdir dockvols su

[2017-03-04 04:34] govint commented on #961
The service is using ESX disk library to get the total and allocated size. Is the allocated size including replicas as well.

[2017-03-04 05:46] pdhamdhere commented on #991
@shuklanirdesh82 Can you please upload both plugin and vmdkops logs?

[2017-03-04 05:57] shuklanirdesh82 commented on #935
@lipingxue  The reported issue is still exist..reassigning to you (please feel free to move into v1GA if major effort is required)

[code]

[2017-03-04 05:58] shuklanirdesh82 commented on #935
@govint Thanks for the comment, please find my response as inline.

[code]

[2017-03-04 07:35] pdhamdhere opened #995 "Unable to inspect/use volumes created in 0.12 after upgrade to 0.13"
1. With Docker 1.13, & vDVS 0.11, created some volumes.
2. Upgrade to vDVS 0.12
3. docker volume ls shows volumes but inspect fails.

[code]

[2017-03-04 07:41] pdhamdhere commented on #995
This issue is specific to Docker 1.13. Docker for whatever reasons decided to persist volume name and their driver names in local DB. We changed driver name in 0.12 but Docker doesn't update it's DB based on registered plugins.

**Workaround**: Delete `/var/lib/docker/volumes/metadata.db `and restart docker. Docker will rebuild database with new driver name. This doesn't affect volume contents or

[2017-03-04 07:53] pdhamdhere commented on #991
@shuklanirdesh82

Are you sure both VMs are on same ESX?

What does this mean? This can't happen.  Are you able to read/access files in container on VM1?

If both VMs are on same ESX then this should not happen. If VMs are on different host then it may reset metadata.

What version of Docker you are running in this VM? Note that additional status info in "inspect" is available only for Docker 1.12

[2017-03-04 09:47] govint commented on #935
But when vsphere driver is provided Docker is contacting the plugin and the plugin is throwing the error that the datastore is unknown. Which is correct behavior.

And without the volume driver option Docker is correctly failing the "run" request owing to the invalid '@' char.

[2017-03-04 09:52] shuklanirdesh82 commented on #991
Testcase steps:

1. VM1: create volume abc1> list volume > docker volume inspect abc1
[code]
2. VM2: list volume > docker volume inspect abc1
[code]
3. VM1: start container by mounting to abc1 > write some data > leave it attached/running
[code]
4. VM2: docker volume inspect abc1 (it should be in attached state)
[code]
5. ESX: make sure vmdkops_admin output is in sync with volume inspect
[code]
6.

[2017-03-04 10:07] shuklanirdesh82 commented on #991
@pdhamdhere

After restarting docker service, able to attach volume back; so changing the title saying "metadata is getting reset"

[2017-03-05 05:13] govint commented on #991
This test is not supported for the current level of the service. At least not yet, till the service can use a correct way to figure that a volume is really attached and in use (thru VC perhaps). On the other ESX host it will not find the VM and will simply leave the VMDK attached to the VM but set the meta-data (in KV) to DETACHED. But this is just the meta-data, the VMDK is still attached to the

[2017-03-05 06:27] govint commented on #954
Closing in favor of handling the same issue via #881. The issue is consistently reproduced in running the concurrent tests and this issue is the same error seen there.

[2017-03-05 06:27] #954 closed

[2017-03-06 05:17] govint commented on #949
Closing, please reopen if this issue reproduces and please upload the service logs (/var/log/vmware/vmdk_ops.log on the ESX host) and the plugin logs (/var/log/docker-volume-vsphere.log).

[2017-03-06 05:17] #949 closed

[2017-03-06 05:31] govint commented on #962
Tried this out but not reproducing. CI also isn't showing this yet.

@pdhamdhere are there service and plugin logs for the failure that I can check.

[2017-03-06 06:31] govint commented on #995
For volumes created in Docker 1.13 it doesn't seem to behave this way. Its possible to create a volume with one driver and on restart of docker the same volume is associated with the driver thats reporting it now.

[2017-03-06 06:45] govint commented on #987
Is it possible to keep the UUID of the datastore in the tenant DB (for applicable datastores) and on startup, verify that the UUID exists and set up the linkage for that.

[2017-03-06 10:22] govint commented on #991
@shuklanirdesh82 can we get the service logs for this test.

[2017-03-06 19:17] msterin commented on #922
The suggested change will leave 'tenant <command>' set inconsistent.
Please do not do it - instead, *if* it is an issue, we need to do a pass on all commands and make them consistent in using --name vs positional name

[2017-03-06 19:40] shaominchen commented on #922
@msterin I don't think this will leave "tenant set" inconsistent. For CUD operations, only D (rm) does not need "--name". Add & set still need "--name". This is just a convention for most command lines tools.

[2017-03-06 20:17] shuklanirdesh82 commented on #991
@govint docker-volume-service and vmdkops service logs are uploaded in comment#3

[2017-03-06 21:01] shuklanirdesh82 commented on #63
Test scenario to consider per release base:

Goal: need to track performance data per release base.

Test bed requirement (VSAN testbed is an ideal case):

- At-least one ESX & one docker host required to exercise following test steps

- [ ] Scenario 1 (basic volume creation/admin ls workflow)
Note: may extend the [test] (https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/E2E_

[2017-03-06 21:04] shuklanirdesh82 commented on #63
@ashahi1 I'm assigning this to you to perform steps mentioned at https://github.com/vmware/docker-volume-vsphere/issues/63#issuecomment-284531051

As we are gathering the data very first time for 0.13 release; let's track the performance data manually at common place to treat them as baseline for going forward.

//CC @tusharnt

[2017-03-06 21:17] pshahzeb commented on #961
The API behavior of the ESX disk library is correct for the given disk formats. The result is not intuitive, but this info helps. http://pubs.vmware.com/vsphere-65/index.jsp#com.vmware.vsphere.vm_admin.doc/GUID-4C0F4D73-82F2-4B81-8AA7-1DD752A8A5AC.html

I think we can document this somewhere.

[2017-03-06 21:29] pshahzeb commented on #922
From https://docs.docker.com/engine/reference/commandline/docker/
I think many, if not all, docker commands use positional name instead of --name for all CUD operations. (only volume create requires --name)

I think we can go ahead with something consistent for all commands. Right now, only policy rm command takes positional name. All other commands require --name.

[2017-03-06 21:41] lipingxue commented on #986
Fixed by this PR https://github.com/vmware/docker-volume-vsphere/pull/988

[2017-03-06 21:41] #986 closed

[2017-03-06 21:41] lipingxue commented on #916
Fixed by this PR https://github.com/vmware/docker-volume-vsphere/pull/988

[2017-03-06 21:41] #916 closed

[2017-03-06 21:43] lipingxue commented on #818
This issue has been fixed.

[2017-03-06 21:43] #818 closed

[2017-03-06 22:01] msterin commented on #922
I do not think it's true for "most" CLIs - can you give us examples ?
At any rate, It is certainly  not true for most Docker subcommands, and it is super confusing IMO as the user has to think every time what is the command format.

A natural way is to use positionals. I am fine with using `--name` also (as Docker user to do but seems to have moved away from) as long as it's consistent across all

[2017-03-06 22:29] shuklanirdesh82 commented on #935
Thanks @govint! closing this issue as ```invalid``` as per https://github.com/vmware/docker-volume-vsphere/issues/935#issuecomment-284140769

[2017-03-06 22:29] #935 closed

[2017-03-06 22:34] ashahi1 opened #998 "Unable to modify access attribute for volume from admin-cli"
Test steps:
1. Created a volume with access set to read-only
2. Tried changing access to read-write from admin cli but failed - Failed to update access=read-write for Vol100MB@sharedVmfs-0.

Logs are attached at the end.

----------------------
Respective commands and their outputs are as follows:

Created a volume with access mode set to "read-only"

[code]

Admin cli output listing the newly cre

[2017-03-06 23:11] shaominchen commented on #922
@msterin Some examples:
"docker create" and "docker volume create" use "--name", but "docker rm" and "docker volume rm" use positional name;
"vmdkops_admin policy create" and "vmdkops_admin policy update" use "--name", but "vmdkops_admin policy rm" use positional name

Anyway, I agree that keep consistency (especially local consistency) is very important.

[2017-03-06 23:42] pshahzeb commented on #922
@shaominchen @msterin
I think correcting policy rm command to make use of --name would be more safe. Since it is a small change, would make all the commands consistent, and would cause less inconvenience to existing users as well

[2017-03-06 23:47] shaominchen commented on #922
@pshahzeb I agree.

[2017-03-07 00:22] lipingxue commented on #998
The root cause of this bug is "vmdkops_admin  set" is not aware of the exist of tenant. With the multi-tenency feature, it is possible that two volumes with the same name created on the same datastore since there two volumes may created by different tenant. So " "vmdkops_admin  set" need to have a new flag to specify the tenant name which own the volume.

[2017-03-07 00:24] lipingxue commented on #998
This is the output from vmdk_ops log:

09/10/16 08:36:28 388621 [photon-6-[datastore1] dockvols/11111111-1111-1111-1111-111111111111/Vol100MB.vmdk] [INFO   ] *** createVMDK: /vmfs/volumes/datastore1/dockvols/11111111-1111-1111-1111-111111111111/Vol100MB.vmdk opts = {u'access': u'read-only', u'attach-as': u'persistent', u'size': u'100mb', u'diskformat': u'thin', u'fstype': u'ext4'}

......
09/10/16

[2017-03-07 00:35] pdhamdhere commented on #998
How would Admin figure out which tenant volume belongs to? "admin ls" doesnt show tenant name.

We have tests for these in CI right? How come these tests are not failing?

[2017-03-07 00:41] pdhamdhere commented on #995
Govindan, I see this with Docker 1.13.

There isn't much we can do here. Docker will rebuild DB upon restart. Docker uses DB to store volume labels which will be lost.

[2017-03-07 00:41] #995 closed

[2017-03-07 00:56] pdhamdhere commented on #991
Volume metadata getting reset if VM tries to claim volume which is already-in-use is known issue. This will be resolved once we have integration with Property Collector on Hostd #369

[2017-03-07 00:56] #991 closed

[2017-03-07 01:01] pdhamdhere commented on #987
This is an issue with vSAN and I don't think we should add workarounds in our code.

Unfortunately logs have rolled over. Coudn't reproduce after several reboots. @ashahi1 Next time you see this, can you immediately backup entire "/var/log" and open issue with vSAN. This was a great catch. Thank you!

[2017-03-07 01:01] #987 closed

[2017-03-07 01:03] pdhamdhere commented on #984
We may not need to fix this after #886

[2017-03-07 01:04] pdhamdhere commented on #854
We wont need this once we switch to managed plugin #886

[2017-03-07 01:04] pdhamdhere commented on #730
Will be fixed with #886

[2017-03-07 01:08] pdhamdhere commented on #962
This is only reproducible with fresh ubuntu installation on first volume create command.

Plugin logs are copy-pasted in first comment. Sorry, forgot to collect ESX logs. I'll try to repro tomorrow.

[2017-03-07 07:11] shuklanirdesh82 opened #1001 "Misleading error message while renaming a tenant to a name which already exists"
Steps to reproduce:
1. create two tenants T1 and T2
2. invoke ```vmdkops_admin tenant ls``` to verify tenants correctly or not
3. rename one of the tenant with the existing tenant name i.e. invoke ```vmdkops_admin.py tenant update --name T1 --new-name T2``` where as ```T2``` is already present in the system

on ESX
[code]

[2017-03-07 07:11] shuklanirdesh82 opened #1002 "Corrupted reply mesage to a typo in `docker volume create` command"
Getting ```Valid options and defaults: <zip object at 0x431f1f6b48>``` when there is a typo in volume creation command input
[code]
---------docker-volume-vsphere.log---------
[code]
---------vmdk_ops.log---------
[code]

Plugin/driver version information:
On VM: ```docker-volume-vsphere-0.12.3f64805-1.x86_64```

on ESX:
[code]

[2017-03-07 16:39] pdhamdhere commented on #1002
@pshahzeb related to recent change?

[2017-03-07 18:18] pshahzeb commented on #1002
Yes somewhat. From python3, the zip function returns an iterator instead of a list. https://docs.python.org/3/library/functions.html#zip

Fixing this.

[2017-03-07 18:44] lipingxue opened #1003 "[Tenancy] "vmdkops_admin ls" need a new column "tenant""
With multi-tenency, it is possible that two volumes with the same name are created on the same datastore(Those two volumes are created by two different tenents). In in the output of "vmdkops_admin ls" command, we will see two entries with the same volume name.  See the following example (two "vol1" are shown):
[code]

We need to add a new column named "tenant" to specify which tenant the volume be

[2017-03-07 18:49] lipingxue commented on #1003
Duplicate to #964

[2017-03-07 18:55] #1003 closed

[2017-03-07 18:58] lipingxue commented on #998
With #964, "tenant ls" command will add a new column "tenant". CI test for "set command" was written before multi-tenancy. And it just create VMDK in the "/vmfs/volumes/dockervol" directory.

[2017-03-07 19:54] pdhamdhere commented on #882
Follow-up actions:

- Add test for "docker stack deploy" from a compose file

[2017-03-07 19:54] #882 closed

[2017-03-07 20:15] tusharnt commented on #664
@msterin would this be addressed by the fix for #886 ?

[2017-03-07 20:29] msterin commented on #664
not in Docker 1.13. Managed plugin support is experimental in docker and they do not recommend it for production, at least until they announce full support.

Also

Please do not reopen issues without supporting evidence - a repro or at least logs, config  and details. Otherwise I do not see what we can do about it, and it's not a blocker anyways. Since there is no action to be taken  - closing it.

[2017-03-07 20:29] #664 closed

[2017-03-07 20:38] msterin commented on #990
After deleting _DEFAULT tenant the following should happen by design:
* All Vms which do not belong to any tenant (i.e. the ones formerly in _DEFAULT) should be denied access to anything. 'docker volume ls' should say `warning:  VM XXX does not belong to any tenant` and show empty list. `docker volume create` should fail
//CC @lipingxue

[2017-03-07 21:55] pshahzeb commented on #994
Is there a need for error? Should we just remove duplicates from the list of VM names?

// CC @lipingxue @msterin

[2017-03-07 21:59] msterin commented on #994
I think the perfect way would be remove a duplicate a warn.
An acceptable way would be to fail with a clear message.
removing a duplicate silently is not nice , it could be a user typo :-)

[2017-03-07 23:13] ashahi1 commented on #855
I created a volume and then verified the fields from ```docker volume inpect``` and ```vmdkops_admin.py ls ```.

diskformat (vSphere only)
[code]
attach_as (vSphere only)

[code]
fstype

[code]

clone-from (vSphere only)

[code]

access (vSphere only)

[code]

Vsan Policy

[code]

[2017-03-07 23:36] shaominchen commented on #63
I'd suggest to have some simple and straightforward performance tests so that if any performance issues are being detected, it's easier to figure out the root cause in those simple test steps. Some possible "simple" tests I can think of:
1. Deploy 1K VMs. Install vDVS plugin in one VM, and try to create/rm/ls volumes
2. Try to create 1K volumes sequentially, measure the total time
3. After 1K volu

[2017-03-08 03:00] msterin commented on #63
Agreed with @shaominchen , with one correction - for each `run volume command` we need to time it.

I also think 1-3 are most important, 4 is nice to have

[2017-03-08 06:02] shuklanirdesh82 commented on #63
@shaominchen / @msterin

Yeah that is the plan.

item 1 is already covered and for #2&#3 ~500 volumes creation is targeted for out initial testing (concurrently).

Question:

1. Does it make any difference in creating volume simultaneously or sequentially?
2. https://github.com/vmware/docker-volume-vsphere/issues/63#issuecomment-284531051 : Step#5 is proposed to create ~500 volumes in total from 1

[2017-03-08 06:25] shaominchen commented on #63
@shuklanirdesh82
1. I think creating volumes simultaneously can better simulate the usage pattern in real production environment. As Mark has mentioned, this is nice to have.
2. True. But I feel creating ~500 volumes from 10 VMs concurrently is too complicated and it doesn't  really make much difference.

[2017-03-08 17:26] shuklanirdesh82 commented on #900
Testbed requirement: 1 ESX, atleast 3 datastore (local, shared-vmfs, vsan), 3 VMs (VM1 on local/ VM2 on shared, VM3 on vsan)

Pre-requisite: _DEFAULT tenant is present having default rules i.e. (--allow-create is set, and volume max/total size is satisfiable for volume creation)

**Test objective**: add datastore rule and make sure default-datastore is not set
Steps:
[code]

**Test objective**:

A

[2017-03-08 18:24] ashahi1 commented on #895
Test - 1
[code]

Test - 2
[code]

[2017-03-08 18:42] #978 closed

[2017-03-08 19:33] shuklanirdesh82 opened #1008 "collect syslog (linux kernel log) in case of test failure"
As of now we are collecting plugin,driver and esx hostd log(https://github.com/vmware/docker-volume-vsphere/blob/master/misc/drone-scripts/dump_log.sh#L18).

Need to extend log collection script for guest vm's linux kernel log.

//CC @govint

[2017-03-08 19:38] shuklanirdesh82 opened #1009 "send notification for build failures directly to the author of the commit"
drone is having some extra plugin support to send out notification in case of the build failure.

This is useful for an author to know about the status of the commit/PR push.

// @tusharnt

[2017-03-08 19:39] ashahi1 opened #1010 "[test automation] Miscellaneous driver tests"
Test -1: Test to delete the policy which is applied to a volume

[code]

Test - 2: Test to update a vsan policy which doesn't exist
[code]

Test - 3: Verifying ```docker volume ls and admin cli ls``` after restarting the hostd
[code]

Test - 4: Restart docker service
[code]

Test - 5: Create a volume using vsan policy on non-vsan datastore

[code]

[2017-03-08 20:20] msterin commented on #886
Update:
#1006 introduces the managed plugin built.

Issues still to address:
* We cannot simply use it from build/CI since it pushes to registry and multiple dev builds/CIs will be stepping on each other. So we need to discuss and adjust build/CI
* Photon OS seems to have issues - 'mount' consistently fails from managed plugin, but works fine in rpm/deb installation and fine in other distros. So w

[2017-03-08 21:05] shuklanirdesh82 commented on #1010
@ashahi1

As discussed offline we need to add some verification after migrating VM (```Migrate the vm to different esx```)

[2017-03-08 21:21] shuklanirdesh82 opened #1011 "refactor existing go tests which requires Docker config to accept TCP connection"
Currently [sanity_test] ( https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/sanity_test.go ) requires docker config to be set in order to accept TCP connection.

The test can be refactored further as we have automated some tests which uses ssh channel to invoke docker CLI.

// @msterin

[2017-03-08 21:42] shuklanirdesh82 commented on #472
need to find out better test automation framework which satisfies all the requirement mentioned in the above comment.

Note: keeping this issue open to address above comment.

separate issues are created to keep track of each action item so moving this issue in to ```future``` milestone.

[2017-03-08 23:39] ashahi1 opened #1012 "[test automation] VM snapshot tests"
Test -1: Test to take snapshot of vm with persistent volume attached

[code]
https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/docker-volume-cli.md#attach_as-vsphere-only

Test -2: Test to take snapshot of vm with independent_persistent volume attached

[code]

[2017-03-08 23:42] ashahi1 opened #1013 "[test automation] VM migration tests"
Test - 1: vmotion a vm which is part of _DEFAULT tenant and verify docker CLI/Admin CLI commands for created volume
[code]

Test - 2: vmotion a vm which is part of _DEFAULT tenant and volume was attached while performing vm migration; verify docker CLI/Admin CLI commands for created volume

[code]

[2017-03-09 02:14] msterin commented on #886
This is what we plan to do to address the points in the comment above:
* Devs (or whoever builds of git) will have to use  their own dockerhub accounts. We will try to construct it from DOCKER_HUB_USER env or `whoami`. We will rely on dev having done proper `docker login`, and we will provide help message if the `docker plugin push` fails. W3 will use hardcoded tag (as today)
 * change to plugin/M

[2017-03-09 16:39] #1008 closed

[2017-03-09 16:43] #1002 closed

[2017-03-09 17:01] shuklanirdesh82 commented on #724
This issue depends on the protocol version introducing as part of #318.

As we haven't reach GA yet, following has been planned to achieve till GA.

- [ ] #318 should be done as part of 0.13
- [ ] prepare some testcases during 0.13 -> v1 GA with versioning changes
- [ ] Any future releases should be backward compatible with GA

[2017-03-09 17:10] #976 closed

[2017-03-09 17:35] #30 closed

[2017-03-09 17:42] #615 closed

[2017-03-09 18:38] tusharnt commented on #428
Let's revisit this if our scale/perf tests(tracked by #63) indicate that there is an issue.

[2017-03-09 18:38] #428 closed

[2017-03-09 19:46] #965 closed

[2017-03-09 19:57] shuklanirdesh82 commented on #922
Can you make sure admin_cli information is in sync with the proposed changes?

e.g. https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/admin-cli.md#remove-3

[2017-03-09 23:31] shuklanirdesh82 commented on #957
Identification is done and we have decided to query ```regression-test-needed``` while automating them.

[2017-03-09 23:31] #957 closed

[2017-03-10 01:50] shuklanirdesh82 opened #1017 "Run the test against both of the test VMs we use now"
currently CI is failing while running ```TestVolumeCreationFirstTime``` against photon vm and there is a need to check on ubuntu vm (another vm) find out the root cause.

Since the 2 vms we use are Photon and Ubuntu, this change
will make sure we test vs both distros, not Photon only  (as now)

//CC @govint

[2017-03-10 20:26] ashahi1 commented on #743
Have executed the steps from both VM1 and VM2. Did not see any issues while running any of the steps.

----------------------------------
- Created a volume from VM1:

[code]

- Ran the container with volumes mounted and then wrote some data:

[code]

- Tried mounting same volume from VM2 but failed with message: vmdk already attached to VM

[code]

- Tried removing volume from VM-2:

[code]

- Ad

[2017-03-10 22:29] ashahi1 commented on #1013
Test 1: vmotion a vm which is part of _DEFAULT tenant and verify docker CLI/Admin CLI commands for created volume.

Test Steps:
[code]

Test finished successfully. Did not see any issues during any operation.

-------------------------------
Steps and their corresponding output's are as follows:

- Created a volume from VM-1
[code]
- Migrated the vm to ESX-2 (vMotion)

[code]

- Attached the volum

[2017-03-10 22:29] ashahi1 commented on #1013
Test - 2: vmotion a vm which is part of _DEFAULT tenant and volume was attached while performing vm migration; verify docker CLI/Admin CLI commands for created volume

Test Steps:

[code]

Test finished successfully. Did not see any issues during any operation.

------------------------------------------------------

- Steps and their corresponding output is as follows:

[code]

- Ran the containe

[2017-03-10 22:35] msterin opened #1020 "Build and test managed plugin support in CI"
Fixes #886
Depends on  #1019

Per offline disussion, we plan to do the following  in the CI:

* after vDVS is build, we deploy the VIB, then select a (ubuntu) VM
* copy ./plugin folder and ./build/docker-volume-vsphere file there
* run 'cd ./plugin; make info clean plugin' there. This will build the plugin locally
* to sanity test on the same VM:
 * Enable plugin
 * create a vsphere volume
 * run

[2017-03-11 00:04] ashahi1 commented on #895
Ran Test - 1 and Test - 2 mentioned in original description.

Did not see any issues during any operations.

Following commands were executed while running these tests.

- For creating a tenant and adding vm to it:
[code]

- For updating the access priviliges:
[code]

- For changing total size:

[code]

- For changing the max-size:

[code]

[2017-03-11 00:05] #930 closed

[2017-03-11 00:05] #994 closed

[2017-03-11 00:36] #1017 closed

[2017-03-11 02:05] #421 closed

[2017-03-12 05:50] #964 closed

[2017-03-12 05:50] #998 closed

[2017-03-12 07:03] lipingxue opened #1023 "Install on Ubuntu Docker host with docker version 17.03.0-ce failed"
root@swarm01:~# sudo dpkg -i /tmp/docker-volume-vsphere_0.12.172687e_amd64.deb
sudo: unable to resolve host swarm01
(Reading database ... 124397 files and directories currently installed.)
Preparing to unpack .../docker-volume-vsphere_0.12.172687e_amd64.deb ...
Unpacking docker-volume-vsphere (0.12.172687e) over (0.12.172687e) ...
  File: '/proc/1/exe' -> '/lib/systemd/systemd'
dpkg: dependency pr

[2017-03-13 04:41] govint commented on #881
Photon OS issue - https://github.com/vmware/photon/issues/614

[2017-03-13 16:16] pdhamdhere commented on #1023
With Docker moving to YY/MM versioning scheme, we need to update checks in package builder.

[Makefile](https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/Makefile#L47)

[code]

[code]

[2017-03-13 16:23] ashahi1 commented on #747
Fail over scenarios (mentioned at #957) had been exercised for the VMs created in nested folder/resource pools for shared-VMFS as well as vsan datastore.

Did not find any issues while executing any operations.

------------------------------

Testbed setup:

2 ESX (E1/E2) having shared-vmfs datastore (SD1)
2 VMs  - VM1 (on E1) & VM2 (on E2)
Nested vm folder has been created and placed VM1 in it
R

[2017-03-13 16:44] msterin commented on #747
Thanks for doing it. God to know it all works. Should we close the issue then ?

[2017-03-13 16:48] shuklanirdesh82 commented on #747
@msterin few scenarios needs to be exercised too as described in https://github.com/vmware/docker-volume-vsphere/issues/747#issuecomment-284125817

[2017-03-13 16:49] msterin commented on #1023
One would expect that 17.0 > 1.9 :-)

I suggest just dropping the check. I doubt anyone is using 1.8  and earlier  anyways

[2017-03-13 17:35] lipingxue commented on #1023
OK. I will try the fix you suggested.

[2017-03-13 17:47] shuklanirdesh82 opened #1024 "Regression in admin_cli with choices"
#1014 introduces some regression in admin_cli with ```-c``` option.

re-ordering the column messed up ```ls -c``` output.
[code]

[2017-03-13 18:04] shuklanirdesh82 opened #1026 "Need to fix admin-cli.md user guide for volume part"
some of the command sample output is not in sync after #1014

https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/admin-cli.md#volume

e.g.

[code]

//CC @lipingxue

[2017-03-13 18:09] lipingxue opened #1027 "[Tenancy] rename "tenant" to "vm-group" in VMODL related code."
One comment for this PR #1021 said that we should also rename "tenant" to "vm-group" in VMODL related code, file this issue to track this.

[2017-03-13 18:10] shuklanirdesh82 commented on #1024
dropping ```regression-test-needed``` kw as we do have E2E test which failed as expected.

[2017-03-13 19:11] #1024 closed

[2017-03-13 19:39] ashahi1 commented on #747
I have executed all the scenarios listed in #896. All tests passed.

Closing this issue.

[2017-03-13 19:39] #747 closed

[2017-03-13 20:10] ashahi1 commented on #896
Test 1: - Add VM to the newly created tenant with full access rights and validates volume creation

- Create tenant T1 and add VM1
[code]

- add datastore D1 to T1 with full access rules.

[code]

- Created a volume successfully from VM1 and verified from admin cli volume ls and docker volume ls

[code]

[2017-03-13 20:10] ashahi1 commented on #896
Test -2 and Test -3 : Update and remove privileges for newly created tenants

[code]

[2017-03-13 21:12] lipingxue commented on #734
I think we already have those checks in the current code, close this issue.

[2017-03-13 21:12] #734 closed

[2017-03-13 22:29] shuklanirdesh82 commented on #927
@ashahi1 I'm assigning to you to perform manual validation for both photon and ubuntu distros.

[2017-03-13 22:36] #1013 closed

[2017-03-13 22:39] #896 closed

[2017-03-13 22:39] #743 closed

[2017-03-13 22:55] ashahi1 commented on #900
Setup had three VMs. One each on datastore - local, vmfs and vsan

Test Objective: add datastore rule and make sure default-datastore is not set

[code]

Scenario -1:
[code]

Scenario - 2:

[code]

[2017-03-13 22:55] ashahi1 commented on #900
A. add datastore rule and make sure default-datastore is set to one of the datastore
[code]

Volume creation failed on shared-vmfs datastore as allow create is set to False for it. Volume creation succeeded for local and vsan datastore

[code]

B. add one more datastore rule and set it as default datastore and verifies default-datastore change is in effective

Now made vsan datastore as default da

[2017-03-13 22:57] ashahi1 commented on #900
Executed all the scenarios listed. Did not see any issues in any of the operations, hence closed it.

[2017-03-13 23:14] ashahi1 commented on #898
- Negative test: Tenant creation with Invalid VM name.

Operation to add a non-existent vm to a tenant failed - which is expected as vm does not exists.

[code]

- Negative test: Tenant creation with the same name multiple times.

Was not able to create two tenants with the same name - as expected.
[code]

[2017-03-13 23:16] ashahi1 commented on #898
//CC @pshahzeb  Please reopen this issue if the above test steps and their ouput is not as per expected behavior or we need to do anymore tests.

[2017-03-13 23:23] ashahi1 commented on #1013
//CC @msterin Please reopen this issue if the above test steps and their output is not as per expected behavior or we still need to do any additional tests.

[2017-03-13 23:25] ashahi1 commented on #900
//CC @lipingxue  Please reopen this issue if the above test steps and their output is not as per expected behavior or we need to do anymore tests.

[2017-03-13 23:27] ashahi1 commented on #896
//CC @lipingxue  Please review the testing done and reopen this issue if the above test steps and their output is not as per expected behavior or we need to do anymore tests.

[2017-03-13 23:31] ashahi1 commented on #895
//CC @pshahzeb    Please review the testing done and reopen this issue if the above test steps and their output is not as per expected behavior or we need to do anymore tests.

[2017-03-13 23:53] ashahi1 commented on #846
Performed all the steps mentioned in the original description. Verified from '''docker volume inspect``` and '''admin cli volume ls``` the volume is using the vsan policy.

Closing this issue as verified the vsan policy name from docker cli and admin cli.
------

Test steps and their outputs are as follows:

- Create a vsan policy
[code]

- Create a volume using the policy

[code]

- Verify volume

[2017-03-13 23:53] ashahi1 commented on #846
//CC @shaominchen  Please review the testing done and reopen this issue if the above test steps and their output is not as per expected behavior or we need to do anymore tests.

[2017-03-13 23:53] #846 closed

[2017-03-14 00:02] shuklanirdesh82 commented on #900
@ashahi1 Test is not performed as per the expectation. All steps#2 expect volume should be created (by setting ```--allow-create``` appropriately)

Reopening this issue some of the tests are not executed as mentioned in https://github.com/vmware/docker-volume-vsphere/issues/900#issuecomment-285107924.

[2017-03-14 00:11] ashahi1 commented on #855
//CC @pshahzeb  I created volumes using above mentioned steps and verified volume properties using ```docker volume inspect ``` and ```admin cli volume ls```

Please review the tests done and reopen this issue if we need to do anymore tests.

[2017-03-14 00:48] #922 closed

[2017-03-14 00:48] msterin commented on #961
not  bug. behaviour documented. Closing

[2017-03-14 00:48] #961 closed

[2017-03-14 00:54] #575 closed

[2017-03-14 01:42] ashahi1 commented on #856
1. Having 100 chars - Successful
[code]
2. Having more than 100 chars - Failed
[code]

3. Having various chars including alphanumerics - successful
[code]

4. Ending -NNNNNN (6Ns) - Failed

[code]
5. Ending -5Ns and -7Ns - successful

[code]
6. contains @datastore (valid name) - Successful

[code]

7. Contains @invalid datastore name (#924)  - Failed

[code]

8. Contains multiple '@' - Successful

[2017-03-14 01:58] ashahi1 commented on #856
//CC @pshahzeb Please reopen this issue if the above test steps and their output is not as per expected behavior or we need to do anymore tests.

[2017-03-14 01:58] #856 closed

[2017-03-14 02:53] ashahi1 opened #1031 "Orphaned volume should not be viewable from any docker host (not belongs to any tenant)"
Setup already had multiple volumes.

Steps:
       1 - Did ```docker volume ls``` to list the volumes
       2- Tried removing volume using ```docker volume rm <volume name>``` but failed - Error: No such      volume.

I do see the volume in the dockvols directory on the ESX under shared-Vmfs folder.

----------------------------

Steps and their output are as follows:

- docker volume ls
[code]

[2017-03-14 04:10] shuklanirdesh82 commented on #1031
```MyVolSSTT1  sharedVmfs-0  N/A``` volumes are not part of any tenant so removal of such volumes are not applicable from any docker host which is expected.

I think this is not a bug. @msterin / @lipingxue  can you please confirm?

[2017-03-14 04:46] pshahzeb commented on #855
I think we can use some negative test cases here since all the all the tests above are positive except policy name test

[2017-03-14 04:52] pshahzeb commented on #895
@ashahi1  Given that you have modified tenant properties (allow-create, max size, total size), can you please confirm if the docker volume commands pass or fail appropriately as per the scenario descriptions?

[2017-03-14 05:12] pshahzeb commented on #898
Could you please accommodate following scenarios as well:
tenant vm add
1. Add VM to one named tenant
2. Add same VM to another named tenant. This should fail
3. Add VM to a tenant. Adding it again. This should fail
4. Add a VM to a tenant which exists on a host but is turned off.

tenant create
1. Using same VM name multiple times in the VM list while creating tenant

tenant vm rm
1. Remove VM ad

[2017-03-14 05:12] pshahzeb commented on #856
LGTM

[2017-03-14 06:02] msterin commented on #1031
if it's orphaned then docker from VMs should not see them either. If it does,. its a a bug in auth

[2017-03-14 06:13] shuklanirdesh82 commented on #1031
I see. It should be a regression in the behavior with recent changes.

[2017-03-14 08:15] pshahzeb commented on #1031
Same as #990

[2017-03-14 08:37] msterin commented on #990
@pshahzeb can you decipher the title and be clear on what's wrong compared to what was expected ? Currently it requires reading the lots of text just to figure it out.

it looks to me you are saying two different things:
1. `After removing _DEFAULT tenant, volumes dissapear form 'vmdkops_admin ls' command. `, This is a clear bug, admin command should show all volumes. If the volumes do not belong

[2017-03-14 08:38] msterin commented on #1031
Not fully. it seems as #1 (out of 2) bugs described in #990. You may want to split them as suggested in #990

[2017-03-14 17:13] tusharnt commented on #1031
Dup of #990

[2017-03-14 17:13] #1031 closed

[2017-03-14 17:14] tusharnt commented on #982
Fixed by #1021

[2017-03-14 17:14] #982 closed

[2017-03-14 17:16] #886 closed

[2017-03-14 17:26] msterin opened #1032 "Implement multi-node ESX support in tenancy/auth code"
Implement per the following assumption/desired behavior

Assumption:  Cross-ESX multi-tenancy works on shared datastores only
Approach: Centralized backend DB on shared storage, with symlinks from local (/etc/vmware)

Behavior changes:

Milestone 1
 * Admin needs to run "config init" on each ESX: vmdkops_admin config init --datastore=<DS_NAME>
 * DS_NAME must be a shared datastore to support cross

[2017-03-14 17:35] msterin opened #1033 "Managed plugin does not work on PhotonOS (mount fails with "wrong args")"
It give "mount error: wrong arguments" , it feels that the block device (/dev/py-path...) does not exist yet when the mount is tried. Also, I saw timeout  error message from inotify wait.

For 1.13, we need to document it and open a bug against PhotonOS I guess since it works fine on Ubuntu

//CC @tusharnt

[2017-03-14 17:54] govint commented on #1033
Is this on Nimbus or on physical host. the notify uses a 1 second timeout
and this timeout happens most of the time on Ubuntu as well.

On Tue, Mar 14, 2017 at 11:05 PM, Mark Sterin <notifications@github.com>
wrote:

[2017-03-14 19:07] govint commented on #962
Ok, got a repro with an Ubuntu VM just now. I'll root cause this one.

[2017-03-14 20:20] msterin commented on #1033
Nope - fusion with ESX on mac

[2017-03-14 21:15] #1023 closed

[2017-03-14 23:18] lipingxue opened #1035 "AdminCLI set command need to take "--vm-group" arg instead of "--tenant""
This is caused #1014 and #1021.
#1014 added a new arg "--tenant" in AdminCLI set command.
#1021 Try to rename all "tenant" with "vm-group".
Those two PRs are working in parallel and forget to change the arg "--tenant" to "--vm-group" after the renaming PR is in.

[2017-03-14 23:38] ashahi1 commented on #898
- Tenant vm add

1. Add VM to one named tenant
[code]

2. Add same VM to another named tenant.

[code]
3. Add same vm to a tenant and again add the same vm to the same tenant.

[code]

4. Add a VM to a tenant which exists on a host but is turned off

[code]

- Tenant create

1. Using same VM name multiple times in the VM list while creating tenant

[code]
- Tenant vm rm

1. Remove VM added to a te

[2017-03-14 23:43] pshahzeb commented on #898
LGTM

[2017-03-14 23:43] #898 closed

[2017-03-15 02:29] ashahi1 opened #1036 "Volume creation for default tenant does not comply with the tenant's Total_size limit"
VM is part of a default tenant. There are no volumes on the datastore.

Steps:
1. Set the Max_volume_size and Total_size for the default tenant to 200.00MB and 1000.00MB respectively.
2. Created two volumes of 100 MB each
3. Tried creating third volume of 100MB. Volume creation failed with error - The total volume size exceeds the usage quota

Logs have been attached at the end.

-----------------

[2017-03-15 04:09] shuklanirdesh82 commented on #1036
@ashahi1 do we have an issue with such test steps? If so please link it here otherwise document such test steps in one of the ```tenancy``` related issue where tests are planned.

[2017-03-15 12:56] govint commented on #881
The issue of the concurrent tests failing seems isolated to Photon OS and seems to be reproduced with a specific version of Photon OS with 6.0 ESX.

Photon OS 4.4.41-1 with ESX 6.0P04 and ESX 6.5 doesn't repro the issue.

[2017-03-15 12:56] #881 closed

[2017-03-15 19:17] msterin opened #1038 "need basic telemetry"
We need to get a better feel for usage patterns (install demographics and geography).
bintray seems to be getting good info on downloads geography.
Separately, we want to know actuall installation count, size and types of datastores, etc...
the easiesrt way is to get info on VIB instllation and use VMware internal PhoneHome for customers who opt in. For that, we'd need a Property Collector to get

[2017-03-15 20:48] ashahi1 commented on #900
For _DEFAULT tenant - verify default datastore behavior
---

----------------

- Verified only _DEFAULT tenant is present with default access rules
[code]

- Add datastore rule and make sure default-datastore is set to one of the datastore

sharedVmfs-0 is now default datastore.

[code]

Scenario 1:
1. create volume with short name (without @) from VM1
2. verify volume is created on the datastore

[2017-03-15 22:16] ashahi1 commented on #855
- Invalid disk-format (zeroedthickk)

[code]

- Multiple disk-formats in a single command (diskformat=zeroedthick,thin)

[code]

- Negative scenarios for size (100mbb,100gbEE)

[code]

- Invalid value for attach-as (persistent_independent)

[code]

- Invalid value for fstype (xfs_ext)

[code]

- Invalid value for access (read-write-both, write-only)

[code]

- Invalid value for clone-from (passed

[2017-03-15 23:17] #1026 closed

[2017-03-15 23:17] #1035 closed

[2017-03-15 23:58] ashahi1 commented on #895
- Set Max_volume_size and Total_size to 25 GB and 100 GB respectively:

[code]

- Tried creating volumes of size == Max_volume_size - Successful

[code]

- Tried creating volume of size > Max_volume_size - Failed

[code]

- Tried creating a volume with size>Total_size

[code]

- Verify allow-create

Changed allow-create from True to False.

[code]

Tried creating volume - failed.

[code]

[2017-03-16 00:03] ashahi1 commented on #1036
Not able to repro the issue with the fresh setup. Originally ran into this issue because I had deleted a volume of size 700 mb manually from the dockvols folder and authdb did not get updated due to manual deletion of volume.

Not seeing this problem anymore hence closing this issue.

[2017-03-16 00:03] #1036 closed

[2017-03-16 00:09] pshahzeb commented on #895
LGTM

[2017-03-16 00:09] #895 closed

[2017-03-16 00:13] shaominchen commented on #1038
PropertyCollector can be used by the clients to retrieve a set of properties from one or more **managed objects**. Clients can also use the PropertyCollector to determine when any of the properties have changed. So the problem becomes: is VIB information available in any managed objects? If the answer is YES, then presumably we should be able to get a list of installed VIBs using PropertyCollector

[2017-03-16 10:12] lachnerd opened #1039 "deb Installation doesn't survive VM restart"
Hi,

i'm using "docker-volume-vsphere" on some VMs running  Ubuntu 16.04.2 LTS.

I installed them as follows:
`sudo dpkg -i docker-volume-vsphere_0.12.3f64805_amd64.deb`

Everythings working fine i see my vsphere Volumes and i'm able to use them etc.

But if i restart the VM vpshere support for docker is gone.

`docker volume ls` doesn't show me any vsphere volumes, i have to install the deb again

[2017-03-16 10:32] govint commented on #1039
@lachnerd can you please post the file /var/log/docker-volume-vsphere.log from the VM thats showing this behavior. Post a restart the docker-volume-vsphere service should be available and can be checked either via "ps -ef|grep docker" or preferrably "service --status-all" and check the status of Docker and docker-volume-vsphere services.

[2017-03-16 10:44] lachnerd commented on #1039
Hi,

thanks for answering heres the Log File:
[docker-volume-vsphere.zip](https://github.com/vmware/docker-volume-vsphere/files/847424/docker-volume-vsphere.zip)

`service --status-all` shows me only a docker service but no "docker-volume-vsphere" service
![image](https://cloud.githubusercontent.com/assets/25339466/23992468/5aa9cc0e-0a3d-11e7-958d-262f98597720.png)

But docker-volume-vsphere is wo

[2017-03-16 11:57] govint commented on #1039
@lachnerd, thanks for the plugin logs, from these the service seem to have been restarted three times with a long gap (possibly the plugin was reinstalled) between the stop and start of the plugin for the first two times.

Possibly the volume commands are getting issued ahead of the plugin getting ready to receive requests. If the issue repros then suggest checking /var/log/docker-volume-vsphere.l

[2017-03-16 18:32] msterin commented on #1039
@lachnerd - reading through the message you seem to be doing the following step (_please confirm so we can try to reproduce and investigate_) :

1. install docker (**BTW - which version ?**)
2. Install docker-volume-plugin Release 0.12 with `dpkg -i` command (no `apt-get install -f` was run)
3. checked that the plugin works (docker volume ls ,docker volume create work)
4. rebooted  Ubuntu 16.04.2

[2017-03-16 23:54] pshahzeb commented on #855
LGTM

[2017-03-16 23:54] #855 closed

[2017-03-17 01:32] ashahi1 commented on #927
Testing the fail-over scenario for docker swarm.

------------------------------------------

1. Created a swarm of three nodes - one master and two worker nodes. All three VMs are on the same host and shared-vmfs datastore

[code]

2. Created a volume from master - redis-data

[code]

3. Created the redis service from the master with volume mounted

[code]

4. Verified service started on worker-2

[2017-03-17 01:42] ashahi1 commented on #927
@lipingxue

Liping, I have tested the fail-over scenario for docker swarm. I wrote data from one of the workers(worker-2), killed that worker and then I was able to read data from first worker (worker-1).

Please take a look at the posted output and re-open the issue if we need to do anymore testing.

[2017-03-17 01:42] #927 closed

[2017-03-17 03:18] ashahi1 commented on #1010
Test -1 : Test to delete the policy which is applied to a volume
---

- Created a vsan policy

[code]

- Create a volume using vsan policy

[code]

- Verify volume from docker cli and admin cli

[code]
- Tried removing the volume - Failed

[code]

Test - 2: Test to update a vsan policy which doesn't exist
---

As expected, wasn't able to update policy which did not existed and the error message wa

[2017-03-17 05:14] govint opened #1042 "Add a log collection script for the vDVS plugin"
Similar to how users collect a vm-support add a script that users can run and which collects at least the below logs from a docker host running the plugin.

Plugin, docker, system logs, /proc/mounts, plugin configuration, ps -ef output, docker -a, docker volume ls, admin cli ls, admin cli vm-group, ESX service logs, each in a file of its own, tar-gzipped.

comments from https://github.com/vmware/d

[2017-03-17 10:33] lachnerd commented on #1039
Hi,

1. OS: Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-62-generic x86_64) - Docker: Docker version 17.03.0-ce, build 3a232c8 - previously installed 1.13.1
2. yes - `sudo dpkg -i docker-volume-vsphere_0.12.3f64805_amd64.deb`
3. correct
4. correct
5. correct - and  i noticed a delay from about maybe 20 s
6. correct
7. yes no volume plugin service only docker
8. yap

`systemctl status docker-volume-vsphere`

[2017-03-17 16:55] lipingxue opened #1043 "[Tenancy] 'vmdkops_admin ls' enhancement"
**[ ] How to handle volumes owned by an orphan tenant**

For admin `ls` command; add a new column in the output to indicate volume  folder location. This will improve the transparency to admin and also will be helpful to deal with orphan volumes.

Later, we can add additional `move` command on admin cli to move a volume from one tenant to another.

**[ ] How to handle 'ls' output being too wide**

[2017-03-17 17:31] msterin commented on #1039
@lachnerd - thanks for the info. The last issue you are hitting is a bug in plugin .deb config which does not handle new Docker versioning scheme well. It is fixed in the master so if you build the .deb you'd get it fixed. Our current plan is to have 0.13 release around end of March and this will be fixed there too.

Unfortunately the original issue seems be be a regression introduced by Docker in

[2017-03-17 18:59] ashahi1 opened #1044 "[DEFAULT tenant] Volume is created on the datastore where vm resides and not on specified default-datastore"
VM resides on vsan datastore.

Steps:
1. For default tenant, set sharedVmfs as default datatsore.
2. Created a volume by specifying volume name as short-name - TestVol1
3. Volume gets created on the datastore where vm resides and not on the default-datastore (shared-vmfs).

For user created tenant, specified --default-datastore is picked up during volume creation if volume name is specified using

[2017-03-17 18:59] ashahi1 commented on #1044
//CC
@pshahzeb @lipingxue

[2017-03-17 19:03] pshahzeb opened #1045 "[Tenancy] Volume attach/detach should handle inflight membership change of VM to tenant"
Change of membership(which tenant a VM belongs to) after a volume as been attached but before detach makes the volume detach logic fail. The reason being tenant not found (if tenant is deleted and even default tenant doesn't exist) or vmdk not found if tenant is changed(vmdk is now searched in new tenant uuid directory).

The fix is to only match datastore path and vmdk name and ignore tenant name

[2017-03-17 19:12] pshahzeb commented on #990
@msterin  Yes. The two things are apt as pointed.
This issue focuses on the second point.
The first part is being handled as part of https://github.com/vmware/docker-volume-vsphere/issues/1043

[2017-03-17 19:20] pshahzeb commented on #1044
The purpose of _DEFAULT tenant being backward compatibility and allowing admin to use volumes without getting  involved in tenancy; we don't expect user to set a default datastore to the default tenant. If VM belongs to default tenant, the current logic will always pick up the datastore where VM resides unless the user specifies fully qualified name of volume while creating a volume.

We should do

[2017-03-17 19:31] msterin commented on #1044
there is no reason to further complicate the experience. "default datastore" can be set on any vm-group aka tenant (including default) an shoul dbehave the same.

Plus, there is a good use case for default DS in default tenant :  _I want every one in my org to put volumes on slow and cheap storage, unless they explicitly ask for something else_

And that's exactly the bug @ashahi1  has found

[2017-03-20 18:23] msterin opened #1050 "Bring plugin volume discovery back"
Discovery was turned off in #1047 - see details there.

We need to bring it back for crash recovery scenario of managed plugin.

[ ] update to latest Docker client SDK - @pshahzeb
[ ] use client API with timeouts, if we do not get reply within it (say 2 secs) , consider we are in start up mode and skip volume discovery - @pshahzeb
[ ] fix an issue with using DriverName to match volumes. Driver nam

[2017-03-20 18:29] msterin opened #1051 "Complete the move to managed plugins - drop support for unmanaged ones"
In #1006 we added managed plugins support
To complete this, we already have #1033 (photoOS support) and #1020 (CI / full build) issues.

We also need to

- [ ] drop build and use of .rpm/.deb. We can still have the targets in Makefile in case we need it for troubleshooting or comparison, but they should not be a part of regular build.
- [ ] change all tests to use the managed plugins (since in #10

[2017-03-20 23:47] ashahi1 opened #1053 "[Cross ESX] 'Attached to vm' field is not populated even though volume is attached to a container."
Test Steps:
1. Installed the managed plugin on VM-1 and VM-2
2. Created two volumes - one from each vm
3. Ran the container from vm-1 by mounting the volume created from vm-2.
4. Did ```docker volume inspect``` from vm-1
5. Did ```docker volume inspect``` from vm-2. "Attached-to-vm" field is not present.

```Admin cli volume ls``` from both the ESXs does show the "Attached-to" field correctly.

--

[2017-03-20 23:52] ashahi1 commented on #1053
Logs:
[docker-volume-vsphere-vm1.txt](https://github.com/vmware/docker-volume-vsphere/files/856716/docker-volume-vsphere-vm1.txt)
[docker-volume-vsphere-vm2.txt](https://github.com/vmware/docker-volume-vsphere/files/856717/docker-volume-vsphere-vm2.txt)
[vmdk_ops_esx1.txt](https://github.com/vmware/docker-volume-vsphere/files/856718/vmdk_ops_esx1.txt)
[vmdk_ops_esx2.txt](https://github.com/vmware/

[2017-03-21 00:32] msterin opened #1054 "vmdkops_admin.py volume ls is super slow on large count of volumes"
I run admin command `volume ls` and it tooks almost 50 sec for ls on 40+ volumes.
Note: I had 'make test-esx' running in another terminal at the same time and it was at `Running unit tests in /tmp/vmdk_ops_unittest20796/vmdk_ops_test.py...`

//CC @tusharnt @shuklanirdesh82

[2017-03-21 00:46] msterin commented on #1054
Never mind, it looks like something is not well at my one node VSAN.

[2017-03-21 00:46] #1054 closed

[2017-03-21 02:18] shuklanirdesh82 opened #1056 "multiple instances of vsphere plugin should not be allowed"
with non-mananged plugin (rpm/deb), we are making sure of having only one instance of vmdk/vsphere driver whereas it is possible to have multiple instance of vsphere driver through managed plugin.

[code]

could be resulted to duplicates as shown below
[code]

/cc @msterin @pdhamdhere

[2017-03-21 05:18] shuklanirdesh82 opened #1057 "CI is taking more time than usual while running tests on vsan datastore"
I've noticed so many timeouts today so I went ahead and grabbed some data that elevates some concern.

Following are the data grabbed from https://ci.vmware.run/vmware/docker-volume-vsphere/1686 ... It is highly possible that some bad code should have gone in past couple months.

Some observations:
1. Tests are taking more time for ```vms on vsan``` vs ```vms on vmfs```
2. One of the test ```TestC

[2017-03-21 05:40] govint commented on #1057
Refcnt test is taking min 2+ and max a little over 3 minutes and its run like 3 - 4 times in this test (why??). And each time its for waiting for the plugin to restart (after the volumes are created and attached to 5 containers). Seems like a plugin start up issue (managed plugin?).

Refcnt test is flaky that it looks for logs to figure correct reporting of refcnt for a volume.

Lets change the pl

[2017-03-21 05:51] msterin commented on #1057
Does.the degradation apply to esx unit tests ?

[2017-03-21 06:10] shuklanirdesh82 commented on #1057
It seems to me. Currently test-esx is running twice one against 6.5 ESX and another against 6.0 ESX and the difference is 3+ minutes (test running against 6.0ESX taking more time).

[2017-03-21 06:15] shuklanirdesh82 commented on #1057
vm-test (go test) runs 4 times: 2 times from vms on VMFS backed by 6.0/6.5 ESX and other 2 times for vms exist on VSAN datastore backed by 6.0/6.5 ESX

@govint Please let me know if I have missed any question from your comment. If I understand correctly you are proposing to change the plugin to report refcount inline with volume status.

[2017-03-21 17:16] tusharnt commented on #1010
@pshahzeb to verify the outcome.

[2017-03-21 17:16] #1010 closed

[2017-03-21 18:35] #1039 closed

[2017-03-21 19:57] ashahi1 commented on #1033
Got the ova from: https://vmware.github.io/photon/

Tried with both Photon OS, Version 1.0 — OVA with virtual hardware v10 as well as virtual hardware v11 but did not see any issue in mounting the volume to container. Everything worked fine.

Test Steps:
1. Downloaded the docker-volume-vsphere managed plugin
2. Create a volume using the managed plugin
3. Ran a container with volume mounted
4. Exit

[2017-03-21 19:59] ashahi1 commented on #1033
@msterin Please take a look at the steps and their output posted above. Please update if I am missing some steps or this issue can be closed.

Thanks!

[2017-03-21 21:03] lipingxue opened #1059 "Automate the version control test with managed plugin"
There are three cases need to be tested:
1. client version is older than the server version, ```docker volume create``` should fail with error message that "client version need to be upgraded".
2. client version is newer than server version, ```docker volume create``` should fail with error message that "server version need to be upgraded:.
3. client version is the same as server version, ```docke

[2017-03-21 21:36] msterin commented on #1056
i am wondering how does it behave with other plugins ?

[2017-03-21 21:46] msterin commented on #1033
Looks great. I guess this was another instance of #962 (fixed in #1058). Feel free to close.

[2017-03-21 21:49] msterin commented on #962
#1058 resolves this. We should not see the `Exceeded timeout while waiting for device attach to complete` nor filesystem create failure on pvscsi attach anymore.

Closing

[2017-03-21 21:49] #962 closed

[2017-03-21 21:56] ashahi1 commented on #1033
@msterin  Thanks! Closing this issue.

[2017-03-21 21:56] #1033 closed

[2017-03-21 23:36] pshahzeb commented on #1053
The reason attached to VM field is not populated is because the VM uuid is stored in volume metadata while a volume is mounted to a VM. If the docker volume inspect is done from a VM that resides on a different ESX as compared to the ESX on which the VM which mounted the volume resides on; we can't find the name of VM using uuid( because the later ESX isn't aware about the VM on other ESX).
A solu

[2017-03-22 01:43] pdhamdhere commented on #1053
I agree with proposed approach to store VM name in KV. In fact I recommend same for admin ls command to store vm name in addition to UUID in database. Optionally you can postfix VM Name with * indicating VM using volume is running on another host. VM getting renamed and inspect or admin ls returning is really really corner case. Also later with Hostd Notification, this problem will be solved anywa

[2017-03-22 05:05] msterin commented on #1053
Agreed.

[2017-03-22 11:35] govint commented on #1057
@shuklanirdesh82  the CI run doesn't have the plugin logs, where can we get those.

[2017-03-22 15:21] pdhamdhere opened #1062 "Plugin panic during format-remove"
https://ci.vmware.run/vmware/docker-volume-vsphere/1759

[code]

CC / @govint

[2017-03-22 16:08] pdhamdhere commented on #1062
We should upgrade go to 1.7 and see if it is reproducible.

[2017-03-22 16:19] govint commented on #1062
vmdkCmd.Mtx.Lock()
        defer vmdkCmd.Mtx.Unlock()

        jsonStr, err := json.Marshal(&requestToVmci{
                Ops:     cmd,
                Details: VolumeInfo{Name: name, Options: opts}})
        if err != nil {
                return nil, fmt.Errorf("Failed to marshal json: %v", err)
        }

Line:85:        cmdS := C.CString(string(jsonStr)) <-----------   caused panic
        d

[2017-03-22 16:35] govint commented on #1062
The volume (concurrent test on the same host) was created and on the remove hit the panic and plugin restarted. The voilume remove was retried and now its stuck (similar problem that was solved in the earlier issue where the volume was left attached on panic during volume create).

Plugin logs:

Volume is created
2017-03-22 06:33:00.598077923 +0000 UTC [INFO] Attaching volume and creating filesyst

[2017-03-22 16:38] govint commented on #1057
Ran locally with Photon VMs on VMFS,
Running tests on  tcp://10.110.48.48:2375 (may take a while)...
--- PASS: TestSanity (4.96s)
        sanity_test.go:199: Successfully connected to tcp://10.110.48.48:2375
        sanity_test.go:199: Successfully connected to tcp://10.110.48.47:2375
        sanity_test.go:216: Creating vol=DefaultTestVol on client tcp://10.110.48.48:2375.
        sanity_test.go:

[2017-03-22 16:42] govint commented on #1062
Just guessing, we may be hitting a leak (from documentation, C.malloc() if ever it fails to allocate memory will crash the program - see https://golang.org/cmd/cgo/)

[2017-03-22 21:26] tusharnt commented on #1051
The following action item will be aimed at 0.13.

- [ ] update documentation to refer to Docker managed plugin in, and give an example of vDVS install, plus debug option

[2017-03-22 21:29] tusharnt commented on #820
Manual execution of this test found #998.

Test automation is TBD.

[2017-03-22 21:29] #820 closed

[2017-03-22 21:32] tusharnt commented on #724
#318 and #1059 track the work mentioned in this issue.

[2017-03-22 21:32] #724 closed

[2017-03-22 23:57] ashahi1 commented on #900
Issue #1044 was discovered while running these tests for _DEFAULT tenant

[2017-03-23 05:08] pdhamdhere commented on #1062
Looks like this issue got exposed with #1058. Before #1058, there was implicit delay of 1+sec and Concurrency test wasn't fully concurrent!

I propose we disable part of concurrency test
https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/sanity_test.go#L305
L305 - L326 to unblock other PRs.
a. Issue is 100% reproducible and investigation can happen on local setup.
b. It's unli

[2017-03-23 05:38] #1020 closed

[2017-03-23 05:46] shuklanirdesh82 commented on #1062
Yeah agree! I would rather request to comment out the whole test as it causes more delay (for PRs to merge) than expected mention #1057

[2017-03-23 05:47] shuklanirdesh82 commented on #1059
#1020 managed plugin support has been added to CI (sanity check)

[2017-03-23 05:51] shuklanirdesh82 commented on #900
few action items before closing this issue.

- [ ] remove irrelevant updates/comments from this issue (better to have only one update with executed steps instead of keeping history that makes harder to read)
- [ ] correct the steps as discussed offline ( expectation vs current result)

/CC @tusharnt

[2017-03-23 06:42] govint commented on #1062
But how is this related to the wait for device attach? The issue should then happen with a larger load of create volume requests to the managed plugin?

[2017-03-23 12:22] lachnerd opened #1067 "tiny bug in documentation"
Hi there,

i have found a little bug in your docs:
![image](https://cloud.githubusercontent.com/assets/25339466/24247348/a26767fc-0fcb-11e7-8381-efb92c54c56b.png)

I think "attach_as" is wrong should be "attach-as".

[2017-03-23 13:01] lachnerd opened #1068 "can't get it working"
Hi,

i don't know if this has something todo with #1023 or #1039 but i built my deb-file for vsphere-volume -driver from trunk and installed it but i can't get it working.
Everytime i want to use vspehre Volume nothing happens.
For Example:
`docker volume create --driver=vsphere --name=MyVolume@san-datastore6 -o size=1gb -o attach-as=persistent -o access=read-write`
If i then want to start a conta

[2017-03-23 14:13] pdhamdhere commented on #1068
@lachnerd Can you please share following logs;

From VM: /var/log/docker-volume-vsphere.log
From ESX: /var/log/vmware/vmdk_ops.log

Is your VM running on "san-datastore6"?
Can you please drop "@san-datastore6" in volume create command and try again? OR change your run command to use fully volume name;
`docker run -ti --name MyVolume@san-datastore6 -v MyVolume:/var/log/nginx -p 80 nginx`

[2017-03-23 14:15] pdhamdhere commented on #1067
Good catch! It's already fixed by #1041 on master and documentation will be updated in next release. Thanks for reporting!

[2017-03-23 14:15] #1067 closed

[2017-03-23 14:18] pdhamdhere commented on #1062
#1066 disabled tests but we still need to root cause panic caused with concurrency test.

[2017-03-23 17:08] shaominchen opened #1070 "Refactor vmdk_ops.executeRequest()"
vmdk_ops.executeRequest() became too messy. It was a small function with a switch for 5 simple commands, now it's quite complex. Would be nice to clean up. Also we should introduce an enum for all the commands instead of using hard-coded strings.

[2017-03-23 19:42] ashahi1 commented on #63
Test Steps:

[code]

Setup:
[code]

All volumes were created on sharedVmfs-0 datastore (datastore on which vm resides).

I tried to deploy 500 VMs to start with these performance tests but couldn't get a setup with 500 VMs as
all the shared Vmfs datastores became inaccessible during deployment of 500 VMs. So couldn't run performance tests with 500 VMs. Will keep trying if we can increase the scale

[2017-03-23 19:56] ashahi1 opened #1072 "'Admin cli volume ls' command fails if it is executed while volume removal is in progress."
Test Steps:

1. Created 500 volumes of 100 mb each sequentially.
2. After all volumes were created, did docker volume ls.
3. Then did admin cli volume ls.
4. Next removed all the volumes using command ```docker volume rm $(docker volume ls)```.
While the volumes are being removed, did ```admin cli volume ls``` - command output shows stack trace as well as volumes.

Snippet from command output is a

[2017-03-23 23:40] pdhamdhere commented on #1056
Plugin Sockets are per container and Docker doesn't offer any way to stop starting multiple instances. So, we depend on user to make sure only one version/instance of plugin is running at any point in time.

[2017-03-23 23:40] #1056 closed

[2017-03-23 23:43] pdhamdhere commented on #984
Starting 0.13 we recommend managed docker volume plugin.

[2017-03-23 23:43] #984 closed

[2017-03-23 23:43] msterin opened #1073 "'vmdk-opsd stop' needs to drain operations in flight"
Currently `vmdk-opsd stop` just stops (exits) the vmdk_ops.py service. If there were operations in fligth it could kill them in the middle of execution. That can potentially create inconsistencies in VM attachement, KV files or auth-db.

To prevent this, we need to drain the ops in flight before stopping.
Something along this line
[ ]  On 'stop' requests, add a barrier so executeRequest does fails

[2017-03-23 23:49] msterin opened #1074 "vmdk_ops.py needs needs to handle BrokenLink DB mode"
Depends on #1065

When #1065 merges, vmdk_ops.py will not react reasonably for BrokenLink DB mode (i.e. when a link is pointing nowhere or the DB is corrupted). It would start failing in the middle of multiple ops , when DB access is denied.

To make it consistent, here is a suggestion:
* When any DB connect return BrokenLink, make sure it's bubbled up to auth.authenticate (as an exception), catch

[2017-03-24 01:27] msterin opened #1075 "[code style] use __all__ for exported function names"
Per Python code style it's recommended to have
__all__ = [list of function names]
to indicated externally visible functions in all out modules

This should go in a big bucket of "code cleanup and refactoring"

[2017-03-24 02:06] pdhamdhere opened #1076 "Make ESX OPs resilient to retries"
With #1049, Plugin retries operation in case of VMCI errors. However, operation on ESX may have been successful on first attempt. We need to gracefully handle "retry" requests on ESX. For e.g.

For Remove requests, 2nd attempt to removeVMDK fails with "File not found" sicne it is already deleted on first attempt. We should simply return success.

Similarly, we should check CREATE: return success i

[2017-03-24 02:17] pdhamdhere commented on #1076
Hmm Should ESX service be resilient or should Plugin retries be more intelligent?
For e.g. Plugin before retrying CREATE/REMOVE,  can call GET and see if volume is already created/deleted.

[2017-03-24 02:53] shuklanirdesh82 opened #1077 "collect whole ESX logs"
https://github.com/vmware/docker-volume-vsphere/blob/master/misc/drone-scripts/dump_log.sh#L19

Currently our dump_log script is not collecting full vmdk_ops log if exceed the size and spawned to multiple files.

/cc @govint @pdhamdhere

[2017-03-24 03:03] shuklanirdesh82 opened #1078 "Increase default timeout parameter while running E2E tests"
e2e-dkrVolDriver-test is taking more time and exceeds go test framework due to CI VMs slowness .. our objective is not to fail test due to test framework limitation.

#1057 is raised to root caused the test run slowness and this issue is to increase time out value.

It is highly possible the failure is ignored and hard to catch when the regression is introduced.

https://ci.vmware.run/vmware/docke

[2017-03-24 04:37] govint commented on #1056
We can still have the plugin create a lock file - say vsphere.lock on a common location say /var (exposed to the container) and prevent multiple instances of the plugin. Are there any resources claimed by the plugin container on the guest OS that will mandate having a single instance?

[2017-03-24 04:48] govint commented on #1076
I'd seen and considered this behavior for the ESX service when dealing with the VMCI issue and it seemed like a good thing to do. But it may mask issues by allowing retries to succeed. For example, two users both creating a volume with the same name and different properties on the same DS and both getting success. Prefer that the VMCI code handle error scnearios, doing a Get() before Remove() is o

[2017-03-24 04:59] govint opened #1079 "Convert ESX service to a REST API based service"
The plugin and ESX service today talk to each other via VMCI which, while it serves the purpose of talking to the ESX service on a local node, is more a traditional sockets based approach with inherent issues. We've seen issues with doing retires, Linux kernel level driver issues, GO and C language issues that continue to plague the plugin. This alone would make this a priority to handle for the n

[2017-03-24 05:07] msterin commented on #1056
Nothing we know of.

The issue is closed. Unless there is a customer problem to solve, lets' leave it at that.

[2017-03-24 05:12] pdhamdhere commented on #1056
@govint Lock file in /etc is sound idea. However, installing multiple instances of plugin is really user error. We can revisit in future if needed.

[2017-03-24 05:12] govint commented on #1079
The admin CLI too can become a guest OS side entity - allowing users full mgmt capability of the service. Similar to what other plugin vendors offer.

[2017-03-24 05:29] pdhamdhere commented on #1076
@govint I don't have strong opinion on this yet. Wouldn't it be nice & make client simpler & predictable if Server provides idempotency guarantee? For e.g. PUT & DELETE (with exception) are idempotent.

From code structure perspective, "retry" logic is deep inside socket/vmci code and adding OPs logic their would really mess modularity of code.

Re Create Volume e.g. Docker doesn't allow this and

[2017-03-24 05:42] pdhamdhere commented on #1079
Moving to REST doesn't really make client-server communication fault tolerant. Both, vSocket or REST API, are wrapper over N/W and have to deal with communication errors.
Additionally REST would require client to talk to Server over TCP and has to deal with access & security issues which is no less painful than VMCI errors.
I didn't understand how REST APIs make cross-esx communication easier unle

[2017-03-24 05:44] pdhamdhere commented on #1079
I noticed you have tagged for v1 GA milestone. Do you really think this is a GA blocker? This doesn't impact user experience or stability of product by any means. I would tag it for Future as of now and we can pull it in after going over proposal.

[2017-03-24 06:11] govint commented on #1079
Agree this isn't a GA issue. I'll make a proposal later.

[2017-03-24 06:21] govint commented on #1076
Agree, any checks will have to be added above VMCI layer. But a call like a creating volume with same name done from two docker hosts should ensure one gets the error.

[2017-03-24 06:45] govint opened #1080 "Close the watcher instance in the plugin after event is received."
When running a stress test (500 volumes created concurrently between two docker hosts and within a single one) the plugin logs show below error in creating the watcher instance.

2017-03-24 06:40:04.419947253 +0000 UTC [INFO] Attaching volume and creating filesystem name=volTestP1349 fstype=ext4
2017-03-24 06:40:04.420212472 +0000 UTC [ERROR] Failed to create watcher. Skipping inotify Name=volTest

[2017-03-24 06:58] pdhamdhere commented on #1076
This won't happen since Docker doesn't distinguish volumes based on properties other than name. Docker before "create" issues "get" and will return success since volume with same name already exists.

[2017-03-24 07:58] govint commented on #1076
Sorry, thats correct.

[2017-03-24 08:01] shuklanirdesh82 commented on #1076
one more failure instance: https://ci.vmware.run/vmware/docker-volume-vsphere/1803

[2017-03-24 10:37] govint commented on #1076
Can the below sequence be an issue:
1. Docker on two docker hosts create a volume of the same name (but say different options) and volume doesn't exist.
2. Both hosts issue a Get() to the service and get back an error that the volume isn't there.
3. Both hosts now issue the create, one actually creates the vmdk while both hosts get back an OK status

[2017-03-24 13:12] lachnerd commented on #1068
Hi pdhamdhere thx for answering,

i added the logs
[vmdk_ops.zip](https://github.com/vmware/docker-volume-vsphere/files/867918/vmdk_ops.zip)
[docker-volume-vsphere.zip](https://github.com/vmware/docker-volume-vsphere/files/867919/docker-volume-vsphere.zip)

And i also tried creating volumes without "@san-datastore6" - i even tried to name the datastore at volume mount (i think you meant something

[2017-03-24 16:14] pdhamdhere commented on #1068
Sorry @lachnerd that you are having trouble with relatively simple test. I looked in logs and dont see any errors. Looks like Docker is starting and immediately exiting container.  Will need to look into docker logs (`journalctl -u docker.service >docker-logs.txt`).

Can I ask you to run following quick test;

[code]

I tried same command as yours except with "-ti" (interactive) replaced with "-d"

[2017-03-24 16:19] #1053 closed

[2017-03-24 16:24] #318 closed

[2017-03-24 16:34] pdhamdhere commented on #1078
I am against increasing timeout. Current 10m timeout for TestVolumeProperties is already large enough. We should fix testbed issues.

[2017-03-24 18:45] ashahi1 commented on #63
I executed six more runs of the following test and timed the different operations.
```Admin cli volume ls``` seems slow so will file an issue for it.

Test Steps:
[code]

Details of each run is as follows:

Run-1:
[code]

Run-2:
[code]

Run-3:
[code]

Run-4:
[code]

Run-5:
[code]

Run-6:
[code]

Test logs:
[Run1.txt](https://github.com/vmware/docker-volume-vsphere/files/868859/Run1.txt)
[Run2.txt]

[2017-03-24 18:46] pdhamdhere commented on #501
#1076 has more context and is tracking same issue. Closing as dupe.

[2017-03-24 18:46] #501 closed

[2017-03-24 20:24] ashahi1 opened #1083 "[Improvement] Admin cli volume ls is slow to list all the volumes if there are large number of volumes"
```Admin cli volume ls``` is very slow to list all the volumes if the setup has lots of volumes.

I ran the test multiple times and saw slow behavior across all the runs. I tested with 500 volumes.

Test Steps:
[code]

Setup:
[code]

Details of each run is as follows:

Run-1:
[code]

Run-2:
[code]

Run-3:
[code]

Run-4:
[code]

Run-5:
[code]

Run-6:
[code]

Test Logs:
[Run1.txt](https://github.com

[2017-03-24 20:27] ashahi1 commented on #63
Issue #1083 and Issue #1072 have been filed while running these tests.

[2017-03-25 00:43] shuklanirdesh82 commented on #1078
Testbed cleanup and improvement is done. Closing this issue as wontfix.

[2017-03-25 00:43] #1078 closed

[2017-03-25 00:46] shuklanirdesh82 commented on #273
starting vDVS 0.13 we are recommending to use managed docker volume plugin by pulling from docker store so updating the title to have signing only for VIB.

[2017-03-25 00:53] msterin commented on #1050
Note: Per https://github.com/docker/docker/issues/31903 ` Docker engine API is fully functional only after the initialization is complete. Restore is in the middle of the initialization.`. That's why we need to cut short all attempts to discover volumes if Docker engine does not reply in time

[2017-03-25 00:57] msterin commented on #1079
Can we have one "shopping basket" Issue for post-GA discussions and just add there ideas/suggestions for now.
This will prevent us from getting distracted and spending time now on something that has no impact on V1 GA, as well as it will minimize the scary number of open issues :-)

[2017-03-25 01:45] msterin opened #1086 "implement discovery for multi-node ESX vm-groups (fka tenants) support"
Related to #1032

With PR #1065 admin would have to manually configure each ESX node by manually ssh-ing to each of them and running admin `config init`. We need to allow the admin to do all from a single node.

This issue is to track implementation of auto-discovery for configuration
(note: see internal Confluence site for notes on the subject)
[ ] On CLI, allow a set of ESX to auto-discover (e.g

[2017-03-25 01:50] msterin opened #1087 "Allow admind to configure all vm-groups from a single point (but not VC)"
Today admin can add VMs to vm-groups ONLY on ESX when the VM is registered. That makes it super clumsy process as admin needs to add right VMs on right ESXs.

This PR is to track the fix.
Suggested fix to allow fully configuring vm-groups from one point>
[ ] Entering VM name works as today
[ ] We also allow to enter <name, uuid> pair on CLI. In this case, we check the local ESX (just to make sure

[2017-03-25 03:26] govint commented on #1080
Closed via #1081

[2017-03-25 03:26] #1080 closed

[2017-03-25 17:07] pdhamdhere opened #1089 "Fail duplicate CreateVMDK if VolOpts are different"
With #1084 if VMDK Volume already exists, we return success. Compare Volume options from incoming request with existing VMDK (in KV). Fail the request if volume options do not match.

[2017-03-25 17:21] #1077 closed

[2017-03-25 22:56] #1076 closed

[2017-03-27 01:05] ashahi1 opened #1091 "docker volume ls lists the volume that was attached-detached-removed prior to tenant deletion."
Steps:
[code]

-------------

Test steps and their output are as follows:

1. Create a user tenant:
[code]

2. create some volumes.
[code]

3. Attached and detached the volume - Test_Vol1@sharedVmfs-0

[code]

4. Removed all the volumes

[code]

5. Removed the user tenant.

[code]
6. Did docker volume ls - attached volume still shows up

[code]

Logs:
[docker-volume-vsphere.txt](https://github.com

[2017-03-27 01:11] ashahi1 commented on #899
Issue #1091

[2017-03-27 02:15] ashahi1 opened #1092 "[Tenant] Volume creation fails after renaming the default tenant."
Steps:
[code]

-----

Steps and their output are as follows:

1. Only default tenant is present
[code]

2. Created a volume
[code]

3.  Renamed the _DEFAULT tenant
[code]

4. Tried creating another volume but failed.
[code]

Logs:
[docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/871303/docker-volume-vsphere.txt)
[vmdk_ops.txt](https://github.com/vmware/docker-volum

[2017-03-27 03:03] ashahi1 opened #1093 "Proper error message be thrown while trying to rename a tenant with an existing tenant's name"
Steps:
1. Create two tenants.
2. Rename a tenant with an existing tenant's name - see a big stacktrace on the esx's console.
    Error message should be clear to the user.

-----

Steps and their output are as follows:

1. Created two tenants - user_tenant1 and user_tenant_2

[code]

2. Tried to rename a tenant (user_tenant1) with an existing tenant's name (user_tenant_2)

[code]

Logs:
[vmdk_ops.

[2017-03-27 03:45] ashahi1 opened #1094 "Not able to update the 'description' of the tenant with empty string."
Steps:
1. Create a tenant.
2. Update the description of the tenant.
3. Again try updating the description of the tenant with empty string - operation fails even though esx console shows message "modify succeeded"

---------------

Steps and their output are as follows:

1. Create a tenant - tenant1.

[code]

2. Update the description of tenant1

[code]

3. Again try updating the description of the

[2017-03-27 06:23] govint commented on #1062
Have been running a larger config of up to 500 volumes and more threads for the concurrency test with Photon 4.4.41 and Ubuntu guests on ESXi6.0u4.  Don't have a repro yet. From the CI runs at least it looks like the Go/C heap is corrupted. Conversion of a GO string to C causes a malloc() to create the C string. This is where the panic is seen. Used the debug pkg to get a stack of all the threads

[2017-03-27 09:11] ashahi1 commented on #897
- Moving a VM across tenants and validates volume accessibility

Steps:
[code]

------------------------

Steps and their output are as follows:

- create two tenants T1 & T2
[code]

- Add VM1 to T1 and VM2 to T2
[code]

- create volume from both VMs and make sure they can't see each others
[code]

- move VM2 from T2 → T1

[code]

- verifies VM2 has access to volumes created by VM1

[code]

- veri

[2017-03-27 09:14] lachnerd commented on #1068
ok, i tested this and you're right - problems seems to be with '-ti'.
If i start containers in daemon mode all works like expected.

[2017-03-27 10:30] ashahi1 commented on #899
Test 1. Rename _default tenant - Ran into Issue #1092
---

[code]

Test 2. Rename user created tenant
---

[code]

Test-3 : Rename tenant with the name which is present in the system.
---

Filed Issue #1093
[code]

Test: 4  Create volume for new tenant
---

[code]

Test 5. Test to verify tenant creation by passing non-existing vm
---

[code]

Test 6. Verify volume creation after deleting _DEFAULT

[2017-03-27 11:10] govint commented on #1091
The last message in the service logs is this,

03/27/17 00:42:36 72821 [Thread-60] [INFO   ] executeRequest 'list' completed with ret={'Error': 'VM ubuntu-VM0.3 does not belong to any vm-group'}

Is it ok to remove the tenant with the VM still in it? At the least the remove should print a warning of the fact.

The list command was failed by the ESX service and the the last logs from the plugin doe

[2017-03-27 11:40] govint commented on #1092
Tried this out and the issue doesn't repro if the vm-group rename is done back and forth (_DEFAULT to new name and then back). The error was reported once and when the vm-group name is changed back and forth the issue doesn't repro thereafter,

administrator@hte-1s-eng-dhcp98:~$ docker volume create --driver=vsphere --name=TestVol2 -o size=400mb
Error response from daemon: create TestVol2: VolumeD

[2017-03-27 12:49] pdhamdhere commented on #1068
Thanks @lachnerd for confirming.

Yes, it should work. I tried following sequence on my setup. Can you give this a try?

[code]

[2017-03-27 13:00] pdhamdhere commented on #1094
@ashahi1 Can you confirm changing description to non-empty string works? Assuming it works, I would defer this to next release.

[2017-03-27 17:46] ashahi1 commented on #1094
@pdhamdhere Yes, changing description to non-empty string works.

[code]

[2017-03-27 18:06] pshahzeb commented on #1091
@govint is correct.
docker prints cached results in case the it receives Error for docker volume ls
Scenario is different but issue is same as https://github.com/vmware/docker-volume-vsphere/issues/990

[2017-03-27 20:31] pdhamdhere opened #1096 "Optimize TestVolumeProperties"
[TestVolumeProperties](https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/E2E_Tests/e2e_verifyVolmProperties_test.go#L68) test takes more than a minute.

We run following sequence thrice (for each disk type "thin", "zeroedthick", "eagerzeroedthick");
1.  Create volume (`docker volume create --driver=vsphere ...`
2. Verify size, disk-format type and attached-status with Admin C

[2017-03-27 21:56] #1091 closed

[2017-03-28 07:09] govint commented on #1057
The testbed (single node vsan) is being or has been retired. Closing this issue unless the slow runs are observed again.

[2017-03-28 07:10] govint commented on #49
Closing for now.

[2017-03-28 07:10] #49 closed

[2017-03-28 07:59] shuklanirdesh82 commented on #1057
reopening this issue, #1088 has disabled tests on vsan60

[2017-03-28 08:55] govint commented on #1092
The issue is like this,

1. No VM is explicitly added to the _DEFAULT vm group. If a VM isn't in a specific group then its part of the default group. Per the admin CLI,

 /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vm-group vm ls --name _DEFAULT
_DEFAULT tenant contains all VMs which were not added to other tenants

2. When the default group is renamed, the VMs are effectively not in any vm-group

[2017-03-28 17:07] pdhamdhere opened #1101 "Change vm-group"
ESXCli doesn't allow dash in params. Rename vm-group to vmgroup.

[2017-03-28 17:14] pdhamdhere opened #1102 "Test upgrade with version change"
Test 1:
- Install 0.12 in VM
- Upgrade ESX with latest build.

Test 2:
- Install  master build in VM
- ESX: 0.12

Above combination should work with version change introduced recently.

[2017-03-28 19:06] lipingxue opened #1103 "Protocol compatible check need to print build version when client/server version mismatch is found"
Currently, the error message only print the client/server version number when the mismatch is found.  In addition to the version number, inform the user which build he/she need to upgrade to.
See #318 and #1046

[2017-03-28 19:14] ashahi1 opened #1104 "Admin cli vm-group ls takes extremely long time to list all the tenants."
Issue: Admin cli vm-group ls takes extremely long time to list all the tenants after VMs were added to the tenants.

For 100 tenants and 2-3 VMs per tenant, ```admin cli vm-group ls``` took 40 mins approx.

---------------------

Test setup, test steps and time duration for each operation is as follows:

Setup:
[code]

Test Steps:

[code]

Time duration for each operation:
[code]

Product Logs:
[d

[2017-03-28 23:02] pdhamdhere commented on #1104
For [each VM in tenant](https://github.com/vmware/docker-volume-vsphere/blob/master/esx_service/cli/vmdkops_admin.py#L816), we invoke [get_vm_name_by_uuid](https://github.com/vmware/docker-volume-vsphere/blob/master/esx_service/utils/vmdk_utils.py#L282)

And get_vm_name_by_uuid for **each** request enumerates all VMs to find VM with requested UUID. For **each** tenant with 2-3 VMs, this operation

[2017-03-29 03:12] pdhamdhere opened #1107 ""restart" option in CI does nothing"
"restart" used to work before and restart the CI run. Please fix since many times CI failures are unrelated to PR and pushing a dummy commit is unnecessary overhead.

CC/ @tusharnt

[2017-03-29 04:30] #1102 closed

[2017-03-29 05:28] shuklanirdesh82 commented on #1107
@pdhamdhere

sorry there should be some confusion here. If agree please change it to ```feature``` from ```bug```

https://github.com/vmware/docker-volume-vsphere/blob/ee957a9790978e2242c58b685e24bbe2424079ff/misc/drone-scripts/validate-and-serialize.sh#L28

[2017-03-29 05:40] govint opened #1109 "Add a unit test case to verify that the default vm group name (_DEFAULT) can't be changed."
#1092 ensures the default vm-group isn't rename'able.

[2017-03-29 05:43] #1092 closed

[2017-03-29 05:46] govint commented on #1107
It works but need to go back to the main list of the running builds (start from https://ci.vmware.run/login, login) and then select the one to restart and then restart. Had the same issue and followed above approach and worked.

[2017-03-29 06:23] shuklanirdesh82 commented on #1107
@govint  I doubt it, please have a look at my comment (https://github.com/vmware/docker-volume-vsphere/issues/1107#issuecomment-289986543) .. our script is not supporting to restart build incase of failure.

[2017-03-29 16:05] #1104 closed

[2017-03-29 18:35] shuklanirdesh82 opened #1110 "Refactor vmdk_ops.py to move out findVmByUuid/vm_uuid2name and placed at vmdk_utils"
Need to address comment, please see discussion https://github.com/vmware/docker-volume-vsphere/pull/1108#pullrequestreview-29634831

Refactor vmdk_ops.py to move out findVmByUuid/vm_uuid2name and placed at vmdk_utils

/CC @govint @pdhamdhere

[2017-03-29 19:19] ashahi1 opened #1111 "Volume created from vm1 (ESX1) inside tenant1 but is visible from vm2 (ESX2)."
Setup:
[code]

Steps:
[code]
Even though I see vol-1, if I try to do docker inspect vol-1, I get the message - No such volume

On ESX-2, admin cli lists vm-group as N/A for vol-1.

Is this a bug or it is an expected behavior?

Should we list the volume on a different vm which is on a different ESX even though that volume belongs to user created tenant?

============================================

[2017-03-29 23:57] pshahzeb opened #1112 "Race condition while using docker engine api to calculate refCounts for volumes after plugin restart."
This happens when plugin is used as a service and not when plugin is used as a managed plugin.

1. The refCount_test creates 5 containers, attaches a volume to them and makes them sleep.
2. It then creates another container, lists the contents of the volume attached in step 1.
3. Kills the plugin. Plugin restarts and calls the docker api to populate the refCounts for the volumes

In above steps, d

[2017-03-30 00:01] pshahzeb opened #1113 "Updating the vendor folder"
The vendor folder isn't updated since 8 months. Update the dependencies and also update the gvt documentation.

[2017-03-30 02:23] pshahzeb commented on #1111
Filtering out the crux.
Issue:
The issue is you see a volume created a VM part of tenant1 on ESX1; from a VM  (tenant doesn't matter) on ESX2.
As per the admin cli on ESX2, the volume tenant is N/A because there is no entry of tenant1 in authdb on ESX2.

Reason:
Our get_volumes function in vmdk_utils traverses each tenant uuid subdirectory and then each vmdk,  and returns volume info if the given

[2017-03-30 06:00] govint commented on #1112
Step 2 can happen in a real life scenario.  A set of containers have attached the volume and the plugin restarts for some reason. And one of the containers exits in the meantime causing the unmount. Same refcount test with a smalller sleep time in each container can trigger the issue.

[2017-03-30 08:19] ashahi1 opened #1116 "Handle datastores with spaces or special characters"
ESX has 10 VMs and I am trying to create volumes from each VM simultaneously.

Volume creation failed from one of the VMs:
[code]

docker volume ls:
[code]

[code]

Logs:
[vmdk_ops.1.txt](https://github.com/vmware/docker-volume-vsphere/files/881463/vmdk_ops.1.txt)
[vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/881464/vmdk_ops.txt)
[docker-volume-vsphere.txt](https://github.co

[2017-03-30 09:35] govint commented on #1116
@ashahi1 can you check that the host is having the datastores on it.  The exception is not handled in vmdk_utils.py:get_datastore_name() and should be fixed, but the ESX service is complaining that local-0 and local-1 datastores aren't available,

03/30/17 07:43:07 463428 [MainThread] [WARNING] dockvols creation failed - No such file or directory on datastore local-0 (11)
03/30/17 07:43:07 463428

[2017-03-30 09:37] govint commented on #1116
And for all these tests its a good thing to run the ESX service with log level set to DEBUG in /etc/vmware/vmdkops/log_config.json. The trail is easier to debug with values of variables logged.

[2017-03-30 10:21] ashahi1 commented on #1116
@govint I checked from the VC and all the host's datastores look fine. I just ran a test that created 800 Volumes on the same setup but didn't see any issue.

[code]

[2017-03-30 10:38] govint commented on #1116
The original issue was unhandled exception with indexing an empty list. Is the original issue repro'ing (with debug logging set)?

[2017-03-30 11:27] govint commented on #1062
Tried the following and unable to repro the issue anymore, the hunch was that the buffer being used to collect the response may be overflowing causing the runtime corruption.

1. Skip malloc'ing the response buffer and use a static sized array in the response structure. Panic doesn't repro, but using a static sized buffer isn't a solution given the response size can be larger (list can return >8K

[2017-03-30 12:54] govint commented on #1116
@ashahi1 can you also get the docker host system logs (journalctl --no-pager --system > <filename>). The plugin seems to have restarted when removing volumes. Was that a manual restart?

2017-03-30 05:59:19.292149597 +0000 UTC [INFO] Removing volume name="dockerVol_fONzs"
2017-03-30 05:59:20.826717098 +0000 UTC [INFO] Removing volume name="dockerVol_J3qqs"
2017-03-30 05:59:23.66656064 +0000 UTC [I

[2017-03-30 16:18] #1044 closed

[2017-03-30 17:55] ashahi1 commented on #1116
@govint No, I did not do any manual restart of the plugin.

Host system logs:
[hostSystemLogs.txt](https://github.com/vmware/docker-volume-vsphere/files/883336/hostSystemLogs.txt)

[2017-03-30 18:54] tusharnt commented on #63
Manual testing is completed.

[2017-03-30 18:54] #63 closed

[2017-03-30 19:02] pshahzeb opened #1121 "Refactoring get_volumes implementation in vmdk_utils"
This function still assumes that there can be a case where volumes may not reside in tenant directories but directly inside "dockvols" directory. This doesn't told true in current state and we can get ride of that code (specifically "if not tenantre " check). Doing this also requires rewriting a couple test cases in vmdkops_admin_test.

Also, the entire get_volumes need a refactoring which will ma

[2017-03-30 19:44] ashahi1 commented on #63
- Creating large number of volumes simultaneously from single vm.

Volume creation seems slow for 100 mb size so will file an issue.

Setup:
[code]

Test will create ten threads - each thread will make 75 volumes.
Total volumes created - 750 of 100 mb each

Steps:
[code]

Duration for each operation is as follows:
[code]

[2017-03-30 19:49] ashahi1 commented on #63
- Creating large number of volumes simultaneously from 10 different VMs.

Setup:
[code]

Test was being run simultaneously from each vm.
Each vm was creating 40 thin provisioned volumes, 20 zeroedthick volumes and 20 eagerzeroedthick volumes.
Total volumes created - 800 of 100 mb each.

Steps:
[code]
Duration (per vm) for each operation is as follows:
[code]

Created volumes manually also on the s

[2017-03-30 20:28] #1050 closed

[2017-03-30 20:35] ashahi1 opened #1122 "[Improvement] Creation of individual volume takes lots of time."
- Creating large number of volumes simultaneously from single vm.

Time taken to create individual volume seems to be a lot for a thin provisioned volume of 100 mb size.
Duration fluctuated a lot but on an average it took between 25-35 seconds per volume.
~90 seconds was the maximum I saw and ~7 seconds was the minimum time it took to create one volume.

Setup:
[code]

Test will create ten threads

[2017-03-30 20:54] ashahi1 commented on #900
Corrected the steps and also removed old test execution steps updates. Only keeping the most recent test steps and their output.

[2017-03-30 20:54] #900 closed

[2017-03-30 23:46] ashahi1 opened #1123 "[Multi-ESX] admin cli vm-group access ls command fails with default configuration"
- No configuration is set on the esx:

[code]
- Only have _DEFAULT tenant on the ESX
[code]
- Try running ```admin cli vm-group access ls``` command but see error stacktrace.

[code]

[2017-03-30 23:47] #1101 closed

[2017-03-31 00:00] ashahi1 commented on #1123
Three more instances - trying to update the "Description", "Name" and "--default-datastore" fields for the _DEFAULT tenant but see stacktrace for each command.

No configuration is set on the ESX.

-----------------------------------

Steps and their output are as follows:

- Trying to update description for the _DEFAULT tenant:
[code]

- Trying to update name field for the _DEFAULT tenant:
[code]

[2017-03-31 00:57] ashahi1 opened #1125 "Able to add vm to the _DEFAULT vm-group"
Steps:
1. Verified that we only have _DEFAULT tenant.
2. Tried adding vm to the _DEFAULT tenant - successful

Should this be allowed?

------------------------------

Steps and their output are as follows:

- Only _DEFAULT tenant is present on the ESX.
[code]
- Able to add two VMs to the _DEFAULT tenant
[code]

Logs:
[vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/884230/vmdk_

[2017-03-31 01:58] #1111 closed

[2017-03-31 01:58] #990 closed

[2017-03-31 01:58] #1045 closed

[2017-03-31 02:18] shuklanirdesh82 commented on #403
Manual effort is required to upload VIB on the bintray account.

README.md has been updated with bintray badge hence closing this issue.

[2017-03-31 02:18] #403 closed

[2017-03-31 02:22] shuklanirdesh82 commented on #273
when the artifacts is ready for VIB, it will be signed by vmware EE team. Following each releases, signed VIB should be uploaded to bintray for download.

[2017-03-31 07:14] #273 closed

[2017-03-31 07:34] lachnerd commented on #1068
thx pdhamdhere i tried this and it worked but i have no idea what was causing my problems

[2017-03-31 07:34] #1068 closed

[2017-03-31 07:54] ashahi1 opened #1127 "[Multi-ESX] VM's belonging to the same tenant are not visible across ESXs"
Steps:
1. Initialized MultiNode config db on both the ESXs.
2. Created a tenant from ESX-1.
3. Added vm to the tenant from ESX-1.
4. Ran ```admin cli vm-group ls``` from ESX-1 and ESX-2.
VM_list field is empty for ```admin cli vm-group ls``` from ESX-2.

-------------------

Steps and their output are as follows:

1. Ran ```config init``` on both the ESXs.

[code]

2. Config information from both

[2017-03-31 12:34] govint commented on #1116
No plugin panic in the logs one explanation for this behavior is like this:

1. ESX service is started and it discovers all datastores on the host.
2. Requests are received and handled.
3. A request is received which is specifying a datastore thats not in the in mem cache used by the service and its not the default either.
4. vmdk_utils.py: get_datastore_name() walks thru the cache and doesn't fin

[2017-03-31 13:20] govint commented on #1116
From the exception stack, it looks like the VM datastore is "for some reason" not in the datastores list - in mem. cache - used by the service. It may be local-0 or local-1 because along with the exception stack we also see the messages related to dockvols path missing on local-0 and local-1.

03/30/17 07:43:04 463408 [MainThread] [WARNING] dockvols creation failed - No such file or directory on d

[2017-03-31 16:07] tusharnt opened #1129 "Update instructions to cut the release"
Update https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md to include instructions on how push VIBs to bintray and managed plugin to Docker store.

[2017-03-31 17:15] lipingxue commented on #1125
I think we should not allow to add/rm/replace vms for _DEFAULT vmgroup. Any VM which is not assigned to a named vmgroup belongs to _DEFAULT vmgroup.

[2017-03-31 17:43] shaominchen commented on #1125
Agree with @lipingxue. By design _DEFAULT vmgroup is a "container" for any VMs not belonging to a named vmgroup. This is surely a bug.

[2017-03-31 18:43] pdhamdhere opened #1130 "Add VM_Name in config DB"
Current Admin CLI logic is to persist the VM uuid and query VM name on demand. With shared multi-tenancy, user can run `vmdkops_admin vmgroup vm ls` and command must display VMs running on another ESX host as well.

1. VM1 belongs to ESX1, VM2 belongs to ESX2. ESX1 and ESX2 are configured to a shared datastore.
2. Admin creates T1 on ESX1 and adds VM1 to T1
3. Admin runs “vmdkops_admin tenant vm l

[2017-03-31 18:59] ashahi1 commented on #1123
DB mode is NotConfigured
[code]
- Trying to add --default-datastore for _DEFAULT tenant
[code]

[2017-03-31 19:07] pdhamdhere opened #1132 "VIB Installation failures in CI"
Intermittently seen following failures in CI;

For e.g. https://ci.vmware.run/vmware/docker-volume-vsphere/2036

[code]

[2017-03-31 21:03] ashahi1 opened #1133 "Update user-guide - create VSAN storage policy command is incorrect"
Sample command to create vsan policy is incorrect. Policy get created successfully but volume creation fails using that policy.

---------------------------------

Current command in admin-cli.md:
[code]
If we use the above policy to create volume on vsan datastore - volume creation fails
[code]
Correct command:
[code]

Basically a closing parenthesis is missing at the end.

[2017-03-31 21:11] tusharnt commented on #1133
Can you please take care of it @ashahi1 ?

[2017-03-31 22:04] #1109 closed

[2017-03-31 23:22] msterin opened #1136 "Add goreport tag to the project"
https://goreportcard.com/report/github.com/vmware/docker-volume-vsphere

See https://github.com/kubernetes/kops for example - they add goreport side by side with "build" tag.

I am sure it's trivial and looks nice too :-)

[2017-04-01 00:53] #1136 closed

[2017-04-01 01:36] ashahi1 opened #1138 "[Multi-ESX] Confusing difference in SingleNode vs MultiNode behavior after config init"
Each time, after initializing SingleNode mode, vm-group ls will always initially list  _DEFAULT tenant unless user creates new tenant.
Whereas for MultiNode mode, after initializing MultiNode mode, vm-group ls may also show tenants other than _DEFAULT which might have been created from different ESXs.
This can "may-be" create confusion for the user.

-----------------------------------------------

[2017-04-01 02:23] shuklanirdesh82 commented on #1136
Yeah indeed. Thanks @msterin for bringing this up and sharing details.

[2017-04-01 15:55] #1133 closed

[2017-04-01 16:02] shuklanirdesh82 commented on #1132
Rarely observed due to network outage/loose connectivity between drone machine and ESX host.

[2017-04-02 08:09] shuklanirdesh82 commented on #1032
@msterin/ @shaominchen
question: Shouldn't it be "Admin can run `config mv`" to switch to a different shared ds?

[2017-04-02 08:39] msterin commented on #1032
`mv` moves existing (will move when implmented). `rm` + `init` switches to use another DB.
We will probably have to rename `rm` to `unlink` for shared DB
@ashahi1

[2017-04-03 17:56] shuklanirdesh82 opened #1141 "[Drone 0.5] Use branch exclusion rule to avoid running tests on CI for documentation changes"
Avoid running tests on CI for documentation change using branch exclusion rule [depends on drone 0.5 release]

Currently CI is running for documentation change (e.g. README.md, CONTRIBUTING.md etc) even though there is no code change.

CI should not be invoked when there is a doc change.

/cc @tusharnt

[2017-04-03 21:27] lipingxue opened #1143 "handling default_datastore for vmgroup"
When a VM addresses the volume using short notation (volume_name, without @datastore),  we will create this volume on the default_datastore of the vmgroup which the VM belongs to.  Currently, user can set "default_datastore" field for a vmgroup through "vmgroup access add" command:
1) The datastore used in the first privilege which is added to a vmgroup is set as "default_datastore" for that vmgro

[2017-04-03 23:14] #1125 closed

[2017-04-03 23:26] shuklanirdesh82 opened #1144 "[Multi-ESX] DB connection issue while invoking "vmdkops_admin volume ls" observed only on one ESX"
Setup: VM1 on ESX1 and VM2 on ESX2 > both docker hosts are in the same tenant

Steps to reproduce
[code]

While invoking ```vmdkops_admin.py volume ls``` during step#4, running into following issue on ESX1 where as ESX2 is not complaining and showing the output correctly.

**Note**: I haven't found any interesting thing in vmdk_ops.log so not uploading. (logs will be uploaded upon ask)

[code]

on

[2017-04-04 03:29] msterin commented on #1144
I suspect we hit the moment when VMFS on ESX2 was locking the sqlite file, thus preventing VMFS on ESX1 from opening it. Great catch!

I am concerned that could actually be a problem for vmdk_ops.py , so the docker ops may fail.
We'd need to either open as VMFS nolock, or do wait-retry to work this around.

[2017-04-04 03:35] govint commented on #1144
3. VM1: attach container on vol4 and keep it running
4. VM2: attach the container on vol4 (observe some wait time here)

@shuklanirdesh82, is it possible to share the VMDK on two different docker hosts?

[2017-04-04 03:37] msterin commented on #1144
I think these parts were incidental. The issue is with file open, and it is opened only during docker command, not while container is already running

[2017-04-04 05:51] shuklanirdesh82 commented on #1123
keeping this as P0 due to regression ...

@pshahzeb I am parking with you.

[2017-04-04 07:19] shuklanirdesh82 commented on #1144
Yeah, it is not possible in an absence of multi-writer scenario; step#5 does mention about the expected behavior i.e. exception/error should be shown.

An error is observed only on one of the ESX but not.

[2017-04-04 07:21] shuklanirdesh82 commented on #1144
Yeah it seems to me too.

[2017-04-04 07:36] msterin commented on #1127
Related to #1065

[2017-04-04 07:37] msterin commented on #1123
related to #1065

[2017-04-04 07:38] msterin commented on #1138
Related to #1065

[2017-04-04 08:18] ashahi1 opened #1145 "Able to create volume from VM which belongs to newly created tenant"
Steps:
1. Create a new tenant and add a vm to it.
2. Create a volume from the tenant's vm.
    I have not set any privileges on the tenant and still I am able to create volume.

Is this expected? Has there been recent change of behavior with respect to user created tenant?

User-guide says that ```By default no "allow_create" right is given. "allow_create" right is given when you run the command w

[2017-04-04 09:05] ashahi1 commented on #1123
- DB_Mode: NotConfigured
[code]

- Trying to add a vm to the tenant
[code]

[2017-04-04 16:50] lipingxue commented on #1145
It is the expected behavior based on the current code. The reason that it allows to create volume is because the default privilege is matched.
We have an ongoing discussion about whether we should allow volume create if user does not add privilege explicitly for named vmgroup.

[2017-04-04 17:31] msterin opened #1146 "Storage policies should be configurable per vmgroup"
subject says it all. Discussion needed
@pdhamdhere

[2017-04-04 17:38] govint opened #1147 "Verify managed plugin works with Photon controller"
1. Enable authentication (PC 1.1 disallows installations without authentication enabled) for the plugin.
2. Verify the managed plugin is able to use the guest side configuration used by the earlier packaged plugin.

[2017-04-04 19:25] govint commented on #1062
Fixed via #1118

[2017-04-04 19:25] #1062 closed

[2017-04-04 21:38] #1129 closed

[2017-04-05 00:58] shuklanirdesh82 commented on #1057
The issue has been root caused, logs are collected for following both runs and following up with VSAN team further.

[code]

[2017-04-05 02:58] msterin commented on #1057
so what is the root cause ?

[2017-04-05 05:15] govint opened #1149 "Restrict validate/retrieval of datastore names to only datastores provisioned to a vmgroup"
Today the ESX service functions that select/validate datastore names on a create req. do so against a list of all datastores (in mem. cache) kept in the ESX service. This must change to check against only the datastores assigned to the vmgroup that the requesting VM belongs to.

On create failure for unknown datastores, all known datastores are returned including those not assigned to the vmgroup.

[2017-04-05 19:47] shuklanirdesh82 commented on #1057
test run against VSAN is not performant and following up with VSAN team.

Keeping in open state as discussed offline(Thanks @msterin! )

[2017-04-05 22:56] msterin commented on #369
This is an urgent issue as we already have info from customers that it makes the service too unpredictable to use in production

The solution is very clear - we need to register for PowerOff events from hostd, and on power Off make sure we detach all VDS volumes (i.e. the ones from .../dockvols/... folders)

[2017-04-06 12:26] lachnerd opened #1152 "not able to use VMWare Volumes"
Hi,
i want to use some of our development apps as docker version on vmware vsphere volumes.

For example i wanted to use Artifactory Pro from JFrog, so i tried the following;

1. created a vsphere volume
`docker volume create -d vsphere artifactory-data@san-datastore6 -o size=800gb`
2. used Rancher to start artifactory
`artifactory:
    image: docker.bintray.io/jfrog/artifactory-pro:5.1.4
    stdi

[2017-04-06 19:56] pdhamdhere commented on #1152
@lachnerd Volume mount errors show up on console. I do not see volume errors on console. I think volume is attached and mounted successfully. We can confirm from /var/log/docker-volume-vsphere.log (VM) and /var/log/vmware/vmdk_ops.log (ESX).

I don't have Rancher but I tried it with docker CLI and artifactory came up fine;

[code]

Then I started using local volume that worked too.

[code]

Can we

[2017-04-06 23:39] #1032 closed

[2017-04-07 00:20] msterin commented on #380
I am not sure what is my part here. I see it as a test setup first of all.

[2017-04-07 00:23] pdhamdhere commented on #380
No more RPMs. Recommended to use managed plugin.

[2017-04-07 00:23] #380 closed

[2017-04-07 00:28] msterin commented on #1123
@pshahzeb - FYI , I've fixed some of this and will submit a PR tonight. Not all though :-). Please stand by

[2017-04-07 04:59] govint commented on #936
#1147 is wider in scope and a must going forwards. Closing this issue and auth will be handled in #1147.

[2017-04-07 04:59] #936 closed

[2017-04-07 14:38] pdhamdhere commented on #1116
Customer is running into this issue. Bumping the priority.

[2017-04-07 22:25] msterin opened #1153 "Rework python code layout and function names to comply with module and naming convesions"
.py code is not properly modularized - it's layout in src/ is different from what it ends up on ESX whihc makes it hard to lint and debug, the naming convensions for intenral/external functions  are not followed,
__all__  and __init__.py are not defined for modules. All this defeats many lint and IDE code control support, We need to fix it eventually

[2017-04-07 23:05] ashahi1 commented on #1144
Steps:
[code]
--------------------------------------

Steps and their output are as follows:

From ESX-1:
[code]

From ESX-2:
[code]

[2017-04-08 22:07] #1123 closed

[2017-04-09 16:40] lipingxue commented on #1138
@ashahi1 When do you create "new-vmgroup1"?

[2017-04-10 08:14] lachnerd commented on #1152
@pdhamdhere
i made one mistake i didn't test my Artifactory Setup without Rancher on console.
It seems like Rancher is the Problem here - if i start the containers with vsphere volumes like you in console everything seems fine.

If i take the same docker-compose.yml file and try to start it in rancher then i'm getting the same weird problems is stated above.

So it seems everything is fine with vs

[2017-04-10 15:46] shuklanirdesh82 opened #1158 "avoid collecting VM logs when there is ESX deployment failure"
Our log collection scripts collects VM system logs even though there is a VIB installation or vmdk_ops service startup problem.

https://ci.vmware.run/vmware/docker-volume-vsphere/2124

[code]

/CC @msterin

[2017-04-10 15:48] shuklanirdesh82 commented on #1132
haven't seen in past one week's runs.

Please reopen if the issue reproduces again consistently.

Thanks!

[2017-04-10 15:48] #1132 closed

[2017-04-10 15:57] pdhamdhere commented on #1152
Thanks for confirming @lachnerd Would you mind sharing docker-compose.yml you are having issues with Rancher? You can share it here or email @ containers@vmware.com

[2017-04-10 15:57] #1152 closed

[2017-04-10 17:37] ashahi1 commented on #1138
Had an offline discussion with Liping to explain what exactly is the issue here.
Liping will have more discussion with Mark regarding this issue.

[2017-04-10 18:03] msterin commented on #1138
To clarify, this sequence of `config` commands has different results in SingleNode and MultiNode.
* init
* modify (add vmgroups, whaterve)
* rm --local --confirm
* init again

On SingleNode, it produces new fresh config (as expected)
On MultiNode, it brings back the old config

The issue is that we **do not support** MultiNode **remove DB**, and `rm --local --confirm` command does not really rm th

[2017-04-10 19:46] pshahzeb opened #1159 "Volume stays attached after abrupt docker plugin kill and container exit"
This is seen when the vDVS managed plugin is killed forcefully while the volume is still being used by a container. Reproduced as follows:

1. Create a volume and attach it to a container.
[code]
2. volume is indicated as attached to the VM
[code]
3. Disable the plugin and kill the container from another terminal
[code]
4. Volume still stays attached.
[code]

While this reproduction is too harsh a

[2017-04-10 22:32] shuklanirdesh82 opened #1160 "Log config changes for vDVS driver are not applied on CI"
Accommodate log_config.json changes on CI

As per following code, any changes to `log_config.json` file from the PR is not in effect if the older `log_config.json` present on ESX (CI system)

https://github.com/vmware/docker-volume-vsphere/blob/master/esx_service/utils/log_config.py#L80

[code]
Need to correct `deploy_tools.sh` as well; desploy_esx shouldn't be responsible for cleaning up any left

[2017-04-11 08:09] lachnerd commented on #1152
Hi heres my compose file.

[2017-04-11 11:06] govint opened #1161 "Change vmdk_utils.py:get_vm_config_path() to use the same code in executeRequestThread() to fetch VM config path."
vmdk_ops.py:executeRequestThread() uses the VSISH node to figure the VM config path which gets the datastore_URL as a UUID. And hence immune to datastore path names with spaces in it.

vmdk_utils.py:get_vm_config_path()  is doing the same but via the VM object which returns the datastore name. And trying to split the value returned returns error if the datastore name has spaces in it:

ERROR: test

[2017-04-11 20:17] ashahi1 commented on #1138
I like Choice 1: Use 'rm' in case of SingleNode mode and use 'unlink' in case of MultiNode mode.

[2017-04-11 23:32] #1130 closed

[2017-04-11 23:33] pshahzeb commented on #1127
Fixed through #1151

[2017-04-11 23:33] #1127 closed

[2017-04-12 06:26] govint commented on #1159
Won't this be an issue on Docker to disallow disabling a plugin when volumes (managed by the plugin) are in use? Much like an FS can;'t be unmounted when there are users for it.

[2017-04-12 06:36] govint commented on #1147
Depends on https://github.com/vmware/photon/issues/628 to support Docker 1.13.x

[2017-04-12 16:43] pshahzeb commented on #1159
It does disallow. But it can still be disabled through the forced flag. This could also happen in context of plugin crash.

[2017-04-12 17:59] lipingxue opened #1162 "[Multi-ESX] Need to remove DB after hit failure in "new_db()" to handle "config init" failure"
When user run "config init" from "NotConfigured" clean state, it will try to call function "new_db()" if the auth db does not exist.
However, In new_db() function, it can fail in the middle. See the following code snippet:
[code]

We need to remove the DB when the new_db() function fails which can ensure that the configuration goes back to a clean state "NotConfigured".

[2017-04-12 19:28] ashahi1 commented on #899
@pshahzeb Please verify the test execution and reopen if you feel we need to add any more tests here.

[2017-04-12 19:28] #899 closed

[2017-04-12 19:29] #897 closed

[2017-04-12 19:32] ashahi1 commented on #161
Now we can deploy testbed on Nimbus with Photon version 1.13. So closing this issue.

[2017-04-12 19:32] #161 closed

[2017-04-12 20:58] govint commented on #1159
The refcount logic should handle volumes left mounted with no containers
using those?

On Apr 12, 2017 10:13 PM, "Shahzeb Patel" <notifications@github.com> wrote:

[2017-04-12 22:37] msterin commented on #1159
@pshahzeb - if after these steps you enable the plugin, does it issue the Linux unmount ?
Basically, we need 3 steps after the ones you've done
1. run 'grep vmdk /proc/mounts' to see if the volume is still mounted to Linux
2. enable the plugin
3. check plugin logs for err messages and re-run (1)

[2017-04-13 01:06] pshahzeb commented on #1159
@govint @msterin
After doing the above steps, the behavior is graceful.
After restart, the plugin detects the one volume and issues unmount.
The volume status updates to 'detached'

With killing docker itself, here is the behavior:
I created a volume and attached a container.
Killed the docker with -9
docker restarts and our plugin restarts with it. We timeout in refcounting because docker itself

[2017-04-13 02:29] msterin commented on #1159
In case we time out we should simply accept the inevitable and schedule a scan in a few minutes IMO.
Comments ?

[2017-04-13 03:17] pshahzeb commented on #1159
Scan again to ask docker about used volumes? Good option.

[2017-04-13 22:45] govint commented on #1159
Yes, basically, redo the scan or simply do the scan once the plugin init
completes.

On Thu, Apr 13, 2017 at 8:47 AM, Shahzeb Patel <notifications@github.com>
wrote:

[2017-04-14 16:32] govint commented on #1116
Fixed via #1140

[2017-04-14 16:32] #1116 closed

[2017-04-14 21:07] #1051 closed

[2017-04-14 22:43] shuklanirdesh82 commented on #1051
@msterin

with PR #1163,DEB/RPM usage support is dropped but build support is still exist (as decided to keep for next 2-3 releases), I am opening a new issue to track required work on dropping build/publish support for DEB/RPM

[2017-04-14 22:48] shuklanirdesh82 opened #1166 "stop building/publishing DEB/RPM to complete our move to managed plugins"
related to #1051 and refer https://github.com/vmware/docker-volume-vsphere/issues/1051#issuecomment-294250409 for more information.

Our release note also claims about removal of DEB/RPM.

As of 0.13 vDVS release, we gave heads up about limited support for DEB/RPMs and going to be deprecated soon, so raising this issue to keep track of the work.

- [ ] remove make targets to build DEB/RPMs
- [ ] s

[2017-04-15 00:35] shuklanirdesh82 opened #1170 "Add CI testbed information at CONTRIBUTING.md"
Update CONTRIBUTING.md to reflect current CI vm with docker version, ESX version, GOS etc.

- [ ] publish CI matrix

[2017-04-19 19:03] shuklanirdesh82 opened #1180 "Admin CLI gives SyntaxWarning"
PR #1165 introduces this regression.

Any admin cli commands gives following error message.
[code]

Admin CLI version information.
[code]

[2017-04-20 11:06] govint opened #1183 "Support shared volumes on NFS datastores provisioned to the managed plugin."

[2017-04-20 18:37] #1180 closed

[2017-04-20 19:00] lipingxue commented on #1138
@shaominchen What do you think? Which option is more reasonable for you?

[2017-04-20 20:45] shaominchen commented on #1138
Ideally we should have same/consistent command to support similar operations in different configurations. Even though today we don't support DB removal in MultiNode, that doesn't mean we will not support it in the future. So I would suggest this:

Choice 3:
[ ] In SingleNode, `rm --local` will remove the local DB. Same behavior as today. No code change.
[ ] In MultiNode, 'rm --remote' will print a

[2017-04-20 20:55] lipingxue commented on #1138
I think the choice 3 is good since it provides more flexibility to support possible future change. But the command ```rm --remote``` seems not accurate to me. How about ```rm --unlink```?
[ ]  In SingleNode, ```rm --local``` will remove the local DB, ```rm --unlink``` will return an error message to say this command is not supported in SingleNode configuration.

[ ] In MultiNode, ```rm --unlink```

[2017-04-20 21:00] shaominchen commented on #1138
I'm fine with "rm --unlink". Since "--unlink" is clear enough (for unlink operation), we don't even need to print the message. In the future if we need to support remote db removal, we can add a "rm --remote" option and deprecate "--unlink", or we may support both.

[2017-04-21 04:29] msterin commented on #1138
+1 from me on the latest suggestion.

[2017-04-21 12:06] govint commented on #1138
Just asking, why does the user need to remove the DB, would a "reset" option be sufficient to get the DB to a known initial state?

And can DB removal (for local nodes) be tied to VIB removal?

[2017-04-23 14:19] lipingxue opened #1185 "Support set "--volume-totalsize" for "_VM_DS" and "_ALL_DS""

[2017-04-24 20:33] lipingxue opened #1187 "Avoid code duplication"
In vmdkops_admin.py,  the following code snippet is repeated several times:
[code]

Need to abstract the above code snippet into a separate function.

[2017-04-25 00:31] shuklanirdesh82 opened #1188 "[Multi-ESX] vmgroup is not removable when vms are added from both ESXs (configured as MultiNode)"
Test bed setup:
1. 2 ESX (E1 & E2) accessing a shared datastore SD1
2. 2 VMs (VM1 & VM2):

- VM1 is created on SD1 (registered at E1)
- VM2 is created on SD1 (registered at E2)

Steps to reproduce:
[code]

Expectation: Admin CLI should allow to remove `T1`

Current behavior: Admin CLI is not allowing to remove and throwing following error ( vm UUID is not recognized by ESX where vm is not register

[2017-04-25 05:00] pdhamdhere commented on #1188
[check_volumes_mounted](https://github.com/vmware/docker-volume-vsphere/blob/master/esx_service/utils/vmdk_utils.py#L353) does findVmByUuid which is going to fail for VMs registered on some other host. This was introduced in #1060

[2017-04-25 05:02] pdhamdhere commented on #1183
@govint Can you write-up a quick proposal on user experience to use shared NFS volume and high level design?

[2017-04-25 05:04] pdhamdhere commented on #1143
@lipingxue Should we close this?

[2017-04-25 07:14] shuklanirdesh82 opened #1189 "Unable to unmount/detach volume after vmgroup membership change"
volume stays as attached even after detaching from container

Test bed setup:

- 1 ESX (E1) accessing a shared datastore SD1
- 2 VMs (VM1 & VM2): VM1/VM2 are created on SD1 (registered at E1)

Steps to reproduce:

1. VM1: create volume (volume is created under _DEFAULT vmgroup)
`docker volume create -d vsphere vol1`
2. E1: verify volume is created and Admin CLI shows its entry correctly
`vmdkops_a

[2017-04-25 08:47] govint commented on #1189
@shuklanirdesh82, can you upload the ESX and plugin logs. Plus the command output for admin CLI vmgroup ls for each vmgroup and list the volumes in each.

[2017-04-25 08:59] govint commented on #1189
If a VM is in a vmgroup with and has volumes attached, then those volumes will be on datastores assigned to the vmgroup.

Hence, if a VM in a vmgroup has volumes attached to it then don't allow the VM to be migrated out of the vmgroup. Else, the VM will end up in a vmgroup with a different default datastore and which won't resolve the VMDK path in vmdk_ops.py:executeRequest(). And hence detach dis

[2017-04-25 13:44] govint commented on #1188
Is this a doc issue? Because, when adding the VM to the vmgroup the below is done,

E1: vmdkops_admin.py vmgroup vm add --name=T1 --vm-list=VM1
E2: vmdkops_admin.py vmgroup vm add --name=T1 --vm-list=VM2

The vmgroup add *has* to be done on each ESX host thats running the VM. The user (even with a script) needs to ssh a command to the respective ESX to add VMs on each host into a vmgroup.

The exp

[2017-04-25 16:15] lipingxue commented on #1143
@pdhamdhere Not yet, the upgrade part #1179 has not been merged yet. I have two approval for that upgrade PR. Mark has some comments for that PR and I have addressed. Hope it can merge it today.

[2017-04-25 18:43] lipingxue commented on #1143
#1179 is merged, close this issue.

[2017-04-25 18:43] #1143 closed

[2017-04-25 20:47] shuklanirdesh82 opened #1191 "[Multi-ESX] volume metadata file got deleted while removing volume from VM(placed on Esx2) which is in use by another VM(placed on Esx1)"
Volume metadata file got deleted while removing volume from VM(placed on Esx2) which is in use by another VM(placed on Esx1); `remove volume` request deletes `vmfd` (metadata file) and volume properties (`Filesystem, Disk Format, Created By, Created Date`) got reset. Admin_CLI looses some important information that leads no information and bad experience to user.

Test bed setup:

1. 2 ESX (E1 & E

[2017-04-25 20:56] shuklanirdesh82 commented on #1191
`docker volume rm` requests come from any VMs registered on E1 are not running into this issue, it is specific to multi-ESX setup.

output from another VM placed on E1:
[code]

[2017-04-25 21:37] BaluDontu commented on #1183
Would like to read the the design proposal for this when its out. So tagging myself @BaluDontu.

[2017-04-25 23:40] govint commented on #1191
This is an issue on the esx disk libraries and already fixed for the next
up coming release of ESX. If needed we can request a backport to the
versions supported for the plugin.

.

[2017-04-26 17:01] MattAtTTU opened #1194 "Invalid syntax in docker-volume-vsphere.conf can cause high CPU."
With the latest release, I've discovered an issue with the documentation of the docker-volume-vsphere.conf file which can lead to high CPU usage on a Linux system.

The documentation gives the following example of the file:

[code]

In the above example, there should be a coma after "vsphere".  Since there is not, having this file present in /etc/ and starting docker will result in docker continua

[2017-04-26 17:05] pdhamdhere commented on #1194
Argh :( That's an excellent catch, Matt and thanks for detective work in nailing down high CPU utilization to documentation.

@shuklanirdesh82 Can you please sanity test config file options and push doc fix.

[2017-04-26 17:13] shuklanirdesh82 commented on #1194
Sure thing!

[2017-04-26 17:35] #1194 closed

[2017-04-26 18:04] akutz opened #1197 "Size units are incorrect"
I am working with the VMCI client code and noticed the size information for a VMDK, such as its capacity, is being returned as a string, ex: `100 MB`. I need to convert this to numeric values, so I wrote a parser. However, I decided to validate that these were in fact MB since I know the VI SDK and other tools for gathering this information stores size in numeric, 64-bit integers, commonly as Kb.

[2017-04-26 19:35] shuklanirdesh82 commented on #1194
Testing done: As a quick sanity following steps were followed.
1. reproduce the issue locally > line `"LogPath": "/var/log,` created a new file and moved previous logs to dated folder
2. cleaned up everything locally
3. corrected `/etc/docker-volume-vsphere.conf` for `driver` (supplying an extra `,`) and `LogPath`
4. restart `docker-volume-vsphere` to refresh the log changes
5. create volume > rm

[2017-04-26 19:38] shuklanirdesh82 commented on #1194
@MattAtTTU,

Sorry for the inconvenience, changed are merged and document site is refreshed. Please reach us out if you have any other concern.

Thanks  for reporting this issue!

[2017-04-27 01:50] pdhamdhere opened #1198 "Publish VUM compatible zip file for vmdkops"
Github releases used to publish VUM compatible VIB binary packaged as ZIP file. When we migrated 0.13 to bintray, we didn't publish ZIP file.

1. Fix release process to publish ZIP file. I am not sure how signing process works for ZIP file.
2. Test with VUM

[2017-04-27 04:06] shuklanirdesh82 commented on #1198
oops, it's a complete miss; thanks @pdhamdhere for catching this.

0.13 release is updated with following entry under download section.
[code]

Testing Done: on both ESX 6.0U2 and 6.5
[code]

[2017-04-27 04:13] pdhamdhere commented on #1198
I didn't. Customer did 😌

Can we also make sure VIB can be installed with VUM

[2017-04-27 05:11] pshahzeb commented on #1188
@govint

Agree. In such cases should we return with error to force user to remove the VMs from the vmgroup first (from respective esx host)? This is only for shared mode; for local mode, vmgroup with VMs in it can be deleted.

This is requires user to do additional steps, but is graceful.

[2017-04-27 05:24] govint commented on #1188
Agree, given the VC based capability will remove the need to do commands per host and fact that even now it should be just SSH from a  guest OS to add VMs on multiple ESX hosts, its not extra to expect the user to remove the VMs before removing the vmgroup. Config init and vmgroup add all need to be done per host anyway.

[2017-04-27 06:14] pdhamdhere commented on #1188
Why not skip check_volumes_mounted check, warn user and proceed with deleting vm_group?

[2017-04-27 06:42] shuklanirdesh82 commented on #1198
Thanks to @govint for sharing steps for vum on vsphere 6.5!

**for older VUM**: https://www.ivobeerens.nl/2012/07/17/add-hp-drivers-vib-to-vmware-update-manager-vum/ ... It's a good read for the future reference.

closing this now.

[2017-04-27 07:05] shuklanirdesh82 commented on #1198
there is already an issue for adding documentation for vib installation using VUM see #555 and documentation part will be finished soon.

[2017-04-27 07:05] #1198 closed

[2017-04-27 15:49] akutz commented on #1197
Hi @msterin,

I question why the size values are returned as strings. I suggest switching them to 64-bit integers and always returning `kiB` much like the VI SDK does (although they also refer to them as `kb` when in fact it's `kiB`.

[2017-04-27 15:57] akutz opened #1199 "Attachment info upon Get/List"
Hi,

When inspecting a volume (VMDK) using the vmdk driver's `Get` or `List` functions, it would be fantastic if the device(s) to which that VMDK is attached is/are included in the returned information.

Upon attaching a VMDK to a VM, the device to which the VMDK is attached is returned: `{"ControllerPciSlotNumber": "192", "Unit": "0"}`. However, this information is not currently available for a V

[2017-04-27 16:27] msterin commented on #1197
We did not plan this as generic modules or functions, but as something we needed for admin CLI. Thus specific formats. It maybe be more generic if changed, but unless there is a bug it's unlikely to get enough priority to get touched.

[2017-04-27 16:29] msterin commented on #1199
@akutz - can you add a couple of words or a link to explain how it will be used ? I understand it's something in Rex/Ray , but what is it ? It would help a lot if we understood the use case better.

[2017-04-27 16:32] akutz commented on #1199
Hi @msterin,

Sure thing. I am going to submit a PR for it soon anyway, but I don't mind expounding a bit on its purpose.

Essentially we need to be able to map a VMDK to the device to which it's attached on a VM. While the attach call provided that information at the time of the attach operation, that information is not available at any other time, such as when a VMDK is introspected via the vmdk

[2017-04-27 16:41] #1138 closed

[2017-04-27 16:52] pshahzeb commented on #1188
It breaks the detach logic, as explained in first paragraph of description of #1045

[2017-04-27 17:11] pshahzeb opened #1201 "Review the use of handle_stale_attach"
After #1168,
The status of volume is updated at the poweroff event for VMs. This change makes handle_stale_attach in vmdk_ops useless. Get rid of the this check.
This should indirectly fix #1191. Because metadata reset happens in handle_stale_attach when VM to which a volume is attached isn't found (in shared db mode, the vm might reside on another host and hence won't be able to find)

[2017-04-27 17:17] MattAtTTU opened #1202 "Docker volume cannot be deleted even though no containers are running."
I've just installed the latest plugin and successfully created a volume using it.  There are no containers running in the environment which are using the volume.  When I try to remove it using the standard docker volume rm command, I receive the following error:

[code]

If I try to force the removal, the command returns the volume name indicating it ran successfully.  However, the volume is still

[2017-04-27 17:33] pshahzeb commented on #1202
Could you please share the plugin logs? It will help to debug the inconsistent ref counting.

Meanwhile here is the work around with steps
[code]

[2017-04-27 18:51] shuklanirdesh82 opened #1203 "LogLevel is not handled if present in docker-volume-vsphere.conf"
our new [doc page ](http://vmware.github.io/docker-volume-vsphere/documentation/configuration.html#plugin-configuration) carried out from old [markdown file ](https://github.com/vmware/docker-volume-vsphere/blob/2f7fbed307ea38402f4aa14b8bff0c175503564f/docs/user-guide/docker-plugin-drivers.md#sample-plugin-configuration); it seems `LogLevel` is not handled at config.go

It is being ignored if pres

[2017-04-27 19:03] MattAtTTU commented on #1202
Here is the log file for the plugin.

[docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/962621/docker-volume-vsphere.txt)

The supplied workaround did not work.  Please note I am just trying to delete the volume.  I'm not certain why the busybox container mounted to the volume is necessary but it isn't working.

[2017-04-27 19:59] pshahzeb commented on #1202
Thank you for sharing this.

From the logs, what we can understand is:
Volume is created
`2017-04-27 16:38:12.42456046 +0000 UTC [INFO] Volume and filesystem created fstype=ext4 name="testing_domain@COMP_Ent_VMWare_DockerVols" `

Then we see 2 back-to-back mount requests for same volume indicating Docker started 2 containers using same volume (yes?).
[code]
[code]

Followed by Unmount-Mount-Unmoun

[2017-04-27 20:10] MattAtTTU commented on #1202
It is mounted consecutively like you see in the logs.  However, there is no container left running.

I'll work on retrieving logs.

If you'd like to WebEx, I'm available for the remainder of the day.

[2017-04-28 01:24] pdhamdhere commented on #1202
This seems like a [Docker issue 32907](https://github.com/moby/moby/issues/32907)

[2017-04-28 13:36] #1203 closed

[2017-04-28 13:47] #555 closed

[2017-04-28 14:03] shuklanirdesh82 commented on #1141
Avoiding CI run can be achieved in two ways.

- [ ] Adding `[SKIP CI]` or `[CI SKIP]` at PR title i.e. first commit message while generating PR
- [ ] Adding branch exclude rule to out out running CI job ( PR #1171 is blocked due to https://github.com/vmware/vic/issues/4267)

[2017-04-29 18:04] pdhamdhere commented on #1189
@govint Looking at code, detach should have succeeded.

@shuklanirdesh82 Logs please.

[2017-04-30 02:22] govint commented on #1189
Once the VM is attached to the new vmgroup, the next command will use the default datastore of the new vmgroup and will try to resolve the VMDK path with that. That won't work because the VMDK is present on the datastore of the earlier vm groujp that the VM belonged to.

[2017-04-30 03:36] pdhamdhere commented on #1189
For detach, why do check tenant and DS info? Get VMDK info from VM config and detach. Wasn't #1045 supposed to fix this? @pshahzeb

[2017-04-30 06:06] pdhamdhere opened #1208 "volume in-use error should return VM name"
Current:
[code]
Desired:
[code]
-Replace full VMDK path with volume name
-Add VM name.
-Remove VM-uuid?

[2017-04-30 07:43] govint commented on #1189
vmdk_ops.py:executeRequest()  line 906 the path is the dockvols path on the datastore determined as - default datastore for the vmgroup or the datastore mentioned in the volume name. Then we try to get the vmdk path relative to that DS's dockvols path (line 911). The VM in this case however had a volume attached from its earlier vm group where the vmgroup default DS was VM_DS. The detach req is pa

[2017-04-30 14:12] pdhamdhere commented on #1189
Any reason why we won't do

Disk is already attached and when container stops, I don't see a reason detach should fail.

I can foresee issues where 2 volumes with same name are created in 2 different datastore before and after vmgroup membership change and detach will have to figure out which volume should be detached.

[2017-04-30 16:48] pshahzeb commented on #1189
@pdhamdhere

Yes, that's the reason we can't detach a VMDK from a VM based on VM config.
To prevent this, #1060 introduced checks to disallow membership change when VMs have volumes attached.
Hence in the above tests, adding VM to a new vmgroup should have failed.
Checking if VMs have any volumes attached is done in tenant rm, vm rm, replace.

But when VMs from default tenant are moved to a named

[2017-05-01 02:22] shuklanirdesh82 commented on #1189
Here are the logs.

[vm1_docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/967213/vm1_docker-volume-vsphere.txt)
[vm2_docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/967214/vm2_docker-volume-vsphere.txt)
[Uploading vmdk_ops.txt…]()

[2017-05-01 08:42] govint commented on #1189
Docker won't allow two volumes to be created with the same name and if user provides the @datastore format then those are separate volumes as far as Docker is concerned. And when the ESX service gets the volume name as name@datastore we use that datastore to figure the VMDK path. Otherwise its always the default datastore of the vm group thats used to create the volume path.

[2017-05-01 15:58] shuklanirdesh82 commented on #1189
@govint I have attached the logs (vmdk_ops.txt)

[2017-05-01 18:13] govint commented on #1189
From the plugin and service logs, the user has used vol-name@DS format, which means the service will try to use the DS mentioned in the vol-name.

1. Once VM is moved to new vm group, the new group has no access rights set for the DS used earlier.
2. When container exited and unmount was called (as part of detach), the ESX service failed the request with an access error or the DS thats hosting the

[2017-05-01 18:35] pshahzeb commented on #1189
@govint I agree with your proposed fix and here is what I can think of that not allows us to directly look at vmdk config and detach vmdk.
1. We can have same volume names on same DS across different tenants created through different VMs. One of it may migrate from one tenant to another and try to attach another volume with same name.
2. Since we can't always get fully qualified volume name all th

[2017-05-01 18:43] govint commented on #1189
I'll check, I thought this was the only place where the check was missing.

[2017-05-01 19:24] govint commented on #1189
Updated diff and pushed.

[2017-05-01 19:33] tusharnt commented on #1145
This issue is no longer relevant after PR #1155

[2017-05-01 19:33] #1145 closed

[2017-05-01 22:07] pshahzeb commented on #1188
@pdhamdhere @govint so the fix is: for vmgroup rm, return error to user if multinode mode and vmgroup has member VMs ? I will go ahead and generate a PR then.

[2017-05-02 17:07] tusharnt commented on #1191
@shuklanirdesh82 to add this to known issues.
@govint  to follow up with ESX folks to backport the fix to patch releases.

[2017-05-02 17:21] #1199 closed

[2017-05-02 21:48] shaominchen commented on #1144
Per offline discussion, currently we will not really address the DB file concurrent access issue. For now we will simply return a user-friendly error message instead of the sqlite error.

[2017-05-02 22:44] #1107 closed

[2017-05-02 22:45] msterin commented on #1144
I also suggest adding some log error explaining potential reason, and suggestion to retry

[2017-05-02 23:31] pshahzeb opened #1212 "Refactor common code between photon_driver.go and vmdk_driver.go"
A big amount of code is common in these two files. Need to refactor them and place the common part in a common placeholder.

[2017-05-03 00:32] shaominchen commented on #1144
@msterin I was thinking to add some more messages, such as suggestion to retry. However, considering that the current concurrency issue is actually a rare case comparing to other common DB failures (such as DB corruption, file not exists, etc.). So adding this message might cause confusion in other error scenarios. So I think we may just keep it as is for now (please see the error message I have p

[2017-05-03 01:18] #369 closed

[2017-05-03 01:31] runecalico opened #1215 "Missing steps to install on Photon .. or is it broken on Photon OS?"
First time using Photon, First time trying to use docker-volume-vpshere as well.  So far not very inspiring. Installing the plugin will crash docker, crash systemd (or something) requiring me to "hard power cycle" the VM and afterwards docker refuses to start.

Steps to reproduce:

Download Photon 1.0 Rev 2 OVA
Deploy OVA to VM
Update VM to latest packages (tdnf distro-sync -y), Reboot
After reboo

[2017-05-03 04:22] shuklanirdesh82 commented on #1215
Hi @runecalico,

Sorry to hear that you run into too many issues.

It is likely to be a docker issue https://github.com/moby/moby/issues/22226#issuecomment-292617804

Can you please share `docker` and `docker-volume-vsphere.log` logs for further look?

just FYI: there are photon VMs with docker 1.13.1 on our CI system and plugin installation works fine. It would be great if you can share logs that

[2017-05-03 05:29] govint commented on #1189
Fixed via #1190.

[2017-05-03 05:29] #1189 closed

[2017-05-03 07:34] #1144 closed

[2017-05-03 07:35] pdhamdhere commented on #1215
@runecalico Sorry you had hard time getting started. We are able to reproduce the issue with latest Photon release. We will root cause and follow-up with Photon OS team (CC/ @sharathjg ). Manually upgrading to latest Docker release seems to resolve the issue;

[code]

Another option is to use non-plugin version i.e. RPM version of vSphere Docker Volume Service.

[code]

[2017-05-03 17:54] shaominchen commented on #1188
@pshahzeb I agree it makes sense to disallow deleting vmgroup if there are related volumes attached. But why don't we disallow deleting a vmgroup with some VMs? The issue here is that "Cannot find vm 564d4e04-f778-487a-5e1c-50e6215af0a5". I think we have agreed that we should persist VM names in the DB. Adding VM names in the DB should fix this issue, right?

[2017-05-03 18:16] pshahzeb commented on #1188
@shaominchen
The error "Cannot find vm 564d4e04-f778-487a-5e1c-50e6215af0a5" is actually thrown by check_volumes_mounted() which we do for each VM inside a Vmgroup. This is to ensure that it doesn't have any volumes attached (to ensure fluent detach of volumes)
As part of check_volumes_mounted, we do findVmbyUuid. But as the VM reside(might reside) on another ESX, we aren't able to retrieve VM mor

[2017-05-03 19:56] shaominchen commented on #1188
@pshahzeb I see. That makes sense then, as we actually need the VM MoRef object instead of just VM name here.

[2017-05-03 21:07] shaominchen opened #1219 "The sequence of DB related items are random when running "vmdkops_admin status" command"
When running "vmdkops_admin status" command, I noticed that the sequence of DB related items are inconsistent - see below. Not a serious issue, but we should fix this.

root@sc-rdops-vm09-dhcp-28-64:~] vmdkops_admin status
=== Service:
Version: 0.13.2dfa320-0.0.1
Status: Running
Pid: 290680
Port: 1019
LogConfigFile: /etc/vmware/vmdkops/log_config.json
LogFile: /var/log/vmware/vmdk_ops.log
LogLevel

[2017-05-04 02:01] pshahzeb opened #1220 "Use use full volume name as mountpoint in mount request and check it to avoid redundant mount."
If the refcounting hasn't been successful, we try to mount every time we receive a mount request.
Before mounting, need to check if the volume with a given name is already mounted. If it is skip it.
If not checked and skipped, the second (and further) mount fails with resource busy error.

To check it appropriately, use the full volume name as the mount point. In case of short volume names, get th

[2017-05-04 05:42] pdhamdhere commented on #1215
@runecalico Photon OS team has root caused the issue and working on updated OVA. Issue is tracked in [PhotonOS #640](https://github.com/vmware/photon/issues/640)

In the meantime, you can try one of alternative proposed above (manually upgrade to latest Docker release or use RPM)

Feel free to reach out to us @ containers@vmware.com if you need assistance and we can schedule time to go over featur

[2017-05-04 05:42] #1215 closed

[2017-05-04 11:36] phimic opened #1221 "Installation fails on vmware photon"
Hello,

i try to install docker-volume-vsphere on vmware photon, but after fetching installation aborts and systemd crashes:

[code]

[2017-05-04 13:53] pdhamdhere commented on #1221
@phimic Photon OS team has root caused the issue and working on updating OVA. Issue is tracked in [PhotonOS github #640](https://github.com/vmware/photon/issues/640)

In the meantime, you can try one of alternative proposed in  #1215  (manually upgrade to latest Docker release or use RPM)

[2017-05-04 18:45] tusharnt commented on #1221
@phimic Please feel free to reach out to us @ containers@vmware.com if you need further assistance and we can schedule time to go over features and discuss your use case.

[2017-05-04 18:45] #1221 closed

[2017-05-05 12:10] runecalico commented on #1215
Awesome! I'll look into the suggestions and update. Re: RPM .. Since the doc mentioned that the RPM was no longer the supported/recommended install method (and it's not in the Photon repo) I didn't even look! (doh).   Re: latest docker - I expected it was something like that as I was able to get the driver working on a RedHat 7 box with the latest docker ..  Thanks a bunch, I was hoping to test Ph

[2017-05-05 13:01] runecalico commented on #1215
@pdhamdhere

For an install that has already gone south, the only option seems to be to completely uninstall docker and cleanup any docker locations (like /var/lib/docker and /etc/docker) and then re-install.  At that point.. Both recommendations worked for me. Thanks for the help on getting this working, much appreciated.

[2017-05-05 16:04] pdhamdhere commented on #1215
Thanks @runecalico Keep us posted with results from your experiments and let us know if you run into any issues.

[2017-05-05 19:32] #1159 closed

[2017-05-08 12:17] oliverbestmann opened #1225 "Wrong network type in config.json"
When starting the docker-engine with this plugin, docker creates a bind mount for `/etc/hosts` and `/etc/resolv.conf`. To me, it looks like this is happening because of this line in the config file: https://github.com/vmware/docker-volume-vsphere/blob/master/plugin/config.json#L39

I think the correct value should be the empty string. Compare with this: https://github.com/moby/moby/blob/bbce24997c

[2017-05-08 16:35] msterin opened #1226 "Configure vmgroup for dynamic vm creation"
From  a discussion with a customer. In many cases VMs are provisioned is automated and pretty dynamically. In these case , current mechanism of manually enumerating VMs is not enough, and adding vmgroup customization to existing code of VM provisioning is time consuming.
We should allow one (or all) of the options:
[ ] assign a VM folder or a resource group to a vmgroup. All VMs in the folder get

[2017-05-08 17:32] msterin commented on #1225
Yep, thanks for the catch. //CC @shuklanirdesh82

[2017-05-08 17:35] shuklanirdesh82 commented on #1225
Thanks @oliverbestmann for sharing details!

I will test out locally and supply a quick fix, confirmed this change with @msterin offline (Thanks to  Mark!)

/CC @msterin

[2017-05-08 18:56] #1225 closed

[2017-05-09 17:13] govint commented on #1212
The Create() and Mount() are possibly the only functions that are mostly similar in actions between Photon and the VMDK driver. Rest are specific to use the Photon Controller API and not really separable into common code between the two.

[2017-05-09 17:39] govint commented on #1183
Sorry, missed posting the spec to this issue, will update the spec and post it here with comments addressed. Missed that I'd not published here after the review over mail.

[2017-05-09 20:17] pshahzeb opened #1230 "Remove the status check of a volume on the plugin side"
The status of a volume in it's meta data (result of GetVolume) is used to check if it is detached or not.
Generally we don't make decision based on data in KV file and definitely not inside guest. Disk may be attached to some other VM. If neither refCnt nor mount map suggest disk is attached to this VM then we must issue attach to ESX. If it is already attached, it is a no-op from ESX perspective

[2017-05-09 21:43] pdhamdhere commented on #1202
Docker 17.06.0 will have the fix.

[2017-05-09 21:43] #1202 closed

[2017-05-09 22:09] #1220 closed

[2017-05-10 04:59] pdhamdhere opened #1232 "Documentation broken links"
All links on following page are broken; http://vmware.github.io/docker-volume-vsphere/documentation/docker-compatibility.html

CC/ @tusharnt

[2017-05-10 16:36] tusharnt commented on #1232
cc @girishshilamkar , @vishal-biyani

[2017-05-10 17:22] pshahzeb opened #1233 "VSAN volume status isn't updated to "detached" on VM poweroff event"
Steps to reproduce
1. create a volume on vsanDatastore
2. attach this volume to a container
3. kill the VM
4. use /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py volume ls to verify the status. It will be attached to the VM.

Reason:
We decide if a volume is vDVS volume if its backing file name starts with "dockvols"
But on vsan dockvols is a symlink to the directory uuid. So the volume backing file

[2017-05-10 17:28] #1188 closed

[2017-05-10 18:27] shaominchen commented on #1233
I agree. Let's create a PR for this.

[2017-05-10 18:27] #1232 closed

[2017-05-10 18:44] msterin commented on #1233
findDeviceByPath() already uses os.path.realpath. Where exactly is the bug ?

[2017-05-10 19:32] pshahzeb opened #1236 "[Refactor] Use constants instead of literals on vmdkops service code"
Some literals have been sprinkled instead of constants for them in vmdkops.py, vmdk_utils.py etc.
Make usage of constants wherever possible and have the definition on one place holder.

[2017-05-10 20:32] #1233 closed

[2017-05-10 23:32] shaominchen opened #1237 "Wrong indention in the docker-stack yaml file"
There's a wrong indention in the docker-stack yaml file on this page: http://vmware.github.io/docker-volume-vsphere/documentation/docker-stacks.html

Instead of this:

volumes:
++db-data:
++++driver: vsphere
++++++driver_opts:
++++++++size: 1Gb

Should be like this:

volumes:
++db-data:
++++driver: vsphere
++++driver_opts:
++++++size: 1Gb

[2017-05-10 23:39] tusharnt commented on #1237
cc @girishshilamkar

[2017-05-11 17:23] #1237 closed

[2017-05-11 17:31] tusharnt commented on #202
Here's a blog that explains how to use ESXi image builder for deploying VIBs - https://blogs.vmware.com/vsphere/2012/04/using-the-vsphere-esxi-image-builder-cli.html

We need to provide concrete steps for installing vDVS VIB by following the above info.

[2017-05-12 22:06] shaominchen commented on #1072
The fix is trivial: just replace %x with %s at line 324 in the file esx_service/utils/kvESX.py

[2017-05-15 04:35] govint opened #1247 "Add NFS client lib to vendor"
To mount NFS volumes we need an NFS library to get the mount protocol and NFS server mount done on the guest. This issue is to pull https://github.com/davecheney/nfs into the volume plugin repo.

[2017-05-15 04:44] pdhamdhere commented on #1247
Last commit on that repo was 5yrs ago. Should we be looking at alternatives?

[2017-05-15 11:44] govint commented on #1247
Figured we don't need this. I'll run the command line via Exec()

[2017-05-15 11:44] #1247 closed

[2017-05-16 05:27] shuklanirdesh82 commented on #1057
Checked with VSAN performance team with the collected performance data from our run. The outcome is inline with vsan performance team too. There are some extra steps while creating object on the vSAN datastore compare with VMFS datastore. In addition to that our CI is using nested ESX VMs. We have planned to improve our test execution hence closing this issue as `wontfix`.

[2017-05-16 05:27] #1057 closed

[2017-05-16 05:32] shuklanirdesh82 commented on #472
new test framework integration task is done through #1246 so closing this Issue.

[2017-05-16 05:32] #472 closed

[2017-05-16 06:02] shuklanirdesh82 commented on #404
Sharing some notes from my analysis:

our test-esx tests are written using python unittest framework, a preliminary analysis was done through [coverage-py](http://coverage.readthedocs.io/en/latest/#coverage-py) and easier to capture the coverage data for some tests by running locally the rest of tests required to have access pyVmomi library. Our test-esx tests run on the ESX by copying them on the

[2017-05-16 06:12] shuklanirdesh82 opened #1249 "Automate docker swarm P0 testcases"
Detailed steps are outlined at https://github.com/vmware/docker-volume-vsphere/issues/601#issuecomment-282157695

[2017-05-16 06:16] shuklanirdesh82 opened #1250 "Add support to automation script for running swarm testcases (on nimbus infra)"
As of now our deployment scripts deploys testbed with 4 ESX vms and 6 docker host vm (preconfigured with docker version passed as input).

We need to enhance the deployment script to get the testbed with docker swarm cluster configured.

/CC @shaominchen

[2017-05-16 06:17] shuklanirdesh82 opened #1251 "Prepare CI testbed to run swarm testcases"
This is manual effort to configure our CI infrastructure to run docker swarm automated testcases.

Depends on #1249

[2017-05-16 06:27] shuklanirdesh82 opened #1252 "[3 tests] Automate refcount P0 testcases"
- [ ] Testcase 1: Test stale mounts
Steps:
[code]

- [ ] Testcase 2: Kill Plugin
[code]

- [ ] Testcase 3: kill docker host vm
[code]

Note: New change for 0.14

reference count rescan
With --restart=always flag containers are restarted even after  docker host restart.
Verify tests 1 to 4 with and without this flag. If this flag is used, containers are restarted and disk will be attached again. If

[2017-05-16 06:29] shuklanirdesh82 opened #1253 "Revisit existing refCount test"
Existing refCount test is copied over the remote docker host that invokes `refCount.sh` (it should be avoided to keep it consistent with other existing test)

[2017-05-16 06:33] shuklanirdesh82 opened #1254 "[3 tests] Automate P0 plugin Test Cases"
- [ ] 1. Verify volume creation with different options for volume names
Detailed steps are found at https://github.com/vmware/docker-volume-vsphere/issues/856#issue-200197407 & https://github.com/vmware/docker-volume-vsphere/issues/856#issuecomment-277108897

- [ ] 2. Verify volume creation with different volume create options
Steps are found at https://github.com/vmware/docker-volume-vsphere/issu

[2017-05-16 06:37] shuklanirdesh82 opened #1255 "Generate test execution report in automated fashion"
Existing test run is not showing how many run, pass, fail ...etc counts.

As a developer, I would like to have an access to the report which shows test execution status for the PR.

/CC @tusharnt

[2017-05-16 06:38] shuklanirdesh82 opened #1256 "[1 Test] Automate P0 vm listener testcase"
- [x] vmdkops service restart

[code]

[2017-05-16 06:42] shuklanirdesh82 opened #1257 "Rename existing go test file names as per naming standard"
This is 2nd part of #1243 ... files are moved to /root/tests folder and it is the time to rename the file as per naming conventions discussed in [effective_go](https://golang.org/doc/effective_go.html)

[2017-05-16 11:19] govint commented on #1093
Issue seems to be fixed in current code,

 /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup ls
Uuid                                  Name           Description                Default_datastore  VM_list
------------------------------------  -------------  -------------------------  -----------------  -------
11111111-1111-1111-1111-111111111111  _DEFAULT       This is a default vmgroup  _VM_DS

[2017-05-16 11:19] #1093 closed

[2017-05-16 12:15] govint commented on #1001
Current code seems to work ok.

 /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup ls
Uuid                                  Name           Description                Default_datastore  VM_list
------------------------------------  -------------  -------------------------  -----------------  -------
11111111-1111-1111-1111-111111111111  _DEFAULT       This is a default vmgroup  _VM_DS
05c0d4b2-9

[2017-05-16 12:15] #1001 closed

[2017-05-16 13:04] govint opened #1258 "Admin CLI config rm doesn't remove the DB when --no-backup option is used"
/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py config rm --no-backup --local --confirm

ls -l /etc/vmware/vmdkops/
total 20
-rw-r--r--    1 root     root         15360 May 16 11:17 auth-db
-rw-r--r--    1 root     root          1257 May 16 11:08 log_config.json

/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py config status
DB_Mode: SingleNode (local DB exists)
DB_LocalPath: /etc/vmware/vmdkops/auth-db

[2017-05-16 13:35] govint commented on #1162
Simulate error in creating DB,

 bin/vmdkops_admin.py config init --local
Warning: this feature is EXPERIMENTAL
Creating new DB at /etc/vmware/vmdkops/auth-db
Init failed: Vmgroup _DEFAULT does not exist

 bin/vmdkops_admin.py config init --local
Warning: this feature is EXPERIMENTAL
Config DB  is already initialized. Use 'rm --local' to reset

ls -l /etc/vmware/vmdkops/
total 20
-rw-r--r--    1 r

[2017-05-16 13:38] govint commented on #1162
With the fix (but with the simulated error still in place we see the DB is removed if init fails,

bin/vmdkops_admin.py config init --local
Warning: this feature is EXPERIMENTAL
Creating new DB at /etc/vmware/vmdkops/auth-db
Init failed: Vmgroup _DEFAULT does not exist

bin/vmdkops_admin.py config init --local
Warning: this feature is EXPERIMENTAL
Creating new DB at /etc/vmware/vmdkops/auth-db
Ini

[2017-05-16 15:57] shuklanirdesh82 opened #1261 "[5 tests] Automate P0 Tenancy testcases"
- [ ] ~1. Moving a VM across tenants and validates volume accessibility~
~steps: Please refer Issue #897~

- [x] 2. Add VMs to the _DEFAULT tenant
steps: Please refer Issue #1125

- [ ] ~3. Verify 'Attached to vm' field~
~steps: Please refer Issue #1053~

- [x] 4. Orphaned volume should not be viewable from any docker host
steps: Please refer Issue #1031

- [x] 5. Tenant ls command does not works

[2017-05-16 16:02] shuklanirdesh82 opened #1262 "[9 tests] Automate P0 Tenancy testcases"
- [ ] 1. Verify _DEFAULT tenant exist with default privileges and verify volume creation
steps: Please refer Issue #895

- [ ] 2. Verify volume creation by updating access privileges for _DEFAULT tenant
steps: Please refer Issue #895

- [ ] 3. Verify volume creation after deleting _DEFAULT tenant
steps: Please refer Issue #899

- [ ] 4. Verify volume creation from new tenant
steps: Please refer Is

[2017-05-16 16:13] shuklanirdesh82 opened #1263 "Automate Basic tests"
Detail steps are mentioned at https://github.com/vmware/docker-volume-vsphere/issues/957#issue-209840924 & https://github.com/vmware/docker-volume-vsphere/issues/957#issuecomment-282431323

[2017-05-16 16:16] shuklanirdesh82 opened #1264 "[2 Tests] Automate P0 Misc tests"
- [ ] Test to delete the policy which is applied to a volume
Steps: Please refer #1010

- [ ] Test to verify 'admin cli policy ls' shows correct behavior if some volume is using the policySteps: Please refer #853

[2017-05-16 19:22] shuklanirdesh82 opened #1267 "integrate tests package to perform code quality checks"
integrate tests package to perform code quality checks ... currently test scripts and common utils are not as per the standard.

Two tasks

- [x] update https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/Makefile to add package detail

- [x] Address warning/error generated by golint (see below)
[code]

/CC @tusharnt

[2017-05-16 19:49] shuklanirdesh82 opened #1268 "Upgrade drone node to use drone 0.5 release"
CI is running with drone 0.4 release and needs to be upgraded.

Some probable tasks

- [ ] configure test launcher node to have 0.5 release

- [ ] .drone.yml or .drone.dev.yml files needs to be updated to accommodate new version

- [ ] re-sign the security file

[2017-05-16 19:58] shuklanirdesh82 opened #1269 "configure CI test infrastructure to use physical ESX box instead of nested ESX vms"
Please refer https://github.com/vmware/docker-volume-vsphere/issues/1057#issuecomment-301679210 for more information.

Currently, CI testbed is configured to use nested VMs and detected slowness is expected in nested environment. This issue is to configure dedicated esx box to run our tests.

/CC @tusharnt

[2017-05-17 01:37] shuklanirdesh82 opened #1271 "Separate out all constants to its dedicated package to reuse"
currently some of the tests are using local string constant, it should be carried out to dedicated `/tests/constants` package.

[2017-05-17 02:39] #1257 closed

[2017-05-17 02:43] #1267 closed

[2017-05-17 03:25] #1072 closed

[2017-05-17 20:51] #1271 closed

[2017-05-18 18:29] #1208 closed

[2017-05-18 18:42] shuklanirdesh82 opened #1274 "deploy-all target should take more than one ESX and more than 2 VMS"
Currently our deployment script installs VIB only to one ESX and plugin on 2 VMs. Our deployment target should takes care multiple input.

[2017-05-19 07:30] shuklanirdesh82 opened #1277 "Extend test verification using govmomi functionality"
Please refer https://github.com/vmware/docker-volume-vsphere/blob/master/tests/utils/verification/volumeproperties.go#L107 for more information.

govmomi support is required to traverse through VC/ESX inventory.

[2017-05-19 09:01] govint commented on #1162
Closed via #1259

[2017-05-19 09:01] #1162 closed

[2017-05-19 18:52] govint commented on #1183
Closing per discussion. There isn't a need to support NFS (or rather, non-vSphere storage) in the plugin or even as a separate plugin. There's little value add to have this capability when multiple options exist already to use NFS and more network based storage with Docker.

[2017-05-19 18:52] #1183 closed

[2017-05-19 19:57] shuklanirdesh82 opened #1279 "Prepare CI testbed to run all P0 tests"
Currently CI is having 1 ESX and 2 VMS for vSphere 6.5 and the same for 6.0. For running P0 tests, there is a need of having 2 ESX + 6 vms (1 vm each on local/shared/vsan).

2 ESX 6.5 as nested VMs:

- having access to 3 datastore (shared/local/vsan)
- 1 vm each on above datastores ( 3vms)

The same setup for ESX 6.0 U2 as well.

[2017-05-19 19:57] ashahi1 commented on #1250
Have modified the testbed deployment script to take care of configuring swarm in the deployed VMs for the testbed deployed on Nimbus. Closing this issue for now.

[2017-05-19 19:57] #1250 closed

[2017-05-19 20:01] shuklanirdesh82 opened #1280 "[test automation common util] Add an approach to query specific test vm/esx details for automation tests"
Enhance https://github.com/vmware/docker-volume-vsphere/blob/master/tests/utils/inputparams/testparams.go to gain more hooks on the underlying testbed. It helps for test automation scripts and increases readability.

[2017-05-20 00:45] venilnoronha opened #1281 "Addition of VM to VM Group fails"
I came across this issue while trying out the multi-tenancy feature.

### Issue
[code]

### Version
[code]

[2017-05-22 18:54] pshahzeb commented on #1252
Test 3 doesn't hit refcount logic. It is because of step 4, which will trigger VM listener event and disk would be detached after step 4 itself. This gets tested through #1256 .

[2017-05-22 20:58] venilnoronha commented on #1281
I don't see this issue anymore.

[code]

[2017-05-23 03:00] pshahzeb commented on #1277
As of now, the check to compare vm name attached to a volume against expected vm name (obtained using govc) in VerifyAttachedStatus in tests/utils/verification/volumeproperties.go is commented. Need to uncomment it.

[2017-05-23 04:25] shuklanirdesh82 commented on #1277
What is the reason for reopening this issue? This issue has nothing to do with the problem we are dealing with photon vm's guest IP.

Closing this PR and need to open a separate issue to take care about uncommenting part.

/CC @shaominchen

[2017-05-23 04:25] #1277 closed

[2017-05-23 04:35] shaominchen opened #1284 "The utility function govc.RetrieveVMNameFromIP() is not working properly when guestOS flips its IP address as docker IP"
In PR #1278 we introduced a testing utility function govc.RetrieveVMNameFromIP(), which is supposed to get the VM name for the given IP by calling govmomi. During test, it turns out the function is not working properly with Photon VM - there are some issues dealing with Photon VM's guest IP.

The usage of this function has been temporarily commented out in PR #1276.

[2017-05-23 04:37] shaominchen commented on #1277
Opened a new issue: #1284

[2017-05-23 12:17] govint commented on #1262
Tests 4 overlaps with 1 and 5 isn't allowed anymore. Vmgroup can't be deleted with a VM in it. Test 6 in #899 led to fixes that prevent deleting the vmgroup with a VM in it. Test 3 is also disallowed now.

[2017-05-24 02:03] pshahzeb opened #1289 "Test utils refactoring to change return type from []byte to string"
A lot of the e2e test utils return type is []byte which is later converted to string. Need to convert it to string in one place to avoid sprinkling of conversions everywhere.

//CC @shuklanirdesh82 @shaominchen

[2017-05-24 13:15] govint commented on #1201
Prioritizing #1262 for now to get those test cases implemented. Have made the changes based on last round of reviews, needs testing and then will push the changes again.

[2017-05-24 17:29] pshahzeb commented on #1252
Automated through #1265 and #1287

[2017-05-24 17:29] #1252 closed

[2017-05-24 17:49] #1256 closed

[2017-05-24 19:02] ashahi1 opened #1291 "vmdk_opsd does not properly restart on signal 10 (and instead throws an exception)"
Seeing ```Function not implemented error``` in the vmdkops log after I run the command to Initialize the Config DB to SingleNode.

Command: /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py config init --local

/var/log/vmware/vmdk_ops.log snippet:
[code]

Logs:
[vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/1026768/vmdk_ops.txt)

[2017-05-24 19:24] govint commented on #1291
Happens in the signal handler when the service is restarted. Saw this a few times last week but then its not consistent. Are we trying to restart the script when the signal is received?

[2017-05-24 23:00] msterin commented on #1291
To clarify what is going on:

* for some reason ` os.execve` in `signal_handler_restart` throws the "function not implemented" exception (see above). **This causes the whole service to exit, and it is restarted by init.d watchdog , up to 10 times (per config in vmdk-opsd). After the 10th time the service stays down**

* this exposes a few obvious glitches, but unfortunately it is not clear what is

[2017-05-24 23:01] msterin commented on #1291
Setting to P0 because this bug will ALWAYS lead to service down after 10 attempts to do "vmdkops_admin.py config init" or "config rm"

[2017-05-24 23:02] msterin commented on #1291
ANother point: we can replace the whole signal sending with running os.system("/etc/init.d/vmdk-opsd restart") from admin tool (instead of . THis is heavy but can be a tmp patch.

[2017-05-24 23:03] shaominchen opened #1294 "E2E test util verification.ExecCmd may cause the whole e2e test exit"
E2E test util verification.ExecCmd may cause the whole e2e test exit due to log.Fatal() call. Instead of fixing log.Fatal(), we should simply remove this util, because it does nothing, but just checking the error and writing a log. We should use ssh.InvokeCommand directly.

@shuklanirdesh82 @ashahi1 @pshahzeb @govint

[2017-05-24 23:24] tusharnt commented on #1281
Venil,
If this was happening due to a setup issue then please close the issue. If not, we need to analyze the further to find the root cause.

[2017-05-25 00:18] venilnoronha commented on #1281
It probably must have occurred due to the setup. Closing.

[2017-05-25 00:18] #1281 closed

[2017-05-25 00:50] #1251 closed

[2017-05-25 00:52] #1289 closed

[2017-05-25 18:49] shuklanirdesh82 opened #1295 "Remove redundant testcase"
With basic_test implementation, https://github.com/vmware/docker-volume-vsphere/blob/master/tests/e2e/volumecreation_test.go becomes redundant and better to remove it.

/CC @shaominchen @govint

[2017-05-25 18:54] govint opened #1297 "E2E tests - standardise input params, naming, use of logs etc."
From the changes identified till date for #1286 below are items that need to be done to avoid continuous re-writes of the test code to use one approach over another.

1.  Convert all test groups to use gocheck vs. GO testing package - some of the tests in the repo are using gocheck while a couple are still using the earlier approach.
1. Each test group seems to be using different env. variables to

[2017-05-25 18:54] shuklanirdesh82 commented on #1096
@ashahi1

As we have gocheck testing framework, let's have a plan to use gocheck instead of go testing so it will be easier to manage testcases.

Please prioritize this task to finish as part of 0.15 milestone.

Thanks.

/CC @tusharnt

[2017-05-25 19:03] govint commented on #1294
When errors happen in the test run we need to know if the issue was with the command executed (syntax or invalid command options for example) or an issue with the service/plugin. Its best if ssh.InvokeCommand() logs the actual command that's was executed - especially when the command fails (at least).

ssh.InvokeCommandLocally() is checking and logging a fatal log if the command failed.

[2017-05-25 19:14] shuklanirdesh82 commented on #1294
It is a trade-off using `log.fatal()`; are we agreeing to get same kind of failures/cascading failure or stop immediately when one of the test fails to invoke supplied command?

When something goes wrong while invoking command incase of remote host is not available (for example); `log.fatal()` makes sense in that scenario otherwise it needs to be change and use `log.Printf()` and let test decide w

[2017-05-25 19:19] govint commented on #1294
Actually, fatal level logs aren't needed, the test thats calling InvokeCommand will check the error and do a C.Assert which will stop that test anyway with logs.

[2017-05-25 20:55] #1295 closed

[2017-05-25 20:58] ashahi1 opened #1298 "Unable to remove volume even though volume is not attached"
Test failed to remove volume even though volume is not attached.
Hit this issue on CI: https://ci.vmware.run/vmware/docker-volume-vsphere/259

Test logs:
[code]

**Test steps:**
[code]

[2017-05-25 21:30] shaominchen commented on #1294
I agree with Govindan here. We shouldn't use fatal log in any tests because it will exit the whole test program, which is definitely not we want. As Govinden suggested, returning the error and let the test cases to decide what to do.

[2017-05-25 21:30] shuklanirdesh82 commented on #1298
It is a race condition having it said it is an intermittent issue. Refcounting was in flight and docker thinks the volume is in use infact it was not; tagging this as test issue and supplying a slight more wait time.

Test is passed while looking at the `detached` state see below:

vmdkops.log
[code]

test log
[code]

docker host syslog
[code]

docker-volume-vsphere log
[code]

[2017-05-25 21:33] shuklanirdesh82 commented on #1294
Thanks @govint & @shaominchen ... I will take care and make a uniform change.

[2017-05-26 00:27] shaominchen opened #1301 "[E2E] Need a general poller util to avoid blind sleeping in the tests"
In some e2e tests, we have to wait until some time-consuming operations (such as VM power on/off, Kill Docker Container, etc.) to complete. Currently we are just blindly sleeping for some fixed time, and then verify the expected result. This is not only inefficient, but also unstable.

It's inefficient because we have to set a time limit big enough to make sure the operation is completed, and even

[2017-05-26 05:30] shuklanirdesh82 commented on #1297
Thanks @govint here is the response from myside. Most of the items had been discussed before starting 0.15 sprint/release for automation effort.

1. #1253 & #1096 are meant for 0.15 and already decided to convert them.
2. https://github.com/vmware/docker-volume-vsphere/blob/master/tests/utils/inputparams/testparams.go will be treated as a central place for common variable to consumed by testcases.

[2017-05-26 09:39] ashahi1 opened #1302 "[CI] deployESXInstall failed during CI run"
**CI run:** https://ci.vmware.run/vmware/docker-volume-vsphere/263

**Error:**
[code]

**hostd.log:**

[code]

[2017-05-26 10:42] ashahi1 commented on #1302
One more instance on CI of the same failure: https://ci.vmware.run/vmware/docker-volume-vsphere/264

[code]

[2017-05-26 14:49] govint commented on #1297
@shuklanirdesh82 can you ensure that inputparams is the place to add all code for initializing common vars consumed by test cases.

Closing this issue as other issues are handled via other PRs/issues.

[2017-05-26 14:49] #1297 closed

[2017-05-26 14:51] govint opened #1303 "E2E tests - exit the test if needed env. vars aren't set."
The E2E tests need some env. vars set like GOVC_* variables without which the tests don't work. If these aren't set then ensure that the tests aren't started. misc/scripts/build.sh should verify and exit vs. spawning the container to run the tests.

[2017-05-26 21:32] #1298 closed

[2017-05-26 23:15] pshahzeb opened #1304 "Volume access update from admin cli fails with short volume name."
If short volume name is used to update volume access through admin cli, the update fails.
But works for with full volume name.
Since access update requires specifying vmgroup, the short name should be fine for access update.

The reason why it fails is because set_vol_opts  only relies on volume name supplied in arguement.
If datastore isn't present,  it fails.
This function should retrieve the de

[2017-05-26 23:25] ashahi1 opened #1305 "[TestAutomation] Move all env/govc related functions to inputparams pkg"
Move all env/govc related functions to inputparams pkg

[2017-05-28 06:01] govint opened #1307 "Volumes left in DB while removed from the datastore"
While testing vmgroups found that its possible to remove a vmgroup while volumes are in it (without the option to remove volumes) and the volumes are in the DB only after that as below,
[root@localhost:/vmfs/volumes/523c14b7-e5561042-5e2f-002481aaea6c/dockvols] /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py volume ls -c volume,vmgroup
Volume                              VMGroup
---------------------

[2017-05-28 06:04] govint commented on #1307
Sorry, wrong issue.

[2017-05-28 06:04] #1307 closed

[2017-05-29 10:36] govint commented on #1302
Seems, the same issue - https://ci.vmware.run/vmware/docker-volume-vsphere/280

[2017-05-30 18:33] shaominchen opened #1308 "vmlistener_test tearDown logic is unstable"
vmlistener_test tearDown logic is unstable: it fails intermittently when I run e2e test locally:

2017/05/30 18:28:55 Failed to invoke command [docker volume rm vmlistener_test_volume_1496168883]: exit status 1

----------------------------------------------------------------------
FAIL: vmlistener_test.go:61: VMListenerTestParams.TearDownTest

vmlistener_test.go:67:
    c.Assert(err, IsNil, Comme

[2017-05-30 18:35] shaominchen commented on #1308
@shuklanirdesh82 Can you please take a look?

[2017-05-30 18:54] shuklanirdesh82 commented on #1308
@shaominchen can you please supply the whole test run log?

[2017-05-30 18:57] shaominchen commented on #1308
@shuklanirdesh82 My local environment has been overwritten by other tests. Will provide if I reproduce this. Meanwhile you can also try to run e2e test locally a few times - it should not be difficult to reproduce.

[2017-05-30 18:58] shuklanirdesh82 commented on #1308
@shaominchen I did multiple times (6 times so far with master code) and not able to reproduce hence the request for full logs.

[2017-05-30 19:25] shuklanirdesh82 commented on #1308
BTW .. PR#1306 should take care of such intermittent failure (supplied a quick PR) until we are getting rid off all `log.fatalf()` messages.

[2017-05-30 19:48] shuklanirdesh82 commented on #1294
E2E test util verification.ExecCmd has been removed so closing this issue not and opening a separate issue to take care about removing `log.fatalf()` after getting massive refactor from #1096.

[2017-05-30 19:48] #1294 closed

[2017-05-30 20:25] shaominchen commented on #1308
@shuklanirdesh82 Here are the complete logs:

shchen-m02:docker-volume-vsphere shchen$ make e2e-test
/Library/Developer/CommandLineTools/usr/bin/make --directory=vmdk_plugin e2e-test
Makefile:152: warning: overriding commands for target `clean'
../plugin/Makefile:87: warning: ignoring old commands for target `clean'

=> Running target e2e-test Tue May 30 12:16:14 PDT 2017

../misc/scripts/build.sh

[2017-05-30 20:30] shuklanirdesh82 commented on #1308
Thanks @shaominchen #1306 takes care of this one.

[2017-05-31 06:43] #1302 closed

[2017-05-31 08:50] govint opened #1311 "E2E - restart test errors"
Ran the e2e tests with no env. vars set, its supposed to fail which is ok, but at least take care of Panic issues.

2017/05/31 07:06:17 Creating volume [restart_test_volume_1496214377] on VM []

----------------------------------------------------------------------
FAIL: restart_test.go:38: PluginSuite.SetUpTest

restart_test.go:46:
    c.Assert(err, IsNil, Commentf(out))
... value *exec.ExitError

[2017-05-31 12:31] Eireocean opened #1312 ".vmdk Being formatted / recreated on Node failure."
Good Day,

We are testing vSphere Docker Volume Service (vDVS) in a testing environment :

- VMWare ESXi 6.5.0 build 5310538
- Datastore VMFS 5

- CentOS 7.3.1611
- Kernel 3.10.0-514.16.1

- Docker EE 17.03.1.ee.3-1

We have 3 x Nodes all Managers in a Swarm.

The issue we are having is that we deploy Wordpress with MariaDB (Stack) on a Persistent Disk and test High-Availability. The Node that Mar

[2017-05-31 14:31] pdhamdhere commented on #1312
@Eireocean We are looking into this. From log snippets, it does seem like failover of maria_db is **successful** and it's re-using `wordpress_mariadb` volume created earlier on Node 3.

We will reproduce this internally update here.

[2017-05-31 14:39] Eireocean commented on #1312
Thanks ... yes does appear so but this is what I get :

Before :

[code]

After :

[code]

[2017-05-31 19:44] shuklanirdesh82 opened #1313 "Optimize existing deployment and test run scripts"
Our deployment scripts performs installation/cleanup for VIB and plugin multiple times while running against CI.

1. there are 2 ESX 6.5 & 6.0 and 8 VMS currently on the CI (need to perform installation in an optimize way)
2. avoid running test multiple time (e.g. plugin test which doesn't care about vsan,vmfs)

[2017-05-31 19:46] shuklanirdesh82 commented on #1301
@shaominchen  I am parking this with you .. let's see we need it as part of 0.16 or we may defer it for  v1GA.

[2017-05-31 20:44] shaominchen opened #1314 "[E2E] Refactoring e2e constants to avoid package name conflicts"
Currently in e2e test suite we have defined a lot of utility functions and constants in different folders. The problem is: these utils and constants are defined in the same package, which will cause naming conflicts in the imports. Even though we can use alias in the imports, it's still annoying and it's causing confusion when referencing the same name constant and functions. For example:

	"githu

[2017-05-31 20:55] lipingxue commented on #1312
@Eireocean We are able to reproduce this issue using the yaml file you provided. After analysis the log and your yaml file, we found the root cause:
This line in your yaml file is incorrect:
volumes:
       - mariadb:/var/lib/sql

It should be changed to:
volumes:
       - mariadb:/var/lib/mysql

With your original yaml file, a local volume will be created and mapped to "/var/lib/mysql".
After nod

[2017-06-01 05:11] shuklanirdesh82 commented on #1311
@pshahzeb I am assigning to you as you worked on the plugin test.

[2017-06-01 05:40] shuklanirdesh82 commented on #1314
how about renaming the package as `admincliconst`?

[2017-06-01 06:29] Eireocean commented on #1312
... well the word dumb comes to mind now. Thanks very much for the help.

[2017-06-01 06:29] #1312 closed

[2017-06-01 16:08] nbaillie opened #1315 "compose yml with datastore selection"
im ok with the creation of volumes like the bellow:
docker volume create --driver=vsphere --name=MyTestVol@VMWARE-DOCKER -o size=1gb

But how can i add the @VMWARE-DOCKER component to the yml for stack deployment?

i have tried Like.....
volumes:
    db:
       driver: vsphere
       driver_opts:
         size: 120Gb
         datastore: VMWARE-DOCKER

and.....
volumes:
    db@VMWARE-DOCKER:

[2017-06-01 17:13] pdhamdhere commented on #1315
@nbaillie Thanks for reporting issue. `@datastore` is optional. By default volumes are created on same datastore as VM. All VMs on same datastore can use volume without specifying `@datastore` qualifier.

Not able to specify `@datastore` in compose file is a BUG. Thanks for catch.

[2017-06-01 17:32] tusharnt commented on #1255
Test execution report should include the following
1. How many passed/failed
2. Time taken by each test group
3. Time taken by each test

[2017-06-01 18:30] lipingxue commented on #1315
@nbaillie The following is a workaround:
1. Create the volume
[code]
2. use the volume as "external volume" in compose file:
[code]

May I know why you need to specify the datastore name explicitly? By default volumes are created on the same datastore as VM.  Thanks!

[2017-06-01 18:47] shuklanirdesh82 opened #1316 "Automate testbed to have nested VMs and vm into resource pool"
Reference: https://github.com/vmware/docker-volume-vsphere/issues/747#issuecomment-284125817

Testbed automation.
- [ ] Need to check whether we can extend testbed deployment script which creates atleast one vm into nested vm folder and at-least one vm into resource pool

[2017-06-01 18:51] shuklanirdesh82 opened #1317 "Prepare a runlist for nested VM/resouce-pool VM testbed"
Reference #747

Tasks:

- [ ] Create a runlist to add planned tests from #747
- [ ]  Tests should be run in automated fashion bi-weekly/per-release

[2017-06-01 18:58] shuklanirdesh82 opened #1318 "[E2E] Automate VM listener P1 tests [Part 1/2]"
- [ ] VM suspend, resume:
[code]

- [ ] hostd restart
[code]

- [ ] Kill hostd service
[code]

[2017-06-01 18:59] shuklanirdesh82 opened #1319 "[E2E] Automate VM listener P1 tests [Part 2/2]"
- [ ] Kill vm when hostd was down and verifies volumes remain attached when hostd restarts as
[code]

- [ ] Kill vm when hostd was down and verifies volumes remain attached when hostd restarts as hostd knows nothing of the shutdown VM
[code]

[2017-06-01 19:04] nbaillie commented on #1315
Thanks for the workaround, and I'm happy to help catch this.

We have the VMs Primary Volume on a vVol datastore and want to have the Docker volumes not on vVol as our storage layer has better support and features for non-vVol datastore additionally we are looking at using different performance tiers of storage for certain volumes, Logs,db,archives
 etc.

[2017-06-01 20:18] pshahzeb opened #1321 "[E2E] Automate P1 plugin tests"
- [ ] Recover and extra mount
   a. Start 2 containers using same volume with restart=always
   b. restart docker and wait for containers to start and reference counts to be initialized.
   c. Start 1 container using same volume
   d. Stop all 3 containers and confirm disk is detached

- [ ] 	 Short & long names
   a. Start container with restart flag and use short name for volume (vol1)
   b. res

[2017-06-01 20:22] shuklanirdesh82 opened #1322 "Getting more done in GitHub with ZenHub"
Hola! @shuklanirdesh82 has created a [ZenHub](http://www.zenhub.com) account for the **vmware** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZH