[2016-10-21 06:41] govint commented on #633
Shouldn't we simply update the vib on the repo?

CC @kerneltime

[2016-10-21 09:34] brunotm commented on #626
@govint

Occasionally observed this issue with the code from #612 when running make test-vm in a vsan (only?) environment.

ESX 6u2 with a vsan datastore
Docker host VMs Ubuntu 16.04
docker version 1.12.1

Logs http://pastebin.com/UybXCQME

[2016-10-21 09:45] brunotm commented on #638
@govint
I think this would be the expected behaviour, but from a backward compatibility perspective (if needed at this point) maybe you previous change can make more sense if we log the absence of the fstype attr for the volume. Because we will always get the error in client from syscall.Mount() if the fstype is invalid.

The only scenario i can think of an invalid or empty fstype going into the v

[2016-10-21 22:29] pdhamdhere commented on #638
I am fine with proposed change. Report an appropriate error. No backward compatibility. I believe this change will also help if Host is attempting to mount volume created and formatted with filesystem which is not available on current Host.

[2016-10-22 10:03] brunotm commented on #638
@govint
After thinking more throughly, i really think your previous proposed change makes more sense:

- We would catch an invalid or unsupported error anyway in syscall.Mount().
- My previous case for fstype being empty in KV is not possible without previous errors in the current code.
- It assures backward compatibility. (if needed)
- Its cleaner
- Bot ext4,ext3 and ext2 can be mounted using fst

[2016-10-24 04:37] govint commented on #626
Been trying this with VMFS and without the threaded code. I'll need to check this with the threading code included. Seems like the KV file is being accessed ahead of it being written. Will wait for the threading code to be submitted in its final form.

[2016-10-24 17:22] msterin commented on #638
fixed by #639

[2016-10-24 17:22] #638 closed

[2016-10-25 11:53] govint commented on #633
PR #641  fixes the error for the status command,.

[2016-10-25 18:21] govint commented on #633
This is what I'm getting, with the current code. @markspoer can you give
access to your host so I can debug this.
  ---
[root@localhost:~] /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py ls
Volume                     Datastore   Created By VM        Created
          Attached To VM   Policy  Capacity  Used      Filesystem Type
 Access      Attach As
-------------------------  ----------  ------------

[2016-10-25 18:54] govint commented on #638
Agree, this isn't backward compatible and took some time figuring out why
the TOT code just doesn't complete a mount(). The client is using an fstype
from the server that may not be set, which typically shouldn't happen for
new volumes. At best the client should be checking that it didn't get back
a null string for the fstype.

ANy reason why the default fsttype is even defined in volume_kv.go if

[2016-10-25 22:18] kerneltime opened #644 "Tests seem to fail but build passes"
This https://ci.vmware.run/vmware/docker-volume-vsphere/1500 is the most recent build of master and it passed but upon inspection of logs it looks like there was a failure.
If this is a negative test and is expected to fail, let's print that before the test.

[code]

[2016-10-25 22:30] brunotm commented on #644
@kerneltime
This is a leftover from a previous CI run that failed with the kv - issue #626, which also affects the master branch.
Needs manual cleanup, the current code (removeVMDK) will fail deleting this volume.

[2016-10-25 22:32] kerneltime commented on #644
Hmm.. there is still the question of why the unit test is failing and the build is passing..

[2016-10-25 22:35] brunotm commented on #644
There's more info and a workaround in #612

[2016-10-26 00:55] BaluDontu opened #646 "Unable to start vmdk-ops service - python sqlite3 package not found."
Hey guys,

I am unable to install the vib on my ESX 6.0 host (basic version). It fails with the following error
"ImportError: No module named sqlite3".

I think sqlite3 python binary is not by default present in ESX 6.0 basic and U1 versions. So the vmdk-ops service fails running. Can you please address this issue.

Thanks,
Balu

[2016-10-26 02:45] msterin commented on #646
this is a regression from auth PR #603 - it adds dependency on sqlite3 py module, but does not check it.
And it is present in ESX 6.0 U2+ only - which is what we use in CI and dev env.

We should simply include our own copy and update the sys.path.

//CC @lipingxue @pdhamdhere

[2016-10-26 10:10] kerneltime commented on #637
I do not see this issue, here is what I tried, let me know what is different when you run into this.
[code]

[2016-10-26 10:12] kerneltime commented on #636
These are good questions that is on our radar. @sosher we will be publishing documentation in the coming weeks for the cross compatibility with existing workflows around datastores.

[2016-10-26 10:15] kerneltime commented on #634
- [ ] need to add versioning for RPC between ESX and Plugin, if their install and upgrade lifecycle needs to be split.

[2016-10-26 10:17] kerneltime commented on #622
The public facing admin cli spec is https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/admin-cli.md posted here https://vmware.github.io/docker-volume-vsphere/user-guide/admin-cli/

[2016-10-26 10:24] kerneltime commented on #608
link https://github.com/docker/docker/pull/27116

[2016-10-26 11:04] govint commented on #637
These are the steps used,
  ---
$ cd
$ mkdir vpl-new
$ cd vpl-new
$ git init
Initialized empty Git repository in /home/administrator/vpl-new/.git/

Build the plugin,
  ---
administrator@hte-1s-eng-dhcp98:~/vpl-new$ git clone https://github.com/vmware/docker-volume-vsphere
Cloning into 'docker-volume-vsphere'...
remote: Counting objects: 6056, done.
remote: Compressing objects: 100% (78/78), done.

[2016-10-26 13:29] hreidar opened #647 "vmdkops_admin.py - ImportError: No module named argparse"
Any idea on how to fix this?

/tmp # esxcli --version
Script 'esxcli' version: 5.5.0
/tmp #
/tmp # esxcli software vib install --no-sig-check -v /tmp/vmware-esx-vmd
kops-1.0.beta.vib

Installation Result
   Message: Operation finished successfully.
   Reboot Required: false
   VIBs Installed: VMWare_bootbank_esx-vmdkops-service_1.0.0-0.0.1
   VIBs Removed:
   VIBs Skipped:
/tmp #
/tmp #
/tmp # /us

[2016-10-26 16:32] msterin commented on #636
@kernetime is correct, stand by for the docs.
As a quick summary though:
* backup/restore is supported via creating a Docker volume with `-o attach-as=persistent`. Unfortunately Docker volume command does not allow to change properties for existing volumes, so it can be changed only with ESX side vmdkops_admi.py. The (attached) volume then can be backed up with any existing backup tool.
* moving b

[2016-10-26 16:35] msterin commented on #647
Thanks for reporting this one.
Per Readme.md we tested on ESX 6.0 and newer.
It looks like you are running 5.5. It does not have some Python modules (argsparse is one of them).
But I agree the behavior is wrong, we should either block VIB install or provide a clear failure message.

//CC @pdhamdhere

[2016-10-26 17:47] msterin opened #648 "A test run should start with clean slate"
Since we serialize test runs on the same test bed, we should start each run as a clean slate.
This will prevent people being blocked by bug not related to current PR

We had many cases when a failed test for some PR was blocking other / unrelated PR CI runs.

The suggestion is to clean up all volumes at the end of each run. If there are some volumes to cleanup that indicates that a unit test or a

[2016-10-26 18:40] pdhamdhere commented on #633
Fixed with #641

[2016-10-26 18:40] #633 closed

[2016-10-26 20:45] kerneltime opened #650 "Support drone cancel"
We need a post drone run webhook to clean up setup and locks.
This is needed since now the ability to cancel a build is public.
This issue will be resolved if any developer can press cancel at any stage of the test turn.

[2016-10-26 21:26] #646 closed

[2016-10-26 21:43] lipingxue opened #651 "Implement tenant describe command"
Implement "tenant describe" which lists everything related to tenant including list of VMs.

Background:
Prashant mentioned in the PR https://github.com/vmware/docker-volume-vsphere/pull/645

Number of VMs in a tenant could be really large and obfuscate the tenant ls output on screen. May be introduce tenant describe which lists everything related to tenant including list of VMs.

[2016-10-26 23:53] SandeepPissay opened #652 ""docker volume inspect" does not show the current VM name of the VM that created it"
Steps:
1. Create a docker volume
2. run "docker volume inspect", this shows the "created by VM" correctly as below

root@photon-I1RJXlgPS [ ~ ]# docker volume inspect MyVolume
[
    {
        "Name": "MyVolume",
        "Driver": "vmdk",
        "Mountpoint": "/mnt/vmdk/MyVolume",
        "Status": {
            "access": "read-write",
            "attach-as": "independent_persistent",

[2016-10-27 00:13] lipingxue opened #653 "Cleanup work for "AdminCLI change to support multitenancy""
The following work are needed as cleanup work for "AdminCLI change to support multitenancy"
- The message printed out when cmd succeeds should be changed to make sure they are consistent with existing AdminCLI command
-  The code in this PR https://github.com/vmware/docker-volume-vsphere/pull/645
  assume the "tenant_name" is unique, we should decide how to handle if the "tenant_name"
  is not uni

[2016-10-27 02:06] brunotm opened #654 "auth.py must import import sqlite3"
For checking against sqlite3.Exceptions:
`except sqlite3.Error, e:`

//CC @lipingxue

[2016-10-27 06:21] govint commented on #652
Good, the server plugin must figure the name of the VM from its UUID (persist the UUID in the KV instead of name) and pass that on a Get request.

[2016-10-27 11:01] brunotm commented on #654
Example error when exception is caught from AuthorizationDataManager.

[code]

[2016-10-27 18:19] shuklanirdesh82 opened #656 "Error occurred while creating docker volume and allocated capacity stays at '0' - vm was created on ESX 6.0U2"
**Steps to reproduce**:
1. create photon vm on esx 6.0U2
2. check docker version and update to 1.12 if it is not
3. Install docker-volume-driver-vsphere-v0-7 by performing steps mentioned at http://cormachogan.com/2016/10/06/nice-enhancements-docker-volume-driver-vsphere-v0-7/ till step #6 (restart docker)
4.  create docker volume using following command
docker volume create --driver=vmdk --name=t

[2016-10-27 18:26] govint commented on #656
The photon OS used as guest does have an issue with rescanning hot-added disks.

Please do this on the Photon guest:
tdnf remove linux; tdnf install linux

or,
tdnf install linux - if it was not installed yet

The plugin formats volumes on the guest OS when its created. The above issue in the guest OS prevents the new disk from being recognized and prevents the format from happening and hence the

[2016-10-27 18:33] #654 closed

[2016-10-27 20:33] msterin commented on #647
An update - there is more in the code dependent on ESX 6.0, so we currently do not plan to support ESX 5.5

@kerneltime  - we need to block install on pre-6.0 ESX using <depends> in VIB XML.

[2016-10-27 20:37] msterin commented on #656
@govint - can you elaborate on why it works the second time ? It is still hot-added disk, so I what exactly is the "issues with rescanning hot-added disks" which hits us on the first `create` but does not do so on the second ?
The  difference seems to be that /mnt/vmdk is created, and PVSCSI controller is created on the first hit. @shuklanirdesh82   - can you try a fresh Photon , mkdir -p /mnt/vmd

[2016-10-28 19:40] BaluDontu opened #660 "vmdk-ops service unable to identify the newly mounted datastore on ESX host. But identifies after the service restart."
Hi guys,

I have mounted a new NFS datastore with name "NFSStore" on ESX host.
When I execute following docker create volume command, it gives an error Invalid datastore.

docker volume create -d=vmdk --name=volume@NFSStore
_Error response from daemon: create volume@NFSStore: VolumeDriver.Create: Invalid datastore 'NFSStore'.
Known datastores: datastore1, NFSDatastore, coke (1).
Default datastore:

[2016-10-28 19:47] msterin commented on #660
So there is 'NFSDatastore' and also "NFSStore' ? just checking. Can you shared the results of  'ls -l /vmfs/volumes` ?

[2016-10-28 19:55] BaluDontu commented on #660
Also, it was able to identify only after the service vmdk-ops restart.

[root@xxxx:/vmfs/volumes] ls -l
total 2068
drwxrwxrwx    6 99964800 201           4096 Oct 17 06:48 3bdec0ec-219e0c95
drwxr-xr-x    1 root     root             8 Jan  1  1970 4df30da5-ad6ac294-f786-80c16e6cf13a
drwxr-xr-t    1 root     root          3920 Oct 25 23:04 4df30dac-644c9042-b81a-80c16e6cf13a
drwxr-xr-x    1 root

[2016-10-28 20:20] pdhamdhere commented on #660
[code]

Since datastores is not null, we do not rescan. We should. When you restart vmdksops, it rescans and re-populates `datastores`.

[2016-10-28 20:20] pdhamdhere commented on #660
@BaluDontu Good catch. Do you want to do a PR?

[2016-10-28 20:26] msterin commented on #660
We should not rescan, DS are cached for a reason - there are way too many cases when we fetch the list so there is a significant perf impaxt. In linux I'd use iNotify, in esx I hope we can get a notification when new DS is added ?

-- Mark
Sent from my phone. Excuse the brevity and the typos

  On Fri, Oct 28, 2016 at 1:20 PM, Prashant Dhamdhere<notifications@github.com> wrote:
@BaluDontu Good cat

[2016-10-28 21:39] BaluDontu commented on #660
Yes. I would agree with Mark.  We could use the inotify python package to watch a specific directory for create/remove operations (in our case /vmfs/volumes) and then only repopulate the datastores. If this is not a high priority PR, I can work on this.

[2016-10-29 00:05] msterin opened #662 "Corrupted metadata file should be handled gracefully and not terminate operations"
Today if metadata file is not complete (e.g. missing created-by, which may happen in diffent error paths) , getVMDK returns error. Since docker runs "get()" command before anything else, that blocks operations like `remove` or inspect.  This was found when fixing #661

I think it would be much better if `vol_info` simply returned "N/A" or "Unknown" or "Failed to get" for fields it cannot fill for

[2016-10-29 02:31] shuklanirdesh82 commented on #656
Thanks @govint & @msterin for providing the suggestion. I have tried both approaches and here are my findings.

Using fresh VM for each run:
Before installing the plug-in i.e. docker-volume-vsphere following approaches were performed and not able to reproduce the reported issue.

Approach#1: tdnf remove linux; tdnf install linux
Approach#2: Add PVSCSI controller to photon vm [If the PVSCSI control

[2016-10-29 07:32] kerneltime commented on #614
https://github.com/vmware/photon/issues/541

[2016-10-29 07:34] kerneltime commented on #600
The port selection range increase should hide the issue.

[2016-10-29 07:38] kerneltime commented on #320
Using this issue to track the work we need to do once Docker releases https://github.com/docker/docker/pull/27116
If you have filed an issue for that work then reference it here and close the issue with the label wontfix or invalid as no code change was part of closing this issue.

[2016-10-29 07:46] kerneltime opened #663 "Documentation: Admin CLI user guide needs updates and a tenancy page"
The Admin CLI user guide https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/admin-cli.md needs to reflect the new commands.
This was added to the spec https://github.com/vmware/docker-volume-vsphere/blob/master/docs/misc/vmdkops-admin-cli-spec.md which is more of a design doc than a user guide.

[2016-10-29 07:46] kerneltime commented on #663
This is needed to complete the 0.8 release

[2016-10-29 08:20] kerneltime commented on #663
We should also include a public write up for the tenancy model.

[2016-10-29 13:46] govint commented on #662
Correct, get is really to return status/meta-data about the volume and shouldn't fail unless the volume isn't there. I'll post a PR.

[2016-10-29 18:07] davemuench opened #664 "Plugin hangs on start if it starts before docker"
Environment Details: ESXi 6.0u2 single host with iSCSI storage, Docker 1.12.3 swarm on Ubuntu 16.04.1 VMs (3 manager nodes, 3 worker nodes)

Steps to Reproduce:
1. Install the 0.7 or 0.8 plugin
2. Reboot the VM
3. The plugin hangs on trying to read the docker socket.
4. If you restart the plugin at that point, it loads correctly.

If you modify the startup dependencies so docker loads before the p

[2016-10-30 06:28] govint commented on #662
Taking a step back, the current behavior isn't really bad. First of all how did the meta-data get corrupted? Unless there is a code path or some sort of intentional tampering of the KV store there is no  way to corrupt the KV store file. Prefer to identify the code path or workflow that can corrupt the KV and fix that.

And if the KV store is corrupt then pretty much that volume isn't usable or sh

[2016-10-30 14:21] msterin commented on #662
The volume is perfectly usable wiithout the metadata in the majority of cases. And if it not needed, it least it should be deleteable. Then KV file was not corrupted, it was just saying detached and nothing else, so moving to SQLite won't help, I suspect it's a specific path in code rather that external corruption. This is why I did not want KV on decision path. I agree its much better to underata

[2016-10-30 18:17] pdhamdhere commented on #664
[code]
@davemuench Can you please share Docker Engine log /var/log/upstart/docker.log and output of `docker info`.

CC / @kerneltime @msterin

[2016-10-30 18:38] davemuench commented on #664
Here's some fresh logs after I rebooted this particular worker node. The docker engine logs are from journalctl since this is Ubuntu 16.04.

docker-volume-vsphere.log:

2016-10-30 11:33:02.383347395 -0700 PDT [INFO] No config file found. Using defaults.
2016-10-30 11:33:02.386559429 -0700 PDT [INFO] Docker VMDK plugin started log_level=info config="/etc/docker-volume-vsphere.conf" version="VMDK Vo

[2016-10-30 18:58] govint commented on #664
@davemuench can you also provide the logs from /var/log/upstarts/docker.log for the same time period that the plugin was hung.

[2016-10-30 19:04] davemuench commented on #664
@govint As I mentioned this is Ubuntu 16.04 - upstart no longer exists, and that logfile doesn't exist. The journalctl output above should be the equivalent and was for the time period the plugin was hung (11:33:02 - 11:34:35).

If there is some other log I am unaware of please let me know but I believe that is it.

[2016-10-30 19:14] pdhamdhere commented on #664
Nothing's stands out from logs. We've Ubuntu 14.04 is CI. Will try to reproduce with 16.04.

[2016-10-31 05:26] kerneltime commented on #664
@davemuench as a datapoint I was not able to reproduce this on Photon OS running an version of Docker (1.12.1)
[code]

[2016-10-31 13:18] brunotm commented on #462
Hello @govint @pdhamdhere ,

I have added basic cloning support at 44f91cc7ff0cc887a0a267e4131579b721265fd9.
What do you think for a initial implementation?

From simple tests the only downside i noticed is the capacity info in docker volume inspect, the same doesn't happen in the admin cli. (i know they fetch information in different ways, but didn't investigate).

Also dependency tracking for de

[2016-10-31 16:17] brunotm commented on #462
The output from the one basic test with diskformat=delta, which shows the consolidation on the clone volume after removal of master.

[code]
//CC @msterin

[2016-10-31 17:45] govint opened #665 "Get configured size of disk chain when getting disk size."
getVMDK() uses the disklib API to fetch current disk size stats for a docker volume. Currently its fetching the stats for the newest element in the disk chain which works fine for single disks with a disk chain (snaps for example) need to get the size of the actual disk vs. for the element in the chain.

[2016-10-31 18:18] govint commented on #462
I'm not sure we want to create a delta of the volume being cloned-from, or that should be a choice whether delta or a full clone of the volume is needed. Plus need a way to create deltas of just the disk alone vs. the VM as a whole.

The disk size issue I've raised a separate issue to handle that.

[2016-10-31 18:24] brunotm commented on #462
It's a choice, right now the default is the same for create (thin).

The code on [brunotm.issue462](https://github.com/brunotm/docker-volume-vsphere/tree/brunotm.issue462) only clones the volume with virtualDiskManager.CopyVirtualDisk, there's no vm interaction.

[2016-10-31 19:14] govint commented on #662
The only time that a code path preemptively resets the meta-data for a volume is when the disk isn't found in the VM configuration on a detach request or the VM itself isn't found. Which, while its an error path, the volume meta-data is reset to "detached state" in these scenarios. Looks like that has happened in  this test for the KV to report the volume as detached. Although why the disk that wa

[2016-10-31 19:40] govint commented on #662
@msterin can I get the KV file contents. Looks like this is a storage issue, if even "created-by" isn;t there in the KV file then the FS is loosing data written to the file and unreliable.

[2016-10-31 20:11] pdhamdhere opened #666 "vSphere 6.5 readiness"
[vSphere 6.5](https://blogs.vmware.com/vsphere/2016/10/introducing-vsphere-6-5.html) is on it's way. This issue is to track and verify vSphere docker volume service works out of box on ESX 6.5

- ESX 6.5 ships with Python 3 only. Make sure ESX components (vmdkops and admin CLI) are Python 3 compatible
- Install VIB and run CI tests with ESX 6.5
- Add ESX 6.5 to CI test matrix.

CC/ @msterin @shukl

[2016-10-31 20:25] msterin commented on #662
Great, so looks like we have an agreement that KV issues should not impact get() so at least 'rm' and 'inspect' and others would work. Do you want to get it fixed or do you want to use it as a training exercise for others ?

[2016-10-31 20:33] msterin commented on #462
Thanks @brunotm . I have a few emergencies to take care of and then will take a look.
The first feeling is - I am not sure backup vendors do back ups off disconnected VMDKs (I'd expect per-VM pivoting in backup UIs) . But the PR itself is great, as it  would allow to provide multiple Docker engines READ-only access to a volume.

[2016-10-31 20:59] brunotm commented on #462
@msterin
My main case for this PR is not backup(but it helps there), more of fast app environment and data cloning, and ability to rollback (fast). Also multiple delta rw clones :)

Luck with the emergencies.

[2016-10-31 23:57] msterin opened #668 "Need unit test coverage for admin CLI tenant commands"
1. unit test coverage
2. Re-use auth.get_auth_mgr instead of defining connect_auth_db and keeping global _auth_mgr in admin CLI code

[2016-11-01 02:21] BaluDontu commented on #660
I would also like to share few more things on my analysis.

1. Using esxcli commands to create the datastore doesn't reproduce the issue.

For example,
esxcli storage nfs add --host=10.162.210.32 --share=/dbc/pa-dbc1132/baominw --volume-name=nfsstore-baominw --readonly

vmdk-ops service was able to identify the datastore "nfsstore-baominw" without any restart.

2. However using the VC to create a

[2016-11-01 03:25] pdhamdhere commented on #664
@davemuench I tried with Ubuntu 16.04.1 LTS but no luck in reproducing the issue. Tested with Swarm mode on both master and slave too and everything worked like a charm :(

However, I did notice on my setup Docker starts before plugin. In your case, Docker is not running and for some reason call to Docker [`c.Info(context.Background())`](https://godoc.org/github.com/docker/engine-api/client#Client

[2016-11-01 05:19] kerneltime commented on #664
@davemuench can you email plot.svg to cna-storage@vmware.com after the following command
[code]

[2016-11-01 05:33] kerneltime opened #670 "Include coverage reports to be part of PR."
As part of each PR, a coverage report should be generated to help detect untested code.

[2016-11-01 06:58] govint commented on #666
Do we want to collect issues here and solve as one change? In which case here is one (we can keep adding perhaps to the list):
  ---
1/ Use "as" vs. ",' in except block:
 python /usr/lib/vmware/vmdkops/bin/vmdk_ops.py -p 1019
Traceback (most recent call last):
  File "/usr/lib/vmware/vmdkops/bin/vmdk_ops.py", line 81, in <module>
    import vmdk_utils
  File "/usr/lib/vmware/vmdkops/Python/vmdk_ut

[2016-11-01 07:00] govint commented on #664
One difference is who listens on /var/run/doocker.sock in 16.04. In 14.04 docker listens on this socket but in the new release its init process that listens on the socket.
  ---
14.04

unix  2      [ ACC ]     STREAM     LISTENING     491232   31719/dockerd       /var/run/docker.sock <-----------
unix  2      [ ACC ]     STREAM     LISTENING     491242   31736/docker-contai /var/run/docker/libcont

[2016-11-01 12:32] brunotm commented on #665
@govint
I couldn't find any available documentation on libvmsnapshot or DiskLib_GetSize(), there's anything that can be shared?

[2016-11-01 16:28] davemuench commented on #664
I've emailed the plot output to that address as requested.

FWIW, I've worked around the issue by putting a small sleep in /etc/rc.local followed by restarting the docker-volume-vsphere service. Ugly, but a bit easier than changing the systemd dependencies to have the plugin start second.

I do have a systemd override in place for the docker engine to enable the overlay storage driver and turn on

[2016-11-01 19:47] MattAtTTU opened #671 "Shared volume not working in Swarm mode."
Testing VMWare volume on shared datastore with multiple Swarm nodes and containers using a single volume.

Test procedure:

1.  Create VMDK volume on shares DS. (Works)
2.  Create Swarm service with volume mounted within. (Wprks)
3.  Make change to shared volume through Swarm service. (Works)
4.  Create second Swarm service with volume mounted within. (NOT WORKING)

When the second Swarm service i

[2016-11-01 21:20] pdhamdhere commented on #671
@MattAtTTU vSphere Docker Volume can NOT be shared between 2 Docker Nodes (VMs). Containers running on same node can share vSphere docker volume. Since docker volumes are formatted with local file system, 2 independent nodes writing to local FS can lead to unintended consequences. We would love to hear your use-case for sharing same volume across multiple nodes.

Regarding stack trace, looks like

[2016-11-01 21:38] MattAtTTU commented on #671
Thank you for the explanation.  The use case is simply to allow containers to share a volume while not restricting Docker Swarm to the nodes it can use to run said containers.  By default, the tasks are scheduled on whatever Swarm node has less resources.  We must override that and manually place containers sharing storage on the same Swarm node with this behavior.

At any rate, I understand why t

[2016-11-01 22:32] shaominchen opened #673 "The max_volume_size can be set a value even bigger than the total_size"
The max_volume_size can be set a value even bigger than the total_size:

[root@localhost:/usr/lib/vmware/vmdkops/bin] vmdkops_admin tenant access add --name MyTenant --datastore datastore1 --volume-totalsize 1GB --rights create,delete --volume-maxsize 2GB
{'mount_volume': 0, 'global_visibility': 0, 'max_volume_size': 2048, 'create_volume': 1, 'delete_volume': 1, 'datastore': 'datastore1', 'usage_q

[2016-11-01 23:20] kerneltime opened #675 "Tenant cli improvement"
CLI should promote name to a first class citizen of the cli.
[code]
This is also applicable to ```rm```
cc @lipingxue @msterin

[2016-11-01 23:23] msterin commented on #675
we are currently trying to be consistent  with `docker volume create --name` and related 'docker volume rm <name>' an IMO should stay such

[2016-11-01 23:24] kerneltime commented on #675
Wokie..

[2016-11-01 23:24] lipingxue commented on #673
Hi Sam,
   Could you take a look and working on this fix? Let me know if need any help from me.

[2016-11-01 23:33] msterin commented on #621
A small update: if there are volumes in dockvols already when we upgrade the binaries. we need to warn and try to move them to __FALLBACK tenant

[2016-11-01 23:39] kerneltime commented on #621
It would be nice to move the volumes to a tenant post upgrade. But what is the expectation post install default for fallback? Do we want out of the box experience to be permissive or limited?

[2016-11-01 23:49] kerneltime commented on #671
@MattAtTTU If you don't mind we will be reaching out to you via email to learn a bit more about your environment.

[2016-11-02 00:44] shaominchen opened #676 "The "--volume-maxcount" option is confusing"
The "--volume-maxcount" option is confusing:

1. It's available from "tenant access set" command, but not available from "tenant access add". It's inconsistent across different commands.
2. The implementation of this option is incorrect: the product of maxcount and maxsize should not exceed the totalsize. But when running "tenant access set", we can assign any random number (even negative) to maxc

[2016-11-02 03:47] govint commented on #676
OTOH the totalSize option can be removed all together. The tenant isn't
using the total size to reserve space and it can be derived from the count
of disks and the max volume size attrs.

On Wed, Nov 2, 2016 at 6:14 AM, Sam Chen <notifications@github.com> wrote:

[2016-11-02 04:32] govint commented on #671
This behavior was identified in #601.

Regarding the stack in the plugin server logs, @MattAtTTU  can you do this:

1. Post the server logs from the ESX server. I'd like to see which VM attached the volume ahead of the one that failed the mount.

2. Do a docker volume inspect <volume name> when the error happens (and the service is still running on the other node)

[2016-11-02 04:46] govint commented on #671
Also @MattAtTTU can you say if you are running with the current version of the server code in the repository (threaded server version).

[2016-11-02 04:56] govint opened #678 "Make KV file read/write ops exclusive to avoid races between ops on the same disk"
This issue is for investigation at this point and changes will be made if proven. With the ability to handle multiple ops via threads we may be seeing issues where the KV is being updated by one thread and another thread read the same or accessing before even the KV is initialized. For now we don't have such cases happening, this issue is to run tests and verify if that can happen and ensure exclu

[2016-11-02 06:07] msterin commented on #676
@shaominchen  consistency is a good point, it should be consistent.
As for the need, we heard from a couple of customers (albeit no stats) that it "would be nice to limit the volume count per tenant". The cost is cheap.
The maxcount x maxsize has no direct relations to total size. In thin provisioning, individual limits do no have to be equal total available resource. Users cannot figure out "how

[2016-11-02 06:37] govint commented on #662
@msterin - frankly this is a very very contrived way to get changes submitted into the code. Training or otherwise is left to the individual.

Beats all reasoning how one KV pair alone got left inside the KV file while all other pairs got removed.

I'd love to use this issue though to figure out how these stupid things happen!! Not surprising :-))

[2016-11-02 07:26] govint commented on #665
@brunotm these are ESX libraries and don't have any documentation as such.

[2016-11-02 14:00] MattAtTTU commented on #671
Yes, I am running with the current version of the code (October Release).

1.  Server logs from three hosts are below.  We have three swarm nodes in total (manager and two app nodes).  The manager is capable of hosting containers and sometimes does, as was the case with the first test container deployed in this test.

Host1 with node that can't mount volume:
[code]

Host2 with node that can't moun

[2016-11-02 16:57] shaominchen commented on #676
@msterin Thanks for pointing out the thin provisioning thing - I was not aware of that this is also supported at the volume layer. Looks like it's implicitly or transparently being supported by the back-end.

If that's the case, I agree that we can keep this option since some customers want it. Then we need to fix a couple of things:
1. Add this option to "tenant access add" command
2. Add one mor

[2016-11-02 17:04] kerneltime opened #681 "Admin cli should sort help output"
Currently the help is not sorted
[code]
~~and should default to -h instead of current output~~

[code]

[2016-11-02 17:23] shaominchen opened #682 "Improve the format of "tenant access ls" output"
Currently the "tenant access ls" output shows like this:

[root@localhost:/usr/lib/vmware/vmdkops/bin] vmdkops_admin tenant access ls --name MyTenant
Datastore   Create_volume  Delete_volume  Mount_volume  Max_volume_size  Total_size
----------  -------------  -------------  ------------  ---------------  ----------
datastore1  1              1              0             128.00MB         1.00GB

T

[2016-11-02 17:38] kerneltime commented on #682
I was about to file the same issue :-)
[code]

[2016-11-02 17:47] lipingxue commented on #559
AdminCLI change to support multi-tenancy is addressed in #645

[2016-11-02 17:47] kerneltime opened #683 "Admin CLI tenant help should print default values"
Where applicable the help should print the defaults that will be selected and what do they mean.
Right now I see size as 0 and I am not sure if that means I have no limits or capacity..
[code]

The help does not help in this case
[code]

[2016-11-02 17:52] shaominchen opened #684 "The behavior of "tenant access add" command is confusing"
Currently the "tenant access add" command can be run any number of times to grant a datastore access for the same tenant. This may cause weird behavior which is counterintuitive. For example:

I have granted the following permissions for my tenant:

[code]

Now I want to add the missing "mount" privilege. As the implementor, we know all the commands and we expect user to run "tenant access set" to

[2016-11-02 18:48] shaominchen commented on #673
Sure Liping, I will take care of this.

[2016-11-02 19:02] shaominchen commented on #684
I just tried a different scenario:

First I revoked all access to a datastore for my tenant. Then I tried to run "tenant access set" directly - here's what I got:
[root@localhost:/usr/lib/vmware/vmdkops/bin] vmdkops_admin tenant access set --name MyTenant --datastore datastore1 --add-right create,delete,mount
No privileges exist for (MyTenant, datastore1)

So, for the current issue of running "ten

[2016-11-02 19:58] kerneltime commented on #675
We should then make create and rm symmetric
[code]

[2016-11-02 20:08] kerneltime opened #685 "Misleading error message when a wrong input is given during tenant create"
[code]

[2016-11-02 20:18] kerneltime opened #686 "Tenancy: Better error message for docker commands"
When a VM is not associated with a VM, the docker commands reports no mount privilege.
[code]

[2016-11-02 20:24] kerneltime opened #687 "Tenancy: Add access to datastore does not add access."
I had a tenant to whom I tried to give access to the datastores and it failed.

[code]

On the VM I continue to get errors
[code]

[2016-11-02 20:37] lipingxue commented on #687
You need to add access privileges on datastore where the vm lives.

[2016-11-02 21:09] kerneltime commented on #687
Also, on the VM I am getting errors that were not present before
[code]

[2016-11-02 21:10] kerneltime commented on #687
[code]

[2016-11-02 21:13] kerneltime commented on #687
Is there supposed to be a validation for a datastore to be present? And is the datastore case sensitive?
[code]

[2016-11-02 21:13] msterin commented on #675
Pls add similar docker volume command to the issue , and let's make it consistent

[2016-11-02 23:41] pdhamdhere commented on #647
Fixed with #674

[2016-11-02 23:41] #647 closed

[2016-11-03 00:03] kerneltime opened #688 "Tenancy: Tenant rm command needs updates"
1. The command I typed below listing volumes to be deleted should not work.
2. The help needs updating.

[code]

[2016-11-03 06:36] kerneltime opened #691 "Regression is docker volume CLI"
The following command which used to work, no longer works due to how size suffix gets parsed.
[code]
capatalization works
[code]

[2016-11-03 10:42] brunotm commented on #626
@govint

I think his unlikely for the file busy issue in kv.save() when creating a volume. looks more like a timing issue for the esx to release the file lock between kv.create() and kv.save().

If you can, would be nice to know the description of the error codes returned by the disklib, mainly 4008 and 27 (this one is from memory).

Thanks!

[2016-11-03 17:12] kerneltime commented on #670
We should integrate with coverage.vmware.run

[2016-11-03 17:12] kerneltime commented on #404
In addition to adding coverage tracking we should integrate with coverage.vmware.run tracked in https://github.com/vmware/docker-volume-vsphere/issues/670

[2016-11-03 17:18] kerneltime commented on #648
Related to https://github.com/vmware/docker-volume-vsphere/issues/508

[2016-11-03 17:35] kerneltime opened #695 "Serialization of multiple operation requests (Create/Delete)"
A test run for https://github.com/vmware/docker-volume-vsphere/pull/693 failed.
The failure is not related to the PR. The sanity test post multi-threaded change seems flaky.

[build-failure.txt](https://github.com/vmware/docker-volume-vsphere/files/569687/build-failure.txt)

[2016-11-03 17:47] brunotm commented on #695
Hello @kerneltime, this is related to the kv/metadata issues and they where happening in the pre-threaded code. See #662 and #626. The parallel tests seems to trigger them more easily.

The kv creation/save terminates with error codes from disklib. It is possible to have the description of those error codes? In the log its 4008.

[2016-11-03 17:53] govint commented on #695
Actually, unless the KV file has been modified some way, there isn't code
to retain single KV pairs while removing all else. and the APIs used are
Python read/write APIs. Actually, till now we haven't seen a repro of the
kind of KV state  reported in #662. Nor do we have logs to look at.

That said @kerneltime can you post the error from the sanity tests?

On Thu, Nov 3, 2016 at 11:17 PM, Bruno Mo

[2016-11-03 17:55] govint commented on #662
Modified the code to implement volume status the way Docker defines it. Status on a Get() call is optional and in the event that getting status fails from the server its perfectly OK to return a NULL map to Docker (on Get()).

Once testing is complete I'll post the changes for review.

[2016-11-03 18:28] govint commented on #695
From the test logs looks like this is a repro of #626. One thing to note is that we use Python open(), read, write() APIs to access the KV.

KV file creation is done with the ESX private library APIs and that "always" works. Because we are able to create the file with the ESX library APIs and close the KV file via the ESX private lib API immediately after creating the KV file. And that close op wi

[2016-11-03 18:31] brunotm commented on #695
@govint

The error code 4008 comes from disklib:

[code]

[2016-11-03 19:15] govint commented on #695
True, but the cause seems to be the same. From the ESX side, during steps of the file creation, the KV file (assume thats the one) has been found to be "EBUSY" and that gets translated to this error. Which matches the busy error reported in #626.

I'll dig more into how the ESX side logs if thats available and also the code paths when the KV file gets created.

[2016-11-03 20:22] brunotm commented on #695
@govint
Not saying they aren't related, but we have 3 distinct errors. 2 from the python stack in open calls:
- vmfd file absent after being created
- the ebusy on kV save (workaround in place)

And the 3 on side car creation failed with the 4008 from disklib.

We can of course serialize disklib operations and observe. But it would be really helpful to understand error codes from disklib.

[2016-11-03 21:37] brunotm commented on #695
A side note on this, currently from vmdk_ops for any operation in volumes we get an exclusive volume lock for it. The only code path that would allow concurrent access to the kV for the same volume would be on listVMDK(), by it doesn't use the kV at all.

[2016-11-03 21:54] lipingxue commented on #691
LGTM

[2016-11-03 22:07] #691 closed

[2016-11-03 22:07] #687 closed

[2016-11-03 22:22] pdhamdhere commented on #502
Addressed with #603 and tech-preview available in Oct 2016 release.

[2016-11-03 22:22] #502 closed

[2016-11-03 22:22] pdhamdhere commented on #557
Addressed with #603 and tech-preview available in Oct 2016 release.

[2016-11-03 22:22] #557 closed

[2016-11-03 22:23] pdhamdhere commented on #559
Addressed with #603  & #645 and tech-preview available in Oct 2016 release.

[2016-11-03 22:23] #559 closed

[2016-11-03 22:26] pdhamdhere commented on #622
@kerneltime Close?

[2016-11-03 22:46] kerneltime commented on #695
hostd.log
[hostd.txt](https://github.com/vmware/docker-volume-vsphere/files/570246/hostd.txt)

[2016-11-03 23:16] shuklanirdesh82 opened #697 "test"
test

[2016-11-04 04:29] #697 closed

[2016-11-04 10:16] brunotm commented on #695
@kerneltime
From the logs we ended up in a situation where again we have volumes without the kv and need manual cleanup.

Can i purpose the merge of a less noisy version of #698 (that's clean and easily revertible) so we can gather actual data and better understand when this happens in the kv/disklib/thread code?

From actual build log of #698, ***in parallel tests only*** we had 273 kvLock acquir

[2016-11-04 13:22] govint commented on #671
@MattAtTTU, thanks for the details, whats happening is that we have the volume attached to a VM on one host but when we try to look for a VM with that UUID on another host we don't find it because the VM thats attached the volume is registered on the other host and hence the stack trace.

Yes, needs a code fix to check whether a VM was really found with the UUID on the host. And perhaps documentat

[2016-11-04 19:05] #622 closed

[2016-11-04 19:06] pdhamdhere commented on #618
@lipingxue Is this still relevant?

[2016-11-04 19:16] pdhamdhere commented on #656
@govint What's next step here? Add it to [Known Issues](https://github.com/vmware/docker-volume-vsphere#known-issues)?

[2016-11-04 19:27] BaluDontu opened #703 "Multitenancy - Unable to create a volume on a datastore which is not default"
Hi Guys,

I have tried the following steps:

1. Create a tenant with VM's.
vmdkops_admin.py tenant create —name T4 —vm-list photon-new-1

2. Provide access rights for the tenant on a specific datastore. Here the datastore is "nfs-datastore" with all root privileges.
vmdkops_admin.py tenant access add —name T4 —datastore nfs-datastore —rights create,delete,mount

3. Tried to create a volume on the

[2016-11-05 06:50] govint commented on #656
There is no code fix for this issue, but needs documentation (Known issues) for Photon OS to first do the workaround before using docker volumes.

[2016-11-05 06:57] pdhamdhere commented on #685
Looks like this is already fixed.

[code]

[2016-11-05 06:57] #685 closed

[2016-11-06 04:55] pdhamdhere opened #709 "Tenancy: Creating volume fails in absence of "mount" privilage"
Creating volume fails with "No mount privilege" though VM has "create" privilage.
[code]
This VM is member of Tenant- T6
[code]

Creating a volume requires volume to be attached/detached to VM for formatting. Attaching volume to VM requires mount privilege and thus create volume fails with "No mount privilege".

CC/ @lipingxue @msterin

[2016-11-07 11:57] govint commented on #678
Looks like @brunotm is getting a PR with changes to support exclusive access to KV ops, closing this issue.

[2016-11-07 11:57] #678 closed

[2016-11-07 17:25] lipingxue opened #710 "Tenancy: volume need to be removed from volumes table after the volume is removed"
Unit test manually:
step 1: create a tenant and add privileges (all privileges) to this tenant on 'datastore1'. Set --volume-maxsize to 500MB and --volume-totalsize to 1GB

[code]

2. create two volume 'tenant1-vol1" and "tenant1-vol2" , each with 500MB, which should succeed
[code]
3. create the third volume "tenant1-vol3" with 500MB, which should fail
[code]

4. delete the first volume "tenant1-v

[2016-11-07 17:33] lipingxue opened #711 "Tenancy: tenant name need to be unique"
Tenant name in "tenant table" need to be unique.

[2016-11-07 17:40] lipingxue commented on #709
If the user has the create privilege, does it imply he/she should have mount privileges? @pdhamdhere  @msterin ?

[2016-11-07 18:28] pdhamdhere commented on #709
It would be absurd to not have mount privilege when you are allowed to create volume. So, Create implies remove, mount, unmount privilege and `--rights` is obsolete? If datastore access is granted then VMs within that tenant has full access (create, remove, mount, unmount, list, get). Makes sense to me.

[2016-11-07 19:29] pdhamdhere commented on #711
If we make tenant name unique then we won't need tenant-uuid right?

[2016-11-07 19:53] lipingxue commented on #711
Yes.  the "tenant_uuid" will not need if we make the "tenant_name" unique. Is there any use cases that require "tenant_name" not unique? I cannot think of any. @msterin

[2016-11-07 19:55] msterin commented on #709
Let's say I want to provision volumes for a tenant manually and I do not want tenant VMs to use only pre-created volumes.

So I would say if the access is granted, still can have 2 levels
* _All_ privileges: create/delete/set/mount/unmount
* _Use_ privilege: mount/unmount (attach)

this brings a question "how this volume would be created". Ideally, 'docker volume create -o tenant=<other_tenant>. T

[2016-11-07 19:57] lipingxue commented on #711
Currently, the quick fix I made is to mark both "tenant_uuid" and "name" as primary key in "tenants" table. I also add some code in "create_tenant" function to check whether a tenant with the given name already exists or not. If the tenant already exists, return with error.

The complete fix should be remove "tenant_uuid" from "tenants" table and also change corresponding SQL statements.

[2016-11-07 19:59] lipingxue commented on #711
Manually unit test:
1. create a tenant "tenant1"
[code]
2. try to create another tenant with the same name "tenant1", which should fail
[code]

[2016-11-07 20:01] msterin commented on #711
As long as tenant _rename_ is supported, we can stick with the name as a unique key

[2016-11-07 22:33] lipingxue commented on #711
In auth_data.py, we do have API "set_name" to change the name of a tenant. In AdminCLI, we do not have code to rename a tenant.

[2016-11-07 22:47] lipingxue opened #715 "Tenancy: Add AdminCLI command to rename a tenant."

[2016-11-07 22:47] lipingxue commented on #711
#715 is filed to track the AdminCLI work to rename a tenant.

[2016-11-07 22:47] kerneltime opened #716 "Trying to remove a volume from a different node multiple times leaves volume in un-usable state"
I ran into this issue when trying to test the retry logic for volumes.
Node 1
[code]
Node 2
[code]

The first time I get the following logs

[code]

After that each retry gives the following result

[code]

[2016-11-07 23:42] msterin commented on #462
I am back for now. Yes. I see the use case. checkpoint it nice.  The code is good too.  A few nits (the biggest one being the code from lower layer creeping into  executeRequest() - I think misc. details eg. clone or DB handling, should be within *VMDK() functions, e.g. createVMDK, not in executeRequest. Are you planning to submit a  PR ?

[2016-11-08 00:05] #682 closed

[2016-11-08 00:05] #683 closed

[2016-11-08 00:05] #686 closed

[2016-11-08 00:05] #688 closed

[2016-11-08 00:05] #703 closed

[2016-11-08 00:05] #675 closed

[2016-11-08 00:13] pdhamdhere commented on #660
Fixed with #714

[2016-11-08 00:13] #660 closed

[2016-11-08 01:20] lipingxue commented on #715
Manually unit test:

1.

 rename existing "tenant1" to a new name "new_tenant1"
[code]

[2016-11-08 04:59] pdhamdhere commented on #715
@lipingxue TenantName is used as directory name for storing volumes. Renaming a tenant either has to rename directories on assigned datastores or we will have to maintain mapping somewhere or create sym links?

[2016-11-08 07:33] brunotm commented on #462
@msterin
Yes, The plan was to do it after having the unit tests in place but the kV issue came into attention. I'll try to find time later today to write tests and see if the code need any changes.

[2016-11-08 07:38] brunotm commented on #716
@kerneltime
Shouldn't this fail earlier since the volume is attached?

[2016-11-08 07:41] brunotm commented on #716
I have to investigate the behavior with the vim.virtualdiskmanager, but I think vmkfstool -U is too destructive to allow execution without checking attached status.

[2016-11-08 08:07] govint commented on #716
vmkfstools removes the sidecar (KV files) ahead of unlinking the vmdk itself. So, its possible that the command errors but has removed the side car file. Seems like a bug in disk removal as its leaving the disk with meta-data removed. Again, the error seems to be a busy error at the lowest level.

[2016-11-08 08:10] govint opened #719 "vmdk_ops.py:removeVMDK() must check that a volume isn't in use before even attempting to remove it."
Add check for usage before disk is removed.

[2016-11-08 08:11] govint commented on #716
Yes, the removeVMDK needs to check that the disk isn't in use - there is no check in vmdk_ops.py:removeVMDK() - which is a bug in itself. Issue #719 will fix this.

[2016-11-08 08:13] brunotm commented on #716
@govint
The volume was attached to another node. If the removal cmd was issued from the same node the docker daemon would check and error out

[2016-11-08 09:48] govint commented on #716
@brunotm, absolutely, but removeVMDK must handle that check as its got no idea who's asking it to remove a VMDK. And with the multi-tenant support coming up, we can have multiple VMs in the same tenant having access to the same VMDKs and this scenario can be common.

[2016-11-08 09:56] brunotm commented on #716
@govint
That was my first comment :)

[2016-11-09 02:59] msterin opened #721 "Need to fix errors found by pylint"
Need to review and fix errors found by pylint. The errors are mainly or failure handling paths.
[code]

[2016-11-09 03:01] msterin commented on #351
As #721 indicates, we drift from good state pretty fast. Elevating priority and assigning to myself, will do ASAP

[2016-11-09 04:24] msterin commented on #719
Before we introduced KV files there was no need to check, as the VMX and VMFS locks were checking it for us. With sidecar KVs, we planned to rely on sidecar / vmdk transactionality (that, in fact, was top reason to pick up sidecars).  Unfortunately it is not working as promised, but my suggestion would be to just recover KV file if removeVMDK fails - it will have to happen very unfrequently, while

[2016-11-09 04:26] msterin commented on #716
FWIW I think adding overhead to _every_ remove operation (check before remove) is less appealing that adding overhead to _very few_ operations (recover on failure). Besides, I suspect checking for usage is not going to be trivial.

[2016-11-09 05:21] govint commented on #719
This is a bug in the way a disk unlink is working presently. Looks like the fix is part of #716 so, I'll close this one.

[2016-11-09 05:58] govint commented on #662
Closed via #699

[2016-11-09 05:58] #662 closed

[2016-11-09 06:05] govint commented on #351
There are a lot of errors reported by pylint on syntax. Possibly, this needs to be a make target and a checklist in a PR to have pylint verified for at least new code.

[2016-11-09 06:19] msterin commented on #351
I plan to make build fail if pylint returns errors. We will start adding more checks and warning after that

[2016-11-09 06:53] govint commented on #652
Fixing this for how the attached to VM is shown. Its possible that the VM that created a volume doesn't exist any longer but the current attached to VM is perhaps more interesting to a user - especially if a volume is unusable for some reason and showing up as attached, then at least its good to show the current name of the VM thats attached the volume. Possibly a "last attached" VM name would als

[2016-11-09 09:14] govint commented on #695
Looking at the logs (from the test run) seems like there was a parallel access for the disk at some point. Lets see:

a. Server logs

There are two errors clearly

- Error in creating the KV for volume volTestP04
- *And* and error for Get for the same volume volTestP04

First create happens - the VMDK is created first and then the KV file (which happens to be a sidecar for the VMDK)
11/03/16 08:19

[2016-11-09 10:14] govint commented on #626
Closing with the changes merged via #708. All analysis is on #695

[2016-11-09 10:14] #626 closed

[2016-11-09 11:23] brunotm commented on #695
@govint
I have mentioned this a few times:

How do you think that should be handled ?

[2016-11-09 18:13] pdhamdhere opened #724 "Versioning tolerance (Plugin, Server, CLI, UI)"
- Support backward compatibility. Volumes created with earlier version should be usable after upgrade.
- Make sure Plugin, Server and CLI with different versions can interoperate.
- We can brainstorm and limit the matrix but at very least each component need to be 1 release backward compatible.
- Add unit tests to avoid regressions.

This is a pre-requisite to bundle vSphere Docker Volume Service

[2016-11-10 03:30] msterin commented on #724
This one seems to be a superset of #318

[2016-11-10 07:43] #721 closed

[2016-11-10 16:36] pdhamdhere commented on #716
Fixed with Bruno's PR #719

[2016-11-10 16:36] #716 closed

[2016-11-10 22:58] msterin commented on #158
this is not really needed as we simply follow Docker version anyways

[2016-11-10 22:58] #158 closed

[2016-11-11 03:35] #665 closed

[2016-11-11 03:36] govint commented on #608
Docker issue has been closed and should be available in the upcoming release. Will post PR then.

[2016-11-11 19:13] kerneltime commented on #637
[This change](https://github.com/vmware/docker-volume-vsphere/pull/702/commits/37d5fd2149182be3f5e288276a25706621fa1c10#diff-e05c16a51b5cbead30008bc62235f0c5R140) in PR https://github.com/vmware/docker-volume-vsphere/pull/702 fixes this, clean is run inside docker runs.

[2016-11-11 19:13] #637 closed

[2016-11-11 19:18] kerneltime commented on #695
The original issue around tests being flaky due to vmfd file being deleted has been addressed, renaming this to address the concern raised by @brunotm around serialization of multiple op requests.

[2016-11-11 19:45] #164 closed

[2016-11-11 19:49] kerneltime opened #727 "Matrix testing and multiple testbeds are needed in CI"
We need the following abilities integrated into our repo for drone
- [x] Support for a clean and identical testbed for each test run
- [ ] Support for multiple test beds
- [x] Address #650

[2016-11-11 21:52] kerneltime opened #728 "github page: Move current documentation to a subfolder under root"
In preparation for the new landing page, the existing index.html page will be moved to a sub folder with a redirection from root. Once the landing page is ready a link to the documentation will be added the landing page's index.html will be the root for the git hub page.

[2016-11-11 23:37] kerneltime commented on #728
New page is up https://vmware.github.io/docker-volume-vsphere/
Contributing.md needs updating.

[2016-11-12 15:49] kerneltime opened #730 "Support for CoreOS"
This involves

- [ ] publishing the plugin as docker images

- [ ] document and/or automate as far as possible the deployment of plugin on core os.

[2016-11-14 11:22] govint commented on #671
@MattAtTTU Can this issue be closed as there are no code changes, the feature is working as expected and shared volumes aren't supported at this time. The stack seen in the traces won't happen with the current code.

[2016-11-14 14:37] MattAtTTU commented on #671
Yes, this can be closed.  Closing.

[2016-11-14 14:37] #671 closed

[2016-11-14 22:37] msterin commented on #269
I think it is already covered by services management - it check pid file, so we should be good here.
@kerneltime  ?

[2016-11-14 22:38] msterin commented on #16
@kerneltime - can we close this one ?

[2016-11-14 22:40] pdhamdhere commented on #16
Yes, page is live. However, logo on https://vmware.github.io/ needs an update. Assigning to Aparna

[2016-11-14 23:06] asomaiah commented on #16
The logo cant be updated there for now. Approval process is taking longer than expected. Closing this for now and will update once the approval process is complete.

[2016-11-14 23:06] #16 closed

[2016-11-15 00:19] lipingxue opened #734 "Tenancy: need add code to validate input parameters for all AdminCLI for tenant management"
Comments from PR #729  suggested that input parameters for all AdminCLI for tenant management need to be validated .
For detail, see this PR https://github.com/vmware/docker-volume-vsphere/pull/729

[2016-11-15 17:30] govint commented on #652
Closed via #722

[2016-11-15 17:30] #652 closed

[2016-11-15 22:25] pdhamdhere commented on #666
[vSphere 6.5 is GA](https://www.vmware.com/support/pubs/vsphere-esxi-vcenter-server-6-pubs.html)! Build# 4564106

[2016-11-16 18:00] kerneltime commented on #728
https://github.com/vmware/docker-volume-vsphere/pull/732

[2016-11-16 18:00] #728 closed

[2016-11-16 18:01] kerneltime commented on #650
https://github.com/vmware/docker-volume-vsphere/pull/736

[2016-11-16 18:01] #650 closed

[2016-11-16 18:07] #648 closed

[2016-11-16 18:10] kerneltime commented on #727
Renaming this issue for matrix testing.

[2016-11-16 18:12] kerneltime commented on #727
Duplicate of https://github.com/vmware/docker-volume-vsphere/issues/161

[2016-11-16 18:12] #727 closed

[2016-11-16 18:53] ashahi1 opened #737 "Improve log output for a negative test case"
Test is expected to fail since it tries to delete a non-existing vsan policy but from the console log its not clear if its an expected failure or its a genuine product issue.

=====================================

console output:
[code]

[2016-11-16 19:13] shuklanirdesh82 opened #738 "vmdk_ops does not report attached volumes correctly: inspect volume and vmdk_ops list volumes results are different and getting error "vm doesn't belong to any tenant""
Environment Details:
#VMs: 2 photon vms (VM1, VM2)
ESX: VMware ESXi 6.0.0 build-3620759
Datastore: vmfs

Steps to Reproduce:
1. docker volume create --driver=vmdk --name=vmwDataVol -o size=10gb (on VM1)
[code]
2.  make sure volume is visible to another vm (VM2) and inspecting volume should say 'detached'

[code]
3. docker run --rm -it -v vmwDataVol:/mnt/myvol2 busybox
4. docker volume inspect vmwD

[2016-11-16 19:29] govint commented on #738
Needs to get the VM name from the attached VM UUID in the KV. I'll fix this

[2016-11-16 20:55] kerneltime commented on #495
I do not see this log message any more. https://ci.vmware.run/vmware/docker-volume-vsphere/370

[2016-11-16 20:55] #495 closed

[2016-11-16 21:02] kerneltime commented on #161
Adding need for 6.5 testing https://github.com/vmware/docker-volume-vsphere/issues/666

[2016-11-16 21:27] lipingxue opened #740 "unit test for multi-tenancy need to be data-driven"
The following is from review comment for this PR  https://github.com/vmware/docker-volume-vsphere/pull/729
A general comment on tests: it is better to have them data drivel . I.e. instead of using tenantx_volx ad opts and other stuff in the code, ALL that should be in data structures and the test should just taverse the structures. See example (testInfo traversing) in vmdk_ops_test.py.

It's OK to

[2016-11-16 21:52] SteloNLD opened #741 "Docker volume creation error // The request refers to an unexpected or unknown type"
Out of interest i wanted to try using the  VMWare Docker Volume Driver but i have some issues, maybe someone here can help me.

I am using a standalone ESXi host with a free hypervisor license  on which I installed the VIB file.

* IMAGE: (Updated) HPE-ESXi-6.0.0-Update2-iso-600.9.5.048
* vmware-esx-vmdkops-0.8.1.vib

Then I created a PhotonOS virtual machine on which i installed the RPM.

* photo

[2016-11-16 22:02] kerneltime commented on #741
Can you confirm if the VMs are on a USB drive or on NFS? By default the datastore picked is the same one as VMs. ```/vmfs/volumes/VMs/dockvols/MyVolume.vmdk ```

[2016-11-16 22:11] SteloNLD commented on #741
Dear kerneltime,

The VM is on the VMs NFS datastore, but yours and the log files reference to **USB** is something that could relate to the USB device (SmartCard Reader) that the ESXi Host is passingtrough to the VM.

After removing the USB Device from the VM config it worked again.

![2016-11-16 23_03_34-docker volume creation error __ the request refers to an unexpected or unknown t](https://cl

[2016-11-16 22:47] kerneltime commented on #741
@SteloNLD Thank you for the prompt and detailed reply. We will look into this and let you know if we have more questions. For now please continue to try out the plugin without the USB drive being passed through to the VM.

[2016-11-16 22:57] kerneltime commented on #291
Related to this https://github.com/vmware/docker-volume-vsphere/issues/439 and https://github.com/vmware/docker-volume-vsphere/issues/439 might be a better way to do this.

[2016-11-16 23:04] kerneltime commented on #579
Can we add a test which removes a PVSCSI controller and then adds it? It is cheaper than keeping dedicated VMs for it.

[2016-11-16 23:24] kerneltime opened #743 "[Test Automation - 1 test] Volume attached to node 1, issue volume operations from node 2"
We need tests which explicitly test concurrency handling from multiple nodes. (Related to https://github.com/vmware/docker-volume-vsphere/issues/716)
As an example
[code]

[2016-11-16 23:36] shuklanirdesh82 opened #744 "Test improvement (go tests): Supply unique name for volume creation"
All test should be having unique name such as build# (while running through CI) and timestamp (on local).

CC @kerneltime

[2016-11-16 23:53] kerneltime commented on #744
This is a duplicate of https://github.com/vmware/docker-volume-vsphere/issues/509

[2016-11-16 23:53] #744 closed

[2016-11-17 04:16] govint commented on #579
Yes, may be test set up should add the controller and remove at end of the
test.

On Thu, Nov 17, 2016 at 4:34 AM, Ritesh H Shukla <notifications@github.com>
wrote:

[2016-11-17 08:11] govint commented on #741
@SteloNLD can you post the contents of the vmx file for this VM with the USB device configured to the VM.

[2016-11-17 08:17] govint opened #746 "Add a print_message() or similar function in admin CLI"
With each change that goes in for the admin CLI there is a chance that Python 3.5 incompatible changes get checked in - especially try - except blocks (uses except (exception name), e:) and print statements.

There are multiple places where new print messages keep getting added and those break the admin CLI on VSphere 6.5 (Python 3.5).

Instead define a new print_message() function that is called

[2016-11-17 09:41] SteloNLD commented on #741
@govint no problem, but i do not have access to this machine right now, i can do this for you somewhere around 11PM (GMT + 1)

[2016-11-17 11:10] govint commented on #695
Are there any more changes to be made for this issue? @brunotm @kerneltime

[2016-11-17 11:24] brunotm commented on #695
@govint
I think this can be handled more gracefully (and simpler) with your suggestion of visibility control in state changes, rather than introducing a higher level locking mechanism. (higher than volume/request).

So specifically for this issue, if we decide to go the state/visibility path, no.
If needed i can look at it by the end of month.

Thanks.

[2016-11-17 19:47] msterin opened #747 "Need to add test for VMs in nested folders"
Admin can create VM in nested folders /resource pools. We do not have test coverage for this and I suspect some of our internal "findByName" will fail (or not). We need a test coverage here.

[2016-11-17 22:27] SteloNLD commented on #741
@govint as promised [Phonton01.zip](https://github.com/vmware/docker-volume-vsphere/files/598624/Phonton01.zip)

[2016-11-18 00:40] lipingxue commented on #715
I discussed this with Mark. This is the redesign we need to do for this:
- currently, we create a directory "datastore/dockvol/tenant_name" to store all volumes created by this tenant.
- the proposed change is
  1) we don't create directory by using tenant_name, instead we use tenant_uuid. So we will create a directory like "datastore/dockvols/tenant_uuid" to store all volumes create by this tenan

[2016-11-18 03:44] govint commented on #738
Fixed via #745

[2016-11-18 03:44] #738 closed

[2016-11-18 20:38] MattAtTTU opened #749 "Need capability to mount volume as different uid/gid."
The docker create command, when used with the default Docker volume driver, allows the user to specify uid and gid to control ownership of volume mount.  With this driver, that does not appear to be possible.  If one tries to supply the uid argument, the volume usage is displayed with driver options, which don't include uid.

The documentation indicates use of uid should be possible since it says

[2016-11-18 22:20] pdhamdhere commented on #730
Did following to use vSphere Docker Volume service on CoreOS.

- Build vSphere Docker Volume Service container from latest release (Thanks to @kerneltime )
[code]
[code]
- Configure Docker to use shared mount: Create `/etc/systemd/system/docker.service.d/slave-mount-flags.conf` and add following
[code]
- `systemctl daemon-reload`
- `systemctl restart docker`

- Launch vSphere Docker Volume Service

[2016-11-18 22:32] msterin commented on #749
uid/gid This is a specific feature of the local volume driver, and it is not supported generically by Docker infra for volumes plugin, so we can't add it without a PR in Docker.

Details:
Docker VM gid/uid will not mean much on actual ESX storage where we keep the data. So we can enforce it only by persisting uid/gid in volume meta-data and enforcing on mount.  However when we are getting Mount fr

[2016-11-18 22:55] pdhamdhere opened #750 "Feature Request: Ability to specify format options with "-o fstype""
[code]

It would be nice to have an advanced option to specify additional arguments like blocksize etc with "-o fstype" during volume create.

CC/ @cdickmann

[2016-11-18 23:25] kerneltime commented on #730
Relevant: https://github.com/docker/docker/issues/20656

[2016-11-19 00:51] msterin commented on #351
Fixed by #739

[2016-11-19 00:51] #351 closed

[2016-11-19 12:24] govint commented on #750
One thing is, Get() on a volume can fail and volume meta-data may not be returned to the plugin. In which case we keep falling back to defaults and may not necessarily be able to use a volume if meta-data isn't available (like block size) for any reason.

[2016-11-19 16:57] lipingxue opened #757 "Tenancy: need handle auth DB migration"
auth DB schema is changing along the feature development. Therefore, we need a framework to handle the the DB migration.

[2016-11-21 10:42] brunotm opened #758 "Volume lockname need more context"
Currently locknames are the volume name without any other context, like path, datastore or tenant.
Which makes possible to have one or more threads unnecessarily waiting for the same lock while trying to perform ops for different volumes with the same name (eg. volumes on different tenants).

This can be easily addressed giving more context to locknames using more unique names:

- Volume datastore

[2016-11-21 12:31] govint commented on #758
Option 1 is good, but we need these lock APIs to be embedded close to the logic that performs the disk op. And have API around those. Just so multiple code modules don't have to start knowing the locking scheme and use it properly around disk ops. Same goes for authorization as well.

[2016-11-21 12:46] brunotm commented on #758
@govint
The volume locks for create/delete (and even gets) needs to be acquired for the lifetime of that request, or we can easily have 2 request threads racing with the same volume if we just acquire them when touching the volume. Having the general lock in a high level fashion on the top of the thread as we have now is good and can assure thread safety for the code bellow working on that volume

[2016-11-21 14:22] brunotm opened #759 "Document locking scheme and threadutils package"
The actual locking scheme and threadutils package needs general documentation and utilisation guidelines.

1. locking strategy
- locking scope and naming
- Resource locks: request,volume, etc with threadutils.LockManager
- Package, object, method and function locks with locking decorators
- Reentrancy or not

2. threadutils package usage:
- LockManager
- Lock decorators
- other utilities

I think

[2016-11-21 14:32] cpuguy83 commented on #749
Open to proposals on how we can support this at the engine API level.
Something like an on-mount-opt and support templating with container data (e.g. `{{ .User }}`)

[2016-11-21 21:44] #666 closed

[2016-11-21 21:45] msterin commented on #161
changing milestone to 0.9 so we can officially support ESX 6.5

[2016-11-21 21:47] kerneltime commented on #161
This is a much broader test matrix problem.. not sure milestone 0.9 makes sense. We can have a targeted issues for 6.5 only as a sub issue for this one.

[2016-11-21 21:48] kerneltime opened #763 "Add support for ESX 6.5 in CI"
Each run of CI will be against ESX 6.0 and 6.5. This is important since the python versions vary and we do not want silent breakage of code.

[2016-11-21 21:48] kerneltime commented on #161
https://github.com/vmware/docker-volume-vsphere/issues/763

[2016-11-21 21:50] kerneltime commented on #763
This needs

- [ ] ESX 6.5

- [ ] VSAN on ESX 6.5

- [ ] Choice of VM flavors deployed

- [ ] Drone matrix testing

[2016-11-21 22:09] guillierf opened #764 "installing ESXi VIB (release 0.8.1) does not work on Photon Platform ESXi host"
hi

I tried to installed vmware-esx-vmdkops-0.8.1.vib on an ESXi host prepared with Photon Platform and I got the following message:

root@localhost:/tmp] esxcli software vib install --no-sig-check -v /tmp/vmware-esx-vmdkops-0.8.1.vib
 [DependencyError]
 VIB VMware_bootbank_photon-controller-agent_v1.0.0-c8a0db0's acceptance level is community, which is not compliant with the ImageProfile acceptan

[2016-11-21 22:20] guillierf commented on #764
note: using the --force option works

[root@localhost:/tmp] esxcli software vib install --no-sig-check -v /tmp/vmware-esx-vmdkops-0.8.1.vib --force
Installation Result
   Message: Operation finished successfully.
   Reboot Required: false
   VIBs Installed: VMWare_bootbank_esx-vmdkops-service_0.8.1-0.0.1
   VIBs Removed:
   VIBs Skipped:
[root@localhost:/tmp]

[2016-11-21 23:26] pdhamdhere commented on #764
@guillierf vSphere Docker Volume Service is NOT supported on Photon Platform. We are actively exploring options to integrate with Photon Platform. Is there specific use case you have in mind?

CC/ @govint @AlainRoy  @asomaiah

[2016-11-22 07:36] govint commented on #462
Supported via #726

[2016-11-22 07:36] #462 closed

[2016-11-22 07:51] #758 closed

[2016-11-22 07:56] msterin commented on #749
FWIW I think all plugin ops need to have a context, and the uid/gid of the requesting user to be a part of the context. The plugin can take it from there. mount is just  a  case, create() may be equally important.
Having it with container data does not really help as in plugin API I have no idea what container is requesting the volume

[2016-11-22 07:59] msterin commented on #741
Unpacking for reference:
[code]

[2016-11-22 08:01] msterin commented on #644
@kerneltime  - do we still have this Issue ? It looks like the root cause was already addressed...

[2016-11-22 08:26] govint commented on #463
#462 is fixed and in a sense provides a way to support this use case of rapid provisioning of "primed" VMDK volumes to containers as needed.

[2016-11-22 08:26] #463 closed

[2016-11-22 09:46] brunotm commented on #749
Also options like uid/gid for mount usually exists only for filesystems that doesn't support unix permissions. So uid/guid setting for mount on filesystems like ext*, xfs and btrfs would have to be handled by the chown syscall on the host mount point.

I think that for persistent setting (on create) would suffice to handle both metadata at the vmdk_ops service and chown on plugin, but without cont

[2016-11-22 10:11] govint commented on #749
As @msterin pointed out we need a good usecase where this would help or apply.

That apart the uid/gid can be tracked by the plugin to the FS can be mounted with the uid and gid options to mount  or the mount point itself is inside a dir that's owned by the uid/gid provided on create.  Thereby restricting access to the mount point to the uid/gid.

[2016-11-22 13:13] govint commented on #741
Checked the code that handles a VM reconfig task and looks like we need to investigate more on the ESX side (specifically hostd) for why the exception is thrown. From the code at least I didn't see any checks that would disallow a disk hot add when a USB disk is in use.

@SteloNLD, can you collect the file /var/run/log/hostd.log from the ESX host immediately after the error and attach that.

[2016-11-22 16:54] msterin commented on #741
@govint - can you repro the issue ? It would be much more effective to have a repro.

[2016-11-22 18:42] SteloNLD commented on #741
Here it is, it tried it with and without a USB pass-through device, i also tried a different USB device wich gave me the same error.

I also found out that the docker volumes I created while there was no USB device being passed trough do show up with `docker volume ls` after a reboot, even while there is a USB device being passed through.
[hostd.zip](https://github.com/vmware/docker-volume-vsphere

[2016-11-22 23:41] #711 closed

[2016-11-22 23:43] pdhamdhere commented on #676
"--volume-maxcount" removed in PR #729

[2016-11-22 23:43] #676 closed

[2016-11-22 23:44] pdhamdhere commented on #668
Unit tests for backend are done chcked in #729
Unit tests for Admin CLI pending.

[2016-11-22 23:45] pdhamdhere commented on #618
Not relevant with design changes.

[2016-11-22 23:45] #618 closed

[2016-11-22 23:48] pdhamdhere commented on #653
All done with #645 and #729

[2016-11-22 23:48] #653 closed

[2016-11-22 23:56] #663 closed

[2016-11-23 00:00] pdhamdhere commented on #764
Photon Platform support is tracked in different forum.

[2016-11-23 00:00] #764 closed

[2016-11-23 01:38] msterin commented on #60
This is not really needed after #726
Closing

//CC @pdhamdhere @brunotm

[2016-11-23 01:38] #60 closed

[2016-11-23 04:15] govint commented on #741
@SteloNLD Thanks for the logs I have reached out to the teams here to check these and figure if there is any issue with having a USB disk configured to the VM that would prevent a hot add of a VMDK to the VM.

[2016-11-23 04:18] govint commented on #746
Closing, may be just rely on using a coding guideline to be Python 3.5 compliant when making changes.

[2016-11-23 04:18] #746 closed

[2016-11-23 04:22] govint commented on #608
Docker 1.1.13 is out and am checking with that if the fix is in it and will post the changes.

[2016-11-23 04:26] govint commented on #320
Closing as #608 will address changes to the plugin to handle new docker behavior on mount failure.

[2016-11-23 04:26] #320 closed

[2016-11-23 07:37] govint commented on #608
Docker version
Client:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:        Wed Oct 26 21:44:32 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:        Wed Oct 26 21:44:32 2016
 OS/Arch:      linux/amd64

  ---

Command :  Uses -w option, docker doesn't issue an

[2016-11-23 10:20] SteloNLD commented on #741
@govint, no problem but remember the device being passed trough by me is a USB Smartcard Reader, i also tried a different USB device  (USB Audio device) but that gave me the same error so i don't known about any USB disk device.

A USB Smartcard Reader in double passthrough mode as i would like to call it (esxi-host > photon-vm > docker-container) can be useful in some situaties where you do not w

[2016-11-23 13:38] govint commented on #608
Tried with 1.13.0-rc-1 and there is no unmount if mount fails (with or without -w option).

  ---
/ # administrator@hte-1s-eng-dhcp98:~$ docker run --rm -it -v test-um3:/data busybox
docker: Error response from daemon: error while mounting volume '/mnt/vmdk/test-um3': Post http://%2Frun%2Fdocker%2Fplugins%2Fvmdk.sock/VolumeDriver.Mount: http: ContentLength=92 with Body length 0.
administrator@hte-

[2016-11-23 17:44] kerneltime opened #768 "Master build failed"
After @brunotm PR was merged https://github.com/vmware/docker-volume-vsphere/pull/760 the master build failed https://ci.vmware.run/vmware/docker-volume-vsphere/463
[code]

[ci.463.txt](https://github.com/vmware/docker-volume-vsphere/files/609601/ci.463.txt)

[2016-11-23 17:57] kerneltime commented on #768
Hostd log

[2016-11-23 18:31] kerneltime commented on #656
@govint is there a PR open with Photon?  If not can you file one? or Link it here.

[2016-11-23 18:32] kerneltime commented on #724
Not sure why this was tagged for 0.9 it has not been scoped or assigned.

[2016-11-23 18:32] kerneltime commented on #670
This has been planned for next release

[2016-11-23 18:56] kerneltime commented on #768
Relevant bits.
[code]

[2016-11-23 18:57] kerneltime commented on #768
We need to start capturing the hostd log file as part of the build, the snapshot and restore model for CI also implies that we lose all other logs relevant to the failure.

[2016-11-23 18:58] kerneltime opened #769 "Capture the hostd log as part of CI run."
We need to include the hostd log from ESX as part of the run output.

[2016-11-23 19:00] brunotm commented on #768
@kerneltime
Is the hostd.txt correct? I only see dates between 2016-11-14T06:47:10.420Z and 2016-11-15T04:32:07.085Z.

My main concern with this failure is that all previous builds of that PR were done successfully on top of master, the error in question came from objtool in vmdk_ops.get_vsan_devfs_path (not in the scope of #760) and the output errors weren't being logged until #765.

But from CI

[2016-11-23 19:05] kerneltime commented on #768
@brunotm I will delete the hostd log from here, we snapshot and restore so it does not contain any relevant bits.. I have filed a issue to capture the hostd logs for CI runs.
The devFS node used to be created to format the disk (which should no longer be needed). Will look into it.
We need to know why the test failed, this should not be related #760 and might be another issue lurking that manifest

[2016-11-23 19:27] pdhamdhere commented on #656
Fixed in latest PhotonOS release: https://github.com/vmware/photon/issues/541

[2016-11-23 19:27] #656 closed

[2016-11-23 21:39] brunotm opened #770 "Fix lockname for source volume in vmdk_ops.cloneVMDK"
The lockname of source volume for cloning in vmdk_ops.cloneVMDK went unchanged in #760, needs changing to the new name scheme.

Discovered while investigating the build failure of #768, but it is not this code path.

[2016-11-23 21:51] brunotm commented on #768
@kerneltime
I reviewed the changes and tested again, but i couldn't reproduce it. - i don't have a vsan testbed at this moment.

Early finding #770 was the good part.

Thanks.

[2016-11-23 22:02] brunotm opened #772 "Plugin parallel sanity test needs to include clone and single vm concurrency."
Currently the clone ops are only covered in vmdk_ops unit test, we also need to cover clone ops in parallel sanity test.

This can be addressed with the same method or in the same parallel tests.

---
EDIT:
Updated to include tests for single vm concurrency.
Will address in #802

//CC @msterin

[2016-11-23 22:30] ashahi1 opened #773 "Automated testbed deployment"
This involves automating the testbed deployment
# Internal
- [x] Single command to   deploy a testbed with one ESX 6.0U2, VMFS & VSAN datastores and two Photon VMs on each datastore (default configuration docker 1.11).

- [x] need to have support for docker update version too i.e. 1.12

- [x] Automating configuration of IPTables and upgrading the docker version on the photon VMs

# External
- [ ]

[2016-11-24 00:47] ashahi1 opened #776 "Improve test coverage by addressing test gaps for vSphere data volume driver"
This focuses on adding more testcases for data volume driver.

@ashahi1 Please list down identified testcases as below.

- [ ] Test1

- [ ] Test2

[2016-11-24 05:01] govint commented on #741
@SteloNLD thanks for the logs, apparently this may be a bug in the ESX itself. For now I'd suggest the only workaround is to leave the reader unplugged when starting the container. Not sure if the container'ed app will be ok with having the SMC reader plugged thereafter though.

[2016-11-24 05:34] govint commented on #601
Besides not being able to share volumes on container instances across VMs we can showcase using the VMDK driver for cases where a service can migrate across hosts and VMs and still be able to access its data, like this one - https://github.com/codedellemc/labs/tree/master/demo-persistence-with-minecraft-docker.
cc @asomaiah

[2016-11-24 07:24] brunotm commented on #768
@kerneltime
I have noticed the buid 491 failure with the log below.

While my understanding is that is that the file itself is locked or open by something outside the vmdk_ops service (the busy messages are from failed open() calls on the file) and the ops in parallel tests are being performed on different volumes i don't have the debug log to actually exclude the #760 code change. Even though it

[2016-11-24 07:39] govint commented on #768
Possibly could spawn an lsof during the retry loop to figure which process has the file open

[2016-11-24 07:59] brunotm commented on #768
@govint
That's a very good idea. I can put something in vmdk_utils for that.

[2016-11-24 09:25] SteloNLD commented on #741
@govint thank you for your reply, i will do so,

[2016-11-24 17:02] brunotm commented on #768
@govint @kerneltime
Below are the relevant parts from #778 build 498. Unfortunately it didn't fail or the behaviour manifested on the vsan part. But it does give an idea.

[code]

[2016-11-28 19:39] govint commented on #741
@SteloNLD, if you have the ESX in the state when the issue was seen can you please run "vm-support" on the host and upload the tar file to this issue so the issue in ESX can be debugged further. Thank.

[2016-11-28 21:00] #770 closed

[2016-11-28 22:29] #769 closed

[2016-11-28 22:46] shaominchen opened #782 "Using immutable datastore identifier to define & check privileges"
Currently we are using datastore name to define and check privileges. Datastore name can be changed after the datastore was created. Current logic will not work if this happens.

We should be using an immutable datastore identifier, such as datastore URL, to define and check privileges. However, from user experience point of view, datastore name is much easier to be used/recognized, especially in

[2016-11-28 23:19] shaominchen opened #783 "Tenant Admin CLI may return obsolete VM name"
Currently we are persisting both VM ID and VM name in the backend database. However, VM name can be changed after the VM was created. If this happens, when user executes Tenant Admin CLI such as "vmdkops_admin tenant ls" or "vmdkops_admin tenant vm ls", the command will return obsolete VM names.

Some possible options to resolve this issue:
1. Don't persist VM name. Always query VM name at runtime

[2016-11-29 08:26] kerneltime commented on #663
https://github.com/vmware/docker-volume-vsphere/pull/689

[2016-11-29 08:37] kerneltime commented on #710
Can the PR be linked here? This links to a PR that was closed and this issue was closed without linking to a PR..

[2016-11-29 08:55] kerneltime commented on #763
VIB install on 6.5 failed as service did not start, need to debug more.

[2016-11-30 18:55] kerneltime opened #786 "Address regression in ESX 6.5 support."
Recent changes part of https://github.com/vmware/docker-volume-vsphere/pull/729 caused regression in 6.5 support

[2016-11-30 19:14] kerneltime commented on #786
Fix on it's way

[2016-11-30 19:18] shuklanirdesh82 commented on #509
The reported issue has been addressed through https://github.com/vmware/docker-volume-vsphere/pull/761 .. closing this issue.

Please reopen if any further changes are required with details.

Thanks!

[2016-11-30 19:18] #509 closed

[2016-11-30 19:37] ashahi1 opened #787 "[driver tests] Adding support to use build number for tests"
If we create a volume, this change will enable those volumes to attach build number to the volume name. This will help us in debug cleanup issues on CI infra as we will be able to identify which particular CI run failed to delete the volumes.

[2016-11-30 20:13] shuklanirdesh82 commented on #737
Thanks Anup! Changes are merged so closing this now.

[2016-11-30 20:13] #737 closed

[2016-11-30 22:43] pdhamdhere commented on #783
Good catch. We only need to store UUID and convert UUID to VM Name when needed at runtime. See related PR #722

[2016-11-30 22:50] kerneltime commented on #773
# Internal

- [ ] Add support for selection version of ESX
- [ ] Add support for selection of OS distro

[2016-11-30 22:56] lipingxue commented on #773
Can we add support to set the default logging level to DEBUG? That would be very helpful for debugging the test failure.

[2016-12-02 00:28] shaominchen opened #789 "Add ESX VMODL API for multi-tenancy features"
1. Define ESX VMODL APIs for multi-tenancy features
2. Implement the VMODL API - integrate with existing common API layer
3. Add unit tests for all VMODL APIs

Note: The existing common API layer and related Admin CLI implementation need to be changed to accommodate new API design.

[2016-12-02 06:01] govint commented on #741
@SteloNLD Thanks very much for uploading the vm-support I've taken it and we can debug this further internally. Thanks again.

[2016-12-02 08:14] kerneltime opened #790 "Refcount tests are failing against docker 1.12.2"
Ran into this while deploying the 6.5 testbed which has VMs with newer version of Docker.
https://ci.vmware.run/vmware/docker-volume-vsphere/584
This issue is blocking https://github.com/vmware/docker-volume-vsphere/issues/763

Ran it manually as well against the testbed.

Sample run
[code]
[docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/626619/docker-volume-vsphe

[2016-12-02 11:16] govint commented on #790
Whats happening is this:

1. The test misc/scripts/refcnt_test.sh runs and does this:
a. Creates one volumes attaches them to five containers
b. Checks that ref counts match the number of containers, checks that rm of volume fails.
c. Then checks the recovery path.
d. Kills the plugin process and waits for it to restart
e. Plugin restarts and is doing refcounts init which ensures counts of contain

[2016-12-05 16:45] shuklanirdesh82 opened #793 "Improve test coverage by addressing test gaps for vSphere docker volume plugin"
This issue is focusing on adding more tests for plugin module.
- [ ] #743 (exercise volume operations from multiple endpoint)
- [x] #794 (create vSphere volume on newly created vm)
- [ ] #820 (update access option for the volume)

[2016-12-05 16:54] shuklanirdesh82 opened #794 "Add test: creating vSphere docker volume on freshly created VM shouldn't run into issue reported #656"
Automation steps:

Test objective: create volume on fresh setup very first time where PVSCSI adapter is not added to the VM and vSphere docker volume plugin add the same automatically and creates the volume successfully

The issue was observed on photon so steps are mentioned for photon OS only in fact test should be OS agnostic.

1. create photon vm on esx 6.0U2 with default setting
2. make sure

[2016-12-05 22:26] #786 closed

[2016-12-06 22:05] pdhamdhere commented on #790
@kerneltime is this still a blocker? If yes, who is working on fix?

[2016-12-07 01:38] msterin opened #799 "Investigate slvim APIs for vSPhere 6.5"
slvim.VirtualDiskManager/ vim.vslm.host.VStorageObjectManager/ APIs is a recommended way to deal with disks in 6.5 (see https://pubs.vmware.com/vsphere-65/index.jsp#com.vmware.wssdk.apiref.doc/vim.VirtualDiskManager.html?path=4_2_0_2_5_3_98#createVirtualDisk).
This issue is to investigate it's usage and potentially switch to it in vmdk_ops service for vSPhere 6.5

virtualDiskManager.CreateVirtualD

[2016-12-07 01:43] #768 closed

[2016-12-07 03:47] govint commented on #790
PR #791 handles the issue that caused this test to fail. The test itself can be re-designed to get the number of in use disks recovered by the plugin on startup, but for now there is no API to call into the plugin to figure that.

[2016-12-07 04:28] ashahi1 opened #800 "Fix build.sh to also check for testasroot target"
misc/scripts/build.sh is not running make on testasroot target.

Main job of build.shell is to run containers and then do 'make Target' within those containers.

Due to some earlier  change in build.sh, we had missed to add condition to also run 'testsasroot' target while running our tests locally.

This issue was not discovered on drone because while running tests on drone, we do not call build.s

[2016-12-07 19:04] lipingxue opened #803 "Tenancy: code refactor is needed to have a persistence layer (or DAO layer) to handle DB operations."
This is the review comment from this PR https://github.com/vmware/docker-volume-vsphere/pull/781

From @shaominchen and @msterin
As I mentioned in one comment, the DB connections are exposed in many classes. We should refactor this code to have a persistence layer (or DAO layer) to handle DB operations. Other core business logic should not handle DB connections. This way different layers can evolv

[2016-12-07 20:53] #800 closed

[2016-12-08 06:31] govint opened #805 "Add support for Photon disks in the volume plugin"
Changes at #798

[2016-12-08 06:34] kerneltime opened #806 "Revisit how tests are run for CI to reduce over all time taken."
CI runs currently take around 1.5 hours. Out of which 2 test take around 40 minutes (10 min each run * (2 ESX * 2 Backends per ESX)  (tests: vmdk_ops_test.py + vmdkops_admin_test.py). Not all of the tests need to be run per back end and some of the tests can be skipped as the risk of breakage is low and those can be run as part of master builds only.
Some ideas for improving CI run times.
- [ ] Wh

[2016-12-08 12:09] brunotm opened #809 "Attach/detach ops needs serialization for the same vm"
Currently parallel ops on the same vm that involves reconfiguration tasks will fail with the message from the service instance:

`VolumeDriver.Create: Another task is already in progress.`

Fixed by #808.

//CC @msterin

[2016-12-08 19:25] #809 closed

[2016-12-12 07:47] govint opened #812 "Change name of vmdk plugin driver to "vsphere""
With the addition of  a "photon" volume type to the volume plugin, for consistency, change "vmdk" volume type to "vsphere".

[2016-12-13 07:35] brunotm opened #813 "Investigate execution times of concurrent tests on VSAN"
The actual (before #802) concurrent tests on CI usually takes around 80 seconds to complete in vmfs datastores. On vsan it can take anywhere between 80 to 3000 seconds to complete.

Investigation is needed to understand if some kind of adjustment is needed in the vmdk_ops service when running on VSAN, which may not be tuned for the rate of create/delete operations of the tests or if we are trigger

[2016-12-13 10:54] govint opened #814 "Create sanity tests for photon volumes"
This issue is a place holder for sanity tests are to be created for photon volumes (supported via photon driver). This needs manual configuration and hence not automated (later when meta-data config gets supported for VMs on photon).

[2016-12-13 18:55] kerneltime opened #815 "Move docker api usage to the new import"
The old engine-api import is deprecated.
More into @ https://github.com/docker/engine-api
We use these for tests.

[2016-12-13 20:47] shuklanirdesh82 opened #816 "volume creation fails when datastore name is having embedded spaces e.g. "datastore (1)""
Steps to reproduce:
1. rename existing datastore which is not having spaces e.g. datastore => datastore (1)
2. invoke volume creation (docker volume create --driver=vmdk --name=MyVol22334 -o size=1gb)

Expectation: volume creation should succeed

**Note**: having spaces in datastore name is a valid name in vc context; while adding ESXs to VC which is having same datastore name; VC renames datastor

[2016-12-13 21:09] shuklanirdesh82 opened #817 "Return list of allowed datastores if datastore does not exist in volume create command"
Steps to reproduce:
1. execute following volume creation command where 'abc' is not a valid datastore name in the inventory
[code]

Expectation: proper error message should be return to let user know that supplied datastore is not exist

on ESX (vmdk_ops.log):
[code]

[2016-12-13 23:18] shuklanirdesh82 opened #818 "Not able to create vsphere docker volume (using short volume names) after renaming datastore; running into "IndexError('list index out of range',)""
Short volume name reference: https://github.com/vmware/docker-volume-vsphere/blob/master/docs/misc/VolumeNames.md#short-volume-names

Steps to reproduce:

1)  create vsphere docker volume using following command (Let's say we have created photon1 docker host on TestDatastore)
[code]
2) make sure volume is created successfully
[code]
3) rename the datastore which is hosting docker VM i.e. TestDatas

[2016-12-14 00:50] shuklanirdesh82 opened #820 "Add Test: create volume with access:read-write and later change it to read-only"
Requirement: at-least 2 docker VMs (VM1 & VM2) on the same ESX host

Test objective: update access option for the volume

1. covert read-only volume to read-write and back to read-only
2. covert read-write volume to read-only and back to read-write

Automation steps:

Steps for #1:

1. create a volume Vol1 as ('access', 'read-write')
2. attach a container from VM1 and write to volume and exit
3. a

[2016-12-14 04:45] govint commented on #818
The datastore for the volume ops is obtained from the VM group info in vsi. And that doesn't change when path names change. For example,
  ---
/vm/39323/> cat /vm/39323/vmmGroupInfo
group info {
   process id:-1
   uuid:56 4d 39 2b 3c b8 5a 4a-86 2a 3d f7 a5 90 d9 7e
   VC uuid:ee 8c 03 50 ef 71 64 84-4a b4 22 bd 50 4b 64 3e
   display name:2
   config file path:/vmfs/volumes/523c14b7-e5561042-5e2

[2016-12-14 06:35] govint opened #821 "Incorporate generating plugin driver version number during build."
Presently, the vmdk driver version is fixed in the code and instead needs to be generated during the build process. There is no API to get the driver version, but it can well be included in the volume status (via Get() on a volume) in case we want to expose this anyway.

[2016-12-14 06:35] govint commented on #821
CC @kerneltime

[2016-12-14 06:36] govint commented on #818
One fix for this may be to not use VMM groupInfo to get the datastore and instead use the "datastoreUrl" in the VM config got via VIM api.

[2016-12-14 07:02] kerneltime commented on #821
Can you answer the question here https://github.com/vmware/docker-volume-vsphere/pull/811#discussion_r92241774
Why do we need the const version? The only place it is used is to log it.

[2016-12-14 07:04] kerneltime commented on #820
LGTM. We should also add a test to make sure we can convert a read-only drive to read-writable drive.

[2016-12-14 07:06] kerneltime commented on #763
Reverted to docker version 1.11 that comes with stock photon os image.

[2016-12-14 07:06] #763 closed

[2016-12-14 23:09] pdhamdhere commented on #790
@govint Can you please take a look? I hear this is blocker to support Docker 1.12.X

[2016-12-15 00:00] ashahi1 opened #824 "End_to_End test to verify the size of volume using admin cli and docker cli"
This test should verify that the size of volume created should be same as reported by vmkfstools.

[2016-12-15 10:37] govint commented on #790
I'm seeing refcount errors with 1.13.1 as well and its owing to the way the test code determines test outcome. Have posted PR #826 for review.

[2016-12-15 12:59] govint commented on #741
@SteloNLD, did the workaround help. I've got an internal issue thats tracking this behavior and will be fixed. Since this issue isn't pointing to a bug in the plugin or the Vsphere volume service can we close this  issue?

[2016-12-16 08:44] shuklanirdesh82 opened #827 "need proper validation while adding a datastore access for a tenant (admin_cli is allowing to add nonexistent datastore)"
Steps to repro:

1. create tenant let's say T1
vmdkops_admin.py tenant create --name=T1

2. create access list for Tenant T1 with nonexistent datastore (e.g. randomDS)
vmdkops_admin.py tenant access add --name=T1 --datastore=randomDS

3. List all access info for a tenant T1
vmdkops_admin.py tenant access ls --name=T1

Expectation: access rule should not be created for '--datastore=randomDS'

Here

[2016-12-16 09:24] SteloNLD commented on #741
@govint no problem, i'll close it for you.

[2016-12-16 09:24] #741 closed

[2016-12-19 23:20] lipingxue opened #830 "Tenancy: Add unit test for tenant management AdminCLI"
Add unit test for the following tenant managment Admin CLI command
- tenant create/update/rm/ls
- tenant vm add/rm/ls
- tenant access add/set/rm/ls

/CC @kerneltime @ashahi1

[2016-12-20 03:59] #790 closed

[2016-12-20 18:47] kerneltime commented on #422
With tenancy changes, VC will be essential for multi ESX. Closing this issue.

[2016-12-20 18:47] #422 closed

[2016-12-21 01:36] shuklanirdesh82 commented on #508
I believe the required fix for the issue has been pushed, so closing this now. Please reopen with the details if you think some work needs to be done.

[2016-12-21 01:36] #508 closed

[2016-12-21 04:24] shuklanirdesh82 opened #832 "[driver tests] Improve vmdk_ops test"
need to supply unique vm/tenant name for vmdk_ops_test

Following tests are failing because of reusing the same name for vm/tenant name

OTOMH few tasks:

- [x] getting rid off static value for vm name (e.g. vm_name = 'test-vm', tests_vmX)
- [x] need to improve tearDown() method to cleanup the created VMs
- [x] Need to improve following validation

[code]
- [x] need to use ```vmdk_utils.get_datast

[2016-12-21 18:25] lipingxue opened #834 "Testbed need to have at least two datastores to run unit test for tenancy"
In this PR, https://github.com/vmware/docker-volume-vsphere/pull/828,  we introduce the support
for default_datastore.
User can specify "default_dastore" when setting datastore access privileges using
the command like the following
[code]

After setting the default_datastore, user can specify the volume without specify the datastore name(i.e., user can only specify vol_name, instead of vol_name@da

[2016-12-21 19:05] ashahi1 opened #835 "Test to check the capacity of volume using AdminCLI"
Test steps:
1) Create VMDKs of different unit GB, TB and MB using vmdk_ops.createVMDK()
2) Check the capacity of volume using AdminCLI
     command used: /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py ls -c volume capacity
3) Compare that both sizes are same.

[2016-12-21 21:50] shuklanirdesh82 commented on #835
will be taken care by #831

[2016-12-21 21:50] #835 closed

[2016-12-21 23:32] #772 closed

[2016-12-22 01:58] shaominchen opened #836 "vm creation is failing on vsanDatastore"
I have a VSAN setup where there's only one single vsanDatastore. I tried to run test-esx in this environment and some test cases failed:

Running unit tests in /tmp/vmdk_ops_unittest15141/vmdk_ops_test.py...
..E.........EEE.
======================================================================
ERROR: testAttachDetach (__main__.VmdkAttachDetachTestCase)
--------------------------------------------

[2016-12-22 05:42] shuklanirdesh82 commented on #836
@shaominchen can you please share vc/esx IP to take a look? I have run tests recently and the same 4 tests are failing with other reason and raised the issue #832

[2016-12-22 17:28] brunotm commented on #806
@kerneltime
I have an old change laying around, that wires the CI run type (VSAN/VMFS) to the tests that should run but it can help to save some, eg:

- On VSAN, run everything on VSAN datastores (all the unit tests and vms creation)
- On VMFS don't run VSAN tests even if a VSAN datastore is available.

It is unfinished and I just rebased it against master at [hint-vsan-unity-tests](https://github

[2016-12-22 18:02] shaominchen commented on #836
@shuklanirdesh82 Here is my VC (10.160.179.66) and here is one of my ESX hosts: 10.160.188.18

[2016-12-22 18:02] kerneltime commented on #806
Did a quick scan, looks good, let me know when you think it is ready, I can update the .drone.sec file in that branch to allow you to do a PR

[2016-12-22 18:34] lipingxue opened #837 "Tenancy: User guide need to be updated"
User guide (admin-cli.md) need to be updated accordingly after the DEFAULT_TENANT, DEFAULT_PRIVILEGE, and DEFAULT_DATASTORE change are introduced.

[2016-12-22 18:54] msterin commented on #836
Thej log says

}

And `/vmfs/volumes/vsan:52b2067d4d8fa677-de50f4c784493a59/test_vm1/test_vm1 ` is NOT SUPPOSED to be OSFS file system. It is a regular directory under `/vmfs/volumes/vsan:52b2067d4d8fa677-de50f4c784493a59/test_vm` OSFS file system.

Something is broken in test directory names generation

[2016-12-23 21:35] shuklanirdesh82 commented on #836
changes are merged (see #839) so closing this one.

[2016-12-23 21:35] #836 closed

[2016-12-23 22:16] kerneltime commented on #837
The user guide gets updated each time a release is cut.

[2016-12-23 22:20] kerneltime commented on #834
CI currently has 2 datastores (VMFS and VSAN).

[2016-12-24 04:17] matt-deboer opened #840 "Volume creation fails when used in `docker run` command"
Running the following command:
[code]
results in the following error:
[code]
Running `docker volume create --name testvolume2 --driver vmdk` first, and then running the above command succeeds normally.

Unfortunately, I'm using Mesos which creates its volumes using `docker run` and passing the `--volume-driver` flag

The following stack trace appears in the volume driver logs:
[code]

Environment:

[2016-12-24 05:43] pdhamdhere commented on #840
Volume options map is `nil` with `--volume-driver` and thus panic. Following patch should address this;

[code]

[2016-12-24 08:50] govint commented on #840
options is supposed to be filled by default in case user does not give
options. minimum fstype will be filled.

On Dec 24, 2016 11:13 AM, "Prashant Dhamdhere" <notifications@github.com>
wrote:

[2016-12-27 16:23] #840 closed

[2016-12-29 08:14] kerneltime opened #842 "Include steps for gaining access to volumes created before upgrade to FAQ"
Release 0.10 needs a manual upgrade step documented [here](https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/faq.md). The current steps do not include a process for for restoring access to volumes created before upgrade.

[2017-01-04 00:07] ashahi1 opened #844 "Admin CLI command to list selected columns does not works for Filesystem Type and Disk Format"
Admin CLI command to list selected columns does not works for Filesystem Type and Disk Format.

If we look for Filesystem Type, we get Disk Format as 'thin' where as ideally, we should get Filesystem Type as ext4.
Also, if we look for Disk Format, we get an error specifying that our choice is invalid.

For e.g.
[code]

[2017-01-04 18:52] tusharnt opened #846 "[Test Automation] Verify if volume is using the vsan policy"
1. Create a vsan policy using Admin CLI
2. Create a volume using the policy using docker CLI
3. Using Admin CLI, verify that volume has the same policy

[2017-01-04 18:55] tusharnt opened #847 "Test to verify the 'Attached to VM' field for volume"
1. Create a volume
2. Verify that 'Attached to VM' field for volume shows 'detached'
3. Attach the volume to a VM
4. Verify that 'Attached to VM' field for volume

[2017-01-04 18:57] tusharnt opened #848 "Test to verify 'Disk Format' field for volume"
1. Create a volume
2. Do 'docker inspect' and verify 'Disk Format' field is 'thin'.
3. Using Admin CLI, verify that 'Disk Format' field for volume shows 'thin'

[2017-01-04 18:59] tusharnt opened #849 "Identify Test gaps in multi tenancy feature"
1. Create a tenant by specifying the datastore but without specifying any rights
2. Verify that tenant does not have any rights

[2017-01-05 19:33] #842 closed

[2017-01-05 19:33] kerneltime commented on #842
Fixed in https://github.com/vmware/docker-volume-vsphere/pull/843

[2017-01-05 20:27] curator opened #852 "Python admin cli error messages are not bubbled up to the docker volume driver"
The error messages represented in the admin cli python code are not generally being bubbled up to the docker volume driver, which instead returns a relatively unhelpful generic error.

See code here:

https://github.com/vmware/docker-volume-vsphere/blob/75072a9fc1f57ca452c7d27eca833d9ba6e5ead9/esx_service/vmdk_ops.py#L481-L484

Instead of this error text we see in the ESXi host log file, we see:

[2017-01-06 00:56] shuklanirdesh82 commented on #832
//CC @shaominchen @lipingxue (CC'ing them as they have run into the issue)

Please feel free to add more improvement if you have come across and not listed first comment.

Thanks!

[2017-01-06 04:29] govint commented on #852
@curator can you upload the ESXi host log file, because, the error seems to indicate that the VM object wasn't found and hence the error message. L481 - L484 did'nt happen and hence that error wasn't posted to Docker.

[2017-01-09 16:03] ashahi1 opened #853 "'policy ls' command does not show the name of the volume using that policy"
'policy ls' command does not show the name of the volume using that policy

========================================

Steps are as follows:
1) Created a vsan storage policy using the following command:
/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py policy create --name some-policy --content '(("proportionalCapacity" i0)("hostFailuresToTolerate" i0)'

[root@sc2-rdops-vm03-dhcp-97-99:~] /usr/lib/vmwar

[2017-01-09 19:33] #844 closed

[2017-01-11 17:03] kbrowder opened #854 "Release docker-volume-vsphere to the Project Atomic ostree repositories"
Seems like it'd be nice to be able to `rpm-ostree pkg-add docker-volume-vsphere`  on both the CentOS and Fedora Project Atomics.  Otherwise I believe changes aren't carried over upgrades.

[2017-01-11 17:49] kerneltime commented on #854
Thanks @kbrowder will look into this.

[2017-01-11 20:13] shuklanirdesh82 commented on #743
some notes from confluence page:

Prerequisite: Make sure VM1 & VM2 are on the same ESX

- create Vol1 through

1. VM1 and attach to a container
2. try to create same volume with the same name from VM2
3. try to attach volume with a container through VM2
4. try to delete volume from VM2
5. invoke docker volume inspect command from VM2
6. invoke admin_cli ls command from ESX and make sure it report

[2017-01-11 20:18] shuklanirdesh82 opened #855 "Add test: create vSphere docker volume with different options"
Test objective: create vSphere docker volume with different options

Create a volume from VM1 for the following options and validate the result from (docker inspect, admin_cli, vmkfs-tool)

- [x] 1. -o size (1 GB,1 gB, 1 gb,1 Gb)
- [x] 2. -o vsan-policy-name (existing policy and not-exist policy name)
- [x] 3. -o disk format (thin, zeroed-thick, eager-zeroed-thick)
- [x] 4. -o attach-as (persisten

[2017-01-11 20:22] shuklanirdesh82 opened #856 "Add test: Volume creation where volume name is having different values"
Test objective: Create volume with different names

Volume creation where volume name is :

- [x] 1. having 100 chars
- [x] 2. having more than 100 chars
- [x] 3. having various chars including alphanumerics
- [x] 4. ending -NNNNNN (6Ns)
- [x] 5. ending -5Ns & -7Ns
- [x] 6. contains @datastore (valid name)
- [x] 7. contains @invalid datastore name (#924)
- [x] 8. contains multiple '@'

Expectation

[2017-01-11 21:17] kerneltime commented on #854
There are ways to build custom own os-trees to use.. so far we have not looked into upstreaming the plugin into the official repos. How important is this for you? We might not do this at least until we release 1.0

[2017-01-11 22:27] kbrowder commented on #854
For me it's mostly a matter of convenience and me trying to avoid creating
and managing an ostree repo.

However I certainly could understand if you didn't go through the process
of getting this in ostree repos until 1.0.

On Wed, Jan 11, 2017 at 16:17 Ritesh H Shukla <notifications@github.com>
wrote:

[2017-01-11 22:45] kerneltime opened #857 "Improve CI/CD log collection"
- [ ] Dump relevant information for both successful and failed runs

- [ ] Post logs to a location where developers can download it

- [ ] Improve logging output in CI/CD

[2017-01-11 22:59] kerneltime commented on #854
Keeping this open. Will revisit once we hit 1.0

[2017-01-12 19:11] shaominchen opened #860 "Multi-tenancy VMODL implementation"
Implements multi-tenancy VMODL API, integrating with auth_api.

[2017-01-12 19:13] shaominchen opened #861 "Add negative test cases for multi-tenancy VMODL API"
Add negative test cases for multi-tenancy VMODL APIs. For examples, we need test cases to verify the API to throw InvalidArgument, NotFound, VcsFault, etc.

[2017-01-12 23:39] mlschuh opened #862 "Volume not being created yet returning success"
Hi there,

I'm attempting to automate the process of creating these volumes. Sometimes, I run into a position where I attempt to create a volume, it immediately returns success (and the volume name), however the volume does not exist:

    isaac@ISAACTemplateDeploy2:~$ docker volume create --driver=vmdk --name=testvol -o size=10gb
    testvol
    isaac@ISAACTemplateDeploy2:~$ docker volume ls

[2017-01-12 23:47] kerneltime commented on #862
Can you provide the following
* Which release of the plugin?
** Did you upgrade to a recent release or is this a fresh install of the release?
* The docker plugin logs. Details https://github.com/vmware/docker-volume-vsphere#logging
[code]
3. ESX plugin logs. Details https://github.com/vmware/docker-volume-vsphere#logging
[code]
* When you reboot does the missing volume show up?

[2017-01-13 04:03] govint opened #864 "Include a volume plugin version in the status returned for a volume via docker volume inspect"
As users deploy the volume plugin and report issues, its not easy to figure out what level of the volume plugin was in use. There's no command to run to figure this out. A docker volume inspect reports data about the volume and we can include the version of the plugin in use in this.

[2017-01-13 17:13] shuklanirdesh82 opened #865 "Need to handle auth_db upgrade to avoid CI test failure"
Interesting excerpt from CI test failure

[code]

Currently test-esx removes removes existing auth_db completely before running any tests hence the issue was not observed so far and volume creation was not complaining.

CI does resetting the testbed and it seems ESX does contain auth-db that causes the above issue.

Proposed solution: need to remove auth-db during deployment. We may enhance the ch

[2017-01-13 17:36] mlschuh commented on #862
Release 0.10, fresh install

I was able to narrow it down to a simple procedure to reproduce. The missing volume does not appear after the reboot. Sorry about the times being off.

Execution from a fresh VM reboot:

[code]

VM Logs:

[code]

Host Logs:

[code]

[2017-01-13 18:27] kerneltime commented on #862
I think I know the reason. Docker caches volume names. Create command uses the volume name without the datastore information but during delete the datastore name is included. Docker does not realize that the 2 volumes are the same and the second create never reaches the plugin.

[code]

Let us look into this to see if we need to upstream a fix to docker or if we need to change how we parse command

[2017-01-13 18:49] kerneltime commented on #865
Ideally we should test upgrade case going forward, blindly deleting the DB during each test run seems a bit harsh. For now this should be fine but we need to track a testing issue to track how we test upgrades.

[2017-01-13 20:18] mlschuh commented on #862
The name is automatically appended with the @DSxxx after I create it and I believe the rm will just auto-complete the rest of the name so sadly I don't think there's a way to directly send the name on rm.

I'm good to continue my work and hopefully it's not too deep in the docker volume manager.

[2017-01-17 19:25] kerneltime commented on #862
@mlschuh This should work for you.
[code]

This has to do with multi datastore support from the plugin. Details:
http://vmware.github.io/docker-volume-vsphere/documentation/user-guide/datastores/

Since the create command does not specify the datastore, the default datastore gets picked up here. Unfortunately Docker itself is not aware of this and treats ```ISAACTemplateDeploy1``` and ```db-vol-IS

[2017-01-20 00:03] shuklanirdesh82 opened #867 "Running into "IndexError: list index out of range" exception while listing out all access info for a tenant "_DEFAULT""
Steps to reproduce:

1. make sure vmdkops_admin is running file
2. invoke following command and expect correct output
vmdkops_admin.py tenant access ls --name _DEFAULT
3. verifies that access information comes back successfully for the tenant

Seeing following exception while invoking the command

[code]

/CC @kerneltime @tusharnt @ashahi1

[2017-01-20 06:01] shuklanirdesh82 opened #868 "vmdkops_admin CLI: tenant_access_add/tenant_access_set runs into "IndexError: list index out of range" while using inexistent datastore name"
Steps to reproduce (The reported issue can be reproduced easily)

1. create tenant T1 and make sure tenant is created successfully
```vmdkops_admin.py tenant create --name T9```
2. add datastore access rule to T1 by passing inexistent datastore name
[code]
3. proper error message should be observed like we get for invalid tenant name ```Tenant T99 does not exist```
4. repeat step#2 by correcting t

[2017-01-20 17:53] kerneltime opened #869 "Capture plugin code coverage"
When test coverage is run for go plugin the test code does not measure the code coverage of the plugin but only the test and the functions it depends on. The actual execution is done via a RPC call over docket.

- [x] To measure the test coverage correctly the go plugin needs to run in an instrumented manner.
- [ ] Generate an instrumented vDVS plugin binary
- [ ] Generate a managed plugin that us

[2017-01-20 18:14] shuklanirdesh82 opened #870 "Admin CLI is not allowing to move VM from one tenant to another tenant"
Steps to repro:

1. create two tenants T1 & T2
2. Add VM1 to T1 and VM2 to T2
3. move VM2 from T2
4. add VM2 to T1

Current outcome: Admin CLI is not allowing to add VM2 to T1; and runs into following error
```column vm_id is not unique``` It seems VM2 goes to ```_DEFAULT``` tenant group and inaccessible for further addition to any tenants

on ESX:
[code]

/CC @kerneltime @tusharnt

[2017-01-23 01:10] shuklanirdesh82 opened #871 "Automated testbed deployment for internal use"
Following items were addressed for the internal use from #773

- Single command to deploy a testbed with one ESX 6.0U2, VMFS & VSAN datastores and two Photon VMs on each datastore
- Automating configuration of IPTables and upgrading the docker version on the photon VMs

[2017-01-23 01:13] shuklanirdesh82 commented on #871
The task is done and deployment script has been verified for an internal use.

[2017-01-23 01:13] #871 closed

[2017-01-24 00:35] shuklanirdesh82 commented on #867
our VmdkTenantTestCase does fail with this issue

[code]

[2017-01-24 01:58] shuklanirdesh82 opened #874 "vmdk volume should not be created on vsan datastore while passing not compatible VSAN policy or policy content is wrong"
Steps to reproduce:
1. create not-compatible vsan policy
[code]
2. verifies policy is created or not
[code]
3. create docker volume with the created policy
[code]

Current behavior: volume is created successfully without associating the passed policy and falls back to ```[VSAN default]```

Expectation: volume should not be created while using non-compatible/not-satisfiable policy or when the polic

[2017-01-24 02:04] shuklanirdesh82 commented on #874
Here is the analysis when the policy content is having wrong format.

Policy creation.
[code]

vmdk_ops.log

[code]

[2017-01-24 17:52] lipingxue commented on #862
@mlschuh This fix from docker  https://github.com/docker/docker/pull/27164 will fix the issue you have.
The fix from docker has been included in docker 1.13.0 release. I have verified that the issue you have cannot be reproduced with docker 1.13.0 release. Could you try docker 1.13.0 release and let us know the result? Thanks!

[2017-01-24 18:15] msterin commented on #865
//CC @lipingxue

Our original plan was as follows:
 - introduce  schema version in the DB
  - force DB deletion on test to hide "no versioned" -> "versioned" schema update
  - For further schema changhes, support version to version in-place upgrade

so, the auth_db deletion was a temporary measure. It should not be needed anymore, we just need to make sure we do not have *really* stale DBs around

[2017-01-24 18:48] lipingxue opened #875 "Drop DB deletion from test-esx"
Details from this issue
https://github.com/vmware/docker-volume-vsphere/issues/865

Our original plan was as follows:

introduce schema version in the DB
force DB deletion on test to hide "no versioned" -> "versioned" schema update
For further schema changes, support version to version in-place upgrade
so, the auth_db deletion was a temporary measure. It should not be needed anymore, we just need

[2017-01-24 19:55] mlschuh commented on #862
@lipingxue I just tested and I cannot verify that it resovled it as the volume plugin throws an error when running in 1.13. I will make a new issue with details.

[2017-01-24 20:02] mlschuh opened #876 "Plugin throwing error on volume create in Docker 1.13"
Hi there,

I was testing compatibility with 1.13 release and came across the following:

[code]

This was on a fresh install of the following:
Docker 1.13
Volume plugin 0.10
Ubuntu 16.04.1

VM logs:

[code]

Host logs:

[code]

Docker Engine Logs:

[code]

[2017-01-24 20:34] lipingxue commented on #876
Hi @mlschuh,
   I checked hostlog, the exception you hit is because the datastore does not exist. I have serveral questions for you to understand your steps:
1. Have you created any tenant and assign the VM to that tenant?
2. Have your assigned the default_datastore for that tenant? If you do assign, what is the name of that datastore?  If not, what is the datastore where your VM lives?

If possib

[2017-01-24 20:40] mlschuh commented on #876
I have not knowingly made anything related to a tenant as I'm unaware of what a tenant is. The VM is living on DS_ISAAC_Staging.

I'll grab logs the logs you request shortly.

[2017-01-24 22:26] mlschuh commented on #876
@lipingxue I've tried finding how to launch the volume plugin manually but cannot seem to find the location on my VM. Can you let me know/update the README on where to find it?

[2017-01-24 22:51] lipingxue commented on #876
Hi @mlschuh, are you using gitter or other chat tools? We can chat online to better understand your problem.

[2017-01-24 23:01] mlschuh commented on #876
@lipingxue I can be available on gitter tomorrow anytime during EST business hours. Feel free to add me to an appropriate room.

[2017-01-24 23:08] lipingxue commented on #876
@mlschuh OK. I just created a gitter room named https://gitter.im/docker-volume-vsphere, and send you a request to join this room. Let us chat tomorrow.

Btw, are you able to get the ESX plug in log with turning on the DEBUG log? If you can, please share with me, I can take a look before we chat tomorrow.

[2017-01-24 23:46] lipingxue commented on #870
@shuklanirdesh82 What do you mean "move VM2 from T2"? Could you provide the complete esx command you ran for this test? It seems to me that the esx command you provided above is incomplete.

[2017-01-25 01:04] kerneltime opened #878 "Wait for attach to complete before trying to format"
The code to create a volume for vmdk driver does not wait for attach to complete. This can lead to spurious errors.
Sample code where we wait for attach that needs to be added to create https://github.com/vmware/docker-volume-vsphere/blob/5c8203ac74ce7ac3ef0a244c77683d66aa763f27/vmdk_plugin/drivers/vmdk/vmdk_driver.go#L164

[2017-01-25 01:05] kerneltime commented on #878
Test run that seems to have failed due to this https://ci.vmware.run/vmware/docker-volume-vsphere/972

[2017-01-25 05:38] #805 closed

[2017-01-25 06:54] shuklanirdesh82 commented on #870
After refreshing the testbed, I'm not able to reproduce so closing as of now.

We shall reproduce if it is reproducible.

[2017-01-25 06:54] #870 closed

[2017-01-25 13:26] mlschuh commented on #876
While attempting to retrieve the logs, I was able to get it working. Here's what I ended up doing (mostly for future reference):

1. Adjusted the config file on the esxi host and restarted the service. Upon attempting to reproduce, this error was thrown:

[code]

2. To attempt to revive it, I confirmed that the plugin was installed:

[code]

3. I then decided to attempt to start fresh by removing

[2017-01-25 13:26] #876 closed

[2017-01-25 13:28] mlschuh commented on #862
After testing on 1.13, this has been resolved by the docker engine.

[2017-01-25 13:28] #862 closed

[2017-01-25 20:47] #832 closed

[2017-01-25 22:42] msterin commented on #852
@govint - it  seems we do not handle some exception, somewhere. You are right - a repro or an ESX log would be lovely indeed.

**@curator - can you share the text from ESXi log which you mention above ?** The code you refer would have printed "`Failed to remove volume ...` so it may be something else

[2017-01-30 19:18] shuklanirdesh82 opened #881 "TestConcurrency is failing: volume creation is failing against docker 1.13 on ubuntu 16.04 VMs"
Steps to reproduce:
1. run TestConcurrency against ubuntu 16 VMs and observes the reported issue.

Note: TestConcurrency is commented out with #879, please uncomment concurrency tests after fixing the reported issue

[code]

vmdk_ops log

[code]

some observation:
1. even though vms are having PVSCSI adapter: running into the issue reported earlier for PhotonVM (#656) now observing against ubuntu

[2017-01-30 21:02] #794 closed

[2017-01-31 00:55] shaominchen commented on #860
This issue has been solved in https://github.com/vmware/docker-volume-vsphere/pull/859

[2017-01-31 00:55] #860 closed

[2017-01-31 00:56] shaominchen commented on #861
This issue has been solved in https://github.com/vmware/docker-volume-vsphere/pull/859

[2017-01-31 00:56] #861 closed

[2017-02-01 18:17] lipingxue commented on #709
Already fixed, close it.

[2017-02-01 18:17] #709 closed

[2017-02-01 18:24] lipingxue commented on #834
Close this issue based on Ritesh's comment above.

[2017-02-01 18:25] lipingxue commented on #837
Close this issue based on Ritesh's comment above.

[2017-02-01 18:25] #837 closed

[2017-02-01 18:26] lipingxue commented on #875
Fixed #865

[2017-02-01 18:26] #875 closed

[2017-02-01 19:18] pdhamdhere commented on #812
Should we support both vSphere as well as VMDK?

[2017-02-01 19:22] govint commented on #812
Possibly only have "Vsphere" as the other plugin is for "photon" both of
which are platform specific. vmdk is common to both.

On Thu, Feb 2, 2017 at 12:48 AM, Prashant Dhamdhere <
notifications@github.com> wrote:

[2017-02-01 19:53] #865 closed

[2017-02-01 19:56] #849 closed

[2017-02-01 19:57] #834 closed

[2017-02-01 19:57] #830 closed

[2017-02-01 20:06] #574 closed

[2017-02-01 20:07] #564 closed

[2017-02-01 20:10] #710 closed

[2017-02-01 20:11] #715 closed

[2017-02-01 20:12] #668 closed

[2017-02-01 20:12] #621 closed

[2017-02-01 20:17] pdhamdhere opened #882 "Docker 1.13 support/interop"
- Plugin support (#886)
- docker new commands

- [x] docker introduce "docker stack deploy" from a compose file, need to test this new command with docker-volume-vsphere plugin (PR27998)

- docker changes to existing commands
- [x] Remove --name from docker volume create (PR23830), need test to verify plugin works for both old and new format
- [ ] Add support for filtering volumes by label (PR2562

[2017-02-01 20:18] #789 closed

[2017-02-01 20:30] tusharnt commented on #854
Not critical for GA.

[2017-02-01 20:39] tusharnt commented on #470
Not critical. Aimed at GA opportunistically.

[2017-02-01 22:43] shaominchen commented on #684
This issue has already been fixed in the recent change:　https://github.com/vmware/docker-volume-vsphere/pull/859

Now if we try to add the same privilege (same datastore, but other parameters are different), we will get the following error:

privilege for (TENANT, datastore) already exists.

[2017-02-01 22:43] #684 closed

[2017-02-01 23:24] lipingxue commented on #867
Verified this issue has been fixed in top of the master branch, close this issue.

[2017-02-01 23:24] #867 closed

[2017-02-02 00:17] lipingxue commented on #818
Verified this has been fixed in top of the master branch. Please see the following detail:
1. create a tenant "tenant1" and associate VM "photon5" to it
[code]
2. create access privilege for this tenant on "datastore1", "datastore1" will be the default datastore for this tenant
[code]

3. create a volume 'vol1' using short name
[code]

4. rename datastore from "datastore1" to "tmp-datastore1", ver

[2017-02-02 02:17] shuklanirdesh82 commented on #867
Thanks @lipingxue  for the verification!

[2017-02-02 12:45] govint opened #883 "Update documentation on using the configuration file and supporting using the config file for both vmdk and photon drivers"
1. Documentation has to be updated to list all config params that can be provided to the plugin.
2. Update main.go to use the config file for run time options, currently logging is already handled. Add the options for photon as well.

[2017-02-02 20:40] msterin commented on #35
With threading support in vmdk_ops.exe and the fact that Docker itself serializes stuff to vol driver, there is nothing else to do here at the moment. Closing

[2017-02-02 20:40] #35 closed

[2017-02-02 20:53] msterin commented on #39
Partially resolved by #792 . We still used `vmkfstools` in get_vmdk_size_info() since virtualDiskManager does not provide this information.

Current code can (and will) lead to delays in admin 'ls' command since it's happening on each volume, and is serialized over all volume to list.

We should use kvEsx.get_info() instead of `vmkfstools` in `get_vmdk_size_info()` - this will   use DiskLib direct

[2017-02-02 20:58] msterin commented on #42
Out of 2 issue
*  one can be punted (docker 'ls' is missing a way to do driver-specific filter,)
* another one -  `docker does not prove use any ID nor repeats any ID from plugin, so a swarm cluster may talk to plugin running on different storage clusters, and we will not know` should be tested  on a swarm (i.e. have swarm workers on  2 different ESXs, make sure both docker VMs run on local storag

[2017-02-02 22:44] tusharnt commented on #856
9. Contains unicode characters. The operation should succeed. See #575

[2017-02-03 02:46] pdhamdhere opened #886 "Ship guest docker volume plugin as managed plugin"
Docker managed plugins are out of experimental starting from Docker 1.13. We should consider shipping both vSphere as well as Photon as docker managed plugin.

Reference: https://docs.docker.com/engine/extend/#/developing-a-plugin

The following are PRs related to this feature in docker 1.13 release notes.

Move plugins out of experimental #28226
Add --force on docker plugin remove #25096
Add desc

[2017-02-03 05:57] shaominchen opened #887 "CI test is failing due to error: dpkg status database is locked by another process"
CI test is failing due to error: dpkg status database is locked by another process. Both Mark and I have run into this issue:

https://ci.vmware.run/vmware/docker-volume-vsphere/1063
https://ci.vmware.run/vmware/docker-volume-vsphere/1065

@msterin @shuklanirdesh82 @kerneltime

[2017-02-03 06:04] shaominchen opened #888 "CI test fails intermittently due to error: Unsupported VM Type"
CI test is failing due to error: Unsupported VM Type. This seems to be an intermittently issue:

https://ci.vmware.run/vmware/docker-volume-vsphere/1061

@kerneltime @shuklanirdesh82

[2017-02-03 06:24] kerneltime commented on #888
This seems to be an issue of govc not being able to fetch IP.

Possible solution: We need to add a sleep and retry loop.

[2017-02-03 20:07] shaominchen opened #890 "Enable check for trailing spaces in pylint configuration"
We need to enable check for trailing spaces in pylint configuration. The removal of trailing spaces in a PR makes it hard to review the real code changes.

[2017-02-03 20:19] shaominchen opened #891 "CI test is failing due to VIB InstallationError"
CI test is failing due to InstallationError

Errors:
 [InstallationError]
 There was an error checking file system on altbootbank, please see log for detail.
 Please refer to the log file for more details.

=> deployESXInstall: Installation hit an error on root@192.168.31.62 Fri Feb 3 20:10:00 UTC 2017

make[1]: *** [deploy-esx] Error 2
make: *** [deploy-esx] Error 2

https://ci.vmware.run/vmware/

[2017-02-03 21:31] lipingxue opened #892 "AdminCLI "vmdkops_admin.py ls" failed when datastore name includes white space"
Steps to reproduce:
1. create several volumes in datastore (for example "tmp-(datastore1)"), then run vmdkops_admin.ls
[code]

2. rename the datastore name by adding extra whitespace in the datastore name  ("tmp(datastore1)" -> "tmp (datastore1)")
run the same command again, get the following error

[code]

[2017-02-03 21:32] #673 closed

[2017-02-06 23:54] shaominchen commented on #886
Since this feature needs investigation and there are quite some uncertainties, we should start to look into this ASAP to make sure this can be delivered in GA.

[2017-02-07 00:01] shaominchen commented on #881
Hi Ritesh, can you please take a look at this issue? What's the purpose of this test?

[2017-02-07 00:06] shaominchen commented on #878
Hi Govindan, can you take a look at this issue?

[2017-02-07 00:08] shaominchen commented on #874
Over to Liping to take a look.

[2017-02-07 00:15] shaominchen commented on #628
Hi Govindan, can you take care of this since you already have some analysis?

[2017-02-07 00:23] shaominchen commented on #575
Hi Shahzeb, can you take a look at this issue?

[2017-02-07 00:24] pshahzeb commented on #575
Sure. I will get started on this.

[2017-02-07 00:28] shaominchen commented on #556
@pdhamdhere Do we really need this feature for GA? This feature is useful, but may not be critical for GA release.

[2017-02-07 00:42] pdhamdhere commented on #556
This was a ask from customer. We should at least investigate if we have to do any additional work to support DSC and document in Interop matrix.

[2017-02-07 00:44] shaominchen commented on #39
Hi Shahzeb,

Can you validate the scenario suggested by Mark and fix the code appropriately?

[2017-02-07 00:47] shaominchen commented on #3
Liping will go through the list first, and then we should call a meeting to finalize the list.

[2017-02-07 11:24] govint commented on #407
With the way docker vols are managed a) outside of the VM folder in a location chosen by the ESX service or the user and b) the fact that these are independent disks,  a migration (SVM/XVM) is not supportable as of now. Vmotion is supported while only the storage migration workflows aren't . Plus we don't have a usecase to support these for now, hence closing.

[2017-02-07 11:24] #407 closed

[2017-02-07 11:39] govint commented on #628
This is an issue with how docker is handling errors returned from Get(). I'll raise an issue on Docker and closing this one as there are no changes for the plugin.

[2017-02-07 11:39] #628 closed

[2017-02-07 11:42] govint commented on #883
PR #889

[2017-02-07 12:51] govint commented on #878
Made the changes, will post the PR.

[2017-02-07 21:32] shuklanirdesh82 commented on #818
I am still able to reproduce this issue on the latest plugin/driver.

[code]

[code]

Error message from docker host

[code]

[2017-02-07 21:43] shuklanirdesh82 commented on #816
created volumes are not viewable so pulling into 0.12 release. If user happens to rename the datastore with embedded namespace, it will run into following issue.

using admin cli:

[code]

[2017-02-08 18:01] shuklanirdesh82 opened #895 "[test automation - 2 tests] _DEFAULT tenant & default access rules"
- [x] Add verification common library/utils
- [ ] Test automation
- [x] Add more permutations and combination with testing (may need to update test setup)

[2017-02-08 18:02] shuklanirdesh82 opened #896 "[test automation - 3 tests] User created Tenants & User defined access rules"
- [ ] Test automation common code update

Perform these tests in the following situations:
- when _default tenant is present
- when atleast _default and user created tenant is present
- when no tenant is present
- when atleast one user created tenant is present

Test - 1:  Add VM to the newly created tenant with full access rights and validates volume creation
[code]

Test - 2: Update privileges f

[2017-02-08 18:04] shuklanirdesh82 opened #897 "[test automation] "_DEFAULT" tenant/privilege behavior (falling back to default tenant/privilege)"
- [x] Make test data-driven for difference access privileges
- [x] Misc/complex tests (e.g. moving vm across tenants)

TODO: Need to add tests details here

[2017-02-08 18:08] shuklanirdesh82 opened #898 "[test automation] Automate negative test scenarios related to tenancy"
Negative test: Tenant creation with Invalid VM name

Objective: Test to verify tenant creation by passing non-existing vm

1. create tenant "t1" by passing nonExisting VM
2. expects an error/exception

-----------------------------
Negative test: Tenant creation with the same name multiple times

Objective: Test to verify creation of two tenants with same name

1. Create a tenant with name 'tenant

[2017-02-08 18:19] shuklanirdesh82 opened #899 "[test automation] Tenant ls/remove/rename admin CLI tests"
- [x] Tenant ls & delete
- [x]  Tenant rename

-----------------------------------------
**# Tenant LS & Delete Tests**

1. when _default tenant is present
2. when atleast _default and user created tenant is present
3. when no tenant is present
4. when atleast one user created tenant is present

Perform the test steps with following two scenarios
A. remove volume while deleting tenant
B. don't rem

[2017-02-08 18:21] shuklanirdesh82 opened #900 "[Test Automation] Default datastore behavior"
- [ ] Add more tests positive/negative tests and finish the review

- [ ] Test automation common code update

[2017-02-08 22:25] shuklanirdesh82 commented on #847
PR #831

[2017-02-08 22:59] ashahi1 commented on #878
Another run on CI with same error:
https://ci.vmware.run/vmware/docker-volume-vsphere/1094

Error log snippet:
2017-02-08 22:54:53.525374578 +0000 UTC [DEBUG] vmdkOps.Get name=dockerVol_1486594493
2017-02-08 22:54:53.573922843 +0000 UTC [DEBUG] vmdkOp.Create name=dockerVol_1486594493
2017-02-08 22:54:55.966148425 +0000 UTC [INFO] Attaching volume and creating filesystem name="dockerVol_1486594493"

[2017-02-08 23:14] ashahi1 commented on #887
Hit this issue durin CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1095

===================================
Snippet from error log:

=> Deploying root@192.168.31.83 : deb Wed Feb 8 23:11:59 UTC 2017

dpkg: error: dpkg status database is locked by another process
make[1]: *** [deploy-vm] Error 2
make: *** [deploy-vm] Error 2

=> Build + Test not successful Wed Feb 8 23:12:00 UTC 2017

[2017-02-09 00:19] ashahi1 commented on #878
CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1097

=================================

2017-02-09 00:14:44.928151268 +0000 UTC [DEBUG] vmdkOp.Create name=dockerVol_1486599284
2017-02-09 00:14:48.694338008 +0000 UTC [INFO] Attaching volume and creating filesystem name="dockerVol_1486599284" fstype=ext4
2017-02-09 00:14:48.6943752 +0000 UTC [DEBUG] vmdkOps.Attach name=dockerVol_14865992

[2017-02-09 00:33] ashahi1 commented on #887
Failed CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1098

=====
=> Deploying root@192.168.31.83 : deb Thu Feb 9 00:30:49 UTC 2017

dpkg: error: dpkg status database is locked by another process
make[1]: *** [deploy-vm] Error 2
make: *** [deploy-vm] Error 2

[2017-02-09 00:54] ashahi1 commented on #887
CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1099

==========
=> Deploying root@192.168.31.85 : deb Thu Feb 9 00:46:08 UTC 2017

dpkg: error: dpkg status database is locked by another process
make[1]: *** [deploy-vm] Error 2
make: *** [deploy-vm] Error 2

=> Build + Test not successful

[2017-02-09 02:13] shuklanirdesh82 commented on #887
Looking at it, just a quick note (192.168.31.85 & 192.168.31.85 only are having the issue).

[2017-02-09 05:00] shuklanirdesh82 commented on #888
Proposed changes are merged.

Please reopen if the issue will be observed again.

[2017-02-09 05:07] shuklanirdesh82 commented on #887
@shaominchen @ashahi1 : I've fixed both VMs and made sure by running multiple times. Please reopen if observes again.

[2017-02-09 05:07] #887 closed

[2017-02-09 05:42] shuklanirdesh82 commented on #644
@kerneltime / @msterin : can this be closed?

FYI: We have never experienced the reported issue in past 2 months.

//CC @pdhamdhere

[2017-02-09 06:13] shuklanirdesh82 commented on #891
I guess we need to apply the solution described at https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=2033564

[2017-02-09 11:11] govint commented on #883
Fixed via #889, closing.

[2017-02-09 11:11] #883 closed

[2017-02-09 11:17] govint opened #901 "Photon: Verify target, project, VM IDs on plugin startup."
Validate that target URL, project and VM IDs are all valid on startup and log and exit otherwise.

[2017-02-09 17:18] tusharnt commented on #42
@govint to investigate whether to file issues against Docker for these items.

[2017-02-09 17:40] #644 closed

[2017-02-09 18:51] msterin opened #902 "Provide a default VSAN policy for VSAN-based Docker volumes"
The idea is that the Admin may want to give Docker volumes policy different from VSAN default. E.g. all VSAN volumes are "failures to tolerate ==1" for production, but Docker may be used to pilot and test, and Admin wants to save storage and set FTT to 0.

IMO this is a relatively low priority requirement, as we do not know how many users really need something like this

[2017-02-09 19:27] shuklanirdesh82 commented on #892
resolving duplicate of #816 (#816 should care of the reported issue)

[2017-02-09 19:53] shuklanirdesh82 commented on #891
Resolved the issue observing on ESX 6.5 and invoked following two runs...

https://ci.vmware.run/vmware/docker-volume-vsphere/1112
https://ci.vmware.run/vmware/docker-volume-vsphere/1113

Not seeing VIB installation error.

[2017-02-09 19:53] #891 closed

[2017-02-09 19:54] shuklanirdesh82 commented on #892
reopening this one as per offline discussion with @lipingxue

[2017-02-10 12:09] govint commented on #901
Fixed via #903

[2017-02-10 17:43] lipingxue commented on #816
The following is the test steps and results.
1.  two volumes have been created in datastore "tmp(datastiore1)"
2. rename the datastore name to "tmp (datastore1)" (add a space in the datastore name)
3. run "docker volume ls"
[code]
4. run "docker volume create" to create a new volume "vol3"
[code]
5. run "docker volume ls" again, which list all three volumes.
[code]

[2017-02-10 19:14] lipingxue commented on #818
Nirdesh and I talked. My test is slightly different with Nirdesh's test. He ran the test with only _DEFAULT tenant exist and we can reproduce it with the top of master. It looks like something related with _DEFAULT tenant handling.

[2017-02-10 19:22] lipingxue commented on #818
I checked the log, and this is the root cause. For _DEFAULT tenant, when volume create using the short name (without @datastore), the datastore which VM lives will be used as default_datastore.
We use function "def get_datastore_name(config_path)" to get the datastore_name from config_path.

In this function, we call vmdk_utils.get_datastores() to get all datastores and check if any datastore name

[2017-02-11 00:05] shaominchen commented on #783
This issue has already been fixed as part of https://github.com/vmware/docker-volume-vsphere/pull/828

I have verified the scenario and it works now.

[2017-02-11 00:05] #783 closed

[2017-02-13 04:50] #901 closed

[2017-02-13 12:35] govint opened #907 "Support getting VM ID from photon for the volume plugin"
ON plugin startup for photon driver, get the VM ID from photon.

Actually, given the photon controller IP we may as well query all tenants, projects and then figure the project and VM ID. Ideally Photon should be able to give this. but at the cost of a slower plugin start up (for a photon controller with large number of clients/projects and VMs) we can do with a single input from the user.

[2017-02-13 12:40] govint commented on #695
For this issue I'm suggesting going with last update from @brunotm. There are no more changes needed unless we do see an issue happening in our testing. If we agree suggest closing this issue, unless a problem is identified.

[2017-02-13 12:41] govint commented on #892
May be fixed by changes posted for #816

[2017-02-13 19:34] ashahi1 opened #908 "CI run failed due to error: getsockopt: no route to host"
Error - getsockopt: no route to host
CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1144

Log snippet:
=======
govc: Post https://192.168.31.62/sdk: dial tcp 192.168.31.62:443: getsockopt: no route to host
$ export VM2=`$GOVC_GET_IP Ubuntu.16.10`
govc: Post https://192.168.31.62/sdk: dial tcp 192.168.31.62:443: getsockopt: no route to host
$ ./misc/drone-scripts/deploy-and-test-wrapper

[2017-02-13 21:35] shuklanirdesh82 commented on #908
@ashahi1 I have refreshed the n/w mgmt setting, please repush your changes and update the issue if reproducible.

[2017-02-13 21:35] #908 closed

[2017-02-14 07:55] govint commented on #608
Fixed by #906

[2017-02-14 07:55] #608 closed

[2017-02-15 00:47] pshahzeb commented on #39
I tested this scenario by creating 100 volumes each of size 10mb on a vsan datastore through one photon VM.
The admin 'ls' command takes approximately 9 seconds to list all volumes.
[code]

I replaced the population code in ```get_vmdk_size_info() ``` to make use of ```kvEsx.get_info()``` instead of vmkfstools.
The admin 'ls' command then takes approximately 6 seconds to list all volumes.
[code]

[2017-02-15 02:41] msterin commented on #39
The diff is not huge  (30% or 3 sec/100 volumes) but if we already have `kvEsx.get_info()` which does the same (does it ? ), then I suggest we drop  `vmfstools` and use `kvEsx.get_info()`

[2017-02-15 04:05] govint commented on #878
Fixed by #893

[2017-02-15 04:05] #878 closed

[2017-02-15 04:07] govint commented on #695
Closing per last updates.

[2017-02-15 04:07] #695 closed

[2017-02-15 05:01] pshahzeb commented on #39
Yes ```kvEsx.get_info()``` does the same. We can drop vmkfstools.

[2017-02-15 05:12] msterin commented on #39
Great. Please go ahead  and submit a PR for that.

[2017-02-15 08:33] bk1te commented on #193
Hi. What if I would like to create volume, accessible on all nodes across swarm cluster? So that only one container would be attached. Swarm manager would decide on what node to run container.

[2017-02-15 08:46] govint commented on #193
That would be possible, a volume created on shared storage accessible on all nodes. One container can attach that volume from any host in the cluster.

[2017-02-15 09:01] bk1te commented on #193
I created volume on shared storage, but it is visible only for node on which i created volume.

[2017-02-15 09:14] govint commented on #193
Can you list the steps to create the volume and the results of "docker volume ls" on both the creating and non-creating nodes.

Can you also give the output of "/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py ls" on both the nodes.

[2017-02-15 10:25] bk1te commented on #193
node-1: docker volume create --driver=vmdk --name=Test@store-1 -o size=10Gb -o diskformat=thin
node-1: vmdk Test@store-1
host-1:
Volume   Datastore    Created By VM    Created   Attached   Policy    Capacity   Used    Disk Format
Test         store-1        node-1                <date>    detached  N/A      10GB         145Mb  thin               ext4 read-write independent_persist
node-2:  empty
h

[2017-02-15 12:26] govint commented on #193
@bk1te can you also show the disk config from the two hosts and show the
details of store-1 on both hosts.

On Wed, Feb 15, 2017 at 3:55 PM, bk1te <notifications@github.com> wrote:

[2017-02-15 12:54] bk1te commented on #193
@govint can you link me what commands to execute

[2017-02-15 16:03] pdhamdhere commented on #193
@bk1te I assume`store-1` accessible to ESX Hosts where VMs are running. Have you installed on VIB on all ESX Hosts where Docker VMs are running?

Is node-1 & node-2 VM on same datastore?

Can you paste output of following command from node-1 and node-2 vm;
`docker volume create --driver=vmdk --name=Test@badDS`

We are also available on Slack;
`https://vmwarecode.slack.com/messages/docker-volume-vs

[2017-02-16 00:45] pshahzeb commented on #868
This is fixed. See the output below in case of non existing datastore.

[code]

Tried both steps 2 and 6 mentioned in description.

Relevant calls to check datastore existence in both tenant_access_add and tenant_access_set
as follows:
[code]

This was fixed in #859

[2017-02-16 00:49] pshahzeb commented on #827
This is fixed. See the output below in case of non existing datastore.

[code]

Relevant calls to check datastore existence in both tenant_access_add and tenant_access_set
as follows:
[code]

This was fixed in #859

[2017-02-16 01:01] #868 closed

[2017-02-16 01:02] #827 closed

[2017-02-16 01:03] #269 closed

[2017-02-16 01:40] shaominchen commented on #853
I have narrowed down the root cause to be in vmdk_utils.list_vmdks() method. Please focus on this method to fix the issue.

[2017-02-16 05:01] shaominchen opened #915 "VSAN policies should be persisted in the DB instead of local disk"
Currently VSAN policies are persisted in local disk: /vmfs/volumes/vsanDatastore/dockvols/policies/...

Since we have already introduced auth-db for multi tenancy, these VSAN policies, should be persisted in the auth-db instead of local disk. (We may want to give a more generic name to our db, but that's not the main concern here)

All user data should be persisted in the DB instead of local disk.

[2017-02-16 05:06] govint commented on #193
@bk1te, please use "esxcfg-scsidevs -m" and "esxcfg-scsidevs -l" on both the ESX hosts to which the volume has been shared. Pls. post the output from both commands on both hosts.

[2017-02-16 05:11] govint commented on #892
Closing, as #911 is changing the same function thats causing the behavior to use KV API vs. command line vmkfstools util.

Currently its not possible to create a volume on a datastore with spaces in it. I'm raising a separate PR to handle that although why such names must be supported or even created is unclear. At least for Photon its not needed and mostly for the occasional  cases in ESX perhaps

[2017-02-16 05:11] #892 closed

[2017-02-16 05:17] govint opened #916 "Datastore names with embedded spaces in them can't be used when creating a volume."
For example, docker volume create -driver vmdk -name vol@data\  store - won't work as the code doesn't handle datastore names with spaces in it. This can be fixed to allow such names. Or we can take the approach that the plugin only allows names without spaces in them - have a uniform naming convention for all names handled via the plugin - tenant, datastore names at least.

[2017-02-16 05:39] #39 closed

[2017-02-16 07:40] bk1te commented on #193
Running command "docker volume create --driver=vmdk --name=Test@badDS" on both VM returned:
Error response from daemon: create Test@badDS: VolumeDriver.Create: Server returned an error: TypeError('can only join an iterable',)

[2017-02-16 07:49] govint commented on #193
@bk1te, is this a different problem, in which case suggest making a new issue. In fact two issues perhaps , one for the earlier issue where volumes aren't visible on two nodes and this one.

[2017-02-16 08:00] shuklanirdesh82 opened #917 "admin-cli.md should be updated for tenant access set to keep it consistent with "-h" option output"
#859 causes this inconsistency.

Interesting excerpt from an existing document

https://github.com/vmware/docker-volume-vsphere/blob/67cabe4b1672cf18ee2089f2a7f6e0b2d78f2f12/docs/user-guide/admin-cli.md#set

[code]

on ESX:

[code]

[2017-02-16 08:03] shuklanirdesh82 commented on #917
One more thing I would like to request here is to add some example or valid set of value for ```--allow-create``` option like it is added for ```--volume-totalsize/maxsize.

[code]

[2017-02-16 08:18] bk1te commented on #193
it is not an issue badDS doesnot exist

[2017-02-16 08:22] bk1te commented on #193
esxcfg-scsidevs -m on both esx hosts returned:
naa.<id> /vmfs/devices/disks/naa.<id> <same uuid> 0 store-1

esxcfg-scsidevs -l on both esx hosts returned:
naa.<id>
 Device Type: Direct-Access
 Size: 2TB
 Display Name: HP iSCSI Disk(na.<id>)
 Multipath Plugin: NMP
 Console Device: /vmfs/devices/disks/naa.<id>
 Vendor: HP Model: MSA Revis: M111
SCSI Level: 5 Is Pseudo: false Status: on
Is RDM Capabl

[2017-02-16 08:32] shuklanirdesh82 opened #918 "Lower case input "true" passed to "vmdkops_admin.py tenant access set --allow-create ALLOW_CREATE" is misinterpreted as false."
```vmdkops_admin.py tenant access set --allow-create ALLOW_CREATE``` fails to validate input value for ```ALLOW_VALUE```; while setting a datastore-tenant access with such value operation always succeed.

Tested with latest from master

[code]

Steps to reproduce:
1. Create Tenant T1
[code]
2. Validate Tenant is created successfully
[code]
3. make sure there is no access set for the tenant
[code]

[2017-02-16 08:58] govint commented on #812
One catch with changing the driver name to "vsphere" is existing volumes created with the "vmdk" driver won't be usable. Because Docker won't find  driver of that name anymore. Can be worked around by having two listeners to handle requests with two different names (vmdk and vsphere) and deprecate the vmdk listener in a subsequent release. Or if this issue isn't adding much value suggest deferring

[2017-02-16 09:15] msterin commented on #193
@bk1te write

It is a bug somewhere in our vmdk_ops service - this command is supposed to print something like "badDS datastore is not found; available datastores are : <list>".

There seems to be something special about about your datastores list that exposes the bug. Would it be possible to list the datastores ? `ls -l /vmfs/volumes`  ?

[2017-02-16 09:31] bk1te commented on #193
@msterin on "docker volume create --driver=vmdk --name=Test@badDS"
Unhandled Exception: Traceback (most recent call last):
  File "/usr/lib/vmware/vmdkops/bin/vmdk_ops.py", line 1373, in execRequestThread
    opts=opts)
  File "/usr/lib/vmware/vmdkops/bin/vmdk_ops.py", line 746, in executeRequest
    %(datastore, ", ".join(get_datastore_names_list), vm_datastore))
  TypeError: can only join an ite

[2017-02-16 09:32] shuklanirdesh82 commented on #193
@bk1te

File "/usr/lib/vmware/vmdkops/bin/vmdk_ops.py", line 1373, in execRequestThread
opts=opts)
File "/usr/lib/vmware/vmdkops/bin/vmdk_ops.py", line 746, in executeRequest
%(datastore, ", ".join(get_datastore_names_list), vm_datastore))
TypeError: can only join an iterable

It is being tracked at #817.

[2017-02-16 09:33] shuklanirdesh82 commented on #193
@bk1te : can you please try following what @msterin is asking?

[2017-02-16 09:35] bk1te commented on #193
I`ll try.
There 15 directories like <uuid> and 11 symlinks to directories
When I try to list <uuid> directories which does not have symlinks I got
ls: <uuid>: No such file or directory

[2017-02-16 09:44] govint commented on #193
@bk1te, can you also confirm that both VMs are on the same datastore. And can you upload /var/log/vmware/vmdk_ops.log from both hosts.

1. Do "docker volume ls" on both nodes.
2. Upload /var/log/vmware/vmdk_ops.log from both nodes.

[2017-02-16 09:50] bk1te commented on #193
esx1 esx2 both have access to shared datastore-0 on which I would like to create shareble disk
vm1 is on esx1 datastore-2
vm2 is on esx2 datastore-1

[2017-02-16 11:13] bk1te commented on #193
@govint I can upload /var/log/vmware/vmdk_ops.log from both hosts but later

[2017-02-16 18:57] bk1te commented on #193
Just posted here requested info
[esx-1-ls-vmfs-volumes.txt](https://github.com/vmware/docker-volume-vsphere/files/781222/esx-1-ls-vmfs-volumes.txt)
[esx-1-vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/781221/esx-1-vmdk_ops.txt)
[esx-2-docker-volume-ls.txt](https://github.com/vmware/docker-volume-vsphere/files/781223/esx-2-docker-volume-ls.txt)
[esx-2-vmdk_ops.txt](https://git

[2017-02-16 19:01] bk1te commented on #193
Here is requested info
[esx-1-ls-vmfs-volumes.txt](https://github.com/vmware/docker-volume-vsphere/files/781241/esx-1-ls-vmfs-volumes.txt)
[Uploading esx-1-vmdk_ops.txt…]()
[esx-2-docker-volume-ls.txt](https://github.com/vmware/docker-volume-vsphere/files/781243/esx-2-docker-volume-ls.txt)
[esx-2-vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/781242/esx-2-vmdk_ops.txt)
[esx-1-

[2017-02-16 19:20] bk1te commented on #193
[esx-1-vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/781281/esx-1-vmdk_ops.txt)

[2017-02-16 20:17] pdhamdhere commented on #193
@bk1te Thanks for sharing logs. This is a regression. We are working on emergency patch. Stay tuned.

[2017-02-16 20:48] shuklanirdesh82 commented on #888
Added retry mechanism for VMs; proposing changes through #913

[2017-02-17 00:13] shaominchen opened #921 "Move volume specific Admin CLI operations to a new "volume" option"
Currently Admin CLI has the following top-level options: {ls, policy, tenant, set, status}

Among these options, "ls" and "set" are volume specific operations. I think it's clearer and more organized to move those 2 to a new top-level "volume" option, i.e.

vmdkops_admin volume ls...
vmdkops_admin volume set...

This will also avoid confusion when we need to add other new top-level command options

[2017-02-17 00:22] shaominchen opened #922 "The command behavior of "tenant rm" and "policy rm" are inconsistent"
When we run "vmdkops_admin policy rm MyPolicy", we don't need to specify the parameter name "--name". However, to run "vmdkops_admin tenant rm --name MyTenant", we must specify "--name".

I think we should keep the command behavior consistent. My suggestion is to fix the "tenant rm" command, because the behavior of "policy rm" command is more natural, and it's also consistent with other CLI tools,

[2017-02-17 05:32] #817 closed

[2017-02-17 05:38] shuklanirdesh82 commented on #856
10. using full name when datastore name is having space in it. #924

[2017-02-17 18:31] shuklanirdesh82 commented on #888
merged #913

[2017-02-17 18:31] #888 closed

[2017-02-17 18:58] lipingxue opened #927 "Perform manual validation for Docker Swarm Mode interop identified tests"
This is to track Docker Swarm Mode(introduced in docker 1.12 release) interop related issue.

[2017-02-17 20:50] ashahi1 opened #929 "Tenant ls command does not works if vm that was added to tenant is deleted."
Steps to reproduce:

1) Create a tenant and associate a vm to it:
  /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py tenant create --name=tenant1 --vm-list=photon4
2) Tenant ls command gives following output:
[code]
3) Delete the vm that was added to the tenant.
4) Tenant ls command gives following output -

[root@sc-rdops-vm06-dhcp-186-90:~] /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py tenant ls
Trac

[2017-02-17 21:25] #824 closed

[2017-02-17 21:25] #847 closed

[2017-02-17 21:25] #848 closed

[2017-02-17 22:42] ashahi1 opened #930 "[Tenant] Improve error message thrown while trying to add same vm to another tenant"
Steps to repro:
1)  Create a tenant and add vm to it:
/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py tenant create --name=tenant1 --vm-list=TestVM-1

2) Create another tenant and try adding same vm to the new tenant:
/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py tenant create --name=tenant2 --vm-list=TestVM-1

Error message returned: Internal Error(UNIQUE constraint failed: vms.vm_id)

=====
Error me

[2017-02-17 23:53] shaominchen commented on #782
I verified the scenario of renaming a datastore: the AdminCLI on ESX still works as expected (i.e. it lists the created volumes without any problem after renaming the datastore). However, the docker command on guest VM is broken - "docker volume ls" does not return the created volumes after renaming the datastore.

I'm not familiar with the plugin code and the interaction between plugin and driver

[2017-02-18 01:03] shaominchen commented on #782
The original issue of using datastore url instead of datastore name to define & check privileges has already been fixed as part of https://github.com/vmware/docker-volume-vsphere/pull/828

The current issue is actually due to the datastore cache we have introduced for optimization purpose: when the cache is missed, we don't have logic to refresh the cache. This is a correctness issue that must be

[2017-02-18 01:29] ashahi1 opened #933 "[CI Failure] Error: vmdkOps.Get failed decoding volume status for volume."
CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/1246

Test name: TestVolumeProperties
VM Name: 192.168.31.124

Error: vmdkOps.Get failed decoding volume status for name=%sdockerVol_1487367896
Ran the test locally by taking latest code from vmware-master but was not able to repro the issue.

Test log:
[code]

VM Logs:
[code]

[2017-02-18 07:31] shuklanirdesh82 commented on #193
@bk1te Please give a shot with an emergency path for the reported issue. You may find at https://github.com/vmware/docker-volume-vsphere/releases/tag/0.11.1

Please feel free to reach us out, if you have any concern.

Thanks!

[2017-02-18 08:20] shuklanirdesh82 opened #934 "vmdkops_admin output is not consistent when more than 2 ESX are present and accessing shared datastore (attached-to-vm field is inconsistent)"
vmdkops_admin output is not consistent when more than 2 ESX are present and accessing shared datastore e.g. vsan, shared vmfs etc (attached-to-vm field is inconsistent)

Test bed scenario: 2 ESX having shared datastore (vsan/shared vmfs). One docker host per ESX created on the the shared datastore (let's say vm1 & vm2)

Note: both VMs are part of _DEFAULT tenant

Steps to reproduce
1. create volum

[2017-02-18 08:47] shuklanirdesh82 opened #935 "Proper error message should be thrown when volume is not visible to docker host though it is trying to attach the container (current error message is misleading)"
Testbed scenario: 2 ESX host having local datastore + docker_host vm on each ESX

Steps to reproduce:
1. create a volume from one of the docker_host (VM1) on local datastore
2. make sure volume is created correctly
3. attach container from VM1 and make sure operation is successful
4. detach the container from VM1
5. perform step#3 on VM2
6. observed the following error

[code]

**Expectation**: Pr

[2017-02-19 15:27] govint opened #936 "Add authentication support for photon driver."

[2017-02-19 17:01] govint commented on #935
The volume is assumed to be local by docker as it has no idea that such a volume even exists. Possibly include the "--volume-driver" option so docker knows to try the plugin. Again, docker will try to create the volume which should return OK from the plugin (and service) and mount should fail with the volume not being available (detached).

[2017-02-19 18:31] govint commented on #933
@ashahi1 possibly we could get the service logs to see if any data was returned at all for the get() call to the service.

[2017-02-20 08:19] govint commented on #929
PR #937 addresses a small fix to prevent this issue.

The larger issue is the tenant DB needs to be updated to remove VMs (uuids) that have since been deleted. Possibly separate issue for that.

[2017-02-20 08:26] govint opened #938 "Support an api in utils:auth_api.py to remove VMs by uuid"
Issue #929 is one case where we have just the VM uuids and those may correspond to VMs that don't exist any more. We can figure out that the VM doesn't exist by the fact that getting the VM name with the UUID fails. In that case, need an API to remove the VM(s) from the tenant. Presently removing a VM requires the VM name which can't be got as in this case.

[2017-02-20 09:28] govint commented on #934
Issue is on the second ESX host, the VM UUID isn't known and hence printing as detached. Instead if the VM UUID isn't known then should instead pring the UUID itself. At least that way user has a way to know the volume is in use. Plus we should print the VM as <vm name/uuid>@<local/hostname>.

[2017-02-20 10:18] govint commented on #929
OTOH, if a VM is added to a tenant from host ESX1 and then from another host ESX2 we do "ls" with admin CLI then too we will not find the VM name given its UUID. Becasue the VM is not known to host ESX2. But the VM is very much there on the host ESX1.

In which case the UUID should get displayed.

These multi-host scenarios don't play well with VM names and there isn;t a way to "clean" tenants of

[2017-02-20 11:04] govint commented on #927
ESX service needs to be made cluster aware. Currently there are multiple places where we have no way to identify if a VM really exists or not as the VM may not be on the same node.  #934, #929 show how a VM (not necessarily deleted) but running on a different node can't be identified as existing,. We can have the UUID of the VM in a tenant's VM list and not know if the VM exists or not.

There has

[2017-02-20 11:53] govint commented on #882
Can the volume can be re-formatted to destroy the data in the volume.

[2017-02-20 11:54] govint opened #940 "Update tests and plugin start up to run with the vsphere driver."
#812 changes the name of the plugin driver from vmdk to vsphere (for the ESX platform). But, still retains the default driver name as "vmdk" (both in startup/service scripts and in test code). Just so existing users aren't impcated for now.

This issue is to completely deprecate the "vmdk" driver name and switch to using the "vsphere" driver name.

[2017-02-20 21:14] pdhamdhere commented on #929
@govint @shaominchen

Does [PropertyCollector](http://pubs.vmware.com/vsphere-65/index.jsp#com.vmware.wssdk.pg.doc/PG_PropertyCollector.7.1.html) help to detect
- VM re-name change and update KV
- VM is deleted and update tenant DB
- VM is migrated and update tenant DB (need to confirm)

[2017-02-21 17:04] brockz opened #942 "VMDK Driver - VolumeDriver.Mount: Server rejected"
Hello

i have 2 Worker hosts (photon os based) running in swarm mode.
When i create a Service with an mounted Volume via vmdk Driver and the Docker Host fails . The vmdk volume doesnt get unmounted. The Instance is getting restarted on the other Worker but  the volume is not mounted:
cswy7i9te7688920nh6wvjbu3   \_ nginx.1  nginx  id-nb-pht-wrk01  Shutdown       Rejected 24 minutes ago  "VolumeDriv

[2017-02-21 17:20] pdhamdhere commented on #942
@brockz We will need some more details about error and your setup. Can you please share some more details;

- Which release you are using?
- Setup: Can you please share more details on Swarm setup, VMs & ESX Hosts.
- Command that you used to create volume and/or start service
- Logs from Docker Hosts (/var/log/docker-volume-vsphere.log)
- Logs from ESX Host (/var/log/vmware/vmdk_ops.log)

[2017-02-21 18:06] govint commented on #934
Fixed via #939

[2017-02-21 18:06] #934 closed

[2017-02-21 18:58] brockz commented on #942
Hello pdhamdhere.
Here are the Infos.

vSphere:
4 Node vSphere Cluster running ESX 6.0.0 Build 4600944
vCenter 6.0.0 4541948
vSan Datastore

Docker/Swarm:
4 VMS running Photon OS 1.0, Revision 2  (2 Swarm Manager and 2 Swarm Worker=
docker -v
Docker version 1.12.1, build 23cf638

Building Swarm:
Manager Node1: docker swarm init --advertise-addr 10.10.105.221
Manager Node2: docker swarm join     --

[2017-02-21 19:16] govint commented on #929
Fixed via #937

[2017-02-21 19:16] #929 closed

[2017-02-21 21:30] msterin opened #943 "Need kill switch for vmodl support"
We need to have kill switch for VMODL support, and for *not* recycling vsanmgmgt svc on our svc start. This will prevent unneeded impact on VSAN unless VMODL need to be turned on.

I suggest doing it via installing the vmodl files somewhere else  and modifying vmdk-opsd -to  NOT recycle vsanmgmt svc by default, and adding  `vmdk-opsd vmodlon` and `vmodloff` manipulate the vmodl py files location a

[2017-02-21 23:45] pdhamdhere commented on #942
Thanks @brockz We have root caused the issue you are running into and working on a patch which will be available soon.

[2017-02-22 00:11] #942 closed

[2017-02-22 01:26] msterin commented on #942
The issue is fixed in both master and release-0.11 branches.
We will create and publish a release 0.11.2 with the fix tonight ( @shuklanirdesh82 ).

@brockz - with this fix, the failover will work as expected. However, the VM which was force-poweroffed (Worker2 in your case) will fail to poweron without manual intervention, because it will try to attach MyVolume.vmdk , which is already attached to

[2017-02-22 06:03] pshahzeb opened #948 "Prohibit policy delete from admin cli if it is in use by any volume"
Currently, policy is successfully deleted even if it is being used by a volume.
See the below example where a policy named poltest is created and a volume vol_poltest is created using this policy. The admin ls command indicates that the volume vol_poltest is using poltest policy.
But the admin policy rm command runs successfully.
The volume still indicates it uses poltest policy.
[code]

[2017-02-22 06:15] brockz commented on #942
Great Work!

Running as expected !
Thanks

BR Stefan

[2017-02-22 08:57] brockz opened #949 "Cannot remove vmdk volume from Deamon"
Hello

I not able to remove a vmdk  Volume from my Docker Install:
sudo docker volume rm MyVolume@shrk-vSAN01
Error response from daemon: Error while removing volume MyVolume@shrk-vSAN01: remove MyVolume@shrk-vSAN01: VolumeDriver.Remove: Failed to remove volume /vmfs/volumes/shrk-vSAN01/dockvols/11111111-1111-1111-1111-111111111111/MyVolume.vmdk, in use by VM uuid = 42383f4e-ff1c-97d0-0536-4e73d15

[2017-02-22 09:25] govint commented on #949
@brockz  can you upload the same set of logs as requested for the other issue - /var/log/vmware/vmdk_ops.log on the ESX host and /var/log/docker-volume-vsphere.log on the guest OS.

[2017-02-22 18:05] pdhamdhere commented on #949
@brockz sorry, you are running into issues with this. I went through "delete volume" code flow and unable to reason case when this could happen. VM and ESX logs would definitely help. Also, I suspect we may need to look at Docker Engine logs too.

Is it possible to jump on quick webEx/call to understand your environment & use case? You can send us your contact details, day & time that works best f

[2017-02-22 22:36] matt-deboer opened #952 "Does the new "tenant" feature span esxi hosts?"
In our previously used version of the driver (0.9.x) we were able to mount a given volume from any vm on any esxi host attached to the datastore (not simultaneously, of course, but if a given containerized app was launched on another vm--on another esxi host--in the same cluster, it would be able to mount the previously created volume).

Is there a way to achieve this functionality with the curren

[2017-02-22 22:56] pdhamdhere commented on #719
Opened accidentally.

[2017-02-22 22:56] #719 closed

[2017-02-22 23:32] #952 closed

[2017-02-23 00:28] pdhamdhere commented on #952
Hey @matt-deboer We had a [regression](#193) in latest release which impacts visibility of Docker Volumes on shared datastore across multiple ESX Hosts.

This is fixed in latest [patch release](https://github.com/vmware/docker-volume-vsphere/releases/tag/0.11.2).
For upgrades, please see instructions [here](https://github.com/vmware/docker-volume-vsphere/blob/master/docs/misc/UpgradeFrom_Pre0.11.1

[2017-02-23 02:15] ashahi1 opened #954 "Unable to remove volume"
Steps:
[docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/795373/docker-volume-vsphere.txt)
[vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/795372/vmdk_ops.txt)

[code]

[code]

Docker Engine log:
[code]
========
Following files have been attached:
From Docker VM: /var/log/docker-volume-vsphere.log
From ESX: /var/log/vmware/vmdk_ops.log

[2017-02-23 03:43] pdhamdhere commented on #954
Any errors in formatting (after attach), disk becomes un-removable.

In [vmdk_driver.go](https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/drivers/vmdk/vmdk_driver.go#L255)

[code]

If Attach actually succeeds on ESX then, subsequent attempt to remove volumes (`d.ops.Remove(r.Name, nil)`)  would fail because as per KV vmdk is attached to powered on VM AND ESX Service doesn't

[2017-02-23 06:12] govint commented on #954
@ashahi1 can you repro the issue on your set up and post the logs for the create failure.  From the create() logic in the driver, any failure will detach the volume and remove it as well. In this case we need to figure which scenario failed and left the volume attached to the VM.

[2017-02-23 06:13] govint commented on #940
#812 will handle this for 0.12 itself. Hence closing this one.

[2017-02-23 06:13] #940 closed

[2017-02-23 06:14] govint commented on #938
Closing this as tracking VM lifecycle changes and handling events is a larger item that will address this issue.

[2017-02-23 06:14] #938 closed

[2017-02-23 06:20] govint opened #955 "Use the tenant name in the logs instead of tenant IDs"
The tenant UUIDs are long sequences of digits and make for difficult reading in the logs and error messages as the user needs to lookup the tenant mapping from UUID to tenant name to figure which tenant is in use for volume ops (when debugging).

When a tennat dir. (uuid is dir name) is made then also create a symlink to that uuid-dir which is the name of the tenant. Similar to ESX datastores that

[2017-02-23 09:23] govint commented on #881
Have tried the test again, works fine locally. In CI am seeing an error in removing the test volume which is different from whats reported in the issue. Debugging this further.

[2017-02-23 12:05] govint commented on #954
PR #941.

[2017-02-23 17:19] #193 closed

[2017-02-23 18:11] ashahi1 opened #956 "Volume creation goes through fine but 'docker volume ls' does not lists that particular volume."
Volume creation goes fine for volume named - vol1
Tried to list the volume using docker volume ls but do not see vol1.

=======
Sequence of steps:

root@photon-TX4FfW2ET [ ~ ]# docker volume create --driver=vmdk --name=vol1 -o size=10gb
vol1
root@photon-TX4FfW2ET [ ~ ]# docker volume ls
DRIVER              VOLUME NAME
vmdk                SrvcVol@sharedVmfs-0
root@photon-TX4FfW2ET [ ~ ]# docker vol

[2017-02-23 18:13] shuklanirdesh82 opened #957 "Identify tests for multi-esx scenario"
## Multi-Esx tests

**Testbed setup**:

1. 2 ESX hosts (E1 & E2)
2. E1 is having access to local-vmfs, vsan, shared-vmfs ( the same for E2)
3. 2 VMs per each datastore from ESX (e.g. 2 vms on local/vsan/shared-vmfs backed by E1 i.e. total 6 vms)

**Note**: atleast one vm is mandatory (more than 1 is recommended for complex scenario testing

for our test scenario
[code]

- [x] **Scenario 1** (with

[2017-02-23 18:17] shuklanirdesh82 opened #958 "Achieve CI stability while running builds against vmware/master"
Please keep posting CI-infra related problem to this issue.

1. Need to add retry mechanism for deploy-esx to avoid known vsphere issue (as shown below).

https://ci.vmware.run/vmware/docker-volume-vsphere/1346
[code]

//CC @pdhamdhere

[2017-02-23 18:43] shuklanirdesh82 commented on #956
@ashahi1 : some questions

1. was the ```vol1``` created and deleted before executing above steps?
2. where does ```SrvcVol@sharedVmfs-0``` come from? have you created one. Please do mention to avoid confusion.
3. what is the docker version?

[2017-02-23 19:24] govint commented on #956
The ESX logs show vol1 getting created multiple times and also getting removed. Possibly the exact sequence of steps used should be provided so it can be repro'ed.

[2017-02-23 22:18] Kronia1 opened #960 "Attempting to connect to the same volume on two vms will freeze the second vm"
Environment Details: 4 vms, 2 VMWare hosts. Driver version 0.11.2.

Steps to Reproduce:
1. Create a new docker volume
2. Make sure the volume exists on both VMWare hosts
3. Connect to the volume from multiple vms

Expected Result: The first docker run will successfully complete and mount the volume. All consecutive attempts will timeout and throw an error.

Actual Result: The first docker run will

[2017-02-23 22:34] ashahi1 opened #961 "[VSAN] Incorrect 'Used' size reported for volume of diskformat type - zeroedthick on vsan datastore"
Created a volume of size 1gb but 'Used' size is reported as 2gb.

Steps:
1. Created a volume of size 1gb with diskformat set to zeroedthick
`docker volume create --driver=vmdk --name=vsanVolm -o size=1gb -o diskformat=zeroedthick`

2. Did docker volume inspect for created volume:
[code]
3. Admin cli command output on ESX
[code]
Did same steps on shared-vmfs datastore. 'Used' and 'Capacity' are sam

[2017-02-23 22:47] Kronia1 commented on #960
This was the initial behavior, but after more testing, the driver is timing out.

[2017-02-23 22:47] #960 closed

[2017-02-23 23:10] ashahi1 commented on #956
@govint I didn't remove the volume vol1. I was trying to create vol1 but 'docker volume ls' was never listing it.
I will deploy a fresh setup and see if issue is reproducible.
Docker version used is 1.12.1

[2017-02-23 23:39] ashahi1 commented on #601
Created a two seperate swarm setup of three nodes - one master and two worker nodes.
Docker version: 1.12.1

Setup:
1. All three VMs are on the same host and shared-vmfs datastore.
2. All three VMs are on the same host and vsan datastore.

Performed following steps across both the setups so that we cover  both vsan and vmfs datastores :
--------
Steps for testing docker service commands:
1. Create

[2017-02-23 23:41] pdhamdhere opened #962 "Failed to create filesystem"
Guest: Ubuntu
Plugin & ESX: 0.11.2

[code]

Plugin Log

[code]

I ran into this only once. I thought this should not happen with #893 CC/ @govint

Will bump the priority if run into this again.

[2017-02-24 00:03] shuklanirdesh82 commented on #956
attached logs having multiple creation and deletion for the "vol1" and on the other hand docker 1.12 was having a known issue for not listing down volume if the creation with the same name which got deleted couple mins back .. it was fixed in 1.13

This doesn't look like a bug so closing this for now and reopen if it is reproducible.

[2017-02-24 00:03] #956 closed

[2017-02-24 01:15] ashahi1 commented on #601
For vmfs/vsan datastores, if we deploy a service to the swarm with multiple replicas (--replicas) and --mount flag with type=volume, there will be only one instance of container with state as 'Running' and other instances will be in 'Ready' state.
If the currently running container instance stops or is stopped, another container instance will move from 'Ready' state to 'Running' state since a volu

[2017-02-24 01:30] pdhamdhere commented on #882
[code]

Summary: Single replica works fine. Since VMDK volume can only be used by one docker host at any time, replicas > 1 will fail to start.

CLI is backward compatible and no additional work required.

[code]

[2017-02-24 02:56] shuklanirdesh82 opened #963 "[Tenant] better to use all 0's or f's for the _DEFAULT tenant UUID instead of all 1's"
[code]
It looks little bit ugly while reading up logs and not much intuitive.
Proposing to use all 0's or f's: ```00000000-0000-0000-0000-000000000000``` or ```ffffffff-ffff-ffff-ffff-ffffffffffff```

IMO, it increases readability.

//CC @msterin @pdhamdhere

[2017-02-24 02:58] govint commented on #963
Related to #955

[2017-02-24 03:12] shuklanirdesh82 opened #964 "[Tenant] Add tenant column to admin ls commands"
There should be way to extract volume<->tenant association information. It would be more informative for user to know a particular volume is part of which tenant.

Proposed solution as per offline discussion with @msterin: ```vmdkops_admin ls``` should have a column displaying information about the volume resided into tenant.

//CC @msterin @pdhamdhere

[2017-02-24 03:23] shuklanirdesh82 commented on #963
@govint Thanks for pointing at #955, if would be more meaningful to show ```_DEFAULT``` I guess that is what #955 is referring.

I am requesting to update tenant UUID as well for ```vmdkops_admin tenant ls```.

[2017-02-24 03:30] shuklanirdesh82 opened #965 "[Tenant] "vmdkops_admin tenant vm ls" is not showing VMs belongs to _DEFAULT tenant"
It would be helpful and great to have such information like how many docker_hosts are participating into ```_DEFAULT``` tenant just like vmdkops_admin showing for other tenants.

[code]

//CC @msterin @pdhamdhere

[2017-02-24 03:35] msterin commented on #963
The rename would also require us to add migration code form 0.11.2 forward :-(  - I am not sure it's worth the effort.

[2017-02-24 03:37] msterin commented on #955
it already works that way. Maybe you meant to ask "put tenant names rather than tenant uuids into the log" ?   This would be reasonable. However it would make it really hard to debug cross-esx issues if one of the symlinks is overriden by a different ESX

[2017-02-24 03:40] shuklanirdesh82 opened #966 "[Tenant] Restrict user from creating/renaming tenant with name=_DEFAULT"
With the multi-tenancy feature, vmdk driver is creating ```_DEFAULT``` tenant to maintain backward compatibility. As ```_DEFAULT``` tenant is treated as a special case (system created tenant), vmdkops_admin should restrict user to create/rename tenant with name=```_DEFAULT```

It is unlikely for any user to choose such name but would be a good candidate for GA to restrict user in earlier phase.

/

[2017-02-24 03:56] shuklanirdesh82 opened #967 "[Tenant] Enhance vmdkops_admin tenant vm ls to show tenant<->list[VMs] information"
[code]

Raising a tracker issue as per offline discussion with @msterin, vmdk driver is expecting to have tenant name retrieved from user in order to show list of vm information here are some proposal for team to take further review.

**Proposal#1**: ```vmdkops_admin.py tenant vm ls``` should fall back on the ```_DEFAULT``` tenant if exist and shows list [VMs] part of ```_DEFAULT``` tenant otherwi

[2017-02-24 04:01] msterin commented on #954
Here is what happened (don't ask me why yet):

1. on 'docker volume create' , after VMDK was created,  an attach request was sent to ESX so we can format the volume
2. After the vmdk was attached, a reply was sent from ESX to the guest.
3. On the handling of the reply, `docker-volume-vspher` service crashed with `free(): invalid pointer: 0x00007fd864000950` in `esxvmdkcmd.go:Run` on incorrect poin

[2017-02-24 04:06] shuklanirdesh82 commented on #963
I thought there is a dependency only on ```_DEFAULT``` name and not UUID hence the usability request.

If you think there will be too much work and not worth spending time; please feel free to close this one. It could be a more personal preference to have something like ```00000000-0000-0000-0000-000000000000``` or ```ffffffff-ffff-ffff-ffff-ffffffffffff```

[2017-02-24 04:19] govint commented on #955
Correct, the tenant names in the log is easier to read (like datastore names in ESX logs).

[2017-02-24 05:48] pdhamdhere commented on #960
Thanks @Kronia1 for giving this a try. We would love to hear more about your experience and use case. Feel free to reach out to us @ containers@vmware.com

@shuklanirdesh82 Adding regression-test-needed label for adding test with NFS backend. NFS locks could  bubble up interesting behaviors in our code.

[2017-02-24 06:25] pdhamdhere commented on #601
Can you please add output of these commands for e.g. showing nodes, state etc. Please refer to [github markdown](https://guides.github.com/features/mastering-markdown/) for formatting console output in comments.

[2017-02-24 06:54] shuklanirdesh82 commented on #960
Sure, we will enhance the testbed coverage with NFS backend.

[2017-02-24 19:27] ashahi1 commented on #601
1. Created a swarm of three nodes - one master and two worker nodes. All three VMs are on the same host and shared-vmfs datastore
[code]
2. Created a thin provisioned volume from master vm. Volume is detached currently.
[code]
3. Created a service with replica 1.
[code]
4. Worker-2 showed a container running. Checked in the VC and ESX, volume was successfully attached to the worker-2.
[code]
From

[2017-02-24 22:34] #853 closed

[2017-02-24 22:34] #948 closed

[2017-02-24 23:00] shuklanirdesh82 commented on #957
## Multi-Esx tests

**Testbed setup**:

1. 2 ESX hosts (E1 & E2)
2. E1 is having access to local-vmfs, vsan, shared-vmfs ( the same for E2)
3. 2 VMs per each datastore from ESX (e.g. 2 vms on local/vsan/shared-vmfs backed by E1 i.e. total 6 vms)

**Note**: atleast one vm is mandatory (more than 1 is recommended for complex scenario testing

for our test scenario
[code]

**Scenario 1** (with fresh

[2017-02-24 23:14] shuklanirdesh82 commented on #957
## Sanity testing

**Testbed setup 1**
[code]

**Testbed setup 2**
[code]

Note: Need to perform following 3 basic scenarios on above testbed flavors.

- [ ] Fail over scenario
[code]

- [ ] Basic create delete scenario

[code]

- [ ] Basic create/attach volume scenario

[code]

//CC @pdhamdhere @tusharnt

[2017-02-24 23:15] shuklanirdesh82 commented on #957
@ashahi1 I'm assigning this to you.

Please get started with sanity testing then complex scenario testing.

[2017-02-25 03:47] #874 closed

[2017-02-25 06:18] lipingxue commented on #818
I discussed with Mark offline. The fix I did in https://github.com/vmware/docker-volume-vsphere/pull/959 is not the best one since it refresh datastore cache in each operation.
Based on our discussion, we decide there are two steps to fix #818
step1: force datastore cache to refresh for listVMDK. This fix is simple and also provide a workaround for the error hit in #818. When user see "IndexError(

[2017-02-25 22:34] ashahi1 commented on #954
I hit this issue again with fresh setup. This was the first volume I was trying to create on the setup.

Fresh log files have been attached:
[vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/801559/vmdk_ops.txt)
[docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/801558/docker-volume-vsphere.txt)

Steps:
1. Tried creating a volume vol1 of size 10gb.

[2017-02-25 22:38] ashahi1 commented on #954
Removed 'Need Repro' label as fresh logs have been uploaded.

[2017-02-25 23:12] ashahi1 opened #972 "Admin cli command to list volume fails"
Admin Cli command to list volume fails.

Steps:
1. Created a volume named volume1
[code]
3. Tried to verify volume details on esx using admin cli command - unsuccessful.
[code]

[2017-02-25 23:12] ashahi1 commented on #972
//CC @pdhamdhere @tusharnt

[2017-02-26 00:42] pdhamdhere commented on #962
This is 100% reproducible on fresh Ubuntu installation. First volume creation fails but subsequent volume creation works fine.

[2017-02-26 01:28] ashahi1 commented on #972
Not able to repro the issue. Closing it.

[2017-02-27 08:59] govint commented on #954
From the code and @msterin's update above below is one explanation, I don't have a repro but will be testing with debug messages to see if the scenario occurs. The issue can happen if the VMCI C code didn't return an error while still a) not allocating the recv. buffer or b) returning with the buffer already freed.

1. The VMCI client C code allocates the buffer to recieve the response from ESX.

[2017-02-27 21:25] shaominchen commented on #782
With recent fix (https://github.com/vmware/docker-volume-vsphere/pull/971), this issue has already been solved. The implementation of datastore cache still has some issues - Liping is working on the fix.

[2017-02-27 21:25] #782 closed

[2017-02-27 22:02] shaominchen commented on #943
@msterin I agree with you. Will address this in the next release.

[2017-02-27 23:23] tusharnt commented on #958
Nirdesh has fixed the networking issue on CI testbed.

[2017-02-27 23:23] #958 closed

[2017-02-27 23:38] tusharnt commented on #601
@pdhamdhere, Do you have any more comments on this or can this be closed?

[2017-02-27 23:41] pdhamdhere commented on #601
Thanks @ashahi1

Added test-needed label to add test.

[2017-02-27 23:46] #816 closed

[2017-02-28 09:04] ashahi1 opened #976 "vmdk_ops fails to start after ESX reboot"
Docker cli commands (docker volume create/ls)  does not works after vm reboot if the vm had crashed while the container was still running.
___
Steps:

1. Created a volume
[code]
2. Ran the container with the volume mounted:
[code]
From ESX:
[code]
3. While the container is still running, rebooted the esx. Once the esx came back up, powered on the vm.
4. Then ran admin cli command to list volumes:

[2017-02-28 09:13] ashahi1 commented on #976
Attached logs:
[vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/806200/vmdk_ops.txt)
[docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/806201/docker-volume-vsphere.txt)

[2017-02-28 10:18] ashahi1 commented on #957
Testbed setup:

2 ESX hosts (E1 & E2)
E1 is having access to local-vmfs, vsan, shared-vmfs ( the same for E2)

2 VMs per each datastore from ESX (e.g. 2 vms on local/vsan/shared-vmfs backed by E1 i.e. total 6 vms)

Scenario 1:
---
1. create one volume from each vms
[code]
Admin cli command to list volumes from ESX1:
[code]
Mounted all the volumes(vol1-to-vol6) from vm1:
[code]
Stopped the containe

[2017-02-28 10:18] ashahi1 commented on #957
Scenario 2:
--
create tenant from E1 & E2:
[code]
Creating tenant from ESX-2
[code]
Created volumes from other vms and verified that volumes are no longer visible from vms in tenant:
[code]
Docker volume ls from tenant vm:
[code]

Newly created volumes are visble from other VMs:
[code]

Created volumes after vms joined tenants:
[code]
Set default datastore for tenant1:
[code]
After setting default

[2017-02-28 10:19] ashahi1 commented on #957
Scenario 3 (vsan policy)
-

1. create a valid vsan policy from E1 and E2
[code]
2. create two volumes from vm on vsan on one with policy created on E1 and another with E2
[code]
3. create two volumes from vm on vsan on one with policy created on E1 and another with E2
[code]

[code]

4. perform attach/detach for all 4 volumes from both vms and perform data manipulation as well
[code]
[code]
5. on

[2017-02-28 10:19] ashahi1 commented on #957
Scenario 4
-
1. create a valid vsan policy from E1 and E2
[code]
[code]
2. create two volumes from vm3_vsan_E1 one with policy created on E1 and another with E2
[code]
[code]
[code]
3. create two volumes from vm4_vsan_E2 one with policy created on E1 and another with E2
[code]
[code]
[code]
[code]
4. perform attach/detach for all 4 volumes from both vms and perform data manipulation as well
[code]

[2017-02-28 10:19] ashahi1 commented on #957
Scenario 5 ( fail-over for docker host created on shared vmfs)
--
1. create two volumes - two each on vms
[code]
[code]
2. Verify attach-detach and data manipulation for all volumes
[code]
[code]
3. Stopping and exiting containers and mounting volumes on another container on different esx and verifying the data
[code]
[code]
4. Testing failover by attaching a volume to a container and then killing

[2017-02-28 11:09] shuklanirdesh82 commented on #976
@ashahi1

can you walk through steps mentioned at FAQ? It is better to make sure that all services are up and running fine.

FAQ: https://vmware.github.io/docker-volume-vsphere/documentation/user-guide/faq/#i-see-connection-reset-by-peer-errno104-in-the-services-logs-what-is-the-cause

[2017-02-28 12:45] govint commented on #812
Closed via #919

[2017-02-28 12:45] #812 closed

[2017-02-28 18:26] pdhamdhere commented on #976
vSphere Host Agent (Hostd) took 13 seconds to start;
[code]

In the meantime, vmdkops tried to start, failed and gave up
[code]

Now that Hostd is up & running, manually started service `/etc/init.d/vmdk-opsd start` and works fine.

Need to figure out how to add watchdog dependency so that vmdkops is not started until Hostd is up and running.

[2017-02-28 19:54] shuklanirdesh82 opened #977 "need to improve failure message when container creation is failed"
Need to improve failure message when container creation is failed (in this case image was not available to pull from docker hub)

As shown below, TestRefCnt is failing to provide root cause quickly atleast "TestSanity" gives some hint.

https://ci.vmware.run/vmware/docker-volume-vsphere/1421

[code]

[2017-02-28 20:00] pdhamdhere commented on #976
vmdkops does start after Hostd. However Hostd may not be fully up.

[code]

Can we defer "connectLocalSi" to later on first request? CC/ @msterin @govint

[2017-02-28 20:17] tusharnt commented on #927
@lipingxue can you please add your analysis here? We can then close this investigation issue.

[2017-02-28 20:21] ashahi1 commented on #957
#976 was discovered while performing these manual tests.

[2017-02-28 21:56] #917 closed

[2017-02-28 22:46] ashahi1 commented on #664
I tried with following setup but was not able to reproduce the issue.
Setup: Ubuntu 16.04.1 LTS - Docker 1.12.3 - 0.8 Plugin

Also tested with swarm mode but things worked without any issues.

[2017-02-28 23:14] #918 closed

[2017-02-28 23:16] shuklanirdesh82 commented on #664
closing this as per previous comment. Thanks @ashahi1 !

[2017-02-28 23:16] tusharnt commented on #664
@pdhamdhere mentioned that he was running into this scenario recently. I will let him decide whether to close this issue.

[2017-02-28 23:21] tusharnt opened #978 "Reduce the amount of logs generated by docker volume service"
Currently we maintain 5 logs files of 10MB each for vmdk_ops - https://github.com/vmware/docker-volume-vsphere/blob/87f4f9850a9493a2d6be46cf2de0c74ba6534cde/esx_service/utils/log_config.py
This seems excessive. Reduce the amount of logging to a single file of 1MB each.

[2017-02-28 23:26] tusharnt commented on #978
Another customer ask - Document how customers can update the default log location.

[2017-03-01 05:09] govint commented on #881
I've reproduced this issue several times with a single docker host and the way its designed there is no guarantee that this error "volume not found" will not happen. Basically up to a default of 5 or 2 threads will be created to run create and delete of volumes in parallel and unless those are on separate datastores there is every chance that one thread will remove a volume and the other will get

[2017-03-01 05:11] govint commented on #954
Ran the changes in a loop to create and remove a volume of size 10GB, the logs added didn't occur even once and create never failed. But I did notice "failed to start watcher" messages after some time and also "too many files opened" on the docker host. But that apart the issue isn't reproducing.

I can handle the comments and submit this change for now till we get more clues on the issue. The han

[2017-03-01 05:50] msterin commented on #954
sounds like a leak. Which files we even open  ?

setting a->buf to NULL and changing to calloc seems like a safe change.  please push the final suggestion

[2017-03-01 14:16] brunotm commented on #881
Hello @govint

How could this happen if each goroutine is working with a different set of volume names ?

[2017-03-01 18:57] govint commented on #881
Ok, let me say, I've been testing different changes and lied a bit above. No, this test works fine on a local setup (like I updated earlier), but I do get the errors in CI. And at least one looks like a repro of #954, so I'll debug that and  the remove vol errors I'd seen earlier.

[2017-03-01 19:35] shaominchen opened #980 "Default tenant should not be visible to users"
[root@sc2-rdops-vm03-dhcp-106-65:~] vmdkops_admin tenant ls
Uuid                                  Name      Description               Default_datastore  VM_list
------------------------------------  --------  ------------------------  -----------------  -------
11111111-1111-1111-1111-111111111111  _DEFAULT  This is a default tenant

This seems to be a regression issue as I didn't see default tena

[2017-03-01 19:38] shaominchen commented on #980
Shahzeb, can you please take care of this?

[2017-03-01 19:46] lipingxue commented on #980
We did show _DEFAULT tenant in previous builds.

[2017-03-01 19:59] shaominchen commented on #980
OK. Anyway we should just filter it out as this is internal implementation detail which should not be exposed to users.

[2017-03-01 20:08] pshahzeb commented on #972
Reproduced this.

Just tried admin ls command when no volume, tenant etc has been created.

[code]

But other commands do work. e.g. tenant ls

[code]

Created some volumes and then tried admin ls command. But facing the same error as above.
Although the following command worked.

[code]

Attaching vmdk_ops log as well.
[vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/811909/vm

[2017-03-01 20:13] pshahzeb commented on #972
The error still exists after uninstalling and installing the vib again

[2017-03-01 20:29] shuklanirdesh82 commented on #980
It was shown in 0.11 release.

[2017-03-01 20:31] pdhamdhere commented on #980
Why not list DEFAULT tenant? Admin may want to put constraints on DEFAULT tenant.

[2017-03-01 20:33] ashahi1 commented on #954
Not sure how important it is but just to add little info here - I have run into this issue  thrice, and it is the first volume creation is what gives this problem where volume creation will throw error and docker inspect will show volume as attached.

[2017-03-01 21:20] shaominchen commented on #980
@pdhamdhere Good point. I forgot about this scenario. Then I agree it makes sense to list the DEFAULT tenant.

[2017-03-01 21:20] #980 closed

[2017-03-01 21:21] lipingxue commented on #963
I agree with Mark that the change may not worth the effort.  Nirdesh, if you have no objection, please close this issue, thanks.

[2017-03-01 21:35] lipingxue commented on #965
Why do we need that info? Any VM which are not part of any user created tenant is associated with _DEFAULT tenant.

[2017-03-01 21:39] msterin commented on #965
I agree with @shuklanirdesh82 , it is confusing when a specific request ("show me vms in default tenant") shows nothing - but it has nothing to show. We can  print something like "all vms not participating in other tenants are a part of _DEFAULT tenant". this is a low priority though

[2017-03-01 22:07] ashahi1 opened #981 "'Docker volume ls' command throws error after upgrading from 0.11.1 build to 0.12 build."
1. Installed 0.11.1 build on vm and esx.
[code]
2. Created a volume - vol2511
[code]

3. Downloaded and upgraded to 0.12 build (latest)
[code]
From ESX:
[code]
4. Tried running 'docker volume ls' but it throws error -
[code]
docker-volume-vsphere service was dead:
[code]

Attached logs:
[docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/812155/docker-volume-vsphere.t

[2017-03-01 22:13] tusharnt commented on #898
This can be pushed out of GA if we are short on time.

[2017-03-01 22:15] msterin opened #982 "rename tenant to "project""
"tenant" is perceived as something related to a group of users and is confusing on out context. We need to emphasize that this is a way to limit access and privileges for a set of Vms , supposedly working on the same project. So the suggestion (from @pdhamdhere ) is to name it "project" , instead of "tenant".

this would include :
* admin CLI
* documentation
* error and help messages , if any, in

[2017-03-01 22:20] ashahi1 commented on #981
Docker Engine log:

[code]

[2017-03-01 22:20] tusharnt opened #983 "Docker volume service binaries should be made available via bintray"
Docker volume service binaries should be made available via bintray

[2017-03-01 22:24] pdhamdhere commented on #983
#403 is tracking same?

[2017-03-01 22:33] tusharnt commented on #793
Individual issues are already filed for tracking.

[2017-03-01 22:33] #793 closed

[2017-03-01 22:34] #776 closed

[2017-03-01 22:42] tusharnt commented on #933
@ashahi1 Can you please comment? Are we hitting this issue anymore?

[2017-03-01 22:45] tusharnt commented on #161
@ashahi1 Isn't this already addressed? Apart from docker 1.13 on Photon OS, is there anything else remaining?

[2017-03-01 22:54] tusharnt commented on #983
Closing the dup.

[2017-03-01 22:54] #983 closed

[2017-03-01 23:23] ashahi1 commented on #933
@tusharnt I ran into this issue during CI run. No longer seeing it on CI.

[2017-03-01 23:25] shuklanirdesh82 commented on #963
Closing this issue.

[2017-03-01 23:25] #963 closed

[2017-03-01 23:35] pdhamdhere commented on #981
Driver name in 0.11 is "vmdk".
Driver name in 0.12 is "vsphere". However, Docker still looking for "vmdk.sock". So, with 0.12 install, docker needs restart and it will pick up "vsphere.sock". Will update release note.

CC/ @govint

[2017-03-01 23:35] ashahi1 opened #984 "'rpm -Uvh' should not be used for upgrading the builds."
Steps:
1. Installed 0.11.1 build on docker vm and esx.
2. Downloaded and upgraded the builds to 0.12.
[code]
3. After upgrading, docker-volume-vsphere service is not running:
[code]

//CC @pdhamdhere

[2017-03-01 23:44] pdhamdhere commented on #981
Updated [Release notes](https://github.com/vmware/docker-volume-vsphere/releases/tag/0.12) that  0.12 install requires docker service restart.

[2017-03-01 23:44] #981 closed

[2017-03-02 00:04] pdhamdhere commented on #984
@ashahi1 Can you please confirm if Debian (dpkg) has same behavior with upgrade?

CC/ @kerneltime

[2017-03-02 00:47] shaominchen commented on #982
I'm not sure if the name "project" is really better than "tenant" :-) This name may cause some confusion in technical communications - what does it mean to "create a project"? It's kind of ambiguous to me.

Personally I don't have strong concern about the name "tenant". But if most people think it's inappropriate, I'd prefer "role" or something else.