[2017-06-01 20:28] shuklanirdesh82 opened #1323 "On OneCloud, enable parallel CI test execution for each PR"
As a developer I should be able to get CI test run result in 30 minutes.

Currently, each PR push queues up and waits for earlier runs to complete.

- [x] ~dedicated testbed is required~ (being tracked at #1899)

- [ ] Update validate-and-serialize.sh (#1902)

- [x] Plugin push should append build number (currently it is tagged with `latest-CI` (https://github.com/vmware/docker-volume-vsphere/pull

[2017-06-01 20:29] shaominchen opened #1324 "Automate Docker Swarm interop test"
Details refer to - Issue #927.

[2017-06-01 20:31] shuklanirdesh82 opened #1325 "Overall time taken by each test run should be ~30minutes"
Currently CI is taking ~1hr to finish test execution for a PR.

Tasks:

- [x] Introduce `runonce` target @shuklanirdesh82

- [x] Move test cases to runonce folder if it's sufficient to verify on one platform (ESX version, vmfs/vsan etc. @shuklanirdesh82

- [ ] ~Add matrix support to drone script to run ESX 6.5 and ESX 6.0 test in parallel. @pshahzeb ~ it is being tracked at #1268

- [x] Testconcur

[2017-06-01 21:36] lipingxue opened #1326 "[E2E] Automate Misc Test case: Test to update a vsan policy which doesn't exist"
Details in issue #1010
Test - 2: Test to update a vsan policy which doesn't exist

- Try updating a vsan policy which doesn't exist

[2017-06-01 21:50] shivanshu21 opened #1327 "Unable to create docker volume for VFAT file system type"
Environment Details: (
#VMs = 2
ESX = 6.0u2
Datastore = vsan
Application = None

Steps to Reproduce:
1. Try creating a volume with file system type VFAT

Expected result: Should succeed

Actual Result:
==========

We see that VFAT is listed as supported.

user@ubuntu14A ~: docker volume create --driver=vsphere --name=MyVolume -o size=10gb -o fstype=ntfs
Error response from daemon: create MyVolume:

[2017-06-01 21:53] shivanshu21 commented on #1327
Not sure if this is relevant too but creating volumes of same name is also not failing with error message so long as you change the FS type.

user@ubuntu14A ~: docker volume create --driver=vsphere --name=vol1 -o size=10mb -o fstype=ext2
vol1
user@ubuntu14A ~: docker volume create --driver=vsphere --name=vol1 -o size=10mb -o fstype=ext3
vol1
user@ubuntu14A ~: docker volume create --driver=vsphere

[2017-06-01 21:53] lipingxue opened #1328 "[E2E] Test to take snapshot of vm with volume attached"
Details in #1012

[2017-06-01 21:53] lipingxue opened #1329 "[E2E] Verify 'docker volume ls' works after migration of vm"
Detail in #1013

[2017-06-01 21:54] lipingxue opened #1330 "Automate Misc Test case: Verifying docker volume ls and admin cli ls after restarting the hostd"
Detail in #1010

[2017-06-01 21:55] lipingxue opened #1331 "Automate Misc Test case: Restart docker service"
Detail in issue #1010

[2017-06-01 21:56] lipingxue opened #1332 "[E2E] Create a volume using vsan policy on non-vsan datastore"
Detail in #1010

[2017-06-01 23:00] shaominchen opened #1333 "[E2E] Automate swarm test - start service without restart_policy"
[To be discussed]

Have  1 primary and 1 secondary node:
1. Run a service with 1 instance for it. Swarm will run it on the primary (say),
2. Kill that VM, swarm manager should be taken over on the secondary and the service should be restarted.
3. In the mean time the volumes mounted on the killed VM should have been detached on the primary host.
4. Verify that the services can be successfully rest

[2017-06-01 23:04] shaominchen opened #1334 "Automate swarm test - start service with restart_policy"
[To be discussed]

Start service with restart_policy:
1. In swarm cluster, start service with restart_policy: always using vsphere volume
2. Kill VM
3. Swarm should restart container in another VM and disk should be detached from original vm
4. verifies the volume is attached to new VM

[2017-06-01 23:05] shaominchen opened #1335 "[E2E]Automate swarm test - failover"
[To be discussed]

Swarm and failover:
   a. Create Swarm cluster with at least 1 master and 2 worker nodes
   b. Deploy http://vmware.github.io/docker-volume-vsphere/documentation/docker-stacks.html Change DB constraint to "node.role == worker"
  c. Force poweroff worker1 and wait for all services to restart
  d. Power on worker1
  e. Force poweroff worker2 and wait for all services to restart

[2017-06-01 23:25] ashahi1 opened #1336 "[E2E] Automate P1 Tenancy Test case - Rename tenant"
- [ ] 1. Rename user created tenant

[2017-06-01 23:31] ashahi1 opened #1337 "[E2E] Automate P2 Tenancy Test case - Adding vm to a tenant"
- [ ] Adding same vm to two tenants at the same time.
- [ ] Adding same vm twice to the same tenant.

Please refer to issue #898 and #899

[2017-06-01 23:38] lipingxue commented on #601
@ashahi1
The --replica option in swarm is not used to scale a stateful application. Instead, it should used to scale a stateless application. So why do we try to add the test with --replica 2 here? Any specific reason? @ashahi1

[2017-06-01 23:38] ashahi1 opened #1338 "[E2E] Automate P2 Tenancy Test case - Replace VM from tenant"
- [ ] Tenant replace with a VM which already exists in it
- [ ] Tenant replace with a VM which doesn’t exist
- [ ] Tenant replace with a VM which is already a part of another tenant

[2017-06-01 23:44] ashahi1 opened #1339 "[E2E] Automate P2 Tenancy Test case - Remove vm from a tenant"
- [ ] Remove VM added to a tenant
- [ ] Remove a VM from a tenant which was never added to it

[2017-06-01 23:59] ashahi1 opened #1340 "[E2E] Automate Tenancy Test case - Updating _DEFAULT tenant access privileges"
- [ ] Verify volume creation by updating access privileges for _DEFAULT tenant

Please refer to issue #895 and #899

[2017-06-02 00:04] ashahi1 opened #1341 "[E2E] Automate Tenancy Test case - Verify volume creation"
- [x] Verify volume creation from new tenant - P0
- [ ] Verify volume creation after deleting user created tenant - P0

Refer to issue #899

[2017-06-02 00:14] ashahi1 opened #1342 "Automate Tenancy Test case - Update access privileges for user created tenant"
- [ ] Update datastore access for volume creation (--allow-create) for the Tenant T1 and create volume from VM1 - P0

- [ ] Update datastore access for --volume-totalsize from 1 GB to 2GB by keeping allow_create to true and Max_volume_size to satisfiable - P0

- [ ] Update datastore access for --volume-maxsize from 500MB to 600MB by keeping all other rights satisfiable - P0

- [ ] Update access ri

[2017-06-02 01:09] ashahi1 opened #1343 "[E2E] Automate P1 Tenancy Test case - Change VM's vmgroup"
- [ ] Tenant is changed while volume is still attached to a vm - vm belongs to default vmgroup
- [ ] Test to verify tenant creation by passing non-existing vm

Please refer to issue #899

[2017-06-02 06:52] tusharnt commented on #1322
@shuklanirdesh82 Is this created by mistake?

[2017-06-02 11:22] shuklanirdesh82 commented on #1322
Yeah.. didn't notice

[2017-06-02 11:22] #1322 closed

[2017-06-02 21:59] ashahi1 commented on #601
@lipingxue I added --replica as I wanted to test fail-over condition. Basically checking if service starts running the second instance if the first one goes down.

[2017-06-02 22:02] shaominchen commented on #1249
Fixed with PR #1309.

[2017-06-02 22:02] #1249 closed

[2017-06-02 23:14] shaominchen opened #1344 "Some e2e util functions are not generating unique numbers properly"
The following util functions are buggy:

1. GetVolumeNameWithTimeStamp
2. GetContainerNameWithTimeStamp
3. GetServiceNameWithTimeStamp

The intention of these functions is to generate a unique name, but we are using time.Now().Unix() which generates a number based on the same timestamp in seconds. The generated number will not be unique if we call this function multiple times in a short period or

[2017-06-02 23:19] shuklanirdesh82 commented on #1344
yeah @govint pointed out today https://github.com/vmware/docker-volume-vsphere/pull/1310#discussion_r119852856

[2017-06-02 23:29] ashahi1 commented on #1344
I know, its a trivial issue and I will take care of it.

[2017-06-03 09:23] govint opened #1346 "Code error when moving VM (in _DEFAULT) with volumes attached to other vmgroup."
Was testing the vmgroup E2E tests and had a VM with a volume left attached on it (in _DEFAULT). Ran the test and got below error.

1.Same DS is associated with multiple vmgroups (test1 and test2)
/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup ls
Uuid                                  Name      Description                Default_datastore  VM_list
------------------------------------  --------

[2017-06-03 10:53] ckotte commented on #1315
this is also necessary if your worker nodes are distributed over several datastores.. If you don't specify the datastore and the container fails over to a worker that is stored in another datastore, the container can't have access to its persistent data..

[2017-06-05 10:32] vxav commented on #1032
Question:
I started my 2 nodes lab as a 1 node with local db file.
I later moved auth-db to a shared datastore and created a symlink as the "move" parameter doesn't seem to be supported yet. (Equivalent to a ' config init --datastore "sharedDS"').

However the symlink doesn't seem to persist. so every time the host is restarted auth-db isn't found and _DEFAULT is used.

[code]

I tried the followi

[2017-06-05 17:08] msterin opened #1347 "Auth DB config symlink does not persist between ESXi reboots"
We put the symlink in /etc/vmware/vmdkops and it seems to be recovered from vib into ramdisk on boot. so we loose the link on reboot

//CC @vxav

In https://github.com/vmware/docker-volume-vsphere/issues/1032#issuecomment-306156724 @vxav writes:

Question:
I started my 2 nodes lab as a 1 node with local db file.
I later moved auth-db to a shared datastore and created a symlink as the "move" parame

[2017-06-05 17:32] pdhamdhere commented on #1315
Tracking issue with [docker/compose #4886](https://github.com/docker/compose/issues/4886)

[2017-06-05 18:13] msterin commented on #1347
//CC @pdhamdhere
* for shared conf, we need to save the datastore name in /etc/vmware/esx.conf, and restore symlink on service start
* for local conf, it's worse - we need to save the whole file somewhere and recover it. We can put in in dedicated .tgz and modify bootconf to pick it up , but that the save would have to happen on each modification :-) . It looks like '--local' mode  does not add mu

[2017-06-05 18:20] shaominchen commented on #1347
Symlink doesn't seem to be mandatory in our design. Can we simply remove it? Just save the path (or just datastore name) in config and re-establish the DB connection during restart - won't it work the same?

[2017-06-05 18:25] msterin commented on #1347
yes, we can do it but would need to check esx.conf on each VMDK op since they are all independent and open a DB connection on each op. It feels wrong to check esx.conf in DB open.
Another choice (above) is to check esx.conf once on start  and simply leave  symlink as is

[2017-06-05 18:48] shaominchen commented on #1308
Reopen this issue as it still happens intermittently. We have missed one step in previous fix - to check the volume detached status. This step is REQUIRED because stopping or removing a container will NOT release the volume immediately, since it takes some time for the container to stop or exit. We must use a poller to check and verify the volume status is detached before removing it. Please refer

[2017-06-05 21:49] shuklanirdesh82 commented on #1308
1. Test case step https://github.com/vmware/docker-volume-vsphere/blob/master/tests/e2e/vmlistener_test.go#L126 does make sure `detached` state before invoking `docker volume rm`.

2. Testcase does uses polling mechanism to check upon power state and detach/attach state. Only gap here is about `refCount` thread state (see https://github.com/vmware/docker-volume-vsphere/pull/1300#discussion_r118602

[2017-06-05 21:49] #1308 closed

[2017-06-05 21:50] lipingxue commented on #1315
[docker/compose #4886](https://github.com/docker/compose/issues/4886)  was closed. Filed a new issue with [moby/moby #33529](https://github.com/moby/moby/issues/33529).

[2017-06-05 21:51] shaominchen opened #1348 "VMDK plugin returns confusing message"
When VMDK plugin is being restarted (e.g. due to VM restart), the background refcnt thread needs some time to initialize. During the initialization process, the plugin might get incoming mount/unmount/remove volume requests. These operations will need to get the ref counts of the volume. In this case , the current logic will return a hard-coded value 1, indicating the refcnt is still in initializa

[2017-06-05 22:01] shaominchen commented on #1308
@shuklanirdesh82 I have filed issue #1348 for vmdk plugin issue. However, after the plugin issue gets fixed, we still need to fix this test case accordingly to check the "volume rm" error messages. So please file a new issue (since the current one is closed) and mark it depending on issue #1348.

[2017-06-05 22:03] shuklanirdesh82 opened #1349 "[Test util] Remove vDVS plugin test util needs to be improved"
As described in #1348, tearDown method needs to be improved after getting fix for #1348.

[2017-06-05 22:04] shaominchen commented on #1348
Here's the stack trace of the vmlistener test case failure:

2017/06/04 07:26:41 Failed to invoke command [docker volume rm vmlistener_test_volume_1496561145]: exit status 1

----------------------------------------------------------------------
FAIL: vmlistener_test.go:61: VMListenerTestParams.TearDownTest

vmlistener_test.go:67:
    c.Assert(err, IsNil, Commentf(out))
... value *exec.ExitError =

[2017-06-05 22:05] shuklanirdesh82 commented on #1308
#1349 is opened to track the improvement.

[2017-06-05 22:20] pshahzeb opened #1350 "Improve error message when refcounting isn't complete"
As of now, for docker volume rm, the error message given is "VolumeDriver.Remove: Remove failure - volume is still mounted.  volume=vmlistener_test_volume_1496558624, refcount=1
" when tried before the refcount thread stabilizes.
It is ambiguous and doesn't make it clear if refcount is actually one or we are disallowing delete due to unsuccessful refcount init. We need to give error like "Plugin I

[2017-06-05 22:27] pshahzeb commented on #1350
Duplicate of #1348

[2017-06-05 22:27] #1350 closed

[2017-06-05 22:31] shuklanirdesh82 commented on #1350
Thanks @pshahzeb for closing. We do have `duplicate` label, please make sure to add in future.

[2017-06-05 23:43] msterin commented on #1032
@vxav - it's a bug ( #1347 ), we'll release the fix shortly.

Meanwhile, you can add

[code]

to `/etc/rc.local.d/local.sh` before `exit 0`

Please validate that the code works in your case before rebooting :-)

[2017-06-06 01:13] pshahzeb commented on #1254
Additional test cases as per updated steps for #820

[2017-06-06 01:41] shivanshu21 opened #1351 "[Low pri] Some links in readme document not functional"
Following links are broken in README.md
1. Links to FAQ
2. Link to "Using Docker CLI" section

[2017-06-06 04:33] lipingxue commented on #1284
I hit this issue on Ubuntu OS too, so it looks like not specific to Photon OS.

[2017-06-06 05:27] govint commented on #1284
If this function is commented out then how will other tests that are using
these work? I too had the same problem on local VM. But in CI there is no
issue. For local VM just hard code the values and verify it all works then
restore the calls to getvmname and submit to CI. Removing the function will
block a bunch of submits

[2017-06-06 06:32] ashahi1 opened #1353 "[CI] Test run failed on CI as Docker was not found on one of the VMs"
Error: Docker is needed to run dockerbuild

CI: https://ci.vmware.run/vmware/docker-volume-vsphere/373

Console log snippet:
[code]

[2017-06-06 07:11] govint commented on #1347
Is #1032 using a stateless ESX for the test? In which case the behavior is very much expected. Possibly VMDK service startup script will need to restore the DB after figuring out if there are DBs on available datastores?

[2017-06-06 07:26] vxav commented on #1347
No the test ESX is installed on disk.
If it was stateless probably that even the install of the vDVS vib wouldn't persist either if it wasn't in the auto deploy image.

[2017-06-06 07:40] shuklanirdesh82 opened #1355 "Turn off unnecessary logs from cleanup routines"
`make clean-all` spits out following lines which is at no use and can be discarded.

[code]

Identify which lines are leftout and added redirection `> /dev/null`

[2017-06-06 07:44] shuklanirdesh82 opened #1356 "Turn off Makefile target warning"
from CI run https://ci.vmware.run/vmware/docker-volume-vsphere/379

[code]

[2017-06-06 07:56] vxav commented on #1032
It does work fine, thanks for looking into it! :)

Last question:
Is it by design that when no config db is found, _DEFAULT is used?
We can remove the _DEFAULT vmgroup in our config but if the db is inaccessible it doesn't matter, _DEFAULT is still used.
It feels a little bit dangerous and complicates troubleshooting, I don't know about everyone else but I'd rather have my containers creation fail

[2017-06-06 11:50] vxav opened #1357 "Old VM name persists in vmgroup members after photon host VM renaming in vsphere"
After renaming a Photon host VM (in vsphere) that is part of a vmgroup, the old name persist in the list of member VMs.

This prevents (at least that's what I was doing) the removal of the vmgroup.

To workaround it I opened vmdkops_config.db with SQLite Browser and removed the vm record, which allowed me to remove the vmgroup.

[2017-06-06 14:25] ashahi1 commented on #1353
wrong issue, solved after rebasing with latest change

[2017-06-06 14:25] #1353 closed

[2017-06-06 15:13] shuklanirdesh82 commented on #1353
@ashahi1 Thanks for the confirmation! Please make sure to add `invalid` tag for such issues.

[2017-06-06 17:35] pdhamdhere commented on #1351
@girishshilamkar @tusharnt

[2017-06-06 17:36] pdhamdhere commented on #1351
CC/ @tusharnt @girishshilamkar

[2017-06-06 18:07] shuklanirdesh82 opened #1358 "Add python code report to vDVS project main page"
We need to add badge Icon for python code report.

e.g. https://goreportcard.com/report/github.com/vmware/docker-volume-vsphere

/CC @msterin

[2017-06-06 22:38] #1313 closed

[2017-06-06 23:44] msterin commented on #1032
Yes, it by design -  when there is no DB we fail back on "default everything. no security".
* It was done to be zero config for simple cases, and to maintain backward compatibility.
* We also wanted the process of upgrading from "no config / no vmgroups / no quotes" to config to be seamless - you init configuration and everything already created is still available in the same places.

I see your p

[2017-06-06 23:50] msterin opened #1362 "A corruption is possible in a shared config DB on NFS"
sqlite code does not seem to use NFS-friendly locking (whatever it means)
We saw on NFS (on vSphere) that a transaction can be reported as committed and still overridden (and date deleted) with a non-related transaction from a different host.
We need to either change sqlite3.c to do proper locking on NFS ( `lockf()` seems to work fine) , or introduce our own .lock file for the duration of DB usage

[2017-06-06 23:55] msterin opened #1363 "Need to add alerts to be shown on UI"
When vDVS is running into serious issues (e.g. BrokenLink config mode, etc...) we need to inform the admin that an manual recovery is required. The mechanism for that is Alerts which are shown for a proper ESX host on VC UI.

This issue is to do the following:
- [ ] Enumerate the key events we need to show as alerts
- [ ] implement (there is a related vMOMI API so it should be fairly straighforwar

[2017-06-07 00:10] msterin opened #1364 "Server log config is not persistent between reboots - need to at least document"
/etc/vmware/vmdkops/log_config.json is generated by vmdk_ops.py and the idea was that a customer can edit the  logger config. However it is not persistent between ESX reboot

We need to (at least) `document it in the file itself` - after any changes, the file needs to be saved to some persistent Datrastore and /etc/rc.local.d/local.sh need to be modified to copy the file back to /etc/vmware/vmdkop

[2017-06-07 01:59] ashahi1 opened #1365 "[Test util] Add a common util function to return a map of all volume properties"
Add a common util function to return a map of all volume properties in which the key is the property name and the value is the property value.

[2017-06-07 04:07] msterin opened #1366 "Conflicts in access to shared DB due to DB usage spread over full operation"
When testing shared DB, we see some failures when one of ESXs was lockign the DB on VMFS. One of the reasons is that we do multiple accesses to DB during the operation run. Instead , we should get all we need on the operation entry, and then release the DB to minimize conflicts.

[2017-06-07 04:21] #1254 closed

[2017-06-07 05:01] govint opened #1367 "Route admin CLI logs to the console. Support a --quiet option."
The CLI code imports vmdk_ops.py and functions called there log into the service log file vmdk_ops.log (which is supposed to be just the service logs alone). On errors, user needs to look at the VMDK service log file to debug.

Instead the CLI should configure logging to the terminal so user gets to see the trace if needed. A _--quiet_ (true by default) option will allow user to turn on logs if ne

[2017-06-07 07:26] #1348 closed

[2017-06-07 07:51] govint commented on #1262
Closed #1286

[2017-06-07 07:51] #1262 closed

[2017-06-07 07:53] govint commented on #1303
Closing this as #1286 added a function to get test configuration and if that returns nil the test code can check that and skip execution. For now that suffices to handle the issue here.

[2017-06-07 07:53] #1303 closed

[2017-06-07 07:54] govint commented on #814
Closing for now. Once photon and the volume driver gets used we will add these tests.

[2017-06-07 07:54] #814 closed

[2017-06-07 07:56] govint commented on #42
The CSI https://github.com/container-storage-interface/spec/blob/master/spec.md is the place for definition of container orchestrator <-> storage plugin interactiosn in a cluster env. Closing this issue as the cluster use case is being addressed via CSI.

[2017-06-07 07:56] #42 closed

[2017-06-07 08:17] vxav commented on #1032
I see, it makes sense, I actually hadn't tried to break the link.

I tried just now and as you said it works as expected: vmdkops goes into broken link and the docker container munching a vsphere volume stays in desired state "Ready".

Nice one, cheers!

[2017-06-07 12:20] madjam002 commented on #1315
Is it possible to have the datastore as a driver_opt as well? Just an idea, and it means we don't have to worry about special characters in the volume name.

[2017-06-07 18:20] lipingxue commented on #1315
@madjam002 Thanks for your suggestion.  We are trying to figure out the best approach to fix this issue and having the datastore as a driver_opt will be one approach we will evaluate.

[2017-06-07 22:26] ashahi1 commented on #1365
Have a Map(volumeName,VolPropStruct) where volume name is the key and Struct object is for various properties.struct VolPropStruct {
     capacity
     attached-to-vm
     disk-format
}

[2017-06-07 22:26] msterin commented on #1315
@madjam002 - I believe we already support default_datastore configuration (with a few caveats), in experimental admin `config` command.  It's experimental so not very smooth. See below.

To define default datastore (and many other things like access control or size quotas) you would need to init the configuration, and then configure the desired default-datastore for vmgroup `_DEFAULT`. (you can co

[2017-06-07 22:37] shuklanirdesh82 commented on #977
not needed as #1253 refactoring the refcount_test.go.

[2017-06-07 22:37] #977 closed

[2017-06-07 23:21] shaominchen commented on #1291
This has caused CI failure as we have introduced some vmgroup related e2e tests which will run "config init" and "config rm" multiple times. Right now we are trying some workaround to restart vmdkops. But this seems not really a corner case, especially during testing or experiment scenarios.

[2017-06-07 23:41] shuklanirdesh82 commented on #1096
close via #1310

[2017-06-07 23:41] #1096 closed

[2017-06-08 01:08] msterin opened #1370 "Official documentation is a few months stale"
* [x] Official [documentation ](http://vmware.github.io/docker-volume-vsphere/documentation/)referred from Readme.md is a few months stale and does not cover admin 'config', things like _VM_DS and _ALL_DS for default datastores, and probably more.
* [ ] Documentation release process is broken as there is  no way to associate documentation with dev branches so there is no way to manage the doc the

[2017-06-08 01:30] msterin commented on #1357
@pshahzeb - looks like we need to track for rename events in VMChangeListener to update the db.

[2017-06-08 03:14] pshahzeb opened #1371 "Metadata load error from volume KV during access update for the volume."
While updating the volume access from read-write (default) to read-only, through automated volume access test, the update fails.
The access is updated using admin cli.

The exact log for the failure are

[code]

[2017-06-08 03:14] pshahzeb commented on #1371
The datastore1 type is local.
Can you please confirm @shuklanirdesh82

[2017-06-08 03:52] shuklanirdesh82 commented on #1371
Yeah it is local VMFS data store.

[2017-06-08 04:32] govint opened #1372 "Swarm test error in CI"
Got thsi error during CI run - https://ci.vmware.run/vmware/docker-volume-vsphere/397

2017/06/07 12:44:13 Failed to invoke command [docker volume inspect  --format '{{index .Status.status}}' swarm_test_volume_1496839264]: exit status 1
2017/06/07 12:44:13 Sleep for 2 seconds
2017/06/07 12:44:16 Failed to invoke command [docker volume inspect  --format '{{index .Status.status}}' swarm_test_volume_

[2017-06-08 06:06] govint opened #1373 "Device attach fails on volume creation due to duplicate bios.uuid"
Copy-n-paste from email :
[code]

[2017-06-08 06:49] shuklanirdesh82 commented on #1371
https://ci.vmware.run/vmware/docker-volume-vsphere/411

changing readOnly volume to writable volume also fails intermittently.

[code]

/CC @pshahzeb

[2017-06-08 06:50] shuklanirdesh82 commented on #1371
seen 3 failure so far today so setting it P0

[2017-06-08 06:59] ashahi1 commented on #1371
I also see this error stacktrace:

[code]

File a separate issue for handling this?

[2017-06-08 07:07] pshahzeb commented on #1371
@ashahi1 yes this is a separate trace for unhandled exception in case of invalid volume option size literals.

[2017-06-08 07:09] pshahzeb commented on #1371
@shuklanirdesh82
yes. the reason is same as mentioned in description.
Confirmed with logs of CI build 411

[2017-06-08 07:13] ashahi1 opened #1375 "Unhandled exception in case of invalid volume option size literals"
CI : https://ci.vmware.run/vmware/docker-volume-vsphere/411

[code]

[2017-06-08 07:14] ashahi1 commented on #1371
@pshahzeb Thanks! Filed a seperate issue #1375

[2017-06-08 14:52] shuklanirdesh82 commented on #1372
I guess @shaominchen is taking care of this one as part of #1368.

@shaominchen Please confirm.

[2017-06-08 15:54] shaominchen commented on #1372
Yes, in PR #1368 we are increasing the timeout value from 1 min to 2 mins.

[2017-06-08 17:35] pdhamdhere commented on #1370
CC/ @tusharnt

[2017-06-08 17:53] pdhamdhere commented on #1373
Timing in log seems suspicious;

Plugin issued attach (19:07:25), timed out after 10Secs and issued detach after **12 seconds** (19:07:44).
Server received attach (23:07:40) and detach after **6 seconds** (23:07:46)

[2017-06-08 17:55] shaominchen commented on #1263
As discussed offline with @shuklanirdesh82, we agree that the test cases described in #957 are quite distinct, so we should move some test scenarios to other test groups. I will file separate issues to track those scenarios. Currently the basic_test group will only include 3 tests: TestVolumeLifecycle, TestBasicVolumeIsolation, and TestVmGroupVolumeIsolation.

[2017-06-08 18:02] tusharnt commented on #1370
CC @girishshilamkar - we need to address this for vDVS ASAP.

[2017-06-08 21:20] shaominchen opened #1376 "Automate tenancy test"
Please refer to #957 : Scenario 2.

[2017-06-08 21:22] shaominchen opened #1377 "Automate VSAN policy test - basic"
Please refer to #957 Scenario 3.

[2017-06-08 21:24] shaominchen opened #1378 "Automate fail-over test for docker host created on vsan"
please refer to #957 Scenario 4.

[2017-06-08 21:28] shaominchen opened #1379 "Automate fail-over test for docker host created on shared vmfs"
please refer to #957 Scenario 5.

[2017-06-08 21:30] shaominchen opened #1380 "Automate basic upgrade test"
Please refer to #957 Scenario 6 (upgrade testing from vspherDockerVolume 0.11 or earlier => 0.11.2 or latest)

**Scenario 6** (upgrade testing from vspherDockerVolume 0.11 or earlier => 0.11.2 or latest)
Steps:
[code]

[2017-06-08 23:01] ashahi1 commented on #1291
I tested this scenario with Marks's commit ```b324923``` that was checked-in and I had not hit this issue.
https://github.com/vmware/docker-volume-vsphere/pull/1065

This is likely a regression.
@msterin

[2017-06-08 23:08] shuklanirdesh82 commented on #1291
Thanks @msterin for going over this issue and walking through the vmdkops_admin.py code!

As per offline discussion, I have tried out the fix locally that @msterin suggested. I will send out the PR soon.

/CC @msterin

[2017-06-09 01:59] #1349 closed

[2017-06-09 04:33] #1291 closed

[2017-06-09 07:16] shuklanirdesh82 commented on #1379
@shaominchen There should be some confusion about this issue's title .. please revisit and correct it. It says "Automate VSAN policy test - fail-over for docker host created on shared vmfs" I guess VSAN policy for shared vmfs either one should be correct .. do you mean `docker host created on VSAN`?

[2017-06-09 07:19] shuklanirdesh82 commented on #1378
isn't it duplicate to #1377? If agree close this one by adding label `duplicate`, please explain otherwise.

[2017-06-09 09:20] govint commented on #1343
Please see vmgroups_test.go:TestVmGroupVolumeMobility() Its already testing the first condition - vm can't move out of vmgroup with volume attached

[2017-06-09 09:32] govint commented on #1373
Tried this out multiple times and the attach-wait times are anywhere between 6s - 10s. From debugging, the plugin starts its wait after the docker host kernel has completed attaching the device. There are  no obvious delays seen in the kernel logs:

Docker host kernel logs:
Jun  8 21:01:42 hte-1s-eng-dhcp98 kernel: [60580.069868] vmw_pvscsi: msg type: 0x0 - MSG RING: 64/63 (5)
Jun  8 21:01:42 hte-

[2017-06-09 13:16] govint commented on #1376
@shuklanirdesh82 as this test is using common DB should these tests be written now but verifiable after shared DB issues are addressed?

[2017-06-09 16:18] shuklanirdesh82 commented on #1263
Thanks @shaominchen for breaking this down and creating separate issues. for the 0.16 there is only one testcase being tracked for this issue.

Can you please refresh the estimate for `TestVmGroupVolumeIsolation `?

[2017-06-09 17:32] shuklanirdesh82 commented on #1376
Yeah @govint that's correct this test falls into cross-esx multi tenancy.

#957 : Scenario 2 was planned way before cross-esx multi-tenancy introduced. Thanks for pointing this out! By taking account of present code, it is not possible to perform the exact steps mentioned in the "scenario 2" and test should be marked as `invalid`.

[2017-06-09 17:32] #1376 closed

[2017-06-09 18:35] shaominchen commented on #1377
@shuklanirdesh82 Could you please confirm if this is duplicate to any existing VSAN policy test?

[2017-06-09 18:41] shaominchen commented on #1378
@shuklanirdesh82 This is for #957 Scenario 4, while #1377 is for #957 Scenario 3. They are different, right?

[2017-06-09 18:46] ashahi1 commented on #1378
Yes, scenario 3 and scenario 4 mentioned in #957 are different. Nirdesh can correct me If I am wrong.

[2017-06-09 19:38] ashahi1 commented on #1344
Fixing it in current change #1381

[2017-06-10 06:17] #1264 closed

[2017-06-10 20:25] ashahi1 commented on #1371
Another instance of the same failure on CI:  https://ci.vmware.run/vmware/docker-volume-vsphere/455

[code]

[2017-06-10 22:11] #1344 closed

[2017-06-10 22:17] shuklanirdesh82 commented on #1378
after modifying the description of this issue no more confusion. Earlier issue description was pointing to scenario 3.

[2017-06-12 04:14] govint commented on #1373
Summarizing, this doesn't seem to be a host (ESX) or VM issue. None of the logs point to any latencies in the host and the VM, except perhaps the GO watcher itself thats causing this behavior.

[2017-06-12 04:38] govint opened #1389 "Remove failure logs thats cluttering the e2e test logs."
The below logs make it look like the e2e tests have errors, these need to be removed till we have log levels for the tests:

2017/06/11 18:33:34 Failed to invoke command [docker volume  create --driver=vsphere  --name= 8F2qNfHK5a84jjJkwzDkh9h2fhfUVuS9jZ8uVbhV3vC5AWX39IVUWSP2NcHciWvqZTa2N95RxRTZHWUsaD6HEdz0ThbXfQ6pYSQ3n]: exit status 1

2017/06/11 18:33:35 Failed to invoke command [docker volume  c

[2017-06-12 07:06] govint commented on #1342
Almost all of these are already in tests/e2e/vmgroup_test.go - Please review and most likely the existing tests are sufficient.

[2017-06-12 07:07] govint commented on #1341
The first test is already verified in vmgroup_test.go.

[2017-06-12 13:14] govint commented on #1346
Fixed via #1390

[2017-06-12 18:50] shaominchen opened #1394 "Refactor common misc util and update all tests accordingly"
Filing this PR just for tracking purposes: the common misc util LogTestStart and LogTestStart should not log timestamp since it's already printed out by go logging itself. Also we should use c.TestName() instead of hardcoding test group and test case name in the callers.

This has been taken care of as part of PR #1368.

[2017-06-12 19:04] govint opened #1395 "Plugin restarted during E2E parallel volume create tests"
CI (https://ci.vmware.run/vmware/docker-volume-vsphere/464) failed with below error,
FAIL: volumecreate_test.go:177: VolumeCreateTestSuite.TestValidOptions

volumecreate_test.go:82:
[code]

volumecreate_test.go:82:
[code]
From the test logs looks like the plugin restarted around the time the volume create req was made:
[code]
ANd plugin logs around this time shows a restart,

[code]
Plugin has res

[2017-06-12 20:18] ashahi1 opened #1396 "Not able to see access rights for default vmgroup without running 'config init'"
**Steps:**
1. There is only _DEFAULT vmgroup
2. Tried to see access rights for _DEFAULT vmgroup - Failed with error : ```Please init configuration with 'vmdkops_admin.py config init' before changing it. ```

Ideally, user shouldn't have to do ```config init``` if the user just wants to see access rights for _DEFAULT tenant.

------------------
Steps and their output are as follows:

1. There is on

[2017-06-12 20:28] pshahzeb commented on #1389
Agree.
This print is from the ssh util in case where the command fails
[code]

But the command actually fails in the the negative test cases :-)).
I think we can silence this print here. As far as I recall, all our tests have Commentf in case when assertion fails which prints the output of the failed command.
What do you think?

[2017-06-12 20:31] ashahi1 opened #1397 "Should user be allowed to modify default vmgroup attributes [default vmgroup removal]"
Currently user can change access rules of default vmgroup.

Operations allowed on default vmgroup are as follows:
E.g.
      1. Change --allow-create right to False/True,
      2. Set max-volume-size

We have number of tests which play with configuration of default vmgroup. Need some clarity before moving ahead with test automation for default vmgroup tests.

What is our official position regardin

[2017-06-12 21:49] #1394 closed

[2017-06-12 21:50] #1372 closed

[2017-06-12 21:57] #1263 closed

[2017-06-12 22:21] shuklanirdesh82 opened #1398 "[E2E] automated e2e tests should fail gracefully when test bed setup is not ideal or some environment vars are not set"
With the swarm test automation and govc integration, there are bunch of env variables need to be set inorder to execute tests locally. In an absence of ideal testbed or env. vars, tests are failing with out giving proper error message. It creates lot of confusion to the user and ends up spending more time.

This issue is to streamline the failure and provides meaningful information to user when ru

[2017-06-12 22:21] shuklanirdesh82 opened #1399 "Contributing.md should be updated to represent local testbed need correctly"
https://github.com/vmware/docker-volume-vsphere/blob/master/CONTRIBUTING.md#build-test-rinse-repeat

see below
[code]

With the current automated tests we have added some pre-requisite for the local testbed to be configured.

- swarm tests needs swarm cluster to be pre-configured (which requires 3 vms in the test bed)
- some tests requires two vms to be present

/CC @msterin

[2017-06-12 23:25] pdhamdhere commented on #1395
Looks like `/var/log/syslog` is empty for VM1 192.168.31.241 CC/ @shuklanirdesh82

Not sure how we can debug this further in absence of logs. Issue doesn't seem to be 100% reproducible either. Close?

[2017-06-13 01:27] shuklanirdesh82 opened #1403 "test target should be in form of test-XXXX"
rename e2e-test target to keep in sync with other test targets

https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/Makefile#L351

need to rename following targets and make them consistent with others.

[code]

/CC @msterin

[2017-06-13 03:25] govint commented on #1397
May have had this discussion earlier, default vmgroup is best left unchanged - its a canned configuration thats not modifiable. ANy flexibility in attributes must be only in vmgroups created by the user. The DEFAULT vmgroup should really never be used at all to store workload data volumes.

[2017-06-13 03:27] govint commented on #1389
Agree, especially when debugging a CI failure it keeps showing up as failures and misleading.

[2017-06-13 03:37] shaominchen commented on #1403
That's easy- just revert the order as below :)

test-e2e
test-e2e-runalways
test-e2e-runonce

[2017-06-13 04:45] #1364 closed

[2017-06-13 06:24] #1346 closed

[2017-06-13 08:08] govint opened #1405 "Swarm test fails on CI intermittently due to metadata file missing"
The swarm test seems to have errored with the current code in CI  - https://ci.vmware.run/vmware/docker-volume-vsphere/494

FAIL: swarm_test.go:91: SwarmTestSuite.TestDockerSwarm

swarm_test.go:141:
    c.Assert(status, Equals, true, Commentf("Volume %s is still attached", s.volumeName))
... obtained bool = false
... expected bool = true
... Volume swarm_test_volume_tr8b5apa57f5 is still attached

[2017-06-13 08:13] govint commented on #1405
From the CI logs,
2017/06/13 07:26:48 Containers running on docker host [192.168.31.83]: swarm_test_service_1c4n7y6zh4t08.1.3gq04c7lxui5zvsa748ocddm7
swarm_test_service_1c4n7y6zh4t08.2.58z2cu3b7q2m93ifntmdp9jwo

2017/06/13 07:26:48 Confirming attached status for volume [swarm_test_volume_tr8b5apa57f5]
2017/06/13 07:26:50 Destroying volume [swarm_test_volume_tr8b5apa57f5]

2017/06/13 07:26:56 Faile

[2017-06-13 13:32] govint commented on #1395
Issue repro'ed again in CI - https://ci.vmware.run/vmware/docker-volume-vsphere/490 (PR #1383 CI was failed because of this)

Seems like the clone volume test is able to get the plugin to restart.
---
2017-06-13 09:53:24.86751517 +0000 UTC [INFO] Attaching volume and creating filesystem name="clone_src_volume_59anldo9p9od" fstype=ext4
2017-06-13 09:53:25.564749226 +0000 UTC [INFO] Scan complete de

[2017-06-13 13:42] govint commented on #1395
Last time this issue was resolved (used to crash in the same function) by moving up to a newer GO runtime.

@shuklanirdesh82 can you say whats the GO run time on the photon VMs used for this test?

[2017-06-13 15:26] shuklanirdesh82 commented on #1395
Our script does collect syslogs .. need to check upon vm to find out what has changed.

I believe go1.7; AFAIK we have upgraded couple months back.

[2017-06-13 17:14] govint commented on #1395
@shuklanirdesh82 to debug this may need to be able to get access to the VM after the test if thats possible. Locally it seems to be working ok though.

[2017-06-13 17:30] lipingxue commented on #1315
@nbaillie @ckotte Based on what @msterin has updated above, we do have a way to configure the default_datastore other than then datastore that VM lives. With this, you don't need to specify the volume as "vol@ds_name" in the YAML file. Could you let us know if it works for you?

[2017-06-13 17:41] govint commented on #1373
@pdhamdhere, from all local tests was able to repro this issue some times and thereafter the issue didn't recur. I don't believe its a plugin or ESX service issue as there are no delays there that point to an obvious issue. I'll have an NFS datastore added and lets see if this is reproduced in CI. Else will close this issue.

@shuklanirdesh82 can you get a NFS DS added to the CI just so we can fig

[2017-06-13 17:43] govint commented on #1343
@shuklanirdesh82 can you confirm if this test needs to be written given vmgroup_test.go already implements these tests.

[2017-06-13 17:46] pshahzeb opened #1407 "Reduce the environment difference between CI setup and local nimbus testbed setup"
Recently have seen some issues being hit recently #1395 #1405 #1371 on CI but not on local nimbus testbed we deploy.
Hence we will hit the issue (due to product or test) and not wait till it gets hit in CI.
This also avoids revisiting the issues, opening new ones.

[2017-06-13 17:54] govint commented on #1012
Default is to have a independent-persistent disk and its never part of the snap. The test should be to have both a persistent and independent-persistent disk and snapshot the VM.

[2017-06-13 18:33] govint commented on #1407
We could something like what's collected for a vm-support on ESX. Every possible command  is executed on the host to collect every possible data on it and thats included as part of the logs in a vm-support.

So, in case of a CI error (only), lets run thru all possible docker commands and admin CLI commands and print a log of all those command output. Like, list volumes, then inspect each volume, l

[2017-06-13 18:43] lipingxue commented on #1371
Hit another failure after enabling the log to dump kv_str.

[2017-06-13 18:54] ashahi1 opened #1408 "How to revert the Max-volume-size for vmgroup to unlimited"
Currently, user cannot revert the Max-volume-size for vmgroup to unlimited.

**Steps:**
1. Created a vmgroup with default-datastore set to _VM_DS. Volume max-size is set to Unset which basically means unlimited max-size
2. Then set volume Max-volume-size to 2GB.
3. Now there is no way for the user to set Max-volume-size to unlimited.

Steps and their output are as follows:

-----------------
1. Cr

[2017-06-13 18:55] ashahi1 opened #1409 "Command to set max-volume-size for vmgroup fails if size is specified as string"
**Steps:**
1. Setup only had _DEFAULT tenant.
2. Set --volume-maxsize for _DEFAULT tenant to 2GB
3. Then tried to revert the --volume-maxsize to the way it was - revert it back to Unset.
Basically I again wanted to make  volume-maxsize as unlimited for _DEFAULT tenant - Failed.

Ideally, we shouldn't see a stack trace if a particular command fails.

===================

Steps and their output are

[2017-06-13 19:41] ashahi1 commented on #1397
As Govindan has highlighted, should we leave default vmgroup unchanged?

/ CC @msterin @pdhamdhere @shaominchen @tusharnt

[2017-06-13 19:43] govint commented on #1405
ESX logs show that the volume was attached and subsequent requests to attach to the same VM all fail with "already" attached. But a detach fails to find the volume (???)

[2017-06-13 20:21] #1389 closed

[2017-06-13 20:50] shaominchen commented on #1397
I had this discussion with Mark and Prashant before. My preference was that we should not allow user to modify DEFAULT vmgroup. Even after Mark had explained the design intent to me, I was still not fully convinced. My personal opinion is - making DEFAULt vmgroup same as others doesn't gain much, but has caused too many complexities and we have to deal with a lot of unexpected corner cases.

Since

[2017-06-13 21:20] shaominchen commented on #1405
The test logic is trying to verify the volume status is changed from attached to detached after removing the swarm service. However, from above error logs, it looks like the volume is gone:

Failed to invoke command [docker volume inspect --format '{{index .Status.status}}' swarm_test_volume_tr8b5apa57f5]: exit status 1

If the volume exists, the command "docker volume inspect..." shouldn't fail.

[2017-06-13 22:58] shaominchen commented on #1405
I've got some clues now. It looks like we are running into issue #1191.

First let's take a look the test case logic - just look at step 12-16:

// Test vDVS usage in swarm mode
//
// Test steps:
// 1. Create a docker service with replicas setting to 1
// 2. Verify the service is up and running with one node
// 3. Verify one container is spawned
// 5. Verify the volume is in attached status
// 6.

[2017-06-13 23:05] shaominchen commented on #1405
If this is the same issue as Govindan pointed out (https://github.com/vmware/docker-volume-vsphere/issues/1191#issuecomment-297196000), one workaround is to comment out test step 13 to bypass this issue.

[2017-06-13 23:13] msterin commented on #1397
Can you elaborate on **why** do you think it should be a special immutable group. what use cases it will address and  **what specifically* are the complications you refer to ?

I am not sure what would be the reason to even have "default" group if it's immutable, and how would you address the use cases like "I want all my dev Vms to be on <DS1> , and allocate 1/2 of DS1 capacity to them, and every

[2017-06-13 23:56] msterin commented on #1191
@govint write:

What exactly is the "the issue in the ESX disklib"  ? Until it's backported (and backport deployed) we at least need to understand the specifics, and the way to fix it in our code if needed.

Reopening until the details are added.

[2017-06-13 23:58] msterin commented on #1405
Can someone elaborate what specifically is the root cause ? This is a serious glitch.

[2017-06-14 00:19] shaominchen commented on #1405
@msterin I don't know if Govindan has figured out the root cause during his previous investigation (https://github.com/vmware/docker-volume-vsphere/issues/1191#issuecomment-297196000). As of now, I'm still not clear of the root cause. We don't have any logs to keep track of the metadata file. From ESX logs, the first occurrence of the vmfd file is this FileNotFoundError:

06/13/17 07:26:59 71629 [

[2017-06-14 00:29] shaominchen commented on #1397
We should definitely take this offline as this is a complicated discussion :) I will just put some comments here as a memo:

I don't believe we even need default vmgroup at all if vDVS starts with multi-tenancy feature from the beginning. We started without any access control, and later added this feature based on customer feedback, but still want to keep it simple for new customers to try out thi

[2017-06-14 01:09] msterin commented on #1397
Why ? You need to spell out use cases. Implementation we can improve.

Why ? Other than exiting implementation complexities, I do not hear any arguments. I understand your view but it's hard to agree or disagree when there are no arguments

[2017-06-14 01:14] msterin commented on #1405
I **think** @govint was referring to disklib behavior when a sidecar was deleted and the disk was not. Or maybe to something else? Let's find out this first, before doing workaround or changing CI

[2017-06-14 01:47] ashahi1 commented on #1343
@govint Are you talking of this test which covers the first scenario ?
https://github.com/vmware/docker-volume-vsphere/blob/master/tests/e2e/vmgroups_test.go#L373

[2017-06-14 03:00] shuklanirdesh82 commented on #1403
That's a plan hence kept this as `0.5` point task.

[2017-06-14 03:31] shuklanirdesh82 opened #1411 "Admin CLI should return proper exit code when requested operation fails"
While running test locally basic_test fails with following error message.

[code]

Test fails to provide correct failure cause.

[2017-06-14 03:36] shuklanirdesh82 commented on #1411
Test failure cause should be improved further to find out root cause easily. I tweaked a code locally and found out that `vmgroup creation failed` but our test is not failing at correct step and failed at the later step.

[2017-06-14 04:36] shaominchen commented on #1411
@shuklanirdesh82 I'm a little bit confused here: if vmgroup creation failed, why did the assertion (basic_test.go: L172) pass? That means admincli.CreateVMgroup didn't return any error, which seems weird. Can you please provide esx logs?

[2017-06-14 04:41] ashahi1 opened #1412 "[Need repro]Volume create failed as docker daemon was unavailable"
Volume create failed due to error : Cannot connect to the Docker daemon at unix:///var/run/docker.sock.
CI: https://ci.vmware.run/vmware/docker-volume-vsphere/500

Did not see this issue while running tests locally.

Not sure if this issue is same as #1395

VM: 192.168.31.81
ESX: 192.168.31.62

=> Test log:
[code]

=> Log VM1 192.168.31.81

[code]

/CC @govint

[2017-06-14 05:11] shaominchen commented on #1397
I don't think there are any use cases we can't support without default vmgroup. Let's take your use case above as an example (BTW, I think you meant "everyone else goes to DS2", right?). We can support that easily by introducing regular expressions for VM names. Currently our logic does *exact match* between vm_uuid and tenant, which is really unusual in a typical algorithm of authorization engine

[2017-06-14 06:08] govint commented on #1405
Thankfully, this was a false alarm. The log messages are all valid though. The issue was with the change being tested in the CI. The change (that was being tested in CI #1260) was to remove the calls to handle _stale_ attach in the service.

That was removed in the change and converted into logs instead. Works fine for attach/clone use cases.

The change works fine for _volume remove_ use case als

[2017-06-14 06:08] #1405 closed

[2017-06-14 06:29] govint commented on #1411
Thats the point, admin CLI doesn't return error, checking for error doesn't help. Instead adminCLI should do a $? and get that value, like this:

/usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup create
usage: vmdkops_admin.py vmgroup create [-h] --default-datastore
                                       DEFAULT_DATASTORE
                                       [--vm-list vm1, vm2, ...]

[2017-06-14 06:38] govint opened #1413 "tests/utils/dockercli/volumelifecycle.go:DeleteVolume() must not make multiple attempts to delete a volume"
A volume delete must work the first time if its not already in use. A failed attempt to delete a volume implies an issue and hence unnecessary to keep attempting a delete that has already failed.

@shuklanirdesh82 @shaominchen - this was added to handle a test error, but ideally the specific test should make retries and not this function.

Its a small change and I'll post the PR shortly.

[2017-06-14 08:22] govint commented on #1343
Yes thats correct. Second one is also doable by enhancing the existing test code.

[2017-06-14 08:31] pshahzeb opened #1415 "vmdkops deployment issue on esx box on CI"
We hit this issue intermittently. I would like to call it may be once a week.

Following are the console outputs.
Detailed CI  https://ci.vmware.run/vmware/docker-volume-vsphere/495
[code]

[2017-06-14 08:43] govint commented on #1413
Closing, will open if needed post offline discussion.

[2017-06-14 08:43] #1413 closed

[2017-06-14 09:15] #955 closed

[2017-06-14 10:01] govint commented on #1397
The issue is also this,
1. To view access attrs for the DEFAULT tenant the DB has to be there (auth_api.py:_tenant_access_ls()). Because, when the DB is created, the default vmgroup is created in it with the _VM_DS and _ALL_DS entries.
1. But the other parts of the code assume these values (VM_DS) which seems inconsistent.
1. So, if we want to be able to update default vmgroup attributes then we n

[2017-06-14 10:03] govint commented on #1396
This has to be documented, I'd prefer not to change auth_api.py:_tenant_access_ls() and any more parts of the code to support an in-mem set of attrs for the default vmgroup.

[2017-06-14 10:03] pshahzeb opened #1416 "Misleading CI pass impression"
For a given PR, the CI pass is indicated is indicated as success even though the CI hasn't been run successfully.
For e.g.: https://ci.vmware.run/vmware/docker-volume-vsphere/519
If asked for what specifically is the CI log in such cases; its nothing but just something as below
[code]

This an be misleading and the PR indicates that CI run is successful (unless the actual CI run fails).
We should

[2017-06-14 10:11] pshahzeb commented on #1407
Adding to Govindan's comment here.
Most of the issues are intermittently hit. Possibly a developer doesn't hit them while submitting his/her PR (testing locally on nimbus testbed) and the issue is hit later (may be after a number if runs)
In such cases, gathering all the host info would be useful to get state info and debug the info asap.
//CC @shaominchen @shuklanirdesh82

[2017-06-14 12:44] govint commented on #1396
Given the state of the code I'd suggest that the default vmgroup handling is non-trivial.

1. Functions that retrieve the access attrs for tenants in auth_api.py(_tenant_access_ls) require that the DB is initialized else they aren't ever called. So, even for the default vmgroup the DB is needed.
1. Suppose we allow the function to be called (_tenant_access_ls()), the called functions to get tenant

[2017-06-14 12:55] govint commented on #1397
Please see update in #1396, the changes to get the CLI commands all working reliably with the DEFAULT vmgroup are much more and  unnecesary (can create more bugs if not fixed correctly). A refactoring exercise would be needed to ensure the code can handle requests on the DEFAULT vmgroup.

For example, the auth-api code expects that a DB exist in order to access/update any vmgroup. Changing that se

[2017-06-14 14:03] govint commented on #1371
Got this error in CI - https://ci.vmware.run/vmware/docker-volume-vsphere/520. the root cause may be outside of the service. Where the side car reads are returning 0 bytes for whatever reason after the VMDK is detached from the VM. This may be an ESX side issue as there are no indication that the service code is doing anything wrong.

Immediately after the error is seen, the side car (KV) again ha

[2017-06-14 15:13] msterin commented on #1396
It feels.like we still disagree on user experience and what's needed there and what's nit. Let's agree on it first, offline, and then make decisions about cleaning up the implementation , or leaving it as is with error messages.

[2017-06-14 15:17] msterin commented on #1397
@shaominchen, @govint - let's finalize the behavior and make it final  (I thought we did have agreement the last time around though), before.making decisions on simply cutting it.

[2017-06-14 17:45] shaominchen commented on #1416
I'm also confused by this, but this looks like related to git branch setting. @shuklanirdesh82 can comment on this.

[2017-06-14 17:49] #1351 closed

[2017-06-14 17:53] lipingxue opened #1419 "Remove logs added for triage"
In order to triage #1371 , I added more logs when reading/writing to meta file. Those logs need to be removed after #1371 is root caused.

[2017-06-14 18:10] shuklanirdesh82 commented on #1411
Agree with @govint .... could use `$?` too.

[2017-06-14 18:26] govint commented on #1371
The root cause for this behavior is not known, but at least when the issue happens there aren't any parallel accesses from the admin CLI and service on the same volume. All actions are sequential, and the admin CLI sets the RW access on the volume before the service takes the next docker request to attach the volume.  This may be a quirk of the side-cars used for the KV and the retry is basically

[2017-06-14 18:31] shuklanirdesh82 commented on #1395
Aren't logs enough? Let me know what is missing.

[2017-06-14 18:55] govint commented on #1395
Logs aren't enough if we need to catch the plugin when it restarts - that can happen only if we can control the execution of the plugin and be able to get a dump or better debug with a debugger at least get some data on the state of the plugin (thread state). Else there's no way to debug this further.

[2017-06-14 19:04] shaominchen commented on #1411
I don't think this issue is with basic_test itself - the test logic here is right and straightforward. The go sample code also demonstrates exactly the same usage (checking if err is nil): https://golang.org/pkg/os/exec/#Cmd.CombinedOutput

The real issue here is - why does the util ssh.InvokeCommand() not return an error when the command actually fails? This will make it very confusing to write t

[2017-06-14 21:25] lipingxue commented on #1371
I am able to reproduce this in my local setup, it looks like it happens after plugin restart, and I am not sure whether the plugin restart cause this issue or not.
[code]
From the log, we can see that the meta file is empty and therefore, "kv_str" reading from the meta file is an empty string.

As @govint mentioned above, we should add code to retry if  the load fails in kv.load().

[2017-06-14 23:02] pdhamdhere commented on #1395
Same failure: https://ci.vmware.run/vmware/docker-volume-vsphere/527

Syslog for Photon VM is missing. We should find some hints in syslog in case of plugin crash.

[2017-06-15 00:00] shaominchen opened #1422 "Refactor vmlistener test"
The existing vmlistener test is actually verifying failover scenarios including service restart and vm stop/start. Need to refactor this test so that it's easier to add more failover related tests.

[2017-06-15 01:54] shuklanirdesh82 commented on #1411
As discussed during the standup and @govint pointed out too, admin CLI doesn't return the error. InvokeCommand is implemented correctly and no issue while using dockerCLI command.

IMO, we should improve admin CLI to return `exit status` or we may improve test steps to validate the step performed on admin CLI is actually correct or  not. The reported issue is not critical but good to improve the f

[2017-06-15 06:38] govint commented on #1412
Around the time that the daemon is unavailable the docker daemon has logged these logs. It seems like an issue with docker but we need to check if its reproducible.

Jun 14 02:56:40 sc-rdops-vm18-dhcp-57-89 dockerd[9810]: time="2017-06-14T02:56:40.848735108Z" level=error msg="agent: session failed" error="rpc error: code = 14 desc = grpc: the connection is unavailable" module="node/agent" node.id=

[2017-06-15 16:48] venilnoronha opened #1429 "Documentation Issues"
1. Docker Volume gif under [Demos](https://github.com/vmware/docker-volume-vsphere/wiki/Demos) displays `--driver=vmdk` while it needs to be `--driver=vsphere`.

2. ESXi Admin Monitoring gif under [Demos](https://github.com/vmware/docker-volume-vsphere/wiki/Demos) displays `vmdkops_admin.py ls` while it needs to be `vmdkops_admin.py volume ls`.

3. Contribution Prereq: Docker Hub account creation,

[2017-06-15 17:13] shaominchen opened #1430 "Improve test output to have a brief summary report in the end"
It's a good practice to put Testing Done in the description when sending a PR out for review. However, right now we have to copy/paste excerpts from different areas in the output of a local test run. It will be ideal if we can improve the test output to have a brief summary report in the end.

[2017-06-15 17:22] shuklanirdesh82 commented on #1430
it is being tracked (https://github.com/vmware/docker-volume-vsphere/issues/1255#issuecomment-305564582)

[2017-06-15 17:22] #1430 closed

[2017-06-15 18:16] pdhamdhere commented on #1371
In kvESX.py::def load(volpath)
[code]

XXX: Can open/read throw an exception other than IOError? We will miss it and end up calling json.load with empty kv_str

cc/ @msterin

[2017-06-15 18:45] shuklanirdesh82 commented on #1377
simplified steps:
1. create a valid vsan policy from E1
2. create one volume from vm1 (on E1) with policy created on E1
3. perform attach/detach for the created volume with data manipulation (write and read to confirm volume is writable)
4. remove the volume

we may enhance https://github.com/vmware/docker-volume-vsphere/blob/master/tests/e2e/vsan_test.go (existing test by adding following steps)

[2017-06-15 19:07] #1422 closed

[2017-06-15 20:51] ashahi1 commented on #1411
Yes, Govindan already provided similar comment - https://github.com/vmware/docker-volume-vsphere/pull/1381#discussion_r121059849

[2017-06-16 02:12] shuklanirdesh82 commented on #1416
@pshahzeb Why is this issue on `docker-volume-vsphere`? There is nothing we can do here.

This happens as some of you are working directly on vmware/docker-volume-vsphere repository. Whenever new commit is pushed CI triggers to add commit information for your branch for the vmware master.

Working on master is not an ideal way; instead we all should fork the repository.

I have looked up some top

[2017-06-16 02:40] pshahzeb commented on #1416
We can close if there isn't much we can do.

Sure. Will try to follow this approach.

[2017-06-16 02:40] #1416 closed

[2017-06-16 04:59] govint commented on #1375
Fixed via #1383

[2017-06-16 04:59] #1375 closed

[2017-06-16 05:58] msterin commented on #1416
We can live with it but.... this is really confusing, I agree with @pshahzeb and @shaominchen  here.
We submit a PR and the CI goes green really soon (which means nothing). It then goes yellow and in some time goes the right color. So for a period of time CI shows green when it did not really pass.
At minimum we need to add this caveat to Contributing.md (ideally it should not go green until it re

[2017-06-16 06:58] govint commented on #1396
Closing this, based on what we decide for #1397 open a new issue to address all changes to enable updates to default vmgroup attrs.

[2017-06-16 06:58] #1396 closed

[2017-06-16 20:20] #404 closed

[2017-06-16 22:45] lipingxue commented on #1371
Hit it again in CI
https://ci.vmware.run/vmware/docker-volume-vsphere/565

This is what I found:
1. a detach request issued but not completed
2. plugin restart (I checked the test, it is not made by test)
3. after plugin restart, get the request to change the volume attribute from "read_only" to "read_write". Function ```set_vol_opts``` is called the then ```kvESX.save()``` is called to update the

[2017-06-16 23:46] pdhamdhere commented on #1371
Root caused to Test not waiting for docker operation to finish before issuing admin update command. Confirmed that adding `--rm` ssh.Invoke waits for detach to finish before returning to shell. @shuklanirdesh82 will change Test infra to use `--rm` as appropriate.

[2017-06-17 00:21] shaominchen commented on #1371
@pdhamdhere Shouldn't the driver take care of this race condition, i.e. the admin update command should be blocked in this case until the docker operation is finished? I'm not really familiar with the detailed logic in this module, but I think the metadata file should be locked using a R/W lock - any read operation should be blocked if a write operation is in progress. Please correct me if I'm wro

[2017-06-17 00:31] #1379 closed

[2017-06-17 01:51] #1419 closed

[2017-06-17 02:18] pdhamdhere commented on #1371
Theoretically, underlying FS (VMFS in this case) locking should correctly handle R/W to same file from multiple processes and should not result in 0 byte file. Another cause could be way SideCar are handled. However, this is rarest race where admin  updates status of volume while KV is being written so didnt spend too much time. We should fix the test and move on to higher priority issues. Makes s

[2017-06-17 03:43] govint commented on #1371
But why did the write fail on the KV? Plus a lock is held on every load and save op on the KV even if admin CLI command is issued on the volume when a detach is in progress they will both synch. on that KV lock to prevent simultaneous access.

[2017-06-17 05:02] ashahi1 opened #1436 "[CI] Deploy esx failed with error: Failed to create ramdisk vibtransaction"
CI: https://ci.vmware.run/vmware/docker-volume-vsphere/595

[code]

[2017-06-17 16:54] msterin commented on #1371
@govint - what KV lock you are talking about?
To.me it looks we still have a big risk since we have no idea why write has failed,  and we exercised a.real (albeit rare) use case, when admin just happen to type something when a vmdk op on some docker host was in progress.

[2017-06-17 17:35] govint commented on #1371
Both kv load and save take a lock before executing the op.

[2017-06-17 18:17] msterin commented on #1371
Which lock ? In-process python ? It is irrelevant when admin CLI and vmdk_ops service race. I am not aware of any interprocess lock for KV. Did miss something ?

[2017-06-19 12:04] govint opened #1437 "vmgroup create changes names of vmgroup and datastore"
This is on the ToT code.

1. Create a vmgroup vmg_nfs with a default DS ds_nfs - succeeds

[root@sc-rdops-vm16-dhcp-232-194:/vmfs/volumes/c957d392-06803f9c/dockvols] /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup create --default-datastore ds_nfs --vm-list master-VM0.0 --name vmg_nfs
vmgroup 'vmg_nfs' is created. Do not forget to run 'vmgroup vm add' to add vm to vmgroup.

2. List the vmgrou

[2017-06-19 12:47] govint commented on #1437
Another manifestation,

1.  Create a new name for the DS
[root@sc-rdops-vm16-dhcp-232-194:/vmfs/volumes] esxcfg-nas -a -o 10.192.72.248 -s /store ds-nfs
Connecting to NAS volume: ds-nfs
ds-nfs created and connected.

2.  vmgroup create fails
[root@sc-rdops-vm16-dhcp-232-194:/vmfs/volumes] /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup create --default-datastore ds-nfs --vm-list master-VM0.0

[2017-06-19 12:55] govint commented on #1437
Issue 3

1. Create the vmgroup

[root@sc-rdops-vm16-dhcp-232-194:~] /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup create --default-datastore ds_nfs --vm-list master-VM0.0 --name vmg-nfs
vmgroup 'vmg-nfs' is created. Do not forget to run 'vmgroup vm add' to add vm to vmgroup.
[root@sc-rdops-vm16-dhcp-232-194:~] /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup ls
Uuid

[2017-06-19 16:35] lipingxue commented on #1437
@govint Do you hit this issue only for NFS datastore?

[2017-06-19 17:52] govint commented on #1437
I was trying this only with NFS to setup my testbed. I'd suggest doing a repro first (I did try with a a fresh cloned codebase).

[2017-06-19 22:24] matt-deboer opened #1438 "docker 1.11 no longer supported?"
After building the 0.14 version, I recieve `client is newer than server` errors in the logs attempting to start the driver; unfortunately, we must run docker 1.11 for a particular software version we are using.  Any ideas what would need to happen to enable 1.11 again?

[2017-06-19 22:30] #1438 closed

[2017-06-19 22:41] matt-deboer opened #1439 "Cannot delete volumes created on docker 1.11"
After building the 0.14 version, I see the following error when attempting `docker volume rm` on a newly created volume:
[code]

[code]

[2017-06-19 23:27] pshahzeb commented on #1439
@matt-deboer Thank you.
I am looking into it and trying to reproduce.
By any chance if you have logs (ESX side and VM side), it would be helpful to narrow down sooner.
[ How to get logs? See this.](https://github.com/vmware/docker-volume-vsphere#logging)

[2017-06-20 01:09] pshahzeb commented on #1439
Hi @matt-deboer,

We are able to reproduce this at our end. The issue is about the docker client API version that we moved up with release 0.13. Docker 1.11 supports client API version 1.23 and we moved it to 1.24 which is supported by docker 1.12 and above. This mismatch caused blocks the driver to stabilize. We improved the message in such case (when driver is not fully initialized) #1352

We di

[2017-06-20 03:02] matt-deboer commented on #1439
Hi Shahzeb,
Thanks for looking into this; unfortunately, we have to keep running docker
1.11 for a short period of time--but we're fine with maintaining a private
build of the 1.23 API back-port until we can upgrade. I'm happy to apply
this in my own fork--would you mind pointing me to the places you modified
to make the quick-fix in order to save me a little time?

Thanks.

On Mon, Jun 19, 2017 a

[2017-06-20 03:27] pshahzeb commented on #1439
Sure.
The only place that needs to changed is this line.
https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/utils/refcount/refcnt.go#L90

it is "v1.24". It needs to be "v1.23" to make it work with docker 1.11

Thanks.

[2017-06-20 03:28] matt-deboer commented on #1439
Excellent. Thanks much!

On Mon, Jun 19, 2017 at 8:27 PM, Shahzeb Patel <notifications@github.com>
wrote:

[2017-06-20 05:11] #1377 closed

[2017-06-20 05:42] govint commented on #1371
Correct, its not a file lock,  the kvESX.py load() and save() use a lock decorator so those functions are synchronized within the ESX service and the admin CLI individually.

[2017-06-20 05:53] govint commented on #1373
Local tests don't seem to repro this issue and at least not for the same reasons reported. Issue is being addressed over email, closing this issue.

[2017-06-20 05:55] govint commented on #1395
These tests that show the issue aren't enabled and hence not blocking any CI tests. Plus #1432 which has reenabled the tests isn't repro'ing the issue.

[2017-06-20 08:35] govint opened #1441 "With default vmgroup removed detach requests are skipped, volumes remain attached [default vmgroup removal]"
1. Create volume
[code]
KV:
[code]
2. Run container
`root@photon-machine [ /usr/local/bin ]# docker run --rm -it -v n5:/vol ubuntu sh`

3. On ESX delete the _DEFAULT vmgroup (to which the VM is default assigned)
[code]
4. Exit container
[code]
5. Volume in ESX is still attached. KV and VM config:
[code]
List vmdks attached to VM:
[code]
It may be that default vmgroup removal is rare, but given tha

[2017-06-20 08:47] govint commented on #1397
Related to #1441

[2017-06-20 08:49] govint commented on #1441
While on another VM:

root@photon-machine [ ~ ]# docker run --rm -it -v n5:/vol ubuntu sh
docker: Error response from daemon: error while mounting volume '/mnt/vmdk/n5': VolumeDriver.Mount: Disk /vmfs/volumes/sharedVmfs-0/dockvols/_DEFAULT/n5.vmdk already attached to VM=worker1-VM1.0.

[2017-06-20 08:58] govint opened #1442 "Update error message for _DEFAULT vmgroup"
The _DEFAULT vmgroup can be removed and recreated and given that VMs are part of the default vmgroup without the need to add VMs to it, the user message can be improved depending on which vmgroup is created.

  /usr/lib/vmware/vmdkops/bin/vmdkops_admin.py vmgroup create --name
 _DEFAULT --default-datastore _VM_DS
vmgroup '_DEFAULT' is created. Do not forget to run 'vmgroup vm add' to add vm to vmg

[2017-06-20 16:53] pdhamdhere commented on #1373
Let's keep the issue open until we root cause the issue in this unique setup.

[2017-06-20 17:00] msterin commented on #1373
@govint writes

The issue still exists and we are trying to get additional info from the setup where it was reported from, even though it's unique so far. Until we know the root cause it represents a significant risk as it's a blocker for whoever steps into it.

[2017-06-20 17:13] pdhamdhere commented on #1441
@pshahzeb Do we maintain list of VMs in DB for _DEFAULT?

[2017-06-20 17:15] pdhamdhere commented on #1395
If issue is not longer reproducible, let's close the issue.

[2017-06-20 17:19] pshahzeb commented on #1441
@pdhamdhere Nope.

[2017-06-20 17:35] shuklanirdesh82 commented on #1416
I had a quick chat with @msterin and it would be OK to move to a model where all contributor forked the repo and work on their own repository instead of working on vmware repo directly.

[2017-06-20 17:37] shuklanirdesh82 commented on #1439
closing this issue as per https://github.com/vmware/docker-volume-vsphere/issues/1439#issuecomment-309631452

[2017-06-20 17:37] #1439 closed

[2017-06-20 17:40] ashahi1 commented on #1436
I saw this issue twice in like two weeks and if we do not see again in next 3-4 days, we can close it.

[2017-06-20 19:24] ashahi1 opened #1445 "Misleading error message for --remove-volumes flag during vmgroup removal"
Steps:
1. Create a vmgroup and add a vm to it.
2. Create a volume from the vmgroup's vm.
3. Try removing the vmgroup and also all its volumes by passing ```--remove-volumes``` flag.

After steps 3, even though I am not able to remove vmgroup since it has vm inside it but I still see the message ```All Volumes will be removed```.
From a users's perspective, ```All Volumes will be removed``` message

[2017-06-20 20:43] shaominchen commented on #1441
This is related to issue #1397, so let's discuss and address both in 0.17 release.

[2017-06-20 20:47] shaominchen commented on #1371
The test case itself has been fixed, but we still need more discussion about this issue.

[2017-06-20 20:48] shaominchen commented on #1325
Nirdesh will investigate and figure out what needs to be done here.

[2017-06-20 20:50] shaominchen commented on #1323
We will take care of this in next release.

[2017-06-20 20:51] shaominchen commented on #1315
We have provided workaround to customers. To fix this issue completely, we may need to fix docker code. Pushing to next release for now.

[2017-06-20 20:54] shaominchen commented on #1280
Some test scenarios are being commented out due to testbed limitation. We need to collect all the detailed requirements here and decide what's exactly needs to be done.

[2017-06-20 20:55] shaominchen commented on #1279
Some test scenarios are being commented out due to testbed limitation. We need to collect all the detailed requirements here and decide what's exactly needs to be done.

[2017-06-20 20:55] shaominchen commented on #1274
Some test scenarios are being commented out due to testbed limitation. We need to collect all the detailed requirements here and decide what's exactly needs to be done.

[2017-06-20 20:59] shaominchen commented on #1261
@ashahi1 Can you split this to separate issues so that it's easier to track?

[2017-06-20 21:01] shaominchen commented on #1170
We will update this after the testbed infrastructure is finalized to accommodate all test scenarios.

[2017-06-20 21:09] shaominchen commented on #1357
Cross-esx multi tenancy related issue and it's a corner case, so we are moving it to 0.17 release. We can pull it back if we have bandwidth since this is a customer issue.

[2017-06-20 21:10] shaominchen commented on #1341
This is also a P0 test case.

[2017-06-20 21:12] shaominchen commented on #1445
Tivial issue - moving the 0.17 release.

[2017-06-20 21:14] shaominchen commented on #1436
Not sure if we can do anything right now. Let's observe some time and decide if this is a real testbed issue that needs to be fixed.

[2017-06-20 21:15] shaominchen commented on #1415
Duplicate to issue #1436

[2017-06-20 21:15] #1415 closed

[2017-06-20 21:17] shaominchen commented on #1412
@govint Looks like you are working on this. Feel free to move to next release if this can't be addressed in the current release.

[2017-06-20 21:24] shaominchen commented on #1305
This was already addressed in different PRs from Anup and Govindan.

[2017-06-20 21:25] #1305 closed

[2017-06-20 21:27] shaominchen commented on #1255
Marking this P0 as we all need this to copy/paste testing result easily for PR description.

[2017-06-20 21:50] shuklanirdesh82 commented on #1407
@pshahzeb

This issue is tracking two different needs. https://github.com/vmware/docker-volume-vsphere/issues/1407#issuecomment-308208148 is suggesting to have log collection improvement where as https://github.com/vmware/docker-volume-vsphere/issues/1407#issue-235634276 asking to reduce the environment difference between CI setup and local nimbus testbed setup.

It is not clear to me what exactly

[2017-06-20 22:03] shuklanirdesh82 commented on #1268
The strong need for upgrading to drone 0.5 was enabling parallel execution on CI system. I have figured out a way to use matrix approach and being tracked at #1325 so moving this out to next milestone i.e. 0.17.

[2017-06-20 22:54] shaominchen commented on #1407
@shuklanirdesh82 @pshahzeb Can we chat offline and decide if this should be moved or closed?

[2017-06-20 23:05] shaominchen commented on #1429
I think this is a P0 for GA - the demo needs to be updated. Temporarily parking with Nirdesh.

[2017-06-20 23:49] pshahzeb commented on #1407
Yes

[2017-06-21 01:05] shuklanirdesh82 commented on #1407
@pshahzeb Can you atleast add more details at the description part about your request? That will be easier to discuss offline or even we can make call on close or deferred.

[2017-06-21 03:49] pshahzeb opened #1448 "Invalid characters in name error during volume creation."
Hit intermittently
https://ci.vmware.run/vmware/docker-volume-vsphere/648

[code]

Initial impression : Looks like volume creation was redirected to local driver instead of vsphere.

[2017-06-21 04:30] shuklanirdesh82 commented on #1395
Reopening this issue to re-enable the test.

[2017-06-21 08:51] madjam002 commented on #1315
@shaominchen Is there any documentation on the workaround that is available? Cheers

[2017-06-21 08:53] vxav opened #1449 "Clone volume fails with "VM None does not belong to any vmgroup""
When I try to clone a volume I always get an error "VM None does not belong to any vmgroup".
Of course my photon host is in a vmgroup.
I can make sure of it because if I create a docker volume with the vsphere driver on Photon1 (on ESX1), Photon0 (on ESX0) picks it up instantly.
Tried with a volume attached and with a detached one.

**Photon output**

`root@photon1 [ ~ ]# docker volume create --na

[2017-06-21 08:56] shuklanirdesh82 commented on #1448
This is related to #1401 .... it has introduced the regression. E2E test (basic_test) doesn't check whether `config rm --local --confirm` removes the DB or not and left out vmgroup created by testcase in the system hence the volume_access_test is running into the issue.

I will raise a separate PR to add more verification steps for basic_test to help us finding root cause easily.

/CC @msterin @sh

[2017-06-21 08:56] #1448 closed

[2017-06-21 09:15] msterin commented on #1448
So why I am getting it on every CI run on https://github.com/vmware/docker-volume-vsphere/pull/1401 ?

[2017-06-21 09:17] shuklanirdesh82 commented on #1448
can you please refer https://github.com/vmware/docker-volume-vsphere/pull/1401#issuecomment-310015744? I tried my best to provide detailed analysis.

[2017-06-21 09:19] shuklanirdesh82 opened #1450 "Need to add more verification steps for basic_test"
CI run: https://ci.vmware.run/vmware/docker-volume-vsphere/648

[code]

The above failure message doesn't help at all to reach root cause easily. It could have been simpler by having more verification steps following to any operation using admin cli.

By looking at the above failure it leads to volume_test failure in fact it is a victim of leftover remnants from basic_test.

[2017-06-21 09:22] msterin commented on #1448
ah, crossed in the mail :-). Thanks !

[2017-06-21 09:22] shuklanirdesh82 commented on #1450
Reference: https://github.com/vmware/docker-volume-vsphere/pull/1401#issuecomment-310021317

would have opened as P1, #1401 is under review it would be better to address this issue sooner so keeping as P0.

[2017-06-21 10:54] govint commented on #1449
The issue seems to be with the vm_uuid not being provided to the clone volume op, thats causing the issue:
06/21/17 07:36:19 68514 [Photon0-SHARED-Datastore.MYVMGROUP.ClonedVol] [INFO ] *** cloneVMDK: /vmfs/volumes/SHARED-Datastore/dockvols/0f2d53d7-091e-4b04-a6b0-1d2a43c454eb/ClonedVol.vmdk opts = {'clone-from': 'TestVol1'}    --->vm_uuid=None<----     datastore_url=/vmfs/volumes/582b1324-e49d9a0

[2017-06-21 16:22] lipingxue opened #1452 "Recreate vmgroup with the same name after "vmgroup rm " cannot create vmgroup correctly"
1. create a vmgroup "test-tenant1" and then create a volume "tenant1-vol1"
[code]

2. remove the vmgroup "test-tenant1".
[code]

3. check the dockvol path of "test_tenant1"

[code]

4. recreate "test_tenant1"
[code]

5. Try to create the volume, and volume does not show up  when run ```docker volume ls```
[code]

[2017-06-21 16:55] shaominchen commented on #1315
@madjam002 If you can pre-create the volume, you can follow Liping's comments above: https://github.com/vmware/docker-volume-vsphere/issues/1315#issuecomment-305580150

If you don't want to pre-create the volume, you can follow Mark's comments above: https://github.com/vmware/docker-volume-vsphere/issues/1315#issuecomment-306943006

We have filed the issue to Docker: https://github.com/moby/moby/i

[2017-06-21 17:08] ashahi1 opened #1453 "[E2E] Verify 'Attached to vm' field"
- [ ] Verify 'Attached to vm' field
steps: Please refer Issue #1053

Need two ESX on CI hence separated this issue.

[2017-06-21 17:10] ashahi1 commented on #1261
For 3rd test, created separate issue as CI needs to have two ESXs #1453

[2017-06-21 17:17] madjam002 commented on #1315
@shaominchen Unless I'm missing something, this doesn't allow you to create volumes on various different datastores all from the same compose file? So it's not 100% a workaround.

For example, take a container that needs both a volume on an SSD backed datastore and a slower magnetic datastore.

[2017-06-21 17:20] shuklanirdesh82 commented on #1439
Hey @matt-deboer,

I am reaching out to you find other whether the work around suggested at https://github.com/vmware/docker-volume-vsphere/issues/1439#issuecomment-309634549 unblocks you or not.

Can you please confirm at your earliest?

Thanks!

[2017-06-21 17:54] pshahzeb commented on #1311
@govint I see the env handling in your PR #1428 to skip the test when the env vars are not set.

[2017-06-21 17:55] govint commented on #1412
I'm closing this and open a new issue if the issue recurs

[2017-06-21 17:55] #1412 closed

[2017-06-21 18:21] matt-deboer commented on #1439
we are unblocked; thanks again!

On Wed, Jun 21, 2017 at 10:20 AM, Nirdesh Shukla <notifications@github.com>
wrote:

[2017-06-21 18:32] msterin commented on #1373
More info. Customer writes

Here is the information from the ESX side of things:

and later he writes the following (hostnames and vm names redacted)

So the theory is that we are stepping into VM UUID [uniqueness issues](http://www.virtu-al.net/2015/12/04/a-quick-reference-of-vsphere-ids/).
With vCloudDirector finding out unique UUID is [not fun ](https://blogs.vmware.com/vsphere/2012/02/uniquely

[2017-06-21 19:03] shuklanirdesh82 commented on #1439
Thanks @matt-deboer for confirming! I'm glad hearing that.

[2017-06-21 19:26] pshahzeb commented on #1407
After offline discussion with @shaominchen @shuklanirdesh82 , we are not able to identify immediate action times as to how we can reduce this gap. Closing this.

@govint This issue filed by you is similar #1042 I guess.

[2017-06-21 19:26] #1407 closed

[2017-06-21 21:55] shaominchen opened #1456 "Need to add e2e tests to verify vDVS Authorization Config DB state machine"
Please refer to this document: https://github.com/vmware/docker-volume-vsphere/blob/b3249234271f1f568aaa97542b8ce8c4611b3a44/docs/misc/ConfigDB_state.md

We need to add a group of e2e test cases to verify the Config DB state machine.

[2017-06-21 22:04] lipingxue commented on #1315
@madjam002 , if you need to create volumes from different datastores from the same compose file, then setting the default_datastore for a vmgroup does not help here.

Can we ask why the pre-create volumes does not work for you? I filed a moby issue https://github.com/moby/moby/issues/33529 and has some discussion with docker engineer there. They asked why using the external volume in compose file

[2017-06-21 22:33] msterin opened #1457 "uneeded 'VM has already been deleted or has not been completely ' traceback in the log"
Each test run generates an error below in the log. This is totally normal situation (VM was powered down and then deleted right away) and we should not log it as an error.
In fact, it feel like a debug message, or at worst Info with explanation ("Most likely a VM was powered down and then deleted right away"

//CC @pshahzeb

[code]

[2017-06-21 22:58] shaominchen opened #1458 "[E2E] Improve admincli util functions to verify the business data"
Due to issue #1411, the assertion statement in the test logic cannot really guarantee the operation is completed as expected. Before issue #1411 is addressed, we can have more verification - in addition to verify the ssh exit code (which doesn't work right now), but also verify the real business data to make sure the operation is completed as expected.

There are a lot of admincli util functions.

[2017-06-21 23:05] shaominchen commented on #1458
@shuklanirdesh82 @ashahi1

[2017-06-21 23:33] #1450 closed

[2017-06-22 00:58] ashahi1 commented on #1403
Closing this since it is fixed now.

[2017-06-22 00:58] #1403 closed

[2017-06-22 05:30] pdhamdhere commented on #1449
Thanks @vxav That was a good catch. Clone operations works fine for VMs in DEFAULT vm-group but was broken if VM is member of named VM-Group. @govint fixed in #1451 Fix will be available in upcoming release (June-30th) Let us know if you need patch for 0.14 release.

[2017-06-22 05:30] #1449 closed

[2017-06-22 06:49] #1347 closed

[2017-06-22 17:11] #1452 closed

[2017-06-22 17:38] venilnoronha opened #1462 "test-all taget (vmlistener_test) hangs due to VM IP reassignment"
When running the `test-all` target locally, I observed that the vmlistener test hanged after a certain point. On doing a preliminary RCA, I found that it was due to an IP reassignment for one of the VMs.

[2017-06-22 17:41] shaominchen commented on #1462
@venilnoronha Can you please copy/paste the test output here? I guess there should be quite a lot of sleep and then timed out.

[2017-06-22 18:03] venilnoronha commented on #1462
@shaominchen you're right, it sleeps for a couple of times and then times out. I lost the output, I'll paste it the next time I run into it.

[2017-06-22 18:09] shuklanirdesh82 opened #1463 "[E2E] test-e2e should allow running test against testbed where only one datastore is present."
Test execution should fail gracefully instead of `invalid memory address or nil pointer dereference`

[code]

[2017-06-22 18:11] shaominchen commented on #1462
This happens because VM IP may change after being restarted. The vmlistener tests will kill a VM and then power it on. So this issue may happen in local test run. In CI this won't happen because the VMs in CI setup are all assigned static IP.

VM IP change will not happen frequently, but it's quite annoying when it really happens. So we should fix this issue.

[2017-06-22 18:12] shuklanirdesh82 commented on #1463
minor improvement is required at inputparams.go
1. need to fix condition `len(config.Datastores) < 1 {` (test-e2e should run against 1datastsore setup and let the test to decide whether stop execution incase of insufficient datastore.

2. log the error message about insufficient datastore

[code]

[2017-06-22 18:29] msterin commented on #1411
Looking in the code the vast majority of functions already return None for success and something else for error. So making admicli to return proper code to shell would be trivial.
Here is the modified main() code to do that:
[code]

[2017-06-22 18:32] msterin commented on #1458
What is the "business data verification" in this context ? Can you give an example ?
admin CLI does not return proper code to shell, thus ssh does not report failures properly. The fix is trivial, but I am not sure if it would address this as well. Can you elaborate on business data here . please.

[2017-06-22 20:52] madjam002 commented on #1315
@lipingxue Pre-creating volumes kind of defeats the purpose of using the Compose file format in the first place - defining all of the resources which should be spun up in one place. But it is a workaround for now I guess.

[2017-06-22 21:23] shaominchen commented on #601
As @lipingxue pointed out, the scaled-replicas feature should not be used for stateful applications. Please refer to https://github.com/moby/moby/issues/24089

However, we discussed and agreed that it still makes sense to keep this test scenario. Basically, #927 will focus on failover across different swarm nodes, while this test will focus on failover across different swarm service replicas, even

[2017-06-22 21:35] shaominchen commented on #1458
"business data verification" means to verify the data affected by the command execution. For example, after calling admincli.CreateVMgroup(), for now we just verify the exit code returned by shell. Since admin CLi does not return proper exit code to shell, the verification logic (i.e. the assert statement in the test cases) doesn't really work  - it always passes. The intention here is to add one

[2017-06-22 21:43] #601 closed

[2017-06-22 21:47] tusharnt commented on #854
Now vDVS is now already available as a managed plugin and it can be installed as follows -
docker plugin install --grant-all-permissions --alias vsphere vmware/docker-volume-vsphere:latest

For details, please check it out installation instructions here -
http://vmware.github.io/docker-volume-vsphere/documentation/install.html

[2017-06-22 21:47] #854 closed

[2017-06-22 21:52] pshahzeb opened #1465 "Test fail for VMgroup VM clone test"
Saw this on my local nimbus testbed
[code]

I don't think anything is wrong with my nimbus testbed. Will check again.
I missed the logs because I hit a run second time. But had console output.

[2017-06-22 22:17] msterin commented on #1315
It is a temporary band aid only, indeed. @lipingxue - what can we do to accelerate the actual solution ?

[2017-06-22 22:19] msterin commented on #1458
yes, but that could (and should) happen totally unrelated to return codes. Just because the CLI returns proper code, does not mean anything is persisted :-)

[2017-06-22 22:39] shaominchen commented on #1458
True. If that happens, it means there's a product issue, and we should have separate test cases to cover that.

[2017-06-22 22:43] pshahzeb commented on #1465
My esx side vib was outdated. closing this.

[2017-06-22 22:43] #1465 closed

[2017-06-22 22:44] shaominchen commented on #1465
@govint Can you please take a look? This test was introduced in #1451

[2017-06-22 22:51] pshahzeb commented on #1112
Enabled this in #1444.

[2017-06-22 22:51] #1112 closed

[2017-06-22 22:56] #1311 closed

[2017-06-22 23:34] shaominchen opened #1467 "[E2E] Need to deploy redis-cli in docker hosts to verify the data"
To automate e2e test for #927, we need to deploy redis-cli in docker hosts to verify the data. We should add a target in the build script - similar to the make installation: https://github.com/vmware/docker-volume-vsphere/blob/master/misc/scripts/deploy-tools.sh#L71.

This target should be a prerequisite for test-e2e target: https://github.com/vmware/docker-volume-vsphere/blob/master/vmdk_plugin/M

[2017-06-23 00:58] ashahi1 commented on #1261
case 4 and 5 will be addressed by #1381

[2017-06-23 02:05] ashahi1 opened #1469 "User cannot delete volumes if its vmgroup gets deleted"
Steps:
1. Create a vmgroup and add a vm to it
2. Create a volume from the vmgroups's vm
3. Remove the vm
4. Delete the vmgroup
5. Try deleting the volume, operation fails

Volumes should get deleted irrespective of vmgroup being present or not.

-----------------

Test steps and their output are as follows:

1. Create a vmgroup and add a vm to it
[code]

2. Create a volume from the vmgroups's vm
[

[2017-06-23 02:24] ashahi1 commented on #1436
Another instance on CI: https://ci.vmware.run/vmware/docker-volume-vsphere/701

[code]

[2017-06-23 02:55] shuklanirdesh82 commented on #1458
this issue is similar to #1411 .. closing this as duplicate. Please reopen if I have mistaken with more detail.

[2017-06-23 03:51] govint commented on #1411
#1464 is resolving the issue posted here. Closing.

[2017-06-23 04:09] #1253 closed

[2017-06-23 04:10] govint commented on #1201
Closing

[2017-06-23 04:10] #1201 closed

[2017-06-23 04:10] shuklanirdesh82 commented on #1458
I guess we can improve verification to validate actual data which is persisted in the backend.

[2017-06-23 04:28] govint commented on #1469
Suggest a vmgroup can't be removed unless

1. the volumes in the vmgroup are removed, the use case for vmgroups is to segregate users  and support multi-tenancy. Its incorrect to loose user data by allowing the vmgroup to be removed and then not be able to delete that data.
1. Optionally let the datastores be moved to another vmgroup specified by the user, so the volumes are still accessible. Movi

[2017-06-23 04:30] shuklanirdesh82 commented on #1395
fixed by #1461

[2017-06-23 04:30] #1395 closed

[2017-06-23 04:36] shuklanirdesh82 commented on #1331
fixed by #1428

[2017-06-23 04:36] #1331 closed

[2017-06-23 05:06] ashahi1 opened #1470 "Code refactoring for e2e tests"
- [ ] Create three separate test files for vmgroup tests - one for default vmgroup tests,  another for user vmgroup tests and one for miscellaneous tests related to vmgroups
https://github.com/vmware/docker-volume-vsphere/pull/1381#pullrequestreview-45707021

- [ ] Create a single suite for all tests that are doing config init/remove so we initialize and remove the DB once at the test-suite level

[2017-06-23 05:07] ashahi1 commented on #1470
/cc @shuklanirdesh82

[2017-06-23 05:33] shuklanirdesh82 commented on #1330
duplicate to #1318

[2017-06-23 05:33] #1330 closed

[2017-06-23 05:34] shuklanirdesh82 commented on #1330
there are not any steps even :-)

[2017-06-23 16:03] lipingxue opened #1471 "InvokeCommand returns output with stty: standard input: Inappropriate ioctl for device"
In the automation test, I saw many instances of something like the following:
And this issue exists in any current CI run,  one example is here https://ci.vmware.run/vmware/docker-volume-vsphere/706
[code]

[code]

[code]

[code]

The Uuid in the output is incomplete,  "11111111-1111-1111.." is an incomplete uuid, which will cause to get the wrong Uuid if we need to parse the Uuid field from the c

[2017-06-23 17:51] lipingxue commented on #1469
Should we allow user to remove a vmgroup if volumes in this vmgroup still exist?  Is there any specific user case that need this?  @msterin

[2017-06-23 18:00] msterin commented on #1469
We have been discussing this (or similar) issues quite a few times. "Can an admin delete a group if there are object within this group". We should think about use patterns. We need to (1) make it convenient (2) prevent obvious mistakes. It is usually solved with a failure with the following message "This vmgroup still have volumes in it. Please use --force to force deletion. vmgroup and volumes wi

[2017-06-23 18:46] pshahzeb commented on #1325
TestConcurrency takes very less time when I tried it on my local test bed where there are 3 ESX nodes and all the VMs sit on Vsan Datastore.

[code]

The test as such doesn't do anything aggressive:
1. Creates and Deletes 3 Volumes in parallel from 2 different docker hosts
2. Creates a master volume and clones 2 volumes in parallel from 2 different docker hosts. and then deletes them.

I don't thi

[2017-06-23 19:21] pshahzeb commented on #1325
As of now e2e tests on CI take approximately 43 minutes
Calculated it from https://ci.vmware.run/vmware/docker-volume-vsphere/705
Time taken to run e2e targets, runonce and runalways both
[code]

[2017-06-23 21:27] shaominchen commented on #1470
Moving refactoring tasks to P2.

[2017-06-23 21:28] shaominchen commented on #1314
Moving refactoring tasks to P2.

[2017-06-23 21:31] shaominchen commented on #815
Not an urgent issue - moving to P2.

[2017-06-23 22:18] pshahzeb opened #1476 "Deployment of plugin (deploy-vm failed) error on CI"
The error is about Failed to stop docker-volume-vsphere.service: Unit docker-volume-vsphere.service not loaded.

From build https://ci.vmware.run/vmware/docker-volume-vsphere/708 on CI
[code]

[2017-06-23 22:53] tusharnt commented on #1476
@venilnoronha is currently blocked on this. Any CI blocker should be fixed ASAP.
@govint Can you please prioritize this?

[2017-06-24 04:50] ashahi1 opened #1477 "Unit test - test_vmdkops_on_default_tenant_vm test fails"
I am running into an issue where test_vmdkops_on_default_tenant_vm test fails as total volumes listed by ```admincli volume ls``` is not as expected. Test expects the output from admin cli volume ls to be two but assert fails as there are total of three volumes.  Volume named ```stale_volume``` is the third one.

https://github.com/vmware/docker-volume-vsphere/blob/master/esx_service/vmdk_ops_test

[2017-06-24 04:51] ashahi1 commented on #1477
/cc @shuklanirdesh82 @pshahzeb

[2017-06-24 18:58] govint commented on #1476
@pshahzeb can you post the CI which shows the messages. The CI posted has passed and no error. Those cleanup messages are harmless. Whats the issue here?

Unless the daemon is started manually the "cleanupVMPost: Service still running on" is never returned or the daemon is hung.

In any case why is this a blocker for the windows plugin, this is on Linux. @tusharnt, @venilnoronha

[2017-06-24 19:04] venilnoronha commented on #1476
@govint we lost the CI logs as I had restarted the job. This is a blocker for windows as we'll be refactoring some linux modules, and we want to make sure that it does not introduce regression.

[2017-06-24 19:05] govint commented on #1476
The cleanup is attempting to remove the docker plugin binary and package which is not needed with the docker plugin based deployment. But thats harmless.

[2017-06-25 03:39] govint commented on #1476
Still what's the issue caused by these messages and why is that a blocker for Windows. These messages can always come in CI run

[2017-06-26 04:46] pshahzeb commented on #1476
@govint

Filed the issue since this error caused the CI itself to fail. We don't have logs now due to CI restart.
I don't think venil is blocked anymore. We can close this issue for now and reopen if this error is seen again.

Not sure how do we handle this if it occurs again. Though I haven't seen it before.

[2017-06-26 05:51] govint commented on #1476
But the CI shows these messages and still continues to install the plugin and the CI progressed as expected. Did the failed CI stop after these messages? May be a different issue than these messages.

[2017-06-26 07:24] ashahi1 opened #1479 "[Test] Unit test "test_vmdkops_on_default_tenant_vm" is not cleaning the volumes it creates"
Unit test "test_vmdkops_on_default_tenant_vm" is not  cleaning the volumes it creates.
https://github.com/vmware/docker-volume-vsphere/blob/master/esx_service/vmdk_ops_test.py#L753

After test-esx has finished running all the tests, we still see volumes on the setup.
[code]

[2017-06-26 16:24] pshahzeb commented on #1476
Yes it failed. Closing it for now. Let's reopen when we see this error again and preserve the log to rootcause.

[2017-06-26 16:24] #1476 closed

[2017-06-26 19:30] ashahi1 opened #1484 "User cannot delete a vmgroup if vm from that vmgroup gets deleted"
Issue: User cannot delete a vmgroup if vm from that vmgroup gets deleted

Test steps:
1. Create a vmgroup and associate vm to it.
2. Delete the vm that was added to the vmgroup.
3. Try to remove vm from vmgroup - message ```Cannot find vm```
4. Try to delete vmgroup - message ```Cannot delete non-empty vmgroup vmgroup1. Remove VMs from the vmgroup before deleting it.```

There should be some way f

[2017-06-26 22:29] ashahi1 opened #1485 "Symlink is not created after recreating default vmgroup"
- Symlink is not created after recreating default vmgroup

Steps:
1. Verify only default vmgroup is present
2. Delete default vmgroup
3. Recreate default vmgroup
4. dockvols folder only have DEFAULT_TENANT_UUID folder - ```11111111-1111-1111-1111-111111111111 ```

----------------

Steps and their output are as follows:

1. Verified setup only had default vmgroup
[code]

2. Deleted default vmgroup

[2017-06-26 22:34] shuklanirdesh82 commented on #1284
@ashahi1

Can you please take care of this issue?

1. uncomment the verification code ( added as part of #1276) and invoke CI 3-4 times > if CI passed merge the change and close this PR

2. incase of observing failure let's investigate further about the issue .. (https://github.com/vmware/docker-volume-vsphere/blob/master/tests/utils/inputparams/testparams.go#L136 ... our `GetTestConfig` is consum

[2017-06-26 22:36] shuklanirdesh82 commented on #1471
@lipingxue please investigate and improve the `InvokeCommand` util as per need.

[2017-06-27 00:05] ashahi1 opened #1486 "[Test Automation] Verify volume creation after deleting _DEFAULT tenant"
Verify volume creation after deleting _DEFAULT tenant.
Steps:
1. Create a volume
2. Verify volume from docker host and esx
3. Delete default tenant
4. Verify not able to create volume from docker host - Error: VM does not belong to any vmgroup
5. Verify docker volume ls does not show any volumes
6. Verify admin cli shows volume with VMGroup set as N/A
7. Create _DEFAULT vmgroup with —default-datas

[2017-06-27 01:19] #1486 closed

[2017-06-27 01:23] shuklanirdesh82 commented on #1477
fixed via #1381

[2017-06-27 01:23] #1477 closed

[2017-06-27 02:11] msterin commented on #1457
Can you please get it fixed ? It block any reasonable analysis of error logs for test-esx makefile target, as the whole log is polluted with these meaningless messages.

[2017-06-27 16:11] pshahzeb commented on #1457
Sure. Sending out a PR.

[2017-06-27 17:09] govint commented on #1321
@shuklanirdesh82 is this issue for 0.17?  I'm done with the code and will post the PR tomorrow with the unit-tests done.

[2017-06-27 17:11] msterin commented on #1457
Thanks !

[2017-06-27 17:12] govint commented on #1318
Kill hostd test seems like something that we want to leave out of the test matrix. Its not a workflow that ever happens at all. If anything hostd is started/stopped/restarted.

[2017-06-27 17:55] ashahi1 opened #1490 "swarm_test.TestDockerSwarm failed as volume is not attached"
CI: https://ci.vmware.run/vmware/docker-volume-vsphere/739

Sam, as swarm test failed, can you please take a look at it?

I was trying to fix issue https://github.com/vmware/docker-volume-vsphere/issues/1284#issuecomment-311200955 and this test failed.

Test logs:
[code]

[2017-06-27 18:06] shuklanirdesh82 commented on #1490
[code]

I guess test needs to fix the expectation here for the swarm test. Test is expecting `s.master` always and needs to be passed correct expectation.

[2017-06-27 18:06] ashahi1 commented on #1490
Making it P0 as it is failing on CI

[2017-06-27 18:26] ashahi1 opened #1491 "[E2E] Moving a VM across tenants and validates volume accessibility"
Need to add additional steps to the test: https://github.com/vmware/docker-volume-vsphere/blob/master/tests/e2e/basic_test.go#L159

Steps to be added:
1. Remove vm from vmgroup.
2. Verify volumes of default vmgroup are again accessible.
3. Verify volumes of original vmgroup are not accessible.

[2017-06-27 19:01] shuklanirdesh82 commented on #1321
Yeah it is for 0.16, as you have code ready please send out soon and we can try to wrap up our code review as soon as possible.

[2017-06-27 19:07] shuklanirdesh82 commented on #1318
It is an important scenario to validate this interop w.r.t. hostd service due to vmlistener thread implementation. We should not move out of test matrix as hostd crash/autorecovery happens in prod enviroment and we should be confident about no impact on our vmdkopsd service. I agree it is not P0 hence kept it as P1. We may avoid running such test per check in but can't move out of test matrix.

[2017-06-27 19:36] govint opened #1493 "Support non-persistent volumes in the plugin"
Use cases where a container wants to use a scratch volume to create temporary data, especially one thats cloned from a "base volume" can benefit from a "non-persistent" volume from the vSphere plugin. The volume is created and used (attach/detach) exactly once. The detach deletes the volume.  This issue is to add a volume create-time option to specify creating a non-persistent disk thats either st

[2017-06-27 20:12] shaominchen commented on #1490
@ashahi1 Are you sure this is not related to the change itself? I guess it's still the same issue as before and that's why those code were commented out. The CI after yours have already passed: https://ci.vmware.run/vmware/docker-volume-vsphere/746

I'm closing this as this issue is really unrelated to swarm test. The test depends on util function VerifyAttachedStatus, which again depends on the R

[2017-06-27 20:29] #1457 closed

[2017-06-27 20:32] ashahi1 commented on #1490
@shaominchen To me it looks to be a test issue. Please see the output below. Your test is expecting a different vm name. It has nothing to do with RetrieveVMNameFromIP.
We are getting vm name it just that comparison fails because test expects name as photon.vmfs but colume is attached to different vm (Ubuntu.14.04).

We had commented out because govc was not returning the name. After uncommenting,

[2017-06-27 20:57] shaominchen commented on #1490
@ashahi1 Yes, this is a test issue. It is exposed by re-enabling the RetrieveVMNameFromIP logic in VerifyAttachedStatus. The fix is just trivial:

102: status, _ = verification.IsDockerContainerRunning(s.swarmNodes, s.serviceName, 1)
==> status, host := verification.IsDockerContainerRunning(s.swarmNodes, s.serviceName, 1)

105: status = verification.VerifyAttachedStatus(s.volumeName, s.master, s.e

[2017-06-27 22:32] lipingxue opened #1496 "[E2E] Refactor code to get multiple volume properties with invoking one call to ssh.InvokeCommand"
In current test automation code, if we want to get a specific property of a list of volumes,  we make multiple calls to "ssh.InvokeCommand". Instead, we should refactor the code to make one call to "ssh.InvokeCommand" to get property of all volumes in one shot and then store them in a map which can be used later.
For example,  in the following code snippet from ```TestVmgroupRemoveWithRemoveVol```

[2017-06-27 22:37] lipingxue opened #1497 "[Test automation] Need refactoring code in "vmgroups_test.go""
In the current code of "vmgroups_test.go", we pre-create the test configuration(two vmgroups) in the ```SetUpSuite``` function. This test configuration will be shard by all the tests in this suite.
This is not right since each test may have different requirement for the test configuration.
We need to refactor the code to let each test create its own configuration.

[2017-06-27 23:52] shuklanirdesh82 commented on #1496
Keeping it P1 .. we should not abuse ssh call.

[2017-06-28 00:18] pshahzeb commented on #1325
Test timings as of now.

Running tests on VMFS ESX_6.5 :  total 30.8 minutes
[code]

 Running tests on VSAN ESX_6.5 :  total 16 minutes
[code]

Running tests on VMFS ESX_6.0 : total time 30.9 minutes
[code]

[2017-06-28 01:14] ashahi1 commented on #1490
@shaominchen I tried the steps that you suggested but still the test fails. Test is expecting volume to be always attached to the master node.  There are multiple instances where we do verification based on assumption that operation executed on master node only - this should be fixed.

[2017-06-28 08:32] ashahi1 commented on #1284
No longer seeing the original issue of RetrieveVMNameFromIP  method not returning vm name. Tried 3-4 times on CI but original not reproducible.
Uncommented the part that was commented out in PR #1276 and merged as part of PR #1487.

Closing this issue now.

[2017-06-28 08:32] #1284 closed

[2017-06-28 09:08] govint commented on #1497
Ok, I did write this and it keeps the individual tests simpler without the need to create a new/separate configuration for each test. If multiple tests can use a single set up that should be fine vs. refactoring these tests.

[2017-06-28 10:06] govint opened #1499 "After docker restart, restarted containers show plugin volume as in-use but volume is detached"
Found this when trying the restart tests where,
1. A container is started in a docker host with the same volume.
1. Docker is restarted and so is the volume plugin
1. Container are also restarted and showing as using the volume (via docker inspect <container ID>
1. Volume itself is detached.
---
docker run --restart always --volume-driver vsphere -v restart_test_volume_1086450@sharedVmfs-0:/vol ub

[2017-06-28 11:41] govint opened #1501 "Pass the vmgroup thats owing a volume in vmdk_ops.py:getVMDK()"
In reviewing the E2E tests there are code that performs multiple steps to decipher the vmgroup for a volume, which can be much simplified if this data too is passed for a volume via getVMDK() in the ESX service. This issue is to enhance Get() for a volume to also return the vmgroup in which the volume is located.

[2017-06-28 12:21] govint opened #1502 "Use format strings to create docker , admin CLI and esx CLI command lines in test code"
The test code that creates and runs the shell commands for the CLI is getting tricky to maintain with spaces needing to be managed as we update, fix, refactor this code. It seems much better to have format strings defined for command lines that we want to run and use those instead of constructing the way its done now.

[2017-06-28 13:15] govint opened #1503 "basic_test.go:TestVmGroupVolumeIsolation() should use physical datastore name"
The TestVmGroupVolumeIsolation() test creates a volume (which lands on the default DS) and checks for accessibility. The volume is accessible.

Then a new vmgroup is created with VM_DS as the default datastore. Again the volume accessibility is checked.

Its entirely possible that the volume created earlier is in the datastore that VM_DS refers to. A subsequent check on accessibility succeeds, whi

[2017-06-28 13:27] govint commented on #1503
Closing for now, may have been caused by debug code in this CI.

[2017-06-28 13:27] #1503 closed

[2017-06-28 16:45] pshahzeb commented on #1499
@govint  By any chance do you have logs? I tried manually to mimic the exact steps you have pointed out in description.

But at the end I see the volume inspect saying it is attached.

[code]

[code]

From another terminal
[code]

[code]

[code]

[code]

[code]

[2017-06-28 16:51] pshahzeb commented on #1499
To add to this, for every docker volume inspect we do a volume get, which fetches volume meta from vmdkops service on ESX. Hence will also need to take a look at vmdkops log from ESX side.

[2017-06-28 17:03] govint commented on #1499
I did this on the same docker host. I can try a repro and post logs.

[2017-06-28 18:09] tusharnt commented on #1373
@msterin Are we still targeting this for 0.16 release? We've 2 more days to go!

[2017-06-28 18:54] shaominchen opened #1505 "[E2E] Volume data is missing after failover across swarm nodes"
One verification step in existing TestFailoverAcrosssSwarmNods has been commented out because it always fails during auto run. However, the same verification passes during manual run. Need to investigate the issue, figure out the root cause, and re-enable this verification in the test.

[2017-06-28 22:56] shaominchen opened #1506 "Existing util function VerifyAttachedStatus is not working properly"
The existing util function VerifyAttachedStatus is not working properly. This issue has not been exposed until we recently re-enabled it in PR #1487. The issue here is: vDVS Admin CLI always expect a short volume name as input for "vmdkops_admin volume ls" command. However, Docker CLI need a full volume name as input for "docker volume inspect" command, if the volume is not created in the "DEFAULT

[2017-06-28 22:56] shaominchen commented on #1506
This will be addressed as part of PR 1492.

[2017-06-29 01:12] msterin opened #1507 "[Test] e2e test fails when test VMs are running on different datastore(s)."
While running 'make test-all' on the local testbed, received failures like this:
[code]

It turns out my VMs are on different datastores (some on VSAN, some on local DS) and the tests do not handle it well.

//CC @shuklanirdesh82 @pshahzeb

[2017-06-29 01:16] msterin opened #1508 "[Test] e2e test fails if a Config DB is pre-initialized on the test bed"
The subject says it all. The test fail. They should try to remove the config DB first (and ignore rm failures) and then proceed

//CC @pshahzeb @shuklanirdesh82

[2017-06-29 01:38] pshahzeb opened #1509 "Need test binary to enable verbose mode of gocheck"
To have better time reporting of our e2e tests, we need to enable verbose mode (done through -check.v flag).
It provides following advantages -

- [ ] Provides detailed information for each test suite - time required and individual test suite pass or fail.
- [ ] Prints overall summary at the end of test-all target.

CC @shuklanirdesh82

[2017-06-29 02:44] shuklanirdesh82 commented on #1507
@shaominchen can you please look into this at your earliest?

[2017-06-29 04:31] shaominchen commented on #1508
I'd suggest to add some bootstrapping logic before running any tests:
1. Verify the required environment variables are properly initialized
2. Clean up the Config DB if it exists
3. Maybe more...
This way the test should fail gracefully instead of reporting some very confusing error messages.

[2017-06-29 04:38] shaominchen commented on #1324
Fixed with PR #1492.

[2017-06-29 04:38] #1324 closed

[2017-06-29 04:38] shaominchen commented on #1490
Fixed with PR #1492.

[2017-06-29 04:38] #1490 closed

[2017-06-29 04:39] shaominchen commented on #1506
Fixed with PR #1492.

[2017-06-29 04:39] #1506 closed

[2017-06-29 04:52] shaominchen commented on #1507
@msterin I guess this failure is not due to your VMs are on different datastores. If you look at the test logic, we are creating the volume on one docker host (VM), and then check the volume availability **on the same VM**. So this logic should not fail if VMs are on different datastores, because the test logic is just related to one single VM. My guess is that the VM might belong to some tenant,

[2017-06-29 07:13] govint opened #1510 "GetVMAttachedToVolUsingAdminCli() should allow for same volume name on different datastores"
When testing with restarting docker with two volumes of the same name on different datastores, GetVMAttachedToVolUsingAdminCli() returned an error that the expected output had more than one match.

Its ok to have multiple volumes of the same name and on different datastores. GetVMAttachedToVolUsingAdminCli() should check the datastore as well, otherwise some tests don't necessarily work ok, with a

[2017-06-29 07:28] msterin commented on #1507
Well, I did not configure any tenants so all config if from the tests, and it passes on CI. So no, I cannot confirm what you say

[2017-06-29 09:04] govint opened #1511 "plugin_utils.go:GetVolumeInfo() must compare with fully qualified volume name in refcount map"
https://github.com/vmware/docker-volume-vsphere/pull/1500#issuecomment-311878995 has a description of the issue seen in a CI failure when testing new restart tests in #1500.

The function returns the full name of a volume after checking if its already full, else the volume meta-data is fetched from ESX and the full name is constructed.

The function also checks if there is already a volume of the

[2017-06-29 17:04] shaominchen commented on #1507
Any products may have bugs, same for tests. Our tests are definitely not perfect or even great, but I cannot agree it's more of a distraction. We are automating some extremely complicated end-to-end workflows that cannot be done in unit tests. We have been spending huge number of time to run those test **manually** before cutting releases. With these automated end-to-end tests, we are not sufferin

[2017-06-29 17:16] msterin commented on #1507
Yew, automating is awesome and I am glad we have ever increasing coverage. At the same time, the tests that make it super hard to troubleshoot, and then end up being a test bug, is a problem. In this case the root cause is the original glitch in admin CLI code not returning code, and tests assuming it does. Let's get it fixed asap, but I need help on failing tests to move faster.

[2017-06-29 17:23] shaominchen opened #1515 "[Test]Simplify the testbed for basic precheckin test"
Currently the precheckin tests (i.e. "test-all" target) requires a setup with at least 3 nodes deployed in swarm cluster mode. This is too heavy for a basic precheckin test. For internal developers, we can use nimbus to deploy a testbed with one single command. But for external developers, it will be too complicated to set up the environment simply for running the precheckin test.

On the other ha

[2017-06-29 17:36] shaominchen commented on #1507
Yes, I completely agree. The reason it's super hard to troubleshoot is because when we saw a test case failure, the failure was sometimes not caused by a test logic error, but caused by some dirty data/setup left over by previous tests. If it's a test logic error, it should still be straightforward to debug.

I will try to address this biggest concern here (as tracked by issue #1508).

[2017-06-29 17:38] #1507 closed

[2017-06-29 17:38] shaominchen commented on #1508
I will take care of this.

[2017-06-29 17:41] shaominchen commented on #1507
Mark this as duplicate to issue #1508 - I will use the latter to track the issue.

[2017-06-29 18:17] govint commented on #1508
Do we also know what is the error, is it a bug vs. a test code issue. Can a customer hit such a problem with a config DB? Just asking as we don't have the logs for the error.

[2017-06-29 18:33] msterin commented on #1508
it is a test issue. in customer environment it's perfectly fine to have the DB and the CLI is supposed to handle it all

[2017-06-29 18:41] shaominchen commented on #1508
@govint Copy the error from PR #1464:

FAIL: basic_test.go:159: BasicTestSuite.TestVmGroupVolumeIsolation

basic_test.go:164:
    c.Assert(err, IsNil, Commentf(out))
... value *exec.ExitError = &exec.ExitError{ProcessState:(*os.ProcessState)(0xc4200ae6a0), Stderr:[]uint8(nil)} ("exit status 2")
... Warning: this feature is EXPERIMENTAL
Config DB  is already initialized. Use 'rm --local' or 'rm --u

[2017-06-29 18:49] shaominchen commented on #1508
A quick fix would be to improve the current ConfigInit util function: check if the DB is already initialized - if it's already initialized, just remove it.

I can send a quick fix for above solution. However, to make the whole end-to-end more robust, I think we should do what I suggested above. @govint Do you have any concern for my suggestion above, especially, **cleaning up the Config DB if it a

[2017-06-29 20:31] shaominchen opened #1517 "Improve the robustness of e2e test infrastructure"
Filing this issue to track some efforts for improving the robustness of e2e test infrastructure:

1. Verify the required environment variables are properly initialized before running e2e test
2. Clean up the Config DB if it already exists before running each test group
3. Maybe more...

The goal is to make sure each test should fail gracefully to make troubleshooting easier.

Please share your com

[2017-06-29 20:32] shaominchen commented on #1508
I've sent out the quick fix for the current specific issue, and filed a new issue to track the efforts of improving the robustness of e2e test infrastructure: #1517

[2017-06-29 20:34] shuklanirdesh82 commented on #1517
this seems duplicate to #1398 ... Let's track improvement there.

[2017-06-29 20:34] #1517 closed

[2017-06-29 20:39] shaominchen commented on #1398
Here's my suggestion (copied from #1517 )

1. Verify the required environment variables are properly initialized before running e2e test
2. Clean up the Config DB if it already exists before running each test group
3. Maybe more...

[2017-06-29 20:39] shuklanirdesh82 commented on #1411
reopening this issue as the PR hasn't merged yet

[2017-06-29 20:52] shuklanirdesh82 opened #1518 "Supply a fix to wait until vm recovers fully"
Need to fix common util to wait until vm recovers from restart or shutdown abruptly.

[code]

[2017-06-29 21:53] shuklanirdesh82 commented on #1436
Please reopen if issue reproduces again.

[2017-06-29 21:54] #1508 closed

[2017-06-29 22:05] shuklanirdesh82 commented on #1342
it is already being taken care of.

[2017-06-29 22:05] #1342 closed

[2017-06-29 22:21] shuklanirdesh82 commented on #1343
Scenario 1 is covered for user created tenant T1 to user create tenant T2We need to cover for _DEFAULT to userCreated VmGroup T1.

[2017-06-29 22:24] shuklanirdesh82 opened #1520 "[E2E]Not able to see access rights for default vmgroup"
Steps mentioned in  #1396

[2017-06-29 22:29] ashahi1 opened #1521 "[E2E] Make WaitForExpectedState util to also check if vDVS is running"
Make WaitForExpectedState more robust to also check if vDVS is running if expected power state for vm is power-on.

https://github.com/vmware/docker-volume-vsphere/blob/master/tests/utils/esx/esxcli.go#L66

[2017-06-29 22:44] ashahi1 commented on #1261
For 1st test, created separate issue - #1491

[2017-06-29 22:50] shuklanirdesh82 opened #1522 "[Part 2] Made Admin CLI return proper code to shell"
#1464 is fixing partially Admin CLI return code .. This issue is tracking the remaining work.

Some more reference from https://github.com/vmware/docker-volume-vsphere/pull/1464#issue-237938963

[code]

[2017-06-29 23:05] #1467 closed

[2017-06-29 23:13] ashahi1 opened #1524 "[E2E] Automate P2 Tenancy Test case - Rename tenant"
- [ ] 1.  Rename tenant with an existing tenant's name
- [ ] 2. Rename _default tenant
- [ ] 3. Verify each tenant has a unique name

[2017-06-29 23:54] ashahi1 commented on #1518
Closing this as I have provided the fix in PR #1519

[2017-06-29 23:54] #1518 closed

[2017-06-29 23:56] pshahzeb commented on #1499
@govint For test TestRecoverMountsAfterRestart in PR #1500, I have a comment on the failed assert.
I wasn't able to reproduce.
But I enabled just test TestRecoverMountsAfterRestart and corrected the assert as per the comment and looks like this test passed.

[2017-06-30 00:00] shuklanirdesh82 opened #1525 "Integrate logger to test case and util"
golog/logrus or anything else which is really useful to spit out debug/info/warn/error level statements.

[2017-06-30 04:44] ashahi1 commented on #1261
Tests 2, 4 and 5 have been checked-in. Closing this issue.

[2017-06-30 04:44] #1261 closed

[2017-06-30 05:24] govint commented on #1499
Repro again,
root@photon-machine [ ~ ]# docker inspect rvol0
[
    {
        "Driver": "vsphere:latest",
        "Labels": {},
        "Mountpoint": "/mnt/vmdk/rvol0",
        "Name": "rvol0",
        "Options": {},
        "Scope": "global",
        "Status": {
            "access": "read-write",
            "attach-as": "independent_persistent",
            "attached to VM": "master-VM0.0",

[2017-06-30 05:27] govint commented on #1499
root@photon-machine [ ~ ]# docker plugin ls
ID                  NAME                DESCRIPTION                           ENABLED
c028788ff0a9        vsphere:latest      VMWare vSphere Docker Volume plugin   true

[2017-06-30 05:39] shuklanirdesh82 commented on #1411
closing this now .. as the PR #1464 is merged. thanks to @msterin!

#1464 is fixing partially and remaining changes are being tracked at #1522.

[2017-06-30 05:39] #1411 closed

[2017-06-30 05:45] govint commented on #1511
Fixes #1512

[2017-06-30 06:48] govint commented on #1499
OK, found the issue, docker by default uses the run time root (where all meta-data and images are placed) at /var/lib/docker.

On my VM i have no space on the root FS and hence made a new disk to place the docker meta-data. Docker allows specifying the runtime as _-g, --graph string                          Root of the Docker runtime (default "/var/lib/docker")_

In my case dockerd is run with -g

[2017-06-30 06:50] govint commented on #1499
Making it a P1 as users may not frequently be using a different location for the docker runtime, but its something to be fixed.

[2017-06-30 15:16] shuklanirdesh82 commented on #1436
@ashahi1  can you please help adding retry block when vib installation runs into this kind of issue?

Instead of exiting from this line, let's retry 5 times (every 3 seconds) to invoke VIB installation.

[2017-06-30 17:29] shuklanirdesh82 commented on #1398
@ashahi1  is already having partial fix so bringing back to his plate

[2017-06-30 17:49] ashahi1 opened #1527 "Create a util to get a bunch of volume properties"
- [ ] Create an util verification.CheckVolume() which will check against a bunch of volume properties.   https://github.com/vmware/docker-volume-vsphere/pull/1381#discussion_r123506846

[2017-06-30 19:09] shuklanirdesh82 commented on #1380
Detailed steps: Upgrade from release 0.14 => 0.15
Minimum testbed requirement: 1 ESX (E1) & 1 VM (docker host - VM1)

[code]

[2017-06-30 19:27] shuklanirdesh82 opened #1528 "Test should not wait unnecessary while verifying DetachedStatus"
current util is waiting for 2 seconds then invokes `adminCli volume ls` to check for "attached/detached" status. It is scary and might be hiding some race condition if there is any. we should get rid of blind wait time for each and every tests. Only special test step should use the poller when required.

This issue to adjust the util by calling *VerifyDetachedStatus* with out wait time i.e. immedi

[2017-06-30 19:43] shaominchen commented on #1335
Moving #1378 into simba, move this one out.

[2017-06-30 22:28] #1511 closed

[2017-06-30 23:16] #1373 closed

[2017-07-01 00:15] #1399 closed

[2017-07-01 03:33] shuklanirdesh82 opened #1531 "vDVS documentation main landing page is not showing images"
<img width="970" alt="screen shot 2017-06-30 at 8 18 32 pm" src="https://user-images.githubusercontent.com/22988730/27758819-36f7fa3a-5dd3-11e7-84fa-af53fdfd67f8.png">

Images are missing from the index page.

/CC @tusharnt @girishshilamkar

[2017-07-01 11:57] girishshilamkar commented on #1531
@shuklanirdesh82 I quick fix is to copy https://github.com/infracloudio/docker-volume-vsphere/tree/gh-pages/documentation/images to https://github.com/infracloudio/docker-volume-vsphere/tree/gh-pages/images

And then we can figure out the long term solution.

[2017-07-01 19:39] govint commented on #1528
Get the status from doing a Get() call to the ESX service rather than using admin CLI for this. A function has been added in #1500 to return a map of volume properties which includes the status and attached-to fields also. That can be used for checking status unless we need to only use admin cli (like testing admin cli)

[2017-07-01 19:43] govint opened #1532 "Support a multi-writer option for volume create"
This is perhaps long pending and easily implemented as a volume create option to set the "multi-writer" flag on a VMDK in the VMX config scsix:y.sharing = "multi-writer". The only requirement is that the vmdk must also be created as a thick disk as dynamic growing is disallowed for a multi-writer disk. Otherwise this VMDK can be shared across VMs.

Also, state for a VMDK with this option set will

[2017-07-03 20:34] shuklanirdesh82 opened #1536 "tenancy.md is outdated and missing out information regarding _VM_DS and _ALL_DS"
https://github.com/vmware/docker-volume-vsphere/blob/master/docs/features/tenancy.md

Above file content is really *old* and missing out useful information. It hasn't updated since 03/30 and out of sync with Admin_cli.md.

- [ ] Need to address comments made at #1535

/CC @tusharnt @msterin

[2017-07-03 22:48] venilnoronha commented on #1113
I think it's better that the vendor packages are pulled in while building the binaries, rather than committing them to that directory, unless there's a good reason to do so.

[2017-07-04 00:53] girishshilamkar commented on #1531
It looks like since we build the docs and move to /documentation the relative path to images does not work. I am trying out absolute path, will send PR once i verify it.

[2017-07-04 04:46] govint commented on #1525
@shuklanirdesh82 this isn't needed, we are already using the log and gocheck has its own logging too.  Where is it needed to create log files of the e2e tests.

[2017-07-05 06:53] shuklanirdesh82 commented on #1525
The issue is meant for handling various log level. Is it supported currently?

[2017-07-05 11:30] govint commented on #1397
This is more a question vs. a bug needing a code fix. Closing and can be taken offline.

[2017-07-05 11:31] govint commented on #1321
PR #1500

[2017-07-05 11:31] govint commented on #1318
PR #1513

[2017-07-05 11:31] govint commented on #1328
PR #1537

[2017-07-05 18:26] lipingxue commented on #1437
Hi Govindan,
I have tried to reproduce it with NFS, but I cannot reproduce it. The following are my steps:

1. create a NFS datastore
[code]

2. create a vmgroup, set the "default_datastore" to the NFS datastore
[code]

3. create a volume on this NFS datastore
[code]

4. checked symlink,  the symlink is  correct.

[code]

Let me know if you think any step is missing in my repro, and let me know if

[2017-07-05 18:33] msterin commented on #1532
We already discussed in in #193 . The customer issue there was a regression  which  we fixed in 0.11.
but the issue has been raised there, and the explanation about why we should not do that was also there. What has changed ? Why are bringing it up again ?

To save the click, here is the point from  #193:

It is super dangerous and pretty much guarantees data corruption if multiwrite is allowed an

[2017-07-05 18:35] msterin commented on #1527
is it a request to wrap 'docker inspect' (CLI or API)  in some test util ?

[2017-07-05 18:39] msterin commented on #1469
At any rate, this is `NOT A BUG`. We should not allow volume deletion from VM not authorized.
So, the solution would be "add VM to the vmgrfoup and then delete the volume" or simply add "volume delete"  command to Admin CLI

[2017-07-05 18:47] venilnoronha opened #1538 "Refactor fs module"
Currently, the `fs` module is exported as a bunch of `func`s, so the following changes are suggested.

1. Create an `interface` with the necessary `func`s and have them implemented under a `struct`. [[discussion](https://github.com/vmware/docker-volume-vsphere/pull/1504#discussion_r125215070)]
2. Create a `func` to handle the default `fstype` selection for volume requests. [[discussion](https://gi

[2017-07-05 18:50] venilnoronha commented on #1538
/cc @pshahzeb @shaominchen

[2017-07-05 18:58] ashahi1 commented on #1527
@msterin Yes, plan is to write a test util for ene-to-end tests to get all volume properties

[2017-07-05 19:08] ashahi1 commented on #1397
Until we come to conclusion on whether properties of default vmgroup are modifiable, I think we should leave this issue open. Reopening this issue.

[2017-07-05 23:36] shuklanirdesh82 commented on #1531
fixed by #1541.

[2017-07-05 23:36] #1531 closed

[2017-07-06 01:02] shuklanirdesh82 commented on #1380
Sharing some notes from an offline discussion with @lipingxue and @shaominchen:

Script should take following things as an input parameter

1. `From`: base installation build version (expected value 0.14, 0.15 valid version values)
2. `To`: target installation upgrading to build ( expected value 0.14, CURRENT(TOT-top off the tree) )

**Note**: `CURRENT` tag is the special case where vib/plugin nee

[2017-07-06 01:13] shuklanirdesh82 commented on #1515
@ashahi1, @shaominchen & I discussed following approach while invoking `make test-all` locally.

1. Basic testbed (1 ESX + 1 VM) : run tests eligible for such configuration and print out nice message about test run and suggesting to use recommended testbed.

2. Recommended testbed (1 ESX + 2 VMs): makes sure required parameters (env. variables) are set correctly and run tests otherwise stop the ex

[2017-07-06 04:09] govint commented on #1525
Do we need multiple log levels given that most of the tests have been developed, is there a need to have a debug version of the tests. Preferably logs are always enabled for test code so we have the max. clues for a bug in case it happens.

[2017-07-06 04:13] shuklanirdesh82 opened #1545 "vDVS documentation related issues"
Some leftover items needs to be taken care.

- [x] image is missing from http://vmware.github.io/docker-volume-vsphere/documentation/docker-compatibility.html

<img width="910" alt="screen shot 2017-07-05 at 9 47 38 pm" src="https://user-images.githubusercontent.com/22988730/27895972-b34c09a4-61cb-11e7-9cf1-e685338e88b5.png">

- [x] ~propagates doc changes to gh-pages from vmware master and serves

[2017-07-06 16:19] #1341 closed

[2017-07-06 17:16] #1332 closed

[2017-07-06 17:28] #1522 closed

[2017-07-06 17:32] #1536 closed

[2017-07-06 21:17] ashahi1 commented on #1463
Fixed as part of #1530

[2017-07-06 21:17] #1463 closed

[2017-07-06 21:18] ashahi1 commented on #1398
Fixed as part of PR #1530

[2017-07-06 21:18] #1398 closed

[2017-07-06 21:38] shuklanirdesh82 opened #1548 "managed plugin build failure seen intermittently on CI"
CI failure: https://ci.vmware.run/vmware/docker-volume-vsphere/916

[code]

/CC @govint @msterin

[2017-07-06 22:36] luomiao opened #1551 "Refactor and rename of vDVS code"
In order to add the new shared plugin, the current layout will need some changes in order to better utilize common code and eliminate confusions.

A brief plan of the new layout:
[code]

[2017-07-06 22:44] pshahzeb commented on #1551
Since we are renaming this, how about calling it vsphere instead of vmdk

[2017-07-07 01:31] #1436 closed

[2017-07-07 01:35] luomiao commented on #1551
@msterin Your call please! vmdk or vsphere plugin?

[2017-07-07 02:31] #1378 closed

[2017-07-07 03:51] venilnoronha opened #1553 "Skylight performance improvement - Investigate accelerating fs_windows implementation"
## Description
The `fs_windows.go` and `device_watcher_windows.go` implementations heavily rely on `PowerShell` scripts to perform `WMI` operations, due to lack of a functional `Go` library to do the same. These `PowerShell` scripts are also embedded within the `.go` files as of today.

The following changes are suggested, in priority order.
1. Replace `PowerShell` scripts with native/third-party

[2017-07-07 03:51] venilnoronha commented on #1553
/cc @msterin @shaominchen @pshahzeb

[2017-07-07 04:53] govint commented on #1551
managed_plugin could be plugin_config (thats all it has)

client_plugin could be managed_plugin

vmdk_plugin could be vmdk (its a plugin as we know :-))

shared_plugin could be shared (needs a different name as it looks like its a shared component with the other drivers) or _network_

The names for drivers are a mix of volume type and platform type - vmdk and shared are volume types and photon is

[2017-07-07 06:44] luomiao commented on #1551
To make progress, let's use shared_plugin for now and we can update it when we have a better name!

[2017-07-07 06:53] luomiao commented on #1551
managed_plugin could be plugin_config: I am ok with this one.
client_plugin could be managed_plugin: so since we have esx_service, this client_plugin means it's the codes that are running on docker clients. So I still think client_plugin is a better name.

[2017-07-07 07:24] msterin commented on #1551
Client plugin is a generic code, has nothing to do with managed. Current ./plugin is managed plugin and thus is in rename list. Please.keep client_plugin

[2017-07-07 08:34] shuklanirdesh82 commented on #1548
There is a possibility of the race condition due to drone CI system. We are consuming 8 drone workers and `validate-and-serialize.sh` is responsible to make them serial by making sure only one CI run is possible any given time.

There is likely to be an issue more than one worker node ends up getting running at the same time and might be causing the issue.

As a next step more logging should be ad

[2017-07-07 08:38] shuklanirdesh82 opened #1556 "Turnoff future timestamp warning from tar (while building managed plugin)"
As seen in [CI run ](https://ci.vmware.run/vmware/docker-volume-vsphere/934), this floods CI console which makes debugging harder.

[code]

[2017-07-07 15:03] msterin commented on #1548
Note: the failed runs have the following from validate-and-serialize.sh : `Mark Sterin:
govc: Error caused by file /vmfs/volumes/57564dec-d9876af8-b29e-0cc47ac34f38/docker-volume-vsphere/ongoing/910`

[2017-07-07 17:33] msterin commented on #1553
Thanks for the list of API choices. It seems that as long as our PS implementation is not a perf bottleneck (maybe pre-load PS to avoid 1st time perf hit?) we should be fine with PS, but let's keep this Issue around.

[2017-07-07 17:49] venilnoronha commented on #1553
Since we already have a fully functional plugin built in `Go` (for Linux of course), I would just implement the device handling logic in `C` or `C#` and use it within the `Go` plugin, to maximize reuse.

We could discuss more if required.

[2017-07-07 17:57] lipingxue commented on #1315
https://github.com/moby/moby/issues/33529 is closed and another issue https://github.com/docker/cli/issues/274 in docker/cli repo is created to track this. I have created a PR https://github.com/docker/cli/pull/306 for this.

[2017-07-07 17:59] msterin commented on #1553
yep, that's even better. Not sure how C# cooperates with GO though, I suspect it's more challenging that C due to run time complexity. Let's see how PowerShell performs (at the end of a day it hits the same managed .net objects and WMI layer so  maybe it's OK) and go from there.

[2017-07-07 18:50] venilnoronha opened #1558 "Add a build script for the Windows plugin"
It takes too many steps to manually build and use the Windows plugin, so we need a script.

See [discussion](https://github.com/vmware/docker-volume-vsphere/pull/1540#pullrequestreview-48671962) in PR #1540 for more information.

[2017-07-07 18:55] venilnoronha opened #1559 "Replace diskpart (format) script with a PS script"
Currently, `diskpart` is used for formatting a disk in the Windows plugin. This must be replaced with a `PowerShell` script for better performance.

See [discussion](https://github.com/vmware/docker-volume-vsphere/pull/1540#discussion_r126206563) in #1540 for more information.

[2017-07-07 20:12] govint opened #1560 "VerifyAttachedStatus() encounters govc error : No such Vm"
From CI run https://ci.vmware.run/vmware/docker-volume-vsphere/965,

govc vm.info -vm.ip=<ip address> fails for a VM that was suspended and resumed.

Causes test errors but can't confirm that its only for suspended and resumed VMs. The error didn't happen for the same VM for the other tests that kill and restart the VM.

2017/07/07 14:15:07 Creating volume [vmlistener_test_volume_774882] on VM [19

[2017-07-07 20:55] govint opened #1562 "CI package install fails with Failed to create ramdisk vibtransaction"
Happened in multiple CI runs, newest one is https://ci.vmware.run/vmware/docker-volume-vsphere/958

mkdir: can't create directory '/tmp/docker-volume-vsphere': File exists
Errors:
 [VibDownloadError]
 ('/tmp/docker-volume-vsphere/vmware-esx-vmdkops-0.15.d800c6a.vib', '/tmp/vibtransaction/tmp.vib', '[Errno 2] Local file does not exist: /tmp/docker-volume-vsphere/vmware-esx-vmdkops-0.15.d800c6a.vib'

[2017-07-07 20:57] #1355 closed

[2017-07-07 22:03] shuklanirdesh82 commented on #1560
@govint Is it working fine while running against your local testbed?

Such kind of error comes when VM is not available on network in short it is not reachable.

[2017-07-07 23:35] shuklanirdesh82 commented on #1548
I am using this issue to investigate further to resolve race issue on CI run. First, I will send out a PR containing some additional log statement that helps debugging further.

[2017-07-08 00:20] #1356 closed

[2017-07-08 00:42] shuklanirdesh82 commented on #1525
Agree! logger integration is nice to have and we have decided to integrate the logger at some point.

reference: https://github.com/vmware/docker-volume-vsphere/blob/master/tests/utils/esx/esxcli.go#L18

There are many logging statement commented out and waiting for the logger integration.

One more example I came across: https://github.com/vmware/docker-volume-vsphere/commit/f5837a9ddda07fab220fe

[2017-07-08 02:14] shuklanirdesh82 commented on #787
test-esx tests are making sure to use unique names. creating volume with build number is another way to improve debugging. As we are using snapshot mechanism this issue is no longer needed.

Closing as `wontfix`. Please feel free to reopen with more detail if there is a strong need.

[2017-07-08 02:14] #787 closed

[2017-07-08 02:59] #1559 closed

[2017-07-08 11:17] govint commented on #1560
Not really, of the three newly added tests the one before passed with the same check on the same VM, while one  test failed.

this issue is a blocker if its going to delay getting tests submitted.

[2017-07-09 15:18] govint opened #1566 "[Test]VerifyAttachedStatus() assumes only one volume with a given name can exist in the system fails verification"
VerifyAttachedStatus() is making the assumption that only one volume can exist across datastores with a particular name. The result is verification fails and the CI errors out for a test thats using volumes with the same name on multiple datastores. VerifyAttachedStatus() should take the datastore as a parameter and verify the specific volume alone.

[2017-07-10 10:32] govint commented on #1510
Will be fixed via #1566

[2017-07-10 10:32] #1510 closed

[2017-07-10 10:36] govint commented on #1499
Actually, this is a good use case for vSphere where the images can be located on a single disk thats attached to multiple docker hosts. It may be used as a multi-writer VMDK and allow docker hosts to share the images that docker is pulling on those VMs. Allowing much less storage to be used across a set of docker hosts as well.

[2017-07-10 15:30] govint commented on #1560
Debugged this further and looks like govc is getting an error when getting VM name from the IP address. Added a delay after the suspend resume and able to get the test pass. Closing with changes in #1513.

[2017-07-10 15:30] #1560 closed

[2017-07-10 17:32] #1558 closed

[2017-07-10 20:30] #1521 closed

[2017-07-10 22:21] #1321 closed

[2017-07-11 00:08] venilnoronha commented on #1553
Here are some results obtained from a preliminary profiling of the volume creation workflow.

**Docker Plugin**

The following functions were timed using [`go tool pprof`](https://golang.org/pkg/net/http/pprof/).
- `VMDKOps.create` ~7 seconds
- `VMDKOps.attach` ~2 seconds
- `VMDKOps.detach` ~5 seconds
- `fs.DevAttachWait` ~18 seconds (fully used on `fs.getDiskNum`)
- `fs.Mkfs` ~26 seconds (~18 sec

[2017-07-11 00:15] ashahi1 commented on #1470
- [ ] Create a single suite for all tests that are doing config init/remove so we initialize and remove the DB once at the test-suite level rather than each test doing it.

For above task, vmgroup tests are spread across four different files:
- basic_test.go
- defaultvmgroup_test.go
- vmgroupmisc_test.go
- vmgroups_test.go

I am thinking of following solution which involves having a single VMgroup

[2017-07-11 02:07] luomiao opened #1571 "E2E tests require root as username for VMs"
The current E2E tests assume that the username is always root for the testbed VMs.
However this is not necessarily true.
A user should be able to have other usernames on the testbed VMs with enough permission to run the e2e tests.

Maybe introducing more env variables for users to provide username/password of testbed VMs?

[2017-07-11 04:33] #1012 closed

[2017-07-11 04:39] govint commented on #1571
As long as the setup is done to allow commands to be executed on other guests and the ESX the tests should work as is as a non-root user. Root access isn't needed to run the tests.

[2017-07-11 04:45] #1328 closed

[2017-07-11 05:16] #1458 closed

[2017-07-11 06:35] luomiao commented on #1571
but the InvokeCommand function inside ssh.go is hard-coded to use root as username.

[2017-07-11 07:11] govint opened #1572 "Move IsVDVSRunningAfterVMRestart to the util/docker"
IsVDVSRunningAfterVMRestart() is added to utils/esx via #1563, but the managed plugin should be moved to utils/docker as its a docker managed plugin and it also needs to check that docker itself is up after a VM is powered on besides checking for just the plugin.

The check itself is weak, it checks if a process exists for the plugin, while it takes a good 20 seconds after the plugin starts for it

[2017-07-11 07:13] govint commented on #1571
Ok, it doesn't need that, should be changed to get user name and use that. But then there has to be that user on each docker host. Root is just easy to use as its there on every node.

[2017-07-11 14:27] blop commented on #1532
What is the suggested option to share a volume across multiple containers hosted on different vm sharing the same datastore ?

Currently we can attach the volume in multiple containers only if those containers are started on the same vm (same swarm node).

[2017-07-11 15:32] #1528 closed

[2017-07-11 17:25] govint commented on #1532
From my discussions with the team that supports multi-writer disks, these VMDKs can be used simultaneously from multiple VMs (for both read and write IOs). Any collaboration on how the data is managed is up to the applications thats using these disks.

[2017-07-11 18:53] shaominchen commented on #1470
It makes sense to have separate files (or test suites) for default vmgroup tests and user-defined vmgroup tests. I'm not sure if we really need a separate file for miscellaneous tests related to vmgroups - what are those exactly? A vmgroup should be either default or non-default.

As for "Config init/remove should be done only once", I don't think this is really critical or even necessary since ou

[2017-07-11 19:00] msterin commented on #1532
to clarify - only clustered apps doing their own distributed locks will be able to use it (e.g. .Oracle RAC). Any attempt to access these disks as a mounted FS will either fail on mount (if a FS marks superblock as mounted) or will corrupt the FS

[2017-07-11 19:26] tusharnt commented on #1545
@girishshilamkar Will you please take care of this?

[2017-07-12 04:59] govint commented on #1532
Native multi-writer disks are exactly to be used with apps that manage data level locking, no doubt about that. Can surely be used by apps that do support such capability.

[2017-07-12 06:01] shuklanirdesh82 commented on #1562
duplicate to #1548

It was happening due to CI race issues.

[2017-07-12 06:01] #1562 closed

[2017-07-12 09:23] govint commented on #1515
@shuklanirdesh82 - is this issue about identifying tests that are good to run with 1 VM and 1 ESX? Make a separate target for those to be run?

There are two issues here::

1. Using 1VM + 1ESX vs. 1ESX + 3VMs - I'm not sure why this is needed, a developer who can create 1VM + 1ESX can create two more VMs, set up a swarm and run their tests. And most likely those set ups will live for a long enough

[2017-07-12 12:49] #1318 closed

[2017-07-12 16:51] ashahi1 opened #1577 "CI run failed as e2e tests could not finish within 30 mins"
https://ci.vmware.run/vmware/docker-volume-vsphere/1152

[code]

[2017-07-12 17:24] shaominchen commented on #1577
Right now we have bumped up the timeout limit from 30 mins to 40 mins. The intention of this PR is to track the improvement of e2e tests to try to reach the goal of 30 mins of total running time.

[2017-07-12 18:36] pshahzeb opened #1578 "Adding Windows VM to CI testbed"
Similar to photon and ubuntu VMs, we need to have a windows VM so that e2e tests can be run against windows implementation in automated fashion.
Important from the point of view project skylight (support for windows)

[2017-07-12 20:55] ashahi1 commented on #1343
Merged as part of PR #1564

[2017-07-12 20:55] #1343 closed

[2017-07-12 20:56] ashahi1 commented on #1336
Merged as part of PR #1564

[2017-07-12 20:56] #1336 closed

[2017-07-12 21:22] pshahzeb commented on #1578
As of now we need a make target something like test-windows that will run the tests against Windows VM.
As per whatever implementation we do, we can add relevant test under this target to be run.
To start with there can be only one windows VM (lets say to test volume creation).
With more implementation we can add more tests and probably add second windows VM if need be.
At the end of the code comp

[2017-07-12 21:38] ashahi1 commented on #556
vDVS  populates datastoreCache from the actual datastores list ( si.content.rootFolder.childEntity[0].datastoreFolder.childEntity) so DS clusters would be declined before even trying. We also create VMDK using a vmdkpath on a local datastore.

DS Clusters (as a part of Storage DRS) are not available on individual ESX and are a VC feature, so it's not that easy to implement in the current architect

[2017-07-13 01:49] shuklanirdesh82 commented on #1515
Thanks @govint for bringing this point!

@msterin @shaominchen and I discussed about following approach that we should do without compromising local testing effort. As you pointed out sticking with 1ESX +3VM there are 2 different areas to achieve the plan:

- Area 1: Testbed automation for an external contributor
- Area 2: Test cases categorization

<br/>

- **Area 1:** Testbed automation for an e

[2017-07-13 06:49] govint opened #1580 "Add a uuid based verification of attached state for a volume"
govc vm.Info -vm.ip is the command used to fetch VM meta-data and it needs the calling test functions to have a sleep-wait for a few seconds before issuing the govc command. Instead use the waitip option to govc and it does the wait instead.

The time delay isn't removed completely but it may make it more precise than to wait for a fixed number of seconds in the test code.

[2017-07-13 12:45] govint commented on #1580
Tried this out but still hitting the "no such VM" error with  govc,
2017/07/13 12:18:27 Fetching full name for volume [vmlistener_test_volume_823192] from VM [10.161.248.164]
2017/07/13 12:18:28 Full volume name: [vmlistener_test_volume_823192@sharedVmfs-0]
2017/07/13 12:18:32 govc vm.info --waitip=true -vm.ip=10.161.248.164 -json | jq -r .VirtualMachines[].Name
2017/07/13 12:18:32 Expected Attach

[2017-07-13 12:52] blop commented on #1532
I understand, as the vmdk volume created by this plugin is formatted using a traditional file system, it's not meant to be shared across / mounted from multiple machine.

I'm looking for the most simple way to store binary object in the already redundant and distributed vmware vsan that I have. I don't need a filesystem actually. The goal is to be able to scale our application inside a docker swar

[2017-07-13 13:14] govint commented on #1580
Closing for now, govc doesn't seem to be able to wait for the VM to acquire an IP from multiple test runs. Will raise an issue on govc.

[2017-07-13 18:15] msterin commented on #1532
yeah, S3 API in VSAN directly would be the way to go. Unfortunately I don't know if it's planned.

For now, [this](https://vmware.github.io/docker-volume-vsphere/documentation/s3-object-storage.html) may be a good  workaround, depending on your IO patterns.

[2017-07-13 20:12] blop commented on #1532
Yup. I'm evaluating minio too ;-)

I will either use this, or simply setup one VM with a NFS Server (because it seems not possible to run it inside a swarm for now, missing privileged mode).

[2017-07-13 20:18] blop opened #1583 "vSphere + Docker-Machine + Swarm + docker-volume-vsphere"
Hello,

I'm using docker-machine to provision VM as swarm nodes.

I saw there is a VMware Photon OS which should be "optimized" for the vSphere environment.
I will try to see if I can provision VM with Photon using docker-machine (not tried yet).

Also, I was wondering if there is any preconfigured image (Photon OS or other), which comes preconfigured with docker-volume-vsphere ?

The idea is to b

[2017-07-13 20:31] lipingxue commented on #1520
I discussed it with Sam, since the product behavior  regarding the default vmgroup is still under discussion and we have not reached the conclusion yet (see #1397 ), so move this issue to future.

[2017-07-13 21:14] shaominchen commented on #1505
I've figured out the root cause. It has been very confusing that the same test steps always pass manually, but fail in automatic run. The truth is: the govc poweroff command is doing a real abrupt power off on the given VM, but the power off button triggered from NGC UI is actually doing a guest shutdown (by default). So, when we run the test steps manually (by clicking power off from UI), the VM

[2017-07-13 21:27] msterin commented on #1532
@blop - yes, server file systems (NFS, CIFS) would still do wonders :-).
Samba does not require privileged mode and fails over fine in swarm, you can feed it a docker-volume-plugin volume and this might cover your use case too. We are currently working on"multiple-containers shared access to vSphere storage" using this approach.

[2017-07-13 22:07] shaominchen opened #1586 "Why using govc CLI instead of govmomi?"
This question was raised in a PR review discussion: https://github.com/vmware/docker-volume-vsphere/pull/1585#discussion_r127342230

Why are we not using govmomi directly? Is it because govc CLI is easier to integrate with?
@shuklanirdesh82 @msterin

[2017-07-14 00:28] pdhamdhere commented on #1583
@blop You can have docker volume plugin installed in OVF/OVA image that you use with docker-machine driver. Alternatively, you can install docker-volume-plugin during startup with following simple command;

`docker plugin install --grant-all-permissions --alias vsphere vmware/docker-volume-vsphere:latest`

[2017-07-14 04:51] govint commented on #1515
We could work with the photon team to help them create the OVA with the plugin installed, but I don't think we should be maintaining OVAs.

I'll work on creating the test bed with inputs as:
1. ESX IP available - create the swarm cluster of 1ESX and 3 VMs, with plugin installed on each and the service on the ESX host.
1. Cluster already available - verify that docker swarm cluster is present and i

[2017-07-14 17:27] ashahi1 commented on #556
Fixed as part of PR #1582

[2017-07-14 17:29] tusharnt commented on #1578
This needs to be fixed ASAP in order to enable feature testing for Project Skylight.

[2017-07-14 17:39] tusharnt commented on #1577
If tests consistently fail even after bumping up the timeout limit to 40 min then we will target this with the priority.

[2017-07-17 06:03] govint commented on #907
PC platform issues will be picked up later as needed. Closing.

[2017-07-17 06:03] #907 closed

[2017-07-17 06:04] govint commented on #1147
PC platform issues will be fixed later if needed.

[2017-07-17 06:04] #1147 closed

[2017-07-17 06:05] govint commented on #1525
Closing for now, later depending on how the test code is shaped up can revisit and figure how test logs are to be addressed - gains vs. effort.

[2017-07-17 06:05] #1525 closed

[2017-07-17 10:19] govint commented on #1580
1. Add a VerifyAttachedStatusByUuid() to allow fetching VM name by UUid and using that to verify attached state.
1. (1) saves the 15s timeout after a VM suspend where govc returns error trying to get VM name with the IP.
1. Move the sleep in esxcli.go:WaitForExpectedState() and vdvs.go:IsVDVSRunning() to after the check on the required state vs. sleeping fist and then checking.
1. (4) save at leas

[2017-07-17 10:58] govint commented on #1586
One advantage of using the CLI vs. govmomi is the test code is simpler from not having to traverse the object hierarchy and hence more code to fetch data. At least that part of the test code is really small now with only command invocation and output parsing in use.

[2017-07-17 16:24] msterin commented on #1586
yeah, but it does screen scraping, , doesn't it ? Or does govc spit out xml or json ?

[2017-07-17 16:52] shuklanirdesh82 opened #1589 "Generate an instrumented vDVS plugin binary"
As per https://github.com/golang/go/issues/16537#issuecomment-303218184 ; `go build` is not supporting to generate instrumented binary to capture coverage for plugin code. The approach mentioned at [external testing](https://www.elastic.co/blog/code-coverage-for-your-golang-system-tests) stands out as workaround until go tooling supports by default.

To achieve code coverage for vDVS plugin, we ha

[2017-07-17 16:52] shaominchen commented on #1505
This is confirmed not a product issue, so moving back to P1. The fix is ready, but being blocked on the failure on one of CI testbeds.

[2017-07-17 16:54] shuklanirdesh82 opened #1590 "Generate a managed plugin that uses instrumented vDVS plugin binary"
since docker 1.13 vDVS is installed as managed plugin, there should be a way to generate managed plugin that consumes instrumented vDVS test-coverage plugin binary.

[2017-07-17 16:58] shuklanirdesh82 commented on #869
the original issue was filed to keep track off above issue. I have verified that code coverage is captured correctly whenever the execution is done via RPC over socket/remote docker end point.

#1589 is raised to track this issue.

#1590 is raised to achieve this.

[2017-07-17 16:58] #869 closed

[2017-07-17 17:26] tusharnt commented on #1583
This is already tracked by issue #634

[2017-07-17 17:34] tusharnt commented on #1357
[Cross ESX multi tenancy feature](https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/admin-cli.md#config-authorization-db-configuration) is experimental.So pushing issue on the back burner for now.

@vxav Please take a look at our current design. We would love to hear your feedback!

[2017-07-17 17:36] tusharnt commented on #1226
[Cross ESX multi tenancy feature](https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/admin-cli.md#config-authorization-db-configuration) is experimental.So pushing this issue on the back burner for now.

[2017-07-17 17:48] tusharnt commented on #556
[Known issues section ](http://vmware.github.io/docker-volume-vsphere/documentation/known-issues.html)  also needs to be updated.

[2017-07-17 17:48] shuklanirdesh82 opened #1591 "Add steps to update gh-pages manually to keep it sync with master/doc folder"
any document related changes goes to vmware master should be copied manually to gh-pages until automation is in place.

/cc @ashahi1  @tusharnt

[2017-07-17 17:52] tusharnt commented on #1370
Issue #1545 tracks the action item to fix doc release process.

@shuklanirdesh82 to file separate issue for the following
- Layout of docs folder needs to be revisited.

[2017-07-17 17:52] #1370 closed

[2017-07-17 18:03] tusharnt commented on #1545
@girishshilamkar plans to address this by 7/21/17.

[2017-07-17 18:18] tusharnt commented on #1453
Related to Cross ESX multi tenancy feature that's currently experimental. So putting it on the back burner.

[2017-07-17 18:24] tusharnt commented on #1191
[Cross ESX multi tenancy feature](https://github.com/vmware/docker-volume-vsphere/blob/master/docs/user-guide/admin-cli.md#config-authorization-db-configuration) is experimental.So pushing this issue to the back burner for now.

[2017-07-17 18:28] tusharnt commented on #1327
@ashahi1 to just document this issue as one of the known issues.

[2017-07-17 18:32] #1325 closed

[2017-07-17 18:35] shuklanirdesh82 commented on #1325
as mentioned in https://github.com/vmware/docker-volume-vsphere/issues/1325#issue-233001364 .. several approaches were followed and concluded that running test parallel through drone CI would be a suitable approach and #1260 is taking care of this one so close this issue.

[2017-07-17 19:00] lipingxue opened #1592 "Blog for multi-tenancy feature"
This blog will talk about multi-tenancy feature on single ESX host.

[2017-07-17 21:42] shuklanirdesh82 opened #1593 "Make vDVS plugin code compliant with golang standards and code style guidance"
Please refer for more information: https://github.com/vmware/docker-volume-vsphere/pull/1574 Raising this issue to make existing files compliance the golang convention.

Reference: https://github.com/vmware/docker-volume-vsphere/pull/1574#issuecomment-315170940

Lots of code is not compliant with standards and code style guidance.

The golang.org says in https://blog.golang.org/package-names
[code

[2017-07-17 21:47] shuklanirdesh82 commented on #1593
@tusharnt I am raising this as P0 for current sprint so it will be easier to guard new code with the proposed guideline.

[2017-07-17 22:59] #1380 closed

[2017-07-17 23:45] shuklanirdesh82 opened #1595 "Add new target for windows vm (Install plugin, invoking unit test on windows VM)"
Reference: https://github.com/vmware/docker-volume-vsphere/issues/1578#issuecomment-314900981

As of now we need a make target something like test-windows that will run the tests against Windows VM.
As per whatever implementation we do, we can add relevant test under this target to be run.
To start with there can be only one windows VM (lets say to test volume creation).
With more implementation w

[2017-07-17 23:54] lipingxue commented on #1429
I discussed with Nirdesh @shuklanirdesh82, item 1 and 2 in this issue need to update https://github.com/vmware/docker-volume-vsphere/wiki/Demos.
We think we should not do that and the reasons are:
1. We already have instruction on how to install (http://vmware.github.io/docker-volume-vsphere/documentation/install.html)
2. user guide (admin-cli.md) includes the information on how to manage the whol

[2017-07-18 00:01] pdhamdhere commented on #1429
Agree on demos. Delete them.

We should address

[2017-07-18 00:06] shuklanirdesh82 opened #1597 "Add plugin installation and test target for windows vm to drone script"
After having support from #1595 , drone build script needs to be updated to run tests against windows vm once.

/CC @venilnoronha @pshahzeb @tusharnt

[2017-07-18 00:07] shuklanirdesh82 commented on #1578
tracking at #1595 and #1597

[2017-07-18 00:13] #1591 closed

[2017-07-18 00:16] msterin commented on #1429
+1 either delete. or if we love the demos, we can add a small note saying "syntax changes since the demo recording" :-) . P3

[2017-07-18 01:41] msterin commented on #1553
Nice work getting the numbers  ! It feels pretty slow... 18 seconds to get a disk number?
Not a blocker to complete end to end functionality, but does not seem reasonable for anything but demo.
//CC @pdhamdhere @tusharnt @pshahzeb @shaominchen

[2017-07-18 02:26] venilnoronha commented on #1553
I'll also try and publish numbers from nimbus. The above ones come from a local ESX.

[2017-07-18 04:10] govint commented on #1586
Json format is what we do today for the few commands used.

[2017-07-18 06:44] msterin commented on #1553
Also it's interesting to compare some numbers (e.g. devAttach) StackExchange implementation. 18 sec feel waaaay too long

[2017-07-18 11:28] JoeriVeder opened #1599 "Current license or ESXi version prohibits execution of the requested operation."
After following the install guide i can't create any volumes.

When i run:

[code]

It returns an error response:

[code]

If have been looking around to see if i actually need a special license, but as far as i could see i don't . Right now i'm using a free license. Could you confirm that with this license i should be able to run this plugin?

On the Esxi host when i follow the "/var/log/vmware/v

[2017-07-18 11:31] Gyvastis commented on #1599
Having the same issue here with a similar approach. Any ideas on what could be wrong?

[2017-07-18 12:20] govint commented on #1515
I'm done with the setup part of this issue and will post the PR tomorrow.  This allows the user to run a make target to set up a config of 1 master + 2 workers nodes with docker swarm initialized (can be excluded if needed, leaving just three nodes with docker installed on those) and creates a manifest of the master/worker IPs and env. settings that the user can init into their env and run the tes

[2017-07-18 12:42] govint commented on #1599
@JoeriVeder, thanks for reporting the issue you are observing, can you describe the set up you have for the ESX and the datastores in use. Are these local disks that you are using for the datastores?  Or USB/NFS? May be unrelated, is there a reason why the configuration DB is configured as multi-node mode vs. local?

[2017-07-18 12:57] govint commented on #1599
Basically, the free license disallows operations that need write access to the host (in this case creating a virtual disk) via, for example, the vSphere API, which is what is used here. Is it possible to use an evaluation license at least in order to be able to use the plugin.

[2017-07-18 13:03] JoeriVeder commented on #1599
@govint, Thank you for your quick reply!

I have three physical Esxi machines. On each machine i have one vm running as a member of my docker swarm. What I'm trying to achieve it that when one node in the swarm fails the others can still access the volume. So it should be a shared volume among the servers.

On these swarm nodes i'm running Docker version 17.06.0-ce, build 02c1d87.

I'm don't know

[2017-07-18 16:57] shuklanirdesh82 opened #1601 "Resolve golint error"
`make build` is flagging following warning

From CI: https://ci.vmware.run/vmware/docker-volume-vsphere/1234
[code]

/CC @govint

[2017-07-18 17:34] lipingxue commented on #1429
OK. I have delete the demo from the wiki (https://github.com/vmware/docker-volume-vsphere/wiki).
PR #1603 is out to fix the item 3.

[2017-07-18 18:48] shuklanirdesh82 commented on #1586
In addition to https://github.com/vmware/docker-volume-vsphere/issues/1586#issuecomment-315724606 (Thanks @govint ) .. the reason behind leveraging govc to keep in sync with other CLI approaches; we are using docker CLI, admin CLI so thought it would be better and lighter to use govc CLI. `govc` has argument support for `-json=false|true (by default)` and json parser that we use to grab the requir

[2017-07-18 18:51] shuklanirdesh82 commented on #1586
As per my understanding importing `govmomi` libraries requires to add entry to `vendor` folder, better to avoid for testing effort. If there is a strong opinion on using govmomi then we leave this issue open and enhance out test libraries in the future.

Please feel free to correct me about adding entry to `vendor` for dependency is not correct.

[2017-07-18 19:32] msterin commented on #1586
1. I don't see a problem in adding govmomi to ./vendor. We already have  plenty there.
2. we are using 'docker' CLI because allegedly it gives us a better test coverage and "user" experience. I am not sure I agree, but docker CLI does wrap up sequences of API calls so it makes sense to check them.
same args to not apply to `govc`. We do not have "other CLI approaches"
3.with intermediate json, gov

[2017-07-18 20:55] #1160 closed

[2017-07-18 21:08] #1556 closed

[2017-07-18 23:01] shaominchen commented on #1586
Closing this as per above discussion - we don't have strong motivation to switch to govmomi as of now.

[2017-07-18 23:01] #1586 closed

[2017-07-18 23:51] venilnoronha opened #1606 "Volume operations fail on Windows for datastore names containing capital letters"
As Windows is case-insensitive, Docker converts volume names to lower-case before providing it to the `vsphere` driver API. Therefore, commands like `docker volume rm volname@Local2` fail to remove volumes as the datastore name itself contains uppercase characters i.e. `Local2`, but Docker gives us `local2`.

[2017-07-19 00:14] venilnoronha commented on #1553
The numbers have improved significantly after restarting ESX.

**Docker Plugin**
- `VmdkOps.Create` ~2 seconds --- previously ~7 seconds
- `VmdkOps.Attach` ~1 seconds --- previously ~2 seconds
- `VmdkOps.Detach` ~4 seconds --- previously ~5 seconds
- `fs.DevAttachWait` ~2 seconds --- previously ~18 seconds (~2 seconds on `fs.getDiskNum` --- previously ~18 seconds)
- `fs.Mkfs` ~8 seconds --- previo

[2017-07-19 04:20] girishshilamkar commented on #1545
@shuklanirdesh82 For the "Documentation Version" it is the old content which I picked up from existing documentation. I am not sure where the old releases are. Please send details. Thanks!

[2017-07-19 04:24] Jamlee opened #1607 "How to use the docker-volume-vsphere plugin with coreos (docker 1.2)"
Hi:
   My docker use coreos as the host.  the version is the docker 1.12.6, so there is no `docker plugin` command.

Can i install the plugin use `docker run -v /run/docker/libcontainerd/docker-containerd.sock:/xxxxxx.sock  vmware/docker-volume-vsphere` ?

[2017-07-19 04:51] govint commented on #1607
@Jamlee, the preferred way would be to upgrade Docker to the current stable version on CoreOS and use the managed plugin with that.

[2017-07-19 07:18] Jamlee commented on #1607
@govint the laster version (1465) of coreos also the docker version 1.12.6. it is not possbile for to change the docker version.

[2017-07-19 12:01] Nagoo opened #1608 "Allow multiple Docker Hosts accessing same volume"
Currently vSphere Volume (VMDK) formatted with local FS can only be used by one Docker Host (VM) at any point in time.

It will be quite useful to make it able to have several Docker Hosts connected to the same volume.

By having this, you could have several services running in a Docker Swarm cluster moving around the different nodes using the same volume. You will not have to add constraints to d

[2017-07-19 12:26] govint commented on #1607
@Jamlee, ok but the supported way to get to using the plugin is to use Docker version 1.13 (17.03) or later with the managed plugin. Suggest trying using another Linux distro other than CoreOS if that works.

[2017-07-19 12:29] govint commented on #1599
@JoeriVeder @Gyvastis, can you'll confirm that the plugin works ok with an evaluation license of ESX?

[2017-07-19 14:02] #1429 closed

[2017-07-19 14:13] shuklanirdesh82 commented on #1545
@girishshilamkar with the new layout and directory structure document html (serving files) should be preserved in the respective folder.

[2017-07-19 16:27] pdhamdhere commented on #1607
@Jamlee Check out [issue](https://github.com/vmware/docker-volume-vsphere/issues/730) for workaround

[2017-07-19 16:58] pdhamdhere commented on #1608
@Nagoo +1

We are actively looking into this. Stay tuned. Feel free to reach out to containers@vmware.com for more details.

[2017-07-20 02:30] girishshilamkar commented on #1545
@shuklanirdesh82 Sorry I don't understand. We have added jekyll-docs folder and it probably needs to preserved. I am not sure what the old process was but only change would be to preserve jekyll-docs. Hope this answers your question.

[2017-07-20 03:43] #1607 closed

[2017-07-20 06:55] govint opened #1612 "Add sshpass to the vibauthor container"
Presently the vibauthor container used to run the builds has all the tools that are needed for the build. As part of #1515 a new make target is being added to allow a developer to deploy a testbed (1master + 2 workers) and then deploy the plugin on those. Thus allowing the developer run all their tests on the testbed without having to set those up manually.

Its convenient to use the vibauthor con

[2017-07-20 06:55] govint commented on #1515
Depends on #1612

[2017-07-20 19:58] JoeriVeder commented on #1599
@govint I would like to try this, but I'm not sure how to get an evaluation license. I tried to get one via the vmware website an registered for one, but instead of a different license key I only got the option to download esxi (I guess pre evaluated). This would mean I would have to reinstall everything.

Do you know how/where I can get a evaluation license key, so I can test this?

[2017-07-20 21:26] #1601 closed

[2017-07-20 22:14] ashahi1 commented on #556
http://vmware.github.io/docker-volume-vsphere/documentation/known-issues.html is updated.
Closing this issue.

[2017-07-20 22:14] #556 closed

[2017-07-20 22:26] msterin commented on #1553
The rumor has it mount/unmount takes up to 5 sec. We suspect it's due to starting Powershell for each request.
This Issue is to accelerate it. One of the approaches is to check https://github.com/gorillalabs/go-powershell or similar approach and keep PS around.  We need to get mount to sub-0.5 sec range.

[2017-07-21 01:11] ashahi1 opened #1615 "File system for created volume is N/A"
Steps:
1. Verified that there are no volumes.
2. Ran a container by passing -v option - Command throws an error ```docker: Error response from daemon: create Vol22@sharedVmfs-0: Post http://%2Frun%2Fdocker%2Fplugins%2Fa2341bfd26d15ba333e64eb30eb53e8174d87716ed1168313e9fecc779f7b759%2Fvsphere.sock/VolumeDriver.Create: http: ContentLength=42 with Body length 0.```
3. Admin cli and docker cli lists t

[2017-07-21 04:40] govint commented on #1615
The last logs from both the service and the plugin show that the volume was attached to ubuntu VM2.2 for formatting and there are no more plugin logs after that. Obviously there won't be an FS on the volume as formatting hasn't completed.

2017-07-20 17:49:52.023570077 -0700 PDT [INFO] Attaching volume and creating filesystem fstype= name="Vol22@sharedVmfs-0"
2017-07-20 17:49:52.531810723 -0700 PD

[2017-07-21 04:52] shuklanirdesh82 commented on #1615
@govint  shouldn't we need to block the volume creation from `docker run` command?

[2017-07-21 05:48] ashahi1 commented on #1615
@govint Yes, I was trying to remove volume sVmotionVol2233

[2017-07-21 06:34] govint commented on #1615
@shuklanirdesh82, in this case _docker volume create_ command hasn't complete yet, so docker has correctly reported a creation error.

Why creation failed, there are no logs.

[2017-07-21 07:09] ashahi1 opened #1617 "Not able to attach volume of filesystem ext4dev to a container"
Steps:
1. Created a volume of file system type ext4dev
2. Tried attaching volume to a container - error: ```Error response from daemon: error while mounting volume '/mnt/vmdk/volume1@sharedVmfs-0': VolumeDriver.Mount: Failed to mount device /dev/disk/by-path/pci-0000:03:00.0-scsi-0:0:0:0 at /mnt/vmdk/volume1@sharedVmfs-0: no such device.```

-------------------

Steps and their output are as follo

[2017-07-21 07:13] govint commented on #1617
@ashahi1 can you post the logs.

[2017-07-21 07:14] ashahi1 commented on #1617
@govint That was quick. I was in the middle of updating logs. :)

[2017-07-21 07:26] ashahi1 commented on #1615
@govint Fresh logs have been uploaded.

Logs:
[docker-volume-vsphere.txt](https://github.com/vmware/docker-volume-vsphere/files/1164730/docker-volume-vsphere.txt)
[vmdk_ops.txt](https://github.com/vmware/docker-volume-vsphere/files/1164731/vmdk_ops.txt)

[code]

Admin cli volume ls
[code]

[2017-07-21 19:30] ashahi1 opened #1618 "Do not see the old volumes after performing storage vMotion of the vm"
Steps:
1. Create a volume on sharedVmfs-0 datastore. VM is on shared-Vmfs-0 datastore.
2. Run a container with volume attached
3. While the container is running, migrate the vm to a different datastore -  storage vMotion
4. Docker volume ls and Admin cli volume ls does not list the volume created before migration.

Logs have been attached at the end.

---------------------------------

Steps and t

[2017-07-21 21:15] lipingxue commented on #1618
Checked vmdk_ops.txt.
After migration, we do receive another attach request from the same VM.

[code]

[2017-07-21 21:17] lipingxue commented on #1618
@ashahi1 Could you check in the datastore /vmfs/volumes/sharedVmfs-0, does the vmdk file for volume "testVolXXX" exist or not?

[2017-07-21 22:11] shaominchen opened #1619 "Need vendor support for Windows Service"
To support vDVS plugin running on Windows as a service, we need to introduce a 3rd-party vendor support from https://github.com/kardianos/service.

[2017-07-21 23:06] ashahi1 opened #1621 "Docker cli lists volume as attached whereas admin cli shows same volume as detached"
Test runs on a swarm setup of one master node and two worker nodes.

Test starts a service on swarm worker-1. Then first worker node is shutdown and test expects docker service to start on second worker. After the service successfully starts on the second worker, but one of the verification fails because docker cli shows volume as attached whereas admin cli shows volume as attached.

https://ci.vm

[2017-07-21 23:27] ashahi1 commented on #1618
@lipingxue No, I do not see the VMDKs at /vmfs/volumes/sharedVmfs-0

[2017-07-21 23:34] ashahi1 commented on #1621
/cc @govint

[2017-07-21 23:40] lipingxue commented on #1618
I checked the Anup's setup (after migration).
In "/vmfs/volumes/sharedVmfs-0/dockervol", the directory to store volumes for _DEFAULT vmgroup is missing.

[code]
The symbol link "_DEFAULT" is there, but the actual directory /vmfs/volumes/sharedVmfs-0/dockvols/11111111-1111-1111-1111-111111111111 is missing.

We need to see why "/vmfs/volumes/sharedVmfs-0/dockvols/11111111-1111-1111-1111-11111111111

[2017-07-22 00:48] shaominchen opened #1623 "vDVS plugin for Windows should be running as a Windows service"
Currently the vDVS plugin for Windows (vdvs.exe) can be run in interactive mode only in cmd session. As a Windows daemon, we should change it to run as a Windows service.

[2017-07-22 02:23] govint commented on #1618
What's the behavior if the volume is attached and then svmotion is done?

And if they volume is created like volume@datastore it should be accessible always. Wwhat happens is volume is created this way, then attached to the VM and then svmotiob

[2017-07-22 02:24] govint commented on #1618
The volume will be in the vm's folder

[2017-07-22 05:43] shuklanirdesh82 commented on #1578
Windows VM is added to CI.

[2017-07-22 05:43] #1578 closed

[2017-07-22 08:33] govint commented on #1621
From the logs this is what happened,

1. Volume swarm_test_volume_1046104 is created by photon.ga.vmfs
1. The volume is attached by Ubuntu.1404.vsan
1. Then Ubuntu.1404.vsan is killed or shutdown,
1. Ubuntu.1404.vmfs then attaches the volume - it can because Ubuntu.1404.vsan is not powered on and hence disk is not in use. Plus the test to prevent an attach based on KV data is removed now (its only

[2017-07-22 19:51] shuklanirdesh82 opened #1625 "E2E test util is failing when space is embedded in datastore name"
Steps to repro: create a testbed setup which is having space in the name e.g. `datastore (2)` > run E2E tests

CI Run: https://ci.vmware.run/vmware/docker-volume-vsphere/1281

[code]

/CC @govint @tusharnt

[2017-07-23 03:03] govint commented on #1625
Suggest please revert the CI datastorr name to have no spaces so that everyone doesn't need to be blocked on this and instead let one person try out e2e tests locally with a datastorr with spaces and fix all the places where the code is broken. There are multiple places where fixes need to be made and no point bringing CI down to have this fixed

[2017-07-23 19:32] shaominchen commented on #1625
Agree with @govint.

[2017-07-23 19:44] shaominchen commented on #1619
Fixed with PR #1622.

[2017-07-23 19:44] #1619 closed

[2017-07-24 06:12] govint commented on #1615
@ashahi1, these new logs don't have anything beyond the FS creation step in the plugin logs, seems to be something on this desktop.

On my photon VM, same command:
root@photon-machine [ /vol/vpl-testbed/docker-volume-vsphere ]# docker run -it --volume-driver=vsphere -v Vol22@sharedVmfs-0:/v1 --name=abc busybox
/ #

 docker volume inspect Vol22@sharedVmfs-0
[
    {
        "Driver": "vsphere:latest

[2017-07-24 08:17] govint commented on #1397
Its not a P0 issue as there isn't going to be any code changes and I'm not making this decision either. Right now issues that depend on this decision are moved to "Future" #1520  for example.

[2017-07-24 09:59] govint commented on #1617
Seems _ext4dev_ needs to be mounted as _ext4_,

root@photon-machine [ /vol/vpl-testbed/docker-volume-vsphere ]# mount /dev/sdc /mnt
mount: unknown filesystem type 'ext4dev'
root@photon-machine [ /vol/vpl-testbed/docker-volume-vsphere ]# mount -t ext4 /dev/sdc /mnt
root@photon-machine [ /vol/vpl-testbed/docker-volume-vsphere ]#

Do we need a code fix for this? I'd say no. Document it maybe.

[2017-07-24 10:19] govint commented on #1617
ext4dev can be converted to ext4 via fsck,

root@photon-machine [ /vol/vpl-testbed/docker-volume-vsphere ]# lsblk -f /dev/sdc
NAME FSTYPE  LABEL UUID                                 MOUNTPOINT
sdc  ext4dev       a2745b1f-f8d5-4804-a7a3-9edb0c569f9e <----------ext4dev

root@photon-machine [ /vol/vpl-testbed/docker-volume-vsphere ]# fsck /dev/sdc
fsck from util-linux 2.27.1
e2fsck 1.42.13 (17-May-20

[2017-07-24 10:21] govint commented on #1615
Making P1 as the command works and most likely is a set up specific issue.

[2017-07-24 10:36] govint commented on #1371
@shaominchen, @tusharnt - what do we want to do for this issue? there is a race between an admin CLI user and the service user (via docker). One way is to have the admin CLI stop using the service code and instead post requests to the service and get the responses.  There are no file locks used here so different processes can't access meta-data in parallel.

[2017-07-24 17:18] shaominchen commented on #1623
Fixed with PR #1624

[2017-07-24 17:18] #1623 closed

[2017-07-24 17:35] shaominchen commented on #1371
This sounds a reasonable solution to me. Do we have an estimation for this approach? Depending on the schedule and the estimation of the fix, we can decide if we want to fix this for GA or not.

[2017-07-24 17:55] lipingxue commented on #1618
@govint I did the following test
1. ubuntu-VM0.1 is in sharedVmfs-0, and I create a volume from this VM
[code]

2. start a container to use this volume
[code]
3. run svmotion to migrate ubuntu-VM0.1 from sharedVmfs-0 to sharedVmfs-1.
4. After svmotion, the volume is still visible, but it also shows some volumes which stores VM info
[code]

[2017-07-24 20:35] lipingxue commented on #1618
@govint Yes, you are right. I tried to repro based on the steps Anup metioned, the volume "testVolXXX" is migrated to datastore "shared-Vmfs-1" along with the vmdk file which represent the VM itself.  The volume is renamed and put into the VM directory on "shared-Vmfs-1". So no volume in  "/vmfs/volumes/shared-Vmfs-0/dockervols " and no volume in "/vmfs/volumes/shared-Vmfs-1/dockervols. That is wh

[2017-07-24 21:54] pdhamdhere commented on #1599
@JoeriVeder You can go [here](https://my.vmware.com/en/web/vmware/evalcenter?p=vsphere-6&src=WWW_us_VMW_XfK4FDRuqSPE01Y7isJw) for 60 days free eval.

[2017-07-25 07:18] msterin commented on #1618
we know svmotion messes up the locations and the names of attached vmdks, so yes, this is an expected behavior and yes. we should document it.

[2017-07-25 08:56] govint commented on #1580
Opening a new issue with a few enhancements to reduce the time taken in E2E tests. Closing this one.

[2017-07-25 08:56] #1580 closed

[2017-07-25 08:58] govint commented on #1441
@shaominchen, @tusharnt - can we finalize on this issue, I don't believe its needed for GA. Its a design issue and we may just document the behavior.

[2017-07-25 09:47] govint commented on #1371
This approach will need a new listener in the ESX service (can't reuse the VMCI listener in the service) to talk to, to handle requests from the admin CLI. I'd prefer not to do this for GA as the use case is fairly remote - race condition between admin CLI and docker. In fact I'd prefer not to address this issue unless a customer picks it up in which case something like #1079 may be usable.

[2017-07-25 14:05] JoeriVeder commented on #1599
@pdhamdhere as mentioned before, you do not get a new license key on that page. Only a complete new build. Which for me is completely out of the case. I have a current setup with running production servers. I need a license key not a new licensed build.

[2017-07-25 16:39] govint commented on #1441
Sorry for the flip-flop on the release was clicking and each one added a release. Anyway, pulled this back into Timon. This is one thats a corner case but worth fixing.

[2017-07-25 18:54] shaominchen opened #1632 "Publish vDVS windows plugin through PowerShell Gallery"
Due to tight schedule, we are currently implementing a simple quick-and-dirty solution to install/uninstall vdvs windows plugin. We will be providing a PowerShell script for user to download/install/uninstall the plugin binaries from bintray. However, the recommended approach is to use PowerShell Gallery to publish our plugin. Here are the main tasks that need to be done:

0. Write a new Windows v

[2017-07-25 21:48] ashahi1 commented on #1615
@govint I got the latest code from vmware:master and I could repro the issue on photon as well as ubuntu VMs.
Then I tried to use our 0.15 release builds (https://github.com/vmware/docker-volume-vsphere/releases/tag/0.15) but issue is not reproducible on photon or ubuntu vm.

This looks to be a regression and we should fix this. Changing the property to P0.

[2017-07-25 22:04] #1212 closed

[2017-07-25 22:06] tusharnt commented on #1187
Cross ESX multi tenancy feature is currently experimental so putting this on the back burner for now.

[2017-07-25 22:13] tusharnt commented on #1149
@govint We need data to identify how much performance improvement we get by failing faster.

[2017-07-25 22:25] tusharnt commented on #1094
Nothing else to be done here since changing tenant description works as long as the user provides a non-empty description.

[2017-07-25 22:25] #1094 closed

[2017-07-25 22:31] tusharnt commented on #1086
Cross ESX multi tenancy feature is currently experimental feature so moving this to future.

[2017-07-25 22:36] tusharnt commented on #1087
Cross ESX multi tenancy feature is currently experimental feature so moving this to future.

[2017-07-25 22:41] #1074 closed

[2017-07-25 22:53] #1009 closed

[2017-07-25 23:21] ashahi1 opened #1635 "Not able to add description to the vmgroup at the time of vmgroup creation"
Steps:
1. Create a vmgroup by passing --description option at the time of vmgroup creation.
2. Do vmgroup ls to verify vmgroup creation. New created vmgroup does not have the description.

-----------------------------------

Steps and their output are as follows:

1. Creating a vmgroup
[code]
2. Listing the vmgroup. There is no description for new vmgroup.
[code]

Logs:
[vmdk_ops.txt](https://git

[2017-07-26 01:54] shuklanirdesh82 commented on #1397
#1520 is for the test automation being blocked on this issue.

Reference: https://github.com/vmware/docker-volume-vsphere/issues/1397#issue-235356286

I guess this is opened to get closure before GA. If we'll agree to treat `_DEFAULT` the same as "user created named group" then we should close this as `invalid`.

@govint if you are agree then please close as `invalid`; pulling back to current spri

[2017-07-26 03:36] govint commented on #1615
@ashahi1 if the logs are truncated then I'm not sure if it can be debugged, let me try the ToT again.

[2017-07-26 03:41] govint commented on #1621
Fixed via #1626

[2017-07-26 03:41] #1621 closed

[2017-07-26 03:54] govint commented on #1397
Its agreed that removing the default vmgroup is ok, but attendant bugs aren't and those must be fixed.

[2017-07-26 03:54] #1397 closed

[2017-07-26 05:12] govint commented on #1615
Tried the ToT and the plugin is crashing, will debug and fix.
]# ./docker-volume-vsphere
WARN[0000] Failed to load config file /etc/docker-volume-vsphere.conf: open /etc/docker-volume-vsphere.conf: no such file or directory
2017/07/26 05:11:45 http: panic serving @: runtime error: index out of range
goroutine 13 [running]:
net/http.(*conn).serve.func1(0xc420222c00)
        /usr/local/go/src/net/ht

[2017-07-26 07:25] govint commented on #1615
Bug is in Docker and the way the request structure is initialized in the plugin.

For docker create, docker sends us an empty map which is initialized in prepareCreateOptions() in the vmdk driver.

For docker run, with volume create option, Docker sends a _nil_ map, and the plugin has a bug where prepareCreateOptions() gets passed the request structure by value vs. as a pointer. So, the request st

[2017-07-26 17:37] ashahi1 commented on #1505
While trying to debug this issues as to why this test only fails on CI, we managed to found bug #1621.
After Govindan fixed that bug in PR #1626, last two runs on CI are green and one more is going on.
If current also finishes successfully, we can merge this change.

[2017-07-26 18:35] venilnoronha opened #1637 "Need Windows VM in dev environment"
Currently our dev environment supports Ubuntu VMs. With Project Skylight, VMware developers would also need a Windows VM for dev/test purposes.

/cc @shaominchen @tusharnt

[2017-07-26 18:38] shaominchen commented on #1637
Basically we need to enhance existing testbed deployment script to deploy a windows VM as well.

[2017-07-26 20:30] ashahi1 commented on #1505
Last three runs are green on CI. Closing this issue.

[2017-07-26 20:30] #1505 closed

[2017-07-26 21:43] ashahi1 opened #1638 "Volume remains attached even after we do 'Reset' of a vm"
Steps to reproduce:
[code]

Is the behavior in step - 4 expected?

If I 'Restart Guest OS' on a vm, volume gets detached after restart. So why is this behavior different in case of 'Reset' of a vm?

Logs have been attached at the end.

---------------------

Steps and their output are as follows:

1. Created a volume - volABC
[code]
2. Ran a container with volume mounted.
[code]
3. Reset the VM
4.

[2017-07-27 00:01] shaominchen opened #1641 "Provide a simple installation solution for vDVS Windows plugin"
The recommended approach to publish vDVS windows plugin is using PowerShell Gallery - see PR #1632. As of now, we need to provide a simple solution for customers to install vDVS windows plugin. With this simple solution, we will be implementing a PowerShell script for user to download/install/reinstall vDVS windows plugin.

[2017-07-27 03:50] #1615 closed

[2017-07-27 04:12] govint commented on #1638
Most likely reset isn't posting a powered-off notification and the VM listener doesn't remove the volume.

But when Docker restarts in the VM it will restart the container, didn't that happen?

[2017-07-27 05:33] govint opened #1644 "Admin CLI should not allow VM list when re-creating _DEFAULT vmgroup"
The admin cli allows the user to remove and recreate the default vmgroup like other (non-default) vmgroups. When re-creating the default vmgroup the admin CLI allows specifying a VM list and unlike how the default vmgroup is defined adds the VM list as belonging to the _DEFAULT vmgroup - which is a bug.

The issue here is once added to the default vmgroup, those VMs can't be removed thereafter fro

[2017-07-27 05:49] shaominchen opened #1645 "Some improvements for the windows plugin PS script"
Need to make the following improvements for the windows plugin installer script (install-vdvs.ps1):
1. Support uninstallation
2. Support Get-Help
3. Make uri parameter optional, set default value to the latest version

[2017-07-27 05:52] venilnoronha opened #1646 "CI fails with a vmdk-opsd error"
CI failed for [build 1339](https://ci.vmware.run/vmware/docker-volume-vsphere/1339) with the following error trace.

[code]

[2017-07-27 16:15] tusharnt opened #1647 "Remove references to Photon Controller from vDVS docs"

[2017-07-27 17:15] #1641 closed

[2017-07-27 18:27] msterin commented on #1520
Not sure why the original issue was closed. At any rate, the original one says
[code]

The behavior is correct. When config is not inited, there is no concept of vmgroups and no access control.
We should change a message to something like the one below. No other code changes IMO
[code]

[2017-07-27 18:29] msterin commented on #1258
It removes perfectly fine on test bed, synced to the latest master. It may have been fixed since May. Please re-verify
@govint

[2017-07-27 18:39] govint commented on #1258
Yes, it moves the current DB to a backup file, but this issue happens when the --no-backup option is  given.

[2017-07-27 18:56] ashahi1 opened #1649 "If vm is reverted to a snapshot while container is running, volume remains in attached state after revert finishes."
1. Took two snapshots.
2. Ran a container with volume mounted.
3. With container running, reverted to latest snaphot.
4. After revert finishes, volume remains attached, hence volume removal also fails and we have a left-over volume.

Logs have been attached at the end.

---------------------------------------

Volume name: VolSS1

[code]

Logs:
[docker-volume-vsphere.txt](https://github.com/vmware

[2017-07-27 19:37] ashahi1 opened #1651 "Volume creation succeeds on a datastore which is in maintenance mode"
Steps:
[code]

This should not be allowed. Volume creation should not succeed on datastore which is in maintenance mode as user may have put it in maintenance mode to perform some service on it or user may even decide to drop the datastore completely which is in maintenance mode.

Logs have been attached at the end.

-----------------------

Steps and their output are as follows:

1. Create a volu

[2017-07-27 22:18] lipingxue commented on #1651
@ashahi1 Can we create  and attach VMDK to VM using ESXi UI when the datastore is in  maintenance mode?

[2017-07-27 22:20] lipingxue commented on #1649
@ashahi1 The description and steps you mentioned is not clear. Please list all the steps in detail.

[2017-07-27 22:27] msterin commented on #1441
Actually the `detach will fail for any vm which is removed from a group, or a group is deleted, when the VM had a volume attached`. This is because the detach code heavily relies on finding he *correct* vmgroup, and if vmgroup is not found it just fails in "can't locate the vmgroup" and returns error, but if a wrong group if found then it will proceed all the way to findDeviceByPath and most likel

[2017-07-27 23:17] pshahzeb commented on #1441
As of today, if VM has volumes attached, it cannot be added to a vmgroup or removed from a vmgroup. We have a check for it.

[2017-07-28 05:20] govint commented on #1638
This is not a bug, post the reset, the service detached the volume but then docker seems to have restarted the container and hence the behavior. Logs on both service and plugin confirm this.

From the logs,
1. The VMListener did get the powered-off notice and detached the disk

07/26/17 20:44:22 80986 [VMChangeListener] [INFO   ] VM poweroff change found for photon-VM0.3
07/26/17 20:44:22 80986 [V

[2017-07-28 05:29] govint commented on #1649
@ashahi1 should also include docker ps -a  output. the container may still be running. When the VM resumes after the snapshot docker may restart the container.

[2017-07-28 06:08] venilnoronha commented on #1553
Volume creation takes ~12 seconds on a Windows VM on a local testbed.

[2017-07-28 18:16] ashahi1 commented on #1617
@govint Can you please tell if we are going to fix this or we need to document this?

[2017-07-28 19:36] venilnoronha opened #1655 "Enhance Windows plugin build script"
The following enhancements need to be made to the windows build script for a smoother user experience.

1. Build anywhere - currently the script expects the code to be present at `C:\Users\<username>\go\src\github.com\vmware\docker-volume-vsphere\`.
2. Exit on first error - currently the script doesn't stop on encountering an error, so we need to add explicit checks after executing each command.

[2017-07-28 20:51] shaominchen commented on #1645
All issues are addressed except that there's no default value of the download URL of the windows plugin right now. We can add the default value any time once it's available.

[2017-07-28 20:51] #1645 closed

[2017-07-28 21:03] venilnoronha opened #1656 "Cannot attach Volume created with FQN on Windows"
Creating volumes with names like `volname@vsandatastore` works on Windows; however, mounting fails while trying to attach it to a container.

[2017-07-28 21:08] venilnoronha opened #1657 "Enable Windows plugin e2e tests on CI"
To enable e2e tests on CI, we need to do the following.
1. Create a `deploypluginwindows` target to build and deploy latest version of the plugin on a Windows VM.
2. Create a `test-e2e-windows` make target that executes e2e tests on a Windows VM.

[2017-07-28 21:13] venilnoronha opened #1658 "Port e2e tests for the Windows plugin"
The following priorities are identified for porting e2e tests for the Windows plugin.

### P0
* `basic_test.go`
* `volume_access_test.go`
* `volumeproperty_test.go`
* `vsan_test.go`

### P1
* `vmlistener_test.go`
* `refcount_test.go`
* `restart_test.go`

Tests related to `vmgroups` are planned NOT to be ported.

/cc @pshahzeb @shaominchen

[2017-07-28 21:18] ashahi1 commented on #1649
Setup already had two volumes - TestVolSS@sharedVmfs-0 and VolSS1@sharedVmfs-0

@govint I did revert to previous snapshot.

Test steps:
1. Took two snapshots of the vm  - SS_1 and SS_2
2. Created a volume.
3. Ran a container and wrote data to it.
4. While container is running, reverted to latest snapshot which is SS_2.
5. After revert finished successfully, no containers are running - docker ps an

[2017-07-28 21:31] shuklanirdesh82 commented on #1657
this is duplicate to #1595

[2017-07-28 21:31] #1657 closed

[2017-07-28 22:48] msterin opened #1659 "if datastore is renamed, all dockvols/<vmgroup> links are broken"
When ESX joins VC cluster (and I suspect on other occasions) a datastore can get renamed.
In my case, datastore1 got renamed to datastore7, and then _DEFAULT link in dockvols got broken since it point to non-existing DS:
[code]

the end result is somewhat unpredicatable behavior - many ops will succeed since they use vmgroup UUID, and some may fail with messages about non-exiting files or folders

[2017-07-28 23:08] ashahi1 commented on #1638
@govint Please see the following steps and their corresponding output. This still looks like a bug as we are not able to remove volume after 'Reset' of a vm is finished. User will be stuck with a left-over volume which cannot be removed.

Fresh logs have been attached at the end.

1. Created a volume.
[code]
2. Docker volume ls
[code]
3. Ran a container with volume mounted and wrote some data.
[co

[2017-07-28 23:09] shuklanirdesh82 commented on #1659
likely to be regression ... Please refer #818 where rename datastore related workflow was fixed and tested as well.

[2017-07-28 23:37] ashahi1 commented on #1327
Closing through #1616

[2017-07-28 23:37] #1327 closed

[2017-07-29 01:57] shivanshu21 opened #1660 "Write automated tests for shared volume driver Create/Get/List"
Write automated tests for shared volume driver Create/Get/List/Rm

[2017-07-29 04:25] #1589 closed

[2017-07-29 05:50] govint commented on #1617
Suggest no code change and only documentation.

[2017-07-31 04:37] govint opened #1662 "Print the version and possibly build number on startup for the ESX service."
When looking at traces of the service its difficult to say which release/version of the code the traces apply to. This issue is to have the service log a version/release number so its easier to match the code with the traces.

[2017-07-31 06:25] govint commented on #1638
This time the VMListener in the service didn't get a notification at all and hence didn't remove VMDK from the VM. Was there any change in the way reset was done? The first time it happened the VM listener got the notice and was able to detach the disk.